@import "./global/variables.less";
body{
    #pageContent{
        #print{
            position: absolute;
        }
        #a-breadcrum{
            @media(max-width: 767px){
                display: none;
            }
            @media (min-width: 768px){
                width:75%;
                margin:0px 10%;
                @media (min-width: 992px){
                	margin:0px 13%;
                }
                padding:8px 0;
                h6{
                    margin-bottom: 0;
                    a{
                        font-family: 'brandon_grotesqueRegular',Calibri,Helvetica,Arial,sans-serif;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 1.5rem;
                        color: #222731;
                        text-transform: none;
                        .cmp-text:hover {
                            text-decoration:underline;
                        }
                    }
                }
                p{
                    margin-bottom: 0;
                    font-family: 'brandon_grotesqueRegular',Calibri,Helvetica,Arial,sans-serif;
                    font-size: 12px !important;
                    font-weight: normal;
                    line-height: 1.5rem;
                    color: #000 !important;
                    text-transform: none;
                    a{
                        font-family: 'brandon_grotesqueRegular',Calibri,Helvetica,Arial,sans-serif;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 1.5rem;
                        color: #000;
                        text-transform: none;
                        .cmp-text:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
        .column-align--right{
            margin-bottom: 10px;
            @media (max-width: 767px){
                margin-top:5%;
            }
            @media (min-width: 768px) and (max-width: 1180px){
                margin-top:4%
            }
            .column-divider{
                &:after{
                    width:0;
                    height:0;
                }
            }

            .accordion {
                margin-top: 0px;
                padding-top: 0px;
                @media (min-width: 768px){
                .m-accordion__content {
                        padding-top: 4%;
                    }
                }

                @media (min-width: 300px) and (max-width: 767px){
                    .m-accordion__content-items {
                        border: 0 none;
                        margin-bottom:10px;
                    }
                    .accordionTitlebackground{
                        background-color: #d4f2ff;
                        margin-left:-25px;
                        margin-right:-25px;
                        margin-bottom:30px;
                        .m-accordion__header, .m-accordion__body{
                            transition: all 0.6s ease-out 0.1s;
                        }
                            .m-accordion__title-wrapper{
                                h3 {
                                    padding-left:20px !important;
                                    margin-bottom: 1.5%;
                                }
                            } 
                    }
                    .m-accordion__title-wrapper{
                          padding: 20px;
                          padding-left:0;
                          padding-bottom:0;
                        h3{
                            font-size: .875rem;
                            line-height: 1.2rem;
                            font-family: 'brandon_grotesquebold',Calibri,Helvetica,Arial,sans-serif;
                            text-transform: uppercase;
                            font-weight: bold;

                            i{
                                font-style: italic;
                                font-family: Georgia,Times,'Times New Roman',serif;
                                text-transform: capitalize;
                            }
                        }
                    }
                    .m-accordion__header .m-accordion__icon-wrapper em.abt-icon {
                        font-size: 0.75rem;
                        color: #009cde;
                        font-weight: bold;
                    }
                    .m-accordion__header{
                        .m-accordion__icon-wrapper{
                            .abt-icon-plus{
                                &:before{
                                    position:absolute;
                                    right:15px;
                                    margin-top:-10px;
                                    @media (min-width:753px) and (max-width:767px){
                                        right:27px;
                                    }
                                }
                            }
                        }
                    }
                    .m-accordion__body {
                        background-color: #d4f2ff;
                        padding: 0px;
                        li{
                            font-size:14px;
                            line-height:1.35rem;
                            margin-top:10px;
                        }
                    }
                    .m-accordion {
                        width: 100%;
                    }

                    .cmp-accordion__panel{
                        .container{
                            padding: 0;
                        }
                        .cmp-text{
                            width: 100%;
                            margin: 0 !important;
                            padding: 20px;
                            img{
                               width:100%;
                            }
                        }

                        .column-align--center{
                            .container{
                                margin-left: 0px;
                                .row{
                                    .col-md-12{
                                        .link{
                                            margin-top: 0px;
                                            margin-bottom: 0px;
                                            display: block;
                                            .a-link{
                                                font-size: 16px;
    											font-weight: bold;
                                                .a-link__text--has-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        p{
                            font-size: .875rem;
                            line-height: 1.35rem;
                            margin: 0px;
                        }
                        li{
                            font-family: Georgia,Times,'Times New Roman',serif;
                            line-height:1rem;
                        }
                    }
                    .m-accordion__options {
                        margin: 0px;
                    }
                }
                @media (min-width: 768px) and (max-width: 991px){
                    .m-accordion__content-items {
                        border: 0 none;
                        margin: 0px;
                    }
                    .accordionTitlebackground{
                        	 background-color: #d4f2ff;
                        margin-bottom:20px;
                            .m-accordion__header, .m-accordion__body{
                        		transition: all 0.6s ease-out 0.1s;
                        	}
                    .m-accordion__title-wrapper{
                                padding: 20px 20px 0 15px !important;
                        }
                    }
                    .m-accordion__title-wrapper{
                            padding:20px;
                            h3{
                            font-size: .875rem;
                            line-height: 1.2rem;
                            font-family: 'brandon_grotesquebold',Calibri,Helvetica,Arial,sans-serif;
                            text-transform: uppercase;
                            margin-bottom: 4%;
                            font-weight: bold;
                            i{
                                font-style: italic;
                                font-family: Georgia,Times,'Times New Roman',serif;
                                text-transform: capitalize;
                            }
                        }
                    }
                    .m-accordion__header .m-accordion__icon-wrapper em.abt-icon {
                        font-size: 0.75rem;
                        color: #009cde;
                        font-weight: bold;
                    }
                    .m-accordion__body {
                        background-color: #d4f2ff;
                        padding: 0px;
                        li{
                            font-size:14px;
                            line-height:1.35rem;
                            margin-top:10px;
                        }
                    }
                    .m-accordion {
                        width: 100%;
                    }
                    .cmp-accordion__panel{
                        .container{
                            padding: 0;
                            width: 100%;
                        }
                        .cmp-text{
                            margin-left: 0px;
                            padding: 15px;
                            img{
                                width:100%;
                            }
                        }

                        .column-align--center{
                            .container{
                                margin-left: 0px;
                                .row{
                                    .col-md-12{
                                        .link{
                                            margin-top: 0px;
                                            margin-bottom: 0px;
                                            display: block;
                                            .a-link{
                                                font-size: 16px;
    											font-weight: bold;
                                                .a-link__text--has-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        p{
                            margin: 0px;
                        }
                        li{
                            font-family: Georgia,Times,'Times New Roman',serif;
                        }
                    }
                    .m-accordion__options {
                        margin: 0px;
                    }
                }

                @media (min-width: 992px){
                    	.m-accordion__content-items {
                             border: 0 none;
                             margin: 0px;
                        }
                    	.accordionTitlebackground{
                        	 background-color: #d4f2ff;
                            margin-bottom:20px;
                            .m-accordion__header, .m-accordion__body{
                        		transition: all 0.6s ease-out 0.1s;
                        	}
                    	}
                        .m-accordion__title-wrapper{
                        	padding: 10px 0px 0px 20px;
                            h3{
                                font-family: 'brandon_grotesquebold',Calibri,Helvetica,Arial,sans-serif;
                                text-transform: uppercase;
                                font-size: 1rem;
                                font-weight: bold;
                                i{
                                    font-style: italic;
                                    font-family: Georgia,Times,'Times New Roman',serif;
                                    text-transform: capitalize;
                                }
                             }
                        }
                        .m-accordion__header .m-accordion__icon-wrapper em.abt-icon {
                             font-size: 0.75rem;
                             color: #009cde;
                             font-weight: bold;
                        }
                        .m-accordion__body {
                             padding-left: 10px;
                             padding-right:10px;
                             background-color: #d4f2ff;
                        }
                        .m-accordion {
                            width: 100%;
                        }
                        .cmp-accordion__panel{
                            .container{
                                width: 100%;
                            }
                        .cmp-text{
                            margin: 0;
                            padding: 0 15px;
                            color: #222731;
                        }
                        .column-align--center{
                            .container{
                                margin-left: 0px;
                                .row{
                                    .col-md-12{
                                        .link{
                                            margin-top: 0px;
                                            margin-bottom: 0px;
                                            display: block;
                                            .a-link{
                                                font-size: 16px;
    											font-weight: bold;
                                                .a-link__text--has-icon{
                                                    display: inline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        p{
                            font-size: 1rem !important;
                            line-height: 1.5rem !important;
                            margin: 0px;
                            margin-left: -0.3rem;
                        }
                        li{
                            font-family: Georgia,Times,'Times New Roman',serif;
                            line-height:1rem;
                        }
                    }
                    .m-accordion__options {
                        margin: 0px;
                    }
                }

            }

            .col-lg-5 {
                   margin-bottom:3%;
                @media (min-width: 768px) and (max-width: 1180px){ 
                        margin-bottom:7%;
                 }
                .abt-icon-link:before {
                            content: "\e9cb";
                            font-size: 20px;
                        }
                @media (min-width: 992px){
                        .abt-icon-print:before {
                            content: "\e954";
                            font-size: 28px;
                        	font-weight:600;
                        }
                        padding-left: 20px;
                        .text {
                            margin-top: 20px;
                        }
                        .cmp-text{
                            p{
                                font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
                            	strong{
                                font-size: 1.5rem;
    							line-height: 1.7rem;
                                font-family: 'brandon_grotesquebold', Calibri, Helvetica, Arial, sans-serif;
    							font-weight: bolder;
                            	}
                            }
                        }
                        .a-link{
                            margin-bottom: 20px;
                            padding-top: 10px;
                            .abt-icon{
                                margin-left:0;
                            }
                        }
                        .col-lg-10{
                            padding-left: 0px !important;
                            .a-link{
                                margin-top: 0px;
                            	margin-bottom: 0px;
                                font-size: 1rem;
                                line-height: 1.5rem;
                            	font-family: Georgia,Times,'Times New Roman',serif;
    							font-weight: 100;
                                em.abt-icon-link{
                                    font-weight: 800;
                                    font-size: 18px;
                                }
                            }
                        }
                        .col-lg-2{
                            display: none;
                        }
                        .column-align--center{
                            margin: 0px;
                            .row{
                                justify-content: left;

                            }
                        }
                        .container{
                            margin: 0px;
                            width: 100%;
                        }
                }
                @media (min-width: 300px) and (max-width: 767px){
                    .abt-icon-print:before {
                        content: "\e954";
                        padding-left: 10px;
                        font-size: 28px;
                      	font-weight:600;
                    }
                    padding-left: 0px;
                    padding-bottom: 7%;

                    .text {
                        margin-top: 20px;
                    }
                    .cmp-text{
                        h4{
                            padding-left: 15px;
                        }
                        p{
                            padding-left:15px;
                            font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
                            strong{
                                font-size: 1rem;
    							line-height: 1.2rem;
                                font-family: 'brandon_grotesquebold', Calibri, Helvetica, Arial, sans-serif;
    							font-weight: bolder;
                            }
                        }
                    }
                        .a-link{
                            margin-bottom: 20px;
                        }
                    .col-lg-10{
                        padding-left:10px !important;
                        .a-link{
                            margin-top: 0px;
                            margin-bottom: 0px;
                            font-size: .875rem !important;
                            line-height: 1.5rem;
                            font-family: Georgia,Times,'Times New Roman',serif;
                            font-weight: 100;
                            display:block;
                            em.abt-icon-link{
                                font-weight: 800;
                                font-size: 18px;
                            }
                        }
                    }
                    .col-lg-2{
                        display: none;
                    }
                    .column-align--center{
                        margin: 0px;
                        .row{
                            justify-content: left;
                        }
                    }
                    .container{
                        margin: 0px;
                        width: 100%;
                    }
                }
                @media (min-width: 768px) and (max-width: 991px){
                    .abt-icon-print:before {
                        content: "\e954";
                        font-size: 26px;
						font-weight:600;
                    }
                    padding-left: 25px;
                    .text {
                        margin-top: 20px;
                    }
                    .cmp-text{
                        p{
                            font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
                            strong{
                                font-size: 1rem;
    							line-height: 1.2rem;
                                font-family: 'brandon_grotesquebold', Calibri, Helvetica, Arial, sans-serif;
    							font-weight: bolder;
                            }
                        }
                    }
                    .a-link{
                        margin-bottom: 20px;
                    }
                    .col-lg-10{
                        padding-left: 15px !important;
                        display: contents;
                        .a-link{
                            margin-top: 0px;
                            margin-bottom: 0px;
                            font-size: .875rem !important;
                            line-height: 1.5rem;
                            font-family: Georgia,Times,'Times New Roman',serif;
                            font-weight: 100;
                            em.abt-icon-link{
                                font-weight: 800;
                                font-size: 18px;
                            }
                        }
                    }
                    .col-lg-2{
                        display: none;
                    }
                    .column-align--center{
                        margin: 0px;
                        .row{
                            justify-content: left;
                            width: 119%;
                        }
                    }
                    .container{
                        margin: 0px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

/******vysis-fish-knowledge-center All Pages ***********/

.column-align--right {
    .col-md-7{
           padding-bottom: 3%;
        @media (max-width:767px){
           margin-bottom: 3% !important;
           padding-right: 20px;
           padding-left: 20px;
        }
        ol {
            margin-bottom: 14px;
            margin-top: 14px;
            li{
                font-family: Georgia,Times,'Times New Roman',serif;
                margin: 0.75rem 0;
                line-height:1.1rem;
                color: #222731;
              @media (max-width:767px){
                margin: 0.75rem 0;
              }
              @media screen and (min-width:768px) and (max-width:1180px){
                 margin: 0.75rem 0;
              }      
            }
        }
        ul {
            li {
                margin: 0.75rem 0;
                color: #222731;
            }
        }
            table tr:first-child td {
                color: #fff;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                font-size: .875rem;
                background: #63666a;
                padding: 10px 16px;
            }
            tr:nth-child(10) td{ 
                color: #fff;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                font-size: .875rem;
                background: #63666a;
                padding: 10px 16px;
            }
             table {
                 tr {
                    td {
                        padding: 10px 16px;
                        font-family: inherit;
                        font-size: inherit;
                        color: #222731;
                        background: #fff;
                     }
                	 &:nth-child(2n+3) td {
                        background: #f5f5f5;
                     }
                }
           }
             @media (max-width:480px){
                 .text {
                    &:nth-child(2){
                      overflow: scroll;
                    }
                    #table-text {
                        overflow: scroll;
                    }
                 }

              }
            @media screen and (min-width:768px) and (max-width:1180px){
                .text {
                    &:nth-child(2){
                        overflow: scroll;
                    }
                    #table-text {
                        overflow: scroll;
                    }
                }
              }
        @media screen and (min-width:481px) and (max-width:767px){
            .m-accordion__content {
                margin-top:5%;
            }
        }
        .text {
            .textspace{
                margin-left:5%;
                margin-bottom:0;
                @media screen and (min-width:768px) and (max-width:1180px){  
                    margin-left:9%;
                }
                @media screen and (min-width: 320px) and (max-width:480px){ 
                    margin-left:10%;
                }
            }
            p.slideleft {
              padding-left: 30px;
            }
            p{
                @media screen and (min-width:768px) and (max-width:1180px){  
                    font-size: 1rem !important;
                    line-height: 1.5rem !important;
                }
            }
        }
        div:nth-child(4) {
            @media screen and (min-width: 320px) and (max-width:480px){ 
                 overflow: scroll;
            }
            @media screen and (min-width:768px) and (max-width:1180px){
                overflow: scroll;
            }
        }
        .accordion {
            .m-accordion__content-items {
                .m-accordion__header {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            .m-accordion__content{
                .cmp-accordion__panel{
                    .text{
                        ul {
                           list-style: circle;
                        }
                    }
                }
            }
        }
    }
    .col-lg-7 {
        .m-accordion {
          margin-top: -6%;
        }
    }
    .col-md-5 {
        padding-left: 2% !important;
        margin-top:0;

         @media (max-width:767px){
          .cmp-text h4 {
              padding-left: 10px !important;
           }
        }
        .column-align--center {
            .col-md-10 {
                .a-link {
                    a {
                      color: #009cde;
                     &:hover {
                        color: #009cde; 
                        }
                    }
                }
            }
        }
    }
    .col-md-10 {
        @media (max-width:767px){ 
            margin-left: -2%;
        }
    }
    .column-align--center {
        .col-md-10 {
            .link.button{
                .a-link{
                    padding-left: 8%;
                    display: inline;
                    @media (max-width:767px){ 
                     padding-left: 0.2rem;
                     margin-bottom: 0.3rem !important;
                    }
                    .a-link__text {
                        span.a-link__inner-text {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
            div:nth-child(3){
              padding-left: 1%;
                @media screen and (min-width: 320px) and (max-width:480px) {  
                    padding-left:0;
                }
                @media screen and (min-width:481px) and (max-width:767px) {
                   padding-left:0;
                }
            }
        }

        .col-md-12 {
            .a-link { 
               margin-left:0.2rem !important;
                @media (max-width:767px){ 
                    margin-left: -0.4% !important;
                }
                @media screen and (min-width:768px) and (max-width:1180px){ 
                    margin-left: 0.4rem !important;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width:480px){ 
    .accordion {
        .cmp-accordion__panel { 
            .cmp-text {
                padding-top:0 !important;
            }
        }    
    }
 } 
@media screen and (min-width:481px) and (max-width:767px){ 
    .accordion {
        .cmp-accordion__panel { 
            .cmp-text {
                padding-top:0 !important;
            }
        }    
    }
}
@media screen and (min-width:768px) and (max-width:1180px){ 
    .accordion {
        .cmp-accordion__panel { 
            .cmp-text {
                padding-top:0 !important;
            }
        }    
    }
}
@media screen and (min-width:481px) and (max-width:767px){ 
    .accordion {
        .m-accordion__header {
            .m-accordion__icon-wrapper {
                .abt-icon-plus:before {
                    margin-top:0 !important;
                }
            }
        }
    }
}

//additional page UI
#urovysion-add-page {
    .m-accordion__header{
        margin-bottom: 0 !important;
    }
    .image{
        width: 97%;
        padding-bottom: 20px;
    }
    .container-full-width{
        .cmp-container{
            max-width: 100% !important;
            @media (max-width : 1080px){
                max-width: 100% !important;
            }
        }
    }
    .col-md-5{
        @media (max-width : 1080px){
            margin-top: 0;
            .image--align-center{
                :first-child{
                    img{
                        padding-left: 28px;
                    }
                }
            }
            .a-image__original{
                padding-bottom: 20px;
            }
        }
    }
    a{
        &:focus{
            color:#009cde;
        }
    }
    table{
        width:100%;
        max-width: 100%;
        overflow: scroll;
        table-layout: fixed;
        word-break: break-all;
        margin: 0 auto;
        @media (max-width : 1080px){
            width: auto;
            max-width: 400px;            
        }
        tr{
            td{
                border:1px solid #b0b3b6;
                @media (max-width : 1080px){
                    border:1px solid #b0b3b6;
                }
            }
        }
    }
    .m-accordion__title-wrapper{
        @media (min-width : 762px){
            padding: 20px 0 0 20px !important;
        }
        h3{
            line-height: 1;
        }
    }
    ol{
        li{
            word-break: break-all;
        }
    }
    .image--align-left{
        img{
            padding: 10px;
        }
    }
	.cmp-text {
		p {
			font-family: Georgia, Times, Times New Roman, serif;
			font-weight: normal;
			display: block;
		}
		padding-bottom: initial !important;
		ul {
			font-family: Georgia, Times, Times New Roman, serif;
			font-weight: normal;
			display: block;
            list-style: disc;
		}
	}
	.container.a-container {
		&:first-child {
			.cmp-container {
				>div.text {
					padding-bottom: 10px;
				}
			}
		}
	}
	.link.button {
		padding: 10px 5px;
		display: block;
        .a-link__inner-text{
            font-family: Georgia, Times, Times New Roman, serif;
            font-weight: normal;
            font-size: 1rem;
        }
	}
    .columncontrol{
        &.column-align--left{
            padding: 0 !important;
            .row{
                margin:0 auto;
                justify-content: flex-start;
                width: 92%;
                .col-12{
                    &.col-md-3{
                        &.col-lg-3{
                            &.columncontrol__column {                
                                padding:0;
                                max-width: 12%;
                                margin-bottom:0 !important;
                                @media (max-width : 767px){
                                    max-width:30%
                                }
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    &.col-md-9{
                        &.col-lg-9{
                            &.columncontrol__column{
                                padding-left:0;
                                @media (max-width : 767px){
                                    max-width:70%
                                }
                            }
                        }
                    }
                }               

            }            

        }

    }    
    
    #cytoscopy{
        .row{
            margin: 0 0 40px 0;
            justify-content: normal;
            display: block;
            .col-12{
                &.col-md-4{
                    &.col-lg-4{
                        &.columncontrol__column{
                            padding-right: 0;
                            max-width: 32%;
                            display: inline-block;
                            vertical-align: top;
                            .image{
                                width:100%;
                            }
                
                        }
                    }
                }
                &.col-md-8{
                    &.col-lg-8{
                        &.columncontrol__column{
                            padding: 0;
                            max-width: 67%;
                            display: inline-block;                
                        }
                    }
                }
            }            
        }
    }
}