@import "global/variables.less";

.o-hero-carousel {
    margin-bottom: -1% !important;
      @media (min-width: 768px) and (max-width: 1180px){
        width: 100%;
        margin: auto;
    }
    .slick-slide{
        position: relative;
            .m-hero{
                @media (min-width: 768px) and (max-width: 1180px){
                    max-height:0;
                	background: none;
                }
            }
            .m-hero__media{
                height: -webkit-fill-available;
            	@media (max-width:480px){
                	height:120px;
            	}
                @media(min-width:753px)and (max-width:767px){
                   height:230px !important;
                }
            	@media (min-width: 768px) and (max-width: 1180px){
                	height:255px !important;
            	}
            }
        .mt-0 {
            .m-hero__content {
                padding-top:0;
            }
            .m-hero__media {
                @media(min-width:753px)and (max-width:767px){
                   height:230px !important;
                }
            }
            .m-hero__extras {
                .a-button--primary-v1{
                    span {
                        text-transform:none;
                    }
                }
            }
        }
        .container{
            @media (max-width:767px){
                padding:0;
                max-width:100%;
            }
            @media (min-width: 768px) and (max-width: 1180px){
                padding:0;
            }
            .m-hero__content{
                @media screen and (max-width:480px){  
                    height:310px;
                }
                @media(min-width:753px)and (max-width:767px){
                    min-width:100%;
                    padding-bottom:0;
                    margin:0;
                    height:270px;
                    background-color: #d9d9d6;
                    padding-top: 1%;
                }
				@media (min-width: 768px) and (max-width: 1180px){
                        margin:0;
                    	padding: 18px;
                    	background: none;
                        width: 72%;
                        position: absolute;
                    	top:0;
    					left: 13%;
                    }
                p, h3, h2, h5, h1 {
                	color:#fff;
                	@media (max-width:767px){
                        color:#000;
                    }
					@media (min-width: 768px) and (max-width: 1180px){
                        color:#fff !important;
                        margin-left:0;
                    }
                }
                h1{
                    @media (max-width:767px){
                        font-size: 33px;
                        line-height:35px;
                    }

                    @media (min-width: 768px) and (max-width: 1180px){
                      line-height: 35px;
                    }
                }
                h3 {
                    @media (max-width:767px){
                        color:#000;
                    }
                }
            }
            .m-hero__media {
                img {
                     object-fit: cover;
                    @media (min-width: 320px) and (max-width: 480px) { 
                        object-fit: contain;
                    }
                    @media screen and (min-width:753px)and (max-width:767px) {
                        object-fit: contain;
                    }
                    @media (min-width: 768px) and (max-width: 1180px){ 
                        height:100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .slick-arrow{
        font-size: 60px;
        color:#fff !important;
        background-color:inherit !important;
        font-weight: bold;
        margin-left:5%;
        margin-right:5%;
        display: unset !important;
          @media (max-width:480px){
            top:13% !important;
            font-size: 30px;
          }
         @media screen and (min-width:753px)and (max-width:767px) {
            top:27%!important;
            font-size: 30px;
         }
		  @media (min-width: 768px) and (max-width: 1180px){
            top:43% !important;
            font-size: 50px;
         }
     }
        .slick-next{
            @media (max-width:480px){
				right: 0px !important;
            }
            @media screen and (min-width:753px)and (max-width:767px) {
            	right: 0px !important;
        	}
            @media (min-width: 768px) and (max-width: 1180px){
                right: 0px !important;
            }
        }
        .slick-prev {
            @media (max-width:480px){
				right: 0px !important;
            }
        	@media screen and (min-width:753px)and (max-width:767px) {
            	left: 0px !important;
        	}
            @media (min-width: 768px) and (max-width: 1180px){
                left: 0px !important;
            }
        }
    .slick-dots{
        display:none !important;
    }
    .slick-next:before, .slick-prev:before {
        font-size: 60px;
        line-height: 1;
        color: #fff;
        font-weight: bold;
        @media (max-width:767px){ 
            font-size: 40px;
        }
    }
}


/*******************Webinar Page***********************/

  .slick-slide {
        .columncontrol-full-width {
              padding-bottom: 9% !important;
              .m-hero__content h5 {
                    padding: 20px 0;
                    @media (max-width:767px) {
                        margin-left:7%;
                   }
             }
            .row {
                 margin:0;
                 &:hover {
                    cursor: pointer;
                 }
                    .m-hero--short{
                        height:240px;
                          @media (max-width:480px){ 
                            height:180px;
                          }
                          @media screen and (min-width:481px) and (max-width:767px){ 
                             height:330px;
                          }
                    }

                .col-md-6 {
                    .m-hero--short {
                       margin-bottom:0 !important;
                         @media (min-width: 768px) and (max-width: 1180px){ 
                           margin-bottom:35% !important;
                         }
                           .m-hero__media {
                             @media (max-width:480px){
                                 height:210px;
                             }
                             @media (min-width: 768px) and (max-width: 1180px){ 
                               height: 250px;
                             }
                           }
                           .m-hero__content h5 {
                              margin: 0;
                             @media (max-width:767px) {
                               margin-left:7%;
                             }
                          @media (min-width: 768px) and (max-width: 1180px){ 
                            padding: 0 10px;
                          }
                           }
                         .m-hero__content p {
                            font-size: 1rem !important;
                            line-height: 1.4rem !important;
                         }
                    }
                }
             }
        }
    }
    #webinar-carousel {
        .o-hero-carousel--media-start .slick-arrow {
            &.slick-prev{
                left:-14%;
                top:50%;
                right:auto;
                    @media (max-width:480px){
                        left:0 !important;
                        top:16% !important;
                    }
                    @media screen and (min-width:753px)and (max-width:767px) {
                        left:-1% !important;
                        top:14% !important;
                    }
            	&:before {
                    left:0;
                    color:#fff;
                }
                @media screen and (min-width: 768px) and (max-width: 1180px){
                  left:-16% !important;
                }
            }
            &.slick-next{
                right:0;
                left:100%;
                top:50%;
                    @media (max-width:480px){
                        left:80%;
                        top:16% !important;
                    }
                    @media screen and (min-width:753px)and (max-width:767px) {
                        left:87%;
                        top:14% !important;
                    }
                    &:before {
                        color:#fff;
                        right:0;
                        left:0;
                    }
            	@media screen and (min-width: 768px) and (max-width: 1180px){
                  left:97%;
                }
            }
                .slick-dots{
                    display:none !important;
                }

          }

            .a-title--light {
                @media screen and (max-width:480px){
                    padding-bottom: 4% !important;
                }
                @media screen and (min-width:753px)and (max-width:767px) {
                    padding-bottom: 4% !important;
                }
            }
              @media screen and (min-width:753px)and (max-width:767px) {
                   .o-hero-carousel {
                     .slick-slide {
                        .m-hero__media{
                          height:330px!important;
                        }
                     }
                   }
               }
		}

#hosted-webinar-content {
    padding-bottom:4%;
    @media screen and (max-width:767px){
        margin-left:2%;
    }
    .column-align--center {
            margin-bottom: 0!important;
        .container {
            margin-left:0;
            .col-md-10 {
                margin-bottom:5%;
                @media screen and (max-width:767px){ 
                    margin-top:5%;
                }
                @media screen and (min-width: 768px) and (max-width: 1180px){
                    padding-left: 12%;
                     margin-bottom:0%;
                }   
                .text {
                    @media screen and (max-width:480px){ 
                      margin-top: 2% !important;
                    }
                    @media screen and (max-width:767px){ 
                        margin-top: 0 !important;
                    }
                    p {
                        strong {
                            span {
                                font-style:italic;
                            }
                        }
                    }
                }
                .a-link--icon {
                    .m-popup {
                        .a-link__text {
                           margin-bottom: 0 !important;
                            h4 {
                                color: #009cde;
                                margin: 0 0 0.3rem;
                            }
                        }
                    }
                }
             }
        }
          .col-md-10, .col-md-2 {
             @media screen and (max-width:767px){ 
                padding-left:0;
             }
        }
        .col-md-10 {
            .a-link {
                a{
                    &:hover {
                     color: #009cde;
                    }
                    span.a-link__inner-text {
                        h4 {
                            color: #009cde;
                            width: 90%;
                        }
                    }
                }
            }
            .button {
                a {
                    margin-bottom: -1% !important;
                }
             }
        }
        .col-md-2 {
                a{
                    img {
                      width:100%;
                        @media screen and (max-width:480px){
                          width:84% !important;
                        }
                        @media screen and (min-width:481px) and (max-width:767px){ 
                          width:45%;
                        }
                        @media screen and (min-width: 768px) and (max-width: 1180px){ 
                          width:200%;
                        }
                    }   
                }
            @media screen and (max-width:480px){
                .m-popup img {
                    margin-bottom: 8%;
                }
            }
            @media screen and (min-width:481px) and (max-width:767px){
                .m-popup img {
                    margin-bottom: 4%;
                }  
            }
        }
    }
    h3{
        padding-top:5%;
        margin-left:0;
    }
    .a-link__text:active {
      color: #009cde;
    }
}
.parent-popular-home {
      margin-top: -3.5% !important;
    .a-container__content {
       background-color: #fff;
    }
}
.pb-0 {
    @media screen and (max-width:767px){ 
        padding-left:0 !important;
        padding-right:0;
    }

    .a-container__content {
        .cmp-container {
            padding-bottom:30px !important;
            @media screen and (max-width:767px){ 
             padding-bottom:0 !important;
            }
            .a-button--secondary-v1 {
                margin-top: 5% !important;
                @media screen and (min-width:753px)and (max-width:767px) {
                    margin-top:0 !important;
                    margin-bottom:0 !important;
                }
                 a {
                    margin-bottom: 2% !important;
                    @media screen and (max-width:480px){
                        margin-bottom:8% !important;
                    }
                }
            }
        }
    }
    .text {
            p {
               width:100%;
                @media screen and (min-width: 768px) and (max-width: 1180px){ 
                   width:100%;
                }
            a {
                margin-left:83%;
                 @media screen and (min-width: 768px) and (max-width: 1180px){ 
                    margin-left:62% !important;
                }
             }
           }
           h3 {
            text-transform: capitalize;
            padding-top:5%;
                @media screen and (max-width:767px){
                    margin-left:1%;
                }
                @media screen and (min-width: 768px) and (max-width: 1180px){ 
                   margin-left:3%;
                }
           }
    }
    .cmp-container .text p {
        margin-bottom:0;
        @media screen and (max-width:480px){ 
            margin-bottom:4%;
        }
        @media screen and (min-width:481px) and (max-width:767px){ 
            margin-bottom:2%;
        }
    }
    .a-rule .a-horizontal-rule { 
        color: #888b8d;
    }
    .a-rule {
      margin-bottom: 1.5rem !important;
      margin-top: 1.5rem !important;
    }    

      h5.cmp-title__text {
          text-transform: none;
       }
      h3 {
        text-transform: none;
        padding-bottom:3%;
      }

    .columncontrol-full-width {
        margin-top:0 !important;
        @media (min-width: 481px) and (max-width: 767px){
          width: 50%;
          margin: 0 auto;
        }
        .row {
            .col-md-6 {
                @media screen and (max-width:767px){ 
                  margin-bottom: 20px !important;
                }

                @media screen and (min-width:768px) and (max-width:1180px){
                  margin-bottom:4% !important;
                }
                @media screen and (max-width:767px){
                    article.m-card {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }   
                .m-card__body {
                    h2.m-card__title.h4 {
                      text-transform: none;
                    }
                }
                article.m-card {
                  @media screen and (max-width:480px){ 
                    height: 370px !important;
                  }
                  @media (min-width: 481px) and (max-width: 767px){
                    height: 360px !important;
                    width:100%;
                  }
                  @media screen and (min-width:768px) and (max-width:1180px){ 
                    height: 435px !important;
                  }
                    .m-card__image {
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .col-md-4 {
                padding-bottom: 14%;
                .featurescard .o-features-card__block {
                   text-align: center;
                    @media (max-width:767px) { 
                        margin-top:0;
                    }
                    .o-features-card__content {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
                &:first-child {
                    .featurescard {
                        margin-top:2% !important;
                    }
                }
            }
        }     
    }
    @media (max-width:767px) {
        .a-container__media {
            .a-container__image {
                display:block;
            }
        }
    }   
}
@media (min-width: 768px) and (max-width: 1180px){
    .columncontrol-full-width {
        .container {
            .col-lg-6 {
                .m-hero--short {
                    .m-hero__content {
                        &:hover {
                           background-color: #222731;
                            transition: 1.5s;
                        }
                    }
                }
             }
          }
        }
     }

 /********** New Home_Page****************/

.columncontrol-full-width {
    &.column-align--space-evenly {
      margin-top: 0 !important;
      margin-bottom:0 !important;
    }   
    .row {
        margin-left:0;
        margin-right:0;

        .col-md-6 {
            .m-hero--content-start {
                padding-bottom:20px;
                padding-top:20px;
                margin-bottom:0!important;
                .m-hero__content {
                    width: 55%;
                    margin: 23% auto;
                    @media screen and (max-width:991px){ 
                        margin: 0.9% auto;
                    }
                    h3 {
                        color: #fff;
                        text-transform: capitalize;
                    }
                    & p{
                        color: #fff !important;
                    }
                }
                .m-hero__media {
                        @media screen and (max-width:991px){
                              position: inherit;
                        }
                    }
            }
            .a-image__default.a-image__original {
                width: 100%;
                margin: 0 auto;
           }
            .m-hero--gradient-center {
                .m-hero__image {
                    .cmp-image__image {
                        background-image: linear-gradient(to bottom left, #52AECF, #485693);
                        z-index: 1;
                    }
                }
            }
            .m-card__body {
                background-color:#fff;
                h2 {
                    span{
                        text-transform:none;
                    }
                }
                .m-card__title h4 {
                    em {
                        text-transform:none;
                    }
                 }
            }
            .m-hero--gradient-start {
                .m-hero__body {
                    p {
                        line-height:2rem !important;
                    }
                }
            }
        }
        .m-card:before {
            box-shadow: 0 0 10px #837e7e;
        }
    }
    .featurescard {
        .o-features-card__block {
            h5 {
                @media (max-width: 767px){ 
                  font-size: 1rem;
                }
                @media screen and (min-width: 768px) and (max-width: 1180px){ 
                    font-size: 1rem;
                }
           }
        }
    }
}  
.slick-slider {
    margin-bottom: 0 !important;
}

.responsivegrid .aem-Grid .container.a-container .cmp-container>div:not(.experiencefragment) {
    margin-top:0;
}
    @media (max-width:767px) {
        #hosted-webinar-content {
            &.cmp-container{
                div:nth-child(6){
                    display:none;
                }
                div:nth-child(7){
                    display:none;
                }
                div:nth-child(8){
                    display:none;
                }
            }
       }
   }

.a-container.container-full-width {
    &.pb-0{
        padding-bottom:0 !important;
    }
}
