.m-hero--short{
    margin-top:0 !important;
    margin-bottom:0 !important;
    height:240px;
    min-height: 10px;
    .m-hero__content{
        padding-top:2%;
        margin:0 auto;
        width:100%;
        h1{
            font-family:'brandon_grotesqueblack', Calibri, Helvetica, Arial, sans-serif;
            font-size:3.75rem;
            color:#222731 !important;
        }
        h5{
            color:#222731 !important;
        }
        @media (max-width:753px){
            width:100%
        }
    }
    .m-hero__media {
        height:240px;
        .m-hero__image{
            --hero-media-image-object-contain: auto;
        }
        @media (min-width:753px){
            width:100%;
        }
    }
}
.m-hero--medium{
    margin:0;
    height:448px;
    .m-hero__content{
        padding-top:10%;
        margin:0 auto;
        width:100%;
        h1{
            font-family:'brandon_grotesqueblack', Calibri, Helvetica, Arial, sans-serif;
            font-size:3.75rem;
            margin: 0 0 0.75rem;
        }
        h1, h5{
            color: #fff !important;
        }
        @media (max-width:753px){
            width:100%
        }
    }
    .m-hero__media{
        height:448px;
        .m-hero__image{
            --hero-media-image-object-contain: auto;
        }
        @media (min-width:753px){
            width:100%;
        }
    }
    &.m-hero--text-vertical-align-top{
        .m-hero__extras{
            margin-top:20px;
        }
        h5{
            width:47%;
            @media (min-width:753px) and (max-width:1080px){
                width:49%;
            }
            @media (max-width:767px){
                width:100%;
            }
        }
        .button{
            a{
                display:inline-block;
                max-width:100%;
                padding: 0.5625rem 1.25rem;
                color: #d9d9d6;
                background: #aa0061;
                font-size: 1rem;
                line-height:1.1rem;
                font-weight:bold;
                margin-right: 5px;
                border:none;
                border-radius:0;
                background-image:linear-gradient(to bottom, #aa0061 50%, #d9d9d6 50%);
                background-size: 100% 200%;
                transition: all .2s;
                span{
                    color:#d9d9d6 !important;
                }
                &:hover, &.active{
                	color: #aa0061;
                	background-color: #d9d9d6 !important;
                    background-position: 0 -100%;
                    span{
                		color: #aa0061 !important;
                    }
                }
            }
        }
    }
    &.a-container--gradient-center{
        .cmp-container{
            .text{
                padding-bottom: 0 !important;
            }
        }
    }
    .m-hero__extras {
        margin-top:0;
    }
    &.m-hero--content-start{
        height: 440px;
        .m-hero__content{
            padding-top:5%;
        }
    }
    &.m-hero--content-end{
        height: 400px;
        .m-hero__content{
            padding-top:5%;
            padding-left:0;
        }
    }
    &.m-hero--body-strong {
        &.m-hero--dark{
			.m-hero__content{
                padding-top:1%;
                padding-left:0;
                h1, h5{
                    color:#222731 !important;
                }
            }
        }
    }
}
.m-hero--tall{
    height:240px;
    .m-hero__content{
        max-width:100%;
        width:100%;
        margin-left:0;
        padding-top:2%;
        h2{
            color:#fff;
        }
        h1 {
          color: #fff;
            @media (max-width: 767px) { 
                color: #000;
            }
        }
    }
    .m-hero__media{
        height:240px;
    }
}


@media (min-width: 320px) and (max-width: 767px){
    .m-hero--short{
        padding-bottom:0;
        height:auto;
        .container{
            padding:0;
            max-width:100%;
            .m-hero__media {
                height:7.5rem;
            }
            .m-hero__content{
                padding: 15px 0 0 20px !important;
                background: #ececeb;
                width:100%;
                h1{
                    font-size: 1.875rem;
                }
            }
        }
    }
    .m-hero--medium{
        margin:0;
        padding-bottom:0;
        height: auto;
        .container{
            padding:0;
            .m-hero__media {
                    height:150px;
            }
            .m-hero__content{
                padding: 20px;
                background:#ececeb;
                h1{
                    margin: 0 0 0.75rem;
                    font-size: 1.875rem;
                    line-height: 2.075rem;
                    font-weight: 900;
                }
                h1, h5{
                    color:#000 !important;
                }
            }
        }
        &.m-hero--full-width{            
            &.m-hero--dark{
                background-color: #000;
                height: auto;
                padding: 40px 20px !important;
                .m-hero__content{
                    padding: 0 !important;
                    background-color: #000;
                    h1, h4{
                        color:#ffffff !important;
                    }
                    .white-text{
                        color:#ffffff !important;
                    }
                }
                .m-hero__media {
                    display: none;
                }
                

            }
        }
        &.m-hero--text-vertical-align-top{
            height:370px;
            @media (min-width:753px) and (max-width:767px){
                height:470px;
                .m-hero__media{
                    height:230px;
                }
            }
            .m-hero__content{
                background-color:#d6d6d9;
                h1{
                    margin-top:-20px;
                    color:#222731 !important;
                }
                h2{
                    display:none;
                }
                h5{
                    padding-right:15px;
                    color:#222731 !important;
                }
                p{
                    display:none;
                }
            }
            .button{
                margin-bottom:3%;
                a{
                    max-width: 75%;
    				padding: 0.5625rem 1rem;
                    @media (min-width:753px) and (max-width:767px){
                        max-width:100%;
                    }
                }
            }
        }
        &.m-hero--body-strong {
            &.m-hero--dark{
                height:auto;                
                .m-hero__content{
                    padding:20px;
                    h1, h5{
                        margin-left:0 !important;
                    }
                    h1{
                        font-size: 1.875rem;
                    }
                    h2{
                        display:none;
                    }
                }
                .m-hero__media{                    
                    img.cmp-image__image{
                        &.a-image__default {
                            position: inherit;  
                            height: 150px;                          
                        }
                    }
                }
            }

        } 
    }
    .m-hero--tall{
        padding-bottom:0;
        height:auto;
        .container{
            padding:0;
            max-width:100%;
            .m-hero__media {
                height:7.5rem;
            }
            .m-hero__content{
                padding: 15px 0 0 20px !important;
                background: #ececeb;
                width:100%;
            }
        }
        &.m-hero--body-regular{
			.m-hero__content{
                background: #ececeb;
                h2{
                    color:#000;
                    padding-right:15px;
                }
            }
            &.m-hero--media-start{
                margin-bottom: 40px !important;
                .m-hero__content{
                    h1{
                        color:#000 !important;
                    }
                }
            }
        }
        .m-hero__content{
            background: #ececeb;
            h2{
                color:#000;
                padding-right:15px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .m-hero--short{
        max-height:150px;
        position:relative;
        .container{
            .m-hero__content{
                padding-top: 15px;
                width:95%;
                position:absolute;
                left:10%;
                top:10%;
                h1{
                    font-size: 1.875rem;
                }
            }
            .m-hero__media {
            	height:150px;
                img{
                    position:inherit;
                }
            }
        }
    }
    .m-hero--medium{        
        height:230px;
        .container{
            max-width: 100%;
            padding: 0;
            .m-hero__media {
                height:230px;
                img{
                    position:inherit;
                }
            }
            .m-hero__content{
                width:90%;
                position: absolute;
                left:10%;
                top:10%;
                padding-top:2%;
                h5{
                    margin-left:0%;                      
                
                }
                h1{
                    margin-left:0%;
                }
            }
            &.m-hero--full-width{
                &.m-hero--content-start {
                    max-height: 300px;
                    img.cmp-image__image{
                        &.a-image__default {
                            position: inherit;
                            height: 300px;
                        }
                    }
        
                }
                &.m-hero--dark{
                    max-height: 400px;
                    img.cmp-image__image{
                        &.a-image__default {
                            position: inherit;
                            height: 400px;
                        }
                    }
        
                }
            }
            &.m-hero--text-vertical-align-top{
                height:300px;
                max-height:300px;
                .m-hero__content{
                    h1, h5{
                        margin-left:0 !important;
                    }
                    h1{
                        font-size: 1.875rem;
                    }
                    h2{
                        display:none;
                    }
                }
                .m-hero__media{
                    height:300px;
                }
            }
        }
        &.m-hero--body-strong {
            &.m-hero--dark{
                height:300px;
                max-height:300px;
                .m-hero__content{
                    width:58%;
                    h1, h5{
                        margin-left:0 !important;
                    }
                    h1{
                        font-size: 1.875rem;
                    }
                    h2{
                        display:none;
                    }
                }
                .m-hero__media{
                    height:300px;
                    img.cmp-image__image{
                        &.a-image__default {
                            position: inherit;
                            height:300px;
                        }
                    }
                }
            }

        }        
    }
    .m-hero--tall{
        max-height:7.5rem;
        position:relative;
        .container{
            .m-hero__content{
                padding-top: 15px;
                width:90%;
                position:absolute;
                left:10%;
                top:10%;
                h1{
                    font-size: 1.875rem;
                }
            }
            .m-hero__media {
            	height:7.5rem;
                img{
                    position:inherit;
                     height: 7.5rem;
                }
            }
        }
        &.m-hero--body-regular{
            .m-hero__content{
                width:80%;
                padding-top:0;
            }
            &.m-hero--media-start{
                margin-bottom: 40px !important;                
            }            
        }
    }
}

/**-For Life Lab & Chu-Amiens Lab***/

@media (min-width:768px) and (max-width:1180px){
    .m-hero--medium {
       .m-hero__content h1 {
        font-size: 1.875rem;
        line-height: 2.075rem;
        font-weight: 900;
        margin-left: 0 !important;
        h5 {
            margin-left: 0 !important;
        }
     }
  }     
}
@media (min-width: 320px) and (max-width: 767px){
    body{
        #pageContent{
            .m-hero--medium{
                &.m-hero--content-start{
                    background-color: #000;
                    height: auto;
                    padding: 40px 20px !important;
                    .m-hero__content{
                        padding: 0 !important;
                        background-color: #000;
                        h1, h4{
                            color:#ffffff !important;
                        }
                        .white-text{
                            color:#ffffff !important;
                        }
                    }
                    .m-hero__media{
                        display: none;
                    }
                    
                }
                &.m-hero--content-end{
                    background-color: #000;
                    height: auto;
                    padding: 40px 20px !important;
                    .m-hero__content{
                        padding: 0 !important;
                        background-color: #000;
                        h1, h4{
                            color:#ffffff !important;
                        }
                        .white-text{
                            color:#ffffff !important;
                        }
                    }
                    .m-hero__media{
                        display: none;
                    }            
                }
            }

        }
    }
    &.m-hero--full-width{            
        &.m-hero--dark{                        
            .m-hero__content{                            
                h1, h4{
                    color:#ffffff !important;
                }
                .white-text{
                    color:#ffffff !important;
                }
            }                       
            
        }
        &.m-hero--light{
            &.m-hero--text-align-start{
                height: 300px;
            }                
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .m-hero--medium{
        &.m-hero--full-width{
            &.m-hero--light{
                height: 300px;
            }
            .m-hero__media {
                height: 300px;
                img{
                    height: 300px;
                    position:inherit;
                }
            }
        }
        &.m-hero--content-start{
            height: 400px;
            .m-hero__media {
                height: 400px;
                img{
                    height: 400px;
                    position:inherit;
                }
            }
            
        }
        &.m-hero--content-end{
            height: 400px;
            .m-hero__media {
                height: 400px;
                img{
                    height: 400px;
                    position:inherit;
                }
            }            
        }

    }
}
.m-hero--full-width {
    .m-hero__content {
        h1.m-hero__header.h1-hero {
          @media (max-width: 767px) {
            color: #000 !important;
            font-weight: bold;
            font-family: 'brandon_grotesqueblack',Calibri,Helvetica,Arial,sans-serif;
          }
       }    
    }   
} 
.m-hero{
    @media (min-width: 768px) {
        margin-bottom: 3% !important;
    }
} 