.a-container__column:first-child {
    padding-left: var(--space-zero-size);
    padding-right: var(--container-padding-l);
}
.a-container__column:last-child {
    padding-right: var(--space-zero-size);
    padding-left: var(--container-padding-l);
}
.a-container__column:nth-child(2){
    padding: var(--space-zero-size) var(--container-padding-s);
}
.a-container .container{
    padding: var(--space-zero-size);
}
.a-container{
    margin-bottom: var(--container-margin-l);
}
.o-features-card__content .description.text .cmp-text {
    width: auto;
}
.o-features-card__content p{
    line-height: var(--line-height-l);
}
.o-features-card__image .cmp-image__image{
    max-width: var(--page-width);
}
@media (max-width: 991.9px){
    .layoutcontainer .column-layout-container .section-title{
        margin-top: var(--spacimg-xxl-1);
    }
    .a-container__column:first-child,.a-container__column:nth-child(2), .a-container__column:last-child{
        padding: var(--space-zero-size);
    }
    .o-features-card__image .cmp-image__image{
	    max-width: var(--page-width);
    }
    .o-features-card__content p{
        margin-bottom: var(--featurecard-margin-l);
    }
}