.m-error-page {
  position: relative;
  display: block;
}
.m-error-page__bg-img {
  position: relative;
  width: 100%;
  height: auto;
  min-height: var(--error-page-min-height);
}
.m-error-page__content {
  position: absolute;
  top: var(--error-page-sm-top);
}
@media (min-width: 576px) {
  .m-error-page__content {
    top: var(--error-page-md-top);
  }
}
@media (min-width: 992px) {
  .m-error-page__content {
    top: var(--error-page-lg-top);
  }
}
.error-editor {
  height: auto;
  min-height: var(--error-page-min-height);
}
.content-editor {
  width: 100%;
  left: 0;
}
