.icons-selector.fip-coral {
    .selector-popup {
        border: 1px solid #111;
    }
    .selector-search input[type="text"], .selector-pages {
        font-family: adobe-clean,Helvetica,Arial,sans-serif;
    }
}

.coral--light .icons-selector.fip-coral .selector-popup {
    background-color: #f5f5f5;
}

.coral--dark .icons-selector.fip-coral .selector-popup {
    background-color: #444;
}

.tab-iconPicker-full-visible ._coral-Accordion-item.is-open>._coral-Accordion-itemContent{
  overflow-y: initial;
}

/* fix for page properties */
/*
.cq-siteadmin-admin-properties , .cq-siteadmin-admin-properties .cq-dialog-content-page {
  height: 100%;
}*/
/* fix for full screen component dialogs */
/*
.coral3-Dialog--fullscreen .cq-dialog {
  height: 100vh;
  overflow-y: scroll;
}
.coral3-Dialog--fullscreen .cq-dialog .coral3-Dialog-content,
.coral3-Dialog--fullscreen .cq-dialog .cq-dialog-content {
  height:100%;
}*/