<template data-sly-template.headerMenu="${@ header}">
	<div class="o-header__mega-menu">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="m-mega-menu__mobile" data-js-component="mega-menu" data-sly-test="${!header.hideMegaMenuInNav}">
                	<sly data-sly-resource="${'mega-menu' @ resourceType=header.megamenuProxyPath, decoration=true}" />
                </div>
               	<!--/* Molecule sign  up for the mobile */-->
                <div class="${wcmmode.edit ? '' : 'o-header__mob-options d-block d-lg-none'}">
					<!--/* Sign up */-->
                    <div data-sly-test.notEditMode="${!wcmmode.edit}" class="m-signup" data-toggle="modal" data-target="#atom-modal-default">
                    	<div data-sly-test="${!header.hideSignUpInNav}" class="a-link a-link--icon-left">
							<sly data-sly-resource="${'signup-link' @resourceType=header.linkProxyPath}" />
						</div>
                    </div>
					<!--/* Sign up */-->
                </div>
                <!--/* Search */-->
                    <div data-sly-test="${!header.hideSearchInNav}" class="${wcmmode.edit ? '' : 'o-header__search o-header__mob-search d-block d-lg-none'}" data-search-icon="search">
                        <div data-sly-unwrap="${!wcmmode.edit}">
                            <sly data-sly-test="${notEditMode}" data-sly-resource="${'header-search' @ resourceType=header.headersearchProxyPath,decoration=true}"/>
                        </div>
                    </div>
				<!--/* Search */-->
            </div>
        </div>
    </div> 
</template>
