.m-subscriptions {
  margin-top: var(--m-subscriptions-margin-top);
}
.m-subscriptions__table {
  border: var(--m-subscriptions-table-border);
  border-radius: var(--m-subscriptions-table-border-radius);
  padding: var(--m-subscriptions-table-padding);
  margin-bottom: var(--m-subscriptions-table-margin-bottom);
}
@media (min-width: 768px) {
  .m-subscriptions__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.m-subscriptions__table-item {
  padding: var(--m-subscriptions-table-item-padding);
  margin-bottom: var(--m-subscriptions-table-item-margin-bottom);
}
.m-subscriptions__address-link {
  font-weight: bold;
}
.m-subscriptions__address-link:hover {
  text-decoration: none;
}
.m-subscriptions__address-link em {
  vertical-align: middle;
}
.m-subscriptions__card-logo {
  max-width: var(--m-subscriptions-card-logo-max-width);
  max-height: var(--m-subscriptions-card-logo-max-height);
}
.m-subscriptions__cancel {
  border-radius: var(--m-subscriptions-cancel-border-radius);
  background-color: var(--m-subscriptions-cancel-background);
  -webkit-box-shadow: var(--m-subscriptions-cancel-box-shadow);
  box-shadow: var(--m-subscriptions-cancel-box-shadow);
  padding: var(--m-subscriptions-cancel-padding);
  margin-bottom: var(--m-subscriptions-cancel-margin-bottom);
}
@media (min-width: 768px) {
  .m-subscriptions__cancel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .m-subscriptions__cancel-content {
    width: 50%;
  }
  .m-subscriptions__cancel-content p {
    margin-bottom: 0;
  }
}
.m-subscriptions__cancel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
