.adc-form-group {
	&__label {
		.font-size-rems(13);
		color: @color-fsl-blue;
		margin: 5px 0 5px 15px;
		line-height: 1rem;
	}

	&__input {
		.font-size-rems(16);
		padding: 10px 10px 10px 15px;
		border-color: @color-fsl-grey-3;

		&--error {
			border: 1px solid @color-fsl-orange;
		}
	}

	&__selectbox {
		.font-size-rems(16);
		padding: 10px;
		border-color: @color-fsl-grey-3;
		appearance: none;
		-webkit-appearance: none;
		// -moz-appearance: none;
		// -ms-appearance: none;
		background-image: url("@{icon-path}Arrow_down_blue.svg");
		background-size: 26px;
		background-position: calc(100% - 4px) center;
		background-repeat: no-repeat;
		height: auto !important;

		&--error {
			border: 1px solid @color-fsl-orange;
		}
	}

	&__password-eye {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;

		&__icon {
			.icon(eye-blue);
			background-repeat: no-repeat;
			height: 25px;
			width: 25px;
			background-size: 25px;
			display: inline-block;
		}
	}

	&__success {
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -13px;
	}

	&--error {
		color: @color-fsl-orange;
		.font-size-rems(12);
		margin: 5px 8px 5px 15px;
		display: block;
	}

	&__label-required-field {
		.font-size-rems(12);
		line-height: 24px;
		color: @color-fsl-blue;
		font-style: italic;
	}

	&__input-radio-group {
		width: 100%;

		.btn-primary:not(:disabled):not(.disabled).active {
			color: @color-fsl-black;
			font-weight: @weight-medium-bold;
			border-color: @color-fsl-grey-3;
			border-bottom: 2px solid @color-fsl-blue;
			background-color: @color-fsl-white;
		}

		.btn-primary:not(.active):hover {
			color: @color-fsl-black;
		}

		.btn-primary-disabled:not(.active):hover {
			color: @color-fsl-grey-3;
			outline: none;
		}

		&__label {
			color:@color-fsl-grey-3;
			border-color: @color-fsl-grey-3;			
			padding: 13px 0px;
			font-size: 0.875rem;
			line-height: 16px;
			font-weight: bold;
			background-color: @color-fsl-white;
			width: 120px;
			flex: 1 1 auto !important;
			z-index: inherit !important;
			@media @max-tab {
				width: 40%;
			}
			@media @adc-mobile-break {
				.font-size-rems(11);
			}

			&--error {
				border: 1px solid @color-fsl-orange;
			}
		}
	}

	&__info-imp {
		.font-size-rems(13);
		color: @color-fsl-blue;
	}
}

/*Start checkbox global code*/
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	.font-size-rems(16);
	user-select: none;
	/* Hide the browser's default checkbox */

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		visibility: hidden;

		&:checked {
			~ .checkbox-container {
				&__checkmark {
					background-color: @color-fsl-blue;
				}
				&__checkmark-right{
					background-color: @color-fsl-blue;
				}
			}

			/* Show the checkmark when checked */

			&:after {
				display: block;
			}
		}
	}

	/* Create a custom checkbox */

	&__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 18px;
		width: 18px;
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid @color-fsl-blue;

		&--error {
			border: 1px solid @color-fsl-orange;
		}

		&:after {
			content: "";
			position: absolute;
			left: 6px;
			top: 2px;
			width: 5px;
			height: 10px;
			border: solid @color-fsl-white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	
	&__error {
		color: @color-fsl-orange;
		margin-top: 5px;
		.font-size-rems(12);
		display: block;
		margin-left: 25px;
	}

	/* On mouse-over, add a grey background color */
}

/*End checkbox global code*/

/*CSS for Model*/
.adc-radio {
	&__input {
		height: 0;
		width: 0;
		position: absolute;

		& + .adc-radio__label {
			position: relative;
			padding-left: 25px;
			cursor: pointer;
			line-height: 25px;
			display: inline-block;
			color: @color-fsl-black;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 5px;
				width: 16px;
				height: 16px;
				border: 1px solid @color-fsl-grey-3;
				border-radius: 100%;
				background: @color-fsl-white;
			}

			&:after {
				content: '';
				width: 8px;
				height: 8px;
				background: @color-fsl-blue;
				position: absolute;
				top: 9px;
				left: 4px;
				border-radius: 100%;
				transition: all 0.2s ease;
			}
		}

		&:not(:checked) + .adc-radio__label:after {
			opacity: 0;
			transform: scale(0);
		}

		&:checked + .adc-radio__label:after {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.pointer-events-none {
	pointer-events: none;
}

/*End CSS for Model*/

/*CSS for Mobile and Fixed Line Input*/
.intl-tel-input {
	display: block !important;
}
//

.hand-cursor{
	cursor: pointer;
}

// Removing additional cross in edge
input[type=text]::-ms-clear {
	display: none;
}