// Colors
@color-blue: #001489;
@color-black: #000;
@color-white: #ffffff;

@spacer: 1rem;
@spacer-1: @spacer * 0.0625;
@spacer-2: @spacer * 0.125;     //2px
@spacer-3: @spacer * 0.106;     //3px
@spacer-4: @spacer * 0.25;      //4px
@spacer-5: @spacer * 0.31;      //5px
@spacer-6: @spacer * 0.375;     //6px
@spacer-7: @spacer * 0.4375;    //7px
@spacer-8: @spacer * 0.5;       //8px
@spacer-10: @spacer * 0.625;    //10px
@spacer-11: @spacer * 0.688;    //11px
@spacer-12: @spacer * 0.75;     //12px
@spacer-14: @spacer * 0.875;    //14px
@spacer-15: @spacer * 0.95;     //15px
@spacer-16: @spacer;            //16px
@spacer-17: @spacer * 1.05;     //17px
@spacer-18: @spacer * 1.125;    //18px
@spacer-20: @spacer * 1.25;     //20px
@spacer-22: @spacer * 1.375;    //22px
@spacer-24: @spacer * 1.5;      //24px
@spacer-25: @spacer * 1.5625;   //25px
@spacer-27: @spacer * 1.6875;   //27px
@spacer-28: @spacer * 1.75;     //25px
@spacer-30: @spacer * 1.875;    //30px
@spacer-32: @spacer * 2;        //32px
@spacer-35: @spacer * 2.1875;   //35px
@spacer-38: @spacer * 2.375;    //38px
@spacer-40: @spacer * 2.5;      //40px
@spacer-45: @spacer * 2.813;    //45px
@spacer-48: @spacer * 3;        //48px
@spacer-50: @spacer * 3.125;    //50px
@spacer-55: @spacer * 3.4375;   //55px
@spacer-56: @spacer * 3.5;      //56px
@spacer-60: @spacer * 3.75;     //60px
@spacer-64: @spacer * 4;        //64px
@spacer-65: @spacer * 4.0625;   //65px
@spacer-67: @spacer * 4.188;   //67px
@spacer-72: @spacer * 4.5;      //72px
@spacer-80: @spacer * 5;        //80px
@spacer-100: @spacer * 6.25;    //100px
@spacer-140: @spacer * 8.75;    //140px
@spacer-150: @spacer * 9.375;    //150px
@spacer-160: @spacer * 11.25;    //160px
@spacer-200: @spacer * 12.5;     //200px;

@full-width:100%;

@font-h1-superscript: @spacer-15; // 15px


@font-h2-med-screen: @spacer-24; // 24px
@line-height-h2-med-screen: @spacer-32; //32px
@font-h2-superscript-med-screen: @spacer-12; // 12px

@font-h3-small-screen: @spacer-18; // 18px
@line-height-h3-small-screen: @spacer-24; // 24px

@font-base: @spacer; // 16px
@line-height-base1: @spacer-24; // 24px

@content-section-button-margin: @spacer-5;

@sm-width: 540px;
@md-width: 720px;
@lg-width: 960px;
@xl-width: 1160px;
