// Common
@color-primary: #002D72 ;
@color-primary-v1: #0A63A3;
@color-primary-v2: #EEB33B;
@color-primary-v3: @color-primary;
@color-primary-v4: #EEB33B;
@color-secondary: #0A63A3;
@color-white: #FFFFFF;
@color-black: #000000;
@color-text-body: #616161;
@color-breadcrumb-bg: #0A63A3;
@color-lightbg: rgba(0, 45, 114, 0.2);
@color-arrow: #123980;
@color-social-sharing: #EEB33B;
@color-footer-careline: #123980;
@color-indicator: #CCD5E3;

// Gradient
@gradient-text: linear-gradient(180deg, #0A63A3 0%, #002D72 100%);
@gradient-header-button: linear-gradient(90deg, #EEB33B 0%, #FBF7C2 47.92%, #EEB33B 100%);
@gradient-background-desktop: linear-gradient(180deg, #0A63A3 0%, #002D72 100%);
@gradient-background-mobile: linear-gradient(180deg, #0A63A3 0%, #002D72 100%);
@gradient-background-featured-product: linear-gradient(180deg, #0A63A3 0%, #002D72 100%);