.o-footer {
    padding: var(--footer-padding) !important
}


/* header - search */

.o-header__sticky-section .o-header__logo-section .a-search.a-search--expand .a-search--icon-left .abt-icon,
.o-header__sticky-section .o-header__logo-section .a-search--expand .a-search--icon-right {
    color: #222731;
}

.o-header .o-header__search .a-search__input {
    padding: 0.5rem 1.5rem 0.5rem 2.5rem;
}


/* footer - link stack - css */

.footer .m-link-stack h6.m-link-stack--title {
    color: #FFF !important;
}

.footer .m-link-stack a {
    color: #d9d9d6 !important;
}

@media only screen and (max-width: 767px) {
    .site-name {
        display: none !important;
    }
}


/*header new variation for site */

.o-header .o-header__logo-section .o-header__logo-left .site-name {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-family: 'brandon_grotesquebold', Arial, sans-serif;
    margin-left: 20px;
    border-left: 1px solid #FFF;
}

.o-header .o-header__logo-section .o-header__logo-left .site-name span {
    margin-left: 20px;
}

.o-header .o-header__logo-section .o-header__logo-right .site-name {
    display: none;
}

.o-header .o-header__logo-section .o-header__logo-right.my-acc a {
    cursor: pointer;
    color: #FFF !important;
    font-family: 'brandon_grotesqueregular', Arial, sans-serif;
}

.o-header .o-header__logo-section .col-5.col-sm-3.col-lg-3.pR-7 {
    padding-right: 7px !important;
}

.o-header__logo-section {
    background-color: var(--header-logo-section-bg-color);
    color: #FFF !important;
}

.o-header__sticky-search.show .a-search .a-search--icon-left {
    color: #FFF;
}

.o-header__logo-left img:first-child {
    position: relative !important;
    opacity: 1 !important;
}

.o-header--full-width .o-header__search .a-search,
.o-header--full-width .o-header__search .a-search__input {
    color: #222731 !important
}

.o-header__search .a-search,
.o-header__search .a-search__input {
    color: #FFF !important;
}

.o-header--full-width .o-header__search .abt-icon {
    color: #222731 !important;
}

.o-header .m-signup .a-link__text {
    font-family: 'brandon_grotesqueregular', Arial, sans-serif;
}


/* Hero component */

.m-hero--dark .m-hero__title,
.m-hero--dark .m-hero__header,
.m-hero--dark h1,
.m-hero--dark .m-hero__body,
.m-hero--dark .m-hero__content p,
.m-hero--dark .m-hero__content h1,
.m-hero--dark .m-hero__content h2,
.m-hero--dark .m-hero__content h3,
.m-hero--dark .m-hero__content h4,
.m-hero--dark .m-hero__content h5,
.m-hero--dark .m-hero__content h6 {
    color: var(--hero-color-dark);
}

.m-hero--light .m-hero__title,
.m-hero--light .m-hero__body,
.m-hero--light .m-hero__body p,
.m-hero--light .m-hero__body h1,
.m-hero--light .m-hero__body h2,
.m-hero--light .m-hero__body h3,
.m-hero--light .m-hero__body h4,
.m-hero--light .m-hero__body h5,
.m-hero--light .m-hero__body h6 {
    color: var(--hero-color-light);
}

.m-hero--light .m-hero__header,
.m-hero--light p,
.m-hero--light h1,
.m-hero--light h2,
.m-hero--light h3,
.m-hero--light h4,
.m-hero--light h5,
.m-hero--light h6 {
    color: var(--hero-color-light-title);
}

.a-button--primary-v1 .btn:hover {
    background-color: var(--button-color-hover) !important;
    color: var(--button-primary-v1-color) !important;
}

.a-button--primary .btn:hover {
    background-color: var(--button-color-hover) !important;
    color: var(--button-primary-bg) !important;
}

.a-button--secondary-v1 .btn:hover {
    background-color: transparent !important;
    color: var(--button-color-hover) !important;
    border: 2px solid #FFF !important;
}

.a-button--secondary .btn:hover {
    -ms-transform: scale(1.10) !important;
    /* IE 9 */
    -webkit-transform: scale(1.10) !important;
    /* Safari 3-8 */
    transform: scale(1.10) !important;
}

.a-button .btn {
    font-weight: 100 !important;
    text-transform: none !important;
    font-family: 'brandon_grotesquemedium', Arial, sans-serif;
}

.a-tile__title,
.a-tile-text {
    font-size: 29px !important;
    font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
    font-weight: 500 !important;
}

@media only screen and (max-width: 767px) {
    .a-tile .p-4 {
        padding: 0px !important;
    }
}


/*Sticky nav 5-6-21*/

.o-header__mega-menu,
.o-header__mega-menu .navbar.navbar-expand-lg {
    width: 100% !important;
    height: 60px !important;
    background: rgba(100, 204, 201, 0.90) !important;
}

.o-header__mega-menu .navbar.navbar-expand-lg {
    background: transparent !important;
}

.o-header__mega-menu .navbar.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.o-header__mega-menu .m-mega-menu__mobile-item-wrapper .m-mega-menu__mobile .navbar a,
.m-mega-menu__mobile .link .a-link__text {
    font-family: brandon_grotesqueregular, Arial, sans-serif;
    font-size: 22px !important;
    line-height: 26px !important;
    color: #222731 !important;
    text-transform: none !important;
    cursor: pointer !important;
    font-weight: initial;
    /* Mega menu titles to be centered aligned */
    text-align: center;
}

.o-header__mega-menu .m-mega-menu__mobile-item-wrapper .m-mega-menu__mobile .navbar a:hover,
.m-mega-menu__mobile .link .a-link__text:hover,
.m-mega-menu__mobile-item-wrapper.active .a-link__text {
    font-weight: bold;
    font-family: 'brandon_grotesquebold', Arial, sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .o-header__mega-menu .navbar.navbar-expand-lg .navbar-collapse {
        display: block !important;
        left: 0px !important;
        box-shadow: none !important;
        width: 100%;
        background: transparent !important;
        text-align: center;
    }
    .m-mega-menu__mobile .navbar .navbar-toggler {
        display: none !important
    }
    .m-mega-menu__mobile .navbar-nav {
        display: -webkit-inline-box !important;
        -webkit-box-orient: horizontal !important;
        padding: 0px !important
    }
    .o-header__mega-menu .m-mega-menu__mobile-item-wrapper .m-mega-menu__mobile .navbar a,
    .m-mega-menu__mobile .link .a-link__text {
        font-size: 15px !important;
    }
    .m-mega-menu__mobile .link {
        padding: 15px 16px 7px 16px !important
    }
    .m-mega-menu__mobile .navbar .navbar-collapse {
        height: 60px !important;
    }
    .o-header__mega-menu .container {
        max-width: 100% !important;
    }
    .o-header__mega-menu .navbar-nav.mr-auto {
        margin-right: initial !important;
    }
}

@media only screen and (max-width: 767px) {
    .o-header__mega-menu,
    .o-header__mega-menu .navbar.navbar-expand-lg {
        height: 40px !important;
    }
}

.o-header .o-header__wrapper .o-header__secondary-top-nav {
    height: 24px;
}

.o-header__secondary-top-nav .container {
    height: inherit !important;
}

.o-header .o-header__wrapper .o-header__sticky-section .o-header__logo-section {
    height: 62px;
    display: flex;
    align-items: center;
}

.m-hero {
    margin-bottom: 100px;
}

.o-product-section__button-wrapper {
    margin-top: 28px !important;
    padding-top: 0px !important;
}

.o-product-section {
    padding-bottom: 50px;
}

.o-product-section .o-product-section__video-wrapper {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 0;
}

.container.a-container .container.a-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.a-container.u-full-width .o-product-section__container.container {
    max-width: fit-content !important;
}

@media (min-width: 992px) {
    .a-container .layoutcontainer.m-layout-container:not(.u-full-width),
    .u-full-width .a-container:not(.u-full-width) {
        max-width: 1140px !important;
        margin: auto !important;
    }
}

@media (min-width: 720px) and (max-width: 992px) {
    .a-container .layoutcontainer.m-layout-container:not(.u-full-width),
    .u-full-width .a-container:not(.u-full-width) {
        max-width: 720px !important;
        margin: auto !important;
    }
}

@media (max-width: 767px) {
    .a-container .layoutcontainer.m-layout-container:not(.u-full-width),
    .u-full-width .a-container:not(.u-full-width) {
        max-width: 100% !important;
        margin: auto !important;
    }
    .a-container.u-full-width .o-product-section__container.container .o-product-section__row {
        margin: auto
    }
    .o-product-section .o-product-section__content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .a-container.u-full-width .o-product-section__container.container .o-product-section__image-wrapper {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

.o-product-section .o-product-section__content {
    padding-left: 0px !important;
}

.m-card.m-card--horizontal {
    margin-bottom: 50px;
}


/*960 grid changes - starts*/

.button.a-button--tertiary .btn:not(:disabled):not(.disabled) {
    border-radius: 50%;
    border: 2px solid var(--button-tertiary-color-hover);
    padding: 12px 12px;
    border-width: 2.7px;
}

.button.a-button--tertiary .btn:hover {
    background-color: var(--button-tertiary-bg-hover) !important;
    color: var(--button-tertiary-color-hover) !important;
    transform: scale(1.10);
    transition: transform .3s ease-in-out;
    border-width: 2.7px;
}

.button.a-button--tertiary .btn>.abt-icon {
    color: var(--button-tertiary-color-hover);
    font-weight: bold;
}

.a-button>.btn {
    text-align: left !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}

.m-hovercard .m-card__media .m-card__image img.cmp-image__image {
    object-fit: none;
}

.m-hovercard .m-card__media {
    background: #64ccc9 !important;
    border-radius: 0 !important;
}

.m-hovercard:hover {
    background-color: #470a68;
}

.o-product-section__container.container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media (max-width: 767px) {
    .button.a-button--tertiary .btn {
        width: 15% !important;
        padding: 13px 12px !important
    }
    .o-product-section__image-wrapper {
        margin-top: var(--product-section-image-margin-top) !important;
    }
    .m-hero {
        margin-bottom: 0px !important
    }
    .m-hero .m-hero__content p+h1+h2 {
        width: 100% !important
    }
    .a-button>.btn {
        display: flex !important;
        text-align: center !important;
    }
    .m-hero .m-hero__content {
        padding-top: var(--hero-tablet-tall-content-top-space) !important;
        padding-bottom: var(--hero-tablet-tall-content-top-space) !important;
    }
    .m-hovercard .m-card__media .m-card__image img.cmp-image__image {
        object-fit: cover !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .o-product-section__image-wrapper {
        margin-top: var(--product-section-image-margin-top) !important;
    }
    .m-hero .m-hero__content p+h1+h2 {
        width: 100% !important
    }
    .m-hero.m-hero--tall,
    .m-hero.m-hero--medium,
    .m-hero.m-hero--short {
        height: auto !important;
    }
    .m-hero .m-hero__content {
        padding-bottom: var(--hero-tablet-tall-content-top-space);
    }
}

@media (min-width: 992px) {
    .o-header .m-mega-menu__mobile .navbar {
        padding: 0px !important;
    }
    .m-mega-menu__mobile-item-wrapper:last-child {
        margin-right: 0px;
    }
    .mega-menu .m-mega-menu__mobile-item-wrapper:hover {
        border-bottom: none !important;
    }
  }  

.m-hero__extras .a-button>.btn {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.m-hero--subhead-abbott-charcoal .h2-hero,
.m-hero--subhead-abbott-charcoal .h2-hero+h1:not(.m-hero__header),
.m-hero--subhead-abbott-charcoal .h2-hero+h2:not(.m-hero__header),
.m-hero--subhead-abbott-charcoal .h2-hero+h3:not(.m-hero__header),
.m-hero--subhead-abbott-charcoal .h2-hero+h4:not(.m-hero__header),
.m-hero--subhead-abbott-charcoal .h2-hero+h5:not(.m-hero__header),
.m-hero--subhead-abbott-charcoal .h2-hero+h6:not(.m-hero__header),
.m-hero--subhead-abbott-charcoal .h2-hero+p:not(.m-hero__header),
.m-hero--h1-abbott-charcoal .m-hero__header,
.m-hero--h1-abbott-charcoal .m-hero__header~h1,
.m-hero--h1-abbott-charcoal .m-hero__header~h2,
.m-hero--h1-abbott-charcoal .m-hero__header~h3,
.m-hero--h1-abbott-charcoal .m-hero__header~h4,
.m-hero--h1-abbott-charcoal .m-hero__header~h5,
.m-hero--h1-abbott-charcoal .m-hero__header~h6,
.m-hero--h1-abbott-charcoal .m-hero__header~p,
.m-hero--subtext-abbott-charcoal .m-hero__body,
.m-hero--subtext-abbott-charcoal .m-hero__body>h1,
.m-hero--subtext-abbott-charcoal .m-hero__body>h2,
.m-hero--subtext-abbott-charcoal .m-hero__body>h3,
.m-hero--subtext-abbott-charcoal .m-hero__body>h4,
.m-hero--subtext-abbott-charcoal .m-hero__body>h5,
.m-hero--subtext-abbott-charcoal .m-hero__body>h6,
.m-hero--subtext-abbott-charcoal .m-hero__body>p {
    color: var(--hero-color-charcoal) !important;
}

.m-hero--subhead-abbott-purple .h2-hero,
.m-hero--subhead-abbott-purple .h2-hero+h1:not(.m-hero__header),
.m-hero--subhead-abbott-purple .h2-hero+h2:not(.m-hero__header),
.m-hero--subhead-abbott-purple .h2-hero+h3:not(.m-hero__header),
.m-hero--subhead-abbott-purple .h2-hero+h4:not(.m-hero__header),
.m-hero--subhead-abbott-purple .h2-hero+h5:not(.m-hero__header),
.m-hero--subhead-abbott-purple .h2-hero+h6:not(.m-hero__header),
.m-hero--subhead-abbott-purple .h2-hero+p:not(.m-hero__header),
.m-hero--h1-abbott-purple .m-hero__header,
.m-hero--h1-abbott-purple .m-hero__header~h1,
.m-hero--h1-abbott-purple .m-hero__header~h2,
.m-hero--h1-abbott-purple .m-hero__header~h3,
.m-hero--h1-abbott-purple .m-hero__header~h4,
.m-hero--h1-abbott-purple .m-hero__header~h5,
.m-hero--h1-abbott-purple .m-hero__header~h6,
.m-hero--h1-abbott-purple .m-hero__header~p,
.m-hero--subtext-abbott-purple .m-hero__body,
.m-hero--subtext-abbott-purple .m-hero__body>h1,
.m-hero--subtext-abbott-purple .m-hero__body>h2,
.m-hero--subtext-abbott-purple .m-hero__body>h3,
.m-hero--subtext-abbott-purple .m-hero__body>h4,
.m-hero--subtext-abbott-purple .m-hero__body>h5,
.m-hero--subtext-abbott-purple .m-hero__body>h6,
.m-hero--subtext-abbott-purple .m-hero__body>p {
    color: var(--hero-color-purple) !important;
}

.m-hero--subhead-abbott-mint .h2-hero,
.m-hero--subhead-abbott-mint .h2-hero+h1:not(.m-hero__header),
.m-hero--subhead-abbott-mint .h2-hero+h2:not(.m-hero__header),
.m-hero--subhead-abbott-mint .h2-hero+h3:not(.m-hero__header),
.m-hero--subhead-abbott-mint .h2-hero+h4:not(.m-hero__header),
.m-hero--subhead-abbott-mint .h2-hero+h5:not(.m-hero__header),
.m-hero--subhead-abbott-mint .h2-hero+h6:not(.m-hero__header),
.m-hero--subhead-abbott-mint .h2-hero+p:not(.m-hero__header),
.m-hero--h1-abbott-mint .m-hero__header,
.m-hero--h1-abbott-mint .m-hero__header~h1,
.m-hero--h1-abbott-mint .m-hero__header~h2,
.m-hero--h1-abbott-mint .m-hero__header~h3,
.m-hero--h1-abbott-mint .m-hero__header~h4,
.m-hero--h1-abbott-mint .m-hero__header~h5,
.m-hero--h1-abbott-mint .m-hero__header~h6,
.m-hero--h1-abbott-mint .m-hero__header~p,
.m-hero--subtext-abbott-mint .m-hero__body,
.m-hero--subtext-abbott-mint .m-hero__body>h1,
.m-hero--subtext-abbott-mint .m-hero__body>h2,
.m-hero--subtext-abbott-mint .m-hero__body>h3,
.m-hero--subtext-abbott-mint .m-hero__body>h4,
.m-hero--subtext-abbott-mint .m-hero__body>h5,
.m-hero--subtext-abbott-mint .m-hero__body>h6,
.m-hero--subtext-abbott-mint .m-hero__body>p {
    color: var(--hero-color-mint) !important;
}

.m-hero--subhead-white .h2-hero,
.m-hero--subhead-white .h2-hero+h1:not(.m-hero__header),
.m-hero--subhead-white .h2-hero+h2:not(.m-hero__header),
.m-hero--subhead-white .h2-hero+h3:not(.m-hero__header),
.m-hero--subhead-white .h2-hero+h4:not(.m-hero__header),
.m-hero--subhead-white .h2-hero+h5:not(.m-hero__header),
.m-hero--subhead-white .h2-hero+h6:not(.m-hero__header),
.m-hero--subhead-white .h2-hero+p:not(.m-hero__header),
.m-hero--h1-white .m-hero__header,
.m-hero--h1-white .m-hero__header~h1,
.m-hero--h1-white .m-hero__header~h2,
.m-hero--h1-white .m-hero__header~h3,
.m-hero--h1-white .m-hero__header~h4,
.m-hero--h1-white .m-hero__header~h5,
.m-hero--h1-white .m-hero__header~h6,
.m-hero--h1-white .m-hero__header~p,
.m-hero--subtext-white .m-hero__body,
.m-hero--subtext-white .m-hero__body>h1,
.m-hero--subtext-white .m-hero__body>h2,
.m-hero--subtext-white .m-hero__body>h3,
.m-hero--subtext-white .m-hero__body>h4,
.m-hero--subtext-white .m-hero__body>h5,
.m-hero--subtext-white .m-hero__body>h6,
.m-hero--subtext-white .m-hero__body>p {
    color: var(--hero-color-dark) !important;
}


/* a-button changes */

.a-button--icon-right span {
    padding-right: 26px !important;
}

.a-button--icon-left span {
    padding-left: 26px !important;
}

input[name="x-country-code"][value="JP"]+input~div .a-button--icon-right span,
input[name="x-country-code"][value="JP"]+input~div .a-button--icon-left span {
    line-height: 24px !important;
}

@media (min-width: 992px) {
    .a-button .btn {
        max-width: 480px;
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .a-button .btn {
        max-width: 192px !important;
        width: auto !important;
    }
}

@media (max-width: 767.98px) {
    .a-button .btn {
        max-width: 100% !important;
        width: 100% !important;
    }
}


/* Disclaimer/popup styling changes */

.modal.generic-modal .generic-modal__content {
    border-radius: 0 !important;
    background: var(--modal-bg-color) !important;
}

.modal.generic-modal .generic-modal__content-footer {
    padding: 0px !important;
}

.modal.generic-modal .generic-modal__content .generic-modal__content-body .section-title .cmp-title__text {
    font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
    font-size: 28px !important;
    line-height: 32px !important;
    color: var(--modal-para-color) !important;
}

.modal.generic-modal .generic-modal__content .generic-modal__content-body .section-subtitle p {
    font-family: "brandon_grotesquemedium", Arial, sans-serif !important;
    font-size: 18px !important;
    line-height: 20px !important;
}

.modal.generic-modal .generic-modal__content .generic-modal__content-body .customtextlist p {
    font-size: 12px !important;
    font-family: 'brandon_grotesquemedium', Arial, sans-serif !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}

.modal.generic-modal .customtextlist.aem-GridColumn.aem-GridColumn--default--12 {
    background-color: transparent !important;
    border: none !important;
}

.modal.generic-modal .generic-modal__content-body p:empty,
.modal.generic-modal .generic-modal__content-body ul {
    margin: 0px !important;
    padding: 0px !important;
}

.modal.generic-modal .modal-dialog {
    max-width: 650px !important;
    width: 100% !important;
}

@media (min-width: 992px) {
    .modal.generic-modal .generic-modal__content .generic-modal__content-body {
        padding: 50px !important;
    }
}

@media (max-width: 991.98px) {
    .modal.generic-modal .generic-modal__content .generic-modal__content-body {
        padding: 20px 20px 30px 20px !important;
    }
}

@media (max-width: 767.98px) {
    .modal.generic-modal .generic-modal__content .generic-modal__content-body .a-button,
    .modal.generic-modal .generic-modal__content .responsivegrid .aem-Grid .columncontrol .row>[class*="col-"] {
        display: block !important;
    }
    .modal.generic-modal .generic-modal__content .generic-modal__content-body .btn {
        width: 100% !important;
        margin: 0 0 8px 0 !important;
    }
}

.modal.generic-modal .generic-modal__content .a-button--icon-right .abt-icon:not(.abt-icon-only) {
    right: 0px !important;
}

.modal.generic-modal .generic-modal__content .generic-modal__content-body .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-right: 8px;
}

.modal.generic-modal .generic-modal__content .responsivegrid .aem-Grid .columncontrol .row>[class*="col-"] {
    display: contents;
}

.modal.generic-modal .generic-modal__content .responsivegrid .aem-Grid .columncontrol .row,
.columncontrol .container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


/** Animation container - full-width **/

.animationcontainer.container {
    max-width: var(--container-max-width) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* Hero Banner Image cut off Mobile Landscape fix */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (orientation: landscape) {
    .m-hero.m-hero--tall .m-hero__media {
        height: var(--hero-tablet-tall-media-height) !important;
        padding-top: var(--hero-tablet-tall-content-top-space) !important;
    }
    .m-hero.m-hero--medium .m-hero__media {
        height: var(--hero-tablet-medium-media-height) !important;
        padding-top: var(--hero-tablet-tall-content-top-space) !important;
    }
    .m-hero.m-hero--short .m-hero__media {
        height: var(--hero-tablet-short-media-height) !important;
        padding-top: var(--hero-tablet-tall-content-top-space) !important;
    }
    .m-hero .cmp-image__image {
        object-fit: unset !important;
    }
    .m-hero .m-hero__content {
        position: absolute !important;
        width: var(--hero-content-default-width);
    }
    .m-hero .m-hero__content>h1,
    .m-hero .m-hero__content>h2 {
        text-align: left !important;
    }
}


/* iPad Portrait - Hero banner text on the banner fix */

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) and (orientation: portrait) {
    .m-hero .m-hero__content {
        position: absolute !important;
        width: var(--hero-content-default-width);
    }
    .m-hero--tall .m-hero__content,
    .m-hero--medium .m-hero__content,
    .m-hero--short .m-hero__content {
        padding-top: var(--hero-tablet-tall-content-top-space) !important;
    }
    .m-hero .m-hero__content>h1,
    .m-hero .m-hero__content>h2 {
        text-align: left !important;
    }
    .m-hero .cmp-image__image {
        object-fit: unset !important;
    }
}


/** Hero banner - animation container **/

.animationcontainer .m-hero__content {
    opacity: 0;
    transition-property: opacity, transform;
}

.cq-Editable-dom .animationcontainer .m-hero__content {
    opacity: 1;
    transition-property: opacity, transform;
}

@media all and (min-width: 992px) {
    .m-hero.m-hero--full-width .m-hero__content {
        width: var(--hero-content-full-width) !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) and (orientation: portrait) {
    .m-hero.m-hero--full-width .m-hero__content {
        width: var(--hero-tablet-content-full-width) !important;
    }
}

.columncontrol>.no-gutters,
.columncontrol>.row {
    margin-right: 0;
    margin-left: 0;
}

.columncontrol .no-gutters>[class*="col-"],
.columncontrol .row>[class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}


/** standard spacing top and bottom CV  - starts **/


/** global margin mesaurements - atoms and molecules  **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-bg-img,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-title,
.responsivegrid .aem-Grid .title,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-text,
.responsivegrid .aem-Grid .text,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-badges,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-button,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-checkbox,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-chips,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-counter,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-date-picker,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-dropdown,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-input-field,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid>.aem-GridColumn:not(.header) .a-link,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid>.aem-GridColumn:not(.header) .a-logo-comp,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-video,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-progressbar,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-radio,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-result,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-search,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-stepper,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-switcher,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-tabs,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-text-banner,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-tile,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-tooltip,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-accordion,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-alert,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-card,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-chips-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-custom-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-error-page,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid>.aem-GridColumn:not(.header) .m-link-stack,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-popover-wrapper,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid>.aem-GridColumn:not(.header) .m-search-bar,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .socialmedia,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-video,
.responsivegrid .aem-Grid .video,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .a-image,
.responsivegrid .aem-Grid .image {
    margin-bottom: 20px;
}


/** global margin mesaurements - organisms  **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-cards-carousel,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-features-card,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-form-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-hero-carousel,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-media-pagination,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-products-compare,
.responsivegrid .aem-Grid .productcomparison .responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-search-res,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-section-panel,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-wizard {
    margin-bottom: 50px !important;
}


/** global margin/padding mesaurements - special components **/


/** padding values -100px top/bottom  **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}


/** padding values -50px top/bottom  **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}


/** Hero Banner internal spacings(padding) **/

@media all and (min-width: 992px) {
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero .m-hero__content {
        padding-top: 100px !important;
        padding-bottom: 0px !important;
    }
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--text-vertical-align-center .m-hero__content {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media all and (min-width: 768px) and (max-width: 991.98px) {
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero .m-hero__content {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

@media all and (max-width: 767.98px) {
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero .m-hero__content {
        padding-top: 50px !important;
        padding-bottom: 20px !important;
    }
}


/** Remove padding if same components(having inner spacings) are authored one after **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection+.promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection+.contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection+.m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection+.container.a-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection+.ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection+.m-layout-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection+.promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection+.contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection+.m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection+.container.a-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection+.ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection+.m-layout-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list+.promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list+.contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list+.m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list+.container.a-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list+.ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list+.m-layout-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container+.promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container+.contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container+.m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container+.container.a-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container+.ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container+.m-layout-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection+.promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection+.contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection+.m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection+.container.a-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection+.ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection+.m-layout-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container+.promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container+.contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container+.m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container+.container.a-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container+.ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container+.m-layout-container {
    padding-top: 0px !important;
}


/** Remove optional spacings - bottom margin **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .productsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-info-section,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-tile-list,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container {
    margin-bottom: 100px !important;
}


/** global margin/padding mesaurements - special components -mobile screens**/

@media all and (max-width: 767.98px) {
    /** padding values - 50px top/bottom  **/
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-tiles,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .container.a-container,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-layout-container {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    /** optional margin - 50px bottom - option to remove **/
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .productsection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .contentsection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .ctasection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .promosection,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .o-info-section {
        margin-bottom: 50px !important;
    }
}


/** special components within container **/

.responsivegrid .aem-Grid .container.a-container .cmp-container>div:not(.experiencefragment):first-child {
    padding-top: 0px !important;
}

.responsivegrid .aem-Grid .container.a-container .cmp-container>div:not(.experiencefragment):last-child {
    padding-bottom: 0px !important;
}

.responsivegrid .aem-Grid .container.a-container .cmp-container>div:not(.experiencefragment):only-child {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


/** optional margin - 100px bottom - option to remove **/

.responsivegrid .aem-Grid .m-hero.mb-0,
.responsivegrid .aem-Grid .productsection.mb-0,
.responsivegrid .aem-Grid .contentsection.mb-0,
.responsivegrid .aem-Grid .ctasection.mb-0,
.responsivegrid .aem-Grid .promosection.mb-0,
.responsivegrid .aem-Grid .o-info-section.mb-0,
.responsivegrid .aem-Grid .m-tile-list.mb-0,
.responsivegrid .aem-Grid .o-tiles.mb-0,
.responsivegrid .aem-Grid .m-layout-container.mb-0,
.responsivegrid .aem-Grid .container.a-container.mb-0 {
    margin-bottom: 0px !important;
}

.o-promo>.o-promo__wrapper {
    padding: 0px !important;
}

.o-promo>.o-promo__text {
    padding: 0 0 20px 0 !important;
}

.o-promo>.o-promo__title {
    padding-top: 0px !important;
}

.o-promo>.o-promo__logo {
    padding: 0rem 0 .75rem !important
}

.m-hero:not(.m-hero--button-vertical) .m-hero__extras .a-button+.a-button {
    margin-left: 6px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 0px !important;
}


/** standard spacing top and bottom CV  - ends **/

.responsivegrid:not(.cq-Editable-dom) .aem-Grid li.m-mega-menu__mobile-item-wrapper .m-link-stack {
    margin-bottom: 0px !important;
}

.m-mega-menu__mobile-item-wrapper.bt {
    border-top: 1px solid var(--mega-menu-dropdown-border-color)
}

.m-mega-menu__mobile-item-wrapper.bt .a-link__text,
.m-mega-menu__mobile-item-wrapper.bt .m-link-stack h6,
a.mob-nav-link,
.m-mega-menu__mobile-item-wrapper.bt .a-link__inner-text {
    font-family: brandon_grotesqueregular, Arial, sans-serif !important;
    font-size: 22px !important;
    line-height: 26px !important;
    color: #222731 !important;
    padding-left: 0px !important;
}

.m-mega-menu__mobile-item-wrapper.bt .linkstack {
    border-top: none !important;
}

.m-mega-menu__mobile-item-wrapper.bt .m-link-stack__dropdown-wrapper .m-link-stack__list {
    margin-left: 32px !important;
    margin-top: 0px !important;
}


/** Hot-Fixes for AFA code changes **/

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (orientation: landscape) {
    .m-hero .cmp-image__image {
        object-fit: cover !important;
    }
    .m-hero .m-hero__content {
        position: initial !important;
        width: 100% !important;
    }
    .m-hero .m-hero__image,
    .m-hero .cmp-image__image {
        position: initial !important;
    }
    .m-hero.m-hero--tall .m-hero__media {
        padding-top: 0px !important;
        height: auto !important;
    }
    .m-hero__media {
        position: unset !important;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .m-hero__media,
    .m-hero__image,
    .m-hero .cmp-image__image {
        position: relative !important;
    }
    .m-hero--tall .m-hero__content {
        padding-top: var(--hero-mobile-tall-content-top-space) !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .m-hovercard .m-card__media .m-card__description {
        padding: 20px;
    }
    .m-hovercard.m-card--large.m-card--dark .m-card__normal .m-card__title,
    .m-hovercard.m-card--large.m-card--dark .m-card__description,
    .m-hovercard.m-card--large.m-card--dark .m-card__body,
    .m-hovercard.m-card--large.m-card--dark {
        height: auto !important;
    }
    .columncontrol .row .col-12.col-md-6.col-lg-6 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
}

@media (max-width: 767px) {
    .m-hovercard .m-card__media .m-card__image img.cmp-image__image {
        object-fit: contain !important;
    }
    .m-card.m-hovercard {
        pointer-events: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .m-hero__image,
    .m-hero .cmp-image__image {
        position: relative !important;
    }
}


/* Mobile view of Langugage Navigator */

@media only screen and (max-width: 992px) {
    .o-header .sticky .o-header__logo-right {
        opacity: 1 !important;
        display: flex !important;
        padding-right: 0
    }
    .o-header__logo-right {
        padding-right: 0 !important;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__country-header {
        color: var(--header-default-fg);
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text {
        padding: 0;
        font-size: 0px;
        margin-right: 15px;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text.active:before {
        content: '';
        background-color: #63666A;
        height: 64px;
        width: 64px;
        position: absolute;
        left: -17px;
        font-size: 0;
        margin: 0;
        display: block;
        top: 49%;
        transform: translateY(-50%);
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text .abt-icon-down-arrow,
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text .a-link__text--primary-country,
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text .a-link__text--primary-lang {
        display: none;
    }
    .o-header__logo-right .m-link-stack__countrylang--select.m-link-stack--border::before {
        display: none;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .flag-icon {
        margin-right: 0;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__dropdown-wrapper {
        -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 34%);
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 34%);
        border: 0;
        border-radius: 0;
        max-height: var(--link-stack-dropdown-desktop-max-height);
        padding: 0;
        margin: var(--link-stack-dropdown-margin);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: var(--link-stack-dropdown-bg-color);
        position: absolute;
        top: var(--link-stack-dropdown-desktop-top);
        width: 243px !important;
        right: 0;
        z-index: 1000;
        margin-top: 18px;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__dropdown-wrapper .m-link-stack__container {
        overflow-y: auto;
        padding-right: 0;
        max-height: 262px;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__dropdown-wrapper ul li .a-link__text .m-link-stack__country-lang {
        width: calc(100% - 135px);
        text-align: center;
    }
}


/*Hotfix for desktop focus issue*/

.o-header__mega-menu .mega-menu .navbar-collapse-wrapper .navbar-nav .m-mega-menu__mobile-item-wrapper .a-link a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


/* footer link focus  */

.footer-menu a:focus,
.footer-menu a:focus-within,
.footer-copyright a:focus,
.footer-copyright a:focus-within {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


/*Hero banner */

@media all and (min-width: 992px) and (max-width: 1024px) {
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--medium .m-hero__content {
        padding-top: 40px !important;
    }
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--medium .m-hero__image,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--medium .cmp-image__image {
        -o-object-position: right center !important;
        object-position: right center !important;
    }
}


/* AFA De/It/Es - Tablet landscape Lang Nav display fixes */

@media screen and (min-width:992px) and (max-width:1024px) {
    .o-header__logo-right {
        padding-right: 0 !important;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__country-header {
        color: var(--header-default-fg);
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text {
        padding: 0;
        font-size: 0px;
        margin-right: 15px;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text.active:before {
        content: '';
        background-color: #63666A;
        height: 64px;
        width: 64px;
        position: absolute;
        left: -17px;
        font-size: 0;
        margin: 0;
        display: block;
        top: 49%;
        transform: translateY(-50%);
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text .abt-icon-down-arrow,
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text .a-link__text--primary-country,
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .a-link__text .a-link__text--primary-lang {
        display: none;
    }
    .o-header__logo-right .m-link-stack__countrylang--select.m-link-stack--border::before {
        display: none;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__link .flag-icon {
        margin-right: 0;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__dropdown-wrapper {
        -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 34%);
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 34%);
        border: 0;
        border-radius: 0;
        max-height: var(--link-stack-dropdown-desktop-max-height);
        padding: 0;
        margin: var(--link-stack-dropdown-margin);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: var(--link-stack-dropdown-bg-color);
        position: absolute;
        top: var(--link-stack-dropdown-desktop-top);
        width: 243px !important;
        right: 0;
        z-index: 1000;
        margin-top: 18px;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__dropdown-wrapper .m-link-stack__container {
        overflow-y: auto;
        padding-right: 0;
        max-height: 262px;
    }
    .o-header__logo-right .m-link-stack__countrylang--select .m-link-stack__dropdown-wrapper::before {
        content: none;
    }
}


/*treatments page Purple section*/

@media (min-width: 992px) {
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero #treatments__banner--purple .m-hero__content,
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero #section_treatments__banner--purple .m-hero__content {
        padding-bottom: 100px !important;
    }
}


/* Hero banner Tablet Portrait mode  */

@media (min-width: 768px) and (max-width: 991.98px) {
    .m-hero.m-hero--tall .m-hero__content {
        width: 56%;
    }
    .m-hero.m-hero--tall .m-hero__content h1,
    .m-hero.m-hero--tall .m-hero__content h2 {
        padding-bottom: 10px;
    }
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--tall .m-hero__extras {
        margin-top: 10px;
    }
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--tall .a-button {
        margin-bottom: 10px !important;
        padding-bottom: 0 !important;
    }
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero.m-hero--tall .a-button .btn {
        max-width: 100% !important;
        font-size: 20px;
    }
    .m-hero.m-hero--tall.m-hero--button-vertical .m-hero__extras .a-button+.a-button {
        margin-top: 0px;
    }
    .responsivegrid:not(.cq-Editable-dom) .aem-Grid .m-hero .m-hero__content {
        padding-top: 30px !important;
    }
}

.o-product-section__content .o-product-section__custom-list {
    padding-top: 0;
}


/*Ipad nav lang */

@media (min-width: 992px) and (max-width: 1024px) {
    .o-header__secondary-top-nav.d-none {
        display: none !important;
    }
}


/* m-card hover title issue */

.m-card .m-card__title,
.m-card.m-hovercard .m-card__title {
    text-transform: initial;
}


/* Mobile nav landscape */

@media only screen and (min-width: 375px) and (max-width: 896px) {
    .m-mega-menu__mobile .navbar .navbar-toggler {
        display: block !important;
    }
    .o-header__mega-menu .navbar.navbar-expand-lg .navbar-collapse {
        position: absolute;
        z-index: 999;
        top: 0;
        display: none !important;
        left: 49px !important;
        width: calc(100% - 49px);
        height: auto !important;
        background: var(--mega-menu-mob-bg) !important;
        -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%);
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%) !important;
    }
    .o-header__mega-menu .navbar.navbar-expand-lg .navbar-toggler.abt-icon-cancel+.navbar-collapse {
        display: block !important;
    }
    .m-mega-menu__mobile .navbar-nav {
        padding: var(--mega-menu-nav-md) !important;
        display: flex !important;
        -webkit-box-orient: vertical !important;
    }
    .o-header__mega-menu .m-mega-menu__mobile-item-wrapper .m-mega-menu__mobile .navbar a,
    .m-mega-menu__mobile .link .a-link__text {
        font-size: 22px !important;
    }
}


/* AFA Sailling boad image height issue fixed for ipad */

@media (min-width: 768px) and (max-width: 991.98px) {
    .m-hero--medium #whatisafib__saillingboat .m-hero__media,
    .m-hero--medium #section_whatisafib__saillingboat .m-hero__media {
        height: 300px;
    }
}


/* POI locator */

.row-result-map--vertical .m-poi-locator-results__list-item-detail--store-name, .row.pagination-wrapper .a-pagination-title, .a-pagination__pages .a-pagination__page .a-pagination__link, .a-pagination-right-section .a-pagination-right-section__iconbox, .a-pagination-right-section .a-pagination-right-section__iconbox span {
    color: #470a68 !important;
}

.a-pagination .a-pagination__pages .a-pagination__page.a-pagination--previous .a-pagination__link.no-click, .a-pagination .a-pagination__pages .a-pagination__page.a-pagination--next .a-pagination__link.no-click{
    color: #63666a !important;
}

.a-pagination .a-pagination__pages .a-pagination__page.a-pagination--previous .a-pagination__link.no-click:hover, .a-pagination .a-pagination__pages .a-pagination__page.a-pagination--next .a-pagination__link.no-click:hover{
    color: #d9d9d6 !important;
}

.responsivegrid:not(.cq-Editable-dom) .aem-Grid>.aem-GridColumn:not(.header) .row-result-map--vertical .m-poi-locator-results__list-item-detail--visit-website.a-link,
.responsivegrid:not(.cq-Editable-dom) .aem-Grid>.aem-GridColumn:not(.header) .row-result-map--vertical .m-poi-locator-results__list-item-detail--get-direction.a-link {
    margin-bottom: 8px !important;
}

.a-pin-icon-popup__item-box.hospital, .a-pin-icon-popup__item-box.name, .a-pin-icon-popup__item-box.getdirection a {
    color: var(--poi-locator-results-list-item-store-primary-text-color) !important;
    font-size: 16px;
    line-height: 20px;
}

.m-poi-locator-results__map .m-poi-locator-results__map__pintext{
    font-family: 'brandon_grotesqueregular', Arial, sans-serif !important;
    font-weight: 500;
    padding-bottom: 10px;
}

.m-poi-locator-search-bar .m-poi-locator-search-bar__button .a-button .abt-icon{
    display: block !important;
}

.m-poi-locator-search-bar .m-poi-locator-search-bar__button .a-button--icon-right .abt-icon{
    position: absolute !important;
}

/* CVNMAEM-3872 */
.video{
    max-width: 1440px;
    margin: 0 auto;
}
.m-alert-banner {
    --alert-banner-container-max-width: 1200px;
    --alert-banner-bg-color-snow-gray: #ececeb;
    --alert-banner-padding: .75rem 2.8125rem;
    --alert-banner-font-family: brandon_grotesqueregular, Arial, sans-serif;
    --alert-banner-container-para-margin: .375rem;
    --alert-banner-icon-color: #004f71;
    --alert-banner-icon-font-size: .8125rem;
    --alert-banner-icon-right-space: .25rem;
    --alert-banner-button-border-color: 1px solid #004f71;
    --alert-banner-font-weight-bold: 450;
    --alert-banner-font-weight-light: 390;
    --alert-banner-para-dark-gray-color: #63666a;
    --alert-banner-dark-blue-color: #002a3a;
    --alert-banner-button-font-size: .8125rem;
    --alert-banner-button-border-radius-04: .25rem;
    --alert-banner-title-font-size: 1rem;
    --alert-banner-title-margin: 1rem;
    --alert-banner-title-sm-font-size: .8125rem;
    --alert-banner-title-collapsed-margin: 2.5rem;
    --alert-banner-para-font-size: .75rem;
    --alert-banner-line-height-1: 1rem;
    --alert-banner-line-height-15: 1.5rem;
    --alert-banner-mt-025: .25rem;
    --alert-banner-mr-025: .25rem;
    --alert-banner-position-top-037: .375rem;
    --alert-banner-button-position-top-075: .75rem;
    --alert-banner-position-right-1: 1rem;
    --alert-banner-container-sm-padding: 1.5rem 1rem;
    --alert-banner-container-md-padding: 1.5rem 2.5rem;
    --alert-banner-button-pl-2: 2rem;
    --alert-banner-button-pl-tab: 2.8125rem;
    --alert-banner-button-lt-space: .813px;
    --alert-banner-button-left-pc: 2rem;
    --alert-banner-button-left-tab: 1.5rem;
    --alert-banner-color-white: #fff;
    --alert-banner-bottom-padding-mobile: 1rem;
    --alert-banner-bottom-margin-mobile: 2.5rem;
    --alert-banner-left-position-mobile: 1rem;
    --alert-banner-bottom-position-mobile: 1.5rem;
    --alert-banner-button-top-space: 1rem
}

.video-js .vjs-big-play-button {
    margin: auto !important;
}
.m-video .brightCove .play-icon .btn{
    background: rgba(34, 39, 49, 0.4);
    color: #ffffff;
}
.m-video .brightCove .play-icon .btn:hover{
    background: rgba(170, 0, 97, 0.6) !important;
}
.m-video .a-video .video-js:hover .vjs-big-play-button {
    background: rgba(170, 0, 97, 0.6) !important;
}
.m-video .a-video .video-js .vjs-big-play-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: none;
    border-radius: 50%;
    font-size: 35px !important;
    background: rgba(34, 39, 49, 0.4) !important;
}

.m-video .a-video .video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress {
    background: rgba(170, 0, 97, 0.6) !important;
}
.m-video .a-video .video-js .vjs-volume-panel .vjs-volume-level {
    background: rgba(170, 0, 97, 0.6) !important;
}

/*CVNMAEM-4353*/
.m-card.m-hovercard{
    display: flex;
    flex-direction: column;
}

/* CVNMAEM-4463 */
#consent-banner{
    position:fixed;
    bottom:0;
    width:100%;
}