.m-video {
    width: var(--video-large-md-width);
	text-align: center;

	.a-video__player
	{
		.wistia_click_to_play
		{
			width: 100% !important;
 			height: auto !important;
		}
		.wistia-video__has-image
		{
			margin-bottom: 15px;
			position: relative;
			display: inline-block;
			overflow: hidden;
			color: inherit;
			&::after
			{
				display: inline-block;
				position: absolute;
				top: 50%;
				content: url("../../../clientlib-site/resources/images/play-button-12043.svg");
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&.global-video-embedDam{
			&.global-video-fallBackImage{
				background-size: var(--video-background-image-size-contain);
				background-repeat: var(--video-background-repeat);
			}
		}
	}
  
	
	.video-transcript{
		white-space: nowrap;
		font-size: 16px;
	}
	
	.video-transcript h3{
		display: inline;
		font-size: 16px;
	}
  
	&--small {
		@include media-breakpoint-up(md) {
			width: var(--video-small-md-width);
			.a-video .abt-icon {
				font-size: var(--video-small-icon-font-size);
			}
		}
    }
    &--medium {
		@include media-breakpoint-up(md) {
			width: var(--video-medium-md-width);
			.a-video .abt-icon {
				font-size: var(--video-medium-icon-font-size);
			}
		}
	}
	&--large {
		@include media-breakpoint-up(md) {
			.a-video .abt-icon {
				font-size: var(--video-large-icon-font-size);
			}
		}
	}
	&--start {
		margin-right: auto;
	}
	&--center {
		margin: 0 auto;
	}
	&--end {
		margin-left: auto;
	}
	video {
		width: var(--video-width);
		height: var(--video-height);
	}

	&--caption-light {
		.a-video__caption {
			color: var(--video-light-color);
		}
	}
	&--caption-dark {
		.a-video__caption {
			color: var(--video-dark-color);
		}
	}
}

.video.container {
	
	.m-video {
		width: var(--video-large-md-width);
		.brightCove-video{
			.video-js{
				padding-bottom: 56.25%;
			}
		}
		&--small {
			@include media-breakpoint-up(md) {
				width: var(--video-small-md-container-width);
			}
		}
		&--medium {
			@include media-breakpoint-up(md) {
				width: var(--video-medium-md-container-width);
			}
		}
	}
}

.a-video--top {
	margin-bottom: 24px !important;
	padding: 0px !important;
}
.a-video--bottom {
	margin-top: 24px !important;
	padding: 0px !important;
}
.a-video--right {
	padding-bottom: 0 !important;
    padding-top: 0 !important;
	span {
		text-align: right;
	}
}
.a-video--left {
	padding-bottom: 0 !important;
    padding-top: 0 !important;
	span {
		text-align: left;
	}
}
.a-video--center {
	padding-bottom: 0 !important;
    padding-top: 0 !important;
	span {
		text-align: center;
	}
}
.a-video {
	.bc-player-default_default {
		width: 100%;
	}
}
.generic-modal.generic-modal--image{
	.brightCove-video{
		.video-js{
			padding-bottom: 56.25%;
		}
	}
	.vjs-poster{
		background-size: cover;
	}
	.vjs-tech{
		object-fit: cover;
	}
	.a-video__player-source{
		object-fit: fill;
	}
	.video-js{
		width:100%;
	}
	.a-video__dom-video{
		width:100%;
	}
	.limelight-player {
		width: 100% !important;
		top: 0;
	}
	.a-video__embed-popup{
		width: 100%;
	}
	.vjs-big-play-button {
		width: 96px !important;
		height: 96px !important;
		line-height: 96px !important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		transform: translate(-50%, -50%) !important;
		margin-left: 0;
		margin-top: 0;
		top: 50% !important;
		left: 50% !important;
		font-size: 50px;
		border: none;
		border-radius: 50%;
		background: var(--video-hover-gray) !important;
	}

	.bc-player-default_default {
		&:hover {
			.vjs-big-play-button {
				background: var(--video-light-magenta) !important;
			}
		}
	}
}

.a-video--thumbnail {
		width: 210px !important;
		min-height: 119px !important;
		.video-js{
			height: auto !important;
			padding-bottom: 56.25%;
		}
	.limelight-player {
		min-height: 119px !important;
		width: 100% !important;
		top: 0px !important;
		background: none !important;
		padding-bottom: 56.25%;
		
	}
	
	.m-popup{
		height: 100%;
			position: absolute;
			width: 100%;
		}
	.play-icon {
		display: flex;
		height: 100%;
		position: static;
		cursor: pointer;
		img {
			width: 100% !important;
			object-fit: cover;
    		object-position: center;
		}
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			cursor: pointer;
			text-align: center;
			width: 48px;
			height: 48px;
			border-radius: 30px;
			font-size: 25px;
			padding: 0px 0px 0px 7px;
			&:hover {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;
				width: 48px;
				height: 48px;
				border-radius: 30px;
				font-size: 25px;
				padding: 0px 0px 0px 7px;
			}
		}
	}
}

.m-video--small {
		.video-js{
			height: auto !important;
			padding-bottom: 56.25%;
		}
	.limelight-player {
		width: 100% !important;
		top: 0px !important;
		background: none !important;
		padding-bottom: 56.25%;
		
	}
	
	
	.m-popup{
		height: 100%;
			position: absolute;
			width: 100%;
		}
	.play-icon {
		display: flex;
		height: 100%;
		position: static;
		img {
			width: 100% !important;
			object-fit: cover;
    		object-position: center;
		}
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			cursor: pointer;
			text-align: center;
			width: 48px;
			height: 48px;
			border-radius: 30px;
			font-size: 25px;
			padding: 0px 0px 0px 7px;
			&:hover {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;
				width: 48px;
				height: 48px;
				border-radius: 30px;
				font-size: 25px;
				padding: 0px 0px 0px 7px;
			}
		}
	}
}
.m-video--medium {
		.video-js{
			height: auto !important;
			padding-bottom: 56.25%;
		}
	.limelight-player {
		width: 100% !important;
		top: 0px !important;
		background:none !important;
		padding-bottom: 56.25%;
		
	}
	
	.m-popup{
		height: 100%;
			position: absolute;
			width: 100%;
		}
	.play-icon {
		display: flex;
		height: 100%;
		position: static;
		img {
			width: 100% !important;
			object-fit: cover;
    		object-position: center;
		}
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			cursor: pointer;
			text-align: center;
			width: 48px;
			height: 48px;
			border-radius: 30px;
			font-size: 25px;
			padding: 0px 0px 0px 7px;
			&:hover {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;
				width: 48px;
				height: 48px;
				border-radius: 30px;
				font-size: 25px;
				padding: 0px 0px 0px 7px;
			}
		}
	}
}

.a-video--large {
		.video-js{
			height: auto !important;
			padding-bottom: 56.25%;
		}
	.limelight-player {
		width: 100% !important;
		top: 0px !important;
		background: none !important;
		padding-bottom: 56.25%;
		
	}
	
	.m-popup{
		height: 100%;
			position: absolute;
			width: 100%;
		}
	.play-icon {
		display: flex;
		height: 100%;
		position: static;
		img {
			width: 100% !important;
			object-fit: cover;
    		object-position: center;
		}
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			cursor: pointer;
			text-align: center;
			width: 64px;
			height: 64px;
			border-radius: 30px;
			font-size: 25px;
			padding: 0px 0px 0px 7px;
			&:hover {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;
				width: 64px;
				height: 64px;
				border-radius: 30px;
				font-size: 25px;
				padding: 0px 0px 0px 7px;
			}
		}
	}
}

.a-video--extra-large {
		width: 770px;
		min-height: 436px !important;
		.video-js{
			height: auto !important;
			padding-bottom: 56.25%;
		}
	.limelight-player {
		min-height: 436px !important;
		top: 0px !important;
		width: 100% !important;
		background: none !important;
		padding-bottom: 56.25%;
		
	}
	
	.m-popup{
		height: 100%;
			position: absolute;
			width: 100%;
		}
	.play-icon {
		display: flex;
		height: 100%;
		position: static;
		img {
			width: 100% !important;
			object-fit: cover;
    		object-position: center;
		}
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			cursor: pointer;
			text-align: center;
			width: 64px;
			height: 64px;
			border-radius: 30px;
			font-size: 25px;
			padding: 0px 0px 0px 7px;
			&:hover {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;
				width: 64px;
				height: 64px;
				border-radius: 30px;
				font-size: 25px;
				padding: 0px 0px 0px 7px;
			}
		}
	}
}
.m-video--large {
		width: 100% !important;
		height: 100% !important;
		.video-js{
			height: auto !important;
			padding-bottom: 56.25%;
		}
	.limelight-player {
		height: auto !important;
		display: contents !important;
		width: 100% !important;
		top: 0px !important;
		background: none !important;
		padding-bottom: 56.25%;
		
	}
	
	.m-popup{
		height: 100%;
			position: absolute;
			width: 100%;
		}
	.play-icon {
		display: flex;
		height: 100%;
		position: static;
		img {
			width: 100% !important;
			object-fit: cover;
    		object-position: center;
		}
		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			cursor: pointer;
			text-align: center;
			width: 96px;
			height: 96px;
			border-radius: 96px;
			font-size: 25px;
			padding: 0px 0px 0px 7px;
			&:hover {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				cursor: pointer;
				text-align: center;
				width: 96px;
				height: 96px;
				border-radius: 96px;
				font-size: 25px;
				padding: 0px 0px 0px 7px;
			}
		}
	}
}
.modal-video-popup .a-video__dom-video {
	max-width: 100% !important;
	height: auto;
	border: 0 !important;
	-o-object-fit: cover;
	object-fit: cover;
}

@media (max-width:1024px) {
	.generic-modal.generic-modal--image{
		.vjs-poster{
			background-size: cover;
		}
		.vjs-tech{
			object-fit: cover;
		}
		.a-video__player-source{
			object-fit: fill;
		}
		.video-js{
			width:100%;
		}
		.a-video__dom-video{
			width:100%;
		}
		.m-video{
			.limelight-player{
				width: 100%;
    			background: none !important;
			}
		}
		.a-video__embed-popup{
			width: 100%;
		}
			.vjs-big-play-button {
				width: 96px !important;
				height: 96px !important;
				line-height: 96px !important;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-transform: translate(50%, 50%);
				transform: translate(50%, 50%);
				top: 40%;
				left: 45%;
				font-size: 50px;
				border: none;
				border-radius: 50%;
				background: var(--video-hover-gray) !important;
			}
		
		.bc-player-default_default {
			&:hover {
				.vjs-big-play-button {
					background: var(--video-light-magenta) !important;
				}
			}
		}
	}
}
@media (max-width:991px) {
	.a-video--extra-large {
		width: 630px;
		min-height: 436px !important;
	}
	.generic-modal{
		.m-video{
			.limelight-player {
				height: 100% !important;
			}
		} 
	} 
	.generic-modal.generic-modal--image{
		.m-video{
			.limelight-player{
				height: 100% !important;
				width: 100%;
    			background: none !important;
			}
		}
		.vjs-poster{
			background-size: cover;
		}
		.vjs-tech{
			object-fit: cover;
		}
		.a-video__player-source{
			object-fit: fill;
		}
		.video-js{
			width:100%;
		}
		.a-video__dom-video{
			width:100%;
		}
		.a-video__embed-popup{
			width: 100%;
		}
		.vjs-big-play-button {
			width: 96px !important;
			height: 96px !important;
			line-height: 96px !important;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-transform: translate(50%, 50%);
			transform: translate(50%, 50%);
			top: 40%;
			left: 45%;
			font-size: 50px;
			border: none;
			border-radius: 50%;
			background: var(--video-hover-gray) !important;
		}
	
	.bc-player-default_default {
		&:hover {
			.vjs-big-play-button {
				background: var(--video-light-magenta) !important;
			}
		}
	}
	}
	
}
@media (max-width: 767px) {
	.video-js.vjs-layout-x-small .vjs-progress-control {
		 display: block !important; 
	}
	.generic-modal.generic-modal--image{
		.video-js.vjs-layout-x-small .vjs-progress-control {
			display: block !important; 
	   }
	   .a-video__player{
		padding-bottom: 0%;
	   }
	   .generic-modal__content {
		transform: translateY(0%) !important;
	   }
		.vjs-poster{
			background-size: cover;
		}
		.vjs-tech{
			object-fit: cover;
		}
		.a-video__player-source{
			object-fit: fill;
		}
		.video-js{
			width:100%;
		}
		.a-video__dom-video{
			width:100%;
		}
		.m-video{
			.limelight-player{
				width: 100%;
    			background: none !important;
				height: 100% !important;
			}
		}
		.a-video__embed-popup{
			width: 100%;
		}
		.vjs-big-play-button {
			width: 96px !important;
			height: 96px !important;
			line-height: 96px !important;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-transform: translate(50%, 50%);
			transform: translate(50%, 50%);
			top: 30%;
			left: 35%;
			font-size: 40px;
			border: none;
			border-radius: 50%;
			background: var(--video-hover-gray) !important;
		}
	
	.bc-player-default_default {
		&:hover {
			.vjs-big-play-button {
				background: var(--video-light-magenta) !important;
			}
		}
	}
	}
	.a-video[data-playertype="embed"] {
		.bc-player-default_default {
			width: 100%;
			height: 160px;
		}
	}
	
	
	
	
	
	

	.a-video--thumbnail {
		width: 100% !important;
		min-height: auto !important;
	}
	.m-video--small {
		width: 100% !important;
		min-height: auto !important;
	}
	.m-video--medium {
		width: 100% !important;
		min-height: auto !important;
	}
	.a-video--large {
		width: 100% !important;
		min-height: auto !important;
	}
	.a-video--extra-large {
		width: 100% !important;
		min-height: auto !important;
	}
	.m-video--large {
		.a-video[data-playertype="embed"] {
			.limelight-player {
				width: 100% !important;
				height: 205px !important;
				top: 0 !important;
			}
			.brightCove-video{
				width: 100% !important;
				height: 190px !important;
				top: 0 !important;
			}
		}
	}	
}
.columncontrol{
	.m-video{
		width: 100% !important;
		min-height: auto !important;
	}
} 
.generic-modal{
	.m-video .limelight-player {
		height: 100% !important;
		top: 0;
		position: absolute;
	}
}
 
.modal.generic-modal.generic-modal--image{
	.limeLight-video-wrapper{
		height: 100% !important;
	}
} 
.generic-modal{
	.a-video__player {
		padding-bottom: 56.25% !important;
	}
}