@import 'button.scss';


.btn { 

    &--icon-left {
        .abt-icon {
          float: right;
          margin-right: 0;
          margin-left: var(--button-icon-margin-left);
          
        }
      }
    
      &--icon-right {
        .abt-icon {
          float: left;
          margin-left: 0;
          margin-right: var(--button-icon-margin-right);
        }
      }

}