<div data-sly-resource="${'socialshare' @ resourceType='adc/freestylelibrede/components/content/social-share'}"></div>
<div data-sly-use.componentModel="${'com.abbott.aem.adc.freestylelibrede.models.ComponentModel'}"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test="${!componentModel.modelJsonString}">
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=true}"></sly>
<div data-react-component="multiProductDetails" data-json-string="${componentModel.modelJsonString}"></div>