.m-poi-locator-search-bar {
	$self: &;

	&__wrap{

		border-bottom: 1px solid var(--poi-locator-search-bar-border-bottom-color);
		margin-bottom: $spacers-2;
		padding-bottom: $spacers-6; 
		@include media-breakpoint-up(lg) {
			margin-bottom: $spacers-10;
			padding-bottom: $spacers-8;
		}

	}

	&__title {
		font-size: var(--poi-locator-search-bar-title-font-size);
		line-height: var(--poi-locator-search-bar-title-line-height);
		margin-bottom: $spacers-6;
	}

	&__error{
		color: var(--poi-locator-search-bar-error-color);
		font-size: var(--poi-locator-search-bar-error-font-size);
	}

	&__input {
		.a-input-field {
			.form-group {
				.a-input-label{
					font-size: var(--poi-locator-search-bar-input-font-size);
					margin-bottom: $spacers-3;
					color: var(--poi-locator-search-bar-input-label-color);
					font-weight: 600;
				}
			}
		}
		&-field {
			width: 380px;
			height: 48px;

			&:focus {
				outline-offset: 0;
				border-color: var(--poi-locator-search-bar-input-focus-border-color);
			}
		}
	}

	&__button {
		margin-top:  var(--poi-locator-search-bar-btn-margin-top);
		.a-button {
			.btn{
				padding: $spacers-013 $spacers-4;
				width: 100%;
			}
			.abt-icon {
				display: block;
				position: static;
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
			span {
				display: none;
				@include media-breakpoint-up(lg) {
					display: block;
				}
			}
		}
	}

	&__use-location {
		margin-top: 0;
		margin-bottom: $spacers-4;
		.a-button .abt-icon {
			line-height: $spacers-4;
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			margin-top:  var(--poi-locator-search-bar-btn-margin-top);
		}
		.or-text {
			font-size: var(--poi-locator-search-bar-or-text-font-size);
			line-height: var(--poi-locator-search-bar-or-text-line-height);
			font-weight: bold;
			color: var(--poi-locator-search-bar-or-text-color);
			display: block;
			margin: 0 0 $spacers-4;
			@include media-breakpoint-up(lg) {
				margin: 0 $spacers-6 0 0;
			}
		}
	}
}