@import "./global/mixins.less";
@import './global/variables.less';

.chipslist {
	.m-chips {
		&-list {
            &__head {
                margin-bottom: 10px;

                .title {
                    h5 {
                        font-weight: normal;
                    }
                }
            }

            &__body {
                .a-chips {
                    --chips-padding: 6px 24px;
                    --chips-border-radius: 30px;
                    --chips-color: #616161;
                    --chips-list-chips-margin: 0 4px 5px 0;

                    @media @md-up {
                    	--chips-list-chips-margin: 0 4px 10px 0;
                    	--chips-padding: 8px 24px;
                    }

                    &--link {
                        background: transparent;
                        border: 1px solid #E0E0E0;
                        font-weight: 700;
                        text-transform: uppercase;
                        display: block;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}