@import "./global/mixins.less";
@import './global/variables.less';

.responsivegrid .aem-Grid .parentContainer .cmp-container>div:not(.experiencefragment) {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.responsivegrid .aem-Grid>.aem-GridColumn:not(.experiencefragment) {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#pageContent:has(.parentContainer),
.container:has(.parentContainer),
.container:has(.section2) {
    background-color: @color-ensure-blue;
}

.cc-text {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.section1 {
    .columncontrol {
        .col-12 {
            .image {
                margin-bottom: 0rem !important;
                img {
                    border-radius: 5%;
                    transition: transform .1s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .text {
                margin-top: 1.5rem !important;
            }
        }
    }
}

#parentContainer {
    scale: 0.8;
}

.section3,
.section2,
.section4,
#hamburger-menu {
    display: none;
}

.section3,
.section4 {
    position: relative;
}

#ch-head-description,
#ch-hand-description,
#ch-posture-description,
#ch-contact-description,
#cc-head-description,
#cc-hand-description,
#cc-posture-description,
#cc-contact-description,
#sl-head-description,
#sl-hand-description,
#sl-posture-description,
#sl-contact-description,
#fh-head-description,
#fh-hand-description,
#fh-posture-description,
#fh-contact-description {
    position: absolute;
    top: 350px;
    right: 40px;
    z-index: 1;
    width: 300px;
    color: @color-white;
    display: none;
}

.img-strokeLine {
    position: absolute;
    left: 100px;
    bottom: -250px;
    transform: rotate(20deg);
    scale: 0.72;
}

#icon-head,
#icon-head-hover {
    right: 410px;
    top: 290px;
}

#icon-head-hs {
    right: 110px;
    top: 275px;
}

#icon-hand,
#icon-hand-hover {
    right: 330px;
    top: 175px;
}

#icon-hand-hs {
    right: 130px;
    top: 175px;
}

#icon-posture,
#icon-posture-hover {
    right: 640px;
    top: 460px;
}

#icon-posture-hs {
    right: 490px;
    top: 460px;
}

#icon-contact,
#icon-contact-hover {
    right: 510px;
    top: 390px;
}

#icon-contact-hs {
    right: 240px;
    top: 375px;
}

#icon-head,
#icon-hand,
#icon-contact,
#icon-posture,
#icon-head-hover,
#icon-hand-hover,
#icon-contact-hover,
#icon-posture-hover {
    position: absolute;
    scale: 0.6;
}

#icon-head-hs,
#icon-hand-hs,
#icon-contact-hs,
#icon-posture-hs {
    position: absolute;
    scale: 0.5;
}

#icon-head-hover,
#icon-hand-hover,
#icon-contact-hover,
#icon-posture-hover {
    display: none;
}

#ch-hand-image,
#ch-head-image,
#ch-contact-image,
#ch-posture-image,
#cc-hand-image,
#cc-head-image,
#cc-contact-image,
#cc-posture-image,
#fh-hand-image,
#fh-head-image,
#fh-contact-image,
#fh-posture-image,
#sl-hand-image,
#sl-head-image,
#sl-contact-image,
#sl-posture-image {
    position: absolute;
    scale: .9;
    bottom: 180px;
    right: 620px;
    display: none;
}


#ch-heading,
#cc-heading,
#fh-heading,
#sl-heading {
    position: absolute;
    scale: .5;
    left: 480px;
    top: -20px;
    display: none;
}

.section4 .title {
    position: absolute;
    z-index: 1;
    top: 100px;
    font-size: 20px;
    color: @color-white;
}

#hand-heading,
#head-heading,
#contact-heading,
#posture-heading {
    display: none;
}

#head-heading {
    right: 130px;
}

#hand-heading {
    right: 165px;
}

#contact-heading {
    right: 145px;
}

#posture-heading {
    right: 180px;
}

#ch-hotspot,
#cc-hotspot,
#fh-hotspot,
#sl-hotspot {
    position: absolute;
    width: 40%;
    top: 10px;
    left: 25px;
    display: none;
}


#icon-home {
    position: absolute;
    width: 75px;
    top: 50px;
    right: 50px;
    z-index: 1;
}

.section2 #icon-replay {
    position: absolute;
    width: 75px;
    top: 350px;
    right: 50px;
    z-index: 1;
}

.section2 #icon-more-option {
    position: absolute;
    width: 100px;
    top: 470px;
    right: 50px;
    z-index: 1;
}

.section2 #icon-play {
    position: absolute;
    width: 90px;
    top: 42%;
    left: 46%;
    z-index: 1;
}

#icon-hamburger {
    position: absolute;
    width: 75px;
    top: 150px;
    right: 50px;
    z-index: 1;
}

#icon-language{
    position: absolute;
    width: 75px;
    top: 440px;
    left: 60px;
    z-index: 1;
}

.section3 #icon-back {
    position: absolute;
    width: 75px;
    top: 490px;
    right: 60px;
    z-index: 1;
}

#icon-home,
#icon-hamburger,#icon-language {
    display: none;
}


.responsivegrid .aem-Grid .video {
    padding: 0;
}

/* Dropup Button */

.dropbtn {
    background-color: transparent;
    padding: 25px;
    border: none;
}

.dropup {
    position: absolute;
    display: inline-block;
    right: 50px;
    top: 150px;
    z-index: 1;

    #ch-opt,
    #cc-opt,
    #fh-opt,
    #sl-opt {
        font-size: 20px;
    }
}

.dropup-lang {
    position: absolute;
    display: inline-block;
    left: 75px;
    top: 455px;
    z-index: 1;

    #opt-assamese,
    #opt-bengali,
    #opt-gujarati,
    #opt-hindi,
     #opt-kanada,
    #opt-malayalam,
    #opt-marathi,
    #opt-oriya,
    #opt-tamil,
    #opt-telugu{
        font-size: 20px;
    }
}

.dropup-content {
    display: none;
    position: absolute;
    right: 50px;
    top: 0px;
    min-width: 170px;
}

.dropup-lang-content {
    display: none;
    position: absolute;
    left: 45px;
    bottom: 0px;
    min-width: 170px;
}

.dropup-content a, .dropup-lang-content a {
    color: @color-white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover, .dropup-lang-content a:hover  {
    background-color: transparent
}

.dropup:hover .dropup-content, .dropup-lang:hover .dropup-lang-content  {
    display: block;
}