<sly data-sly-use.rule="com.abbott.aem.ardx.division.core.components.models.HorizontalRule"></sly>
   
    <div class="a-horizontal-rule"
        data-js-component="horizontal-rule" 
        data-rule-color="${rule.ruleColor}"
        data-rule-margin-top-pixels="${rule.ruleTopMargin}"
        data-rule-margin-botton-pixels="${rule.ruleBottomMargin}"
        data-rule-thickness-pixels="${rule.ruleThickness}"
        data-rule-margin-top-bottom-diffrent="${rule.marginCheckBox}"
        data-rule-margin-top-bottom-pixels="${rule.ruleTopAndBottomMargin}"
        ></div>