<sly data-sly-use.templates="abbott/components/content/templates.html"/>
<sly data-sly-test.addTitle = "${properties.loggedinLabel}" />
<div class="container product-container">
    <div class="product-plans">
      <div class="row">
        <div class="col-md-12">
          <div class="product-plans--title">${properties.label}</div>
        </div>
      </div>
      <div class="row product-plans__desc">
        <div class="offset-md-2 col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="trial-plan">
              <button class="product-plans__desc--btn disable-btn" disabled>
                <span class="btn-heading">Individual 6 bottles</span>
                <span class="bracket">(<span class="original-price">$11</span>)</span>
                <span class="discount-price">$5</span>
              </button>
              <div class="product-plans__desc--content">
                <span>
                  After 7 days, you’ll receive 30 shakes for $45 
                  <p class="cut">($55)</p>
                  per month & free shipping.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="trial-plan">
              <button class="product-plans__desc--btn disable-btn" disabled>
                <span class="btn-heading">Family 12 bottles</span>
                <span class="bracket">(<span class="original-price">$22</span>)</span>
                <span class="discount-price">$10</span>
              </button>
              <div class="product-plans__desc--content">
                <span>
                  After 7 days, you’ll receive 60 shakes for $85 
                  <p class="cut">($110)</p>
                  per month & free shipping.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product-plans--selectline">${properties.marketingText}</div>
      </div>
    </div>
    </div>
  </div>
 <sly data-sly-call="${templates.placeholder @ isEmpty= !addTitle}"></sly> 