.banner--prelogin {

    font-size: @font-size-banner-desc;
    line-height: 30px;
    color: @color-light-grey;

    .cmp-text a {
        color: @color-yellow;
    }

    .screen-below(@screen-lg, {
        font-size: @font-size-body-text;
        line-height: 24px;
    });

    .screen-below(@screen-sm, {
        line-height: 28px;
    });

    h1 {
        font: @font-size-banner-title/68px @font-family-brandon-regular;
        letter-spacing: normal;
        color: @color-white;
        text-transform: uppercase;
        margin-bottom: 10px;
        
        strong, b {
            font-family: @font-family-brandon-bold;
        }

        .screen-below(@screen-lg, {
            font-size: @font-size-title-l3;
            line-height: 44px;
        });

        .screen-below(@screen-sm, {
            line-height: 38px;
        });
    }
    
    .container-fluid {
        max-width: none;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 0;
    }

    .screen-below(@screen-sm, {
        .a-container__column:first-child {
            padding-bottom: 20px;
        }

        .a-container__column:last-child {
            padding-top: 0;
        }
    });
}
