.m-error-page {
    
    .m-error-page {
        &__bg-img{
            min-height: 100vh;
            object-fit: cover;

            .cq-Editable-dom & {
                min-height: 200px;
            }
        }

        &__content {
            top: 139px;
            max-width: 100%;
            position: relative;
        }
    }

    background-color: @color-light-grey-300;

    .error-title {
            
        h1 {
            font: bold @font-size-error-title @font-family-default;
            line-height: 72px;
            color: @color-dark-grey;
            margin-bottom: 20px;
        }
    }

    .cmp-text {
        font-size: @font-size-title-l4;
        line-height: 24px;
        color: @color-dark-grey;

        p {
            margin-bottom: 18px;
        }

        a {
            color: @color-primary;
            font-weight: bold;
            font-size: @font-size-medium-text;
            line-height: 38px;
            text-decoration: none;
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

}    