.favorites {
    &-container {
        min-height: ~"calc(100vh - 367px)";
        background-color: @color-light-grey-300;

        .cq-Editable-dom & {
            min-height: 300px;
        }

    }
    
    &-header {
        display: flex;
        justify-content: space-between;
        padding: 36px 0 25px;
        border-bottom: 1px solid @color-light-grey;
        
        .cmp-title__text {
            font: bold @font-size-large-text @font-family-default;
            color: @color-dark-grey;
            line-height: 22px;
            letter-spacing: 0;
            margin: 0;
            padding: 0;
        }

        &__buttons {
            button {
                display: inline-block;
                border: none;
                padding: 0;
                margin: 0 0 0 15px;
                background: none;
                outline: none;
                box-shadow: none;
                color: @color-dark-grey-100;
                font-size: @font-size-large-text;

                &:first-child {
                    margin: 0;
                    font-size: @font-size-medium-text;
                }

                &.active {
                    color: @color-primary;
                    pointer-events: none;
                }
            }
        }
    }

    &-products-wrapper {
        padding-bottom: 30px;

        .m-card__btn--favourite {
            .abt-icon {
                color: @color-error;
            }
        }
    }
}