.a-rule {

    /* Style option - gray color horizontal rule */
    &.a-rule--gray {
        color: @color-grey;
    }

    /* Style option - horizontal rule width updates as per ux design */
    &.a-rule__beyond-container {
        margin: auto;

        @media(max-width:575.98px) {
            max-width: calc(100% - 5px);
        }

        @media(min-width:576px) {
            max-width: 576px;
        }

        @media(min-width:768px) {
            max-width: 768px;
        }

        @media(min-width:992px) {
            max-width: 992px;
        }

        @media(min-width:1200px) {
            max-width: 1200px;
        }
    }
}