.accordion {
    margin-top: 0px !important;
    padding: 0px 0px 20px 0px !important;
    @media @lg-down {
        padding: 40px 16px !important;
    }
    .m-accordion {     
        .m-accordion__collapse-title, .m-accordion__expand-title {
            font-family: @brandonregular;
            .font-size(14px, 20px);
            color: @color-black;
            margin-right: -6px;
        }
    }
    .m-accordion__content {
        .m-accordion__header {
            .m-accordion__title-wrapper {
                padding:16px;
                h3 {
                    font-family: @brandonregular;
                    .font-size(18px, 24px);
                    color: @color-black;
                    @media @lg-down {
                        .font-size(18px, 24px);
                    }
                }
            }
            .m-accordion__icon-wrapper {
                .abt-icon-plus, .abt-icon-minus, .abt-icon-plus-bold, .abt-icon-minus-bold {
                    &::before {
                        width: 14px;
                        height: 14px;
                        color: @color-black;
                        font-size: 16px;
                        content: "\e912";
                    }
                }
                .abt-icon-minus, .abt-icon-minus-bold {
                    &::before {
                        content: "\e911";
                    }
                }
            }
        }
        .m-accordion__body {
            padding-bottom: 15px;
            padding-top:0;
            .cmp-accordion__panel {
                .cmp-text {
                    p {
                        font-family: @brandonregular;
                        .font-size(18px, 21.6px);
                        a {
                            text-decoration: underline;
                            font-family: @brandonregular;
                            color: @color-black;
                            .font-size(18px, 21.4px);
                            &:hover {
                                color: @color-black;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .accordion-points {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            padding: 0;
            margin-bottom: 7px;
            justify-content: center;
            align-items: center;
            li {
                width: 240px;
                padding: 8px 16px;
                margin: 8px 5px;
                color:@color-black;
                font-family: @brandonbold;
                background-color: @color-aqua;
                border-radius: 20px;
                @media @md-down {
                    .font-size(14px, 20px);
                    width: 200px;
                }
            }
        }
    }
}

#product-site-accordian{
    .m-accordion__content {
        @media @lg-only {
            padding: 0 80px;
        }
        &-items {
            border-top: 1px solid @color-black;
            .m-accordion__header {
                .m-accordion__title-wrapper h3 {
                    font-family: @brandonblack;
                }
            }
        }
        &-items:last-child {
            border-bottom: 1px solid @color-black;
        }
    }
}

#product-detail-accordion {
    .accordion {
        padding: 0 !important;
        .m-accordion__content {
            .m-accordion__content-items {
                border: none;
            }
            .m-accordion__header {
                border-top: 1px solid @brand-grey;
                border-bottom: 1px solid @brand-grey;
                .m-accordion__title-wrapper {
                    h3 {
                        font-family: @brandonbold;
                    }
                }
            }
            .m-accordion__body {
                padding: 15px 16px 0;
                .cmp-accordion__panel {
                    .text {
                        margin: 0 !important;
                        .product-info-row {
                            .font-size(14px, 20px);
                            margin: 0;
                            color: @color-black;
                            padding: 8px 0;
                            border-bottom: 1px solid @color-charcoal;
                            .text-right {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}