

.sitemap {
    .cmp-navigation {
        &__group {
            padding-left: 0px;
            margin: 0;
            .cmp-navigation__item--level-0 {
                margin-bottom: 0;
                margin-top: 20px;
                list-style: none;
            }
            .cmp-navigation__item--level-1 {
                margin: 0;
                &:before {
                    content: '';
                }
                .cmp-navigation__item-link {
                     font-family: @brandonregular;
                }
            }
        }
        &__item-link {
            padding: 5px 0;
            .font-size(14px, 20px);
            font-family: @brandonbold;
            color: #5E5E5E;
            text-decoration: none;
            &:hover {
                color: @color-charcoal;
                text-decoration: none;
            }
        }
        &__item--level-1, &__item--level-2, &__item--level-3 {
            list-style: none;
            &:before {
                content: '\ea0b';
                position: absolute;
                font-family: 'Abbott-icon', Helvetica, Arial, sans-serif;
                margin-left: -20px;
                margin-top: 1px;
                font-size: 8px;
            }
        }
    }
}