<sly data-sly-test="${wcmmode.edit}"> Edit BlueDoor Login Here ... </sly>
<div class="cmp-bluedoorLogin" 
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.componentModel="${'com.abbott.aem.adc.freestylelibrede.models.ComponentModel'}"
    data-sly-test="${!componentModel.modelJsonString}">
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=true}"></sly>
<div data-react-component="bluedoorLogin" data-json-string="${componentModel.modelJsonString}"></div>