    @import "common-imports";
    // Base
    [data-login="true"] {
        display: none;
    }
    
    .bg-gradient-primary-light {
        @include gradient-x($blue, $cyan);
    }
    
    .bg-gradient-light-primary {
        @include gradient-x($cyan, $blue);
    }
    
    .icon-svg {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
    }
    
    .sim-icon {
        width: 30px;
        height: 27px;
    }
    
    @include media-breakpoint-up(lg) {
        .telNumber {
            pointer-events: none;
            color: inherit;
        }
    }
    
    .breadcrumb {
        margin-bottom: 18px;
        li {
            font-family: $font-roboto-reg;
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            color: #777777;
        }
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2.125rem;
    }
    
    p {
        font-size: 1.125rem;
    }
    
    ul {
        li {
            font-family: $font-roboto-reg;
            font-size: 1.125rem;
            line-height: 1.33;
            color: $smalt;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            margin: 0;
        }
        .bolderText {
            font-weight: 700;
        }
    }
    
    ol {
        li {
            font-family: $font-roboto-reg;
            font-size: 1.125rem;
            line-height: 1.33;
            color: $smalt;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            margin: 0;
        }
        .bolderText {
            font-weight: 700;
        }
    }
    
    .footnote {
        font-size: 0.75rem;
        line-height: normal;
        font-weight: normal;
        display: inline-block;
        color: $smalt;
        margin-bottom: 1rem;
        p {
            font-size: 0.75rem;
            line-height: normal;
            font-weight: normal;
            display: inline-block;
            color: $smalt;
        }
    }
    
    .padding0 {
        padding: 0 0 0 0;
    }
    
    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: none;
    }
    
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-image: none;
        background-color: $tangerine;
    }
    
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.5);
    }
    
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        color: $tangerine;
        background-image: none;
        border: solid 3px $tangerine;
        background-color: rgba(254, 158, 31, 0.1);
        box-shadow: none;
    }
    
    .btn-secondary:focus,
    .btn-secondary.focus,
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: none;
    }
    
    .popover {
        &.temp {
                      
            &.bs-popover-bottom {
                max-width: 540px;
                @media (max-width: 767px) {
                    max-width: 97%;
                }
            }
            &.bs-popover-top {
                max-width: 540px;
                @media (max-width: 767px) {
                    max-width: 97%;
                }
            }
            .popover-body {
                p:last-child {
                    margin-bottom: 0;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    
    .auto-shrink {
        flex: 0 0 auto !important;
    }
    
    .auto-expand {
        flex: 1 1 0 !important;
    }
    
    .ReactCollapse--collapse {
        transition: height 500ms;
    }
    
    .container {
        &.breadcrumb-container {
            .cmp-breadcrumb__list {
                padding: 0 !important;
            }
        }
    }
    
    [data-fun] {
        cursor: pointer;
    }
    
    h1,
    h2,
    h3 {
        color: $smalt;
        font-weight: bold;
        font-family: $font-brandon-text-bold;
        &.updatedTitleFont {
            font-size: 2.125rem;
            line-height: 2.688rem;
            @media (max-width: 991px) {
                font-size: 1.75rem;
                line-height: 2.25rem;
            }
        }
    }
    
    .font-medium {
        font-weight: 500;
    }
    
    .pageLink {
        color: $tangerine;
        text-decoration: underline;
    }
    .color-tangerline{
        color: $tangerine;
    }
    
    .text-mild-red {
        color: $mild-red;
    }
    
    .text-black {
        color: $black;
    }
    
    .text-white {
        color: $white;
    }
    
    .text-bg-mild-red {
        background: $mild-red;
    }
    
    .text-mild-orange {
        color: $mild-orange;
    }
    
    h2,
    h3,
    h1 {
        &.aquaShadowedTitle {
            padding: 0.438rem 0 0.625rem 0.438rem;
            background: $alice-blue;
        }
    }
    
    h2,
    h3,
    h1 {
        &.shadowedTitle {
            color: $white;
            background-color: $pine-green;
            padding: .438rem 2.438rem .625rem .438rem;
        }
    }
    
    .content-image-table {
        td {
            text-align: center;
            padding: 0.75rem;
            p {
                margin-bottom: 0 !important;
            }
        }
    }
    /**
 * Animated pie chart - style loader with CSS
 * Based in http://dabblet.com/gist/127de0e3bb8ae0bbb75b from Lea Verou
 */
    
    @keyframes spin-rotate {
        to {
            transform: rotate(.5turn);
        }
    }
    
    @keyframes spin-color {
        25% {
            background-color: currentColor;
        }
        75% {
            background-color: inherit;
        }
    }
    
    @keyframes bg-pie {
        50% {
            background-position: 50px;
        }
    }
    
    .pie {
        position: relative;
        /* color 1 */
        background-color: #fff;
        border: 2px soild #fff;
        /* color 2 */
        color: #0074d9;
        /* circle radius */
        height: 100px;
        width: 100px;
        background-image: linear-gradient(90deg, transparent 50%, currentColor 0);
        border-radius: 50%;
        overflow: hidden;
        animation: bg-pie 12s step-end infinite;
    }
    
    .text-overlay {
        content: "";
        z-index: 500;
        background-color: #fff;
        height: 75px;
        width: 75px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    
    .pie:before {
        background-color: inherit;
        border-radius: 0 100% 100% 0 / 50%;
        content: '';
        display: block;
        margin-left: 50%;
        height: 100%;
        transform-origin: left;
        animation: spin-rotate 3s linear infinite, spin-color 12s step-end infinite;
    }
    
    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 10;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }
    
    .pie {
        top: 50%;
        left: 50%;
        font-size: 3.125rem;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .field-loader {
        text-align: center;
        width: 3.375rem;
        height: 1.25rem;
        border: solid 1px #cccccc;
        margin: 0 auto;
        display: none;
    }
    .field-login-loader.field-loader {
        display: block;
    }
    
    .bullet-wrap {
        display: inline-block;
        vertical-align: super;
        margin-top: 5px;
    }
    
    .bullet {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 0.375rem;
        background-color: #007db3;
        display: block;
        border-radius: 50%;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    
    .bullet:first-child {
        margin-left: 0;
    }
    
    .bullet {
        -webkit-animation: fader 1.5s infinite;
        -moz-animation: fader 1.5s infinite;
        -o-animation: fader 1.5s infinite;
        animation: fader 1.5s infinite;
    }
    
    .b-2 {
        animation-delay: 0.4s;
    }
    
    .b-3 {
        animation-delay: 0.6s;
    }
    
    @-webkit-keyframes fader {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.25;
        }
    }
    
    @-moz-keyframes fader {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.25;
        }
    }
    
    @-o-keyframes fader {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.25;
        }
    }
    
    @keyframes fader {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.25;
        }
    }
    
    .text p.bordered-para-content {
        font-style: italic;
        color: #474747;
        padding: 0 0 0 2rem;
        border-left: 1px solid #474747;
        font-family: roboto;
        line-height: 1.813rem;
        font-size: 1.25rem;
    }
    
    .welcome-image {
        img {
            max-width: 210px;
            margin: 0 auto;
        }
    }
    
    .para-content h3,
    .para-content h2, #top .para-content h1 {
        overflow-wrap: break-word;
        word-break: break-word;
    }
    #top .para-content h1 {
        font-size: 2.125rem;
        font-weight: 700;
        color: #002f87;
        font-family: BrandonText, Arial, sans-serif;
        margin-bottom: 1rem;
        @media (max-width: 767.98px) {
            font-size: 1.75rem;
        }
    }

    .show-in-header {
        display: inline-block !important;
        &.d-none {
            display: none !important;
        }
    }
    
    .videoPlayerWrapper {
        img {
            width: 100%;
        }
        @media (max-width: 767px) {
            iframe {
                width: 100%;
            }
        }
    }
    
    .table-responsive {
        width: fit-content;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    
    header {
        .show-in-header {
            display: inline-block !important;
            &.d-none {
                display: none !important;
            }
        }
        .sm-nav {
            .show-in-header {
                display: none !important;
            }
        }
    }
    
    .logo-align {
        text-align: right;
        width: 100%;
        max-width: 100% !important;
    }
    
    .retailer-customwrapper {
        .retailer-customclass {
            padding-left: 30px;
            padding-top: 6px;
            @media (max-width: 767px) {
                padding-left: 10px;
                padding-top: 0px;
            }
        }
        @media (max-width: 767px) {
            padding-top: 1.25px !important;
        }
    }
    

    .pampers_club_text{
        border: 1px solid #7F7F7F;
        .hero-wrapper{
            .hero-content-wrapper{
                padding: 1rem;
                @media (max-width: 767px) {
                    padding: 1rem 0;
                }
                .hero-content{
                    .header{
                        font-size: 2.5rem;
                        line-height: 3rem;
                        @media (max-width: 767px) {
                            font-size: 2.125rem;
                            line-height: 2.688rem;
                        } 
                    }
                }
            } 
        }
    }
    
    @media screen and (min-width:768px) and (max-width:992px) {
        .formula-finder-device .column-control .row .col-lg-8.mb-1_875,
        .formula-finder-device .column-control .row .col-lg-4 {
            width: 50%;
        }
        .formula-finder-device .column-control .row .col-lg-4 .row .col-sm-6.col-lg-12.col-md-6.col-xl-12.mb-1_875 {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 7.375rem;
        }
        .formula-finder-device .column-control .row .col-lg-4 .row .col-sm-6.col-lg-12.col-md-6.col-xl-12.mb-1_875 .card-img-top.lazy.cmp-image__image {
            width: 317px;
        }
        .formula-finder-device .column-control .row .col-lg-8.mb-1_875 .cmp-teaser__action-container.card-body.row.align-items-center .col-sm-12.col-md-3.buttons {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 0px;
        }
        .formula-finder-device .column-control .row .col-lg-8.mb-1_875 .cmp-teaser__action-container.card-body.row.align-items-center .col-sm-12.col-md-3.buttons:last-child {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 1.938rem;
        }
    }
    
    @media screen and (max-width:767px) {
        .formula-finder-device .column-control .row .col-lg-8.mb-1_875 .cmp-teaser__action-container.card-body.row.align-items-center .col-sm-12.col-md-3.buttons {
            margin-bottom: 1.875rem;
        }
    }
    
    .formula-finder-device .cmp-teaser__action-container.card-body .add-cart,
    .formula-finder-device .cmp-teaser__action-container.card-body .col-sm-12.col-md-3.buttons+.col-sm-12.col-md-3.buttons .btn.btn-primary.w-100.btn-half {
        display: block;
    }
    
    @media screen and (min-width:992px) {
        .formula-finder-device .cmp-teaser__action-container.card-body .col-sm-12.col-md-3.buttons:first-child {
            padding-left: 0;
        }
    }
    
    
    
    .page-hyperlink a {
        color: #fe9e1f;
    }
    
    .mark,
    mark {
        padding: 0 .2rem;
        background-color: $tangerine;
        color: $white;
    }
    
    .para-content {
        .footnote {
            font-family: Roboto;
            font-size: 0.75rem;
            line-height: normal;
            font-weight: normal;
            color: #002f87;
            display: block;
            p {
                font-family: Roboto;
                font-size: 0.75rem;
                line-height: normal;
                font-weight: normal;
                color: #002f87;
                height: 1rem;
            }
        }
    }
    
    .similac-form {
        .footnote {
            font-family: Roboto;
            font-size: 0.75rem;
            line-height: normal;
            font-weight: normal;
            color: #002f87;
            margin-bottom: 0;
            p {
                font-family: Roboto;
                font-size: 0.75rem;
                line-height: normal;
                font-weight: normal;
                color: #002f87;
                height: 1rem;
            }
        }
    }
    
    .container.breadcrumb-container {
        margin-top: 0.938rem;
        margin-bottom: 1.875rem;
    }
    
    
    @media screen and (max-width:767px) {
        p.also-view-title {
            margin-top: 2.13rem;
        }
        .disruptor-wrapper .disruptor-content {
            margin-top: 1.4375rem;
        }
        .disruptor-wrapper .list-wrapper .list-item:last-child {
            margin-bottom: 1.875rem;
        }
        .disruptor-wrapper {
            border-bottom: 10px solid #029ce8;
        }
        .pdp-tabs .cmp-tabs__tab-mobile-title {
            font-family: Roboto, Arial, sans-serif;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.5;
        }
        .pdp-tabs .pdp-tab__product-desc p {
            font-size: 1rem;
        }
        .pdp-tabs .pdp-tab__nutri-info-title {
            margin-top: 0 !important;
            font-size: 1rem !important;
        }
        .pdp-tabs .pdp-tab__nutri-info-text {
            font-size: 1rem !important;
        }
        .pdp-tabs .pdp-tab__nutri-info-wrapper:not(:last-of-type) {
            margin-top: -1.5rem !important;
        }
        .pdp-tabs .pdp-tab__nutri-info-table-head {
            background-color: #e5f2f7;
        }
        .pdp-tabs .pdp-tab__product-comp-displayInfo p {
            font-weight: 400 !important;
        }
    }
    
    @media (min-width: 767px) and (max-width: 992px) {
        .pdp-tabs .pdp-tab__nutri-info-table-head {
            background-color: #e5f2f7;
            font-weight: 500;
        }
    }
    /* -- Signup page fix **/
    
    @media (min-width: 767px) and (max-width: 992px) {
        .cmp-container.fast_reg.registration_custom {
            h1,
            h2,
            h3 {
                &.updatedTitleFont {
                    margin-bottom: 1.875rem;
                }
            }
            .reversible-cart-block {
                h3.cmp-teaser__title {
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                }
            }
        }
    }
    
    @media (min-width: 768px) {
        .bdcrumb+.row-container+.container.responsivegrid .register-btn {
            a {
                .btn.btn-secondary.col-lg-5.col-md-6.col-xs-12 {
                    color: rgba(254, 158, 31, 1) !important;
                    font-size: 1.3125rem;
                    padding-right: 1.1875rem;
                }
            }
        }
    }
    
    @media (min-width: 1200px) {
        .set-max-65 {
            max-width: 65%;
            flex: 0 0 65%;
        }
    }
    
    @include media-breakpoint-up(lg) {
        .w-lg-85 {
            width: 85% !important;
        }
    }
    
    @media (min-width: 1024px) {
        .margin-right30 {
            margin-right: 30px;
        }
    }
    
    @media (min-width: 768px) {
        #my_offers {
            .row.bg-alice-blue.py-4.mb-4.mx-0 {
                padding-top: 1.25rem!important;
            }
            .btn.btn-primary.col-12.col-lg-8.mt-3 {
                font-size: 1.125rem;
                line-height: 1.125rem;
                padding: 11px;
            }
        }
    }
    
    @media (max-width: 767px) {
        #left-side-menu-container {
            .side-nav-mob.mb-1_375.d-block.d-md-none {
                margin-bottom: 0.625rem !important;
            }
        }
        #my_offers {
            .row.bg-alice-blue.py-4.mb-4.mx-0 {
                padding-top: 0.938rem!important;
            }
            .profile__title {
                font-size: 1.75rem;
                line-height: 2.25rem;
                text-align: center;
            }
            .btn.btn-primary.col-12.col-lg-8.mt-3 {
                font-size: 1.125rem;
                line-height: 1.125rem;
                padding: 11px;
            }
        }
    }
    
    .cmp-teaser__description.card-text ul li {
        font-family: BrandonText, Arial, sans-serif;
        font-size: 1.75rem;
        line-height: 2.25;
    }
    
    .pdp-tab__nutri-info-wrapper .pdp-tab__nutri-info-table-title {
        &.blue {
            background: #c3d9e7;
        }
        &.yellow {
            background: #fceecf;
        }
        &.teal {
            background: #c6e3e0;
        }
        &.purple {
            background: #dfcbe4;
        }
        &.orange {
            background: #fad9c9;
        }
        &.green {
            background: #cce6ca;
        }
    }
    
    .pdp-tab__nutri-info-wrapper .pdp-tab__nutri-info-table-head {
        &.blue {
            background: #e7eff5;
        }
        &.yellow {
            background: #fdf8eb;
        }
        &.teal {
            background: #e8f3f2;
        }
        &.purple {
            background: #f2eaf4;
        }
        &.orange {
            background: #fdefe9;
        }
        &.green {
            background: #e5f7eb
        }
    }
    
    .pdp-tab__nutri-info-wrapper .pdp-tab__nutri-info-table {
        &.blue {
            border-bottom-color: #c3d9e7;
        }
        &.yellow {
            border-bottom-color: #fceecf;
        }
        &.teal {
            border-bottom-color: #c6e3e0;
        }
        &.purple {
            border-bottom-color: #dfcbe4;
        }
        &.orange {
            border-bottom-color: #fad9c9;
        }
        &.green {
            border-bottom-color: #cce6ca;
        }
    }
    
    .filtercolorcode {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 8px;
    }
    
    @media (max-width:767px) and (min-width:712px) and (orientation:portrait) {
        .swal-modal.similac-modal {
            max-width: 40rem !important;
        }
    }
    
    #updatepassword-popup,
    #updatePasswordConfirm-popup {
        h3 {
            margin-bottom: 0;
            font-size: 1.5rem;
            text-align: left;
            color: #fff;
        }
        .modal-body {
            padding: 30px 15px;
            max-width: 100%;
            margin: 0;
            .content-sec {
                .btn-sec {
                    display: flex;
                    justify-content: flex-end;
                    .cancelbtn {
                        background: transparent;
                        color: #fe9e1f;
                        margin-right: 24px;
                    }
                    .btn.btn-primary {
                        margin-right: 100px;
                    }
                }
            }
        }
    }
    
    a.no-sup-underline {
        text-decoration: none;
    }
    
    .text h2.smalt1 {
        color: $smalt1;
    }
    
    .subscribe .container {
        padding: 0 15px;
    }
    
    .w-255-h-204 {
        max-width: 285px;
        height: 204px;
    }
    
    .w-160-h-160 {
        max-width: 160px;
        max-height: 160px;
        @include media-breakpoint-down(sm) {
            max-width: 158px;
            max-height: 158px;
        }
    }
    
    @media screen and (min-width:768px) {
        .desktop-menu-update {
            width: 100%;
        }
        #fastRegistration {
            p.membership-info {
                font-size: 1rem;
                line-height: 1.375rem;
            }
            .similac-form .similac-form-group .similac-label-floating {
                line-height: 1.5;
            }
        }
    }
    
    @media screen and (min-width:768px) {
        .bg-white.pb-none {
            .cmp-container {
                .title {
                    h1 {
                        color: rgba(1, 53, 146, 1);
                        font-family: BrandonText;
                        font-weight: 700;
                        line-height: 2.6875rem;
                        font-size: 2.125rem;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:767px) {
        .bg-white.pb-none {
            .cmp-container {
                .title {
                    h1 {
                        font-size: 1.75rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width:768px) {
        .diaper-decoder-left {
            h4 {
                margin-bottom: 0.625rem;
            }
        }
    }
    
    @media screen and (max-width:767px) {
        .diaper-decoder__title {
            font-size: 1.75rem !important;
            line-height: 2.25rem;
        }
        .diaper-decoder-left {
            h4 {
                margin-bottom: 0.625rem;
            }
        }
    }
    
    div#digitalOfferRetailerSignIn .similac-form .info-component .sim-icon {
        vertical-align: text-bottom;
    }
    
    div#digitalOfferRetailerSignIn span span {
        color: #002f87;
    }
    
    div#digitalOfferRetailerSignIn span {
        display: inline-block;
        vertical-align: top;
    }
    div#digitalOfferRetailerSignIn .footnote span {
        display: inline-block;
        vertical-align: super;
    }
    
    div#digitalOfferRetailerSignIn .similac-form .divider+h2+.form-group {
        margin-bottom: 0.5rem;
    }
    div#digitalOfferRetailerSignIn .similac-form a {
        font-family: BrandonText,Arial,sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.125rem;
    }
    div#digitalOfferSignIn .similac-form a {
        font-family: BrandonText,Arial,sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.125rem;
    }
    div#digitalOfferRetailerSignIn .similac-form h2{
        margin-top:0 !important;
    }
    div#retailer_banner .video-player{
        height: 17.313rem;
    }
    @media screen and (max-width: 991.98px) {
        div#retailer_banner .video-player {
            height:21.25rem;
        }
    }
    
    @media screen and (max-width:767px) {
        div#digitalOfferRetailerSignIn span {
            display: inline;
        }
    }
    
    .btn-removeemail {
        background: transparent !important;
        color: #fe9e1f;
        font-family: Roboto;
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        padding: 0 0 !important;
    }
    .benifitAndSupport a.btn.btn-primary {
        width: 100%;
    }
    
    .benifitAndSupport .col-12.col-md-5.col-lg-3.col-sm-12.align-self-center {
        margin: 0 auto;
    }
    .reversible-cart-block div p.footnote {
        font-size: .75rem;
        line-height: normal;
        font-weight: 400;
        display: inline-block;
        color: #002f87;
    }

    hr.text-smalt-hr {
        border-color: #002f87!important;
    }
    
        .para-content .title-heading h2,
        .text .title-heading h2 {
            font-family: BrandonText, Arial, sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #002f87;
            margin: 0 0 1rem;
        }
        
/*code added for Similac Wolf page innovation*/
@media screen and (max-width:767px) {
    section.hero-section .hero-wrapper .hero-content-wrapper .hero-content {
        margin: 0 auto;
    }
    section.hero-section .hero-wrapper .hero-content-wrapper .hero-content .description {
        width: 96%;
    }
    section.hero-section .hero-wrapper .hero-content-wrapper .hero-content .description .innovation-cmp-des {
        text-align: center;
    }
    #similac_total_care .cmp-teaser__title br {
        display: none;
    }
    #similac_total_care .reversible-cart-block{      
        margin:-50px auto;
    }
    #similac_total_care .reversible-cart-block h3 {
        font-size: 28px;
        margin-bottom: 50px;
        margin-top: 0px;
    }
    #similac_total_care .reversible-cart-block .cmp-teaser__title {
        padding: 0 45px;
    }
    #similac_total_care .reversible-cart-block.row {
        flex-direction: column-reverse;
        position: relative;
    }
    #similac_total_care .reversible-cart-block.row.col-lg-7,
    #similac_total_care .reversible-cart-block.row.col-lg-5,
    #similac_total_care .reversible-cart-block.row.col-lg-12,
    #similac_total_care .reversible-cart-block.row .col-lg-5,
    #similac_total_care .col-lg-5 .row .col-lg-12 {
        position: static;
    }
    #similac_total_care .cmp-teaser__action-container.card-buttons.row.align-items-center {
        position: static;
    }
    #similac_total_care .cmp-teaser__action-container.card-buttons.row.align-items-center .col-sm-12.col-md-6 {
        position: absolute;
        top: 90%;
    }
    #similac_total_care .reversible-cart-block.row .col-lg-7.mb-1_875 {
        margin-bottom: 3.5rem;
    }
    section#similac_total_care.py-2_625 {
        padding-top: 0px;
    }
    .hero-wrapper .hero-content-wrapper .container .hero-content .header[data-gtm="banner|click|innovation_also-available-for-sensitive-tummies_link"] {
        margin-top: 1rem;
    }
    .hero-wrapper .hero-content-wrapper .container .hero-content .header[data-gtm="banner|click|innovation_also-available-in-an-option-for-sensitive-tummies_link"] {
        margin-top: 1rem;
    }
}

/* iPad pro innovation page button fix.*/
@media only screen and (min-width: 1024px) and (max-width: 1366px){
    #similac_total_care .reversible-cart-block{
        top: -6rem
    }
    #similac_total_care .cmp-teaser__action-container.card-buttons.row.align-items-center .col-sm-12.col-md-6{
        position: absolute;
        top: 28rem;
        left: 12%;
    }
}
section#similac_total_care {
    background-image: linear-gradient(#006fb5, #71d1f6);
}
.row-container.aem-GridColumn.aem-GridColumn--default--12 { 
    margin: 0 auto; 
    max-width: 1440px; 
}

.m-alert-banner {
    --alert-banner-container-max-width: 1200px;
    --alert-banner-bg-color-snow-gray: #ececeb;
    --alert-banner-padding: .75rem 2.8125rem;
    --alert-banner-font-family:  brandon_grotesqueregular,Arial,sans-serif;
    --alert-banner-container-para-margin: .375rem;
    --alert-banner-icon-color: #004f71;
    --alert-banner-icon-font-size: .8125rem;
    --alert-banner-icon-right-space: .25rem;
    --alert-banner-button-border-color: 1px solid #004f71;
    --alert-banner-font-weight-bold: 450;
    --alert-banner-font-weight-light: 390;
    --alert-banner-para-dark-gray-color: #63666a;
    --alert-banner-dark-blue-color: #002a3a;
    --alert-banner-button-font-size: .8125rem;
    --alert-banner-button-border-radius-04: .25rem;
    --alert-banner-title-font-size: 1rem;
    --alert-banner-title-margin: 1rem;
    --alert-banner-title-sm-font-size: .8125rem;
    --alert-banner-title-collapsed-margin: 2.5rem;
    --alert-banner-para-font-size: .75rem;
    --alert-banner-line-height-1: 1rem;
    --alert-banner-line-height-15: 1.5rem;
    --alert-banner-mt-025: .25rem;
    --alert-banner-mr-025: .25rem;
    --alert-banner-position-top-037: .375rem;
    --alert-banner-button-position-top-075: .75rem;
    --alert-banner-position-right-1: 1rem;
    --alert-banner-container-sm-padding: 1.5rem 1rem;
    --alert-banner-container-md-padding: 1.5rem 2.5rem;
    --alert-banner-button-pl-2: 2rem;
    --alert-banner-button-pl-tab: 2.8125rem;
    --alert-banner-button-lt-space: .813px;
    --alert-banner-button-left-pc: 2rem;
    --alert-banner-button-left-tab: 1.5rem;
    --alert-banner-color-white: #fff;
    --alert-banner-bottom-padding-mobile: 1rem;
    --alert-banner-bottom-margin-mobile: 2.5rem;
    --alert-banner-left-position-mobile: 1rem;
    --alert-banner-bottom-position-mobile: 1.5rem;
    --alert-banner-button-top-space: 1rem;
    background-color: var(--alert-banner-bg-color-snow-gray);
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    .d-none {
        display: none !important;
    }
    .abt-icon-up-arrow{
        &::before{
            content: "";
        }
    }
    .abt-icon-down-arrow{
        &::before{
            content: "";
        }
    }
}
.m-alert-banner__icon {
    color: var(--alert-banner-icon-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    p {
       margin-right: var(--alert-banner-icon-right-space);
       margin-top: var(--alert-banner-button-top-space);
    }
    .abt-icon-alert{
        &::before {
            font-size: var(--alert-banner-icon-font-size);
            content: "";
        }
        svg{
            position: relative;
	        top: -4px;
        }
    }
}
.alertbanner{
    .m-alert-banner__container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row !important;
        padding: var(--alert-banner-padding);
        width: 100% !important;
        max-width: var(--alert-banner-container-max-width);
        position: relative;
        font-family: var(--alert-banner-font-family);
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: left;
        @media(max-width: 991.98px) { 
            padding:var(--alert-banner-container-md-padding) !important;
        }
        @media(max-width: 767.98px) {
            padding:var(--alert-banner-container-sm-padding) !important;
            position: relative;
        }
        .m-alert-banner__content{
            display: block;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            @media(max-width: 767.98px) {
                width:100%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }
            .m-alert-banner__text{
                .m-alert-banner__content__title{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex !important;
                    font-weight: var(--alert-banner-font-weight-bold);
                    color: var(--alert-banner-dark-blue-color);
                    font-size: var(--alert-banner-title-font-size);
                    line-height: var(--alert-banner-line-height-15);
                    margin: var(--alert-banner-title-margin) 0;
                    p {
                        margin-bottom: 0;
                        color: #002a3a;
                        font-family: 'Brandon Grotesque',Arial,Helvetica,sans-serif !important;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 450;
                        width: auto !important;
                    }
                    @media(max-width: 767.98px) {
                        &.content-collapsed{
                            p{
                                margin-bottom:var(--alert-banner-title-collapsed-margin);
                            }
                        }
                    }
                }
                .m-alert-banner__content__para{
                    font-weight: var(--alert-banner-font-weight-light);
                    color: var(--alert-banner-para-dark-gray-color);
                    font-size: var(--alert-banner-para-font-size);
                    line-height: var(--alert-banner-line-height-1);
                    p{
                        font-size: var(--alert-banner-para-font-size);
                        font-family: 'Brandon Text',Arial,sans-serif !important;
                        &:last-child{
                            color: var(--alert-banner-dark-blue-color);
                            font-weight: var(--alert-banner-font-weight-bold);
                            padding-bottom: 0;
                            @media(max-width: 767.98px) {
                                padding-bottom:var(--alert-banner-bottom-padding-mobile);
                                margin-bottom: var(--alert-banner-bottom-margin-mobile);
                            }
                        }
                    }
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.m-alert-banner--button {
    position: static;
    width: auto;
    margin-left: var(--alert-banner-button-left-pc);
    @media(max-width: 991.98px) {
        margin-left:var(--alert-banner-button-left-tab);
    }
    @media(max-width: 767.98px) {
        position:absolute;
        width: 92%;
        bottom: 0;
        margin-left: 0;
        left: var(--alert-banner-left-position-mobile);
    }
    button {
        background-color: var(--alert-banner-icon-color);
        color: var(--alert-banner-color-white);
        border-radius: var(--alert-banner-button-border-radius-04);
        border: var(--alert-banner-button-border-color);
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-family: var(--alert-banner-font-family);
        font-size: var(--alert-banner-button-font-size);
        font-style: normal;
        font-weight: var(--alert-banner-font-weight-bold);
        line-height: var(--alert-banner-line-height-1);
        text-transform: uppercase;
        padding: var(--alert-banner-padding) !important;
        cursor: pointer;
        justify-content: center;
        width: 167px !important;
        height: 32px !important;
        &:hover{
            color: var(--alert-banner-color-white);
            background: #004f71;
        }
        span {
            letter-spacing: var(--alert-banner-button-lt-space);
            white-space: nowrap;
            @media(max-width: 767.98px) {
                text-align:center;
                width: 100%;
            }
        }
        @media(max-width: 767.98px) {
            width:100% !important;
        }
    }
}
.m-alert-banner__collapse--icon {
    display: block;
    position: absolute;
    top: var(--alert-banner-position-top-037);
    right: var(--alert-banner-position-right-1);
	margin-top: 0 !important;
    width: auto !important;
    span {
        margin-right: 0;
        font-size: var(--alert-banner-para-font-size);
        color: var(--alert-banner-dark-blue-color);
        cursor: pointer;
    }    
    .abt-icon {
        font-size: var(--alert-banner-para-font-size);
    }
}

/*Terms&condition page */
@media screen and (max-width:767px) {
    .tncLinkBreak {
            word-break: break-all !important;
    }
    .tncHeader {
        font-size: 2rem;
    }
}

@media (max-width: 991px) {
    .font-16 li {
        font-size: 1rem;
    }

    .font-18 li {
        font-size: 1.125rem;
    }
}

.your-baby::before,
.your-baby::after {
    content: "\A";
    white-space: "pre";
}
