
.adc-important-instruction-rx {
	margin-bottom:30px;
	&__heading {
		.border-bottom(@color-fsl-grey-2);
		font-weight: @weight-bold;
		letter-spacing: 1.5px;
	}
	&__message {
        color: @color-fsl-black;
        .font-size-rems(14);
		line-height: 24px;
	}

}