/*** Accordion Styles ***/

.m-accordion--base .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header {
	margin-top: 40px;
	margin-bottom: 22.5px;
	background-color: #064181;
	border-radius: 3.5px 3.5px 0 0;
}

.m-accordion--base .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header h3 {
	color: #FFF;
	font-family: BaseFontRegular, sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-decoration: underline;
	line-height: 21.6px;
}

.m-accordion--base .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header .m-accordion__icon-wrapper {
    color: #FCBB5F;
    margin-right: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    .abt-icon{
        font-size: initial;		
    }
}

.m-accordion--base .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__body {
	padding: 0;
}

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion.a-text--separation {
	margin-bottom: 30px;
	width: 100%;
	min-width: 100%;
}


/*** Accordion table styles ***/

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table {
	width: 100%;
	min-width: 100%;
}

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td {
	background-color: #C5C5C5;
	color: #06305E;
	font-family: BaseFontLight, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
	overflow-wrap: break-word;
}
.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion {
    &.a-text--prod-desc-table.a-text--prod-desc-table-pediasure table tbody tr td {
        background-color: #fcf4ff;
    }
}


.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr:nth-of-type(even) td {
	background-color: #E4E4E4;
}

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child,
.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child p {
	background-color: #064181;
	color: #FFFFFF;
	padding: 6px 30px;
	font-family: BaseFontRegular, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	overflow-wrap: break-word;
	text-align: left;
	margin-bottom: 0;
}

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr:nth-of-type(even) td:first-child {
	background-color: #06305E;
	color: #FFFFFF;
	text-align: left;
}


/** Added styles for text separation **/

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion.a-text--separation table tbody tr td {
	border: 1px solid rgb(128, 128, 128);
}

.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion.a-text--separation table tbody tr td:first-child {
	width: 32%
}


/*** Table styles ended ***/

.m-accordion__content-items:nth-last-child(1) {
	border-bottom: none;
}


/** Media Query for Mobile & Tablet Devices **/

@media (max-width: 991.98px) {
	.m-accordion--base .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header h3 {
		line-height: 16.8px;
		font-size: 14px;
	}
    .m-accordion--base.m-accordion--v1 {
        .text.a-text--base.a-text--accordion {
            p{
				font-size:14px;
            	line-height:19px;
            }
        }
    }

    .a-container--base.a-container--fullwidth-d {
        max-width:100%;
        .a-title--base.a-titlecolor--bluev2,
            .a-title--base.a-titlecolor--purple,
            .a-title--base.a-titlecolor--skyblue{
            h1,h2 {
                text-align: center !important;
                font-size:24px !important;
                line-height:29px !important;
                margin-bottom: 30px;
                
            }
        }
    }
}

@media (max-width: 991.98px)  and (orientation:landscape) {
     .a-container--base.a-container--fullwidth-d {
		max-width:86%;
    }

}

/** Media Query for Mobile Devices **/

@media(max-width:767px) {
	.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child,
	.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child p {
		font-size: 10px;
		line-height: 15px;
		padding: 6px 5px;
	}
	.m-accordion--base .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td {
		font-size: 10px;
		line-height: 15px;
	}
    .m-accordion--base.m-accordion--v1 {
        padding-top:0 !important;
        padding-bottom:0 !important;
        .text.a-text--base.a-text--accordion {
            p{
				font-size:14px;
            	line-height:19px;
            }
        }
    }

}

/*** Styles for Accordion View 3 ***/
.m-accordion--v1 {
	margin-top:0 !important;
    margin-bottom:0 !important;
    padding:0 15px !important;
    .m-accordion {
		max-width: 970px !important;
    }
	.m-accordion__content-items {
		border-top:none;
    }
    .m-accordion__content-items:nth-last-child(1) {
		border-bottom:none;
    }
    .m-accordion__options{
		margin-bottom:0;
    }
    .m-accordion__header {
		margin-top:0px !important;
      .m-accordion__title-wrapper {
          padding:15px 2px 15px 10px !important;
         /* padding-right:30px !important;*/
      }
    }

}

.m-accordion--base.m-accordion--v1.m-accordion--pt{
    padding-top:24px !important;
}

/**** Style for Purple Color ***/
.m-accordion--base.m-accordion--v2-p .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header {
    background-color: #fbf4ff;
    h3 {
        color: @abbott-meteorite;
    }
    .m-accordion__icon-wrapper {
        color:@abbott-meteorite;
    }
}

.m-accordion--base.m-accordion--v2-p {
    .m-accordion {
        .m-accordion__content {
            .a-text--base.a-text--accordion {
                table tbody tr th {
                    background-color: @abbott-meteorite;
                    color: #FFF;
                }
                table tbody tr:first-child {
                    th {
                        font-size: 18px;
                        font-family: BaseFontLighter, sans-serif;
                        text-align: center;
                        &:first-child {
                            text-align: left;
                        }
                    }
                }
                table tbody tr:nth-of-type(even) td {
                    background-color: #AB92C4;
                }
            }
        }
    }
}

.m-accordion--base.m-accordion--v2-p .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child,
.m-accordion--base.m-accordion--v2-p .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child p {
    
    background-color:@abbott-meteorite;
    color: #FFFFFF;
}

.m-accordion--base.m-accordion--v2-p .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr:nth-of-type(even) td:first-child {
    background-color: @abbott-medium-meteorite;
    color: #FFFFFF;
    text-align: left;
}


.m-accordion--base.m-accordion--v1.m-accordion--v1-p .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header {
    background-color: #fbf4ff;
    h3 {
        color: @abbott-meteorite;
    }
    .m-accordion__icon-wrapper {
        color:@abbott-meteorite;
    }
}

.m-accordion--base.m-accordion--v1.m-accordion--v1-p .text.a-text--base.a-text--accordion p {
    color: #898989;
}


/*** Glucerna Styles ***/
.m-accordion--base.m-accordion--v2-g .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header {
    background-color: #E8FBFF;
    h3 {
        color: #00529B;
    }
    .m-accordion__icon-wrapper {
        color:#1CBFE6;
    }
}

.m-accordion--base.m-accordion--v2-g .m-accordion__content-items{
    border-color:#1CBFE6;
}

.m-accordion--base.m-accordion--v2-g .text.a-text--base.a-text--accordion p {
    color: #5C5C5C;
    
}

.m-accordion--base.m-accordion--v2-g {
    .m-accordion {
        .m-accordion__content {
            .a-text--base.a-text--accordion {
                table tbody tr td {
                    background-color: #BCF8FF;
                    color: #004F70;  
                }
                table tbody tr:nth-of-type(even) td {
                    background-color: #F5FEFF;
                }
            }
        }
    }
}

.m-accordion--base.m-accordion--v2-g .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child,
.m-accordion--base.m-accordion--v2-g .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr td:first-child p {
    background-color: #1CBFE6;
    color: #FFFFFF;
    width:50%; 
}

.m-accordion--base.m-accordion--v2-g .m-accordion .m-accordion__content .a-text--base.a-text--accordion table tbody tr:nth-of-type(even) td:first-child {
    background-color: #00529B;
    color: #FFFFFF;

}


.m-accordion--base.m-accordion--v1.m-accordion--v1-g .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header {
    background-color: #E8FBFF;
    h3 {
        color: #00529B;
    }
    .m-accordion__icon-wrapper {
        color:#1CBFE6;
    }
}

.m-accordion--base.m-accordion--v1.m-accordion--v1-g .text.a-text--base.a-text--accordion p {
    color: #5C5C5C;

}

.a-title--base.a-titlecolor--skyblue {
    h1, h2, h3, h4, h5, h6 {
        color:#1CBFE6;
    }
}

.a-text--base.a-text--lineskyblue hr{
    border-color:#1CBFE6;
}

/****Purple Table Styles **/



.a-text--base.o-color-purple.a-text--accordion {
    table tbody {
        tr:nth-of-type(even) td {
            background-color: #AB92C4;
        }
        tr {
            th {
                background-color: @abbott-meteorite;
                color: #FFF;
            }
            td {
                background-color: #FCF4FF;
                color: @abbott-meteorite;
            }
        }
    }
}
.a-text--base.o-color-purple.a-text--accordion table tbody tr td:first-child,
.a-text--base.o-color-purple.a-text--accordion table tbody tr td:first-child p {
    
    background-color:@abbott-meteorite;
    color: #FFFFFF;
}

.a-text--base.o-color-purple.a-text--accordion table tbody tr:nth-of-type(even) td:first-child {
    background-color: @abbott-medium-meteorite;
    color: #FFFFFF;
    text-align: left;
}



/*** Mastemama Styles ***/
.m-accordion--base.m-accordion--v1-mm .m-accordion .m-accordion__content .m-accordion__content-items .m-accordion__header {
    background-color: #E8F9FF;
    h3 {
        color: #0262AC;
    }
    .m-accordion__icon-wrapper {
        color:#0262AC;
    }
}

/*Table first row regular*/
.a-text--base.a-text--accordion.m-table-1row--font table tbody tr:first-child td{
   font-family: BaseFontRegular, sans-serif;
}

