/* BASIC STRUCTURE OF BUTTON STARTS HERE  */
.a-button--base {
  display: flex;
  width: auto;
  overflow: hidden;
  font-size: 18px;
  .btn:focus,
  .btn:active,
  .btn:focus-visible,
  .btn:target {
    outline: none;
    outline-color: transparent;
    -webkit-appearance: none;
    box-shadow: none;
  }
}


.a-button--base .btn {
  height: 65px;
  max-width: 100%;
  min-width: 250px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;

  &:focus {
    box-shadow: 0 0 0 !important;
  }

  span {
    font-family: 'BaseFontRegular', sans-serif;
    line-height: 26px;
  }
}
/*Mobile Button Size*/
.a-button--base.a-button-m--md {
  @media @lg-down {
    .btn {
      max-width: 300px !important;
      min-width: 300px !important;
    }
  }
}
.a-button--base.a-button--style1.a-button--lg {
  .btn {
    min-width:300px;
  }
}
/* BASIC STRUCTURE OF BUTTON ENDS HERE  */
/*Pediasure calculator button */

.a-button--base.a-button--pediasure-calculator{
    .btn{
        height: 37px;
        max-width: 182px;
        min-width: unset;
        padding: 1px 6px;
        border-radius: 15px;
		>span {
                line-height: 26px;
                font-weight: 400;
         }
    }
}
.a-button--base.a-button--mastermama-calculator{
  &:extend(.a-button--base.a-button--pediasure-calculator all);
    .btn {
      color: #FFFFFF;
      background-image: linear-gradient(to right, #21C6FF, #5FF2DC);
    }
}
/*mastermama*/
.a-button--base.a-button--mastermama-carousel {
    .btn {
        width: 300px !important;
        height:65px;
    }
	@media @desktop {
        .btn {
            width: 250px !important;
            height:65px;
        }
    }
}
/*Pregnancy calculator*/
.a-button--base.a-button-pregnancy--calculator {
  .btn {
    color: #0262ac;
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 5px 12px 2px;
    border-radius: 5px;
    font-family: 'HindFontRegular', sans-serif;
    font-size: 15px;
    cursor: pointer;
    height: auto;
    width: auto;
    min-width: auto;
  }
}
/*Highcharts button */
.a-button--base.a-button--highchart {
	.btn{
        height: 37px;
        max-width: max-content;
        min-width: unset;
        padding: 1px 10px;
        border-radius: 15px;
		>span {
            line-height: 27px;
            font-weight: 400;
         }
    }
}
/**Button Style1**/
.a-button--base.justify-content-end {
  text-align: right;
}

.a-button--base.a-button--style1 {
  padding: 0px 13px 50px 13px;

  @media @desktop {
    padding: 0px 50px 50px 50px;
    margin-left: 408px;
    justify-content: flex-start !important;
  }

  @media (min-width:1100px) and (max-width:1199px) and (orientation:landscape) {
    padding: 0px 65px 0px 102px;
  }

  @media @xl-up {
    margin-left: 408px;
    padding: 0px 102px 50px 102px;
  }

  .btn {
    height: 65px;
    max-width: 100%;
    min-width: 250px;
    width: auto;
    overflow: hidden;
    border-radius: 55px;
    line-height: 55px;
  }
}
.a-button--base.a-button--style2 {
  .btn {
    border-radius: 60px;
    height: 65px;
    width: 250px;
    line-height: 55px;

    >span {
      font-family: 'BaseFontRegular', sans-serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}
/** Style 3 **/
.a-button--base.a-button--style3 {
  .btn {
    border-radius: 60px;
    height: 50px;
    max-width: 180px;
    min-width: unset;
    line-height: 48px;

    >span {
      font-family: 'BaseFontBold', sans-serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}

/**style4 **/
.a-button--base.a-button--style4 {
  .btn {
    height: 65px;
    max-width: 284px;
    width: 100% !important;
    width: auto;
    overflow: hidden;
    padding: 0 15px;
    font-size: 18px;
    font-family: BaseFontRegular, sans-serif;

    span {
      font-size: 18px;
      line-height: 26px;
      font-family: BaseFontRegular, sans-serif;
    }

    .abt-icon-facebook-square {
      margin-right: 10px;
    }
  }
}
/*style6*/
.a-button--base.a-button--style6 {
  .btn {
    height: 65px;
    max-width: 300px;
    width: 300px !important;
    width: 100%;
    width: auto;
    overflow: hidden;
    padding: 0 15px;
    font-size: 18px;
    font-family: BaseFontRegular, sans-serif;

    span {
      font-size: 18px;
      line-height: 26px;
      font-family: BaseFontRegular, sans-serif;
    }

    .abt-icon-facebook-square {
      margin-right: 10px;
    }
  }
}
/*style6 End*/
/** Background-color Starts **/

.a-button--base.o-color-bg-blue {
  .btn {
    background-color: @nav-blue  !important;
  }
}
.a-button--base.o-color-bg-darkorange {
  .btn {
    background-color: @abbott-dark--orange  !important;
  }
}
.a-button--base.o-color-bg-dark-purple {
  .btn {
    background-color: @abbott-dark-meteorite  !important;
  }
}
.a-button--base.o-color-bg-darkyellow {
  .btn {
    background-color: #E6AA30 !important;
  }
}
.a-button--base.o-color-bg-image-yellow {
  .btn {
    background-image: linear-gradient(to right, #E7C62E, #C5A12E);
  }
}
.a-button--base.o-color-bg--darkpink {
  .btn {
    background-color: @abbott-darkpink !important;
  }
}
.a-button--base.o-color-bg--glucerna-darkyellow {
    .btn {
        background-color: @abbott-glucerna-dark-yellow;
    }
}
.a-button--base.o-color-bg-lightyellow {
  .btn {
    background-color: @abbott-light-yellow  !important;
  }
}
.a-button--base.o-color-bg-light-purple {
  .btn {
    background-color:  rgb(190, 157, 200) !important;
  }
}
.a-button--base.o-color-bg--purple {
  .btn {
    background-color: @abbott-meteorite  !important;
  }
}
.a-button--base.o-color-bg-orange {
  .btn {
    background-color: @abbott-light-orange  !important;
  }
}
.a-button--base.o-color-bg-skyblue {
  .btn {
    background-color: @skyblue  !important;
  }
}
.a-button--base.o-color-bg-summer-skyblue {
  .btn {
    background-color: @blue;
  }
}
.a-button--base.o-color-bg--summer-skyblue {
  .btn {
    background-color: @abbott-summer-sky;
  }
}
.a-button--base.o-color-bg-transparent {
  .btn {
    background-color: transparent !important;
  }
}
.a-button--base.o-color-bg-yellow {
  .btn {
    background-color: #C5A12E !important;
  }

}
.a-button--base.o-color-bg-white {
  .btn {
    background-color: @white !important;
  }
}
.a-button--base.o-color-bg-fadedblue {
  .btn {
    background-color:#0262AC;
  }
}
//Mobile Background color
/**Mobile Hover Text Color**/
@media @md-down {
    .a-button--base.o-hover-text-color-fadedyellow {
        .btn:hover {
            color: #C5A12E  !important;
            span{
				color: #C5A12E  !important;
            }          
		}
	}
	.a-button--base.o-hover-color-pink {
		.btn {
		  &:hover {
			color: @abbott-pink  !important;
		  }
		}
	  }
	  .a-button--base.o-hover-color-white {
		 .btn:hover {
					color: #fff  !important;
					span{
						color: #fff  !important;
					}          
			}
	  }

	.a-button--base.o-hover-color-orange {
		.btn {
		  &:hover {
			color: #ffb420 !important;
		  }
		}
	}

/**Mobile hover color**/
      .a-button--base.o-color-m-hovbg--fadedblue {
    .btn {
      &:hover {
        background-color: #0262AC !important;
        color: @white  !important;
      }
    }
  }
  .a-button--base.o-color-m-hovbg--blue {
    .btn {
      &:hover {
        background-color: @nav-blue  !important;
        color: @white  !important;
      }
    }
  }
    .a-button--base.o-color-m-hovbg--summer-skyblue {
  .btn {
    &:hover {
      background-color: @abbott-summer-sky !important;
      color: @white !important;
  span{
					color: #fff  !important;
				}
	  
    }
  }
}

  .a-button--base.o-color-m-hovbg--lightblue {
    .btn {
      &:hover {
        background-color: @abbott-lightblue  !important;
        color: @white  !important;
      }
    }
  }

  .a-button--base.o-color-m-hovbg--transparent {
    .btn {
      &:hover {
        background-color: transparent !important;

      }
    }
  }

  .a-button--base.o-color-m-hovbg--pink {
    .btn {
      &:hover {
        background-color: @abbott-pink  !important;
        color: @white  !important;

      }
    }
  }

  .a-button--base.o-color-m-hovbg--darkpink {
    .btn {
      &:hover {
        background-color: @abbott-darkpink  !important;
        color: @white  !important;

      }
    }
  }

  /*Mobile background color**/
  .a-button--base.o-color-m-bg-white {
    .btn {
      background-color: @white  !important;
    }
  }

  .a-button--base.o-color-m-bg-blue {
    .btn {
      background-color: @nav-blue  !important;
    }
  }
  .a-button--base.o-color-m-bg-denimblue {
    .btn {
      background-color: @abbott-denim !important;
    }
  }
  .a-button--base.o-color-m-bg-lightblue {
    .btn {
      background-color: @abbott-lightblue  !important;
    }
  }

  /**Mobile Text Color **/
    .a-button--base.o-color-m-summer-skyblue {
  .btn {
    span{
      color: @abbott-summer-sky !important;
    }
  }
}
	.a-button--base.o-color-m-text-blue {
		.btn {
			color: @nav-blue !important;
		}
	}
	.a-button--base.o-color-m-text-darkpink {
		.btn {
			color: @abbott-darkpink !important;
		}
	  }
	.a-button--base.o-color-m-text-denimblue {
    .btn {
			color: @abbott-denim  !important;
		}
	}
    .a-button--base.o-color-m-text-fadedyellow {
		.btn {
			color: #C5A12E !important;
		}
	}
      .a-button--base.o-color-m-text-fadedblue {
		.btn {
			color: #0262AC !important;
		}
	}
	.a-button--base.o-color-m-text-lightblue {
		.btn {
			color: @abbott-lightblue !important;
		}
	}
	.a-button--base.o-color-m-text-orange {
		.btn {
			color: @abbott-light-orange !important;
		}
	}
	.a-button--base.o-color-m-text-pink {
		.btn {
			color: @abbott-pink !important;
		}
	}
	.a-button--base.o-color-m-text-white {
		.btn {
			color: @white !important;
		}
	}  

  //Mobile border color
    .a-button--base.o-border-m-fadedblue {
		.btn {
			border-color: #0262AC !important;
		}
	}
	.a-button--base.o-border-m-blue {
		.btn {
			border-color: @nav-blue !important;
		}
	}
	.a-button--base.o-border-m-darkpink {
		.btn {
			border-color: @abbott-darkpink  !important;
		}
	}
	.a-button--base.o-border-m-denimblue {
		.btn {
			border-color: @abbott-denim  !important;
		}
	}
    .a-button--base.o-border-m-fadedyellow {
		.btn {
			border-color: #C5A12E !important;
		}
	}
	.a-button--base.o-border-m-lightblue {
		.btn {
			border-color: @abbott-lightblue !important;
		}
	}	

	.a-button--base.o-border-m-orange {
		.btn {
			border-color: @abbott-light-orange !important;
		}
	}
	.a-button--base.o-border-m-pink {
		.btn {
			border-color: @abbott-pink  !important;
		}
	}
    .a-button--base.o-border-m-summer-skyblue {
  .btn {
    border-color: @abbott-summer-sky !important;
  }
}
  
}
//mobile view button
@media @mob {
  .a-button--base.o-color-m-bg-white {
    .btn {
      background-color: @white;
    }
  }

  /*----Document-download End here----*/

  .a-button--base.o-color-m-blue {
    .btn {
      color: @abbott-lightblue;
    }
  }
}
/**mobile  color ends**/

/** Text-color Starts **/
.a-button--base.o-color-text-beige {
   .btn {
	 color: #f5ecd9 !important;
	}        
}
.a-button--base.o-color-text-darkblue {
  .btn {
    color: @blue;
	  span{
      color: @blue;
    }
  }      
}
.a-button--base.o-color-blue {
  .btn {
    color: @nav-blue;
  }
}
.a-button--base.o-color-dark-gold {
  .btn {
    color: @abbott-dark-gold;
  }
}
.a-button--base.o-color-darkpink {
  .btn {
    color: @abbott-darkpink;
  }
}
.a-button--base.o-color-darkorange {
  .btn {
    color: @abbott-dark--orange;
  }
}
.a-button--base.o-color-text-fadedyellow {
   .btn {
	 color: #C5A12E ;
	}        
}

.a-button--base.o-color--lightblue {
  .btn {
    color: @abbott-lightblue;
  }
}
.a-button--base.o-color-lightyellow {
  .btn {
    color: @abbott-light-yellow;
  }
}
.a-button--base.o-color--mustard {
  .btn {
    color: #C5A12E;
  }
}
.a-button--base.o-color-medium-purple {
  .btn {
    color: @abbott-medium-meteorite;
  }
}
.a-button--base.o-color-pink {
  .btn {
    color: @abbott-pink ;
  }
}
.a-button--base.o-color-purple {
    .btn {        
       color:#6F5787;
    }
}
.a-button--base.o-color-orange {
  .btn {
    color: @abbott-light-orange;
  }
}
.a-button--base.o-color-skyblue {
  .btn {
    color: @skyblue;
  }
}
.a-button--base.o-color--summer-skyblue {
  .btn {
    color: @abbott-summer-sky;
  }
}
.a-button--base.o-color-summerblue {
  .btn {
    color:@abbott-summer-sky; 
  }
}
.a-button--base.o-color-hovbg--summer-skyblue {
  .btn[disabled="disabled"]:hover span {
    color: unset !important;
  }
  .btn:disabled:hover span {
    color: unset !important;
  }
  .btn {
    &:hover {
      background-color: @abbott-summer-sky;
      color: @white;
	    span{
        color: @white;
      }
    }
  }
}
.a-button--base.o-color-white {
  .btn {
    color: @white;
  }
}
 .a-button--base.o-color-darkblue {
  .btn {
    color: @blue;
	span{
            color: @blue;
        }
  }
}
/**Desktop Border -color**/
.a-button--base.o-border-blue {
  .btn {
    border-color: @nav-blue;
  }
}
.a-button--base.o-border-darkyellow {
  .btn {
    border-color: #C5A12E;
  }
}

.a-button--base.o-border-dark-gold {
  .btn {
    border-color: @abbott-dark-gold;
  }
}
.a-button--base.o-border-darkpink {
  .btn {
    border-color: @abbott-darkpink;
  }
}
.a-button--base.o-border-darkorange {
  .btn {
    border-color: @abbott-dark--orange;
  }
}
.a-button--base.o-border-fadedyellow {
  .btn {
    border-color: #C5A12E;
  }
}
.a-button--base.o-border-lightblue {
  .btn {
    border-color: @abbott-lightblue;
  }
}
.a-button--base.o-border-lightyellow {
  .btn {
    border-color: @abbott-light-yellow;
  }
}

.a-button--base.o-border-medium-purple {
  .btn {
    border-color: @abbott-medium-meteorite;
  }
}
.a-button--base.o-border-mustard {
  .btn {
    border-color: #C5A12E;
  }
}
.a-button--base.o-border-orange {
  .btn {
    border-color: @abbott-light-orange;
  }
}
.a-button--base.o-border-pink {
  .btn {
    border-color: @abbott-pink;
  }
}
.a-button--base.o-border-purple {
  .btn {
    border-color: @abbott-meteorite;
  }
}
.a-button--base.o-border-skyblue {
  .btn {
    border-color: @skyblue;
  }
}
.a-button--base.o-border--summer-skyblue {
  .btn {
    border-color: @abbott-summer-sky;
  }
}
.a-button--base.o-border-summerblue {
  .btn {
    border-color: @abbott-summer-sky;
  }
}
.a-button--base.o-border-white {
  .btn {
    border-color: @white;
  }
}
.a-button--base.o-border-darkblue {
  .btn {
    border-color: @blue;
  }
}
.a-button--base.o-border-fadedblue {
  .btn {
    border-color: #0262AC;
  }
}
/**Border-size**/
.a-button--base.o-border-size-1px {
  .btn {
    border-width: 1px;
    border-style: solid;
  }
}

.a-button--base.o-border-size-2px {
  .btn {
    border-width: 2px;
    border-style: solid;
  }
}

.a-button--base.o-border-size-3px {
  .btn {
    border-width: 3px;
    border-style: solid;
  }
}

.a-button--base.o-border-size-4px {
  .btn {
    border-width: 4px;
    border-style: solid;
  }
}

.a-button--base.o-border-size-5px {
  .btn {
    border-width: 5px;
    border-style: solid;
  }
}
.a-button--base.o-border-size-6px {
  .btn {
    border-width: 6px;
    border-style: solid;
  }
}
/**Desktop hover color**/
.a-button--base.o-color-hovbg--blue {
  .btn {
    &:hover {
      background-color: @nav-blue ;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--orange-text-black {
  .btn {
    &:hover {
      background-color: @abbott-light-orange ;
      color: @black;
    }
  }
}
.a-button--base.o-color-hovbg--dark-gold {
  .btn {
    &:hover {
      background-color: @abbott-dark-gold ;
      color: @white;
    }
  }
}
.a-button--base.a-button--base.o-hover-text-color-darkblue {
  .btn {
    &:hover {
      color: #022E5C;
    }
  }
}
.a-button--base.a-button--base.o-hover-text-color-purple {
  .btn {
    &:hover {
      color: #6F5787;
    }
  }
}
.a-button--base.o-color-hovbg--darkpink {
  .btn {
    &:hover {
      background-color: @abbott-darkpink ;
      color: @white;
    }
  }
}

.a-button--base.o-color-hovbg--white-darkpink {
  .btn {
    &:hover {
      background-color: @white ;
      color: @abbott-darkpink;
    }
  }
}
.a-button--base.o-color-hovbg--darkorange {
  .btn {
    &:hover {
      background-color: @abbott-dark--orange ;
      color: @white;
    }
  }
}

.a-button--base.o-color-hovbg--fadedyellow {
    .btn {
        &:hover {
            background-color:#C5A12E ;
            color: @white;
            span{
                color: @white;
            }
        }
    }
}
.a-button--base.o-color-hovbg--mustard {
  .btn {
    &:hover {
      background-color: #C5A12E ;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--fadedblue {
    .btn {
        &:hover {
            background-color:#0262AC ;
            color: @white;
            span{
                color: @white;
            }
        }
    }
}
.a-button--base.o-color-hovbg--medium-purple {
  .btn {
    &:hover {
      background-color: @abbott-medium-meteorite;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--lightblue {
  .btn {
    &:hover {
      background-color: @abbott-lightblue ;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--lightyellow {
  .btn {
    &:hover {
      background-color: @abbott-light-yellow ;
      color: @abbott-pink;
    }
  }
}
.a-button--base.o-color-hovbg--orange {
  .btn {
    &:hover {
      background-color: @abbott-light-orange ;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--lightyellow-p {
  .btn {
    &:hover {
      background-color: @abbott-light-yellow;
      color: @abbott-pink;
    }
  }
}
.a-button--base.o-color-hovbg--pink {
  .btn {
    &:hover {
      background-color: @abbott-pink ;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--white-pink {
  .btn {
    &:hover {
      background-color: @white;
      color: @abbott-pink;
    }
  }
}
.a-button--base.o-color-hovbg--purple {
    .btn {
        &:hover {            
            background-color:#6F5787;
            color: @white;
        }
    }
}
.a-button--base.o-color-hovbg--skyblue {
  .btn {
    &:hover {
      background-color: @skyblue ;
      color: @white;
    }
  }
}
.a-button--base.o-color-hovbg--summersky {
  .btn {
    &:hover {
      background-color:@abbott-summer-sky;
      color: @white;
	    span{
                color: @white;
            }
    }
  }
}
.a-button--base.o-color-hovbg--white {
  .btn {
    &:hover {
      background-color: @white ;
      color: @abbott-lightblue;
    }
  }
}
.a-button--base.o-color-hovbg--darkblue {
  .btn {
    &:hover {
      background-color: @blue ;
      color: #fff;
	    span{
                color: @white;
            }
    }
  }
}
/**Button Margin and Padding **/
.a-button--base.a-margin-top-minus-20 .btn {
  margin-top: -20px;
}
.a-button--base.o-margin-top {
  margin-top: 10px;
}
.a-button--base.o-margin-top-20px {
  margin-top: 20px;
}

.a-button--base.o-margin-bottom {
  margin-bottom: 10px;
}
.a-button--base.o-margin-bottom-30px {
    .btn {
        margin-bottom: 30px;
    }
}
.a-button--base.o-margin-bottom-60px {
    .btn {
        margin-bottom: 60px;
    }
}

.a-button--base.o-margin-left {
  margin-left: 10px;

  @media @mob-only {
    margin-left: 0px;
  }
}
.a-button--base.o-margin-d-left-30px {
    @media @desktop {
        .btn {
            margin-left: 30px;
        }
    }
}
.a-button--base.o-margin-d-left-50px {
    @media @desktop {
        .btn {
            margin-left: 50px;
        }
    }
}
.a-button--base.o-margin-right {
  margin-right: 10px;

  @media @mob-only {
    margin-right: 10px;
  }
}
.a-button--base.o-margin-right-12px{
	@media @desktop{
    	margin-right:12px; 
	}        
}
.a-button--base.o-margin-right-11px{
	@media @desktop{
    	margin-right:11px; 
	}        
}

.a-button--base.o-margin-left-15px {
    margin-left: 15px !important;
}

.a-button--base.o-margin-right-15px {
    margin-right: 15px !important;
}
@media @md-up {
.a-button--base.o-margin-right-30px{
	margin-right:30px !important;
	}
}
.a-button--base.o-margin-d-top-80px {
    @media @desktop {
        .btn {
            margin-top:80px;
        }
    }
}
.a-button--base.o-margin-d-top-60px {
  @media @desktop {
      .btn {
          margin-top:60px;
      }
  }
}
.a-button--base.o-margin-d-top-30px {
  @media @desktop {
      .btn {
          margin-top:30px;
      }
  }
}
.a-button--base.o-margin-d-top-100px {
  @media @desktop {
      .btn {
          margin-top:100px !important;
      }
  }
}
.a-button--base.o-margin-extra-top {
  margin-top: 30px !important;
}

.a-button--base.o-margin-extrabottom {
  margin-bottom: 40px !important;
}
@media @md-up {
.a-button--base.o-margin-right-30px{
	margin-right:30px !important;
	}
}
/**Mobile margin**/
@media @lg-down {
.a-button--base.o-margin-m-top {
  margin-top: 30px;
}

.a-button--base.o-margin-m-bottom {
  margin-bottom: 30px;
}

.a-button--base.o-margin-m-bottom-20px {
  margin-bottom: 20px;
}

}
/**Mobile margin ends**/
.a-button--base.o-padding-top {
  padding-top: 10px;
}
.a-button--base.o-padding-bottom-100px {
    .btn {
        padding-bottom: 100px;
    }
}

.a-button--base.o-padding-bottom {
  padding-bottom: 10px;
}

.a-button--base.o-padding-left {
  padding-left: 10px;
	@media @mob-only {
		padding-left: 0px;
	}
}
.a-button--base.o-padding-right {
  padding-right: 10px;

  @media @mob-only {
    padding-right: 0px;
  }
}

@media @desktop {
    .a-button--base.o-remove-space-desktop-top {
        margin-top: 0px !important;
        padding-top: 0px !important;
        .btn{
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
        
    }

  .a-button--base.o-remove-space-desktop-bottom {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        .btn{
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;
        }
    }
}

@media @mob-only {

  .a-button--base.o-remove-space-mobile-top, .a-button--base.o-remove-space-mobile-top a {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .a-button--base.o-remove-space-mobile-bottom {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

}

/* ---- BUTTON FONT SIZE ---- */
.a-button--base.a-fontsize-12px {
  .btn {
    span {
      font-size: 12px !important;
    }
  }
}
.a-button--base.a-fontsize-14px {
  .btn {
    span {
      font-size: 14px !important;
    }
  }
}
.a-button--base.a-fontsize-16px {
  .btn {
    span {
      font-size: 16px !important;
    }
  }
}
.a-button--base.a-fontsize-18px {
  .btn {
    span {
      font-size: 18px !important;
    }
  }
}
.a-button--base.a-fontsize-20px {
  .btn {
    span {
      font-size: 20px !important;
    }
  }
}
.a-button--base.a-fontsize-22px {
  .btn {
    span {
      font-size: 22px !important;
    }
  }
}
.a-button--base.a-fontsize-24px {
  .btn {
    span {
      font-size: 24px !important;
    }
  }
}
.a-button--base.a-fontsize-34px {
  .btn {
    span {
      font-size: 34px !important;
    }
  }
}
/* ---- BUTTON LINE HEIGHT ---- */
.a-button--base.a-text--lh-26 {
  .btn {
    span {
      line-height: 26px !important;
    }
  }
}

.a-button--base.a-text--lh-55 {
  .btn {
    span {
      line-height: 55px !important;
    }
  }
}

/* ---- BUTTON FONT FAMILY ---- */
.a-button--base.a-fontfamily-regular {
  .btn {
    span {
      font-family: BaseFontRegular, sans-serif;
    }
  }
}

.a-button--base.a-fontfamily-lighter {
  .btn {
    span {
      font-family: BaseFontLighter, sans-serif;
    }
  }
}

.a-button--base.a-fontfamily-light {
  .btn {
    span {
      font-family: BaseFontLight, sans-serif;
    }
  }
}

.a-button--base.a-fontfamily-medium {
  .btn {
    span {
      font-family: BaseFontMedium, sans-serif;
    }
  }
}

.a-button--base.a-fontfamily-bold {
  .btn {
    span {
      font-family: BaseFontBold, sans-serif;
    }
  }
}


/* FOnt Family Ends Here */




/** Button Position Start**/
.a-button--base.justify-content-starting {
  @media @desktop {
    position: relative;
    top: 160px;
  }

  @media (min-width:992px) and (max-width:1024px) {
    left: -6.5vw !important;
  }

  @media (min-width:1025px) and (max-width:1138px) {
    left: -14vw !important;
  }
  @media (min-width:1200px) and (max-width:1900px) {
    left: -16vw !important;
  }
  @media (min-width:1139px) and (max-width:1180px) {
    left: -10.5vw;
  }

  @media (min-width:1920px) {
    left: -12.5vw;
  }
}

.a-button--base.justify-content-left-center {
    @media @desktop {
        justify-content: left;
    }
    justify-content: center;
}

.a-button--base.justify-content-right-center {
    @media @desktop {
        justify-content: right;
    }
    justify-content: center;
}
/*Mobile Position*/
@media @lg-down{
    .a-button--base.justify-content-m-start{
        justify-content: start !important;
    }
    .a-button--base.justify-content-m-center{
        justify-content: center !important;
    }
    .a-button--base.justify-content-m-right{
        justify-content: end !important;
    }
}

/** Button Position End**/

/** Button Code Ends Here **/

