.m-card.m-card--base.m-card--allies {
    cursor: pointer;
    border:0;
    width: 170px;
    height: 170px;
    background-color: @white;
    &.m-card--border-radius {
        border-radius: 25px;
    }
}

.m-card:before {
    border-radius: 25px;
    border:none;
    box-shadow:none;
}
.m-card--base.m-card--promo.m-card--overlay:before{
    content: none;
}

.m-card.m-card--base.m-card--allies .m-card__body {
	display:none;
}

.m-card.m-card--base.m-card--allies .m-card__image, 
.m-card.m-card--base.m-card--allies .cmp-image__image {
    object-fit: fill;
}

.a-container__media .a-container__image img{
	object-fit: fill;
}
.m-card.m-card--base.m-card--allies .m-card-link .m-card__image, 
.m-card.m-card--base.m-card--allies .m-card-link .cmp-image__image {
    object-fit: contain;
}

.a-container--base.a-container--width-80 {
	.a-text--base.a-text--lineyellow, .a-text--base.a-text--linepurple, .a-text--base.a-text--lineskyblue {
        padding:0 160px;
    }
}

@media screen and (max-width: 1199px) {
    .a-container--base.a-container--width-80 {
        .a-text--base.o-color-purple.a-text--linepurple {
            padding:0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .a-container--base.a-container--width-80 {
        .a-text--base.a-text--lineyellow, .a-text--base.a-text--linepurple, .a-text--base.a-text--lineskyblue {
            padding:0 75px;
        }
    }
}

@media screen and (min-width: 1138px) and (min-height:712px) and (orientation:landscape) {
    .a-container--base.a-container--width-80 {
        .a-text--base.a-text--lineyellow, .a-text--base.a-text--linepurple, .a-text--base.a-text--lineskyblue {
            padding:0px;
        }
    }
}

/** Media Query for Tablet Devices **/
@media (min-width: 992px) and (max-width: 1024px) {
    .a-container--base.a-container--width-80 {
        .a-text--base.a-text--lineyellow, .a-text--base.a-text--linepurple, .a-text--base.a-text--lineskyblue {
            padding:0px;
        }
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .a-container--base.a-container--width-80 {
        .a-text--base.a-text--lineyellow, .a-text--base.a-text--linepurple, .a-text--base.a-text--lineskyblue {
            padding:0px;
        }
	}
    .a-container__media .a-container__image img {
		object-fit: cover;
    }
    .a-title--base.a-title--product-desc-title{
        h2 {
			font-size:24px !important;
            font-weight:500;
            line-height:29px !important;
        }

    }
	.a-title--base.a-title--ourallies--title {
        h1,h2 {
			font-size:24px !important;
            font-weight:500;
            line-height:29px !important;
            margin-bottom: 30px;
        }

    }
}

/** Media Query for Mobile Devices **/

@media(max-width:767px) {
    .a-container--base.a-container--width-80 {
        .a-text--base.a-text--lineyellow, .a-text--base.a-text--linepurple, .a-text--base.a-text--lineskyblue {
            padding:0px 10px;
        }
        .container:nth-of-type(1) {
			padding:0 !important;
        }
	}
     .a-title--base.a-title--product-desc-title{
        h2 {
			font-size:24px !important;
            font-weight:500;
            line-height:29px !important;
        }

    }
	.a-title--base.a-title--ourallies--title {
        padding-top:10px;
        .cmp-title {
            h2 {
                font-family: 'BaseFontBold', sans-serif !important;
            }
        }
        h1,h2 {
			font-size:24px !important;
            font-weight:500;
            line-height:29px !important;
            margin-bottom: 30px;
        }

    }
}


.a-container--base.a-container--allies-g{
    .a-container__row{
        .cmp-container{
            padding: 50px 10px 30px;
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .a-container--base.a-container--allies-g{
        .a-column-control--base.a-column-control--allies .container .row {
            justify-content: space-around;
        }
    }
}