/*background Color*/
.a-column-control--base.o-bg-color--pink{
    background-color:@abbott-pink !important;
}
.a-column-control--base.o-bg-color--nav-blue{
    background-color:@nav-blue !important;
}
.a-column-control--base.o-bg-color--light-yellow{
    background-color:#FFFCE5 !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
}
.a-column-control--base.o-bg-color--skyblue{
    background-image: linear-gradient(#08B4EF, #0262AC);

}
.a-column-control--base.a-four-products-m {
    @media @lg-down {
        display:inline-block;
    }
}
.a-column-control--base.a-align-product-m  .row {
    .col-12.col-md-4.col-lg-4.columncontrol__column {
        @media @lg-down {
            display:none;
        }
    }
    .col-12.col-md-4.col-lg-4.columncontrol__column:last-child {
        @media @lg-down {
            display:block;
        }
    }
}
/*exclusive*/
.a-column-control--base.a-column-control--exclusive{
    width: 100%;
    height: 150px;
    display:flex;
    align-items:center;  
    .container{
        max-width:100%;
     .row{
        align-items: center;
        .col-lg-5,.columncontrol__column{
            flex:0 0 50%;
            max-width:50%;
            margin-bottom: 0px !important;
            padding-right:15px !important;
            @media @lg-only {
                padding-left:130px;
            }
        }
    }
    .a-title--base .cmp-title h1 {
        @media @xl-down {
            font-size: 34px;
        }
        @media @lg-down {
            font-size: 22px;
        } 
    }
}
 .a-title--base .cmp-title h1,
    .a-title--base .cmp-title h2{
        line-height: 27px;
        @media @desktop{
          line-height: 39px;
        }
        @media @xl-up{
            font-size: 42px;
            line-height: 47px;
        }
    }
    .a-title--base.a-title--exclusive .cmp-title h1,
        .a-title--base.a-title--exclusive .cmp-title h2{
        @media (min-width: 768px){
            font-size: 34px !important;
            line-height: 39px !important;
        }
    }
}
.a-column-control--base.a-column-control--center{
    .row{
         align-items: center;
    }
}

/** Media Query for Tablet Devices **/
@media (min-width: 768px) and (max-width: 991.98px) {
    .a-column-control--base.a-column-control--allies .container {
		flex-direction: column;
    }

    .a-column-control--base.a-column-control--promo .container .row {
		flex-direction: column;
    	align-items: center;
    }

    .a-column-control--base.a-column-control--promo .container .row .columncontrol__column {
		max-width:50%;
     }
}
//Remove spacing
.a-column-control--base.o-remove-top-spacing,
.a-column-control--base.o-remove-top-spacing .columncontrol__column{
   padding-top:0px !important;
   margin-top:0px !important;
}
.a-column-control--base.o-remove-bottom-spacing,
.a-column-control--base.o-remove-bottom-spacing .columncontrol__column{
   margin-bottom:0px !important;
   padding-bottom:0px !important;
}
.columncontrol.o-remove-top-spacing {
   padding-top:0px !important;
   margin-top:0px !important;
}
.columncontrol.o-remove-bottom-spacing {
   margin-bottom:0px !important;
   padding-bottom:0px !important;
}
.a-column-control--base.o-remove-left-spacing,
.a-column-control--base.o-remove-left-spacing >.container {
   padding-left:0px !important;
   margin-left:0px !important;
}
.a-column-control--base.o-remove-left-padding >.container .columncontrol__column {
    padding-left:0px !important;
    margin-left:0px !important;
 }
 .a-column-control--base.o-remove-right-padding >.container .columncontrol__column {
    padding-right:0px !important;
    margin-right:0px !important;
 }
 
.a-column-control--base.o-remove-right-spacing,
.a-column-control--base.o-remove-right-spacing >.container {
   padding-right:0px !important;
   margin-right:0px !important;
}


/*space between column control 22px*/
@media @desktop{
.a-column-control--base.o-column-space-between-d-22Px{
		.container {
			max-width: 100%;
        }
        .columncontrol__column:first-child {
			padding-left:0px;
            padding-right: 15px !important;
        }
        .columncontrol__column {
			padding:0 7px;
        }
        .columncontrol__column:last-child {
			padding-right: 0px;
            padding-left:15px !important;

        }
    }
}
/* Landscape */ 
@media only screen and (device-width: 1138px) and (device-height: 712px) and (orientation: landscape){
 .a-column-control--base.o-column-space-between-d-22Px{
		.container {
            max-width:100vw;
			margin:0;
        }

    }
}


//For Ipad Pro 
@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .a-column-control--base.o-column-space-between-d-22Px{
		.container {
            max-width:992px;
			margin:0;
        }
    }
}


@media @lg-down{
    .a-column-control--base.o-column-space-between-d-22Px{
        .columncontrol__column {
            -webkit-box-flex: 0;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .col-md-6 {
            -webkit-box-flex: 0;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }

    .a-column-control--base.a-left-margin-30 {
        margin-left:30px;
    }
}

/** Column COntrol Ends **/  
