.a-container--cookie-policy {
    position: fixed;
	bottom: 0;
    display:none;
	.cmp-container {       
    	.a-button--base {
            padding-top:15px; 

        }
        	.btn {
           		font-weight:700;
            	min-width:0px !important;


    	}
	}
}


@media (min-width: 576px) and (max-width: 991px) {
	.a-container--cookie-policy {
	.cmp-container {
            .container{
                max-width:none;
        }
            .row {
                flex-direction: row !important;
                .col-12:first-child {
						flex: 0 0 70%;
    				max-width: 70%;
                }

                .col-12:nth-child(2) {
						flex: 0 0 30%;
    				max-width: 30%;
                }

            }
        }
    }
}




@media (max-width: 991px) {

.a-container--cookie-policy {
	.cmp-container {
            .container{
                max-width:none;
        }
            .row {
                justify-content: space-around;
                >[class*="col-"] {
                    margin-bottom:0px !important;

                }
            } 

    	.a-button--base {
                margin: 0 auto;
        }

	}
}

}


