
/*Desktop View*/

@media @desktop{
     .a-container--header-ensure .m-mega-menu__mobile-item-wrapper:hover {        
        --mega-menu-border-hover: none;
    }
    .o-header__mega-menu{
        .m-mega-menu__mobile{
            .navbar {
                height: 55px;
                .navbar-nav{
                    height: 55px;
                    .m-mega-menu__mobile-item-wrapper {
                        padding-right: 32px;
                        padding-left: 20px;
                        font-size: 14px !important; 
                        padding-top: 20px;
                        margin-right: 0px;
                        text-align:center;
                        .m-mega-menu__side-nav .m-link-stack .a-link__text {
                            text-align: left !important;
                        }
                    }
                }
            }        
        }
    }
    .o-header__logo-section{
        height:75px;
    }    
}
@media @lg-down {
    .a-container--header{
       padding:0px !important;
       margin-top:125px !important;
    }
	.a-container--header-pediasure {
        .a-link--base.a-link--register {
            order:2;
        }
        .a-link--base.a-link--login {
            order:1;
        }
        .m-socialmedia--base.m-socialmedia--header {
            order:3;
        }
    }
}	
	/* ALL views*/
	
.a-container--header-ensure .o-header__logo-section {
		background-color: #06305E;
		border-bottom: none !important;
	}

.a-container--header-pediasure .o-header__logo-section{
		background-color: @abbott-darkpink;
		border-bottom: none !important;
	}
	.navbar-toggler {
		border-radius:0px;
	}
	/*logo*/
	.o-header__logo-left {
		img {
			&:last-child {
				opacity: 1 !important;
				position: relative;
			}
		}
	}
	/*logo ends*/
	.o-header__secondary-top-nav {
		background-color: #e8e8e8 !important;
		height: 75px;
	}
	.a-container--header-pediasure .o-header__secondary-top-nav {
		background-color:white !important;
	}
	.o-header__mega-menu {
		.navbar-nav {
			align-items: center;
			overflow: hidden !important;
			.m-mega-menu__mobile-item-wrapper {
				&:hover {
					background-color: rgb(1, 57, 116);
					.nav-link {
						color: #fff;
					}
				}
			}
		}
	}
	.m-mega-menu__mobile {
		.navbar-nav {
			.nav-link {
				padding: 0px;
				font-weight: 400;
				font-size: 14px;
				border-bottom: none;
				color: #004084;
				font-family: 'BaseFontLight',sans-serif;
				line-height:normal;
			}
		}
	}
	.m-mega-menu__mobile-item-wrapper {
	@media @xl-up{
			.link{
			padding-bottom:0px;
			}
		}
	
		.a-link__inner-text {
			padding: 0px;
			font-weight: 400;
			font-size: 14px;
			border-bottom: none;
		}
		&:last-child {
			padding-right: 32px;
		}
	}
	.navbar-nav {
		.m-mega-menu__mobile-item-wrapper {
			padding-top: 17.5px;
			padding-bottom: 17.5px;
		}
	}
	.header {
		margin-top: 0px !important;
	}

	/*mega-meny starts*/
	.m-mega-menu__default {
		.m-mega-menu__nested-menu-wrapper {
			padding: 0px;
			min-width: auto !important;
			max-width: 240px !important;
			.m-mega-menu__side-nav {
				.m-link-stack {
					width: 240px;
					padding-bottom: 0px;
					.a-link {
						min-height: 53px;
						padding: 5px 10px 0px 10px;
						display: flex;
						border-top:none;
                        border-left: none !important;
					&:hover{
						 .a-link__text {
							 font-weight: bold;
							}
						}
						.m-mega-menu__item{
							border-bottom: 1px solid #fff;
							padding-bottom: 5px;
						}
					}
					.a-link__text {
						font-size: 13px;
						color: #fff;
						font-weight: normal;
						width: 100%;					
						line-height: normal;
						font-family: BaseFontLight,sans-serif;					
						padding-right: 32px;					
						&:hover {
							line-height: normal;
							font-family: BaseFontLight,sans-serif;
							color: #fff;
							font-size: 13px;
						}
					}
				}
			}
			.m-mega-menu__nested-menu-img-list {
				border: none;
				flex-direction: column;
				background-color: #ffb420;
				width: 100% !important;
				min-width: 100% !important;
				max-width: 100% !important;
				padding: 0px;
				.m-mega-menu__side-nav-item {
					height: 53px;
					min-width: 100%;
					padding: 0px 10px;
					z-index: 1;
					.m-mega-menu__item-info {
						min-width: 100%;
						min-height: 100%;
						padding:0px;
						border-bottom: 1px solid #064181;
						text-align: left;
						&:hover {
							.m-mega-menu__item-title {
								color: #fff;
							}
						}
					}
					&:hover {
						background-color: #064181;
						.m-mega-menu__item-info {
							background-color: #064181;						
							text-align: left;
							border-color:#fff;
						}
						.m-mega-menu__item-title {
							border-color: #fff;
							font-weight:700;
							color:#fff;
						}
					}
					.m-mega-menu__item-title {
						font-size: 13px;
						font-weight: normal;
						width: 100%;
						line-height: normal;
						font-family: BaseFontLight,sans-serif;
						//padding-bottom: 10px;
						padding-right: 0px;
						color: #064181;
						border: none;
					   // min-height:43px;
						//border-bottom: 1px solid #064181;
					}
				}
			}
		}
	}
	.a-container--header-pediasure .o-header {
		.m-mega-menu__mobile {
			.m-mega-menu__nested-menu {
				margin-left: -15px;
			}
		}
	}
	.m-mega-menu__nested-menu-wrapper {
		.m-link-stack--content {
			background-color: #06305E;
		}
		.a-link {
			&:hover {
				background-color: #064181;
			}
		}
	}
	.m-mega-menu__nested-menu {
		.m-mega-menu__side-nav-transparent {
			width: 240px;
			margin-top: -5px;
			top: auto !important;
		}
	}
	
	/* register login social*/
	.a-container--base.a-container--header {
		position: absolute;
		z-index: 9999;
		margin-bottom: 0px !important;
		padding: 0px;
		height: 75px;
	}
	.a-link--register {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.a-link--medico {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
     @media @lg-down{
        display:none;
    }
	}
	.a-link--base.a-link--login {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		a {
			&:hover {
				text-decoration: none;
			}
		}
		.a-link__inner-text {
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			font-family: 'BaseFontLight',sans-serif;
			color: #004084;
			border-left: 1px solid #004084;
			padding: 0px 10px;
		}
	}
	.m-socialmedia--base.m-socialmedia--header {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		a {
			&:hover {
				text-decoration: none;
			}
		}
		.m-social-media--icons {
			li {
				list-style: none;
				margin-left: 12px;
				top: 5px;
				position: relative;
			}
		}
	}
	.a-link--base.a-link--register, .a-link--base.a-link--medico  {
		a {
			&:hover {
				text-decoration: none;
			}
		}
		.a-link__inner-text {
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			font-family: 'BaseFontLight',sans-serif;
			color: #004084;
			border-left: 1px solid #004084;
			padding: 0px 10px;
		}
	}
	
	/*Mobile potrait mode*/
	@media @mob-only{
		#a-container-ensure-header{
			top: 60px;
			position: absolute;
			left: 5vw;
		}
		.m-socialmedia--base.m-socialmedia--header {
			visibility: hidden;
		}
		.abt-icon-shoppingcart {
			&:before {
				left: 37vw;
			}
		}
		.a-link--base.a-link--register, .a-link--base.a-link--medico {
			flex: 0 0 50%;
			text-align: center;
			padding: 6px 0px;
		}
		.a-link--base.a-link--login {
			flex: 0 0 50%;
			background-color: #1d63af;
			text-align: center;
			padding: 6px 0px;
		}
		.o-header__mega-menu{
			.navbar{
				height: 64px;
			}
			.abt-icon-shoppingcart{
				&:before {
					top: 3px !important;
					padding: 12px 5px;
					margin-left:-1.5vw;
				}
			}
			.navbar-toggler{
				height: 64px !important;
				position: absolute;
				left: 0px;
				width: 50px;
				.abt-icon-hamburger {
					&:before {
						font-size: 30px;
						color: #06305E;
						font-weight: bold;
					}
				}
			}
		}
		.o-header__search{
			overflow: visible;
			.a-search.a-search--expand .a-search--icon-left {
				top: 12px;
				left: 12px;
			}
		}
		.o-header__search .a-search .a-search--icon-left {
			position: absolute;
			left: 25px;
			top:23px;
		}
	}
	@media @small-mob  {
		.o-header .m-signup .a-link {
			margin-right: 20px;
		}
	
		.a-link--base.a-link--register .a-link__inner-text,
		.a-link--base.a-link--login .a-link__inner-text,
    	.a-link--base.a-link--medico .a-link__inner-text{
			font-size:12px !important;
		}
		.a-search__input{
			padding-right:0px;
		}
		.o-header .sticky {
			width: 100vw;
	
		}
	}
	@media (max-width:360px){
	 .a-link--icon-left .a-link__text .abt-icon.abt-icon-shoppingcart {
		  left:4vw;
		}
	  .o-header .m-signup .a-link {
		margin-right: 25px;
	}
	}
	/*Tablet Potrait View*/
	@media @tablet{
		#a-container-ensure-header{
			margin-left: 10vw;
			top: 60px;
			position: absolute;
			left: 10vw;
			width: 50vw;
		}
		.m-socialmedia--base.m-socialmedia--header {
			visibility: hidden;
		}
		.o-header__mega-menu {
			background-color: #013974 !important;
			height:64px;
		}
		.navbar-toggler{
			height: 64px !important;
			width: 128px;
			position: absolute;
			left: -16px;
			&.abt-icon-cancel{
				left: -4vw;
			}
			.abt-icon-hamburger {
				&:before {
					font-size: 30px;
					color: #06305E;
					font-weight: bold;
				}
			}
		}
		.a-link--base.a-link--register {
			flex: 0 0 50%;
			text-align: center;
			padding: 10px 0px;
		}
    	.a-link--base.a-link--medico {
			flex: 0 0 50%;
			text-align: center;
			padding: 10px 0px;
		}
		.a-link--base.a-link--login {
			flex: 0 0 50%;
			background-color: #1d63af;
			text-align: center;
			padding: 10px 0px;
		}
		.abt-icon-shoppingcart {
			&:before {
				font-size: 47px !important;
			}
		}
		.o-header {
			.m-signup {
				.a-link {
					margin-right: 0px;                
				}
			}
		}
		.m-mega-menu__mobile {
			.navbar {
				height: 64px !important;//changed
				.navbar-collapse{
					width:100%;
				}
			}
			
		}
		.o-header__logo-section .container{
			max-width:100%;
		}
		.o-header__search .a-search.a-search--expand .a-search--icon-left {
			position: absolute;
			top: 12px;
			left: 12px;
		}
		.o-header__search .a-search .a-search--icon-left {
			left:0px;
			top: 18px;
		}
	}
	/*mobile view and tablet view*/
	
	@media @mob-tab{
		.o-header {
			.a-search__input{
				padding-right:0px;
			}
			.o-header__sticky-section.sticky.show{
				.o-header__mega-menu{
					.container{
						padding-left:0px;
						padding-right:0px;
					}
				}
				.o-header__logo-section{
					padding-left:0px;
					padding-right:0px;
					.col-lg-3{
						padding-right: 7px;
						padding-left:7px;
					}
				}
			}
			.o-header__logo-section{
				.container{
					padding-left:0px;
					padding-right:0px;
				}
			}
			.o-header__mega-menu {
				background-color: #013974 !important;
			}
			.o-header__sticky-section{
				.o-header__logo-section{
					padding: 5px 11px;
					height: 61px;
					.col-lg-3{
						padding-right: 11px;
						padding-left:11px;
					}
					.o-header__logo-left img{
						&:last-child {
							max-height:51px;
						}
					}               
				}
	
			}
		.sticky {
				.o-header__logo-right {
				opacity: 1;
				display: flex;	
				}
			}
		}
		.m-mega-menu__mobile {
			.navbar {
				background-color: #013974 !important;
				.navbar-collapse {
					background-color: #064181;
					.m-mega-menu__mobile-item-wrapper {
						width: 100%;
						border-bottom: 1px solid #fff;
						padding: 0px;
					}
				}
				.navbar-collapse-wrapper {
					padding: 0px !important;
				}
			}
			.menu-active {
				&::before {
					display: none;
				}
			}
		}
	.navbar-toggler {
		background-color: #F6B336;
	}
	.a-link--base.a-link--register {
		.a-link__inner-text {
			color: #fff;
			border-left: none;
			font-size: 14px;
			font-family: BaseFontLight,sans-serif;
			font-weight: 400;
		}
	}
    .a-link--base.a-link--medico {
		.a-link__inner-text {
			color: #fff;
			border-left: none;
			font-size: 14px;
			font-family: BaseFontLight,sans-serif;
			font-weight: 400;
		}
	}
	.a-link--base.a-link--login {
		.a-link__inner-text {
			color: #fff;
			border-left: none;
			font-size: 14px;
			font-family: BaseFontLight,sans-serif;
			font-weight: 400;
		}
	}
	.abt-icon-shoppingcart {
		&:before {
			background-color: #064181;
			color: #F6B336;
			top: -1px !important;
			padding:9px 0px;
	
		}
	}
	.o-header__mega-menu {
		.abt-icon-search {
			&:before {
				color: #fff;
			}
		}
		.a-search.a-search--expand {
			.abt-icon-search {
				&:before {
					color: #000;
				}
			}
		}
		.navbar-nav {
			padding: 0px;
			max-height: 90vh;
			overflow-y: auto !important;
		}
	}
	.o-header__mob-options {
		.m-signup {
			.abt-icon {
				display: block;
			}
		}
		.a-link__inner-text {
			visibility: hidden;
		}
	}
	.navbar-collapse {
		.m-mega-menu__mobile-item-wrapper {
			.m-mega-menu__mobile-header {
				color: #cbcbcb !important;
				font-size: 15px !important;
				font-family: BaseFontLight,sans-serif;
				font-weight: 400 !important;
				&::after {
					display: block !important;
					content: "";
				}
			}
			.m-mega-menu__mobile-header.active {
				&::after {
					display: block !important;
					content: "";
				}
			}
		}
	}
	.m-mega-menu__mobile-item-wrapper {
		.a-link__inner-text {
			color: #cbcbcb !important;
			font-size: 15px !important;
			font-family: BaseFontLight,sans-serif;
			font-weight: 400 !important;
		}
	}
	.m-mega-menu__mobile-sub-head {
		&::after {
			display: block !important;
			content: "";
		}
		color: #fff;
		font-weight: 400;
		font-size: 13px;
		font-family: BaseFontLight,sans-serif;
		&:hover {
			color: #fff;
			font-weight: 400;
			font-size: 13px;
			font-family: BaseFontLight,sans-serif;
		}
	}
	.m-mega-menu__mobile-sub-head.active {
		&::after {
			display: block !important;
			content: "";
		}
		color: #fff;
		font-weight: 400;
		font-size: 13px;
		font-family: BaseFontLight,sans-serif;
	}
	.m-mega-menu__mobile-item-link {
		color: #fff;
		font-weight: 400;
		font-size: 13px;
		font-family: BaseFontLight,sans-serif;
	}
	.m-mega-menu__mobile-submenu-body {
		padding: 0px;
		.m-mega-menu__mobile-item-link {
			color: #064181;
			border-bottom: 1px solid #064181;
		}
	}
	.m-mega-menu__mobile-tertiary {
		background-color: #FFB420;
	}
	.m-mega-menu__mobile-products {
		padding-left: 0px;
	}
	
	/*Header*/
	.m-mega-menu__item.m-mega-menu__mobile-item {
		 .m-mega-menu__mobile-item{
			border-top: 1px solid #fff;
				.m-mega-menu__mobile-item-link{
					&:active{
						color:#064181;
						font-weight: 400;
					}
					&:hover{
						color:#fff;
					}
				}
			}
		.dropdown {
			&::after {
				color: #fff;
				content: "\002B";
				left: 30%;
				position: absolute;
				font-weight: 800;
				font-size: 20px;
			}
		}
		display: flex !important;
		flex-wrap: wrap !important;
		.m-mega-menu__mobile-header {
	
			flex: 0 0 90%;
		}
		.m-mega-menu__mobile-products {
			background-color: #06305E;
			flex: 0 0 100%;
		}
	}
	.m-mega-menu__mobile-item.dropdown-active {
		.dropdown {
			&::after {
				content: "\2212";
				color: #fff;
				left: 30%;
				position: absolute;
				font-weight: 800;
				font-size: 20px;
			}
		}
		.m-mega-menu__mobile-products.d-none {
			display: block !important;
		}
	}
	.m-mega-menu__item {
		.dropdown {
			position: relative;
			flex: 0 0 10%;
			padding: 15px 0px 13px 0px;
		}
	}
	.m-link-stack__link {
		.a-link {
			.abt-icon {
				right: 0px;
			}
		}
	}
	#a-container-ensure-header {
		//position: fixed;
		height: 65px;
			.link{
				padding:17px 0px;
				//position:relative;
			}
	}
	/*tertiary*/    
	.m-mega-menu__tertiary {
	
		.dropdown2 {
			&::after {
				color: #fff;
				content: "\002B";
				left: 30%;
				position: absolute;
				font-weight: 800;
				font-size: 20px;
			}
			position: relative;
			flex: 0 0 10%;
			padding: 15px 0px 13px 0px;
		}
		display: flex !important;
		flex-wrap: wrap !important;
		.m-mega-menu__mobile-sub-head {
			flex: 0 0 90%;
		}
		.m-mega-menu__mobile-tertiary {
			flex: 0 0 100%;
		}
	}
	.m-mega-menu__tertiary.dropdown-active2 {
		.dropdown2 {
			&::after {
				content: "\2212";
				color: #fff;
				left: 30%;
				position: absolute;
				font-weight: 800;
				font-size: 20px;
			}
		}
		.d-none.m-mega-menu__mobile-tertiary {
			display: block !important;
		}
	}
	
	}
	
	/*desktop view*/
	@media @desktop{
	 :root{
	 --mega-menu-min-height: auto;
	 }
	
	.m-mega-menu-dynamic--base {
		.m-mega-menu__item {
			.arrow {
				&:before {
					content: "\276F";
					padding-left:2px;
                    font-size: 12px;
				}
				flex: 0 0 10%;
				margin-left: 10%;
				color: #004084;
				display: none;
				transform: rotate(90deg);
			}
			.submenu-arrow {
				&:before {
					content: "\276F";
				}
				color: #06305e;
				visibility: hidden;
				//padding-bottom: 10px;
			}
			display: flex !important;
			flex-direction: row;
			align-items: center;
			width: 100%;
		}
		.m-mega-menu__nested-menu-wrapper {
			.m-mega-menu__side-nav {
				.m-link-stack {
					.a-link {
						&:hover {
							.submenu-arrow {
								color: #fff;
							}
						}
					}
				}
			}
		}
		.m-mega-menu__item.m-mega-menu__mobile-item {
			display: none !important;
		}
		.m-mega-menu__mobile {
			.navbar-nav {
				.nav-link {
					flex: 0 0 90%;
				}
			}
		}
	}
	.o-header__mega-menu {
		.m-megamenu--base {
			.navbar-nav {
				.m-mega-menu__mobile-item-wrapper {
					&:hover {
						.arrow {
							color: #fff;
						}
					}
				}
			}
		}
	}
	.o-header__search {
		.a-search {
			.a-search__input {
				display: none;
			}
			.a-search--icon-left {
				top: 0px;
			}
		}
		.a-search.a-search--expand {
			.a-search__input {
				display: block;
			}
			.a-search--icon-left {
				top: 12px;
			}
		}
	}
		.o-header {
			.sticky {
				.abt-icon.abt-icon-search {
					color: #fff;
				}
				.a-search--expand {
					top:-40px;
					.abt-icon.abt-icon-search {
						color: #000;
					}
				}
				.o-header__logo-section {
					img {
						&:last-child {
							max-height: 51px !important;
							
						}
					}
	
				.o-header__logo-right {
					opacity: 1;
					display: inline-block;
					position: relative;
					left: 32vw;
	
				}
				}
			}
		}
	
	
	.a-container--base.a-container--header {
		width: 50%;
		.a-header-scroll {
			display: none !important;
		}
	}
	
	} 
	
	.a-container--base.container-full-width.a-container-zindex{
			z-index:999;
	}
	.a-container--base.container-full-width.a-container--header{
			z-index:9999;
	}
	
	/*samsung tab*/
	@media @small-tab{
		.o-header__mega-menu .container{
			max-width: 680px;
		}
		.m-mega-menu__mobile .navbar .navbar-collapse {
			width:96% !important;
		}
		#a-container-ensure-header{
			top: 60px !important;
		} 
		.abt-icon-shoppingcart:before {
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
		.navbar-toggler.abt-icon-cancel {
			left: -5vw !important;
		}
	}
	
	//tablet portrait mode
	@media @lg-only and (orientation: portrait){
		.o-header__mega-menu .container{
			max-width: 100%;
		}
		.m-mega-menu__mobile .navbar .navbar-collapse {
			width:96% !important;
		}    
	}
	/*Landnscape mode*/
	@media @mob-tab and (orientation: landscape) {
		.m-megamenu--base .navbar-collapse-wrapper{
			height:70vh;
		}
	}
	/*container landscape in mobile*/
	
	@media @sm-mob-landscape and (orientation: landscape) {
	.o-header__mega-menu .container{
	   max-width: 100% !important;
	}
	.abt-icon-shoppingcart:before {    
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	.m-mega-menu__mobile .navbar .navbar-collapse {
			width: 96%;
	  }
	}
	@media @lg-mob-landscape and (orientation: landscape) {
	.o-header__mega-menu .container{
	   max-width: 100% !important;
	}
	.abt-icon-shoppingcart:before {
		left: 100px;
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	
	#a-container-ensure-header{
		width: 68vw;
		}
	.m-mega-menu__mobile .navbar .navbar-collapse {
			width: 96%;
		}
	}
	@media only screen and (min-width: 700px) and (max-width: 800px)  and (orientation: landscape) {
	.o-header__search .a-search .a-search--icon-left {
		left: 10px;
		}
	}
	/*desktop View*/
	
	.o-header {
		.m-link-stack--header {
			display: none;
		}
		.justify-content-end {
			justify-content: flex-start !important;
		}
		.o-header__user-activity {
			margin-left: auto !important;
		}
		.m-mega-menu__mobile {
			.m-mega-menu__nested-menu {
				left: auto !important;
				margin-left: -20px;
			}
		}
	}
	.js-collapsable-links.m-link-stack--content {
		display: flex !important;
	}
	.a-linkstack--base.a-linkstack--header{
        .m-link-stack--content {
            .a-link {
                font-size: 14px;
                cursor: pointer;
                font-weight: 400;
                padding: 0px 10px;
                color: #004084;
                border-left: 1px solid #004084;
            }
        }
	}
	.o-header__user-activity {
		.m-link-stack {
			.a-link__text {
				color: #004084;
				font-family: 'BaseFontLight',sans-serif;
			}
		}
		.a-link--icon-left {
			margin-top: 15px;
		}
		.a-link__inner-text {
			margin-left: 12px;
			color: #004084;
			font-family: 'BaseFontLight',sans-serif;
	
		}
	}
.abt-icon-facebook-black {
    &:before {
        content: "\e90a";
        font-size: 24px;
        border-radius: 50%;
        color: #e8e8e8;
        border: 1px solid #004084;
        background: #004084;
    }
}
	.abt-icon-instagram-black {
		&:before {
		content: "\e90d";
		font-size: 24px;
		border-radius: 50%;
		color: #e8e8e8;
		border: 1px solid #d6249f;
		background: #d6249f;
		}
	}
.abt-icon-youtube-black:before {
    content: "\e918";
    font-size: 24px;
    border-radius: 50%;
    color: #e8e8e8;
    border: 1px solid red;
    background: red;
}
	/*shopping cart*/
	.abt-icon-shoppingcart {
		&:before {
			content: "\e94f";
			font-size: 39px;
			position: relative;
			top: -10px;
			@media @desktop{
				color: #06305e; 
			}
			@media (min-width:700px) and (max-width:800px) and (orientation: landscape) {
				left: -0.5vw;
			}
			@media (min-width:800px) and (max-width:900px) and (orientation: landscape) {
				left: -4.8vw;
			}
			@media (min-width:820px) and (max-width:991px) and (orientation: portrait){
				padding: 9px 30px;
				left: -3.5vw !important;
			}
			@media (min-width:768px) and (max-width:819px) and (orientation: portrait){
				padding: 9px 30px;
				left: -1.5vw !important;
			}
			@media (min-width: 800px) and (max-width: 840px) and (orientation: landscape){
				left: -2.5vw !important;
			}
            @media (min-width: 600px) and (max-width: 700px) and (orientation: landscape){
				left: 14vw !important;
				margin-left: -3.0vw !important;
			}
		}
	}
	
	
	/*ipad pro view*/
	@media @ipad-pro {
	.navbar-nav .m-mega-menu-dynamic--base .nav-link {
	  font-size:12px;
	}
	.o-header__search .a-search.a-search--expand .a-search--icon-left {
		position: absolute;
		top: 12px;
		left: 12px;
	}
	.o-header__search .a-search .a-search--icon-left {
		position: absolute;
		top: 0px;
		left: 75px;
	} 
		.o-header__logo-section{
			.container{
				max-width:96% !important;
			}
		}
	 .o-header__secondary-top-nav{
			.container{
				max-width:96%;
			}
		}
		 #a-container-ensure-header{
			margin-left:20px !important;
		}
	}
	@media (min-width:1024px) and (max-width:1366px) and (orientation: landscape){
		 #a-container-ensure-header{
			margin-left:60px;
		} 
		  .o-header__logo-section{
			.container{
				max-width:86%;
			}
		}
	
	}
	
	@media (max-width:991px) and (orientation: landscape){
		.navbar-toggler {
			width:15vw !important;
			 &.abt-icon-cancel{
				left: -4vw;
			}
		}
		#a-container-ensure-header{
		width: 61vw !important;
			margin-left:13vw !important;
			left:0px !important;
		}
		.o-header__logo-section{
			.container{
				max-width:100%;
				.col-lg-3{
				  padding-right: 11px;
				  padding-left: 11px;
				}
			}
		}
	   .o-header .o-header__logo-section img:last-child {
			max-height:30px;
		}
	}
	
	@media @lg-only and (orientation: portrait){
		 .navbar-toggler {
			width:15vw !important;
			 &.abt-icon-cancel{
				left: -4vw;
			}
		}
		#a-container-ensure-header{
		width: 61vw !important;
			margin-left:13vw !important;
			left:0px !important;
		}
		.o-header .o-header__logo-section img:last-child {
			max-height:30px;
		}
	
	}
	@media (max-width:712px) and (orientation: portrait){
		 .navbar-toggler {
			width:15vw !important;
			 &.abt-icon-cancel{
				left: -1vw;
			}
		}
		#a-container-ensure-header{
		width: 60vw !important;
			margin-left:14vw !important;
			left:0px !important;
		}
	
	}
	#a-container-ensure-header{
    	position: relative ;
		display: flex;
		align-items: center;
		margin-left: 31.5px;
	}
@media (max-width:991.98px){	
    .a-scroll{
        position:fixed ;
    }
    #a-container-ensure-header{
        position: fixed ;
    }
    .m-mega-menu__mobile-submenu-body .m-mega-menu__mobile-item-link:hover{
        color:#064181 !important;
    }

}

@media (min-width:1900px){
    #a-container-ensure-header{
        margin-left: 20vw !important;
    }
    .o-header .sticky .o-header__logo-section .o-header__logo-right{
        left:18vw !important;
    }
    .o-header__sticky-search {
        right:65px;
    }
    .o-header__sticky--full-width .o-header__logo-right {
        opacity: 0 !important;
    }

}



@media @desktop{
    .a-container--header-pediasure .m-mega-menu__mobile-item-wrapper:hover {           
            --mega-menu-border-hover: none;
        }
    .a-container--header-ensure .m-mega-menu__mobile-item-wrapper:hover {        
        --mega-menu-border-hover: none;
    }
}

/*PediaSure Header*/
.a-container--header-pediasure .m-mega-menu__mobile .navbar-nav .nav-link {
    color:#4B3661;
}
.a-container--header-pediasure .o-header__mega-menu .navbar-nav .m-mega-menu__mobile-item-wrapper:hover {
    background-color: @abbott-pink !important;
    @media @lg-down{
        .m-mega-menu__mobile-header,.dropdown{
            background-color: @abbott-darkpink;
        }
    }
    .nav-link,.m-mega-menu-dynamic--base .m-mega-menu__item .arrow {
        color: #fef12c !important;
    }
}
.a-container--header-pediasure {
	@media @xl-up {
		.o-header .o-header__logo-section .o-header__logo-right {
			left: 25vw;
		}
		.o-header .o-header__logo-section .o-header__sticky--full-width {
			.o-header__logo-right {
				left: 30vw;
			}
		}
	}
    .m-mega-menu-dynamic--base .m-mega-menu__item .arrow {
        color:#4B3661;
    }
    .m-mega-menu__nested-menu-wrapper .m-link-stack--content {
        background-color:#fff;
    }
    .m-mega-menu__nested-menu-wrapper .a-link:hover {
        background-color: @abbott-darkpink;
      .a-link__text{
            color:#fff !important;
        }
      .submenu-arrow{
                color: #fff !important;
            }
    }
    .m-mega-menu__default .m-mega-menu__nested-menu-wrapper .m-mega-menu__side-nav .m-link-stack{
        .m-mega-menu__item {
            border-color:#4B3661;
            .submenu-arrow{
                color: #4B3661;
            }
        }        
       .a-link__text {
            color: #4B3661;
            &:hover{
                color:#fff;
            }
        }
    }
    .m-mega-menu__default .m-mega-menu__nested-menu-wrapper .m-mega-menu__nested-menu-img-list {
        background-color:#f4f4f4;
        .m-mega-menu__side-nav-item{
            .m-mega-menu__item-info {
                border-color:#4B3661;
            }
            .m-mega-menu__item-title {
                color: #4B3661;
            }
            &:hover {
            background-color: @abbott-darkpink;
            .m-mega-menu__item-info {
                background-color: @abbott-darkpink;
            }
             .m-mega-menu__item-title{
                    color:#fff;
                }
            }
        }
    }
    @media @lg-down{
        .a-link--base.a-link--register .a-link__inner-text,
        .a-link--base.a-link--login .a-link__inner-text,
        .a-link--base.a-link--medico .a-link__inner-text,
        .o-header__mega-menu .abt-icon-search:before{
            color: #4B3661;
        }
        .m-mega-menu__mobile .navbar,.o-header__mega-menu,.a-link--base.a-link--login {
            background-color: #efefef !important;
        }
        .abt-icon-shoppingcart:before {
            background-color: #6F5787;
            color: #e6b203;
        }
        .navbar-toggler {
            background-color: #e6b203;
            .abt-icon-hamburger:before {
                color:#fff;
            }
        }
        .m-mega-menu__mobile .navbar .navbar-collapse {
            background-color: #4B3661;
                top: -1px;
            .m-mega-menu__mobile-item-wrapper {
                border-color:#e6b203;
                &:first-child{
                    border-top: 1px solid #e6b203;
                }
            }
        }
        .m-mega-menu__item.m-mega-menu__mobile-item .dropdown::after,
        .m-mega-menu__tertiary .dropdown2::after{
            color: #fef12c;
        }

        .m-mega-menu__item.m-mega-menu__mobile-item .m-mega-menu__mobile-products {
            background-color: #6F5787;
            .m-mega-menu__mobile-item{
                border-color:#e6b203;
            }
            .m-mega-menu__mobile-tertiary {
                background-color: #8d75a5;

                .m-mega-menu__mobile-submenu-body .m-mega-menu__mobile-item-link {
                    color: #fff;
                    border-color: #e6b203;
                    &:hover{
                    color: #fff !important;
                    }
                }
            }
        }

    }
	@media @desktop {
		.a-link--base.a-link--register .a-link__inner-text,
		.a-link--base.a-link--login .a-link__inner-text,
		.a-linkstack--base.a-linkstack--header .m-link-stack--content .a-link {
			border-left: 1px solid #06305E;
			color: #06305E;
		}
		.a-linkstack--base.a-linkstack--header .m-link-stack--content .a-link__text {
			color: #06305E;
		}

	}
}

.a-container--header-pediasure .o-header__mega-menu .m-mega-menu__mobile .navbar .navbar-nav .m-mega-menu__mobile-item-wrapper {
    .nav-link {
		letter-spacing: normal !important;
	}
	@media @desktop{
        &:first-child{
            background-color: #e6b203;
            padding-right: 10px !important;
            .nav-link{
                color:#fff !important;
                display: flex;
                align-items: center;
                text-align:left !important;
                &:before{
                    content: "\002630";
                    font-size: 23px;
                    font-weight: bold;
                    margin-right:5px;
                }
            }
            .arrow{
                display:none !important;
            }
        }

        padding-right: 10px;
        padding-left: 10px;
        text-align: center !important;
        .nav-link{
            font-size:12px;
        }
        .m-mega-menu__side-nav .m-link-stack .a-link__text {
            text-align: left !important;
        }
    }
	@media @xl-up{
		padding-right: 15px !important;
		padding-left: 15px !important;
		text-align: center;
		.nav-link{
			font-size:14px !important;
		}
	}
}

/*Glucerna Header*/
.a-container--header-glucerna .o-header__logo-section{
    background-color: #fff;
    border-bottom: none !important;
}
.a-container--header-glucerna .m-mega-menu__mobile .navbar-nav .nav-link {
    color:#00529B;
}
.a-container--header-glucerna .o-header__mega-menu .navbar-nav .m-mega-menu__mobile-item-wrapper:hover {
    background-color: #00529B !important;
    @media @lg-down{
        .m-mega-menu__mobile-header,.dropdown{
            background-color: #00529B;
        }
    }
    .nav-link,.m-mega-menu-dynamic--base .m-mega-menu__item .arrow {
        color: #fff !important;
    }
}
.a-container--header-glucerna{
	.o-header .o-header__sticky-section .o-header__logo-section .o-header__logo-left img:last-child {
        max-height: 57px !important;
    }
    @media @xl-up{
        .o-header__mega-menu .m-mega-menu__mobile .navbar .navbar-nav .m-mega-menu__mobile-item-wrapper{
             .nav-link {
                flex:0 0 90% !important;
            }
        }
    }
    @media @desktop{
        .a-container--header-glucerna .m-mega-menu__mobile-item-wrapper:hover {           
            --mega-menu-border-hover: none;
        }
        .a-link--base.a-link--register .a-link__inner-text,
        .a-link--base.a-link--login .a-link__inner-text,
        .m-link-stack--content .a-link{
            border-left: 1px solid #5C5C5C !important;
            color: #5C5C5C !important;
        }
        .o-header__mega-menu .m-mega-menu__mobile .navbar .navbar-nav .m-mega-menu__mobile-item-wrapper{
            padding-right: 15px;
            padding-left: 10px;
            .nav-link {
                flex:0 0 95%;
            }
            .m-mega-menu-dynamic--base .m-mega-menu__item .arrow {    
                margin-left: 7%;
            }
        }
        .o-header__user-activity{
            .m-link-stack .a-link__text,.a-link__inner-text{
            color: #5C5C5C;
        }
        }
        .o-header__mega-menu{
            background-color: #FFFCE5;
            -webkit-box-shadow: 1px 0 4px #454545;
            .navbar{
                background-color: #FFFCE5;
            }
        }
        .m-mega-menu-dynamic--base .m-mega-menu__item .arrow {
            color:#00529B;
        }
        .m-mega-menu__nested-menu-wrapper .m-link-stack--content {
            background-color:#F5F5F5;
        }
        .m-mega-menu__nested-menu-wrapper .a-link:hover {
            background-color: #00529B;
            .a-link__text{
                color:#fff !important;
            }
            .submenu-arrow{
                color: #fff !important;
            }
        }
        .m-mega-menu__default .m-mega-menu__nested-menu-wrapper .m-mega-menu__side-nav .m-link-stack{
            .m-mega-menu__item {
                border-color:#00529B;
                .submenu-arrow{
                    color: #00529B;
                }
            }        
            .a-link__text {
                color: #00529B;
                &:hover{
                    color:#fff;
                }
            }
        }
        .m-mega-menu__default .m-mega-menu__nested-menu-wrapper .m-mega-menu__nested-menu-img-list {
            background-color:#F5F5F5;
            .m-mega-menu__side-nav-item{
                .m-mega-menu__item-info {
                    border-color:#00529B;
                }
                .m-mega-menu__item-title {
                    color: #00529B;
                }
                &:hover {
                    background-color: #00529B;
                    .m-mega-menu__item-info {
                        background-color: #00529B;
                    }
                    .m-mega-menu__item-title{
                        color:#fff;
                    }
                }
            }


        }
		.o-header .m-mega-menu__mobile .m-mega-menu__nested-menu {
            margin-left: -10px;
        }
        .o-header__sticky--full-width .o-header__sticky-search.show .a-search__input {
            border: 1px solid #ced4da;            
        }
        .o-header .m-mega-menu__mobile .navbar.show {
            z-index: auto;
        }
        .o-header__secondary-top-nav{
            background-color: #F5F5F5 !important;
        }
        .o-header .sticky .a-search {
            left: auto !important;
            .abt-icon-search{
               color:#000;
            }
        }
    }
    @media @lg-down{
        .a-link--base.a-link--register .a-link__inner-text,
        .a-link--base.a-link--login .a-link__inner-text,
        .a-link--base.a-link--medico .a-link__inner-text,
        .o-header__mega-menu .abt-icon-search:before{
            color: #00529B;
        }
        .m-mega-menu__mobile .navbar,.o-header__mega-menu{
            background-color: #FEFBF6 !important;
        }
        .a-link--base.a-link--register{
          background-color: #fff9bf;
        }
        .a-link--base.a-link--medico{
          background-color: #fff9bf;
        }
        .a-link--base.a-link--login{
          background-color: #FEFBF6 !important;
        }
        .abt-icon-shoppingcart:before {
            background-color: #00529B;
            color: #e6b203;
        }
        .navbar-toggler {
            background-color: #e6b203;
            &.abt-icon-cancel:before{
                color:#00529B;
            }
            .abt-icon-hamburger:before {
                color:#00529B;
            }
        }
        .m-mega-menu__mobile .navbar .navbar-collapse {
            background-color: #00529B;
            top: -1px;
            .m-mega-menu__mobile-item-wrapper {
                border-color:#FFFFFF;
                &:first-child{
                    border-top: 1px solid #FFFFFF;
                }
            }
        }
        .m-mega-menu__item.m-mega-menu__mobile-item .dropdown::after{
            color:#FFFFFF;
            }
        .m-mega-menu__tertiary{
            .dropdown2{
                display:block !important;
                &::after{
                    color:#00529B;
                }
            }
            &.dropdown-active2{
                .m-mega-menu__mobile-sub-head,.dropdown2 {
                    background-color: #FFFFFF;
                }
            }
            .m-mega-menu__mobile-sub-head {
            color:#00529B;
        }
        }
        
        .m-mega-menu__item.m-mega-menu__mobile-item .m-mega-menu__mobile-products {
            background-color: #F5F5F5;
            .m-mega-menu__mobile-item{
                border-color:#00529B;
                .m-mega-menu__mobile-item-link{
                    color:#00529B;
                }
            }
            .m-mega-menu__mobile-tertiary {
                background-color: #F5F5F5;              
                .m-mega-menu__mobile-submenu-body .m-mega-menu__mobile-item-link {
                    color: #00529B;
                    border-color: #00529B;
                    &:hover{
                        color: #00529B !important;
                    }
                }
            }
        }
        .o-header .o-header__logo-section img:last-child {
            max-height: 19px;
        }
    }
}

/*Mastermama Header*/
.a-container--header-mastermama .o-header__logo-section{
    background-color: #D1EEF8;
    border-bottom: none !important;
}
.a-container--header-mastermama .m-mega-menu__mobile .navbar-nav .nav-link {
    color:#08B4EF !important;
    font-family:BaseFontMedium, sans-serif;
}

.a-container--header-mastermama{
    @media @xl-up{
        .o-header__mega-menu .m-mega-menu__mobile .navbar .navbar-nav .m-mega-menu__mobile-item-wrapper{
             .nav-link {
                flex:0 0 90% !important;
            }
        }
    }
    @media @desktop{
        .a-container--header-mastermama .m-mega-menu__mobile-item-wrapper:hover {           
            --mega-menu-border-hover: none;
        }
        .o-header .sticky .abt-icon.abt-icon-search {
                color: #000;
            }
        .a-link--base.a-link--register .a-link__inner-text,
        .a-link--base.a-link--login .a-link__inner-text,
        .a-link--base.a-link--medico .a-link__inner-text,
        .m-link-stack--content .a-link{
            border-left: 1px solid #0262AC !important;
            color: #0262AC !important;
        }
        .o-header__mega-menu .navbar-nav .m-mega-menu__mobile-item-wrapper:hover {
            background-color: #0262AC !important;
                --mega-menu-border-hover:none;
            @media @lg-down{
                .m-mega-menu__mobile-header,.dropdown{
                    background-color: #00529B;
                }
            }
            .nav-link,.m-mega-menu-dynamic--base .m-mega-menu__item .arrow {
                color: #fff !important;
            }
        }
        .o-header__mega-menu .m-mega-menu__mobile .navbar .navbar-nav .m-mega-menu__mobile-item-wrapper{
            padding-right: 10px;
            padding-left: 10px;
            .nav-link {
                flex:0 0 95%;
            }
            .m-mega-menu-dynamic--base .m-mega-menu__item .arrow {    
                margin-left: 7%;
            }
        }
        .o-header__user-activity{
            .m-link-stack .a-link__text,.a-link__inner-text{
            color: #0262AC;
        }
        }
        .o-header__mega-menu{
            background-color: #FFF;
           // -webkit-box-shadow: 1px 0 4px #454545;
            .navbar{
                background-color: #FFF;
            }
        }

        .m-mega-menu-dynamic--base .m-mega-menu__item .arrow {
            color:#08B4EF;
        }
        .m-mega-menu__nested-menu-wrapper .m-link-stack--content {
            background-color:#E8F9FF;
        }
        .m-mega-menu__nested-menu-wrapper .a-link{
            .a-link__text{
                font-family:BaseFontMedium, sans-serif !important;
                &:hover{
                   	font-family:'BaseFontLight',sans-serif !important;
				   	.a-link__text{
						font-family:'BaseFontLight',sans-serif !important;
				 	}
                }
            }
        }
        .m-mega-menu__nested-menu-wrapper .a-link:hover {
            background-color: #21c6ff;
            .a-link__text{
                color:#fff !important;
                font-family:'BaseFontLight',sans-serif !important;
            }
            .submenu-arrow{
                color: #fff !important;
            }
        }
        .m-mega-menu__default .m-mega-menu__nested-menu-wrapper .m-mega-menu__side-nav .m-link-stack{
            .m-mega-menu__item {
                border-color:#0262AC;
                .submenu-arrow{
                    color: #0262AC;
                }
            }        
            .a-link__text {
                color: #0262AC;
                &:hover{
                    color:#fff;
                }
            }
        }
        .m-mega-menu__default .m-mega-menu__nested-menu-wrapper .m-mega-menu__nested-menu-img-list {
            background-color:#FFB420;
            .m-mega-menu__side-nav-item{
                .m-mega-menu__item-info {
                    border-color:#064181;
                }
                .m-mega-menu__item-title {
                    color: #064181;
                }
                &:hover {
                    background-color: #21C6FF;
                    .m-mega-menu__item-info {
                        background-color: #21C6FF;
                        border-color:#fff;
                    }
                    .m-mega-menu__item-title{
                        color:#fff;
                    }
                }
            }


        }
		.o-header .m-mega-menu__mobile .navbar.show {
            z-index: auto;
        }
		.o-header__secondary-top-nav{
            background-color: #fff !important;
        }
        .o-header .m-mega-menu__mobile .m-mega-menu__nested-menu {
            margin-left: -10px;
        }
    }
    @media @lg-down{
        .a-link--base.a-link--register .a-link__inner-text,
		.a-link--base.a-link--medico .a-link__inner-text,
        .a-link--base.a-link--login .a-link__inner-text{
            color: #fff;
        }
        .o-header__mega-menu .abt-icon-search:before{
            color: #0262AC;
        }
        .m-mega-menu__mobile .navbar,.o-header__mega-menu{
            background-color: #EFF6FB !important;
        }
        .a-link--base.a-link--register{
          background-color: #21C6FF;
        }
        .a-link--base.a-link--medico{
          background-color: #21C6FF;
        }
        .a-link--base.a-link--login{
          background-color: #08B4EF !important;
        }
        .abt-icon-shoppingcart:before {
            background-color: #00529B;
            color: #e6b203;
            padding: 8px 0 9px 0px;
        }
        .navbar-toggler {
            background-color: #EFF6FB;
            &.abt-icon-cancel:before{
                color:#0262AC;
            }
            .abt-icon-hamburger:before {
                color:#0262AC;
            }
        }
        .m-mega-menu__mobile .navbar .navbar-collapse {
            background-color: #EFF6FB;
            top: -1px;

            .m-mega-menu__mobile-item-wrapper {
                border-color:#08B4EF;
                &:first-child{
                    border-top: 1px solid #08B4EF;
                }
                &:hover{
                    background-color: #EFF6FB;
                }
                .m-mega-menu__mobile-header{
                    color:#08B4EF !important;
                    font-family: BaseFontMedium ,sans-serif !important;

                }

            }
        }
        .m-mega-menu__item.m-mega-menu__mobile-item .dropdown::after{
            color:#08B4EF;
            }
        .m-mega-menu__tertiary{
            .dropdown2{
                display:block !important;
                &::after{
                    color:#fff;
                }
            }
           /* &.dropdown-active2{
                .m-mega-menu__mobile-sub-head,.dropdown2 {
                    background-color: #FFFFFF;
                }
            }*/
            .m-mega-menu__mobile-sub-head {
            color:#fff;
                font-family: BaseFontMedium ,sans-serif !important;
        }
        }
        
        .m-mega-menu__item.m-mega-menu__mobile-item .m-mega-menu__mobile-products {
            background-color: #08B4EF;
            .m-mega-menu__mobile-item{
                border-color:#fff;
                .m-mega-menu__mobile-item-link{
                    color:#fff;
                }
            }
            .m-mega-menu__mobile-tertiary {
                background-color: #FFB420;              
                .m-mega-menu__mobile-submenu-body .m-mega-menu__mobile-item-link {
                    color: #064181;
                    border-color: #064181;
                    font-family: BaseFontMedium ,sans-serif !important;
                    &:hover{
                        color: #064181 !important;
                    }
                }
            }
        }
		.o-header .o-header__logo-section img:last-child {
            max-height: 19px;
        }
    }
	@media (min-width:1200px) and (max-width:1300px){
        .o-header__logo-left img:last-child {
            left:-42px;
        }
    }
    @media (min-width:992px) and (max-width:1200px){
		.m-socialmedia--base.m-socialmedia--header{
			display:none;
		}
		.a-container--base.a-container--header{
			padding: 0px !important;
			display: flex;
			align-items: center;
		}
	}
}

.o-header__search .a-search .a-search--icon-left {
     @media (max-width:320px){
           left:35px;
    }

}
.o-header__mega-menu .abt-icon-shoppingcart:before {
    @media (max-width:400px){
            padding: 12px 5px 13px 5px !important;
           margin-left: -5vw;
    }
    @media (max-width:375px){
           margin-left: -1.8vw;
    }
     @media (max-width:320px){
           margin-left: 7.2vw;
    }
    @media (min-width:400px) and (max-width:711px){
        margin-left: -2vw !important;
        padding: 12px 10px 13px 10px !important;
    }
     @media (min-width:400px) and (max-width:991px)  and (orientation: landscape){     
        padding-right:  30px !important;
        padding-left:  30px !important;
        //margin-left: -3vw !important;
    }
     @media @lg-only{     
        padding-right:  30px !important;
        padding-left:  30px !important;
    }
}

.a-container--header-mastermama .o-header__mega-menu {
    @media @xl-only{
        .container{
            max-width:96%;
        }
    }
    @media @xl-up{
        .container{
            max-width:1200px;
        }
    }

    .m-mega-menu__mobile .navbar .navbar-nav .m-mega-menu__mobile-item-wrapper {
    @media @desktop{           
        &:first-child{
            background-color: #FFBE1C;
            padding-right: 10px !important;
            .nav-link{
                color:#fff !important;
                display: flex;
                align-items: center;
                text-align:left !important;
                &:before{
                    content: "\002630";
                    font-size: 23px;
                    font-weight: bold;
                    margin-right:5px;
                }
            }
            .arrow{
                display:none !important;
            }
        }

        padding-right: 10px;
        padding-left: 10px;
        text-align: center !important;
        .nav-link{
            font-size:11px;
        }
        .m-mega-menu__side-nav .m-link-stack .a-link__text {
            text-align: left !important;
        }
    }
      @media @xl-up{
        text-align: center;
        .nav-link{
            font-size:14px !important;
        }
    }
}
}
.o-header .sticky .a-search {
    left: auto !important;
}
@media (max-width: 991px) {
	.a-container--base.a-container--header-pediasure .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element .o-form-container__buttons #header-user-logout span,
	.a-container--base.a-container--header-pediasure .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element a#header-user-name{
		color: #4B3661 !important;
		font-size: 14px;
		font-weight: 400;
		font-family: 'BaseFontLight',sans-serif;
	}

	.a-container--base.a-container--header-glucerna .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element .o-form-container__buttons #header-user-logout span,
	.a-container--base.a-container--header-glucerna .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element a#header-user-name{
		color: #00529B !important;
		font-size: 14px;
		font-weight: 400;
		font-family: 'BaseFontLight',sans-serif;
	}

	.a-container--base.a-container--header-ensure .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element .o-form-container__buttons #header-user-logout span, 
	.a-container--base.a-container--header-ensure .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element a#header-user-name{
		color: white !important;
		font-size: 14px;
		font-weight: 400;
		font-family: 'BaseFontLight',sans-serif;
	}
	.a-container--base.a-container--header-mastermama .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element .o-form-container__buttons #header-user-logout span, 
	.a-container--base.a-container--header-mastermama .formcontainer #form-latam-login-logout .o-form-container__wrapper .o-form-container__outer .o-form-container__element a#header-user-name{
		color: #0262ac !important;
		font-size: 14px;
		font-weight: 400;
		font-family: 'BaseFontLight',sans-serif;
	}

	.a-container--base.a-container--header-ensure,
	.a-container--base.a-container--header-pediasure,
	.a-container--base.a-container--header-glucerna,
	.a-container--base.a-container--header-mastermama {
	  .formcontainer {
		.o-form-container__wrapper {
		  .o-form-container__outer {
			.o-form-container__element {
			  min-width: 210px;
			}
		  }
		}
	  }
	}
  }
  
