.o-hero-carousel--base.o-hero-carousel--medium{ 
         .slick-arrow{
        display:none !important;        
    }
    &.o-hero-carousel--ensure-banner{
         .slick-arrow{
        display:none !important;        
    }
        @media (min-width:1920px){
          height:600px !important;
            .m-hero--base.m-hero--short.m-hero--style2{
               max-height:600px !important;
               height:600px !important;
                &.m-hero--content-right{
                 .m-hero__content {
                   left: 36% !important;
                   transform: translate(50%,-50%) scale(1) !important;
                }
            }

        }
        }
            @media @lg-down{
                .m-hero--base.m-hero--style2.m-hero--content-left{
                    .a-button--base.justify-content-start{
                        justify-content: flex-start !important;
                        .btn{
                            margin-top:0px !important;
                            margin-bottom:30px !important;
                        }
                    }
                }
             .m-hero--base.m-hero--style2.m-hero--content-right .m-hero__content {
                  .m-hero__body{
                   margin-bottom:30px;
                    p{
                        text-align:center !important;
                    }
                }
            }
            }
        @media @desktop{
            .m-hero--base.m-hero--style2.m-hero--content-right .m-hero__content {
                --hero-content-default-width: 570px !important;
                margin-top: 10px !important;                     
                .m-hero__header,.h2-hero,.h2-hero div{
                    text-align:right !important;
                    font-size: 44px;
                    line-height: 49px;
                    margin-bottom:0px !important;
                    font-family:BaseFontBold, sans-serif;
                }
                .m-hero__body{
                    margin-left: 0px;
                    width: 100%;
                    position: relative;
                    top: -10px;
                    margin-top:0px;
                    p{
                        max-width: 100%;
                        transform: initial;
                    }
                }
            }           
        }
        @media @lg-down{
            .m-hero__header,.h2-hero,.h2-hero div{
                text-align:center !important;
                font-size: 24px;
                line-height: 29px;
                margin-bottom:0px !important;
                margin-top:0px !important;
                font-family:BaseFontBold, sans-serif;
            }
            .m-hero--base.m-hero--style2.m-hero--content-right .m-hero__extras .btn {
                margin-top:10px;
            }
        }

        .m-hero--base.m-hero--style2.m-hero--content-right .m-hero__content {
             @media @xl-up{
                left: 28% !important; 
            }
            @media (min-width:992px) and (max-width:1024px){
                left: 18% !important;
                transform: translate(50%,-50%) scale(0.6) !important;
        }
              @media (min-width:1025px) and (max-width:1138px){
                left: 23% !important;               
        }
                 @media (min-width:1139px) and (max-width:1180px){
                left: 25% !important;
        }
    }

    }
    @media @desktop{
        margin-bottom:50px !important;
    }
    @media @md-down{
        margin-bottom:0px !important;
        .slick-slide .image .cmp-image__image{
            height:100%;
            min-height:200px
        }
    }
     @media @lg-only{
        margin-bottom:0px !important;
        .slick-slide .image .cmp-image__image{
            height:427.625px;
            min-height:200px
        }
    }
    .slick-dots{
        margin-bottom: 2%;
        li button{
            width: 10px;
            height: 10px;
            margin: 5px 7px;
            background: #D6D6D6;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px;
        }
        .slick-active button{
            background: #869791 !important;
        }
    }
    @media  @xl-up{
        .m-hero.m-hero--base.m-hero--short {
            height:395px !important;
            max-height: 395px !important;
        }
    }
    .m-hero--base.m-hero--style2{
        @media (min-width:992px) and (max-width:1024px){
            height:320px!important;
            max-height:320px !important;
            .m-hero__content {
                left: 22% !important;
            }
        }
        @media (min-width:1025px) and (max-width:1138px){
            height:356px !important;
            max-height:356px !important;
            .m-hero__content {
                left: 30% !important;
            }
        }
        @media (min-width:1139px) and (max-width:1180px){
            height:369px !important;
            max-height:369px !important;
            .m-hero__content {
                left: 30% !important;
            }
            
        }
        @media (min-width:1900px){
            height:600px !important;
            max-height:600px !important;
        }
        @media @md-down{
            .m-hero__media{
                min-height:200px !important;
                height:100% !important;
            }
        }
        @media @lg-down {
            max-width:100% !important;
            .m-hero__content{
                .m-hero__header,h1{
                    text-align:center;
                }
                .m-hero__extras .btn {
                   // margin-bottom:50px
                }
            }
            .m-hero__media{
                .cmp-image__image {
                    object-position: left !important;
                }
            }
        }
    }
    @media @xl-up{
        .m-hero--base.m-hero--style2.m-hero--content-right .m-hero__content {
            left: 34% !important;
            transform: translate(50%,-50%) scale(0.7) !important;
            --hero-content-default-width: 510px;
            margin-top:30px !important;

        }
    }
    @media @desktop{
        .m-hero--base.m-hero--style2 .m-hero__media .cmp-image__image {
            object-position: left !important;
        }
        .m-hero--base.m-hero--style2.m-hero--content-right .m-hero__content {
            --hero-content-default-width: 510px;
            margin-top: 20px;
            
            
            .m-hero__header{
                text-align:center !important;
                font-size: 44px;
                line-height: 49px;
                margin-bottom: 30px;
            }
        }
    }
    &.o-hero-carousel--glucerna-banner{
        @media @lg-down{
            .m-hero.m-hero.m-hero--base{
                position:relative;
                height: auto !important;
                .m-hero__media {
                    position:relative;
                    height: auto !important;
                    .m-hero__image{
                        position: relative;
                        .cmp-image__image{
                            position: relative;
                            height: 100%;                  
                        }
                    }
                    
                }
            }
        }
        @media (min-width:992px) and (max-width:1200px){
            .m-hero.m-hero--base.m-hero--medium.m-hero--content-extraright{
            height: 400px !important;
            max-height: 400px !important;
            }
        }
        .m-hero.m-hero--base.m-hero--medium.m-hero--content-extraright>section>div.container .m-hero__content {
            @media @xl-up{
                left: 37% !important;
            }
            @media (min-width:992px) and (max-width:1200px){
                left: 26% !important;
            }
        }
        .m-hero.m-hero--base.m-hero--medium.m-hero--content-right.m-hero--textarea-width-450px>section>div.container .m-hero__content {
            @media (min-width:1900px){
            left: 56% !important;
            }
            @media (min-width: 1200px) and (max-width: 1300px){
              left: 59% !important;
            }
        }
        @media @desktop{
            .m-hero.m-hero--base>section>div.container .m-hero__media .cmp-image__image {
                object-position: center;
            }
        }
    }
    
}

/*Style 1 Pediasure Banner*/
.o-hero-carousel--base.o-hero-carousel--medium.o-hero-carousel--pediasure-banner{
    margin-bottom:50px !important;
    .slick-arrow{
        display:none !important;
        top:30% !important;
    }
    @media @lg-down{
        .slick-dots{
            position: absolute;
            top: auto !important;
            bottom: 2% !important;
        }
    }

    @media (min-width:700px) and (max-width:712px){
        .slick-slide{
            width:712px !important;
        }
    }
    .a-column-control--base{
        .row{
            margin:0px !important;
        }
        @media (min-width:1200px) and (max-width:1300px){
            height:575px;
            max-height:100%;
            .a-image--base .cmp-image__image{
                height:575px;
                max-height:100%;
            }
        }
        @media @lg-down{
            height:500px;
            max-height:100%;
            .col-lg-6{
                height:500px;
                max-height:100%;
            }
            .a-image--base{
                border-right:none !important;
                .cmp-image__image{
                height:500px;
                max-height:100%;
            }
            }

        }
        .col-12{
            padding:0px !important;
        }
        .container{
            max-width:100%;
            padding:0px !important;
        }
        @media (max-width:767px){
            .col-lg-6{
                flex: 0 0 50% !important;
                max-width: 50% !important;
            }
            .col-lg-6:first-child{
                .a-image--base .cmp-image__image{
                    object-position: 30%;
                    object-fit: cover;
                }
            }
            .col-lg-6:nth-child(2){
                .a-image--base .cmp-image__image{
                    object-position: 77%;
                    object-fit: cover;
                }
            }
        }
        @media (min-width:1920px){
            .col-lg-6:nth-child(2){
              .o-features-card-base.o-features-card-style6{
                  left:100px !important;
                }
            }
        }
    }
    .m-hero--base.m-hero--medium.m-hero--content-left{
        .m-hero__content {
            @media (min-width:1900px){
                left:15%;
            }
            @media @desktop{
                .a-button--base{
                    position: relative;
                    top: 30px;
                }
            }
        }
    }
    .m-hero--base.m-hero--style2.m-hero--content-left{
        margin-bottom:0px !important;
        @media (min-width:768px){
            min-height: 400px !important;
        }

        .m-hero__content {
            .m-hero__body{
                display:none;
            }
            @media @xl-up{
                left: 24% !important;
                transform: translate(-50%,-50%) scale(0.8) !important;
            }
            @media @desktop{
                  margin-top: 20px;
                --hero-content-default-width: 470px !important;
            }
            .m-hero__header{
                   font-size: 30px !important;
                @media @desktop{
                  // line-height: 55px !important;                 
                    font-family: 'BaseFontRegular', sans-serif !important;
                    font-weight: 700;
                }
                @media @lg-down{
                   line-height: 29px !important; 
                }
            }
            
        }
        .m-hero__extras{
            @media @desktop{
                margin-bottom: 0px;
                .a-button--base{
                    position: relative;
                    top: 30px;
                }
                
            }
        }
        .m-hero__media .cmp-image__image {
            height: 100%;
            min-height: 200px;
            object-fit: cover;
            @media (min-width:768px){
               min-height: 400px !important;
            }
            @media @desktop{
                object-position: 55% !important;
            }
        }

    }
}


/*issues*/
.o-hero-carousel--base.o-hero-carousel--medium .m-hero--base.m-hero--style2.m-hero--content-extraleft,
.o-hero-carousel--base.o-hero-carousel--medium .m-hero--base.m-hero--style2.m-hero--content-extraright{
    @media (min-width:600px) and (max-width:712px){
        position: relative;
        height: auto !important;
        .m-hero__media {
            position: relative;
            height: auto !important;
            .m-hero__image{
                position: relative;
                height: auto !important;
                .cmp-image__image{
                    position: relative;
                    height: auto !important;
                }
            }
        }
    }
    @media (min-width:992px) and (max-width:1600px){
        .m-hero__content {
            left: 26% !important;
        }
    }
     @media (min-width:1600px){
        .m-hero__content {
            left: 35% !important;
        }
    }
}

// glucerna and Ensure hero carousel slick dot bottom 
.o-hero-carousel--base.o-hero-carousel--medium.o-hero-carousel--glucerna-banner, 
.o-hero-carousel--base.o-hero-carousel--medium.o-hero-carousel--ensure-banner, .carousel-slickdot__bottom{
    @media @lg-down{
        .slick-dots{
            position: absolute;
            top: auto !important;
            bottom: 2% !important;
        }
    }
}