.a-horizontalrule--base {
    &.o-remove-lr-padding {
        padding-left: 0;
        padding-right: 0;
    }
}
.a-horizontalrule--base.o-line-pregnancy-calc {
    .a-horizontal-rule {
        border:3px solid #d3d3d3;
    }                          
}
.a-horizontalrule--base.o-color--blue {
    &.o-hr-size--1px {
        .a-horizontal-rule {
            border-top-width: 1px;
            border-style: solid;
            border-color: @abbott-blue;
        }
    }
    &.o-hr-size--2px {
        .a-horizontal-rule {
            border-top-width: 2px;
            border-style: solid;
            border-color: @abbott-blue;
        }
    }
    &.o-hr-size--4px {
        .a-horizontal-rule {
            border-top-width: 4px;
            border-style: solid;
            border-color: @abbott-blue;
        }
    }
}
.a-horizontalrule--base.o-color--purple {
    &.o-hr-size--1px {
        .a-horizontal-rule {
            border: 1px solid @abbott-meteorite;
        }
    }
    &.o-hr-size--2px {
        .a-horizontal-rule {
            border-top-width: 2px;
            border-style: solid;
            border-color: @abbott-meteorite;
        }
    }
    &.o-hr-size--4px {
        .a-horizontal-rule {
            border-top-width: 4px;
            border-style: solid;
            border-color: @abbott-meteorite;
        }
    }
}

.a-horizontalrule--base.o-color--black {
    &.o-hr-size--1px {
        .a-horizontal-rule {
            border-top-width: 1px;
            border-style: solid;
            border-color: #707070;
        }
    }
    &.o-hr-size--2px {
        .a-horizontal-rule {
            border-top-width: 2px;
            border-style: solid;
            border-color: #707070;
        }
    }
    &.o-hr-size--4px {
        .a-horizontal-rule {
            border-top-width: 4px;
            border-style: solid;
            border-color: #707070;
        }
    }
}

.a-horizontalrule--base.o-color--sky-blue {
    &.o-hr-size--1px {
        .a-horizontal-rule {
            border-top-width: 1px;
            border-style: solid;
            border-color: @abbott-summer-sky;
        }
    }
    &.o-hr-size--2px {
        .a-horizontal-rule {
            border-top-width: 2px;
            border-style: solid;
            border-color: @abbott-summer-sky;
        }
    }
    &.o-hr-size--4px {
        .a-horizontal-rule {
            border-top-width: 4px;
            border-style: solid;
            border-color: @abbott-summer-sky;
        }
    }
}
/*color*/
.a-horizontalrule--base.o-color--grey{
    .a-horizontal-rule {
        border-top: 1px solid rgba(0,0,0,.1);
        
    }
}
.a-horizontalrule--base.o-color--summer-skyblue{
    .a-horizontal-rule {
       border-color: @abbott-summer-sky;
        
    }
}
/*Remove space*/
.a-horizontalrule--base.o-remove-top-space{
    margin-top: 0px !important;
}
.a-horizontalrule--base.o-remove-bottom-space{
    margin-bottom: 0px !important;
}
/**style1**/
.a-horizontalrule--base.a-horizontalrule--style1{    
    position: relative;    
    &:after{
        content: "o";
        left: 50%;
        padding: 0 20px;
        transform: translate(-50%, -50%);
        top: 0px;
        font-size: 24px;
        position: absolute;
        color: #8D8D8D;
        background-color: #FFFFFF;
    }
    .a-horizontal-rule{
        margin-top:50px;
        margin-bottom:50px;
        border-color: #707070;
        height:1px
            
            
    }
    @media @md-up{
        width:70%;
        margin:auto;
    }
    
}
.a-horizontalrule--base.o-padding-left-15px {
    padding-left:15px;
}

.a-horizontalrule--base.o-padding-right-15px {
    padding-right:15px;
}

.a-horizontalrule--base.o-margin-top-30px {
    margin-top:30px;
}
.a-horizontalrule--base.o-margin-top-18px {
    margin-top:18px;
}
.a-horizontalrule--base.o-margin-bottom-18px {
    margin-bottom:18px;
}
.a-horizontalrule--base.o-margin-bottom-50px {
    margin-bottom:50px;
}
.a-horizontalrule--base.o-margin-bottom-80px {
    margin-bottom:80px;
}

.a-horizontalrule--base.o-padding-left {
    padding-left:10px;
}

.a-horizontalrule--base.o-padding-right {
    padding-right:10px;
}

.a-horizontalrule--base.o-margin-top {
    margin-top:10px;
}
.a-horizontalrule--base.o-margin-bottom- {
    margin-bottom:10px;
}
.a-horizontalrule--base.o-margin-bottom {
    margin-bottom:10px;
}