/**Image Starts **/

.a-column-control--base.a-column-control--exclusive{
  .a-image--base{
   float:right;
	}  
}
.a-image__default.a-image__original {
	display: flex;
}

.image.a-image--left-desktop {
    .a-image__default.a-image__original {
        margin: unset !important;
        width: auto !important;
        height: auto !important;
    }
}
/** Image Types **/
/* IMAGE component added policy extralarge, large, medium, small, extra small starts here -- */

.a-image-base.a-image-resource.a-image-extra-small{
    width:80px;
    height:80px;

} 
/**.a-image-base.a-image-resource.a-image-small{
    height: 214px;
    width: 214px;

 }
.a-image-base.a-image-resource.a-image-large{
    height: 560px;
    width: 560px;   
 }**/

.a-image-base.a-image-extra-large{
	width:69%
}
.a-image-base.a-image-large{
	width:32%
}
.a-image-base.a-image-small{
	width:67px;
    height:67px;
    margin:auto;
}
.a-image-base.a-image-width-75px{
	width:75px;
}
.a-image-base.a-image-extra-small{
	width:9%
}

.a-image--base.a-image--width-auto .cmp-image img {
	@media (min-width: 768px) {
        width: auto !important;
    } 
}

@media (min-width: 768px){
.a-image-base.a-image-medium{
    width: 189px;
    height: 185px;
    padding: 20px;
}
.a-image-base.a-image-medium .cmp-image{
    width:100%;
    height:100%;
}
.a-image-base.a-image-medium .cmp-image__image{
     height:100%;
}
} 


/*-- used for iPad, iPro, iPad-mini --*/
@media (min-width: 768px) and (max-width: 1024px){
.a-image-base.a-image-extra-large{
width:60%
}
.a-image-base.a-image-small{
width:27%
}
.a-image-base.a-image-extra-small{
width:18%
}
}


/*-- Portrait and Landscape FOR IPHONE --*/
@media (min-width: 320px) and (max-width: 575.98px) {
.a-image-base.a-image-extra-large, .a-image-base.a-image-large,.a-image-base.a-image-medium,.a-image-base.a-image-small,.a-image-base.a-image-extra-small{
	width:100%
	}
.a-image-base.a-image-extra-small{
	width:20%
	}
}

/**Border color **/
.a-image-base.o-border-grey{
	border-color:var(--bordercolor-grey);
}
.a-image-base.o-border-black{ 
	border-color:var(--bordercolor-dark);
}
.a-image--base.o-border-white{
    border-color:@white;
}
.a-image--base.o-border-darkgrey{
    border-color:#707070;
}

/*border-size **/
.a-image--base.o-border-size-1px{
    border-width:1px;
}
.a-image--base.o-border-size-2px{
    border-width:2px;
}
.a-image--base.o-border-size-3px{
    border-width:3px;
}
.a-image--base.o-border-size-4px{
    border-width:4px;
}
.a-image--base.o-border-size-5px{
    border-width:5px;
}
/** Border **/
.a-image--base.o-border-top{
    border-top-style:solid;   
}
.a-image--base.o-border-bottom{
    border-bottom-style:solid;   
}
.a-image--base.o-border-left{
    border-left-style:solid;   
}
.a-image--base.o-border-right{
    border-right-style:solid;   
}
/** Border Ends **/
/**Image Spacing**/
.a-image--base.o-remove-top-space{
   margin-top:0px !important;
}           
.a-image--base.o-remove-bottom-space{
   margin-bottom:0px !important;
}

/** Image ends **/ 

/** image PADDING starts**/
.a-image-base.o-padding-top{
	padding-top:5px;
}
.a-image-base.o-padding-bottom{
	padding-bottom:5px;
}
.a-image-base.o-padding-right{
	padding-right:5px;
}
.a-image-base.o-padding-left{
	padding-left:5px;
}
.a-image--base.o-padding-extra{
    padding-right:30px;
}

/** image PADDING ends**/
/** image MARGIN starts **/
.a-image--base.o-margin-top{
	margin-top:10px !important;
}
.a-image--base.o-margin-bottom{
	margin-bottom:10px !important;
}
.a-image--base.o-margin-right{
	margin-right:10px !important;
}
.a-image--base.o-margin-left{
	margin-left:10px !important;
}
/*  --- Image MOBILE VIEW STARTS HERE ---  */

@media (min-width: 320px) and (max-width: 575.98px) { 
    .a-image-base.o-margin-right{
        margin-right:0px !important;
    }
    .a-image-base.o-margin-left{
        margin-left:0px !important;
    }
}

/*  --- FOR MOBILE VIEW ENDS HERE ---  */
/** image MARGIN Ends **/
/*Remove Spacing*/
@media @desktop{
 .a-image--base.o-remove-top-space{

      padding-top:0px !important;
      margin-top:0px !important;

}
  .a-image--base.o-remove-bottom-space{
        padding-bottom:0px !important;
      margin-bottom:0px !important;
}
   .a-image--base.o-remove-left-space{
         padding-left:0px !important;
      margin-left:0px !important;
}
   .a-image--base.o-remove-right-space{
        padding-right:0px !important;
      margin-right:0px !important;
}
}
