.o-cards-carousel.o-card-carousel--partnershops {
  .cmp-carousel {
    .slick-slider {
      margin: 0;
      button.left-arrow {
        top: 40px;
        left: 15px;
        right: auto;
        margin-right: -6%;
        > span {
          &:before {
            content: "\276E";
            color: #000;
            font-size: 30px;
            font-weight: 600;
          }
        }
      }
      button.left-arrow.reposition-arrow {
        top: 100px;
      }
      button.right-arrow.reposition-arrow {
        top: 100px;
      }
      button.right-arrow {
        top: 40px;
        right: 15px;
        left: auto;
        margin-left: -6%;
        > span {
          &:before {
            content: "\276F";
            color: #000;
            font-size: 30px;
            font-weight: 600;
          }
        }
      }
      .slick-list {
        .slick-track {
          .slick-slide {
            img {
              width: auto;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .o-cards-carousel.o-card-carousel--partnershops {
    .cmp-carousel {
      button.left-arrow.slick-arrow {
        display: inline-block !important;
      }
      button.right-arrow.slick-arrow {
        display: inline-block !important;
      }
    }
  }
}
