.a-container--product-desc-background-main {
    &.a-container--base {
        .a-container__row {
			.cmp-container {
             	max-width: 1000px;
            	margin: 0 auto;
                .columncontrol {
                    margin-top: 0 !important;
                    .row {
                        background-color: #EFEFEF;
                        padding: 0 30px 50px;
                        .columncontrol__column {
                            .text {
                                text-align: right;
                                &.a-text--product-blue-sub-heading {
                                    text-align: center;
                                }
                            }
                        }
                        .columncontrol {
							.row {
                                padding: 0;
                            }
                            .container {
								padding: 0;
                            }
                        }
                    }
                }
                
            }
        }
    }
    &.a-container--product-desc-background-child{
        .a-container__row {
			max-width: 833px;
            margin: 100px auto 0;
            .a-rule {
                background-color: @abbott-dark-grey;
            }
        }

    } 

    .a-title--product-desc-title {
        background-color: #EFEFEF;
        width:100%;
        text-align:center;
        padding: 50px 30px 70px;
        h1 {
            text-align: center;
            font-size: 24px;
            font-family: 'BaseFontMedium', sans-serif;
            line-height: 27px;
            font-weight: 500;
            color: #004084;
            margin-bottom: 0;
        }
    }

    .a-text--product-blue-heading {
        p {
            font-size: 24px;
            font-family: 'BaseFontMedium', sans-serif;
            line-height: 27px;
            font-weight: 500;
            color: #004084;
            text-align: right;
            padding: 0px;
        }
    }

    .a-text--base.a-text--prod-desc{
        p {
			font-size: 34px;
            font-family: 'BaseFontMedium', sans-serif;
            line-height: 39px;
            font-weight: 500;
            color: #064181;
            margin-bottom:50px;
        }
    } 

    .a-text--product-main-heading {
        p {
            font-size: 18px;
            font-family: 'BaseFontLight', sans-serif;
            line-height: 23px;
            font-weight: 400;
            color: #262525;
        }
    }

    .a-text--prod-sup {
        p {
			font-size: 13.5px;
            font-family: 'BaseFontLight', sans-serif;
            font-weight: 400;
            color: #262525;
            line-height: 23px;
        }
    }

    .image.a-image--prod-dec-sub-img {
        margin: 30px auto 0;
        width: 70px;
        height: 70px;
    }

    .a-text--product-blue-sub-heading {
    	margin-top:30px !important;
        p {
            font-size: 16px;
            font-family: 'BaseFontRegular', sans-serif;
            line-height: 24px;
            font-weight: 400;
            color: #004084;
            width: 100%;
        }
    }

    .a-button--product-desc-blue-button {
        margin: 30px 15px 0 !important;
        text-align: left;
        background-color: #064181;
        border-radius: 2px;
        padding: 5px;

        &::after {
            float: right;
            margin-right: 10px;
            margin-top: 7px;
            content: "\002B";
            font-size: 30px;
            font-weight: 700;
            color: #FCBB5F;
        }

        a {
            color: #fff;
            text-decoration: underline;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }

        span {
            font-size: 18px;
            font-family: 'BaseFontRegular', sans-serif;
            line-height: 21.6px;
        }
    }

    .a-button--product-desc-blue-button.minus-sign {
        &::after {
            content: "\2212";
            font-size: 28px;
            color: #FCBB5F;
        }
    }

    .a-text--prod-desc-table {
        display: none;
        padding: 20px 0px;
        margin: 0 15px !important;
        .cmp-text {
            table {
                font-family: 'BaseFontRegular', sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                text-align: center;
                color: #fff;
                width: 100%;

                p {
                    font-family: 'BaseFontRegular', sans-serif;
                }
            }

            tr {
                >td {
                    font-family: 'BaseFontLight', sans-serif;
                    &:first-child {
                    	text-align: left;
                        font-family: 'BaseFontRegular', sans-serif;
                	}
                }  
                &:nth-child(odd) {
                    >td {
                        background-color: #C5C5C5;
                        color: #06305E;
                        padding: 6px 30px;
                        &:nth-child(1) {
                            background-color: #064181;
                            color: @white;
                        }
                    }
                }

                &:nth-child(even) {
                    >td {
                        background-color: #E4E4E4;
                        color: #06305E;
                        padding: 6px 30px;
                        &:nth-child(1) {
                            background-color: #06305E;
                            color: @white;
                        }
                    }
                }
            }
        }
    }


    .a-text--product-italic {
        margin: 20px 0 0 !important;
        ~ .a-text--product-italic {
			margin: 0 !important;
        }
        p {
            font-family: 'BaseFontLight', sans-serif;
            font-size: 18px;
            line-height: 23px;
            font-weight: 400;
            color: #262525;
            font-style: italic;
            padding-left: 40px;
        }

        strong {
            font-style: normal;
            color: #064181;
        }
    }
}

@media (max-width: 991px) {
    .a-container--product-desc-background-main {
        .a-button--product-desc-blue-button {
            span {
				font-size: 14px;
                line-height: 16.8px;
            }
        }
        .image.a-image--prod-dec-sub-img {
            margin-right: 0;
        }
        &.container {
            max-width: none;
        }
		&.a-container--base {
            .a-container__row {
                margin-top: 75px;
                .cmp-container {
                    max-width:none;
                    .columncontrol {
                        &.a-column-control--base {
                            .columncontrol__column {
								max-width: 100%;
                                .text {
									margin: 0;
                                }
                            }
                        }
						.container {
                            max-width: none;
                        }
						.row {
                            padding: 0 0 50px;
                            .columncontrol  {
                                .row > [class*="col-"] {
									margin-bottom: 0;
                                }
                            }
                        }
                    }
               }
            }
        }

        .a-text--base.a-text--prod-desc{
            p {
                font-size: 24px;
                line-height: 29px;
            }
        }
        .a-text--product-blue-heading {
            p {
				font-size: 16px;
                line-height: 21px;
                margin-bottom: 30px;
            }
        }
        .a-text--product-main-heading {
            p {
                font-size: 14px;
                font-family: 'BaseFontLight', sans-serif;
                line-height: 19px;
                color: #262525;
            }
        }
        .a-text--prod-sup {
            p {
                font-size: 10.5px;
                line-height: 19px;

            }
        }

        .a-text--product-blue-sub-heading {
            width: 75px;
            float: right;
            word-wrap: break-word;
            p {
				font-size: 12px;
                line-height: 18px;
        	}
        }

        .a-title--product-desc-title {
            background-color: #EFEFEF;
            width: 100%;
            margin-left: 0;
            padding-bottom: 30px;
            h1 {
				padding-bottom: 0;
                font-size: 16px;
            	line-height: 21px;
            }
        }

        .a-image--prod-desc-main-img {
			margin-left: 40px;
		}

        .a-image--prod-dec-sub-img {
            .cmp-image__image {
                margin-top: 30px;
            }
        }
        .a-text--prod-desc-table {
            .cmp-text {

                tr {
                    &:nth-child(odd) {
                        >td {
                            font-size:10px;
                            line-height: 15px;
                            padding: 6px 5px;
                        }
                    }

                    &:nth-child(even) {
                        >td {
                            font-size:10px;
                            line-height: 15px;
                            padding: 6px 5px;
                        }
                    }
                }
            }
        }
        .a-text--product-italic {
            p {
				font-size: 14px;
                line-height:19px;
                margin-left: 0;
                padding-left: 15px;
            }
        }
    }
}


@media (min-width:768px) and (max-width:991px) {
    .a-container--product-desc-background-main {
         .a-text--base.a-text--prod-desc{
            p {
                font-size: 24px;
                line-height: 29px;
            }
        }
        .a-text--product-main-heading {
            p {
                font-size: 14px;
                line-height: 19px;
            }
        }
        .a-text--prod-sup {
            p {
                font-size: 10.5px;
                line-height: 19px;
            }
        }

         &.a-container--base {
            .a-container__row {
                .cmp-container {
                    max-width:none;
                    .columncontrol {
                        &.a-column-control--base {
                            .columncontrol__column {
                                flex: 0 0 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
