.a-container--protein-cal {
    max-width: 1200px;
	.proteinCalc {
        .basicContainer {
            .row {
				margin: 0;
            }
        }
        .proteinP1 {
            font-family: @font-BaseFontBold, @font-arial;
            font-size: 20px;
        }
    
        .proteinP2 {
            font-family: @font-BaseFontLight, @font-arial;
            font-size: 15px;
        }
    
        .proteinP3 {
            font-family: @font-BaseFontMedium, @font-arial;
            font-size: 20px;
        }
    
        .tileP1 {
            font-family: @font-BaseFontBold, @font-arial;
            font-size: 29px;
        }
    
        .tileP2 {
            font-family: @font-BaseFontRegular, @font-arial;
            font-size: 20px;
        }
    
        .tileP3 {
            font-family: @font-BaseFontBold, @font-arial;
            font-size: 20px;
        }
    
        .tileP4 {
            font-family: @font-BaseFontBold, @font-arial;
            font-size: 28px;
        }
    
        .resultP1 {
            font-family: @font-BaseFontBold, @font-arial;
            font-size: 35px;
        }
    
        .resultP2 {
            font-family: @font-BaseFontMedium, @font-arial;
            font-size: 30px;
        }
    
        .resultP3 {
            font-family: @font-BaseFontBold, @font-arial;
            font-size: 75px;
        }
    
        .resultP4 {
            font-family: @font-BaseFontRegular, @font-arial;
            font-size: 40px;
        }
    
        .proteinSliderContainer {
            width: 100%;
            margin: 0 0 25px;
            padding: 0 11px;
        }
    
        .proteinSlider {
            &.owl-carousel {
                width: 100%;
                position: relative;
                z-index: 1;
            }
            .owl-stage-outer {
                position: relative;
                overflow: hidden;
                margin: 0 0 20px;
                &.owl-height {
                    transition: height 500ms ease-in-out;
                }
                .owl-stage {
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    .owl-item {
                        position: relative;
                        height: fit-content;
                    }
                }
            }
            .owl-controls {
				margin-top: 10px;
            }
            .owl-nav {
                position: relative;
    			font-family: @font-BaseFontBold, @font-arial;
                font-size: 20px;
                .owl-prev {
                    margin: 0;
                    position: absolute;
                    left: 0;
                    button {
                        background: none;
                        color: @abbott-dark-blue;
                        border: none;
                    }
                }
    
                .owl-next {
                    margin: 0;
                    position: absolute;
                    right: 0;
                }
    			button {
                    background: none;
                    color: @abbott-dark-blue;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
                button.disabled {
                    color: @abbott-dark-blue;
                    opacity: 1;
                    cursor: pointer;
                }
    
                [class*=owl-] {
                    &:hover {
                        background: transparent;
                        color: @abbott-dark-blue;
                    }
                }
            }
    
            .owl-dots {
                margin: 0 auto;
                text-align: center;
                .owl-dot {
                    display: inline-block;
                    background: none;
                    padding: 0;
                    color: @abbott-dark-blue;
                    border: none;
                    &:last-child {
                        span {
                            margin: 0;
                        }
                    }
    
                    &:focus {
                        outline: none;
                    }
    
                    span {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: @abbott-silver;
                        margin: 0 14px 0 0;
                        border-radius: 30px;
                    }
                }
    
                .owl-dot.active {
                    span {
                        background: @abbott-color-blue;
                    }
                }
            }
        }
    
        .proteinSlider1 {
            width: 889px;
            margin: 0 auto 26px;
    
            >p {
                text-align: center;
                margin-bottom: 50px;
                color: @abbott-color-blue;
            }
        }
    
        .proteinFormCalc {
            border: 1px solid @abbott-color-blue;
            border-radius: 28px;
            padding: 43px 180px 40px;
            width: 100%;
    
            .proteinFormContainer {
                display: flex;
                justify-content: space-around;
                &:not(:last-child) {
                    margin-bottom: 41px;
                }
    
                &:nth-of-type(4) {
                    margin-bottom: 49px;
                }
    
                input[type=number] {
                    /*width: calc(100% - 160px);*/
                    width: 70%;
                    height: 60px;
                    background-color: @abbott-dark-cerulean;
                    border: 0;
                    border-radius: 20px;
                    padding: 10px 20px;
                    color: @white;
                    -moz-appearance: textfield;
    
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
    
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
    
                    &:focus {
                        outline: none;
                    }
                }
            }
    
            .proteinFormLabel {
                width: 160px;
                vertical-align: top;
                margin-top: 3%;
                color: @abbott-dark-cerulean;
                float: left;
            }
    
            .proteinFormFieldContainer {
    
                .image-radio {
                    width: 176px;
                    height: 60px;
                    cursor: pointer;
                    background-color: @abbott-dark-cerulean;
                    border-radius: 20px;
                    margin-bottom: 0;
    
                    &:last-child {
                        margin-left: 3px;
                    }

                    input {
                        width: 176px;
                        height: 60px;
                        border-radius: 20px;
                        opacity: 0;
                    }
    
                    span {
                        margin: 7px auto;
                        display: block;
                        width: 24px;
                        height: 44px;
                    }
    
                    span.female {
                        background: url("/content/dam/an/ensure/mx/es/images/proteinCalculator/gender/female_1.png") no-repeat;
                    }
    
                    span.male {
                        background: url("/content/dam/an/ensure/mx/es/images/proteinCalculator/gender/men_1.png") no-repeat;
                    }
                }
    
                .image-radio.active {
                    background-color: @abbott-golden-poppy;
    
                    span.female {
                        background: url("/content/dam/an/ensure/mx/es/images/proteinCalculator/gender/female_3.png") no-repeat;
                    }
    
                    span.male {
                        background: url("/content/dam/an/ensure/mx/es/images/proteinCalculator/gender/men_3.png") no-repeat;
                    }
                }
            }

            .proteinPhysicalActivity {
                margin-bottom: 40px;
    
                >p {
                    color: @abbott-dark-cerulean;
                }
    
                .proteinPhysicalActivityContainer {
                    margin-bottom: 17px;
    
                    .proteinPhysicalActivityLineContainer {
                        height: 25px;
                        padding-top: 5px;
                        overflow: hidden;
    
                        .proteinPhysicalActivityLine {
                            width: 528px;
                            width: 100%;
                            height: 2px;
                            background: @abbott-dark-cerulean;
                            position: relative;
                            top: 5px;
    
                            .proteinPhysicalActivityDots {
                                float: left;
                                width: 22px;
                                height: 22px;
                                background: @white;
                                border-radius: 50%;
                                position: relative;
                                top: -10px;
                                margin-right: 104px;
                                margin-right: 19.75%;
                                border: 1px solid @abbott-light-grey;
                                cursor: pointer;
    
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
    
                            .proteinPhysicalActivityDots.active {
                                background: @abbott-golden-poppy;
                            }
                        }
                    }
                }
            }
    
            .proteinPhysicalActivityTextContainer {
                width: 528px;
                width: 100%;
                position: relative;
                margin-top: 3px;
                color: @abbott-blackish;
                .proteinPhysicalActivityText {
                    float: left;
                    width: 75px;
                    position: relative;
                    top: -4px;
    
                    &:not(:last-child) {
                        margin-right: 8%;
                    }
    
                    &:nth-last-child(3) {
                        margin-right: 4%;
                    }
    
                    &:nth-last-child(2) {
                        text-align: right;
                    }
    
                    &:last-child {
                        text-align: right;
                    }
                }
            }
    
            .proteinStartError {
                >p {
                    font-family: @font-BaseFontRegular;
                    color: red;
                    font-size: 15px;
                    text-align: center;
                }
            }
    
            .proteinStartContainer {
                button {
                    width: 196px;
                    height: 60px;
                    color: @abbott-dark-cerulean;
                    background-color: @abbott-golden-poppy;
                    border-radius: 20px;
                    cursor: pointer;
                    border: 0;
                    margin: 0 auto;
                    display: block;
    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    
        .proteinSliderTile {
            max-width: 1200px;
    		margin: 0 auto;
            >p {
                text-align: center;
                margin-bottom: 50px;
                color: @abbott-dark-cerulean;
            }
        }

        .proteinTileContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .proteinTile {
                width:386px;
                float: left;
                text-align: center;
                margin: 0 21px 22px 0;
                background-color: @abbott-dark-cerulean;
                border-radius: 20px;
                padding: 43px 15px 25px;
                cursor: pointer;

                .proteinTileImg {
                    width: 113px;
                    height: 101px;
                    margin: 0 auto 26px;
                    align-items: flex-end;
                    display: flex;
    
                    img {
                        width: auto;
                        margin: 0 auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                p {
                    margin-bottom: 0;
    
                    &:nth-of-type(1) {
                        color: @white;
                    }
    
                    &:nth-of-type(2) {
                        color: @abbott-golden-poppy;
                    }
                }
    
                &:not(.active) {
                    .proteinTileImg {
                        img {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
    
            .proteinTile.active {
                background-color: @abbott-golden-poppy;
    
                .proteinTileImg {
                    img {
                        &:first-child {
                            display: none;
                        }
                    }
                }
    
                p {
                    color: @abbott-dark-cerulean;
                }
            }
        }
        .proteinThreeTile {
            .proteinTileContainer {
                .proteinTile {
                    width: 32%;
					&:nth-child(3n) {
                    	margin-right: 0;
                    }
                }
            }

        }
        .proteinTwoTile {
            .proteinTileContainer {
                width: 800px;
                margin: 0 auto 20px;
    
                .proteinTile {
                    margin: 0 21px 22px 0;
    
                   	&:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }
    
        .finalResultContainer {
            width: 889px;
            margin: 0 auto 86px;
            background-color: @abbott-color-blue;
            color: @white;
            border-radius: 28px;
            padding: 29px 45px 26px 54px;
            line-height: 1;
    
            >p {
                text-align: center;
    
                &:first-child {
                    margin-bottom: 38px;
                }
    
                &:not(:first-child) {
                    line-height: .8;
                    margin-bottom: 0;
                    text-decoration: underline;
                }
            }
    
            .finalResult {
                margin-bottom: 42px;
    
                .totalCalorieNeed {
                    float: left;
                    width: 40%;
    
                    p {
                        &:first-child {
                            line-height: 1;
                        }
    
                        &:last-child {
                            width: 317px;
                            height: 112px;
                            border: 2px solid @abbott-golden-poppy;
                            color: @abbott-golden-poppy;
                            margin-bottom: 0;
                            line-height: 1;
                            text-align: center;
                            padding: 10px;
                            border-radius: 25px;
    
                            span {
                                &:last-child {
                                    font-family: @font-BaseFontBold, @font-arial;
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
    
                .totalCalorieConsume {
                    float: right;
                    width: 40%;
    
                    p {
                        &:first-child {
                            line-height: 1;
                        }
    
                        &:last-child {
                            width: 317px;
                            height: 112px;
                            border: 2px solid @abbott-golden-poppy;
                            color: @abbott-golden-poppy;
                            margin-bottom: 0;
                            line-height: 1;
                            text-align: center;
                            padding: 10px;
                            border-radius: 25px;
    
                            span {
                                &:last-child {
                                    font-family: @font-BaseFontBold, @font-arial;
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .proteinRequirement {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
    
            .patientProtein {
                color: @abbott-color-blue;
                margin-top: 65px;
                line-height: 1.2;
            }
    
            .patientProteinTotal {
                font-family: @font-BaseFontBold, @font-arial;
                font-size: 40px;
                max-width: 700px;
                height: 71px;
                color: @abbott-dark-blue;
                background-color: @abbott-golden-poppy;
                margin: 50px auto 0;
                padding: 10px;
                line-height: 1.2;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .a-container--protein-cal .proteinCalc {
        .proteinTileContainer {
        	width: 800px;
        	margin: 0 auto 20px;
            .proteinTile {
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
        .proteinThreeTile {
            .proteinTileContainer {
                .proteinTile {
                    width: 386px;
					&:nth-child(3n) {
                    	margin-right: 21px;
                    }
                    &:nth-child(even) {
                    	margin-right: 0;
                    }
                }
        	}
        }
    }
}


@media screen and (max-width:991px) {
    .a-container--protein-cal .proteinCalc {
        .proteinSlider1 {
            width: 100%;
        }

        .proteinFormCalc {
            padding: 4.85% 20.2% 4.5%;

            .proteinFormFieldContainer {
                width: 70%;

                .image-radio {
                    width: 47.85%;
                }
            }

            .proteinPhysicalActivity {
				.proteinPhysicalActivityContainer {
                    .proteinPhysicalActivityLineContainer {
                        .proteinPhysicalActivityLine {
                            .proteinPhysicalActivityDots {
                                margin-right: 18.75%;
                            }
                        }
                    }
                }
            }


            .proteinPhysicalActivityTextContainer {
                .proteinPhysicalActivityText {
                    width: 72px;

                    &:not(:last-child) {
                        margin-right: 5%;
                    }

                    &:nth-last-child(3) {
                        margin-right: 2%;
                    }
                }
            }
        }

        .proteinTileContainer {
       		width: auto;
            .proteinTile {
                width: 47%;
                margin-right: 3%;

                &:nth-child(3n) {
                    margin-right: 3%;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .proteinThreeTile {
            .proteinTileContainer {
                .proteinTile {
                    width: 47%;
                    &:nth-child(3n) {
                        margin-right: 3%;
                    }
                    &:nth-child(even) {
                    	margin-right: 0;
                    }
                }
        	}
        }

        .proteinTwoTile {
            .proteinTileContainer {
                width: 100%;

                .proteinTile {
                    margin-right: 3%;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }

        .finalResultContainer {
            width: 100%;

            .finalResult {
                position: relative;
                padding-bottom: 112px;

                .totalCalorieNeed {
                    p {
                        &:last-child {
                            position: absolute;
                        }
                    }
                }

                .totalCalorieConsume {
                    p {
                        &:last-child {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    body.ensure {
        .calorieCalc {
            .calorieRequirement h2 {
                font-size: 24px;
                line-height: 29px;
            }
        }
    }

    body.pediasure {
        .bannerWithTextLarge {
            .text-on-image.inverted {
                color: @abbott-meteorite;
            }

            .text-on-image {
                p {
                    color: @abbott-light-grey;
                }

                .seemoreBtn {
                    border-color: @abbott-meteorite  !important;
                    color: @abbott-meteorite  !important;

                    &:hover {
                        background-color: @abbott-meteorite  !important;
                        color: @white  !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:768px) {
    .a-container--protein-cal .proteinCalc {
        .proteinFormCalc {
            .proteinPhysicalActivityTextContainer {
                .proteinPhysicalActivityText {
                    &:not(:last-child) {
                        margin-right: 3%;
                    }
                }
            }
            .proteinPhysicalActivity {
				.proteinPhysicalActivityContainer {
                    .proteinPhysicalActivityLineContainer {
                        .proteinPhysicalActivityLine {
                            .proteinPhysicalActivityDots {
                                margin-right: 18%;
                            }
                        }
                    }
                }
            }
        }

        .finalResultContainer {
            .finalResult {
                padding-bottom: 0;

                .totalCalorieNeed {
                    width: 100%;
                    position: relative;
                    padding-bottom: 112px;
                    margin-bottom: 25px;

                    p {
                        &:first-child {
                            text-align: center;
                        }

                        &:last-child {
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                }

                .totalCalorieConsume {
                    float: left;
                    width: 100%;
                    position: relative;
                    padding-bottom: 112px;

                    p {
                        &:first-child {
                            text-align: center;
                        }

                        &:last-child {
                            left: 0;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }

    body.ensure {
        .bannerWithTextLarge {
            .text-on-image.inverted {
                color: @abbott-dark-blue;
            }

            .text-on-image {
                p {
                    color: @abbott-light-grey;
                }

                .seemoreBtn {
                    border-color: @abbott-dark-blue  !important;
                    color: @abbott-dark-blue  !important;

                    &:hover {
                        background-color: @abbott-dark-blue  !important;
                        color: @white  !important;
                    }
                }
            }
        }
    }

    body.glucerna {
        .bannerWithTextLarge {
            .text-on-image.inverted {
                color: @abbott-summer-sky;
            }

            .text-on-image {
                p {
                    color: @abbott-light-grey;
                }

                .seemoreBtn {
                    border-color: @abbott-summer-sky  !important;
                    color: @abbott-summer-sky  !important;

                    &:hover {
                        background-color: @abbott-summer-sky  !important;
                        color: @white  !important;
                    }
                }
            }
        }
    }

    body.similac {
        .bannerWithTextLarge {
            .text-on-image.inverted {
                color: @abbott-denim;
            }

            .text-on-image {
                p {
                    color: @abbott-light-grey;
                }

                .seemoreBtn {
                    border-color: @abbott-denim  !important;
                    color: @abbott-denim  !important;

                    &:hover {
                        background-color: @abbott-denim  !important;
                        color: @white  !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:575px) {
    .a-container--protein-cal .proteinCalc {
        .proteinSlider {
            .owl-nav {
                height: 30px;
            }

            .owl-dots {
                margin-top: 30px;

                .owl-dot {
                    span {
                        width: 13px;
                        height: 13px;
                        margin-right: 12px;
                    }
                }
            }
        }

        .proteinSlider1 {
            padding: 0 12.5px;

            >p {
                width: 200px;
                margin: 0 auto 50px;
            }
        }

        .proteinFormCalc {
            padding: 46px 5% 47px;

            .proteinFormContainer {
                flex-direction: column;
                &:not(:last-child) {
                    margin-bottom: 45px;
                }

                input[type=number] {
                    width: 100%;
                    margin-top: 34px;
                }
            }

            .proteinFormLabel {
                width: 100%;
                margin: 0;
                text-align: center;
            }

            .proteinFormFieldContainer {
                width: 100%;
                margin-top: 34px;
                text-align: center;

                .image-radio {
                    width: 100px;
                    border-radius: 15px;

                    &:last-child {
                        margin-left: 40px;
                    }
                }
            }



            .proteinPhysicalActivity {
                >p {
                    text-align: center;
                    margin-bottom: 34px;
                }
                .proteinPhysicalActivityContainer {
                    .proteinPhysicalActivityLineContainer {
                        height: 359px;
                        margin-left: 38%;
                        display: inline-block;
                        padding: 10px;
    
                        .proteinPhysicalActivityLine {
                            width: 2px;
                            height: 358px;
    
                            .proteinPhysicalActivityDots {
                                width: 22px;
                                height: 22px;
                                margin: 0 0 61px -10px;
    
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
    
                    margin: 25px 0 50px;
                }
            }

            .proteinPhysicalActivityTextContainer {
                width: 65px;
                display: inline-block;
                vertical-align: top;

                .proteinPhysicalActivityText {
                    text-align: left;
                    margin: 0 0 59px 7px;

                    &:first-child {
                        margin-top: 7px;
                        margin-bottom: 34px;
                    }

                    &:not(:last-child) {
                        margin-right: 0;
                    }

                    &:nth-last-child(2) {
                        text-align: left;
                    }

                    &:last-child {
                        margin-bottom: 0;
                        text-align: left;
                    }
                }
            }
        }

        .proteinTileContainer {
            .proteinTile {
                padding: 22px 13px;

                p {
                    &:nth-of-type(2) {
                        font-size: 13px;
                        width: 80%;
                        margin: 0 auto;
                    }

                    &:nth-of-type(1) {
                        margin-bottom: 16px;
                        font-size: 10px;
                    }
                }

                .proteinTileImg {
                    width: 64px;
                    height: 57px;
                    margin: 0 auto 16px;
                }
            }
        }

        .finalResultContainer {
            margin-bottom: 0;
            padding: 29px 7% 26px;
            >p {
                &:not(:first-child) {
                    font-size: 25px;
                }
            }

            .finalResult {
                .totalCalorieNeed {
                    p {
                        &:first-child {
                            font-size: 25px;
                        }
                    }
                }

                .totalCalorieConsume {
                    p {
                        &:first-child {
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .proteinRequirement {
            .patientProteinTotal {
                width: 252px;
                font-size: 25px;
                line-height: 2;
            }
        }
    }
}

