.a-column-control--base.a-column-control--recipe-detail {
  .container {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 1200px !important;
    width: 100%;
    margin: auto;
    .row {
      margin-right: 11px;
      margin-left: 11px;

      /* ---NEW VARIATION IS ADDED  - TABLE - STARTS FORM HERE -----*/
      .a-text--base.a-text--accordion {
        overflow: hidden;
        table {
          tbody {
            tr {
              td {
                p {
                  font-family: BaseFontLighter, sans-serif;
                  font-size: 18px;
                  line-height: 27px;
                }
              }
              td:first-child {
                h4 {
                  font-size: 18px;
                  font-family: BaseFontMedium, sans-serif;
                  line-height: 23px;
                  color: white;
                }
              }
            }
          }
        }
      }

      /* ---NEW VARIATION IS ADDED  - TABLE - ENDS HERE -----*/

      .column-divider:first-child:after {
        display: none;
      }
      .column-divider:first-child {
        padding: 0 50px;
        padding-left: 132px;
        margin-bottom: 0px;
        .title {
          margin-bottom: 30px;
          .cmp-title {
            h1 {
              margin-bottom: 0px;
            }
            h3 {
              margin-bottom: 40px;
              text-align: center;
            }
          }
        }

        .title:first-child {
          .cmp-title {
            h3 {
              margin-bottom: 30px;
            }
          }
        }

        .title:last-child {
          margin-top: 0px;
          margin-bottom: 30px;
          .cmp-title {
            h3 {
              text-align: center;
            }
          }
        }
        .text.a-text--base.a-fontfamily-lighter.a-fontsize-18px {
          margin-top: 0px;
          margin-bottom: 30px;
          .cmp-text {
            p {
              color: #262525;
              font-size: 18px;
              font-weight: 400;
              text-align: center;
              line-height: 20px;
              margin-bottom: 30px;
            }
          }
        }
      }
      .column-divider:last-child {
        border-left: 1px solid #707070;
        border-top: 0;
        padding-left: 102px;
        padding-right: 80px;
        .m-card--base.m-card--recipe.m-card--recipe-p{
          .m-card__body{
            h2, h3{
              color: #4b3661 !important;
            }
            .m-card__description{
              h3{
                color: #4b3661 !important;
              }
              p{
                color: #898989 !important;
              }
            }
          }
        }
        .m-card--base.m-card--recipe {
          /*margin-left: 0px;*/
          overflow: hidden;
          max-width: 385px;
          width: 100%;
          margin: unset;
          .m-card__media {
            height: auto;
            .m-card__wrap {
              .m-card__image {
                position: relative;
                .cmp-image__image {
                  position: relative;
                }
              }
            }
          }
          .m-card__body {
            padding: 0px;
            margin-top: 30px;
            .m-card__title.h4 {
              display: none;
            }
            h3 {
              color: #004084;
              font-size: 18px;
              line-height: 27px;
              font-weight: 500;
              font-family: BaseFontRegular, sans-serif;
            }
            .m-card__description {
              p {
                color: #262525;
                font-family: BaseFontLighter, sans-serif;
                margin-bottom: 30px;
                line-height: 20px;
                font-size: 18px;
                font-weight: 400;
              }
            }
          }
        }
        .m-card--base.m-card--recipe.m-card--recipe-g {
          .m-card__body {
            h3 {
              color: @abbott-summer-sky;
              font-weight: 700;
            }
          }
          .m-card__description {
            ul {
              li {
                font-family: BaseFontRegular, sans-serif;
                font-size: 18px;
                color: #212529;
                font-weight: 400;
                line-height: 1.5;
              }
              li:marker {
                font-size: x-large;
                color: #212529;
              }
            }
          }
        }
        .a-text--base.a-text--accordion.a-text--table-summerskyblue {
          .cmp-text {
            div {
              font-family: BaseFontLighter, sans-serif;
              line-height: 20px;
              margin-bottom: 30px;
              font-size: 18px;
            }
            ul {
              li {
                font-family: BaseFontLighter, sans-serif !important;
              }
            }
          }
          table {
            tbody {
              tr {
                td {
                  background-color: #bcf8ff;
                  line-height: 27px;
                  font-family: BaseFontRegular, sans-serif;
                }
                td:first-child {
                  background-color: @abbott-summer-sky;
                  h4 {
                    font-family: BaseFontMedium, sans-serif !important;
                    line-height: 23px;
                    font-weight: 500;
                  }
                }
              }
              tr:nth-of-type(even) {
                td {
                  background-color: #f5feff;
                  color: #004f70;
                  line-height: 27px;
                }
                td:first-child {
                  background-color: #00529b;
                  color: #ffffff;
                  line-height: 27px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .a-column-control--base.a-column-control--recipe-detail {
    .container {
      .row {
        .column-divider:first-child {
          padding-left: 132px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .a-column-control--base.a-column-control--recipe-detail {
    .container {
      .row {
        /* added for table */
        .column-divider:last-child {
          padding-left: 30px;
          padding-right: 60px;
        }
        .column-divider:first-child {
          padding-left: 90px;
          padding-right: 20px;
          .text.a-text--base.a-fontfamily-lighter.a-fontsize-18px {
            .cmp-text {
              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 811px) {
  .a-column-control--base.a-column-control--recipe-detail {
    .container {
      .row {
        .column-divider:first-child {
          padding-left: 80px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .a-column-control--base.a-column-control--recipe-detail {
    .container {
      .row {
        .column-divider:last-child {
          //margin: 0 11px;
          border-top: 1px solid #707070;
          border-left: 0;
          padding: 0px;
          padding-top: 30px;
          margin-top: 0px !important;
          display: flex;
          justify-content: center;
          .m-card--base.m-card--recipe {
            text-align: center;
            .m-card__body {
              h3 {
                text-align: left;
              }
              .m-card__description {
                p {
                  text-align: left;
                }
              }
            }
          }
        }
        .column-divider:first-child {
          padding: 0px;
          margin-bottom: 0px;
          .title {
            margin-top: 0px !important;
          }
          .text.a-text--base {
            /*margin: 0 11px;*/
            .cmp-text {
              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.a-text--base.a-text--text-left .cmp-text p {
  text-align: left !important;
}
.a-text--base.a-text--text-right .cmp-text p {
  text-align: right !important;
}
.a-text--base.a-text--text-center .cmp-text p {
  text-align: center !important;
}
@media (min-width: 576px) {
  .a-column-control--base.a-column-control--recipe-detail {
    .container,
    .container-sm {
      max-width: 100%;
    }
  }
}

.options.o-form-option--base.form--checkbox {
  .checkbox {
    .a-checkbox.a-checkbox--vertical.a-checkbox--default {
      .a-checkbox__label {
        .a-checkbox__custom,
        .a-checkbox__custom:hover,
        .a-checkbox__custom:active {
          outline: none;
        }
      }
    }
    .checkbox--text-require {
      margin-top: auto;
    }
  }
}

/*** Accordion table styles ***/

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion
  table {
  width: 100%;
  min-width: 100%;
}

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion
  table
  tbody
  tr
  td {
  background-color: #c5c5c5;
  color: #06305e;
  font-family: BaseFontLighter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: center;
  overflow-wrap: break-word;
  padding: 6px 30px;
}

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion
  table
  tbody
  tr:nth-of-type(even)
  td {
  background-color: #e4e4e4;
}

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion
  table
  tbody
  tr
  td:first-child {
  background-color: #064181;
  color: #ffffff;
  padding: 6px 30px;
  font-family: BaseFontRegular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  overflow-wrap: break-word;
  text-align: left;
  margin-bottom: 0;
}

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion
  table
  tbody
  tr:nth-of-type(even)
  td:first-child {
  background-color: #06305e;
  color: #ffffff;
  text-align: left;
}

/** Added styles for text separation **/

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion.a-text--separation
  table
  tbody
  tr
  td {
  border: 1px solid rgb(128, 128, 128);
}

.a-column-control--base.a-column-control--recipe-detail
  .a-text--base.a-text--accordion.a-text--separation
  table
  tbody
  tr
  td:first-child {
  width: 60%;
}

/** Media Query for Mobile Devices **/

@media (max-width: 767px) {
  .a-column-control--base.a-column-control--recipe-detail
    .a-text--base.a-text--accordion {
    margin-bottom: 0px !important;
    .cmp-text {
      margin-bottom: 30px;
    }
  }
  .a-column-control--base.a-column-control--recipe-detail
    .a-text--base.a-text--accordion
    table {
    max-width: 463px;
    min-width: 0px;
  }
  .a-column-control--base.a-column-control--recipe-detail
    .a-text--base.a-text--accordion
    table
    tbody
    tr
    td:first-child,
  .a-column-control--base.a-column-control--recipe-detail
    .a-text--base.a-text--accordion
    table
    tbody
    tr
    td:first-child
    p {
    font-size: 10px;
    line-height: 11.5px;
    padding: 6px 5px;
  }

  .a-column-control--base.a-column-control--recipe-detail
    .container
    .row
    .a-text--base.a-text--accordion
    table
    tbody
    tr
    td {
    font-size: 10px;
    line-height: 11.5px;
  }

  .a-column-control--base.a-column-control--recipe-detail
    .a-text--base.a-text--accordion
    table
    tbody
    tr
    td {
    padding: 5px;
  }

  .a-column-control--base.a-column-control--recipe-detail
    .container
    .row
    .column-divider:first-child
    .text.a-text--base
    .cmp-text
    p {
    text-align: center;
  }
  /*.a-column-control--base.a-column-control--recipe-detail .container .row .a-text--base.a-text--accordion table tbody tr td:first-child h4{
		clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }*/
}

@media (max-width: 991px) {
  .a-column-control--base.a-column-control--recipe-detail
    .container
    .row
    .a-text--base.a-text--accordion
    table
    tbody
    tr
    td
    p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 920px) and (max-width: 1024px) {
  .a-column-control--base.a-column-control--recipe-detail
    .container
    .row
    .a-text--base.a-text--accordion {
    overflow: unset;
  }
}

@media (min-width: 768px) and (max-width: 919px) {
  .a-column-control--base.a-column-control--recipe-detail
    .a-text--base.a-text--accordion
    table
    tbody
    tr
    td {
    padding: 5px;
    font-size: 14px;
  }
}

/* ----------------------- PURPLE THEME starts here ----------------------- */

.a-column-control--base.a-column-control--recipe-detail.a-column-control--purple-theme {
  .container {
    .row {
      .column-divider:last-child {
        .m-card--base.m-card--recipe.m-card--recipe-p {
          .m-card__body {
            h3 {
              color: @abbott-meteorite !important;
            }
            .m-card__description {
              p {
                color: #898989 !important;
              }
            }
          }
        }
		.m-card--base.m-card--recipe {
          .m-card__body {
            h3 {
              color: @abbott-meteorite;
              font-weight: 700px !important;
              line-height: 21px;
            }
            .m-card__description {
              p {
                color: #898989;
              }
            }
          }
        }
      }
	  
      .column-divider:first-child {
        padding-left: 50px;
      }
    }
  }
  .a-text--base.o-color-purple.a-text--accordion {
    table {
      border: 1px solid gray !important;
      tbody {
        tr {
          border: 1px solid gray !important;
          td {
            border: 1px gray !important;
            background-color: #fcf4ff !important;
            color: #4b3661 !important;
            line-height: 27px !important;
            font-family: BaseFontLighter, sans-serif;
          }
          td:first-child {
            background-color: #4b3661 !important;
            color: #ffffff !important;
            font-family: BaseFontRegular, sans-serif;
          }
        }
        tr:nth-of-type(even) {
          td {
            background-color: #ab92c4 !important;
          }
          td:first-child {
            background-color: #6f5787 !important;
            font-family: BaseFontRegular, sans-serif;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .a-column-control--base.a-column-control--recipe-detail.a-column-control--purple-theme {
    .container {
      .row {
        .column-divider:first-child {
          padding-left: 20px;
          .a-title--base.a-titlecolor--purple {
            .cmp-title {
              h2 {
                line-height: 29px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
        .column-divider:last-child {
          padding-left: 30px;
          .m-card--base.m-card--recipe.m-card--recipe-p {
            .m-card__body {
              .m-card__description {
                p {
                  font-size: 14px;
                }
              }
            }
          }
          .m-card--base.m-card--recipe {
            .m-card__body {
              h3 {
                color: @abbott-meteorite;
                font-weight: 700px !important;
                line-height: 21px;
              }
              .m-card__description {
                p {
                  color: #898989;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .a-column-control--base.a-column-control--recipe-detail.a-column-control--purple-theme {
    .container {
      .row {
        .column-divider:first-child,
        .column-divider:last-child {
          padding-left: 0px;
          display: flex;
          flex-direction: column;
          .m-card.m-card--base.m-card--recipe {
            margin: 0 auto;
          }
        }
      }
    }
  }
}



/* PURPLE THEME ends here */

/* ---------  GLUCERNA CHANGES STARTS FROM HERE  ---------  */

/* TABLE WITHOUT BORDER */

/* ---------  GLUCERNA CHANGES ENDS HERE  ---------  */

/*Ensure Fixes*/

@media @lg-down{
  .a-column-control--base.a-column-control--recipe-detail .container .row .column-divider:last-child .m-card--base.m-card--recipe .m-card__body .m-card__description p {
   font-size: 14px !important;
    }
}