.a-container--base.a-container--video-list {
  .cmp-container {
    .a-title--base.a-titlecolor--blue.a-fontfamily-medium.a-fontsize-34px {
      .cmp-title {
        .cmp-title__text {
          line-height: 39px;
          margin-bottom: 50px !important;
        }
      }
    }
    .button.link {
      display: none;
    }
    .a-column-control--video-list {
      .container {
        .row {
          .columncontrol__column {
            position: relative;
            .a-image--prod-dec-sub-img {
              position: absolute;
              top: 26%;
              width: 60px;
              height: auto;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}

.a-container--popup.a-container--video-popup {
  #site-leaving-popup-logo {
    .video {
      padding-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0px;
      margin: 0;
      .m-video.m-video--small.m-video--center {
        width: 100%;
      }

      .a-text--base {
        display: none;
      }
    }
    .a-text--base {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .a-container--base.a-container--video-list {
    .cmp-container {
      .a-title--base.a-titlecolor--blue.a-fontfamily-medium.a-fontsize-34px {
        .cmp-title {
          .cmp-title__text {
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }
    .container {
      .row {
        flex-direction: column;
        align-items: center;

        .columncontrol__column {
          max-width: 385px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .a-container--popup.a-container--video-popup {
    #site-leaving-popup-logo {
      .video {
        .m-video.m-video--small.m-video--center {
          max-height: 62vh;

          iframe {
            max-height: 70vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .a-container--popup.a-container--video-popup {
    #site-leaving-popup-logo {
      .video {
        .m-video.m-video--small.m-video--center {
          max-height: 55vh;

          iframe {
            max-height: 65vh;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .a-container--popup.a-container--video-popup {
    #site-leaving-popup-logo {
      .video {
        .m-video.m-video--small.m-video--center {
          max-height: 45vh;

          iframe {
            max-height: 48vh;
          }
        }
      }
    }
  }
}
