.m-card--horizontal .m-card__body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: inherit;
    max-width: var(--card-width-xl);
    background-color: var(--primary-orange);
    color: var(--fill-white);
    padding: var(--card-padding-l);
}
.m-card--horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    align-self: flex-start;
    position: relative;
    margin: var(--space-zero-size) var(--space-zero-size) var(--card-margin-xxl);
}
.m-card__image, .m-card .cmp-image__image {
    position: absolute;
    width: var(--page-width);
    height: var(--page-width);
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}
.m-card__wrap {
    height: var(--page-width);
}
.m-card--horizontal .m-card__media{
    width: var(--card-width-s);
    text-align: center;
    background-color: var(--abbott-light-gray);    
}
.m-card--horizontal .m-card__image > div{
    height: var(--page-width);
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-card--horizontal.m-card .cmp-image__image{
    width: initial;
    position: static;
    display: inline-block;
    height: auto;    
}
.m-card--horizontal .m-card__image{
    position: static;
}
.m-card--horizontal .m-card__description{
    margin: var(--space-zero-size);
}
.m-card--horizontal .m-card__title{
    font-family: var(--font-roboto-regular);
    font-size: var(--card-font-size-xl);
    margin-bottom: var(--space-zero-size);
    line-height: var(--card-line-height);
}
.m-card--horizontal .m-card__description p{
    font-family: var(--font-georgia);
    font-size: var(--card-font-size-s);
    width: var(--card-width-l);
}
.m-card--horizontal.m-card--large-text .m-card__description p{
    margin: var(--card-margin-xs) 0 var(--card-margin-xs1);
    font-size: var(--card-font-size-m);
    width: var(--card-width-m);    
    line-height: var(--card-line-height-m);
}
.m-card--horizontal.m-card--large-text .m-card__title{
    line-height: var(--card-line-height-xl);
}
.m-card .a-link__text {
    color: var(--btn-text-color);
    width: var(--card-width-xs);
    background: var(--abbott-gold);
    text-align: center;
    padding: var(--card-padding-xs);
    text-transform: uppercase;
    margin-top: var(--card-margin-xs2);
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font-brandon-bold);
}
.cmp-container .m-card.m-card--horizontal.m-card--large-text.m-card--mob-link {
    margin-top: var(--card-margin-xs);
    margin-bottom: var(--card-margin-xl);
}
@media (max-width: 991px){
    .m-card--horizontal {
        flex-direction: column;
        display: block;
    }
    .m-card--horizontal .m-card__media{
        width: var(--page-width);
        max-width: var(--page-width);
        display: block;
        padding: var(--card-padding-1);
    }
    .m-card--horizontal .m-card__description p{
        width: var(--page-width);
    }
    .m-card--horizontal.m-card .cmp-image__image{
        width: var(--card-width-xxs);
        height: var(--card-height-xxs);
    }
    .m-card--horizontal .m-card__body{
        width: var(--page-width);
        max-width: var(--page-width);
        display: block;
        padding: var(--card-padding-s);
        text-align: center;
    }
    .m-card--horizontal .m-card__title, .m-card--horizontal.m-card--large-text .m-card__title{
        font-size: var(--card-font-size-l);
        line-height: var(--card-line-height-l);
    }
    .m-card--horizontal.m-card--large-text .m-card__description p, .m-card--horizontal .m-card__description p{
        width: var(--page-width);
        margin: var(--card-margin-xs) var(--space-zero-size) var(--card-margin-s);
    }
    .m-card .a-link__text{
        margin-bottom: var(--card-margin-s);
    	margin-top: var(--space-zero-size);
        font-weight: bold;
    }
    .cmp-container .m-card.m-card--horizontal.m-card--large-text.m-card--mob-link {
        margin-bottom: var(--card-margin-xxl);
    }
}
@media (min-width: 992px){
    .m-card.m-card--mob-link .a-link__text{
        display: none;
    }

}