.embed {
    .cmp-embed {
        #BVRRSummaryContainer {
           .bv-cleanslate {
                .bv-compat {
                    .bv-prs-container {
                        .bv-primarySummary-rating-container {
                            .bv-summary-bar {
                                .bv-stars-container {
                                    .bv-rating-ratio-number {
                                        .bv-histogram-target {
                                            .bv-rating {
                                                span {
                                                    font-family: @brandonregular !important;
                                                    font-size: 18px !important;
                                                    line-height: 24px !important;
                                                    color: @brand-blue !important;
                                                    @media @md-down {
                                                        font-size: 14px !important;
                                                        line-height: 20px !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .bv-rating-ratio-count {
                                        .bv-rating-label {
                                            font-family: @brandonregular !important;
                                            font-size: 18px !important;
                                            line-height: 24px !important;
                                            color: @brand-blue !important;
                                            @media @md-down {
                                                font-size: 14px !important;
                                                line-height: 20px !important;
                                            }
                                        }
                                    }
                                }
                                .bv-details-bar {
                                    .bv-percent-recommend-container {
                                        font-family: @brandonregular !important;
                                        font-size: 18px !important;
                                        line-height: 24px !important;
                                        color: @color-shuttle-grey !important;
                                    }
                                }
                                .bv-action-bar {
                                    .bv-write-container {
                                        .bv-submission-button {
                                            font-family: @brandonbold !important;
                                            background-color: @brand-blue !important;
                                            color: @color-white !important;
                                            padding: 12px 32px !important;
                                            font-size: 20px !important;
                                            line-height: 18px !important;
                                            &:hover {
                                                background-color: @brand-blue !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}