body {
    .color-text-gray {
        color: @border-gray;
    }
    .a-text--fg-reversed p {
        color: @color-white;
    }
    .a-text--fg-alternate {
        p, li {
            color: @color-charcoal;    
        }
    }
    .a-text--fg-primary {
        p, li {
            color: @brand-blue;
        }        
    }
    ul {
        padding-left: 28px;
        li {
            margin-bottom: 7px;
        }
    }
    .text.pb-2 {
        p:last-child {
            margin-bottom: 0;
        }
    }
    .text {
        &:has(.font-12) {
            p {
                line-height: 14px;
                .font-12 {
                    line-height: 18px;
                }
            }
        }
        .large-text {
            p {
                .font-size(24px, 32px);
                @media @lg-down {
                    .font-size(14px, 20px);
                }
            }  
        }
        .small-text {
            p {
                @media @lg-down {
                    .font-size(14px, 20px);
                }
            }
        }
        a {
            text-decoration: underline;
        }
    }
    .align-center-mobile {
        @media @md-down {
            text-align: center;
        }
    }
    .nutrient-circle-section {
        display: flex;
        > div {
            width: 67px;
            margin-right: 10px;
            text-align: center;
            @media @xl-only{
                margin-right: 5px;
            }
            .nutrient-circle {
                width: 50px;
                height: 50px;
                color: @color-white;
                .font-size(14px, 20px);
                background-color: @color-brown;
                margin: 0 auto;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                &.blue {
                    background-color: @color-blue;
                }
                &.red {
                    background-color: @color-red;
                }
                &.green {
                    background-color: @brand-dark-green;
                }
            }
            .nutrient-text {
                .font-size(14px, 20px);
                color:@color-shuttle-gray;
                padding-top: 10px;
                display: block;
            }
        }
    }
}
 
#nutrition-info, #vitamin-info, #mineral-info, #footer-info  {
    p {
        font-family: @brandonregular;
        .font-size(14px, 20px);
        margin: 0;
        padding: 8px 24px;
        color: @brand-blue;
        border-bottom: 1px solid @color-charcoal;
        .text-right {
            float: right;
        }
        @media @md-only {
            padding: 8px 0;
        }
    }
}
.product-info-row {
    font-family: @brandonregular;
    font-size: 14px !important;
    line-height: 20px !important;
    margin: 0;
    padding: 8px 24px;
    color: @brand-blue;
    border-bottom: 1px solid @color-charcoal;
    margin-bottom: 0!important;
    display: flex;
    justify-content: flex-end;
    @media @lg-only {
        padding: 8px 0;
    }
}
#nutrition-info {
    p {
        color: @color-charcoal !important;
    }
}
#ingredient-info {
    p {
        font-family: @brandonregular;
        .font-size(14px, 20px);
        color: @brand-blue;
        padding: 8px 24px 0px 24px !important;
    }
}
 
#ingredient-info, #footer-info {
    p {
        padding: 0;
        margin-bottom: 15px;
        border-bottom: 0;
    }
}
#allergen-info {
    p {
        .font-size(14px, 20px);
        font-family: @brandonbold;
        padding: 8px 24px;
    }
}
.container {
    .embed {
        a.bv_main_container {
            @media @md-down {
                flex-wrap: wrap !important;
                justify-content: center;
            }
            .bv_text {
                font-size: 14px !important;
                line-height: 20px !important;
                color: @brand-blue !important;
                font-family: @brandonregular !important;
            }
        }
    }
}
.a-spinner {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
}
#nutrition-facts {
    margin-bottom: 40px;
    h4 {
        background: @brand-light-blue;
        padding: 14px 24px;
        margin-bottom: 0;
        @media @md-down {
            .font-size(22px, 24px) !important;
        }
    }
    p {
        font-family: @georgiaregular;
        font-weight: 400;
        .font-size(14px, 20px);
        margin: 0;
        .text-right {
            float: right;
        }
    }
}
.text:has(.product-info-row), .text:has(#nutrition-info) {
    margin: 0 !important;
}
.text:has(#serving-size) {
    display: none;
    margin: 0;
}
.title:has(#serving-content-1), .text:has(#serving-content-1) {
    margin-bottom: 0;
}
#serving-content-2, #serving-content-3, #serving-content-1  {
    .m-accordion__header {
        background-color: @brand-blue;
        padding: 8px 24px;
        margin-top: -2px;
        .m-accordion__title-wrapper {
            padding: 0;
        }
    }
    .m-accordion__options {
        margin-bottom: 0;
    }
}
#serving-content-1 {
    p {
        background-color: @text-border;
        color: @color-white;
        padding: 12px 24px;
        margin-bottom: 0;
        font-family: @brandonbold;
        .text-right {
            float: right;
        }
    }
}
.mobile-text-bold {
    h2 {
        @media @md-down{
            span {
                font-family:@brandonblack !important;
            }
        }
    }
    p {
        @media @md-down {
            font-family:@brandonblack !important;
        }
        @media @md-down{
            span {
                font-family:@brandonblack !important;
            }
        }
    }
}
.check-text {
    p {
        text-align: center;
        @media @lg-down {
            text-align: left;
        }
        span {
            display: inline-block;
            padding: 8px 0;
            @media @md-down {
                display: block;
            }
        }
        .abt-icon-check {
            color: @color-thin-blue;
        }
    }    
}
.text:has(.hide-content) {
    padding-top: 15px;
    display: none;
}
#coupon-page, .offer-disc, #wrong-coupon {
    display: none;
}
body .cq-Editable-dom {
    .text:has(.hide-content), #coupon-page, .offer-disc, #wrong-coupon {
        display: block;
    }
} 
#offer-text {
    text-align: center;
    border-bottom: 2px dashed @color-bg-gray;
    max-width: 320px;
    padding-bottom: 20px;
    margin: 0 auto 30px;
    p {
        .font-size(55px, 60px);
        color: @color-abbott-blue;
        font-family: @brandonbold;
        @media @md-only {
            .font-size(42px, 52px);
        }
    }
    span {
        margin-bottom: 10px;
    }
    &.no-offer {
        p {
            .font-size(21px, 47px);
            span {
                .font-size(16px, 22px);
                font-family: @brandonregular;
                padding-top: 10px;
                display: block;
            }
        }
    }
    p.offer-end-date {
        color: @brand-blue;
        font-family: @brandonblack;
        .font-size(18px, 24px);
    }
    .a-button {
        margin: 30px 0 15px 0;
        display: block;
        a {
            text-decoration: none;
        }
    }
}