<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
    <div class="cq-placeholder" data-emptyText="${component.title}"></div>
</sly>
<div data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
   data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
   data-sly-test.text="${textModel.text}"
   class="cmp-text">
<sly data-sly-use.textModified="${'../../../utils/date.js' @ text=text}"></sly>
   <p data-sly-test.isCopyRight="${properties.richTextVariation == 'copyright'}" class="cmp-text__paragraph"
      data-sly-unwrap="${textModel.isRichText}">${textModified @ context =textModel.isRichText ? 'html' : 'text'}</p>
   <p data-sly-test="${!isCopyRight}" class="cmp-text__paragraph"
      data-sly-unwrap="${textModel.isRichText}">${text @ context =textModel.isRichText ? 'html' : 'text'}</p>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>