@import "../global/media-queries.less";
@import "../global/variables.less";

.o-info-section{
    .o-info-section__container{
        .o-info-section__column{
            .o-info-section__title{
                p{
                    font-size: @spacer-16;
                    line-height: @spacer-20;
                    font-family: @georgias;
                }
            }
        }
    }
}

.header {
    .o-header-v2-global{
        z-index: 100 !important;
    }
}