@import "../global/media-queries.less";
@import "../global/variables.less";

.o-search-results-filter{
    @media @md-down{
        .sticky-menu__filter {
            .searchfacet{
                display:block;
                position: initial;
                .m-searchfacet__filter-back{
                    display:none !important;
                }
                .m-search-category{
                    .m-search-category__apply-button{
                        display: none;
                    }
                }
            }
            .m-search-category__item{
                display:block;
                position: initial;
                .a-link{
                    border-bottom:0;
                }
            }
        }
    } 
}

.filter-title{
    @media @md-down{
        display:none;
    }
}