.footer {
text-align: -webkit-center;
}
.footer .o-footer {
	flex-direction: column;
	align-items: flex-start;
	padding: 76px 44px 40px 44px;
    left: 0px;
	top: 3030px;
	background: #000000;
    margin-bottom: -24px;
    max-width: 1457px !important;
}
.footer .container {
	height: auto;
	left: 44px;
	top: 40px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px !important;
    margin-top: 0px;
    padding: 0px;

}
.o-footer__top .m-link-stack{
	width: 85%;
    text-align: left;

}
.o-footer__top{
     padding-bottom: 20px !important;
 }
.o-footer__top .row, .o-footer__bottom .row{
	margin: 0px !important;
}
.o-footer__top .row .col-12, .o-footer__bottom .row .col-12{
	padding-right: 0px !important;	
    padding-left: 0px !important;
}
.m-link-stack--header {
    font-family: "Brandon Grotesque", Calibri,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	color: #AEAEC2;
}
.o-footer .m-link-stack .m-link-stack--header h6{
   	margin: 0px;
    font-family: "Brandon Grotesque", Calibri,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	color: #AEAEC2;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.o-footer .horizontal-divider {
    width: -webkit-fill-available;
    background: #A1A1A1;
    margin: 0 auto;
    display: block
}
.o-footer__bottom-section {
    padding-top: 33px !important;
}
.container.o-footer__bottom .m-social-media {
    position: inherit;
}
.o-footer__link-wrapper .m-link-stack .a-link{
    margin-bottom: 12px !important;
}
.o-footer .m-link-stack .a-link a.a-link__text {
	color: #FFFFFF;
    margin-bottom: 0px;
}
.o-footer__copyright{
	font-family: "Brandon Grotesque", Calibri,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF !important;
}
.bg-black .m-social-media--title{
	font-family: "Brandon Grotesque", Calibri,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.o-footer__disclaimer-section .a-link__text {
    color: #FFFFFF;
    top: calc(50% - 16px/2);
	font-family: "Brandon Grotesque", Calibri,Helvetica,Arial,sans-serif !important;
	font-style: normal;
	font-weight: 400  !important;
	font-size: 12px  !important;
	line-height: 16px;
}
.o-footer__disclaimer-section{
        padding-top: 10px !important;
}
.a-logo-comp, .o-footer__copyright {
	float: left;
}
.a-logo-comp--image{
	 margin-left: 0px !important;
}
.order-lg-1{
	place-self: flex-end;
}

.o-footer__top .d-none{
	display: contents !important;
}
.abt-icon-down-arrow:before {
	display:none;
}

@media (min-width: 375px) and (max-width: 767px){
	.a-logo-comp--image {
    	display: inherit;
	}
    .footer .o-footer{
		padding: 24px 40px 32px 40px;
	}
	.o-footer__top .m-link-stack {
   	 	width: initial;
     }
	.o-footer__disclaimer-section {
    	margin-left: -44px;
    	padding-top: 28px !important;
    }
	.o-footer__copyright {
        margin-top: 0;
    	margin-left: -4px;
    }
    .o-footer__link-wrapper{
		padding-bottom: 0px;
	}
}
@media (min-width: 768px) and (max-width: 920px) {

.o-footer__disclaimer-section {
    padding-left: 0;
    }
 .o-footer__link-wrapper .abt-icon-down-arrow {
        display: none;
    }
.o-footer__top .row .col-12, .o-footer__bottom .row .col-12 {
    padding-top: 0px !important;
       }
.o-footer__link-wrapper {
    padding-bottom: 0px;
}
.o-footer__top .m-link-stack {
   	 	width: initial;
     }

.o-footer__top.row .col-12, .o-footer__bottom.row .col-12 {
    padding-top: 0px !important;
                }

}

@media (min-width: 1200px) {
	.o-footer__top, .container, .container-sm, .container-md, .container-lg, .container-xl  {
      max-width: 1457px !important;
    }
}
