.navbar-nav .active {
   border-bottom: 5px solid #AA0061;

}
.navbar-nav .a-link .active{
   border-bottom: none;
}
.navbar-nav .a-link .donate-active {
   border-bottom: 5px solid #FFFFFF;
 

}

.navbar-nav .a-link{
    padding-bottom: 0px;                        
}
.abt-icon-arrow_circle {
    position: absolute !important;
    margin-left: 67px;
    margin-top: 8px;
}

.o-header__secondary-top-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 24px 0px 0px;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
    background: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.o-header__logo-section {
    height: 73px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-color: black;
    left: calc(50% - 375px/2);
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}

.o-header__logo-left img:last-child {
    margin-left: 28px !important;
    opacity: 1 !important;
    position: absolute !important;
}

.o-header__logo-left {
    width: 50%;
    padding: 16px 0px 15px 40px;
    margin-left: 26px;
}

.o-header__mega-menu .m-mega-menu__mobile .link .a-link__text {
    color: #212121;
    font-weight: 700 !important;
    font-size: 14px !important;
    font-family: "Brandon Grotesque", Calibri, Helvetica, Arial, sans-serif !important;
}

.navbar-nav {
    height: 44px;
    margin-left: 36px !important;
}

.navbar-collapse {
    height: 44px;
    padding: 10px 24px 11px;
}

div.o-header__logo-right img.a-logo-comp--image.img-fluid {
    width: 116px;
    height: 29px;
    margin-right: 22px;
}

.m-mega-menu__mobile .link {
    padding-bottom: 0px;
}

.o-header__search .a-search,
.o-header__search .a-search__input {
    display: none;
}

.a-logo-comp--image {
    margin-left: 75px !important;
}

.m-mega-menu__mobile .link .a-link__text {
    margin: 0px 0px;
    font-family: "Helvetica", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
}


.o-header .sticky .o-header__logo-section {
    border-bottom: 1px solid;
}

.m-mega-menu__mobile-item-wrapper:last-child {
    width: 134px;
    padding-right: 0;
    padding-left: 24px;
    margin-top: 0px;
    height: 44px;
    left: 0px;
    top: 0px;
    font-family: "Helvetica", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background-color: #E4002B;

}


.m-mega-menu__mobile .navbar {
    height: 45px;
    background-color: #FFFFFF;
}

.o-header {
    height: 47px;
}


.o-header .sticky .o-header__logo-right {
    display: none;
    opacity: 1;
}
.m-mega-menu__mobile-item-wrapper .a-button{
	display: none;
}
.m-mega-menu__mobile-item-wrapper:hover {
	border-bottom: 5px solid #AA0061;
}

@media (min-width: 375px) and (max-width:767px) {
.row{
	margin-right: 0 !important;
}
    .o-header__logo-section {
        height: 46px !important;
    }

    div.o-header__logo-right img.a-logo-comp--image.img-fluid {
        width: 69px !important;
        height: 17px !important;
    }

    .m-mega-menu__mobile-item-wrapper:last-child span {
        margin-left: -23px;
        font-family: "Helvetica", Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 24px;
        color: #e4002b;
    }

    .m-mega-menu__mobile-item-wrapper:last-child {
        background: none;
    }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-nav {
        margin-left: 0px !important;
    }

    .navbar-toggler {
        color: #FFFFFF;
        background-color: #000000;
    }

    .m-mega-menu__mobile .navbar .navbar-toggler {
        margin-left: 0px !important;
        width: 56px;
    }

    .m-mega-menu__mobile .navbar {
        background-color: #000000 !important;
    }

    .o-header__logo-left img:last-child {
        top: 7px !important;
        left: -39px !important;
        max-width: 100px !important;
        height: 16px;
    }

    .o-header__mega-menu .m-mega-menu__mobile .link .a-link__text {
        font-family: "Helvetica", Arial, sans-serif !important;
    }
	.m-mega-menu__mobile-item-wrapper{
    	background-color: white !important;
      	border-bottom: none;
	}
}

@media(min-width: 768px) and (max-width: 992px) {
	.m-mega-menu__mobile-item-wrapper{
    	background-color: white !important;
      	border-bottom: none;
	}
    .navbar-nav {
        margin-left: 0px !important;
    }

    .o-header__logo-left img:last-child {
        left: -12px !important;
    }

    .o-header .sticky .o-header__logo-right {
        display: flex !important;
        opacity: 1;
    }

    .o-header__mega-menu .m-mega-menu__mobile .link .a-link__text {
        font-family: "Helvetica", Arial, sans-serif !important;
    }

    .m-mega-menu__mobile-item-wrapper:last-child {
        background: none;
    }

    .m-mega-menu__mobile-item-wrapper:last-child span {
        margin-left: -23px;
        font-family: "Helvetica", Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 24px;
        color: #e4002b;
    }
}