@import './global/variables.less';
@import './global/media-queries.less';

.o-features-card {
  @media @lg-up {
    padding-right: @spacer-25;
    padding-left: @spacer-25;
  }

  &__image {
    .cmp-image__image {
      @media @lg-up {
        max-width: 100%;
      }
    }
  }
}
