@import './global/variables.less';
@import './global/media-queries.less';

h1 {
  .headingFontSmall {
    font-size: @spacer-24;
    line-height: @spacer-32;

    @media @sm-up {
      font-size: @spacer-38;
      line-height: @spacer-48;
    }

    @media @lg-up {
      font-size: @spacer-48;
      line-height: @spacer-64;
    }
  }
}

a {
  .cmp-title & {
    &:not(.btn) {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}