
.adc-panelList{
    &__flex{
        flex: 1 25%;
    }
    .adc-icon--yellow-video-icon{
        height: 45px;
        width: 45px;
    }
    &__border{
        border-left: 1px solid @color-fsl-grey-2;
        padding: 0px 8px;
        &:first-child{
            border-left:0;
        } 
    @media @max-tab{
        border-left: 0px;
        border-bottom: 1px solid @color-fsl-grey-2;
        &:last-child{
            border-bottom:0;    
        }
    }
    @media @tab-only {
        padding:28px 0px;
    }
    @media @mobile-break{
        padding: 40px 0px;
    }
    }

    &__circle{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: @color-fsl-yellow;
    }

    &__marginTop{
        margin-top:31px !important;
        @media @middesktop-break{
            margin-top: 8px !important;
        }
        @media @wideScreen-break{ 
            margin-top: 8px !important;
        }
        @media @max-tab{
            margin-top: 8px !important;
        }
    }
    &__image{
        background-size: cover;
        background-position: center; 
        min-height: 390px; 
        padding:55px 0px;
        @media @mobile-break{
            padding: 45px 0px;
        }
    }
    &__btn{
        .font-size-rems(12);
        font-weight: @weight-bold;
        padding:12px 15px;
        height: 40px;
        width: 220px;
        line-height: 15px;
        margin: 0px;
        @media @max-tab{
            width: 270px; 
        }
        @media @mobile-break{
            width: 220px;
        }
        &:hover{
            text-decoration: none;
        }
    }
    &__phone{
            .font-size-rems(24);
            font-weight: @weight-bold;
            margin-top: 50px ;
            line-height: 34px;
        @media @wideScreen-break{
            .font-size-rems(28);
            margin-top: 28px 
        }
        @media @middesktop-break{
            margin-top:28px;
        }
        @media @max-tab{
            margin-top: 16px
        }
    }
    &__icon{
        width: 40px;
        height: 40px;
    }
    .adc-button-tertiary{
        border: 1px solid @color-fsl-white;
        color: white;
    }
    .adc-button-primary{
        border: 1px solid  @color-fsl-white;
        background-color: @color-fsl-white;
        color:  @color-fsl-blue;
    }
    h3{
        @media @mobile-break{
            .font-size-rems(26);
        }
    }

    &__sectionTitle{
        margin-top:35px;
        @media @tab-only{
            margin-top: 0px;
        }
    }
    &__description-padding{
        @media @min-desktop{
        padding:0px 18%;
        }
    }
    &__verticalLayout-icon{
        height: 64px;
        width:64px;       
    }
    &__description{
        .font-size-rems(14);
        line-height: 18px;
    }
    &__marginBottom{
        &:last-child{
            margin-bottom: 15px;
        }
    }
    a:hover{
        text-decoration: none;
        color: none;
    }
}

