@import '../media-queries.less';
@import '../variables.less';
@import '../mixin.less';

.container{
    .ctasection{
        margin-left: 0%;
        margin-right: 0%;
        padding-top:0% !important;
        padding-bottom:0% !important;
    }
}
.container-full-width{
    .ctasection{
        max-width: 960px !important;
        margin:0 auto;
    }
}
.ctasection{
    &.responsivegrid {
        &.container {
          &.o-cta-section--padding-none {
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }
      }
    .o-cta-section {
        &__content {
            p {
                color: @color-black !important;
                margin-bottom: 24px !important;
            }
        }
        &__title{
            h3 {
                color: @color-black !important;
            }
        }
        &__sub-title {
            h4 {
                color: @color-black !important;
            }
        }

        &__button-wrap{
            .a-button{
                margin:0 8px 0 0 !important;
                a {
                justify-content: center;
                width:100%;
                margin-top:0px !important;
                margin-bottom:0px !important;
                }
            } 
        }
        @media @sm-down {
            &__content {
                p {
                    color: @color-black !important;
                    margin-bottom: 33px !important;
                }
            }
            &__button-wrap{
                .a-button{
                    margin:8px 0 0 0 !important;
                    a {
                        margin-top:0px !important;
                        margin-bottom:0px !important;
                        }
                } 
            }
    }
    }
}
.o-cta-section {
    &__sub-title {
        h4 {
			color: @color-black;
		}
    }
    &--top-space {
        margin-top: 48px !important;
    }
    &--bottom-space {
        margin-bottom: 48px !important;
    }
    &--m-none{
        margin-top:0px;
        margin-bottom:0px;
    }
    @media @lg-up {
        &--button-bottom.cta-large {
            &--alertbanner-large {
                width: 50%;
                margin-left:0;
                margin-right:0;
            }
        }
        &--button-bottom.cta-medium {
            &--alertbanner-medium {
                width: 66%;
                margin-left:0;
                margin-right:0;
            }
        }
        &--button-bottom.cta-small {
            &--alertbanner-small {
                width: 75%;
                margin-left:0;
                margin-right:0;
            }
        
    }
    }
}

  @media @sm-down{
      .container{
          .ctasection{
              padding-left: 0px !important;
              margin-left: 0%;
              margin-right: 0%;
          }
      }
  }
