@import '../media-queries.less';
@import '../variables.less';
@import '../mixin.less';

.o-form-container__main-form {
	.form-container {
        .multi-drop-down {
            .a-dropdown__title{
                display: block;
                font-family: @brandonmedium !important;
                font-size: 18px !important;
                line-height: 20px !important;
            }
            p {
                font-size: 18px !important;
                line-height: 20px !important;
                font-family: @brandonregularitalic !important;
                color: @color-charcoal;
                margin-left: 20px;
                margin-top: -12px;
                @media @md-down {
                    margin-left: 5px;
                }
            }
            select {
                &:focus {
                    border: 1px solid @color-cvlink !important;
                    box-shadow: inset 0px 0px 4px 2px rgba(21,155,215,0.5) !important;
                    outline: 0;
                }
            }
        }
        .a-checkbox-label {
            font-family: @brandonmedium !important;
            font-size: 22px !important;
            line-height: 28px !important;
            margin-bottom: 15px;
            .a-dropdown__title--required {
                margin-left: 10px;
                top: 0;
            }
        }
        .options {
            position: relative;
            .checkbox{
                padding-left: 20px;
                &.validation-require{
                    background-color: @color-transparent;
                    border-left: 0;
                    .checkbox--text-require {
                        padding-left: 0 !important;
                        font-size: 18px !important;
                        line-height: 20px !important;
                        text-transform: none !important;
                        font-family: @brandonregularitalic !important;
                        margin-top: -16px;
                    }
                    p:last-child {
                        display: none;
                    }
                }
                p:last-child {
                    font-size: 18px !important;
                    line-height: 20px !important;
                    font-family: @brandonregularitalic !important;
                    color: @color-charcoal;
                    margin-top: -16px;
                }
            }
        }
        .drop-down {
            .a-dropdown {
				padding-bottom: 20px;
                &.validation-require {
                    .a-input-field--text-require {
                        padding-left: 0 !important;	
                        font-size: 18px !important;
                        line-height: 20px !important;
                        font-family: @brandonregularitalic !important;
                        color: @color-error !important;
                        text-transform: none !important;
                        margin-top: 4px !important;
                        padding-bottom: 0;
                    }
                    + p {
                        display: none;
                    }  
                }
            }
			 p {
				font-size: 18px !important;
                line-height: 20px !important;
                font-family: @brandonregularitalic !important;
                color: @color-charcoal;
                margin-left: 20px;
                margin-top: -16px;
                @media @md-down {
                    margin-left: 5px;
                }
            }
        }
        .radio {
            &.validation-require {
                .radio--text-require {
                    padding-left: 20px !important;	
                    font-size: 18px !important;
                    line-height: 20px !important;
                    font-family: @brandonregularitalic !important;
                    color: @color-error !important;
                    text-transform: none !important;
                    margin-top: -16px !important;
                    .abt-icon {
                        display: none;
                    }
                }
                p {
                    display: none;
                }
            }
			 p {
				font-size: 18px !important;
                line-height: 20px !important;
                font-family: @brandonregularitalic !important;
                color: @color-charcoal;
                margin-left: 20px;
                margin-top: -16px;
                @media @md-down {
                    margin-left: 5px;
                }
            }
        }
		.a-dropdown__container {
            @media @md-down {
                margin-left: 5px;
            }
            .a-input-label {
				.a-dropdown__title-text {
                    font-family: @brandonmedium !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                }
            }
            .a-input-field--text-require {	
                font-size: 18px !important;
                line-height: 20px !important;
				padding-left:0px !important;	
                margin-top: 4px !important;
            }
			.a-dropdown__field {
                border: 1px solid @color-charcoal;
                cursor: pointer;
                padding-top: 13px;
                padding-bottom: 12px;
                width: 450px;
                height: 48px;
                @media @md-down {
                    width: 100%;
                }
                .a-dropdown__placeholder {
					font-family: @brandonmedium !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    overflow: hidden;
                    padding-top: 10px;
                    color: @color-shuttle-gray;
                }
                .a-dropdown-selected{
                    font-family: @brandonmedium !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    overflow: hidden;
                    padding-top: 10px;
                }
                &:after{
                    position: absolute;
                    z-index: 100;
                    padding: 6px;
                    color: @color-black;
                    display: inline-block;
                    width: 12px;
                    height: 11px;
                    background: transparent;
                    text-indent: -9999px;
                    border-top: 1px solid @color-black;
                    border-left: 1px solid @color-black;
                    transition: all 250ms ease-in-out;
                    text-decoration: none;
                    border-radius: 0 !important;
                    content: "";
                    transform: rotate(225deg);
                    top: 12px;
                    cursor: pointer;
                }
				&:focus {
					border: 1px solid @color-cvlink !important;
                    box-shadow: 0px 0px 4px 2px rgba(21,155,215,0.5);
                    outline: 0;
				}
			}
            .a-dropdown__title--required {
                margin-left: 10px !important;
                @media @md-down {
                    margin-left: 0 !important;
                    left: -5px !important;
                }
            }
			.a-dropdown__field.active {
				li {
                    cursor: pointer;
                    border-bottom: 0;
					&:hover {
						background-color: @color-cvlink;
					}
					span {
						color: @color-charcoal !important;
                        font-family: @brandonregular !important;
                        line-height: 24px !important;
					}
				}
			}
		}
        .a-radio {
            margin-left: 20px;
            .a-radio__label {
                .a-radio__text{
                    font-family: @brandonmedium !important;
                    font-weight: normal !important;
                }   
                .a-radio__custom {
                    width: 20px !important;
                    height: 20px !important;
                    top: 0 !important;
                    outline: 0;
                    &:focus {
                        border: 1px solid @color-cvlink !important;
                        box-shadow: inset 0px 0px 4px 2px rgba(21,155,215,0.5) !important;
                        outline: 0;
                    }
                }
            }
        }
        .a-radio-label { 
            .a-radio__title-text {
                font-size: 22px !important;
                line-height: 28px !important;
            }
            .a-radio__custom {
                width: 20px !important;
                height: 20px !important;
                top: 0 !important;
                outline: 0;
            }
        }
        .fields.text {
            position: relative;
        }
		#mri-file-upload {
            .a-input-field {
                .a-input-grp {
                    width:auto !important;
                    justify-content: center;
					input {
						width: 300px !important;
                        text-align: center !important;
                        padding: 40px 20px;
                        height: auto !important;
                        cursor: pointer;
                	}
                }
                .a-input-field--text-require {
					width: 100%;
                    max-width: 300px;
                    margin: auto;
					margin-top: 4px;
                }
                .a-input-field--text-require.active {
                    display: block;
                }
            }
        }
		.a-input-field {
            padding-bottom: 0;
            margin-bottom: 0;
			 .a-input-field--text-error{
                padding-left: 0 !important;	
                font-size: 18px !important;
                line-height: 20px !important;
                font-family: @brandonregularitalic !important;
                color: @color-error !important;
                text-transform: none !important;
                margin-top: 4px !important;
                padding-bottom: 0 !important;
            }
			.validation-error{
                .a-input-field--text-error{
                    padding-left: 0 !important;	
                    font-size: 18px !important;
                    line-height: 20px !important;
                    font-family: @brandonregularitalic !important;
                    color: @color-error !important;
                    text-transform: none !important;
                    margin-top: 4px !important;
                    padding-bottom: 0 !important;
                }
				background-color: @color-transparent;	
				border-left: 0;
                padding-left: 0;
                margin-left: 20px;
                @media @md-down {
                    width: 100%;
                }
                .a-input-label {
                    .a-input-field--required{
                        left: 0 !important;
                    }
                }
				input {	
					border: 1px solid @color-error !important;	
				}	
				.a-input-field--text-require {	
					padding-left: 0 !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    font-family: @brandonregularitalic !important;
                    color: @color-error !important;
                    text-transform: none !important;
                    margin-top: 4px;
				}
            }
            @media @md-down {
                max-width: 100%;
            }
            .a-input-grp {
                width: 450px;
                @media @md-down {
                    width: 100%;
                }
                input {
                    font-family: @brandonmedium !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    height: 48px !important;
                    border: 1px solid @color-charcoal !important;
                    &::placeholder {
                        color: @color-shuttle-gray;
                        font-family: @brandonmedium !important;
                        font-size: 18px !important;
                        line-height: 20px !important;
                    }
                    &:focus {
                        border: 1px solid @color-cvlink !important;
                        box-shadow: 0px 0px 4px 2px rgba(21,155,215,0.5) !important;
                        outline: 0;
                    }
                }
                textarea{
                    font-family: @brandonmedium !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    border-radius: 4px !important;
                    border: 1px solid @color-charcoal !important;
                    height: 153px;
                    color: @color-charcoal;
                    &::placeholder {
                        color: @color-shuttle-gray;
                        font-family: @brandonmedium !important;
                        font-size: 18px !important;
                        line-height: 20px !important;
                    }
                    &:focus {
                        border: 1px solid @color-cvlink !important;
                        box-shadow: 0px 0px 4px 2px rgba(21,155,215,0.5) !important;
                        outline: 0;
                    }
                }
            }
            .a-input-field--text-help {
                font-size: 18px !important;
                line-height: 20px !important;
                color: @color-charcoal;
                font-family: @brandonregularitalic !important;
            }
			.validation-require {
				background-color: @color-transparent;
				border-left: 0;
                padding-left: 0;
                margin-left: 20px;
                @media @md-down {
                    width: 100%;
                }
                .a-input-label {
                    .a-input-field--required{
                        left: 0 !important;
                    }
                }
				input {
					border: 1px solid @color-error !important;
				}
				.a-input-field--text-require {
					padding-left: 0 !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    font-family: @brandonregularitalic !important;
                    color: @color-error !important;
                    text-transform: none !important;
                    margin-top: 4px !important;
				}
			}
            .validation-regex {
				background-color: @color-transparent;
				border-left: 0;
                padding-left: 0;
                margin-left: 20px;
                @media @md-down {
                    width: 100%;
                }
                .a-input-label {
                    .a-input-field--required{
                        left: 0 !important;
                    }
                }
				input {
					border: 1px solid @color-error !important;
				}
				.a-input-field--text-regex {
					padding-left: 0 !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    font-family: @brandonregularitalic !important;
                    color: @color-error !important;
                    text-transform: none !important;
				}
            }
            .a-form-grp {
                .a-input-label {
 					font-family: @brandonmedium !important;
                    font-size: 18px !important;
                    line-height: 20px !important;
                    .a-input-field--required {
                        margin-left: 10px;
                        @media @md-down {
                            margin-left: 0;
                            left: -5px !important;
                        }
                    }
                }
                @media @md-down {
                    margin-left: 5px;
                }
            }
            
		}
	}
	.a-checkbox__custom {
        border-radius: 4px !important;
        border-color: @color-charcoal;
        cursor: pointer;
        &:hover {
			border-color: @color-cvlink;
        }
        &:focus {
			border-color: @color-cvlink;
            box-shadow: 0px 0px 4px 2px rgba(21,155,215,0.5);
            outline: 0;
        }
		&:after {
			border-width: 0 .105rem .105rem 0;
			left: 0.495rem;
			top: 0.200rem;
		}
	} 
    .a-checkbox__text {
         font-family: @brandonmedium !important;
        font-size: 18px !important;
        line-height: 20px !important;
        color: @color-charcoal;
    }
	input {
		&:checked {
			&~.a-checkbox__custom {
				border: none;
			}
			&~.a-radio__custom {
				background-color: @color-cvlink !important;
				border: 0;
				display: inline-block;
                outline: 0;
				&:before {
					content: '';
					position: absolute;
					left: 0px;
					right: 0;
					top: 0px;
					bottom: 0;
					margin: auto;
					width: 6px;
					height: 6px;
					background: #fff;
					z-index: 1;
					border-radius: 50%;
				}
			}
		}
		&:disabled {
			&~.a-checkbox__custom {
				background-color: @color-grey;
			}
			&~.a-radio__custom {
				background-color: @color-grey !important;
			}
		}
		&:focus {
			&~.a-checkbox__custom {
				border: 1px solid @color-cvlink !important;
                box-shadow: inset 0px 0px 4px 2px rgba(21,155,215,0.5) !important;
                outline: 0;
			}
			&~.a-radio__custom {
				border: 1px solid @color-cvlink !important;
                box-shadow: inset 0px 0px 4px 2px rgba(21,155,215,0.5) !important;
                outline: 0;
			}
		}
	}
	.validation-require {
        background-color: @color-transparent;
	    border-left: 0;
        @media @md-down {
            width: 100%;
        }
        .a-input-field--text-require {
            padding-left: 0 !important;
            font-size: 18px !important;
            line-height: 20px !important;
            font-family: @brandonregularitalic !important;
            color: @color-error !important;
            text-transform: none !important;
            margin-top: 4px !important;
        }
		input {
			&~.a-checkbox__custom {
				border: 1px solid @color-error !important;
				outline: none !important;
			}
			&~.a-radio__custom {
				border: 1px solid @color-error !important;
				outline: none !important;
			}
		}
	}
	.a-dropdown__container {
		.a-dropdown__field {
			.a-dropdown__menu {
				li {
					height: 48px;
					padding: 7px 0;
				}
			}
		}
		&::-webkit-scrollbar-thumb {
			background-color: @color-grey !important;
		}
		&::-webkit-scrollbar-track {
			border-color: @color-grey !important;
		}
	}
    .icon {
        font-size: 16px !important;
        .abt-icon-calendar {
            &:before {
                content: "\e902";
            }
        }
    }
	.a-date-picker {
        .a-date-picker__input-start{
            @media @md-down {
                width: 100%;
            }
            .a-input-field {
                .input-group.active {
                    .a-input-control {
                        &~.focused-icon {
                            .abt-icon-calendar-focus {
                                color: @color-black;
                            }
                        }
                    }
                }
            }
        }
	}
}
.a-container__content {
    .o-form-container__buttons {
        .a-button{
            .btn{
                justify-content: center;
                padding: 10px 32px 10px 33px !important;
                font-family: @brandonbold !important;
                font-size: 16px !important;
                line-height: 20px !important;
                letter-spacing: 0.8px !important;
                text-align: center;
                border: 1px solid @color-cvlink;
                &[disabled]{
                    border: 1px solid @color-shuttle-gray;
                }
                @media @md-down{
                    margin: 10px 0;
                }
                span {
                    font-family: @brandonbold !important;
                    font-size: 16px !important;
                    line-height: 20px !important;
                }
            }
        }
    }
}

.litepicker {
    .container__months {
        .month-item-header {
            position: relative;
            div {
                >.month-item-name {
                    border: 1px solid @color-black;
                    border-radius: 6px;
                    padding: 2px 6px;
                    font-size: 18px;
                    margin-right: 10px;
                    font-weight: 600;
                    position: relative;
                }
                >.month-item-year {
                    border: 1px solid @color-black;
                    border-radius: 6px;
                    padding: 2px 6px;
                    font-size: 18px;
                    margin-right: 10px;
                    font-weight: 600;
                    position: relative;
                }
            }
            >a {
                & svg {
                    display: none;
                }
                position: absolute;
                transform: translateY(-50%);
                z-index: 100;
                padding: 6px;
                color: @color-black;
                display: inline-block;
                width: 12px;
                height: 11px;
                background: transparent;
                text-indent: -9999px;
                border-top: 1px solid @color-black;
                border-left: 1px solid @color-black;
                transition: all 250ms ease-in-out;
                text-decoration: none;
                border-radius: 0 !important;
                &.button-previous-month {
                    top: 50%;
                    transform: rotate(-45deg);
                    left: -60px;
                }
                &.button-next-month {
                    top: 39%;
                    transform: rotate(135deg);
                    right: 15px;
                }
                &:before {
                    display: block;
                    height: 200%;
                    width: 200%;
                    margin-left: -50%;
                    margin-top: -50%;
                    content: "";
                    transform: rotate(45deg);
                }
            }
        }
    }
    .container__days{
        .day-item{
            font-family: @brandonregular !important;
            font-size: 15px !important;
            line-height: 24px !important;
            color: @color-charcoal !important;
	        &.is-start-date{
		        &.is-end-date{
                    background-color: @color-bright-gray !important;
                    color: @color-charcoal !important;
                }
            }
            .is-today{
                color: @color-charcoal !important;
                border: none !important;
                background: var(--date-picker-current-date);
            }
            &:hover{
                color: @color-charcoal !important;
                background: var(--date-picker-current-date);
            }
        }
        
    }
}

#mri-verification-form {
    .o-form-container__main-form {
        .form-container {
            text-align: center;
            .a-input-field--text-require{
                text-align: center !important;
            }
            .a-input-label {
                display: none;
            }
            .a-input-field {
                .a-input-grp {
                    margin: auto;
                    margin-top: 20px;
                }
                .a-form-grp  {
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
}

.formcontainer-center {
    .o-form-container__main-form {
        .form-container {
            .a-input-field {
                .a-form-grp {
			margin-left: 0;
                }
                .a-input-grp {
			margin: auto;
                }
            }
        }
    }
}