@import "../variables.less";
@import "../mixin.less";
@import "../media-queries.less";


.header {
  .o-header-v2-global {
    .o-header-v2-global__section {
      .section.o-header-v2-section--visibilityScreenDesktop {
        background-color: @color-shuttle-gray;
        .group {
          text-transform: none;
          .link {
            .a-link {
              a {
                span {
                  color: @color-white;
                  text-decoration: none;
                  font-family: @brandonregular;
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: normal;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .languagenavigation {
            .m-link-stack__country-header__title{
              width: 90px;
            }
            .m-link-stack {
              .m-link-stack__link {
                .a-link__text {
                  font-family: @brandonlight;
                }
              }
              .m-link-stack__dropdown-wrapper {
                max-height: 337px;
                border-radius: 0px;
                .m-link-stack__container {
                  margin: 10px 0px;
                  margin-right: 2px;
                  .m-link-stack__title {
                    padding: 0px;
                  }
                  .m-link-stack__list {
                    margin-bottom: 0px;
                  }
                }
                .m-link-stack__smart-search {
                  display: none;
                }
                .m-link-stack__list {
                  .m-link-stack__list-item {
                    .a-link__text {
                      color: @color-charcoal;
                      line-height: 18px;
                      font-family: @brandonregular;
                    }
                  }
                }
                @media @lg-up {
                  right: -30px;
                }
              }
              .a-link__text {
                color: @color-white;
                em {
                  &:before {
                    color: @color-white;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .headersearch {
            .a-search {
              .a-search--icon-left {
                color: @color-white;
              }
              input {
                font-family: @brandonlight;
              }
              .a-search__input-placeholder {
                color: @color-white;
              }
              form{
                padding: 13px 40px 11px 40px;
                @media @lg-down{
                  padding: 13px 40px 7px 40px;
                }
                @media @md-down{
                  padding: 12px 40px 6px 40px;
                }
                .a-search__input{
                  color: @color-charcoal;
                  font-size: 16px;
                  line-height: 20px;
                  font-family: @brandonregular;
                }
              }
            }
            .open {
              form {
                .a-search--icon-left {
                  .abt-icon-search {
                    color: @color-black;
                  }
                }
              }
            }
          }
        }
      }
    }
    .o-header-v2-global__sticky-section {
      .o-header-v2-global__section--main {
        background-color: @color-charcoal;
        border: 0px;
        @media @lg-up {
          padding: 24px 0px 28px 0px;
        }
        .a-logo-comp {
          width: 70px;
          @media @md-up {
            width: unset;
          }
        }
        .o-header-v2-group {
          .cmp-title {
            margin-right: 0px;
            @media @lg-up {
              margin-right: unset;
            }
            .cmp-title__text {
              font-family: @brandonmedium;
              font-size: 12px;
              line-height: 18px;
              font-weight: normal;
              padding-bottom: 0px;
              @media @md-up {
                font-size: 18px;
                line-height: 24px;
              }
              @media @lg-up {
                font-size: 20px;
                line-height: 28px;
              }
              .cmp-title__link {
                color: @color-white;
                font-size: 12px;
                font-family: @brandonmedium;
                line-height: 18px;
                text-decoration: none;
                @media @md-up {
                  font-size: 20px;
                  line-height: 28px;
                }
                @media @lg-up {
                  display: flex;
                }
              }
            }
          }
          .languagenavigation {
            .m-link-stack__country-header__title{
              width: 90px;
            }
            @media @lg-up {
              display: none;
            }
            .m-link-stack__dropdown-wrapper {
              max-height: unset;
              width: 275px !important;
              border-radius: 0px;
              .m-link-stack__title {
                display: none;
              }
              .m-link-stack__country-header__title {
                margin-left: 55px;
                color: @color-charcoal;
                line-height: 24px;
              }
              .m-link-stack__country-header__language {
                color: @color-charcoal;
                line-height: 24px;
              }
              .a-link__text {
                color: @color-charcoal;
                font-size: 16px;
                line-height: 18px;
                font-family: @brandonlight;
              }
            }
            .m-link-stack__link {
              .a-link__text {
                display: unset;
                .abt-icon {
                  display: none;
                }
                .flag-icon {
                  margin-right: 0px;
                  left: 15px;
                }
                span {
                  &:not(.flag-icon) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .o-header-v2-global__section--utility-bottom {
        .o-header-v2-section--alignGroupsBetween {
          background-color: @color-shuttle-gray;
          color: @color-white;
          @media @lg-up {
            background-color: unset;
          }
          .o-header-v2-section {
            .megamenu {
              .navbar {
                .navbar-toggler {
                  font-size: 14px;
                  margin-right: 10px;
                }
              }
            }
            .headersearch {
              .open {
                form {
                  color: @color-black;
                }
              }
            }
            .navbar-collapse {
              border-radius: 0px;
              @media @lg-up {
                margin-left: -17px;
              }
              .navbar-collapse-wrapper {
                padding-right: 0px;
                .m-mega-menu__mobile-item-wrapper {
                  border-bottom: 0px;
                  padding: 7px 23px 7px 17px;
                  margin-right: 0px;
                  position: relative;
                  @media @lg-up {
                    padding: 10px 23px 10px 17px;
                  }
                  &:nth-last-child(2) {
                    @media @lg-up {
                      border: none;
                    }
                  }
                  &:hover {
                    border-bottom: none;
                    @media @lg-up {
                      background-color: @color-aqua;
                    }
                    .m-mega-menu__nested-menu {
                      width: max-content;
                      @media @lg-up {
                        display: block !important;
                        left: 0px;
                      }
                    }
                    .m-mega-menu__item {
                      .nav-item {
                        color: @color-cvlink;
                        font-family: @brandonbold;
                      }
                    }
                  }
                  &.active {
                    border-bottom: none;
                    @media @lg-up {
                      background-color: @color-aqua;
                    }
                    .m-mega-menu__item {
                      .nav-item {
                        color: @color-cvlink;
                        font-family: @brandonbold;
                      }
                    }
                  }
                  .link {
                    padding: 7px 23px 7px 0px;
                    .a-link__text {
                      .a-link__inner-text {
                        text-transform: capitalize;
                        color: @color-charcoal;
                        font-size: 20px;
                        font-family: @brandonlight;
                        &:hover {
                          color: @color-cvlink;
                          font-family: @brandonbold;
                        }
                      }
                    }
                    &.button {
                      @media @lg-up {
                        display: block;
                      }
                    }
                  }
                  .m-mega-menu__item {
                    .nav-item {
                      color: @color-charcoal;
                      font-size: 14px;
                      font-family: @brandonregular;
                      padding: 0px;
                    }
                  }
                  .m-mega-menu__mobile-header {
                    color: @color-charcoal !important;
                    font-size: 20px;
                    font-family: @brandonregular;
                    line-height: 26px;
                    text-transform: capitalize !important;
                    padding: 5px 0px;
                    &:hover {
                      color: @color-cvlink !important;
                      font-family: @brandonbold;
                    }
                    &:after {
                      font-size: 14px;
                      color: @color-charcoal;
                    }
                    &.active{
                      .mob-nav-link{
                        color: @color-cvlink;
                      }
                    }
                    .mob-nav-link{
                      @media @lg-down{
                        padding-right: 25px;
                        text-transform: capitalize;
                        color: @color-charcoal;
                      }
                    }
                  }
                  .m-mega-menu__mobile-products {
                    .m-mega-menu__mobile-item {
                      .m-mega-menu__mobile-item-link {
                        color: @color-charcoal !important;
                        text-transform: none !important;
                        font-size: 20px;
                        line-height: 26px;
                        font-family: @brandonregular;
                        padding: 13px 0;
                        &:hover {
                          color: @color-cvlink !important;
                          font-family: @brandonbold;
                        }
                      }
                      .m-mega-menu__mobile-sub-head {
                        color: @color-charcoal !important;
                        text-transform: none !important;
                        font-size: 20px;
                        padding: 10px 0;
                        font-family: @brandonlight;
                        &:hover {
                          color: @color-cvlink !important;
                          font-family: @brandonbold;
                        }
                        &:after {
                          font-size: 14px;
                          color: @color-charcoal;
                        }
                      }
                    }
                  }
                  .m-mega-menu__nested-menu-wrapper {
                    color: @color-charcoal;
                    .m-link-stack {
                      padding-bottom: 30px;
                      padding-top: 0px;
                      .a-link {
                        padding: 15px 32px 13px 17px;
                        width: 258px;
                        &:hover {
                          background-color: @color-aqua;
                          .a-link__text {
                            color: @color-cvlink;
                            font-family: @brandonbold;
                          }
                          .m-mega-menu__nested-menu-img-list {
                            padding-top: 0;
                            min-width: 16rem;
                          }
                        }
                        .a-link__text {
                          text-transform: none;
                          font-size: 16px;
                          font-family: @brandonregular;
                        }
                      }
                      .m-mega-menu__side-nav-transparent {
                        .m-mega-menu__side-nav-item {
                          padding: 15px 20px;
                          .m-mega-menu__item-info {
                            max-width: 14rem;
                            .m-mega-menu__item-title {
                              font-family: @brandonlight;
                            }
                          }
                          &:hover {
                            background-color: @color-aqua;
                            .m-mega-menu__item-info {
                              color: @color-cvlink;
                              .m-mega-menu__item-title {
                                font-family: @brandonbold;
                              }
                            }
                          }
                        }
                        .m-mega-menu__show-more {
                          display: none;
                        }
                      }
                    }
                  }
                  &:before {
                    display: none;
                  }
                }
              }
            }
            .a-search {
              color: @color-white;
              @media @lg-up {
                display: none;
              }
            }
          }
        }
      }
    }
    .o-header-v2-global__sticky-section.sticky {
      .o-header-v2-global__section--main {
        height: 44px;
        padding-top: 3px;
        @media @md-up {
          padding-top: 0px;
        }
        @media @lg-up {
          padding-top: 5px;
        }
         .o-header-v2-section{
          &.container{
            padding-top: 7px;
            @media @md-up{
              padding-top: 6px;
            }
            @media @lg-up{
              padding-top: 2px;
            }
          }
        } 
        .o-header-v2-group {
          .languagenavigation {
            .m-link-stack__country-header__title{
              width: 90px;
            }
            display: block;
            .m-link-stack__link {
              .a-link__text {
                display: unset;
                .abt-icon {
                  display: none;
                }
                .flag-icon {
                  margin-right: 0px;
                  left: 15px;
                }
                span {
                  &:not(.flag-icon) {
                    display: none;
                  }
                }
              }
            }
          }
          @media @md-up {
            .cmp-title__text {
              font-size: 14px !important;
              line-height: 18px !important;
              font-family: @brandonmedium;
              font-weight: normal;
              margin-bottom: 0px;
            }
          }
        }
      }
      .o-header-v2-global__section--utility-bottom {
        .o-header-v2-section--alignGroupsBetween {
          background-color: @color-white;
          color: @color-charcoal;
          .a-search {
            color: @color-charcoal;
            @media @lg-up {
              display: block;
            }
          }
        }
      }
    }
    .m-mega-menu__mobile-header {
      .mob-nav-link:not(:first-child){
        display: none;
      }
    }
    .navbar-collapse-wrapper{
      .m-mega-menu__mobile-item-wrapper{
        .navigation{
          .m-mega-menu__mobile-item{
            .m-mega-menu__mobile-header{
              &.arrowhide{
                &:after{
                  display:none;
                }
              }
            }
          }
        }
      }
    }
  }
  a{
    &:focus{
      outline: 5px auto -webkit-focus-ring-color !important;
      outline-offset: -2px !important;
    }
  }
}
#skiptocontent {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  left: 17px;
  top:0px;
  &:focus{
    transform: translateY(0%);
    top:10px;
  }
}
#pageContent{
    scroll-margin:200px;
}
