.m-accordian--base.m-accordian--faq{
    .m-accordion{
        max-width:100%;
    }
    @media (min-width:768px){
        margin-right:auto;
    }
    padding: 0px !important;
    @media (max-width:767px){
        margin:auto;
    }
    .abt-icon.abt-icon-plus:before {
        content:"";
        vertical-align: middle;
        display: inline-block;
        background: url("/content/dam/an/glucerna-com/faq-icons.png") no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        position: relative;
        top: -4px;
    }
    .abt-icon.abt-icon-minus:before {
        content:"";
        vertical-align: middle;
        display: inline-block;
        background: url("/content/dam/an/glucerna-com/faq-icons.png") no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        width: 24px;
        height: 24px; 
        background-position: -3px -27px;
        top: -8px;
        position: relative;
        
    }
    .m-accordion__options{
        display: flex;
        height: auto;
        width: 100%;
        background-color: #fbdd20;
        cursor: pointer;
        margin-bottom: 20px;
        padding: 20px 30px 17px 18px;
         @media (max-width:767px){
              padding: 20px 20px 17px 18px;
            }
        span{
            font-size: 24px;
            font-weight: 100;
            text-align: left;
            font-family: 'Nexa Slab W01 Black',sans-serif;
            color: #122c65;
            text-transform: uppercase;
            line-height: 20px; 
            @media (max-width:767px){
                font-size: 20px;
            }
            @media (max-width:1200px){
                line-height: 18px; 
            }
            
        }
            button{
                width:100%;
                padding: 0px;
            span{
                width:100%;
                position: relative;
                display: flex;
                align-items: center;
                }
            }

        .m-accordion__expand-title{
             span:after{
                content:"";
                margin-left: 13px;
                vertical-align: middle;
                position:absolute;
                right:0px;
                display: inline-block;
                background: url("/content/dam/an/glucerna-com/faq-icons.png") no-repeat;
                overflow: hidden;
                text-indent: -9999px;
                background-position: -3px -60px;
                width: 11px;
                height: 11px;
            }
        }
         .m-accordion__collapse-title{
             span:after{
                content:"";
                margin-left: 13px;
                vertical-align: middle;
                position:absolute;
                right:0px;
                display: inline-block;
                background: url("/content/dam/an/glucerna-com/faq-icons.png") no-repeat;
                overflow: hidden;
                text-indent: -9999px;
                background-position: -3px -54px;
                width: 11px;
                height: 3px;
            }
        }
    }
    .m-accordian--faq{
        padding: 0px !important;
        width:100%;
        max-width:100%;
        margin:auto;

        .m-accordion__header{
            display:none !important;
        }
        .m-accordion__options{
            display:none;
        }
        .m-accordion__content{
            .m-accordion__content-items{
                border-top: none;
                padding: 0px !important;
                margin-bottom: 0px !important;

                .m-accordion__body{
                    padding: 0px !important;
                    .text{  
					 ol{
                            list-style: decimal;
                        }
                        table{
                            width:auto;
                            tr:first-child{
                                border-color: #fff;
                                border-bottom-color: inherit;
                            }
                        }


                        .cmp-text p,h3{
                            padding: 20px 11px 0px 30px;
                            color: #122C65;
                            font-family: 'Nexa W01 Book',sans-serif;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: left;
                            font-weight: 100;
                            margin: 0;
                            @media (max-width:767px){
                                line-height: 18px;
                                font-size: 14px;

                            }
                            a{
                                color: #122C65;
                                text-decoration: none;
                                border-bottom: 1px solid #122C65;                               

                            }
                        }
                    }
                }
            }
        }

    }
    .m-accordion__content{
        .m-accordion__content-items {
            padding: 20px 31px 20px 3px;
            border: none;
             @media (max-width:767px){
               padding: 0px 31px 22px 3px;
            }
            &.bg-color{
            .m-accordion__header{
                  h3{
                    font-family: 'Nexa W01 Bold',sans-serif;
                    }
                }

        }
    }
        .m-accordion__header{
            display:flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;
            .m-accordion__title-wrapper{
                padding: 0px;
                display: flex;
                &::before {
                    content: "Q: ";
                    display: inline-block;
                    padding-right: 13px;
                    font-family: 'Nexa W01 Bold',sans-serif;
                    color: #122c65;
                    font-size: 16px;
                    line-height: 18px; 
                }
                h3{
                    padding: 0px;
                    color: #122c65;
                    font-family: 'Nexa W01 Book',sans-serif;
                    font-size: 16px;
                    line-height: 18px;                
                    text-align: left;
                    font-weight: 100;
                     @media (max-width:767px){
                    line-height: 19px;
                }
                }

            }
            .m-accordion__icon-wrapper{
                padding: 0 20px 0px 11px;
                width: 24px;
                height: 24px;
                justify-content: space-evenly;
            }
        }
        .m-accordion__body{
            padding: 0px 0px 0px 33px;
        }

    }

}

/*variation 2*/
.m-accordian--glucerna-view2{
    width: 100%;
    margin: 0 auto;
    padding-top: 0px !important;
    padding-bottom: 7px !important;
    .m-accordion {
        max-width: 100%;
        .m-accordion__options{
            margin: 0px;
            display:flex;
            cursor: pointer;
            padding: 20px 0 19px 20px;
            position: relative;
            background: #1e376c;
            border-radius:10px 10px 0px 0px;           
            align-items: center;
            @media (max-width:767px){
                width: 100%;
                padding: 11px 0 10px 10px;
            }
            @media (min-width:1200px){
                padding: 20px 0 19px 40px;
            }
            button{
                &:before{
                    position: absolute;
                    top: 53%;
                    transform: translateY(-50%);
                    left: 20px;
                    @media (max-width:767px){
                        left: 10px;
                    }
                    @media (min-width:1200px){
                        left: 40px;
                    }
                }
                span{
                    font-size: 32px;
                    line-height: 48px;
                    color:#fff;
                    font-family: 'brandon_textblack',sans-serif;
                    padding-left: 83px;
                    font-weight: bold;
                    @media (max-width:767px){
                        font-size: 16px;
                        line-height: 27px;
                        padding-left: 41px;
                    }
                }
            }
            .m-accordion__expand-title{
                span:after{
                    content:url("/content/dam/an/glucerna-com/ad-arrow-down-d.png"); 
                    vertical-align: middle;
                    position: absolute;
                    right: 0px;
                    padding-right: 40px;
                    @media (max-width:767px){
                    content:url("/content/dam/an/glucerna-com/arrow-down-m.png");
                        padding-right: 10px;
                    }
                     @media (min-width:768px) and (max-width:1200px){
                        padding-right: 20px;
                    }

                }
            }
            .m-accordion__collapse-title{
                span:after{
                    content:url("/content/dam/an/glucerna-com/ad-arrow-up-d.png"); 
                    position: absolute;
                    right: 0px;
                    padding-right: 40px;
                     @media (max-width:767px){
                    content:url("/content/dam/an/glucerna-com/arrow-up-m.png");
                         padding-right: 10px;
                    }
                     @media (min-width:768px) and (max-width:1200px){
                        padding-right: 20px;
                    }
                    
                }
            }
        }
        .m-accordion__content{
            .m-accordion__content-items{
                border:none;
                &:first-child{
                    .m-hero{
                        margin-top: 30px !important;
                    }
                }
            .m-accordion__header{
                display: none;
                }
                .m-accordion__body{
                    padding: 0px;   
                    .m-hero{
                        position: relative;
                        height: auto;
                        padding: 0px;
                        margin: 0px 10px 9px 10px;
                        background-color: #eeeeee;
                        border-radius: 10px;
                        @media (min-width:768px) and (max-width:1200px){
                            margin: 0px 20px 9px 20px;
                        }
                        @media (min-width:1200px){
                            margin: 0px 40px 9px 40px;
                        }
                        .container{
                            padding:0px;
                            .row{
                                flex-direction: row-reverse;
                                .m-hero__content{
                                    flex: 0 0 50%;
                                    width: 50%;
                                    margin-left: 0px;
                                    padding: 31px 30px 33px 29px;
                                    @media (max-width:767px){
                                        padding: 8px 9px 12px 9px;
                                    }
                                    .m-hero__header{
                                        font-size: 18px;
                                        line-height: 25px;
                                        padding-bottom: 26px;
                                        margin: 0px;
                                        font-family: 'brandon_textregular',sans-serif;
                                        color: #1e376c;
                                        font-weight: 100;
                                    }
                                    .m-hero__title,.m-hero__body{
                                        margin:0px;
                                    }
                                    .m-hero__extras{
                                        margin:0px;
                                        .btn {
                                            text-decoration: none;
                                            padding:0px;
                                            background-color: initial;
                                            text-align: left;
                                            &:hover{
                                                box-shadow: none;
                                            }
                                            span{
                                                font-size: 16px;
                                                line-height: 25px;
                                                color: #009cde;
                                                text-decoration: none;
                                                text-transform: uppercase;
                                                font-family: 'brandon_textbold',sans-serif;
                                                font-weight: 100;
                                                @media (max-width:767px){
                                                    font-size: 13px;
                                                    line-height: 19px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .m-hero__media {
                                    flex: 0 0 50%;
                                    width: 50%;
                                    height: auto;
                                    position: relative;
                                    min-width: 50%;
                                    margin-left: 0px;
                                    .m-hero__image{
                                        position: relative;
                                        .cmp-image__image{
                                            position: relative;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .m-card{
                        position: relative;
                        height: auto;
                        padding: 0px;
                        margin: 0px 10px 9px 10px;
                        background-color: #eeeeee;
                        border-radius: 10px;
                        width: auto;
                        flex-direction: row-reverse;
                        &:before{
                            box-shadow: none;
                        }
                        @media (min-width:768px) and (max-width:1200px){
                            margin: 0px 20px 9px 20px;
                        }
                        @media (min-width:1200px){
                            margin: 0px 40px 9px 40px;
                        }
                        .m-card__media{
                            flex: 0 0 50%;
                            width: 50%;
                            height: auto;
                            position: relative;
                            min-width: 50%;
                            margin-left: 0px;
                            .m-card__image{
                                position: relative;
                                .cmp-image__image{
                                    position: relative;
                                    border-radius:0px 10px 10px 0px;
                                    @media (min-width:768px) and (max-width:992px){
                                        height:165px;
                                    }
                                    @media (max-width:767px){
                                        height:111px;
                                    }
                                }
                            }
                        }
                        .m-card__body{
                            flex: 0 0 50%;
                            width: 50%;
                            margin-left: 0px;
                            padding: 31px 30px 33px 29px;
                            @media (max-width:767px){
                                padding: 8px 9px 12px 9px;
                            }
                            .m-card__title{
                                margin:0px;
                            }
                            .m-card__description{
                                p{
                                    font-size: 18px;
                                    line-height: 25px;
                                    padding-bottom: 26px;
                                    margin: 0px;
                                    font-family: 'brandon_textregular',sans-serif;
                                    color: #1e376c;
                                    font-weight: 100;
                                }
                            }
                            .a-link {
                                text-decoration: none;
                                padding:0px;
                                background-color: initial;
                                text-align: left;
                                margin: 0px;
                                display: block;
                                &:hover{
                                    box-shadow: none;
                                }
                                .a-link__inner-text{
                                    font-size: 16px;
                                    line-height: 25px;
                                    color: #009cde;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-family: 'brandon_textbold',sans-serif;
                                    font-weight: 100;
                                    @media (max-width:767px){
                                        font-size: 13px;
                                        line-height: 19px;
                                    }
                                }
                            }
                        }
                    }
                    .columncontrol{
                        .container:first-child{
                            padding-left: 40px;
                            padding-right: 40px;
                            @media (min-width:768px) and (max-width:1200px){
                                padding-left: 20px;
                                padding-right: 20px;
                            }
                            @media (max-width:767px){
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            .row{
                                margin: 0px;
                                .columncontrol__column{
                                    padding: 0px;
                                    margin-bottom: 9px;
                                    background-color: #eeeeee;
                                    &:first-child{
                                        border-radius:10px 0px 0px 10px;
                                        @media (max-width:767px){
                                            margin-bottom:0px;
                                            border-radius:10px 10px 0px 0px;

                                        }
                                    }
                                      &:last-child{ 
                                         border-radius:0px 10px 10px 0px;
                                    }
                                    .m-hero{
                                        margin:0px;
                                        .m-hero__content{
                                            flex:0 0 100%;
                                            width:100%;
                                            .m-hero__header{
                                                padding-bottom:10px;
                                            }
                                            .m-hero__extras{
                                                flex-direction: column;
                                                .button{
                                                    margin-left:0px;
                                                    margin-top: 0px;
                                                }
                                            }
                                        }
                                        .m-hero__media {
                                            display:none;
                                        }
                                    }
                                    .video{
                                        padding: 0px;
                                        .m-video{
                                            width:100%;
                                            .a-video__player-source{
                                                height:99.8%;
                                                border-radius:0px 10px 10px 0px;
                                                @media (max-width:767px){
                                                    border-radius:0px 0px 10px 10px;
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }

                }
        }
    }
    }
    

}

#accordion1{
    button{
        &:before{
            content:url("/content/dam/an/glucerna-com/ad-why-glucerna-icon-d.png"); 
            @media (max-width:767px){
                content:url("/content/dam/an/glucerna-com/ad-why-glucerna-icon-m.png"); 
            }
        }
    }
}
#accordion2{
    button{
        &:before{
            content:url("/content/dam/an/glucerna-com/ad-diabetes-icon-d.png "); 
            @media (max-width:767px){
                content:url("/content/dam/an/glucerna-com/advice-diabetes-icon-m.png"); 
            }
        }
    }
}
#accordian3{
    button{
        &:before{
            content:url("/content/dam/an/glucerna-com/ad-motivated-icon-copy-d.png"); 
            @media (max-width:767px){
                content:url("/content/dam/an/glucerna-com/motivated-icon-copy-m.png"); 
            }
        }
    }
}





/*variation 3*/
.m-accordian--glucerna-view3{
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
    border-top: 4px solid #44C8F5;
    .m-accordion {
        max-width: 100%;
        .m-accordion__options{
            height:101px;
            margin: 0px;
            display:flex;
            cursor: pointer;
            padding: 0px 0 0px 86px;
            position: relative;
            background-color: #122C65;        
            align-items: center;
            @media (max-width:767px){
                width: 100%;
                padding: 0px 0px 0px 55px;
            }
            button{
                flex: 0 0 100%;
                text-align: left;
                width: 100%;
                padding: 20px 0px 19px 0px;
                height:101px;
                @media (max-width:767px){
                    padding: 11px 0 10px 0px;
                }
                span{
                    font-size: 48px;
                    line-height: 48px;
                    color:#fff;
                    font-family: "Nexa W01 Black",sans-serif;
                    font-weight:100;
                    width:100%;
                    @media (max-width:767px){
                        font-size: 28px;
                    }
                }
            }
            .m-accordion__expand-title{
                span:before{
                    content:url("/content/dam/an/glucerna-com/btn-open.png"); 
                    vertical-align: middle;
                    position: absolute;
                    left: 28px;
                    @media (max-width:767px){
                        left: 12.5px;
                        top: 57%;
                        transform: translateY(-50%);
                    }

                }
            }
            .m-accordion__collapse-title{
                span:before{
                    content:url("/content/dam/an/glucerna-com/btn-close.png"); 
                    position: absolute;
                    left: 28px;
                     @media (max-width:767px){
                        left: 12.5px;
                        top: 57%;
                        transform: translateY(-50%);
                    }

                    
                }
            }
        }
        .m-accordion__content{
            background: linear-gradient(to right,#44c8f5 0,#fff 100%);
            .m-accordion__content-items{
                border:none;
                &:first-child{
                    .m-card{
                         padding-top: 15px;
                    }
                }
                 &:last-child{
                    .m-card{
                        .m-card__body{
                            border:none !important;
                        }

                    }
                }
            .m-accordion__header{
                display: none;
                }
                .m-accordion__body{
                    padding: 0px; 
                    .m-card{
                        width: 100%;
                        max-width: 100%;
                        position: relative;
                        height: auto !important;
                        margin:10px 0px;
                        &:before{
                            box-shadow: none;
                        }
                        .m-card__media {
                            display: none;
                        }
                        .m-card__body{
                            padding:10px 35px 20px 0px;
                            margin-left:30px;
                            border-bottom:2px solid #fff;
                            p{
                                margin:0px;
                            }
                            @media (max-width:767px){
                                padding:10px 15px 20px 0px;
                                margin-left: 15px;
                            }
                            .m-card__title{
                                font-family: "Nexa W01 Black" ,sans-serif;
                                font-size: 24px;
                                color: #122c65;
                                line-height: 24px;
                                margin-bottom: 0px;
                                font-weight: 100;
                                @media (max-width:767px){
                                    font-size: 17px;
                                    line-height: 17px;
                                }
                            }
                            .m-card__description{
                                p,ul{
                                    font-family: "Nexa W01 Book",sans-serif;
                                    font-size: 18px;
                                    color: #122c65;
                                    line-height: 24px;
                                    padding-left: 30px;
                                    margin:0px;
                                    @media (max-width:767px){
                                        font-size: 14px;
                                        padding-left: 0px;
                                    }
                                    @media (min-width:768px) and (max-width:1200px){
                                        font-size: 15.75px;
                                    }
                                }
                                ul{
                                    padding-left:17px;
                                    @media (min-width:768px){
                                        padding-left:47px;
                                    }
                                }
                                
                            }
                        }
                    }
                    
                }
                
            }
        }
    }
    &:last-child{
        .m-accordion__content-items{
            &:last-child{
                .m-card{
                    .m-card__body{
                        border:none !important;
                        .m-card__description{
                            p{
                                font-size: 20px !important;
                                line-height: 24px !important;
                                @media (max-width:1200px){
                                    font-size: 17.5px !important;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    

}