//landing banner
.container {
    &.responsivegrid .a-container__content {
        @media @md-down {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &.container-bnr-variation {
        padding: 0 0 55px 0 !important;

        @media @lg-down {
            background-image: linear-gradient(to top, #3aa9dc, #1e376c);
            background-repeat: no-repeat;
        }

        .a-container__row {
            margin: 0;
            display: flex;
            flex-direction: column;

            .a-container__media,
            .a-container__image,
            .a-container__image>img {
                position: relative;
            }

            .a-container__media,
            .a-container__media__mobile {
                @media @lg-down {
                    display: none;
                }
            }

            .a-container__content {
                width: 100%;
                position: absolute;
                background-repeat: no-repeat;
                background-size: 100%;

                @media @lg-only {
                    position: relative;
                    background-image: url(/content/dam/an/glucerna-com/glucerna-path-to-progress-home-hero-tablet.png);
                    z-index: 1;
                }

                @media @md-down {
                    position: relative;
                    background-image: url(/content/dam/an/glucerna-com/glucerna-path-to-progress-home-hero-mobile.png);
                    z-index: 1;
                    padding: 0 15px 40px 15px !important;
                }

                @media (min-width:711px) and (max-width:767px) {
                    background-size: 100% 275px;
                }

                .cmp-container {
                    .columncontrol {
                        padding-top: 20px;

                        .container {
                            padding: 0;

                            .row {
                                margin: 0;
                            }

                            .columncontrol__column {
                                padding: 0;
                                max-width: 52%;

                                @media @xl-only {
                                    max-width: 55%;
                                }

                                @media @lg-down {
                                    max-width: 100%;
                                }

                                .image {
                                    margin: 0;

                                    @media @md-down {
                                        display: none;
                                    }
                                }

                                .button {
                                    margin: 0;

                                    .btn {
                                        width: 199px;
                                        font-size: 17.6px;
                                        color: #1e376c;
                                        background-color: #eeb33b;
                                        border-radius: 22.5px;
                                        border: none;
                                        display: inline-block;
                                        padding: 10px 0 9.2px;
                                        text-transform: uppercase;
                                        margin-top: 41px;
                                        font-family: 'brandon_text_black', sans-serif;

                                        &:hover,
                                        &:active {
                                            background-color: rgba(238, 179, 59, 0.75);
                                            box-shadow: none;
                                        }

                                        @media @lg-down {
                                            font-size: 16px;
                                            line-height: 18px;
                                        }
                                    }

                                    @media @lg-down {
                                        justify-content: center;
                                    }
                                }

                                .title {
                                    margin: 0;

                                    .cmp-title .cmp-title__text {
                                        margin: 0 0 14px 0px;
                                        font-size: 46px;
                                        font-weight: 900;
                                        line-height: 55px;
                                        font-family: 'brandon_text_regular', sans-serif;
                                        padding-top: 12px;
                                        color: #1e376c;

                                        @media @xl-only {
                                            font-size: 44px;
                                            line-height: 50px;
                                        }

                                        @media @lg-only {
                                            margin: 50px 0 97px 0;
                                        }

                                        @media @md-down {
                                            margin: 14% 0 30% 0;
                                            font-size: 22px;
                                            width: 200px;
                                            line-height: 26px;
                                        }

                                        @media (min-width:711px) and (max-width:767px) {
                                            margin-top: 12%;
                                        }

                                        strong {
                                            font-family: "Avenir Next Rounded Bold", sans-serif;
                                        }
                                    }
                                }

                                .text {
                                    margin: 0;

                                    @media @lg-only {
                                        padding-top: 40px;
                                    }

                                    ul {
                                        font-family: 'brandon_text_regular', sans-serif;
                                        margin: 0;
                                        padding-left: 25px;
                                        list-style-type: disc;

                                        @media @md-down {
                                            padding-left: 17px;
                                        }

                                        li {
                                            font-size: 17px;
                                            padding-bottom: 5px;
                                            color: #002d72;

                                            @media @lg-down {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}