/*Font family*/
.link.a-link-fontfamily-brandon-bold {
    .a-link__inner-text {
        font-family: @font-brandon-textweb-bold  !important;
    }
}

.link.a-link-fontfamily-brandon-regular {
    .a-link__inner-text {
        font-family: @font-brandon-textweb-regular  !important;
    }
}

.link.a-link-fontfamily-Avenir-next-regular {
    .a-link__inner-text {
        font-family: @font-avenir-next-rounded-regular  !important;
    }
}

.link {
    &.a-link-blog {
        text-align: center;
        padding: 20px 0 0 0;

        & * {
            color: #0098DC;
            font-size: 19.2px;
            font-family: @font-avenir-next-rounded-bold;
            text-decoration: none;
            display: block;
            line-height: 20px;

            @media @md-down {
                font-size: 16.8px;
                line-height: 18px;
            }
        }
    }
}