.tabs{
    &.a-tab-active{
        .show.active {
            background-color: #FFD100;
            border-bottom: 3px solid #002D72;
        }
        .cmp-tabs__tab {
            .a-tabs__nav-text {
                font-size: 18px;
                @media (max-width:767px){
                    font-size:12px;
                }
            }
        }
    }       
}