<sly data-sly-use.formcontainer="com.abbott.aem.bts.cybersecurity.components.model.CyberSecurityFormContainer">
    <input data-sly-test=${formcontainer.formMode} type="hidden" name="formMode" value="${formcontainer.formMode}"/>
    <input data-sly-test.requestType=${formcontainer.requestType} type="hidden" name="requestType" value="${requestType}"/>
    <input type="hidden" name="node" value="${formcontainer.currentPagePath}"/>
	<input type="hidden" name="g-recaptcha-response" value="">
    <input data-sly-test="${formcontainer.thankYouPage}" type="hidden" class="success-page-url" name="thankyouPage" value="${formcontainer.thankYouPage}"/>
    <input data-sly-test="${formcontainer.errorPage}" type="hidden" class="error-page-url" name="errorPage" value="${formcontainer.errorPage}"/>
	<input data-sly-test.successMessage=${formcontainer.successMessage} type="hidden" name="successMessage" value="${successMessage}"/>
    <input data-sly-test.failureMessage=${formcontainer.failureMessage} type="hidden" name="failureMessage" value="${failureMessage}"/>
    <input data-sly-test.updateRequest=${formcontainer.updateRequest} type="hidden" name="updateRequest" value="${updateRequest}"/>
    <input data-sly-test.onBeforeCall=${formcontainer.onBeforeCall} type="hidden" name="onBeforeCall" value="${onBeforeCall}"/>
    <input data-sly-test.onSuccess=${formcontainer.onSuccess} type="hidden" name="onSuccess" value="${onSuccess}"/>
    <input data-sly-test.onError=${formcontainer.onError} type="hidden" name="onError" value="${onError}"/>
    <input data-sly-test.onComplete=${formcontainer.onComplete} type="hidden" name="onComplete" value="${onComplete}"/>
</sly>