@color_1: #212121;
@color_2: #2E3546;
@font_family_1: 'Brandon Grotesque',Arial, sans-serif;
@import './global/variables.less';
@import './global/mixins.less';

.customtextlist .m-custom-list--icon .m-custom-list__heading {
  padding-left: 0;
  .m-custom-list__title {
    display: inline-flex;
  }
  a {
    padding-left: 1rem;
  }
  a.bookmark-enable, a.bookmark-disable {
    padding: 0;
  }
}

#saveBookmarkConfirm {
  @media @md-down {
    .a-container__column:first-child, 
    div.a-container__column:has(div.a-button--primary) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .abt-icon-cancel::before {
    right: 10px;
  }
}

#commonErrorPopup, #bookmarkRemoved, #my-resource-notification {
  .abt-icon-cancel::before {
    left: 15px;
  }
}

#common-error-popup, #saveBookmarkConfirm, #removal-confirmed, #deleteBookmarkConfirm {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

#saveBookmarkConfirm, #deleteBookmarkConfirm, #commonErrorPopup, #bookmarkRemoved, #my-resource-notification {
  .abt-icon-cancel::before {
    top: 6px;
    color: @color_1;
    display: flex;
    height: 16px;
    width: 16px;
    position: relative;
  }
  .cmp-title__text {
    font-family: @font_family_1 !important;
    color: @color_1 !important;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  ul li::marker {
    font-size: 0.5rem;
  }
  p, li {
    font-family: @font_family_1 !important;
    color: @color_1 !important;
    font-size: 15px !important;
    line-height: 20px;
    font-weight: 390;
    strong {
    	font-weight: 450;
    }
  }
  .title, .text {
    margin: 0;
  }
  .a-checkbox {
    padding-right: 0;
    input:checked ~ .a-checkbox__custom {
      background: @color_2;
      border: 1px solid @color_2;
    }
    input:checked ~ .a-checkbox__custom:after {
        height: 10px;
        width: 5px;
        left: 4px;
        top: 1px;
    }
    .a-checkbox__custom, input:checked ~ .a-checkbox__custom {
      height: 15px;
      width: 15px;
      top: 8px;
    }
    span.a-checkbox__text {
      font-size: 10px;
      line-height: 18px;
      font-weight: 390;
      color: #686868;
    }
    span {
    	cursor: pointer;
    }
  }
  .btn span {
    font-size: 16px;
    line-height: 18px;
    font-weight: 450;
  }
  #btnCancelSubmitRequest span {
    color: @color_2 !important;
  }
}

#saveBookmarkConfirm, #deleteBookmarkConfirm, #my-resource-notification-popup {
	@media @md-down {
    max-width: 360px;
  }
  padding-left: 24px;
  padding-right: 24px;
}

#deleteBookmarkConfirm {
  .abt-icon-cancel::before {
    right: 10px;
  }
  .a-container__column:first-child {
    padding: 0;
  }
  .a-container__column {
    padding-right: 0;
    .a-button {
      float: right;
    }
  }
}

#section-custom-popup-hidden #heart-icon-unfilled,
#section-custom-popup-hidden #heart-icon-filled {
  display: none;
}

#heart-icon-filled, #heart-icon-unfilled {
  cursor: pointer;
}

#common-error-popup, #removal-confirmed {
  #section-commonErrorPopup, #section-bookmarkRemoved {
    padding: 8px 24px 40px 24px;
    @media @md-up {
      width: 480px; 
    }
    @media @md-down {
      width: 360px;
    }
  }
}

.bookmark-container {
  display: inline-flex;
  margin: 0;
  .save-this-page, .saved-page {
    padding-left: 18px;
    margin: 0;
    align-self: center;
    font-size: 14px !important;
    color: #000 !important;
    font-family: 'Brandon Text',Arial, sans-serif !important;
  }
}

.m-card__body {
  .a-link__text, .cmp-download {
    padding-left: 10px;
  }
  .download {
    display: inline-flex;
  }
}

.external-article-bookmarkable {
  .col-lg-9, .col-lg-8 {
    @media @xl-up {
      right: 70px;
    }
  }
  .col-12 {
    margin-bottom: 15px !important;
  }
}