@import './global/variables.less';
@import './global/mixins.less';

// mobile padding override on layout container columns
.a-container__column + .a-container__column .customtextlist {
    @media @md-down {
        margin-top:-69px;
    }
}

.m-custom-list {
    &__icon-wrapper {
        top:3px;
        .abt-icon {
            &:before {
                color: @color-light-blue2;
                font-size:1.75rem;
            }
        }
    }

    &__heading {
        a {
            color: @color-light-blue2;
        }
    }
}