@import './global/variables.less';

#formUserDelegate,
#textAlreadyDelegated {
  display: none;

  .aem-AuthorLayer-Edit & {
    display: block;
  }
}

#formUserDelegate {
  label {
    display: block;
  }
}

#gratisWrapper {

  .disabled {
    color: #9A9CA1 !important;
    text-decoration: none !important;
    cursor: none;

    &:hover {
      text-decoration: none !important;
    }
  }

  .m-search-bar {
    justify-content: flex-start;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
  }

  #txtCurrentDelegate {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  #txtRevokeLink {
    margin-bottom: 33px;
  }

  #divCurrentEligiblehealthcare {
    margin-top: 65px;
    margin-bottom: 0;
  }

  #divRevokeAccessRequest {
    margin-top: 50px;
  }


  .showWhenRevokeRequest {
    margin-bottom: 0;
  }

  #sampleEligibilityText {
    margin-top: 0;
    margin-bottom: 50px;
  }

  #errorname {
    font-size: 12px;
    line-height: 12px;
    color: #e4002b;
  }

  .cq-placeholder,
  .new {
    height: 0;
  }

  //Search  Table

  table#table,
  table.table {
    width: 70%;
    border: none !important;

    thead {
      height: 38px;

      td {
        color: var(--link-color);
        letter-spacing: .4px;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
      }
    }

    td {
      border: none !important;
      padding-top: 0;
      padding-left: 0;

      a {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #0E3F9A;
      }
    }
  }

  .container.responsivegrid.a-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.txtRedColor {
  color: #e4002b;
  font-weight: 700;
}

#revokeAccessForNonGratis {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #0E3F9A;
}

#section-custom-popup-hidden, #section-my-resource-notification-popup,
#section-modal-dailog-wrapper, #section-consent-popup-required {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1000
}

#section-modal-dailog-wrapper {
  .experiencefragment {
    height: 0;
  }
}
//consent popup
#consent-popup{
  margin: 6% auto;
  padding-left: 15px;
}
.abbott-wrapper.setZindex, .columncontrol__column.setZindex{
z-index: -1;
}
#nonGratisSubmitRequest,
#approve-request,
#delegateRevokeAccess,
#delegateAccessRevoked,
#nonGratisRevokeRequest,
#rejectRevokeAccess,
#declineDelegateRequest,
#my-resource-notification-popup,
#declineAcknowledgement , #consent-popup{
  max-width: 500px;
  display: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  position: relative;

  h4,
  h2 {
    padding: 1rem 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  h4 em,
  h2 em {
    position: absolute;
    top: 5%;
    right: 3%;
    color: #63666a;
    cursor: pointer
  }
}

#divCurrentHealthcare {
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

#searchResult {
  display: none;
}

.showValidationMessage {
  margin-top: 50px;
}

.showValidationMessage h5,
#divDelegateRequests h4,
.showWhenRevokeAccess h5,
#txtCurrentDelegate h5,
#txtWhenRevokeAccess h5,
#searchResult h4,
#divCurrentEligiblehealthcare h4,
#divCurrentEligiblehealthcareTxt h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

#divCurrentEligiblehealthcare p,
#divCurrentEligiblehealthcareTxt p {
  margin-bottom: 0;
}

#section-divCurrentHealthcare {
  padding-bottom: 50px;
}

#pages {
  list-style: none;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: fit-content;
  height: 48px;
  margin-top: 32px;

  li {
    width: 44px;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.focus {
      border-bottom: 2px solid #000000;
    }

    &.disabled {
      opacity: .3;
      cursor: none;
    }
  }
}

#sampleEligibility,
#myDelegate {
  display: flex !important;
  align-items: center;
  padding: 0;
  .badgeCounter {
    background-color: #c90c0c;
    border-radius: 21px;
    color: white;
    padding: 0;
    font-size: 10px;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
  }
}

a[aria-label="My Account"] {
  display: inline;
}

.badgeAccount {
  float: right;
  margin-right: 5px;
  text-align: center;
  width: 15px !important;
  color: white !important;
  font-size: 10px !important;
  background-color: #c90c0c;
  border-radius: 21px;
}

#gratisRevokeAccessForDelegate {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #0E3F9A;
}

@media screen and(max-width:767px) {
  #sampleEligibility,
  #myDelegate {
    justify-content: center;
  }
} 