.stickyMenu {
  background: #ffffff;
  position: sticky;
  top: -1px;
  z-index: 99;
  width: 100%;
}
.stickyMenu .cq-placeholder {
  display: none;
}
.stickyMenu .m-link-stack__container {
  padding-right: 0;
  max-width: 960px;
  margin: auto;
}
.stickyMenu nav {
  background: #ececea;
  margin-bottom: 0;
}
.stickyMenu nav a {
  color: #004f71;
  display: block;
  text-decoration: none;
}
.stickyMenu nav a:hover {
  color: #009cde !important;
}
.stickyMenu nav a:focus {
  color: #009cde !important;
}
.stickyMenu .m-link-stack__dropdown-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list li {
  padding: 0;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list li {
    text-align: left;
    min-width: 100%;
  }
}
.stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list li:hover {
  background-color: transparent;
}
.stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list a {
  color: #004f71;
  display: block;
  text-decoration: none;
  font-size: 16px;
}
.stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list a:hover {
  color: #009cde !important;
  background-color: transparent;
}
.stickyMenu .product-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .stickyMenu .product-title {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.stickyMenu .product-title h1,
.stickyMenu .product-title h2 {
  margin-bottom: 0;
  padding-top: 9px;
  text-transform: none;
}
.stickyMenu.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}
.stickyMenu.non-sticky {
  position: static;
}
.sticky-menu-content .section-title-holder {
  padding: 50px 0 40px 0;
}
.sticky-menu-content .section-title-holder .section-title-rule {
  border: 1px solid #222731;
  top: 18px;
  position: relative;
}
.sticky-menu-content .section-title-holder .sectioncomp-title {
  text-transform: uppercase;
  max-width: 350px;
  padding: 7px 10px 7px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 0;
  font-family: "brandon_grotesquebold", Arial, sans-serif;
  min-height: 30px;
  height: auto;
  color: #ffffff;
  background-color: #222731;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1rem;
  line-height: 1.25;
}
.sticky-menu-content .section-title-holder .section-title-desc {
  padding-top: 30px;
}
.sticky-menu-content.section-title-holder .sectioncomp-title .sectioncomp-txt {
  font-size: 1.125rem;
}
.stickymenu.linkstack {
  margin-top: 0 !important;
}
.stickyMenu.jsOpen {
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  top: 0;
  width: auto;
  z-index: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}
.android .stickyMenu.jsOpen {
  position: fixed;
}
.stickyMenuHolder.jsOpen .stickyMenu {
  -webkit-box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.4);
}
.banner-tab.non-edit .hidden-section {
  display: none;
}
.banner-tab.non-edit .hidden-section.active {
  display: block;
}
.product-sticky-menu {
  min-height: 30px;
}
.product-sticky-menu .stickyMenu .stickyEnquiry #product-title {
  display: none;
  padding: 10px 0;
}
.product-sticky-menu .stickyMenu .stickyEnquiry #product-title h1 {
  padding: 0;
  margin: 0;
}
.product-sticky-menu .stickyMenu .stickyEnquiry #product-title .icons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-sticky-menu
  .stickyMenu
  .stickyEnquiry
  #product-title
  .icons-section
  .product-support-button {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.product-sticky-menu
  .stickyMenu
  .stickyEnquiry
  #product-title
  .icons-section
  .print-share {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
}
.product-sticky-menu
  .stickyMenu
  .stickyEnquiry
  #product-title
  .icons-section
  .print-share
  .share {
  display: block;
  width: auto;
}
.product-sticky-menu
  .stickyMenu
  .stickyEnquiry
  #product-title
  .icons-section
  .print-share
  .share
  ul {
  right: 33%;
}
.product-sticky-menu .stickyMenu.jsOpen #product-title {
  display: block;
}
.product-sticky-menu .sticky-menu-content > section {
  margin-bottom: 30px;
}
.product-sticky-menu .sticky-menu-content > section:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .stickyMenu .m-link-stack__link {
    display: none;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper {
    display: block !important;
    width: 100%;
    margin: 0 !important;
    position: static;
    background: #ececea;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper:before {
    display: none;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ececea;
    margin-bottom: 0;
    padding: 12px 0 11px 0;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 11;
    margin-top: 0;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper.d-none {
    display: block !important;
    width: 100%;
    margin: 0 !important;
    position: static;
  }
}
@media (max-width: 991px) {
  .stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list li {
    min-width: 100px;
  }
  .stickyMenu .m-link-stack__container {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .stickyMenu .m-link-stack {
    background: #ececea;
    padding: 5px 15px;
  }
  .stickyMenu .m-link-stack__link .a-link a {
    display: block;
    font-size: 1rem;
    border: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 2rem;
    font-family: "brandon_grotesquebold", Arial, sans-serif;
    font-weight: 700;
  }
  .stickyMenu .m-link-stack__link .a-link .abt-icon {
    right: 0;
    top: 7px;
  }
  .stickyMenu .m-link-stack__link .a-link a.active {
    font-weight: 700;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper li {
    font-size: 1rem;
    font-family: "brandon_grotesqueregular", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 0 10px 0;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper li:last-child {
    padding-bottom: 0;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper a:hover {
    color: #009cde !important;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper a:focus {
    color: #009cde !important;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list {
    padding-left: 0px;
    padding-right: 0px;
  }
  .stickyMenu .m-link-stack__dropdown-wrapper .m-link-stack__list li {
    margin-bottom: 15px;
  }
  .stickyMenu
    .m-link-stack__dropdown-wrapper
    .m-link-stack__list
    li:last-child {
    margin-bottom: 10px;
  }
  .stickyMenu .m-link-stack__list {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .stickyMenu .m-link-stack__list li .a-link a {
    color: #004f71;
    display: block;
    text-decoration: none;
  }
  .stickyMenu .m-link-stack--border::before {
    display: none;
  }
}
