
<div class="cmp-search-result-overlay">
	<div 
	 data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	 data-sly-use.componentModel="${'com.abbott.aem.adc.freestylelibrede.models.ComponentModel'}"
	 data-sly-test="${!componentModel.modelJsonString}">
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=true}"></sly>
<div class="modal fade" id="search-overlay-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-dialog-scrollable full-height-full-screen " role="document" >
		<div class="modal-content full-height-mb-screen">
			<div class="modal-header shadow">
				
					<div type="button" data-dismiss="modal" class="Close closebtn-box" aria-label="Close">
						<em class="closebtn-box-logo"></em>
						<div class="closebtn closebtn-box-font">Suche schließen</div>
					</div>
				
				</div>
			<div class="modal-body">
				<div class="container mt-5">
					<div class="row justify-content-center model-search-styling">
						<div class="col-12 col-md-8 col-lg-5">
							<div data-react-component="searchOverlay" data-json-string="${componentModel.modelJsonString}"></div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
</div>