<template data-sly-template.variation>
  <sly data-sly-use.templates="abbott/components/content/templates.html" />
  <section class="header${wcmmode.edit ? ' edit-mode' : ''} header__section">
    <header class="abbott-header" id="top">
      <!--/* AbbottStore: TOP BAR */-->
      <!-- Mobile Menu -->
      <section class="container abbott-header__navbar">
        <div class="row align-items-center">
          <div class="col-8 clearfix position-static">
            <div class="row">
              <div class="col-3 col-md-4 col-lg-3 abbott-logo">                  
                  <sly data-sly-call="${templates.includeResource @ relativeResourcePath='./', nodeName='logo', slingResourceType='abbott/components/content/logo'}" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <div class="container">
      <div id="app-message" class="app-message"></div>
    </div>
  </section>
</template>
