<!--/* VARIATION - GLUCERNA */-->
<template data-sly-template.variation>
 <sly data-sly-use.templates="abbott/components/content/templates.html"/>
    <!-- GlucernaStore: HEADER-->
    <maintenanceHeader class="glucerna-header">
        <div class="container glucerna-header__container">
            <div class="row">
                <div class="col-3 col-md-5 col-lg-6 align-self-center">
                    <div class="glucerna-header__logo float-left">
                        <sly data-sly-call="${templates.includeResource @ relativeResourcePath='./', nodeName='logo', slingResourceType='abbott/components/content/logo'}"/>
                    </div>
                </div>
              </div>
          </div>
	</maintenanceHeader>

</template>