@import "../../../../../clientlibs/clientlib-base/scss/base/functions";
@import "../../../../../clientlibs/clientlib-base/scss/base/variables";
@import "../../../../../clientlibs/clientlib-base/scss/base/mixins";

.order-container {
    padding: 0! important;

    .order-summary {
        background-color: $wild-sand;
        margin: 0 auto 12px;
        max-width: 900px;
        padding: 30px 25px 45px;

        @media(max-width: 767px) { 
            padding: 20px 25px 31px;
        }

        &--title {
            color: $cerulean;
            font: normal 700 30px/38px $font-brandon-text-black;
            margin-bottom: 10px;
            text-align: center;
    
            @media(max-width: 767px) { 
                font-size: 19px;
                margin-bottom: 18px;
            }
    
        }
    

        &--sub-title {
            color: $manatee;
            font: normal 600 22px/45px $font-brandon-text-bold;
            margin: 4px 0 15px;
            text-align: center;

            @media(max-width: 767px) {
                font-size: 15px;
                line-height: 15px;
                margin: 4px 0 12px;
            }

        }

        &__table {
            text-align: center;
            margin-bottom: 25px;
            width: 100%;

            .total {
                font: normal 700 22px/31.4px $font-brandon-text-black;
                text-align: left;
                width: 40%;

                @media(max-width: 767px) {
                    font-size: 15px;
                    line-height: 21.4px;
                }
                
            }

            td.total {
                font-family: $font-brandon-text-bold;
            }

            &--heading {
                color: $cerulean;
                padding: 5px 10px 5px 30%;

                @media(max-width: 767px) {
                    padding: 5px 10px 5px 10%;
                }

            }

            &--data {
                color: $gray-450;
                padding: 5px 10px 5px 10%;
                text-align: left;
            }

            .grand-total {
                font: normal 700 30px/42px $font-brandon-text-black;
                padding-top: 40px;
                text-align: left;

                @media(max-width: 767px) {
                    font-size: 15px;
                    line-height: 21.4px;
                    padding-top: 5px;
                }

            }

            td.grand-total {
                font-family: $font-brandon-text-bold;
            }
            
        }

        &--btn {
            background: $dark-orange;
            border: 1px solid $dark-orange;
            border-radius: 10px;
            box-sizing: border-box;
            color: $white;
            cursor: pointer;
            display: inline-block;
            font: normal 600 12.5px/16px $font-brandon-text-black;
            letter-spacing: 1.5px;
            padding: 15px 30px;
            text-transform: uppercase;
            vertical-align: middle;

            &:hover, &:focus {
                background: $deep-cerulean;
                border: 1px solid $deep-cerulean;
                color: $white;
                outline: 0;
            }

        }
        
    }
    
}

.subscription-summary-container{
    padding: 0! important;

    .subscription-summary {
        background-color: $wild-sand;
        margin: 0 auto;
        max-width: 900px;
        padding: 30px 100px 40px;

        @media(max-width: 767px) {
            padding: 20px 25px 30px;
        }

        &--title {
            color: $cerulean;
            font: normal 700 30px/38px $font-brandon-text-black;
            margin-bottom: 10px;
            text-align: center;
    
            @media(max-width: 767px) { 
                font-size: 19px;
                margin-bottom: 18px;
            }
    
        }
        
        &--text {
            color: $manatee;
            font: normal 400 20px/28px $font-brandon-text-bold;

            @media(max-width: 767px) {
                font-size: 12px;
                line-height: 17.4px;
            }

        }

        &--item {
            color: $biscay;
            font: normal 400 17px/24px $font-brandon-text-black;
            margin: 20px 0 5px;
            text-align: center;

            @media(max-width: 767px) {
                font-size: 12px;
                line-height: 17.4px;
            }

        }

    }
    
}