.m-imagewithanimation__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.m-imagewithanimation__container .image-layer--main-layer {
  position: relative;
  z-index: 3;
}
@media (max-width: 767.98px) {
  .m-imagewithanimation__container .image-layer--main-layer {
    width: 70%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .m-imagewithanimation__container .image-layer--main-layer {
    width: 60%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .m-imagewithanimation__container .image-layer--main-layer {
    margin-right: -15%;
  }
}
.m-imagewithanimation__container .image-layer--play-layer {
  position: absolute;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .m-imagewithanimation__container .image-layer--play-layer {
    display: none;
  }
}
@media (min-width: 992px) {
  .m-imagewithanimation__container .image-layer--play-layer {
    margin-right: -45%;
  }
}
@media (min-width: 1200px) {
  .m-imagewithanimation__container .image-layer--play-layer {
    margin-right: -30%;
  }
}
.m-imagewithanimation__container .image-layer--pause-layer {
  position: absolute;
  z-index: 1;
  display: none;
}
@media (max-width: 991.98px) {
  .m-imagewithanimation__container .image-layer--pause-layer {
    display: none;
  }
}
.m-imagewithanimation__container .container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: var(--imagewithanimation-button-circle-size);
  min-height: var(--imagewithanimation-button-circle-size);
  background: var(--imagewithanimation-button-bg-color);
  border-radius: 50%;
  text-decoration: none;
  -ms-flex-item-align: end;
  align-self: flex-end;
  z-index: 4;
}
@media (max-width: 991.98px) {
  .m-imagewithanimation__container .container__button {
    display: none;
  }
}
.m-imagewithanimation__container .container__button:hover,
.m-imagewithanimation__container .container__button:focus {
  text-decoration: none;
}
.m-imagewithanimation__container .container__button .button__icon {
  font-size: var(--imagewithanimation-icon-size);
  color: var(--imagewithanimation-icon-color);
}
