.m-accordion {
    --accordion-margin: 0 auto;
    --accordion-lg-max-width: 920px;
    --accordion-options-margin-bottom: 16px;
    --accordion-options-padding-right: 10px;
    --accordion-content-border: 1px solid var(--gray-color);
    --accordion-title-padding-sm: 17px 0 15px 26px;
    --accordion-title-padding-lg: 17px 0 15px 24px;
    --accordion-body-padding-sm: 4px 24px 17px 32px;
    --accordion-body-padding-md: 4px 24px 17px 40px;
    --accordion-body-padding-lg: 4px 24px 24px 48px;
    --accordion-title-padding-rtl-sm: 17px 26px 15px 0;
    --accordion-title-padding-rtl-lg: 17px 24px 15px 0;
    --accordion-body-padding-rtl-sm: 4px 32px 17px 24px;
    --accordion-body-padding-rtl-md: 4px 40px 17px 24px;
    --accordion-body-padding-rtl-lg: 4px 48px 24px 24px;
    --accordion-title-font-size: #{$h5-font-size};
    --accordion-title-line-height: #{$h4-line-height};
    --accordion-title-color: var(--gray-darkest-color);

    --accordion-title-font-size-sm: #{$h3-font-size};
    --accordion-title-line-height-sm: #{$h3-line-height};
    --accordion-title-color-sm: var(--gray-darkest-color);

    --accordion-icon-color: var(--gray-darkest-color);
}
