.a-link {
    --link-font-family: #{$base-font-family};
    --link-font-size: #{$font-size-14};
    --link-line-height: #{$h5-line-height};
    --link-color: var(--primary-color);
    --link-icon-color: var(--gray-darkest-color);
    --link-icon-size: #{$icon-size-x-sm};
    --link-icon-margin-left: #{$spacers-1};
    --link-padding-left: 30px;
    --link-padding-right: 30px;
    --link-focus-color: var(--gray-darkest-color);
    --link-active-color: var(--gray-darkest-color);
}
