//  Link Stack
.m-link-stack {
    --country-select-title-padding: 1.5rem 1rem 0 1.5rem;
    --country-select-title-tablet-padding: 0 0.25rem;
    --country-select-icon-left: 0.675rem;
    --country-select-icon-top: 0.9rem;
    --country-select-icon-tablet-top: 1.4rem;
    --country-select-icon-font-size: 1.2rem;
    --country-select-icon-width: 1.5rem;
    --country-select-input-search-padding: 0.9375rem 0.4rem 0.8125rem 2.5rem;
    --country-select-input-search-padding-rtl: 0.9375rem 2.5rem 0.8125rem 0.4rem;
    --country-select-input-search-desktop-max-width: 189px;
    --country-select-language-margin: 0 0.3rem;

    --link-stack-tablet-spacing-top: 0.5rem;
    --link-stack-dropdown-mobile-border-radius: 6px;
    --link-stack-border-width: 4px;
    --link-stack-dropdown-desktop-max-height: 262px;
    --link-stack-dropdown-desktop-width: 237px;
    --link-stack-dropdown-desktop-top: 24px;
    --link-stack-scrollbar-border-radius: 4px;
    --link-stack-scrollbar-tablet-width: 6px;
    --link-stack-scrollbar-desktop-width: 8px;
    --link-stack-content-top: 48px;
    --link-stack-icon-font-size: #{$h4-font-size};

    --link-stack-color: var(--gray-lighter-color);
    --link-stack-outline-color: 1px solid var(--white-color);
    --link-stack-h6-font-size: #{$font-size-sm};
    --link-stack-h6-line-height: #{$h5-line-height};
    --link-stack-h6-color: var(--secondary-color);

    --link-stack-content-padding: #{$spacers-3} 0 0 #{$spacers-5};
    --link-stack-modal-color: var(--gray-darkest-color);
    --link-stack-modal-link-color: #{$color-text-link};

    --link-stack-smart-search-font-size: #{$font-size-14};
    --link-stack-lang-color: var(--primary-color);
    --link-stack-search-bar-border-background: var(--secondary-color);
    --link-stack-link-color: var(--gray-darkest-color);
    --link-stack-link-color-hover: var(--primary-color);
    --link-stack-link-bg-color-hover: var(--gray-light-color);
    --link-stack-link-color-lg: var(--gray-darkest-color);
    --link-stack-link-border-bottom-color: var(--gray-color);

    --link-stack-icon-font-size-sm: #{$icon-spacer};
    --link-stack-dropdown-margin: #{$spacers-03} 0 0 0;
    --link-stack-dropdown-bg-color: var(--white-color);
    --link-stack-dropdown-border: var(--gray-darkest-color);

    --link-stack-container-padding-right: #{$font-size-base};
    --link-stack-container-scroll-bar: var(--white-color);
    --link-stack-container-track-color: var(--gray-light-color);
    --link-stack-container-thumb-color: var(--gray-light-color);

    --link-stack-spacer-xxs: #{$spacers-01};
    --link-stack-spacer-xs1: #{$spacers-2};
    --link-stack-spacer-xs: #{$spacers-02};
    --link-stack-spacer-s: #{$spacers-03};
    --link-stack-spacer-sm: #{$spacers-3};
    --link-stack-spacer-m: #{$spacers-4};
    --link-stack-spacer-l: #{$spacers-6};
    --link-stack-spacer-xl: #{$spacers-09};
    --link-stack-spacer-md: #{$spacers-013};
    --link-stack-spacer-lg: #{$spacers-24};
    --link-stack-base-font-family: #{$base-font-family};
    --link-stack-heading-font-family: #{$headings-font-family};
    --link-stack-list-font-size: #{$h5-font-size};
    --link-stack-list-line-height: #{$h5-line-height};
    --link-stack-list-focus-bg-color: #{$color-silver-gray};
    --link-stack-list-active-bg-color: #{$color-silver-gray};

    --link-stack-truncate-text-color: #{$primary-color};
    --link-stack-truncate-icon-font: #{$icon-font-family};

}
