//Search Bar
.m-search-bar {
    --searchbar-input-width: 280px;
    --searchbar-md-input-width: 520px;
    --searchbar-lg-input-width: 616px;
    --searchbar-input-with-resetbtn-width: 220px;
    --searchbar-md-input-with-resetbtn-width: 290px;
    --searchbar-lg-input-with-resetbtn-width: 490px;

    --searchbar-input-height: 48px;
    --searchbar-input-font-size: #{$font-size-14};
    --searchbar-input-line-height: #{$h5-line-height};
    --searchbar-input-color: var(--gray-darkest-color);
    --searchbar-input-bg-color: var(--white-color);
    --searchbar-input-border: 1px solid var(--gray-darkest-color);
    --searchbar-input-focus-border-color: var(--primary-color);
    --searchbar-input-padding: 15px 40px 13px 16px;
    --searchbar-rtl-input-padding: 15px 16px 13px 40px;
    --searchbar-close-icon-width: 16px;
    --searchbar-close-icon-height: 16px;
    --searchbar-close-icon-color: var(--gray-darkest-color);
    --searchbar-input-margin-right: 16px;
    --searchbar-xl-input-margin-24: 24px;
    --searchbar-suggestion-list-padding: 14px;

    --searchbar-autocomplete-border-radius: 4px;
    --searchbar-autocomplete-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 8px -2px rgba(141,141,148,0.28);
    --searchbar-autocomplete-max-height: 300px;
    --searchbar-autocomplete-background: var(--white-color);
    --searchbar-autocomplete-scrollbar-width: 8px;
    --searchbar-autocomplete-scrollbar-track-border: 1px solid var(--gray-light-color);
    --searchbar-autocomplete-scrollbar-track-border-radius: 4px;
    --searchbar-autocomplete-scrollbar-thumb-bg: var(--gray-light-color);
    --searchbar-autocomplete-scrollbar-thumb-border-radius: 10px;

    --searchbar-autocomplete-item-padding: 16px 15px 16px 13px;
    --searchbar-autocomplete-item-border-bottom: 1px solid var(--gray-dark-color);
    --searchbar-autocomplete-item-selected-bg: #{$color-yellow};
    --searchbar-autocomplete-item-hover-bg: #{$color-yellow};
}
