// Spinners
.a-spinner {
    --spinner-width: 2rem;
    --spinner-height: 2rem;
    --spinner-border-width: .25em;
    --spinner-bg: transparent;
    --spinner-border-color: var(--primary-color);

    --spinner-width-sm: 1rem;
    --spinner-height-sm: $spinner-width-sm;
    --spinner-border-width-sm: .2em;
}
