<sly data-sly-use.cards="com.abbott.aem.cv.division.core.components.models.CardsEnhance" data-sly-use.link="com.abbott.aem.platform.common.components.models.Link" data-sly-use.imageTemplate="image.html">

    <a id="${component.id}" class="m-card-link" data-disable-child-links href="#${cards.anchorName}" target="${cards.action}">
      <div class="m-card__media">
        <sly data-sly-call="${imageTemplate.image @ cards=cards}"></sly>
      </div>
      <div class="m-card__body">
        <h2 class="m-card__title h4">${cards.title @ context="html"}</h2>
        <div class="m-card__description">${cards.description @ context="html"}</div> 
      </div>       
    </a>

