<sly data-sly-template.image="${@ cards}">
	<div class="m-card__wrap">
		<div class="m-card__image" data-sly-test="${cards.imageResource}" data-sly-resource="${cards.imageResource}" alt="${properties.alt || true}"></div>
		<sly data-sly-test="${cards.modalIcon}"> <em class="${cards.modalIcon}"></em> </sly>
		<sly data-sly-test="${cards.hoverText}">
			<div class="toggle-overlay"> <span class="hover-text">${cards.hoverText}</span>
				<div class="story-overlay"></div>
			</div>
		</sly>
	</div>
</sly>
