@import '../../styles/variables';

.stb-preview-flg .stb-header{
    display: none;
}

.stb-header {
    background: #000000;
    color: #fff;
    height: 64px;
    align-items: center;
    padding: 0 32px;
    display: flex;

    img {
        width: 120px;
    }

    &__nav {
        padding: 0;
        margin: 6px 0 0 112px;
        li {
            display: inline-block;
            margin-right: 48px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;


            &:hover {
                color: #fff;
                opacity: 0.85;
                text-decoration: none;
            }

            &.active {
                color: #2a9fd8;
            }
        }
    }
}
