@import "../global/media-queries.less";
@import "../global/variables.less";

.m-card {
    --card-media-border-radius: 0;
    --card-font-size-22: 1.125rem;
    --card-line-height-24: 1.25em;
    --card-line-height-28: 1.5rem;
    --card-font-size-18: 1em;
    --card-description-color-light: @color-deep-sea-blue;
    --card-pre-title-desc-font-size: 1rem;
    --card-description-line-height: 20px;

    &:hover {
        border: 1px solid #a6a8aa;
        background-color: @color-dawn-pink;

        .m-card__media {
            background-color: @color-white;
        }
    }

    &__wrap {
        height: 100%;
    }

    &__image {
        .cmp-image__image {
            height: 100%;
        }
    }

    &__title.h4 {
        font-size: 18px !important;
        font-family: @brandon-bold;
        color: @color-deep-sea-blue;
        line-height: 24px !important;

        @media @md-down {
            font-size: 16px !important;
            line-height: 22px !important;
        }

        a {
            font-family: @brandon-bold;
            color: @color-deep-sea-blue;

        }

        &:hover {
            a {
                color: @color-cerulean;
            }
        }
    }

    &__description {
        p {
            font-family: @georgias;

            a {
                font-family: @georgias;
                color: @color-deep-sea-blue;
            }

            &:hover {
                a {
                    color: @color-cerulean;
                }
            }
        }

    }
}

//acelis - cards

#acelis-multi-card {
    .row {
        justify-content: space-around !important;

        .columncontrol__column {
            @media @lg-down {
                flex-basis: 33.3%;
                max-width: 33.3%;
            }

            @media @md-down {
                flex-basis: 100%;
                max-width: 100%;
            }

            .text {
                h4 {
                    font-family: @brandon-medium !important;
                    font-size: 24px !important;
                    color: #009cde !important;
                    line-height: 30px !important;
					padding-top: 10px !important;
					margin-bottom: 10px !important;
                    @media @lg-down {
                        font-size: 20px !important;
                        line-height: 26px !important;
						padding-top: 10px !important;
						margin-bottom: 10px !important;
                    }

                    @media @md-down {
                        font-size: 18px !important;
                        line-height: 24px !important;
						padding-top: 10px !important;
						margin-bottom: 10px !important;
                    }
                }

                h5 {
                    font-family: @brandon-regular !important;
                    font-size: 36px !important;
                    color: #004971 !important;
                    line-height: 42px !important;
                    font-weight: 700 !important;
					padding-top: 10px !important;
					margin-bottom: 10px !important;
					@media @lg-down{
						padding-top: 10px !important;
						margin-bottom: 10px !important;
					}
                    @media @md-down {
                        font-size: 24px !important;
                        line-height: 30px !important;
						padding-top: 10px !important;
						margin-bottom: 10px !important;
                    }
                }

                p {
                    font-family: @brandon-regular !important;
                    font-size: 21px !important;
                    line-height: 27px !important;
                    color: #004f71 !important;
                    padding-top: 10px !important;
                    @media @lg-down{
                        font-family: @brandon-regular !important;
                        font-size: 21px !important;
                        padding-top: 10px !important;
                    }
                    @media @md-down{
                        font-family: @brandon-regular !important;
                        font-size: 21px !important;
                        padding-top: 10px !important;
                    }
                }
            }
        }
    }
}

// why-ach vertical card

#acelis-vertical-card {
    .columncontrol__column:first-child {
        .text {
            ul {
                margin-left: 0;
                li {
                    list-style: none;
                    display: flex;
                    gap: 10px;
                    border-top: 1px solid #009cde;
                    padding: 25px 0px;
                    p {
                        font-family: @brandon-regular;
                        font-size: 21px;
                        line-height: 27px;
                        font-weight: 300;
                        color: #004f71;
                        margin-bottom: 0;
                        text-transform: none;
                        @media @lg-down{
                            font-size: 21px !important;
                            line-height: 27px !important;
                        }
                        @media @md-down{
                            font-size: 21px !important;
                            line-height: 27px !important;
                        }
                        strong {
                            font-family: @brandon-regular;
                            font-size: 21px;
                            line-height: 27px;
                            font-weight: 700;
                            color: #004f71;
                            text-transform: uppercase;
                            @media @lg-down{
                                font-size: 21px !important;
                                line-height: 27px !important;
                            }
                            @media @md-down{
                                font-size: 21px !important;
                                line-height: 27px !important;
                            }
                        }
                    }
                    &::before {
                        font-weight: 900;
                        color: #009cde;
                    }
                    &:last-child {
                        border-bottom: 1px solid #009cde;
                    }
                }
            }
        }
        .title {
            .blue-text-d24-t20-m18 {
                h3 {
                    font-family: @brandon-regular !important;
                    font-size: 24px !important;
                    line-height: 30px !important;
                    color: #009cde !important;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding-top: 0 !important;
                    margin-bottom: 10px !important;
                    @media @lg-down{
                        font-size: 20px !important;
                        line-height: 26px !important;
                    }
                    @media @md-down{
                        font-size: 18px !important;
                        line-height: 24px !important;
                    }
                }
            }
        }
    }
}