@import "../global/media-queries.less";
@import "../global/variables.less";

.cmp-container {
    .column-align--space-between {
        .columncontrol__column {
            @media @lg-down {
                padding: 0 10px !important;
            }

            .m-card--large {
                border: 1px solid #a6a8aa;
                background-color: @color-dawn-pink;
                height: auto !important;

                .m-card__body {
                    padding-top: 15px;
                    padding-bottom: 30px;

                    .h4 {
                        font-size: 24px !important;
                        line-height: 30px !important;
                        font-family: @brandon-regular;
                        font-weight: 300 !important;
                        text-transform: uppercase;

                        @media @lg-down {
                            font-size: 20px !important;
                            line-height: 26px !important;
                        }

                        @media @md-down {
                            font-size: 18px !important;
                            line-height: 24px !important;
                        }
                    }

                    p {
                        @media @lg-down {
                            line-height: 22px !important;
                        }
                    }
                }
            }

            .justify-content-center {
                margin-top: -18.5% !important;

                @media @lg-down {
                    margin-top: -28% !important;
                }

                @media @md-down {
                    margin-top: -18.5% !important;
                }

                .btn {
                    @media @lg-down {
                        padding: 10px 20px !important;
                    }

                    &:hover {
                        text-decoration: none !important;

                        span {
                            color: #009cde !important;
                        }
                    }
                }
            }
        }
    }
}