@import "../global/media-queries.less";
@import "../global/variables.less";

.columncontrol {
    max-width: 1140px;
    margin: 0 auto;

    @media @lg-down {
        padding: 0 20px;
    }

    @media @md-down {
        padding: 0 10px;
    }

    .container {
        @media @lg-down {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .row {
        @media @md-down {
            margin-left: -10px;
            margin-right: -10px;
        }

        .columncontrol__column {
            @media @md-down {
                padding-left: 0;
                padding-right: 0;
            }

            &:last-child {
                @media @lg-down {
                    margin-bottom: 2.5rem !important;
                }
            }
        }

    }
}

.container {
    .columncontrol {
        @media @lg-down {
            padding: 0;
        }

        @media @md-down {
            padding: 0;
        }
    }
}