@import "../global/media-queries.less";
@import "../global/variables.less";

.xf-content-height {
    .a-container {
        width: 100%;
        max-width: 100% !important;

        @media @lg-down {
            background-color: @color-charcoal !important;
            padding: @spacer-40 @spacer-10;
        }

        .a-container__row {
            .cmp-container {
                @media @lg-down {
                    margin: 0;
                }

                @media @md-down {
                    padding: 0;
                }

                @media @lg-up {
                    padding: 0;
                }

                .columncontrol {
                    @media @lg-down {
                        margin-bottom: 0 !important;
                    }

                    .container {
                        @media @lg-up {
                            padding: 0;
                        }

                        .row {
                            .columncontrol__column:nth-child(1) {
                                @media @lg-up {
                                    padding-left: 0;
                                }

                                @media @lg-only {
                                    margin-bottom: 0;
                                }
                            }

                            @media @sm-down {
                                margin-right: 0;
                                margin-left: 0;
                            }

                            @media @lg-down {

                                .columncontrol__column:nth-child(3),
                                .columncontrol__column:nth-child(2),
                                .columncontrol__column:nth-child(4) {
                                    display: none;
                                }
                            }

                            @media @lg-up {
                                margin-left: 0;

                                .columncontrol__column:nth-child(2),
                                .columncontrol__column:nth-child(3) {
                                    .link {
                                        margin-top: 0 !important;
                                    }
                                }
                            }
                        }

                        @media @lg-down {
                            padding: 0 !important;
                        }

                        .columncontrol__column {
                            @media @lg-only {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }

                            .text {
                                @media @lg-up {
                                    margin-top: @spacer-25;
                                }

                                @media @lg-only {
                                    margin-top: @spacer-22;
                                }

                                @media @sm-down {
                                    padding: 0;
                                    margin-top: @spacer-25;
                                }

                                p {
                                    color: @color-white;
                                    font-size: @spacer-15;
                                    line-height: @spacer-25;
                                    font-family: @brandon-bold;
                                    text-transform: uppercase;
                                    letter-spacing: 1.3px;

                                    @media @lg-up {
                                        width: 70%;
                                    }

                                    @media @lg-down {
                                        margin-bottom: 0;
                                        font-size: @spacer-15 !important;
                                    }

                                }
                            }

                            .link {
                                margin: @spacer-5 0 !important;

                                .a-link {
                                    .a-link__text {
                                        color: @color-Metallic-Silver;
                                        font-size: 0.8rem;
                                        line-height: @spacer-15;
                                        font-weight: normal;
                                        font-family: @brandon-regular;
                                        text-decoration: none;
                                        text-transform: uppercase;

                                        &:hover {
                                            color: @color-crystal-blue;
                                        }
                                    }
                                }
                            }

                            @media @sm-down {
                                margin-bottom: 0;
                            }

                            .socialmedia {
                                .m-social-media--icons {
                                    @media @lg-down {
                                        display: none;
                                    }

                                    li {
                                        margin: 0;

                                        a {
                                            font-size: @spacer-20;
                                            color: @color-white;
                                        }

                                        &:nth-child(3) {
                                            margin-right: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .text {
                    @media @lg-up {
                        margin-top: @spacer-35 !important;
                    }

                    @media @lg-down {
                        margin-top: @spacer-25 !important;
                    }

                    .cmp-text {
                        p {
                            color: @color-dark-gray;
                            font-size: 0.8rem;
                            line-height: @spacer-16;
                            font-family: @georgias;

                            @media @lg-down {
                                margin-bottom: @spacer-10;
                                font-size: 0.8rem !important;
                            }

                            a {
                                color: @color-dark-gray;
                                font-size: 16px;
                                line-height: @spacer-18;
                                font-family: @georgias;
                                text-decoration: underline;

                                &:hover {
                                    color: @color-crystal-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.a-logo-comp--image{
    @media @md-down{
        max-height: 50px !important;
    }
}