@import './media-queries.less';
@import './variables.less';

.text(@fontSize, @lineHeight) {
  font-size: @fontSize;
  line-height: @lineHeight;
}

.font-style(@fontSize,@lineHeight,@letterSpacing) {
  .text(@fontSize, @lineHeight);
  letter-spacing: @letterSpacing;
}

.container-styles {
    margin: auto;
    max-width: @sm-width;

    @media @md-up {
      max-width: @md-width;
    }

    @media @lg-up {
      max-width: @lg-width;
    }

    @media @xl-up {
      max-width: @container-width;
    }
}
