<sly data-sly-use.productImage="com.abbott.aem.an.division.core.components.models.ImageVideoSlider"></sly>
<div data-sly-test="${(wcmmode.edit || wcmmode.design) && !productImage.productImageList}" class="cq-placeholder"
    data-emptytext="Configure ${component.title} Component"></div>
<div data-sly-test="${productImage.productImageList}" class="multi-product-image carousel slide">
    <div class="carousel-inner imagevideoslider-${productImage.thumbnailPosition}-thumb" data-js-component="carousel"
        data-no-indicators="false" data-left-icon="abt-icon abt-icon-left-arrow"
        data-right-icon="abt-icon abt-icon-right-arrow">
        <sly data-sly-list="${productImage.productImageList}">
            <div class="product-image item ${itemList.first ? 'active' : ''}">
                <div data-sly-test="${item.assetType=='videoUrl'}">
                <iframe class="show-video"
                   title="${item.videoTitle}"
                   src="${item.videoUrl}"> </iframe>
                </div>
                <sly data-sly-test="${item.assetType=='image'}">
                    <img src="${item.largeImage}" alt="${item.altText @ context='attribute'}" class="product-large-image"/>
                </sly>
            </div>
        </sly>
    </div>
</div>
<div class="product-thumbnail-wrapper">
    <div data-sly-repeat="${productImage.productImageList}" data-slide-to="${itemList.index}"
        class="product-thumbnail ${item.assetType}">
        <img src="${item.smallImage}" alt="${item.altText}"/>
    </div>
</div>