.header {
    .o-header-v2-global {
        .o-header-v2-global__section {
            background: @abbott-header-gray;

            &.o-header-v2-global__section--fixed {
                position: fixed;
                width: 100%;
                z-index: 10000;
                top: 0;
            }

            .logo {
                .a-logo-comp {
                    margin-right: 0;

                    @media @md-down {
                        margin-right: 1rem;
                    }
                }
            }

            .o-header-v2-section {
                justify-content: space-between;
            }
        }

        .o-header-v2-global__sticky-section {
            display: none;
        }

        .megamenu {
            @media @md-up {
                display: none;
            }

            .m-mega-menu__mobile {
                .navbar {
                    .abt-icon-hamburger {
                        color: @white;
                        padding: 9px 10px;
                        margin-right: 0;
                        background: @abbott-dark-charcoal;
                        margin-top: 8px;
                    }
                }

                .navbar-toggler.abt-icon-cancel {
                    color: @white  !important;
                    margin-right: 0;
                }
            }

            .navbar-collapse {
                margin-top: 40px;
                right: 0;

                .navbar-collapse-wrapper {
                    background: @abbott-header-gray;
                }
            }

            .m-mega-menu__mobile-item-wrapper .a-link .a-link__text {
                color: @white  !important;
                font-family: @font-brandon-grotesque-regular;
                text-transform: uppercase;
                font-size: @font-size-12;
            }

            .m-mega-menu__mobile-item-wrapper .link {
                padding: 5px 15px;
            }
        }
    }
}