body {
    .m-card {
        height: auto !important;
        @media @md-down {
            padding: 0px;
        }
        &__media {
            border-radius: 0;
            height: auto !important;
            background-color: @color-white;
            &:active, &:hover {
                background-color: none;
            }
            .m-card__image, .cmp-image__image {
                position: relative;
            }
        }
        &__title {
            .font-size(18px, 24px);
            @media @lg-down {
                .font-size(18px, 24px);
            }
        }
        &__body {
            padding: 16px 16px 0;
            @media @lg-down { 
                padding: 15px;
            } 
            .h4 {
                text-transform: capitalize;
            }
            .button {
                .a-link__text {
                    padding: 12px 32px;
                    background-color: @brand-blue;
                    border-radius: 20px;
                    color: @color-white;
                    font-family: @brandonbold;
                    &:hover {
                        color: @color-white;
                    }
                }
            }
        }
        &--large {
            border: 1px solid @color-bg-gray;
            @media @md-down {
                padding: 0 !important;
                margin-top: 20px !important;
            }
            .m-card__title {
                @media @lg-down {
                    .font-size(18px, 24px);
                }
            }
            .m-card__body {
                text-align: left;
                padding: 16px;
                min-height: 120px;
                position: relative;
                @media @md-down {
                    min-height: 100%;
                }
               
                .button {
                    margin-bottom: 0;
                    .a-link__text {
                        padding: 0;
                        background-color: initial;
                        text-decoration: underline;
                        color: @color-black;
                        .a-link__inner-text{
                            color: @info-blue;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .m-card__description{
                p{
                    .font-size(14px, 20px);
                }
            }
        }
        &:before {
            box-shadow: 0 2px 4px 2px #D9D9D6;
        }  
        &__media--bg--light {
            box-shadow: none;
            width: 100px;
            height: auto !important;
            margin-top: 0;
            &::before {
                box-shadow: none;
            }
            .m-card__media {
                height: 100px;
                border-radius: 0;
                width: 100px;
            }
            &.active, .m-card-link[href='#'] {
                .m-card__media {
                    border: 2px solid @brand-blue !important;
                }
                .m-card__body {
                    h2 {
                        font-family: @brandonblack;
                    }
                }
            }
            .m-card__body {
                padding: 8px 0px;
                h2 {
                    margin: 0;
                    .font-size(12px, 20px);
                    text-transform: uppercase;
                    text-align: center;
                    font-family: @brandonregular;
                }
                .nonClickableLink {
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}