<sly
	data-sly-use.related="com.abbott.aem.corp.division.core.components.models.RelatedArticle" />

<div class="related-article--wrapper">
	<h5 class="related-article--heading">${related.relatedLabel}</h5>
	<div class="related-article--content">
		<a class="related-article--link"
			href="${related.articlePath @ extension = 'html'}"
			target="${related.openInNewTab}">
			<div class="related-article--link-content">
			 <sly data-sly-test="${related.articleImagePath}">
				<div class="related-article--img-wrapper">
					<img class="related-article--img" src="${related.articleImagePath}"
						alt="${related.altText}">
				</div>
				</sly>
				<div class="related-article--link-heading">${related.articleDescription}</div>
			</div>
		</a>
	</div>
</div>