<sly
	data-sly-use.related="com.abbott.aem.corp.division.core.components.models.RelatedArticle" />
<div class="related-article--wrapper-video">
	<h5 class="related-article--heading">${related.relatedLabel}</h5>
	<div class="related-article--content-wrapper">
		<div class="related-article--content">
			<sly data-sly-test="${related.articleType =='videoURL'}"
				data-sly-resource="${'related-video' @ resourceType='abbott-platform/components/content/molecules/video/v1/video',decoration=true}"></sly>
			<sly data-sly-test="${related.articleType =='dam'}"
				data-sly-resource="${'related-dam' @ resourceType='abbott-platform/components/content/molecules/video/v1/video',decoration=true}"></sly>
			<sly data-sly-test="${related.articleType =='brightCove'}"
				data-sly-resource="${'related-brightcove' @ resourceType='abbott-platform/components/content/molecules/video/v1/video',decoration=true}"></sly>
			<sly data-sly-test="${related.articleType =='limeLight'}"
				data-sly-resource="${'related-limelight' @ resourceType='abbott-platform/components/content/molecules/video/v1/video',decoration=true}"></sly>
			<a class="related-article--link"
				href="${related.articlePath @ extension = 'html'}" target="_self">${related.articleDescription}
			</a>
		</div>
	</div>
</div>