@import "../../clientlib-base/scss/base/functions";
@import "../../clientlib-base/scss/base/mixins";
@import "../../clientlib-base/scss/base/variables";

html,
body {
  font-family: "Poppins", sans-serif;
}

.gs-container-space {
  margin-bottom: 1rem;
  margin-top: 1rem;  
}

.glucerna-title {
  color: $biscay;
  font: 300 40px/1.25 $font-brandon-text-black;
  letter-spacing: 1px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

.glucerna-subtitle {
  color: $light-blue;
  font: 400 20px/1.2 $fonts-poppins;
  letter-spacing: 0.5px;
  text-align: center;
}

.glucerna-footnote {
  color: $light-blue;
  display: block;
  font: 400 10px/1.3 $fonts-poppins;
  text-align: center; 
}

.glucerna-btn-primary {
  background: $dark-orange;
  border: 1px solid $dark-orange;
  border-radius: 18px;
  color: $white;
  font: 900 18px/1 $font-brandon-text-black;
  letter-spacing: 1.5px;
  margin: 0 auto;
  padding: 25px 30px;
  text-align: center;

  &:hover {
    background: $deep-cerulean;
    border-color: $deep-cerulean;
    color: $white;
    text-decoration: none;
  }
}

.glucerna-maintenance {
  padding: 3%;

  .cmp-text {
    border: 5px solid #1e376c;
    padding: 0 3%;
  }

  @include media-breakpoint-down(sm) {
    padding: 15px;

    .cmp-text {
      padding: 0 7%;
    }
  }
}

.glucerna-maintenance-title {
  color: $biscay;
  display: block;
  font: 700 42px/1 $fonts-poppins;
  margin: 25px auto 20px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font: 500 18px/1 $fonts-poppins;
    margin: 10px auto 10px;
  }
}

.glucerna-maintenance-subtitle {
  color: $biscay;
  display: block;
  font: 500 32px/1.37 $fonts-poppins;
  margin: 0 auto 20px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font: 300 14px/1.37 $fonts-poppins;
    margin: 0 auto 10px;
  }
}