@import "../../clientlib-base/scss/base/functions";
@import "../../clientlib-base/scss/base/mixins";
@import "../../clientlib-base/scss/base/variables";

/*
    === Class List for RTE ===
    * title-1
    * title-2
    * title-3
    * title-4
    * highlight-title
*/

.static-page {
    color: $light-blue;
    font-family: $fonts-poppins;

    h1, h2, h3, h4, .title-1, .title-2, .title-3, .title-4 {
        color: $biscay;
        font-family: $font-brandon-text-black;
    }

    h1, .title-1 {
        font-size: 2.25rem;
        line-height: 2.5rem ;
        margin: 15px 0;

        @media (max-width: 767px) {
            padding-left: 1rem;
        }
    }

    h2, .title-2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h3, .title-3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    h4, .title-4 {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .highlight-title {
        background: $biscay;
        color: $white;
        display: block;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
    }

    li {
        margin-bottom: .5rem;
    }

    p, li {
        b {
            font-weight: 600;
        }
    }

    a {
        color: $denim;
    }

    @media (max-width: 1024px) {
        margin-left: 1rem;
        margin-right: 1rem;

        .highlight-title {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }
}

.faq {

    @media (max-width: 767px) {
        margin: 0;
    }

    &__questions {
        background: $wild-sand;
        color: $biscay;
        font-weight: 600;
        padding: 10px 38px 20px 30px;
    }

    &__answer-box {
        background: $wild-sand;
        margin-top: 15px;
        padding: 20px 30px 10px;
    }

    &__question {
        color: $biscay;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 10px;

        &--link {
            padding: 5px 0;

            a {
                color: $biscay;
            }
        }
    }

    &__back-to-top {
        border-top: 1px solid $gray-300;
        margin:22px 0 5px;
        padding-top: 5px;
    }
}