.a-chips {
  display: inline-block;
}
.a-chips--link {
  font-size: var(--chips-font-size);
  line-height: var(--chips-line-height);
  color: var(--chips-color);
  text-transform: capitalize;
  font-weight: normal;
  padding: var(--chips-padding);
  border-radius: var(--chips-border-radius);
  background: var(--chips-bg-color);
  text-decoration: none;
  cursor: pointer;
}
.a-chips--link:hover {
  background: var(--chips-bg-color-hover);
  color: var(--chips-color-hover);
  text-decoration: none;
}
.a-chips--link.active,
.a-chips--link:focus {
  background: var(--chips-bg-color-active);
  font-weight: bold;
  text-decoration: none;
}
