.m-order-details-shipment-tracking__container {
  padding-left: var(--orderdetailsshipmenttracking-padding);
  padding-bottom: var(--orderdetailsshipmenttracking-margin);
  width: 100%;
  font-size: var(--orderdetailsshipmenttracking-font-size);
  border-bottom: 1px solid var(--orderdetailsshipmenttracking-border);
  margin-bottom: var(--orderdetailsshipmenttracking-margin);
}
.m-order-details-shipment-tracking__tracking {
  margin: 8px 0 0;
}
