//less varibles
@font-size-base: 1rem;
@base-line-height: 1rem;

@font-size-12: @font-size-base * 0.75; //12px
@font-size-14: @font-size-base * 0.875; //14px

//colors
@color-black: #000;
@color-danger: #E4002b;
