@import "./global/variable.less";

/** Footer part start **/

.abbott-wrapper {
    .responsivegrid {
        @media screen and (max-width:767px) {
            padding: 0 !important;
        }
        max-width: 100%;
        .footer {
            .o-footer {
                background-color: @black-color;
                padding: 2.3rem 2.5rem;
                .horizontal-divider {
                    max-width: 100%;
                    @media screen and (min-width:320px) and (max-width:480px) {
                        margin-top: -7%;
                    }
                 }
                .o-footer__bottom {
                    max-width: 100%;
                    padding: 0;
                    .a-logo-comp {
                        img {
                            max-height: 30px;
                            @media screen and (max-width: 767px) { 
                                max-height: 20px;
                                margin-top: -15%;
                            }
                        }
                    }
                    .o-footer__bottom-section {
                        padding: 2.5rem 0 0;
                        @media screen and (max-width: 480px) { 
							padding: 1rem 0 0 !important;
                        }
                        @media screen and (max-width: 767px) {
							padding: 1.5rem 0 0;
                        }
                        @media screen and (min-width:768px) and (max-width:1180px) {
						  padding: 1.5rem 0 0;
                        }
                        .o-footer__social-media {
                            .m-social-media {
                                h6 {
                                    font-family: @fontBrandonregular;
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-style: normal;
                                    @media screen and (max-width: 480px) { 
                                        margin: 1rem !important;
                                    }
                                    @media screen and (max-width: 767px) {
                                         display: none;
                                         margin: var(--social-media-margin);
                                    }
                                    @media screen and (min-width:768px) and (max-width:1180px) { 
                                        display: inline-block;
                                        margin: var(--social-media-margin);
                                    }
                                }
                                ul {
                                    li {
                                        a {
                                            em {
                                                font-size: 1rem;
                                                &::before {
                                                    background-color: @white-color;
                                                    color: @black-color;
                                                    padding: 5px;
                                                    border-radius: 15px;
                                                }   
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }   
                    .order-lg-12 {
                        .o-footer__disclaimer-section {
                            padding-top: 1.6rem;
                            @media screen and (max-width: 767px) {
                                padding-top: 5%;
                            }
                            @media screen and (min-width:768px) and (max-width:1180px) { 
                                padding-top: 0;
                            }
                            li {
                                .a-link {
                                    a {
                                        span {
											font-size: 12px;
                                            line-height: 16px;
                                            font-style: normal;
                                            font-family: @fontBrandongrotesque;
                                            font-weight: 400;
                                        }  
                                    }  
                                }
                            }
                            @media screen and (min-width:320px) and (max-width:480px) {
                                .disclaimers_section_link_1 {
                                    position: absolute;
                                    top: 85%;
                                }
                                .disclaimers_section_link_2 {
                                    position: absolute;
                                    top: 86%;
                                    left: 36%;
                                }
                            }   
                        }
                    }
                    .order-lg-1 {
                        p {
                            padding-top: 3rem;
                            color: @white-color;
                            font-size: 12px;
                            line-height: 16px;
                            font-style: normal;
                            font-family: @fontBrandongrotesque;
                            font-weight: 400;
                            @media screen and (min-width:320px) and (max-width:480px) {
                                padding-top: 1rem;
                            }
                            @media screen and (min-width:753px) and (max-width:767px) {
								padding-top: 0;
                            }
                            @media screen and (min-width:768px) and (max-width:1180px) {
                                padding-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }   
}        