<sly data-sly-use.templates="an/similac/components/content/templates.html"/>
<sly data-sly-test.oneCol="${properties.numCols == '1'}"></sly>
<sly data-sly-test.twoCols="${properties.numCols == '2'}"></sly>
<sly data-sly-test.twoCols2575="${properties.numCols == '22575'}"></sly>
<sly data-sly-test.twoCols3070="${properties.numCols == '23070'}"></sly>
<sly data-sly-test.twoColSmall="${properties.numCols == '25050'}"></sly>
<sly data-sly-test.twoColLarge="${properties.numCols == '27525'}"></sly>
<sly data-sly-test.threeCols="${properties.numCols == '3'}"></sly>
<sly data-sly-test.threeresCols="${properties.numCols == '3252525'}"></sly>
<sly data-sly-test.threeColsSmall="${properties.numCols == '3202020'}"></sly>
<sly data-sly-test.fourCols="${properties.numCols == '4'}"></sly>
<sly data-sly-test.twoColsTab="${properties.numCols == '2colTab'}"></sly>
<sly data-sly-test.sectitle="${properties.sectitle}"></sly>

<div data-sly-test="${oneCol}">
	<div class="container">
		<div class="col col-12">                 
			<sly data-sly-resource="${ @path='1colpar1', resourceType='foundation/components/parsys'}" />
		</div>
	</div>
</div>			
<section class="${wcmmode.edit?'':'card-section mt-0'}" data-sly-test="${twoCols}">
<div class="container">
<div class="row" >
   <div class="col-12 col-sm-6 col-lg-6 card-wrapper">
      <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
   </div>
   <div class="col-12 col-sm-6 col-lg-6 card-wrapper">
      <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
   </div> 
   </div>
   </div>
</section>
<div  data-sly-test="${twoCols2575}">
	<div class="container">
         <div class="row">
			<div class="col col-12 col-lg-3 card-wrapper">				
				<sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />				
			</div>
			<div class="col col-12 col-lg-9 card-wrapper">				
					<sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />				
			</div>
		</div>
	</div>
</div>
<div  data-sly-test="${twoCols3070}">
	<div class="container">
         <div class="row">
			<div class="col-12 col-md-4 col-lg-3">				
				<sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />				
			</div>
			<div class="col-12 col-md-8 col-lg-9">				
					<sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
            <div class="row">					
           <div class="col-12 d-md-none">
            <div id="recent-mob"></div>
                 </div>	
             </div>				 
			</div>			
		</div>
	</div>
</div>
<div data-sly-test="${twoColSmall}">
<sly data-sly-test="${!properties.hideLine}"><hr class="my-lg-3_375 my-md-2_625 my-sm-1_875"></sly>
<div class="row" >
 <div class="col-md-6 mb-1_875">
      <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
   </div>
   <div class="col-md-6 mb-1_875">
      <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
   </div>
   </div>
</div>
   <div class="row" data-sly-test="${twoColLarge}">
      <div class="col-lg-8 mb-1_875">
         <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
      </div>
      <div class="col-lg-4">
         <div class="row">
            <div class="col-sm-6 col-lg-12 col-md-6 col-xl-12 mb-1_875">
               <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-sm-6 col-lg-12 col-md-6 col-xl-12 mb-1_875">
               <sly data-sly-resource="${ @path='2colpar3', resourceType='foundation/components/parsys'}" />
            </div>
         </div>
      </div>
   </div>
   <section class="${wcmmode.edit?'':'card-section'}" data-sly-test="${twoColsTab}">
      <div class="container">
         <div class="row">
            <p class="also-view-title" data-sly-test="${sectitle}">${sectitle}</p>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-12 col-sm-12  col-md-6  col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
            </div>
         </div>
      </div>
   </section>
   <section class="${wcmmode.edit?'':'card-section'}" data-sly-test="${threeCols}">
      <div class="container">
         <div class="row">
            <p class="also-view-title" data-sly-test="${sectitle}">${sectitle}</p>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
            </div>
         </div>
      </div>
   </section>
   <section class="card-section" data-sly-test="${threeresCols}">
      <div class="container">
         <p class="also-view-title" data-sly-test="${sectitle}">${sectitle}</p>
         <div class="row">
            <div class="col-6 col-md-4 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-6 col-md-4 col-lg-4 card-wrapper">
               <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
            </div>
            <div class="col-6 col-md-4 col-lg-4 card-wrapper ">
               <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
            </div>
         </div>
      </div>
   </section>
   <div class="row" data-sly-test="${threeColsSmall}">
      <div class="col-sm-12 col-md-4 mb-1_875">
         <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
      </div>
      <div class="col-sm-12 col-md-4 mb-1_875">
         <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
      </div>
      <div class="col-sm-12 col-md-4 mb-1_875">
         <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
      </div>
   </div>
   <section class="${wcmmode.edit?'':'card-section'}" data-sly-test="${fourCols}">
   <div class="container">
      <p class="also-view-title" data-sly-test="${sectitle}">${sectitle}</p>
   <div class="row">
      <div class="col-12 col-md-3 col-lg-3 card-wrapper">
         <sly data-sly-resource="${ @path='4colpar1', resourceType='foundation/components/parsys'}" />
      </div>
      <div class="col-12 col-md-3 col-lg-3 card-wrapper">
         <sly data-sly-resource="${ @path='4colpar2', resourceType='foundation/components/parsys'}" />
      </div>
      <div class="col-12 col-md-3 col-lg-3 card-wrapper">
         <sly data-sly-resource="${ @path='4colpar3', resourceType='foundation/components/parsys'}" />       
      </div>
      <div class="col-12 col-md-3 col-lg-3 card-wrapper">
         <sly data-sly-resource="${ @path='4colpar4', resourceType='foundation/components/parsys'}" />        
      </div>
   </div>
  </div>
  </section>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.numCols}"></sly>