

<sly data-sly-unwrap="${!wcmmode.edit && !wcmmode.design}"></sly>
<sly data-sly-use.page="com.abbott.aem.platform.common.components.models.EmailPage"></sly>
<div class="es-wrapper-color">
    <sly data-sly-test="${!wcmmode.edit}"><table border="0" style="width:100%;border-collapse:collapse; max-width: 100%; background: #F5F5F6; margin: ${page.align @ context='html'};"></sly>
        <tbody>
            <tr>
                <td style="padding:0;vertical-align:top;">
                    <sly data-sly-unwrap="${!wcmmode.edit}" data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
                    data-sly-repeat.child="${templatedContainer.structureResources}"
                    data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName=''}"></sly>
                </td>
            </tr>
        </tbody>
    </table>
</div>