<sly data-sly-use.templates="an/similac/components/content/templates.html"/>
<div  class="cq-placeholder section" data-emptytext="Configure Wherer to buy Component in EDIT Mode" data-sly-test.author="${(wcmmode.edit || wcmmode.design)}"></div>
<h1 class="find-retailer__title">${properties.whereToBuyTitle}</h1>
<div class="find-retailer__products-container">
   <p class="find-retailer__products-desc">${properties.whereToBuyDescription @ context='html'}</p>
   <div class="find-retailer__products"></div>
</div>
<div id="ps_widget" class="ps-widget" ps-sku="${properties.defaultsku ? properties.defaultsku : 68088}"></div>
<div class="find-retailer__contact-us">
   <p class="find-retailer__contact-us-title">${properties.whereToBuyContactTitle}</p>
   <p class="find-retailer__contact-us-desc">${properties.whereToBuyContactDescription @ context='html'}</p>
</div>