 #assesmentTable td ,#judge-details-table-score td{
     border: 1px solid #b0b3b6;
     padding: 10px 16px;
     font-family: 'brandon_grotesqueregular',Calibri,Helvetica,Arial,sans-serif;
     position: relative;
}
td.noValue.showValue:after {
    content: "";
    border-bottom: 1px dashed #000000;
    display: block;
    width: 35px;
    background-color: #ffffff;
    height: 2px;
}
 #assesmentTable .starIcons{
     position: relative;
     padding-left: 40px;
    
}
 #assesmentTable .starIcons em{
     position: absolute;
     left: 15px;
     color: #aa7cef;
	 border-bottom: 1px dashed #000;
	 width: 55px;
	 padding-bottom: 3px;	 
}
 #assesmentTable .yellowStarIcon .starIcons em{
     color: #ffd100;
}
 #judge-details-table-score .overview-table-row-header{
     text-transform: uppercase;
     font-weight: bold;
     text-align: left;
     font-size: .875rem;
     white-space: nowrap;
     left: 0;    
     background: #63666a;
     color: #fff;
     padding-left: 20px;     
     font-family: 'brandon_grotesquebold',Calibri,Helvetica,Arial,sans-serif;
	 overflow: inherit;
     position: static;
}
#judge-details-table-score .downloadFile{
	font-family: 'brandon_grotesqueregular',Calibri,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #009cde;
}
#judge-details-table-score .tooltip p, #judge-details-table-score .tooltip span{
    font-family: Georgia,Times,'Times New Roman',serif !important;
    font-weight: normal;
    font-size: 0.875rem !important;
}
 #assesmentTable tr:nth-child(2) td{
     white-space: nowrap;
}
 #assesmentTable .overview-table-section-header td{
     background: #f5f5f5;
     border-color: #b0b3b6;
     color: #222731;
     height: 45px;
}
 #judge-details-table-score h3{
     font-size: 1.5rem;
     line-height: 1.7rem;
     text-transform: uppercase;
     margin-bottom: 50px;
}
 .titleParent{
     margin: 0 !important;
}
 .tableassesContainer{
     padding-left: 0px !important;
}
 #judging-details-table h4{
     font-size: .9375rem;
     line-height: 1.1375rem;
     margin: 0 0 1rem;
     font-family: 'brandon_grotesquebold',Calibri,Helvetica,Arial,sans-serif;
}
 #judge-details-table-score .tooltips{
     display: inline-block;
}
 #judge-details-table-score .abt-icon-information:before{
     color: #fff;
}
 #judge-details-table-score .averageBorder, #assesmentTable .averageBorder{
     border-bottom: 1px dashed #fff;
     width: 190px;
}
 #assesmentTable tr:nth-child(9) .averageBorder{
     width: 204px;
}
 #assesmentTable tr:nth-child(10) .averageBorder{
     width: 125px;
}
 #judge-details-table-score .tooltip.show{
     width: 350px;
     --tooltip-dark-bg: none !important;
     --tooltip-color: #ff0000 !important;
}
 #judge-details-table-score .tooltip.show .tooltip-inner{
     max-width: 100%;
     border-radius: 0px;
     padding-top: 3px;
     padding-bottom: 3px;
     background: #63666a !important;
}
 #judge-details-table-score .tooltip.show .tooltip-inner p{
     font-size: 0.875rem !important;
     line-height: 16px !important;
     font-family: Georgia,Times,'Times New Roman',serif;
     background: #63666a !important;
}
 #judging-details-table .toolContent, .toolContentInner{
    position: absolute;
    top: 40px;
    left: 20px;
    width: 100%;
    z-index: 999;
    color: #fff;
    background: #63666a !important;
    display: none;
    font-size: 0.875rem !important;
    font-weight: normal;
     line-height: 16px !important;
     font-family: Georgia,Times,'Times New Roman',serif;
     text-transform: initial;
     padding: 15px;
}
#judging-details-table-score .bs-tooltip-bottom .arrow::before{
    background: #63666a !important;
}
 #assesmentTable .overview-table-row-header{
     text-transform: uppercase;
     font-weight: bold;
     text-align: left;
     font-size: .875rem;
     left: 0;
     position: absolute;
     top: auto;
     width: 23em;
     background: #63666a;
     color: #fff;
     padding-left: 20px;
     font-family: 'brandon_grotesquebold',Calibri,Helvetica,Arial,sans-serif;
     height: -webkit-fill-available;
     height: -moz-fill-available;
     height: fill-available;
}
 #judging-details-table{
     margin-left: 20em;
}
 #assesmentTable tr:last-child{
     height: 45px;
}
 #assesmentTable .customtooltip{
     width: 30px;
     position: relative;
     left: 7px;
}
 #assesmentTable .customtooltip:before{
     color: #fff;
}
 #assesmentTable .medium-green{
     background: rgba(0,177,64,0.1);
}
 #assesmentTable .yellow{
     background: rgba(255,209,0,0.1);
}
 #assesmentTable .red{
     background: rgba(228,0,70,0.1);
}
.loader-parent{
    z-index: 9999;
}
 @media (min-width: 1024px){
     #judge-details-table-score h3{
         font-size: 2.25rem;
         line-height: 2.45rem;
    }
     #judging-details-table h4{
         font-size: 1.25rem;
         line-height: 1.45rem;
    }
}
 
.delet-admin-action {
    color: #009cde;
    font-size: 1rem;
    font-weight: bold;
}
#delete-admin-popup .button {
    display: inline-block;
    margin: 0;
}