@import "../common-imports";

@media (max-width:767px) {
  #pwa-header-text p {
    font-family: $font-brandon-text-reg;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #fff !important;
    text-align: left;
    padding: 1.38rem 0 1.88rem 0.813rem;
  }

  #account-para p {
    font-family: $font-brandon-text-reg;
    font-weight: 390;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    padding: 0 1.875rem 0 0.813rem;
  }

  #account-similac-link, #find-a-retailer-link {
    font-family: $font-brandon-text-reg;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    text-decoration: underline;
    padding: 0.5rem 2rem 0 0;
    display: inline-block;
  }

  #pwa_textheading {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  .pwa_textpara {
    margin-bottom: 0 !important;

    p {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }

    span {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  #pwa_notiheading {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
      margin-bottom: 0.5rem;
    }
  }

  #pwa_textitle,
    #pwa_singleoptin_text {
      p {
        font-family: $font-brandon-text-reg;
        font-weight: 450;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #008931 !important;
        margin-bottom: 0.5rem;
      }
    }

    #pwa_singleoptin_heading {
      p {
        font-family: $font-brandon-text-reg;
        font-weight: 450;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #003087;
        margin-bottom: 0.5rem;
      }
    }
  
    #pwa_singleoptin_para {
      p {
        font-family: $font-brandon-text-reg;
        font-weight: 390;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #003087;
        padding-right: 10px;
      }
    }

  #pwa_textsubtitle {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  #pwa_notification button {
    color: #008931;
    font-size: 1.25rem;
  }

  .pwa-headertext {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    span {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  #pwa_stop_text_alert {
    .btn {
      color: #464646 !important;
      font-weight: 450;
      font-size: 0.75rem !important;
      line-height: 1.125rem !important;
      width: 74%;
      margin-bottom: 2rem;
    }
  }

  #account-settings {
    .similac-form {
      a {
        color: #767676;
      }

      .similac-form-group.form-group {
        margin-bottom: 0;
      }
    }

    .similac-form-group.form-group .pwa_get_me_alert {
      padding: 0.5rem 1.5rem !important;
      background: #FE9E1F !important;
      border-radius: 1.875rem;
      font-family: $font-brandon-text-reg;
      font-style: normal;
      font-weight: 450;
      font-size: 0.75rem !important;
      line-height: 1.125rem !important;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05rem !important;
      text-transform: uppercase !important;
      color: #464646 !important;
      width: 60%;
      margin-bottom: 1rem !important;
      margin-top: 1rem !important;
      mix-blend-mode: normal;
    }

    .similac-form .similac-form-group input.form-control {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 0.875rem;
      line-height: 0.875rem;
      color: #003087;
      margin-top: 0.75rem;
    }

    .similac-form .similac-form-group .similac-label-floating {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }

    .similac-form .similac-form-group .form-check label {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #767676;
      margin-bottom: 0.625rem;
    }

    .similac-form .similac-form-group .similac-error-group.invalid-feedback{
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
    }

    .form-check-label {
      font-weight: 390;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #767676;
    }

    .sms-notify {
      .form-check-label {
        color: #E4002B !important;
      }

      .form-check-label a {
        color: #E4002B !important;
      }

      .checkbox-wrapper {
        input+.checkbox-inner {
          border: 2px solid #E4002B !important;
        }
      }
    }
  }

  .popupSMSSubmit {
    margin-left: 1.5rem;
    border-radius: 0.5625rem;
    color: #464646 !important;
    font-family: $font-brandon-text-reg;
    font-style: normal;
    font-weight: 450;
    line-height: .9375rem;
    text-align: center;
    letter-spacing: .0462rem;
    text-transform: uppercase;
    color: #464646 !important;
    font-size: .875rem;
    height: 2rem;
  }

  .popupSMSCancel {
    border: 1.8px solid #fe9e1f;
    border-radius: 0.5625rem;
    background: #fff;
    font-family: $font-brandon-text-reg;
    height: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: .9375rem;
    text-align: center;
    letter-spacing: .0462rem;
    text-transform: uppercase;
    color: #464646 !important;
    font-size: .875rem;
    margin-right: 1rem !important;
    margin-left: 1rem;
  }

  .similac-modal-pwa {
    .modal-content {
      .modal-header-new {
        text-align: center;
        margin: 0;
        color: #003087;
        font-family: $font-brandon-text-reg;
        font-size: 1.125rem;
        line-height: 1.1875rem;
        font-weight: 450;
        padding-top: 1.25rem;
      }

      .modal-body {
        p {
          font-family: $font-brandon-text-reg;
          color: #003087;
          margin: 1.875rem 0 1.187rem;
          width: 100%;
          max-width: 100%;
          font-weight: 390;
          font-size: .875rem;
          line-height: 1.1875rem;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }
  #account-tab-content{
    .footer nav.footer-main{
        padding: 0 !important;
        .pt-1{
            padding-top: 0 !important;
        }
        .mt-4{
            margin-top: -1rem !important;
            display: inline-flex;
        }
        .groupHeading {
            font-family: $font-brandon-text-reg;
            font-weight: 500 !important;
            font-size:0.875rem !important;
            line-height: 1.188rem !important;
            color: #003087 !important;
            padding-top: 0.5rem !important;
        }
        ul.social-icons-list {
          margin-left: auto;
        }
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 991px) and (orientation : landscape) {
  #pwa-header-text p {
    font-family: $font-brandon-text-reg;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #fff !important;
    text-align: left;
    padding: 1.38rem 0 1.88rem 0.813rem;
  }

  #pwa_textheading {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  .pwa_textpara {
    margin-bottom: 0 !important;

    p {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
      margin: 0;
    }

    span {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  #pwa_notiheading {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
      margin-bottom: 0.5rem;
    }
  }

  #pwa_textitle,
  #pwa_singleoptin_text {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #008931 !important;
      margin-bottom: 0.5rem;
    }
  }
    #pwa_singleoptin_heading {
      p {
        font-family: $font-brandon-text-reg;
        font-weight: 450;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #003087;
        margin-bottom: 0.5rem;
      }
    }
  
    #pwa_singleoptin_para {
      p {
        font-family: $font-brandon-text-reg;
        font-weight: 390;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #003087;
      }
    }
  #pwa_textsubtitle {
    p {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  .pwa-headertext {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    span {
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #003087;
    }
  }

  #pwa_stop_text_alert {
    .btn {
      color: #464646 !important;
      font-weight: 450;
      font-size: 0.75rem !important;
      line-height: 1.125rem !important;
      width: 74%;
      margin-bottom: 2rem;
    }
  }

  #account-setting-phone {
    .container{
      padding-left: 0 !important;
    }
    .pt-sm-2_625, .py-sm-2_625{
      padding-top: 0px !important;
    }
  }

  #account-setting-single-opt-in {
    .container{
      padding-left: 0 !important;
    }
    .pt-sm-2_625, .py-sm-2_625{
      padding-top: 0px !important;
    }
  }

  #account-settings {

    .similac-form {
      a {
        color: #767676;
      }

      .similac-form-group.form-group {
        margin-bottom: 0;
      }
    }

    .similac-form-group.form-group .pwa_get_me_alert {
      padding: 0.5rem 1.5rem !important;
      background: #FE9E1F !important;
      border-radius: 1.875rem;
      font-family: $font-brandon-text-reg;
      font-style: normal;
      font-weight: 450;
      font-size: 0.75rem !important;
      line-height: 1.125rem !important;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05rem !important;
      text-transform: uppercase !important;
      color: #464646 !important;
      width: 60%;
      margin-bottom: 1rem !important;
      margin-top: 1rem !important;
      mix-blend-mode: normal;
    }

    .similac-form .similac-form-group input.form-control {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 0.875rem;
      line-height: 0.875rem;
      color: #63666A;
    }

    .similac-form .similac-form-group .similac-label-floating {
      font-family: $font-brandon-text-reg;
      font-weight: 400;
      font-size: 0.693rem;
      line-height: 1rem;
      color: #63666A;
    }

    .similac-form .similac-form-group .form-check label {
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #767676;
      margin-bottom: 0.625rem;
    }

    .similac-form .similac-form-group .similac-error-group.invalid-feedback{
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 1rem;
      line-height: 1.375rem;
    }

    .form-check-label {
      font-weight: 390;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #767676;
    }

    .pwa_get_me_alert {
      border-radius: 1.5rem;
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #464646 !important;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .sms-notify {
      .form-check-label {
        color: #E4002B !important;
      }

      .form-check-label a {
        color: #E4002B !important;
      }

      .checkbox-wrapper {
        input+.checkbox-inner {
          border: 2px solid #E4002B !important;
        }
      }
    }
  }

  .popupSMSSubmit {
    margin-left: 2.5rem;
    border-radius: 0.5625rem;
    color: #464646 !important;
    font-family: $font-brandon-text-reg;
    font-style: normal;
    font-weight: 450;
    line-height: .9375rem;
    text-align: center;
    letter-spacing: .0462rem;
    text-transform: uppercase;
    color: #464646 !important;
    font-size: .875rem;
    height: 2rem;
  }

  .popupSMSCancel {
    border: 1.8px solid #fe9e1f;
    border-radius: 0.5625rem;
    background: #fff;
    font-family: $font-brandon-text-reg;
    height: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: .9375rem;
    text-align: center;
    letter-spacing: .0462rem;
    text-transform: uppercase;
    color: #464646 !important;
    margin-right: 1rem !important;
    margin-left: 1rem;
  }

  .similac-modal-pwa {
    .modal-content {
      border-radius: 1.156rem !important;

      .modal-header-new {
        text-align: center;
        margin: 0;
        color: #003087;
        font-family: $font-brandon-text-reg;
        font-size: 1.125rem;
        line-height: 1.1875rem;
        font-weight: 450;
        padding-top: 1.25rem;
      }

      .modal-body {
        p {
          font-family: $font-brandon-text-reg;
          color: #003087;
          margin: 1.875rem 0 1.187rem;
          width: 100%;
          max-width: 100%;
          font-weight: 390;
          font-size: .875rem;
          line-height: 1.1875rem;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }

  .footer nav.footer-main{
      padding: 0 !important;
      .pt-1{
          padding-top: 0 !important;
          flex: none !important;
          max-width: none !important;
      }
      .mt-4{
          margin-top: -1rem !important;
          display: inline-flex;
      }
      .groupHeading{
        font-family: $font-brandon-text-reg;
        font-weight: 500 !important;
        font-size:0.875rem !important;
        line-height: 1.188rem !important;
        color: #003087 !important;
        padding-top: 0.5rem !important;
      }
      ul.social-icons-list{
        margin-left: auto;
      }
  }
  .scanner-content {
    background-color: #fff;
    padding: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute !important;
    top: 10%;
    left: 30%;
    width: 35%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 745px) and (orientation : landscape) {
  #account-para p {
    font-family: $font-brandon-text-reg;
    font-weight: 390;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    padding: 0 1.875rem 0 1.313rem;
  }

  #account-similac-link, #find-a-retailer-link {
    font-family: $font-brandon-text-reg;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    text-decoration: underline;
    padding: 0.5rem 2rem 0 0;
    display: inline-block;
  }
}

@media only screen and (min-device-width: 746px) and (max-device-width: 991px) and (orientation : landscape) {
  .col-md-9 {
    padding-left: 0px !important;
  }
  #account-para p {
    font-family: $font-brandon-text-reg;
    font-weight: 390;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    padding: 0 1.875rem 0 1.313rem;
  }

  #account-similac-link, #find-a-retailer-link {
    font-family: $font-brandon-text-reg;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    text-decoration: underline;
    padding: 0.5rem 2rem 0 0;
    display: inline-block;
  }
}

a.accordion__link{
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 450;
  color: #003087 !important;
}
.accordion__header{
  padding: .80rem 1rem .875rem .938rem;
}
.accordion__body{
  padding: 0 !important;
  line-height: 1.938rem !important;
}
#rewards-id{
  p{
    font-family: $font-brandon-text-reg;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.375rem;
    font-style: italic;
    color: #003087;
    margin-bottom: 1.25rem;
  }
}
#rewards-para {
  padding-left: 0 !important;
  p {
    font-family: $font-brandon-text-reg;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
#account-setting-phone {
  .container{
    padding-left: 0 !important;
  }
}
#account-setting-single-opt-in {
  .container{
    padding-left: 0 !important;
  }
}
#find-a-retailer{
  p{
    background: url('data-url: /content/dam/an/similac/global/icons/navigation-icon-medium.png') no-repeat 125px 2px transparent;
    font-family: $font-brandon-text-reg;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #003087;
    background-size: 18px;
  }
}
#find-retailer-para{
  p {
      font-family: $font-brandon-text-reg;
      font-weight: 420;
      font-size: 0.75rem;
      line-height: 1.063rem;
      color: #003087;
    }
}
#reward-para{
  p{
    font-family: $font-brandon-text-reg;
    font-weight: 390;
    font-size: 1rem;
    line-height: 1.063rem;
    color: #003087;
    margin-bottom: 0 !important;
    padding-left: 0;
  }
}
.a-link {
  background: url('data-url: /content/dam/an/similac/global/icons/navigation-icon-medium.png') no-repeat 170px 2px transparent;
  padding-bottom: 1rem;
  padding-top: 4px;
  background-size: 18px;
}

/*CSS for offers page tabs start*/
#offers-tabs {
  .nav-tabs {
      border-bottom: 1px solid #009cde !important;
      font-family: $font-brandon-text-reg;
      font-weight: 450;
      font-size: 0.938rem;
      line-height: 1.25rem;
      [tabindex="-1"]:focus{
          border:0 !important;
      }
      a {
          color: #003087 !important;
          text-decoration: none;
          padding: 1rem;
      }

      a[aria-selected="true"] {
          border-bottom: 3px solid #FE9E1F;
          outline: 0 !important;
      }
  }
  
  .list {
      .second-nav-list {
          list-style-type: none !important;
          margin-top: -30px;
          flex-direction: row !important;
      }
      .nav-item{
          margin: 10px;
          font-family: $font-brandon-text-reg;
          font-style: normal;
          font-weight: 390;
          font-size: 0.813rem;
          line-height: 1.125rem;
          text-align: center;
      }
      a {
          color: #767676;
      }
  }
}
/*CSS for offers page tabs ends*/

/*CSS for Accounts page tabs starts*/
#account-tab-content {
  .button {
      .similac-form-group {
        text-align: center;
      }
      #account-logout{
        text-align: center;
        width: 12.75rem !important;
        height: 2.75rem !important;
        color: #464646!important;
        font-size: 1.125rem!important;
        font-style: normal!important;
        line-height: 1.125rem!important;
        margin: 1rem 0 1.875rem 0;
      }
  }
  .footer{
    position: relative;
    z-index: 0;
  }
  .list{
    position: relative;
    z-index: 1;
  }
}
/*CSS for Accounts page tabs ends*/

/*CSS for Rewards page tabs starts*/
#rewards-tab-content {

  .ribbonPWA {
    position: absolute;
    left: 0;
    right: 0;
  }
  #rewards-txt {
    p{
      font-family: $font-brandon-text-reg;
      font-weight: 390;
      padding-top: 25px;
    }
  }

  #rewards-accordion {
    background-color: #F0F9FD !important;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  
  #rewards-accor-title p{
    font-family: $font-brandon-text-reg;
    font-style: normal;
    font-weight: 450;
    font-size: 1.25rem;
    line-height: 22px;
    color: #003087;
  }

  #rewards-accor-subtitle p{
    font-family: $font-brandon-text-reg;
    font-style: normal;
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 22px;
    color: #003087;
  }

  #rewards-disclaimer {
    p {
      font-family: $font-brandon-text-reg;
      font-style: normal;
      font-weight: 390;
      font-size: 0.75rem;
      line-height: 18px;
      color: #767676;
      padding-top: 45px;
    }
    a {
      color: #767676 !important;
      text-decoration: underline;
    }
  }
  .a-link{
    text-align: center;
  }
}
.cmp-tabs__tabpanel.a-tabs__tab-pane.tab-pane {
  .row-container {
    outline: 0 !important;
  }
}

/*CSS for Rewards page tabs ends*/

/*CSS for tab blue line issue in iOS*/
.tab-content>.active{
  outline: 0;
}


/* CSS for QR Code Scanner**/
.rewardsCameraBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FE9E1F;
  border: none;
  border-radius: 50px;
  font-family: $font-brandon-text-reg;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 450;
  letter-spacing: 0.07rem;
  padding: 0.313rem;
  text-transform: uppercase;
  color: #464646;
  margin-bottom: 0.7rem;
  img{
    margin-left: 0.625rem;
    width: 1.375rem;
    height: 1.375rem;
    vertical-align: middle;
  }
}
.savingsCameraBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  background-color: #FE9E1F;
  border: none;
  border-radius: 50px;
  font-family: $font-brandon-text-reg;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 450;
  height: auto;
  letter-spacing: 0.07rem;
  padding: 0.313rem;
  text-align: center;
  text-transform: uppercase;
  color: #464646;
  margin-bottom: 0.7rem;
  img{
    margin-left: 0.625rem;
    width: 1.375rem;
    height:1.375rem;
    vertical-align: middle;
  }
}

.scanner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.scanner-content {
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 20%;

  button {
    position: relative;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
  }
}
.scanner-popup-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  #scan-overlay {
    padding-top: 2rem;

    .pie {
      transform: translate(-50%, 0%) !important;
    }
  }

  .modal-body {
    padding: 2rem 0 2rem 0;
  }
}
#qrScanProgressMsg{
  font-family: $font-brandon-text-reg;
  font-size: 0.875rem !important;
  line-height: 1rem !important;
  color: #003087;
  text-align: center !important;
  font-weight: 390 !important;
}
#locate-qr-code-link {
  font-family: $font-brandon-text-reg;
  font-size: 1rem !important;
  line-height: 1rem !important;
  color: #AF6401 !important;
  text-align: center !important;
  text-decoration: underline !important;
  font-weight: 450 !important;
}

/* iPhone 4/4S & 5/SE start */
@media 
    only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
{
    .savingsCameraBtn {
      padding-right : 0.413rem !important;
    }
}
@media screen and (device-aspect-ratio: 40/71) {
    .savingsCameraBtn {
      padding-right : 0.413rem !important;
    }
}
@media only screen and (device-width: 375px) and (orientation : portrait)  and (-webkit-min-device-pixel-ratio: 2){
    .savingsCameraBtn {
      padding-right : 0.413rem !important;
    }
}
@media only screen and (device-width: 375px) and (orientation : portrait) {
    .savingsCameraBtn {
      padding-right : 0.413rem !important;
    }
}
/* iPhone 4/4S & 5/SE end */

//PWA offers earn more points popup
.how-to-earn-popup-content {
  background-color: #003087;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  color: white;
  border-radius: 0.9rem;
  border: 2px solid #fff;
}

#how-to-earn-popup {
  .how-to-earn-modal {
    top: 15%;
    left: 0;
    width: 100%;
    margin: auto;
    justify-content: center;
    z-index: 1000;
    position: relative;
  }

  .modal-header {
    width: 100%;
    border-bottom: none !important;
  }

  .modal-close-earn-reward {
    background: transparent;
    border: none;
    text-align: right;
    padding-bottom: 0 !important;
  }

  .sim-icon {
    width: 1rem;
    height: 1rem;
  }

  .modal-body {
    padding-top: 0;

    img {
      width: 70%;
    }
  }

  .popupTitle {
    font-family: $font-brandon-text-reg;
    font-size: 1.25rem;
    line-height: 1.375rem;
    font-weight: 450;
  }

  #pop-up-locate-qr-code-link {
    font-family: $font-brandon-text-reg;
    font-size: 0.875rem;
    line-height: 1.1255rem;
    font-weight: 450;
    padding-left: 11%;
    text-decoration: underline;
    color: #fff;
  }

  .locate-qr-text {
    margin-bottom: 2rem;
  }

  #locate-qr-code-footnote {
    text-align: left;
    margin-left: 15%;

    p {
      font-family: $font-brandon-text-reg;
      font-size: 0.75rem;
      line-height: 1.1255rem;
      font-weight: 390;
      padding-top: 2rem;
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 991px) and (orientation : landscape) {
  .how-to-earn-popup-content {
    width: 50%;
  }

  #how-to-earn-popup {
    .modal-body {
      padding-top: 0;

      img {
        width: 50% !important;
      }
    }
  }

  #pop-up-locate-qr-code-link {
    font-family: $font-brandon-text-reg;
    font-size: 0.875rem;
    line-height: 1.1255rem;
    font-weight: 450;
    padding-left: 11%;
    padding-left: 9% !important;
    color: #fff !important;
  }

  #locate-qr-code-footnote {
    text-align: left;
    margin-left: 25% !important;
  }
}