@import "../common-imports";

.card-section {
  margin-top: 1.875rem;
  .card-wrapper {
    margin-bottom: 2.77rem;
  }
}
.card-align-button {
  display: flex;
  flex-flow: column;
}

.card-bottom-border {
  border-bottom: 7px solid;
}
.card-top-border {
  border-top: 7px solid;
}
