@import "../common-imports";

.offer-cards-wrapper {
.card-offer-wrap {
    &:not(:nth-child(3n)){
        margin-right:1.875rem;
    }
    @include media-breakpoint-up(lg) {
        max-width: 15.938rem;
        padding: 0;
    }
    @include media-breakpoint-only(md) {
        &:nth-child(odd) {
            padding-left: 0;
        }
        &:nth-child(even) {
            padding-right: 0;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}
}


.card-offer {
    border: 0;
    
    .card-body {
        padding: 0;
    }
    .font-code-offer{
        font-family: $font-roboto-reg;
        font-size: 1.125rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        margin: 0.938rem 0 0.625rem;
    }

    .font-title-offer{
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin: 0.938rem 0 0.313rem;
    }

    .font-text-offer{
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-bottom: 0.625rem;
    }
    .mb-2_5 {
        margin-bottom:2.5rem !important;
    }
    .mb-0_5 {
        margin-bottom:5rem !important;
    }
    .product-img {
        max-width: 200px;
        max-height: 110px;
    }
    .retailer-img {
       margin: 0.313rem 0 .625rem;
    }
    .footnote{
        display: block;
        font-family: $font-roboto-reg;
        font-size: 0.75rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #002f87;
        margin-bottom: 0.938rem !important;
    }
    
    &.target{
        font-family: arial;
        span.headerTitle {
            vertical-align: middle;
            line-height: initial;
        }

        .offerOpened{
            border:2px solid $mild-red;
            margin: 0 0.75rem;
            padding:0.75rem;
            border-radius: 10px;
        }
        .card-body{
        border:1px dashed $black;
        border-top:none;
        border-bottom-right-radius:0.5rem;
        border-bottom-left-radius:0.5rem;
        .posterImg{
            max-width:102px;
        }
        }
        h4{
            font-size: 1.875rem;
            line-height: 2rem;
            sup{
                top:-0.22em;
            }
        }
        p{
            font-size: 1.125rem;
            line-height: 1.25rem
        }
        a{
            color:inherit;
            &.btn{
                cursor:pointer;
            }
            &.text-decoration-underline{
            text-decoration:underline;
            }
        }
        
    .card-text-small{
        font-size:0.8125rem;
        line-height: 1.3rem;
    }
        .btn{
            width:90%;
        }
        .card-header{
            padding: 0 0;
            span{
            padding:0.55rem 0;
            }
            .border-red{
                    border: 1px solid $mild-red;
            }
            .border-black{
                border: 1px solid $black;
                margin-top: -1px;
                padding-bottom:9px;
            }
        }
    }

}

.dark-shaded-bg{
        background-color: $intense-blue;
        
    }
.offersContainer .footnote {
    margin: 0;
    display: block;
}