@import "../common-imports";

.faq {
  &__wrapper {
    margin-top: 1rem;
  }
  &__section{
    margin-bottom: 2.813rem;
  }
  &__results-count {
    margin: 0 5px;
  }
  &__results {
    font-family: $font-roboto-reg;
    font-weight: 400;
    font-size: 1rem;
    color: $smalt;
    margin-top: 2.2rem;
  }
  &__title {
    border-bottom: 1px solid $cerulean;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  &__header {
    margin-bottom: 1.5rem;
  }
  &__header,
  &__title {
    font-family: $font-brandon-text-bold;
    font-size: 1.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $smalt;
  }
  &__download,
  &__note,
  &__footnote {
    font-family: $font-roboto-reg;
    font-size: 1.125rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $smalt;
  }
  &__download {
    font-weight: normal;
    margin-top: 1.875rem;
    &-link {
      text-decoration: underline;
      &,
      &:hover {
        color: $tangerine;
      }
    }
  }
  &__note {
    font-weight: bold;
    margin-bottom: 1.875rem;
    padding-top:1rem;
  }
  &__footnote {
    font-size: 0.75rem;
    font-weight: normal;
  }
  a.accordion__link{
    max-width:90%;
    display:inline-block;
  }
}
