#ff-navigation .mobile-button {
    float: left;
    width: 7rem;
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
    a {
        width: 100%;
        box-sizing: border-box;
    }
}

#ff-navigation {
    #previous-question {
        .btn.btn-primary.back {
            color: #fe9e1f !important;
            background-color: #fff;
            border: 3px solid #FE9E1F;
            padding: .369rem .75rem;
        }
    }
}

#formula-finder-contents {
    min-height: 10rem;
}

.radio-label sup {
    top: 0;
}

.tummy-tool-wrap {
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    padding: 3px;
    .tummy-tool-inner {
        padding: 1rem;
    }
    @media (max-width:375px) {
        padding: 0px;
    }
}

.fsize-12 {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 1rem 0;
    color: #002f87;
}