@import "../common-imports";

footer {
	nav {
		.footer-secondnav {
			flex-wrap: wrap;
		}
		&.footer-main {
			padding: 1.85rem 0 1.85rem;
			@include media-breakpoint-only(md) {
				padding: 0.9375rem 0 1.85rem;
			}
			.groupHeading {
				color: $smalt;
				font-family: $font-roboto-bold;
				font-weight: bold;
				margin-bottom: 1rem;
				font-size: 1rem;
    			line-height: 1.375;
			}
			ul {
				padding: 0;
				list-style: none;
				margin: 0;
				font-size: 0;
				li {
					margin-bottom: 0.75rem;
					a {
						font-family: $font-roboto-reg;
						font-weight: normal;
						font-size: 1rem;
						color: $smalt;
						line-height: 1.375;
					}
				}
				&.social-icons-list {
					@include media-breakpoint-down(sm) {
						margin-bottom: 3rem;
					}
					li {
						display: inline-block;
						margin-right: 0.7rem;
						vertical-align: middle;
						img {
							display: block;
						}
						.sim-icon {
							width: 2.5rem;
							height: 2.5rem;
						}
					}
				}
			}
			span {
				&.copyrights {
					color: $charcoal;
					margin-top: 3em;
					display: block;
					font-size: 0.75rem;
					line-height: 1;
					@include media-breakpoint-down(sm){
						
						display: inline;
						font-size: .75rem;
						line-height: 1;						
						position: relative;
						top: -50px;
					}
				}
			}
		}
	}
	@include media-breakpoint-up(sm) {
		nav {
			&.footer-top {
				text-align: center;
				ul {
					li {
						display: inline-block;
						padding-right: 0.5em;
						padding-left: 0.5em;
						border-right: 1px solid $white;

						&:first-of-type {
							padding-left: 0;
						}

						&:last-of-type {
							border-right: 0;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.footer-secondnav {
			.nav-item {
				a {
					border-right: 2px solid $white;
				}
				&:nth-child(6) { 
					a{border-right:none;}
				  }
			}
		}
	}
	@include media-breakpoint-down(md) {
		.second-nav {
			height: auto;
		}
	}
	@include media-breakpoint-down(sm) {
		.second-nav {
			height: auto;
			.footer-secondnav {
				align-items: flex-start;
				padding: 1rem 0;
				.nav-item {
					padding: 0 0 0.813rem !important;
				}
			}
		}
	}
}
