@import "../common-imports";
@import "./products"; // reuse product landing page ui
.globalSearch {
  &{
    margin-top: 3.5rem;
    @include media-breakpoint-only(md) {
      margin-top: 5.25rem
    }
    @include media-breakpoint-down(sm) {
      margin-top: 2.875rem
    }
  }
    @include landingStyles;
  // &__title{

  // }
  &__items {
      border-bottom: 0.063rem solid #007db3;
      padding: 1.875rem 0;
    a {
     margin-bottom: 0.625rem;
      color: #fe9e1f;
      text-decoration: underline;
    }
    p {
     
      color: #002f87;
    }
    a , p{
        font-family: Roboto;
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
    }
  }
}
