@import "../common-imports";

@media (max-width: 767px) {
    #pwa-scan-bonus {
        background: #003087 !important;
        font-family: $font-brandon-text-reg;
        font-style: normal;
        font-weight: 450;
        text-align: center;
        margin-top: 1.875rem !important;

        .cmp-tabs__tab--active {
            border-color: none !important;
        }
        .btn{
            padding: 0.75rem 0.75rem;
            box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
        }
        .btn:hover, .btn:focus, a:hover, a:focus{
            background: #FE9E1F;
        }
        .card-img-top{
            width: 80% !important;
        }

		.my-rewards-reversible-cart .cmp-teaser__image .cmp-image__image {
            max-width: 8.563rem !important;
        }

        #scan-bonus-title {
            p {
                color: #ffffff;
                font-size: 1.75rem;
                line-height: 2rem;
                padding-bottom: 0.875rem;
                font-family: $font-brandon-text-reg;
			    font-weight: 450;
            }
        }

        #scan-bonus-subtitle {
            p {
                color: #ffffff;
                font-size: 1.125rem;
                line-height: 1.563rem;
                font-family: $font-brandon-text-reg;
                font-weight: 450;
            }
        }

		#scan-bonus-view {
            padding: 5rem 0 1.125rem 0;

            p {
                color: #ffffff;
                font-size: 0.75rem;
                line-height: 1.0425rem;
                font-family: $font-brandon-text-reg;
                font-weight: 390;
            }
        }

		.button {
			padding-top: 0.625rem;
            text-align: center;
		}

        #pwa-bonus-dashboard {
			width: 94%;
			border-radius: 1.875rem;
			font-weight: 450;
			font-size: 1.125rem;
			font-family: $font-brandon-text-reg;
            margin-bottom: 1rem;
            line-height: 1.438rem;
            color: #464646 !important;
            display: block !important;
            box-shadow: none!important;
            outline: none !important;
            border: 0 !important; 
            margin-left: 0.6rem;
        }

        .button{
            .btn-primary{
                color: #464646 !important;
            }
        }
        .image-block {
            display: block !important;
        }
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 991px) and (orientation : landscape) {
    #pwa-scan-bonus {
        background: #003087 !important;
        color: #ffffff;
        font-family: $font-brandon-text-reg;
        font-style: normal;
        font-weight: 450;
        margin-top: 1.875rem !important;
        .cmp-tabs__tab--active {
            border-color: none !important;
            box-shadow: none!important;
            outline: none !important;
            border: 0 !important; 
        }
        .btn{
            padding: 0.75rem 0.75rem;
            box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
        }
        .btn:hover, .btn:focus, a:hover, a:focus{
            background: #FE9E1F;
        }
        .card-img-top{
            width: 80% !important;
        }

		.my-rewards-reversible-cart .cmp-teaser__image .cmp-image__image {
            max-width: 40% !important;
        }

        #scan-bonus-title {
            p {
                color: #ffffff;
                font-size: 1.75rem;
                line-height: 2rem;
                padding-bottom: 0.875rem;
                font-family: $font-brandon-text-reg;
                font-weight: 450;
            }
        }

        #scan-bonus-subtitle{

            p {
                color: #ffffff;
                font-size: 1.125rem;
                line-height: 1.563rem;
                font-family: $font-brandon-text-reg;
                font-weight: 450;
            }
        }

		#scan-bonus-view {
            padding: 5rem 0 1.125rem 0;

            p {
                color: #ffffff;
                font-size: 0.75rem;
                line-height: 1.0425rem;
                font-family: $font-brandon-text-reg;
                font-weight: 390;
            }
        }

        .button {
            padding-top: 0.625rem;
            text-align: center;
        }

		#pwa-bonus-dashboard {
			width: 94%;
			border-radius: 1.875rem;
			font-weight: 450;
			font-size: 1.125rem;
			font-family: $font-brandon-text-reg;
            margin-bottom: 4rem;
            line-height: 1.438rem;
            color: #464646;
            display: block !important;
            box-shadow: none!important;
            outline: none !important;
            border: 0 !important; 
            margin-left: 0.6rem;
        }
        .image-block {
            display: block !important;
        }
    }
}