@import "../common-imports";

.retailer-redeemcoupon {
    .video-player {
        height: 17.313rem;
        @include media-breakpoint-down(md){
          height: 10.5rem;
        }
    }
    .select-retailer, .select-paper {
        cursor: pointer;
      &:hover {
        text-decoration: underline !important;
      }
    }
    h2{
      margin-bottom: 1.875rem;
      font-size: 2.125rem;
      @include media-breakpoint-down(md){
        font-size: 1.75rem;
      }
    }
    .retailer-select-card {
      min-height: 13.75rem;
    }
}
.retailer-selection.retailer-selection h2.para-content-1 {
  margin-bottom: 1.875rem;
}

.retailer-selection .reversible-cart-block h3 {
  margin-bottom: 1.25rem;
} 
.retailer-selection .reversible-cart-block ol li {
  margin-bottom: 2.5rem;
}

div#select_retailer .row.bg-alice-blue.py-4.mx-0.h-100 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  /* background-color: rgba(255, 255, 255, 0); */
}
@include media-breakpoint-down(md){
  .retailer-selection .reversible-cart-block h3 {
    font-size: 1.5rem;
  }
}
@include media-breakpoint-down(sm){
  .retailer-selection.retailer-selection h2.para-content-1 {
    margin-bottom: 1rem;
  }
  .retailer-selection .reversible-cart-block h3 {
    margin-top: 1.875rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
  } 
  .retailer-selection .reversible-cart-block ol li{
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}

.pwa-select-retailer-btn-redeem {
  color: $charcoal-light;
  font-size: 1.125rem;
  font-family: $font-brandon-text-reg;
  line-height: 1rem;
  margin: 0.5rem 0 0.188rem 0;
}
.pwa-retailer-ask-redeem {
  margin: 0;
}
.pwa-retailer-coupon-btn {
  background: #fff;
  border-radius: 50px;
  color: $charcoal-light;
  font-size: 1.125rem;
  width: 100%;
  max-width: 19.6875rem;
  min-height: 2.75rem;
  padding: 0;
  text-align: center;
  letter-spacing: .0507rem;
  text-transform: uppercase;
  font-family: $font-brandon-text-reg;
  font-style: normal;
  font-weight: 450;
  margin: 0.8rem 0;
  border: 2px solid #FE9E1F;
}

.pwa-retailer-bottom-text-redeem {
  font-family: $font-brandon-text-reg;
  color: #003087;
  font-style: normal;
  font-weight: 390;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 18.75rem;
}

#pwa-confirm-redeem {
  top: 23%;
}

#pwa-confirm-redeem .modal-dialog {
  height: 12.5rem;
  background: #FFFFFF;
  width: 17rem;
  margin: 0 auto;
  border-radius: 1.156rem !important;
}

#pwa-confirm-redeem .modal-content {
  height: 12.5rem;
  border: none;
  border-radius: 1.156rem!important;
}

#pwa-confirm-redeem .modal-footer {
  margin-right: 1rem !important;
  border-top: none !important;
  padding: 0.5rem 1rem !important;
}

#pwa-confirm-redeem .modal-header {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

#pwa-confirm-redeem .pwa-popup-body-text {
  padding: 0 0.75rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 991px) and (orientation : landscape) {
  #redeem_coupon_pwa .pwa-offer-card-right {
    margin: auto;
    padding-right: 2%!important;
    display: block !important;
    padding-left: 2% !important;
  }
  .pwa-retailer-bottom-text-redeem {
    font-family: $font-brandon-text-reg;
    color: #003087;
    font-style: normal;
    font-weight: 390;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 18.688rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
.do-footer-redeem {
  font-family: $font-brandon-text-reg;
  font-weight: 390;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: left;
  color: #767676;
  padding-top: 1rem;
}