@import "../common-imports";

.retailer-coupon {
    .video-player {
        height: 17.313rem;
        @include media-breakpoint-down(md){
          height: 10.5rem;
        }
    }
    .select-retailer, .select-paper {
        cursor: pointer;
      &:hover {
        text-decoration: underline !important;
      }
    }
    h2{
      margin-bottom: 1.875rem;
      font-size: 2.125rem;
      @include media-breakpoint-down(md){
        font-size: 1.75rem;
      }
    }
    .retailer-select-card {
      min-height: 13.75rem;
    }
}
.retailer-selection.retailer-selection h2.para-content-1 {
  margin-bottom: 1.875rem;
}

.retailer-selection .reversible-cart-block h3 {
  margin-bottom: 1.25rem;
} 
.retailer-selection .reversible-cart-block ol li {
  margin-bottom: 2.5rem;
}

div#select_retailer .row.bg-alice-blue.py-4.mx-0.h-100 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
@include media-breakpoint-down(md){
  .retailer-selection .reversible-cart-block h3 {
    font-size: 1.5rem;
  }
}
@include media-breakpoint-down(sm){
  .retailer-selection.retailer-selection h2.para-content-1 {
    margin-bottom: 1rem;
  }
  .retailer-selection .reversible-cart-block h3 {
    margin-top: 1.875rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
  } 
  .retailer-selection .reversible-cart-block ol li{
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}

/*PWA CSS starts here*/
@media (max-width:767px) {
.pwa-retailer-bottom-text {
  font-family: $font-brandon-text-reg;
  color: #003087;
  font-style: normal;
  font-weight: 390;
  font-size: 0.75rem;
  line-height: 22px;
}

.retailer-coupon .pwa-offer-container {
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8.86px;
}

#retailer_coupon_pwa .container {
  text-align: center;
}

#retailer_coupon_pwa .container.pwa-retailer-coupon .pwa-retailer-bottom-text{
  font-size: 0.75rem;
  color: $grey;
  font-family: $font-brandon-text-reg;
  font-style: normal;
  padding: 5%;
  font-weight: 420;
  align-items: center;
  text-align: center;
  display: flex;
  line-height: 12px;
  justify-content: center;
}

.retailer-coupon .pwa-offer-container .pwa-offer-card-right{
  display: flex;
  margin: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  justify-content: center;
  text-align: center;
}

.retailer-coupon .pwa-offer-container .pwa-offer-card-left .pwa-offer-card-heading{
    font-size: 2.125rem;
    font-family: $font-brandon-text-reg;
    color: #003087;
    font-style: normal;
    font-weight: 500;
    line-height: 2.125rem;
}
.retailer-coupon .pwa-offer-container .pwa-offer-card-left .pwa-bogo-offer-card-heading{
  font-size: 1.25rem;
  font-family: $font-brandon-text-reg;
  color: #003087;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem;
}

.bold-text-bogo{
  font-weight: 450;
}

#retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-body {
  border: none;
}

#retailer_coupon_pwa .card-offer-wrap .card-offer.target {
  border: 1px solid #ccc;
  border-radius: 0.50rem;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}

#retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-header .leftspan{
  border-top-left-radius: 0.5rem;
}

#retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-header .rightspan{
  border-top-right-radius: 0.5rem;
  text-transform: uppercase;
  line-height: 20px;
}
#retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-header .border-black{
  padding: 0.59rem;
}

#retailer_coupon_pwa .pwa-offer-card-para {
  color: #003087;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
}

#retailer_coupon_pwa .pwaTargetOnlineTopText {
  font-size: 1rem !important;
  margin: 1.875rem 0 1.25rem;
}

#retailer_coupon_pwa .pwaTargetOfferValue {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  font-style: normal;
  font-family: Arial;
}

#retailer_coupon_pwa .pwaTargetOnlineValid {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.6875rem;
  text-align: center;
}

#retailer_coupon_pwa .pwaExternalLink {
  padding: 0.5rem 1.5rem;
  height: 2.75rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #464646 !important;
  letter-spacing: 0.050rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.125rem !important;
  font-weight: 450;
}

#retailer_coupon_pwa .pwaCopyPromoCode {
  background: #FFFFFF !important;
  border: 2px solid #FE9E1F;
  margin-top: 0.9375rem !important;
}

#retailer_coupon_pwa .pwaTargetSaveText {
  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
  font-style: normal;
  color: #CC0001;
}

#retailer_coupon_pwa .pwaTargetTerms {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  margin: 0.75rem 0;
}

#retailer_coupon_pwa #promocode {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

#retailer_coupon_pwa #promocode p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
}

#retailer_coupon_pwa .pwaPromoCodeText {
  color: #AF6401;
  text-align: center;
}

#retailer_coupon_pwa .pwaAmazonPromo {
  font-family: $font-brandon-text-reg;
  font-style: normal;
  font-weight: 450;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

#retailer_coupon_pwa .pwaTargetOnlineCoupon {
  margin-top: 1.875rem;
}

.pwaTargetHeader span {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 0.625rem !important;
  line-height: 0.6875rem !important;
}

#retailer_coupon_pwa .pwaRetailerTopText {
  font-size: 1rem !important;
  margin: 1.875rem 0 1.25rem;
}

#retailer_coupon_pwa .pwaRetailerSaveText {
  font-size: 2.125rem !important;
  line-height: 2.125rem !important;
  font-style: normal;
}

#retailer_coupon_pwa .pwaRetailerValue {
  font-family: $font-brandon-text-reg;
  font-style: normal;
  font-weight: 450;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0 0.5rem 0 0.5rem;
}

#retailer_coupon_pwa .pwaRetailerTerms {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  margin: 0 0 .75rem 0;
}

#retailer_coupon_pwa .pwaTargetOfflineValid {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.6875rem;
  text-align: center;
  color: #000000;
  margin-top: 2px;
}

#retailer_coupon_pwa .pwaRetailerDataCoupon {
  margin-top: 1.875rem;
}

#retailer_coupon_pwa .pwaTargetOfflineTopText {
  font-size: 1rem !important;
  margin: 1.875rem 0 2.8125rem;
}

.pwaTextMiddle {
  padding: 0% 15% !important;
  text-align: left !important;
}

.pwaSaveSubTitle {
  margin-bottom: 0 !important;
}

.pwaTextWrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 991px) and (orientation : landscape) {
  .pwa-retailer-bottom-text {
    font-family: $font-brandon-text-reg;
    color: #003087;
    font-style: normal;
    font-weight: 450;
    font-size: 0.75rem;
    line-height: 22px;
  }
  
  .retailer-coupon .pwa-offer-container {
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8.86px;
  }
  
  .pwa-offer-card-right {
    padding-left: 15% !important;
    padding-right: 15% !important;
    display: block !important;
  }

  #retailer_coupon_pwa .pwa-offer-container .pwa-offer-card-right img {
    width: 75%!important;
  }
  
  #retailer_coupon_pwa .container {
    text-align: center;
  }
  
  #retailer_coupon_pwa .container.pwa-retailer-coupon .pwa-retailer-bottom-text{
    font-size: 0.75rem;
    color: $grey;
    font-family: $font-brandon-text-reg;
    font-style: normal;
    padding: 5%;
    font-weight: 420;
    align-items: center;
    text-align: center;
    display: flex;
    line-height: 12px;
    justify-content: center;
  }
  
  .retailer-coupon .pwa-offer-container .pwa-offer-card-left{
    text-align: center;
  }

  .retailer-coupon .pwa-offer-container .pwa-offer-card-right{
    display: flex;
    margin: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    justify-content: center;
  }
  
  .retailer-coupon .pwa-offer-container .pwa-offer-card-left .pwa-offer-card-heading{
      font-size: 2.125rem;
      font-family: $font-brandon-text-reg;
      color: #003087;
      font-style: normal;
      font-weight: 500;
      line-height: 2.125rem;
  }
  .retailer-coupon .pwa-offer-container .pwa-offer-card-left .pwa-bogo-offer-card-heading{
    font-size: 1.25rem;
    font-family: $font-brandon-text-reg;
    color: #003087;
    font-style: normal;
    font-weight: 450;
    line-height: 2.125rem;
}
  #retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-body {
    border: none;
  }
  
  #retailer_coupon_pwa .card-offer-wrap .card-offer.target {
    border: 1px solid #ccc;
    border-radius: 0.50rem;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  }
  
  #retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-header .leftspan{
    border-top-left-radius: 0.5rem;
  }
  
  #retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-header .rightspan{
    border-top-right-radius: 0.5rem;
    text-transform: uppercase;
    line-height: 20px;
  }

  #retailer_coupon_pwa .card-offer-wrap .card-offer.target .card-header .border-black{
    padding: 0.59rem 0 0.59rem 0;
  }
  
  #retailer_coupon_pwa .pwa-offer-card-para {
    color: #003087;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
  }
  
  #retailer_coupon_pwa .pwaTargetOnlineTopText {
    font-size: 1rem !important;
    margin: 1.875rem 0 1.25rem;
  }
  
  #retailer_coupon_pwa .pwaTargetOfferValue {
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    font-style: normal;
    font-family: Arial;
  }
  
  #retailer_coupon_pwa .pwaTargetOnlineValid {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.6875rem;
    text-align: center;
  }
  
  #retailer_coupon_pwa .pwaExternalLink {
    padding: 0.5rem 1.5rem;
    height: 2.75rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #464646 !important;
    letter-spacing: 0.050rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.125rem !important;
    font-weight: 450;
  }
  
  #retailer_coupon_pwa .pwaCopyPromoCode {
    background: #FFFFFF !important;
    border: 2px solid #FE9E1F;
    margin-top: 0.9375rem !important;
  }
  
  #retailer_coupon_pwa .pwaTargetSaveText {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    font-style: normal;
    color: #CC0001;
  }
  
  #retailer_coupon_pwa .posterImg {
    max-height: 3.1875rem !important;
  }
  
  #retailer_coupon_pwa .pwaTargetTerms {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    margin: 0.75rem 0;
  }
  
  #retailer_coupon_pwa #promocode {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }
  
  #retailer_coupon_pwa #promocode p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
  }
  
  #retailer_coupon_pwa .pwaPromoCodeText {
    color: #AF6401;
    text-align: center;
  }
  
  #retailer_coupon_pwa .pwaAmazonPromo {
    font-family: $font-brandon-text-reg;
    font-style: normal;
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  
  #retailer_coupon_pwa .pwaTargetOnlineCoupon {
    margin-top: 1.875rem;
  }
  
  .pwaTargetHeader span {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 0.625rem !important;
    line-height: 0.6875rem !important;
  }

  #retailer_coupon_pwa .pwaRetailerTopText {
    font-size: 1rem !important;
    margin: 1.875rem 0 1.25rem;
  }
  
  #retailer_coupon_pwa .pwaRetailerSaveText {
    font-size: 2.125rem !important;
    line-height: 2.125rem !important;
    font-style: normal;
  }
  
  .pwaTextMiddle {
    padding: 0% 15% !important;
    text-align: left !important;
  }

  .pwaSaveSubTitle {
    margin-bottom: 0 !important;
  }

  #retailer_coupon_pwa .pwaRetailerValue {
    font-family: $font-brandon-text-reg;
    font-style: normal;
    font-weight: 420;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0 0.5rem 0 0.5rem;
  }
  
  #retailer_coupon_pwa .pwaRetailerTerms {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    margin: 0 0 .75rem 0;
  }
  
  #retailer_coupon_pwa .pwaTargetOfflineValid {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.6875rem;
    text-align: center;
    color: #000000;
    margin-top: 2px;
  }
  
  #retailer_coupon_pwa .pwaRetailerDataCoupon {
    margin-top: 1.875rem;
  }
  
  #retailer_coupon_pwa .pwaTargetOfflineTopText {
    font-size: 1rem !important;
    margin: 1.875rem 0 2.8125rem;
  }

  .pwaTextWrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  }