@import "../common-imports";

.ribbon{
	border-top: 1px solid $pacific-blue;
	border-bottom: 1px solid $pacific-blue;
	.ribbon-text {
		font-family: $font-roboto-bold;
		font-weight: bold;
		font-size: 1.125rem;
		color: $smalt;
		line-height: 1.5;
	}
	.btn-primary {
		width: 100%;
	}
	@include media-breakpoint-down(sm){
		.ribbon-text {
			text-align: center;
			font-weight: 500;
		}
	}
}
.ribbonPWA{
	font-family: $font-brandon-text-reg;
	height: auto;
    background-color: #008931;
    font-size: 1rem;
	line-height: 0.938rem;
	font-weight: 420;
    text-align: center;
    color: #fff !important;
    padding: 0.375rem 0 0.375rem 0;
	margin-top: 1rem;
}
.ribbonZeroOfferPWA {
	margin-top: 1rem !important;
	margin-bottom: 0 !important;
}