div#register-global-id {
    width: 100%;
    margin: 0 auto;
     /* display: none;*/
    .container {
        padding: 0;
    }
    .invalid-feedback-display{
        display: block;
        width: 100%;
        margin-top: .25rem;
        font-family: Roboto,Arial,sans-serif;
        font-size: 1rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #e4002b;
    }
    .form-container {
        .a-input-field {
            margin-bottom: 0.25rem;
        }
        .form-group.a-form-grp {
            position: relative;
            margin-bottom: 0;
        }
        span.form-text {
            font-family: Roboto, Arial, sans-serif;
            font-size: 1rem !important;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            color: #e4002b;
        }
    }
    #age-check-id-options {
        margin-top: 2rem;
    }
    #birthdate-id {
        text-transform: uppercase;
        color: #ffffff;
        &::-webkit-calendar-picker-indicator {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><path fill="%23FE9E1F" fill-rule="evenodd" d="M4.767 7.192v13.783c0 .442.358.8.8.8h14.866c.442 0 .8-.358.8-.8V7.192c0-.442-.358-.8-.8-.8H5.567c-.442 0-.8.358-.8.8zm3.4-5.567c.276 0 .5.224.5.5v1.666h8.666V2.125c0-.276.224-.5.5-.5h2.25c.276 0 .5.224.5.5v1.666h1.25c1.105 0 2 .896 2 2v16.584c0 1.105-.895 2-2 2H4.167c-1.105 0-2-.895-2-2V5.792c0-1.105.895-2 2-2l1.25-.001V2.125c0-.276.224-.5.5-.5h2.25zm.783 6.5H7.3c-.442 0-.8.358-.8.8v1.65c0 .442.358.8.8.8h1.65c.442 0 .8-.358.8-.8v-1.65c0-.442-.358-.8-.8-.8zm4.875 0h-1.65c-.442 0-.8.358-.8.8v1.65c0 .442.358.8.8.8h1.65c.442 0 .8-.358.8-.8v-1.65c0-.442-.358-.8-.8-.8zm4.875 0h-1.65c-.442 0-.8.358-.8.8v1.65c0 .442.358.8.8.8h1.65c.442 0 .8-.358.8-.8v-1.65c0-.442-.358-.8-.8-.8z"/></svg>');
        }
    }
    .a-radio__input {
        display: none;
    }
    .a-radio__input:checked+span.a-radio__custom::after {
        content: "";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        background-color: #777;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: inherit;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    label.a-radio-label {
        display: block;
    }
    span.a-radio__custom {
        height: 1.5rem;
        width: 1.5rem;
        float: left;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #474747;
        position: relative;
    }
    .a-radio.a-radio--horizontal.a-radio--default {
        width: auto;
        display: inline-block;
        padding: 0;
        margin-bottom: 0;
    }
    fieldset#hospital-id-options {
        label.form-label.a-input-label {
            font-size: 1.125rem;
            font-weight: 700;
            margin-top: -2rem;
        }
    }
    input.form-control {
        height: 2.5rem;
        box-sizing: border-box;
        padding: 0.28125rem 1rem;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #474747;
        border-radius: 6px;
        border: 1px solid #029ce8;
        transition: all 0.5s ease;
        &::-webkit-input-placeholder {
            color: #fff;
        }
        &:-moz-placeholder {
            color: #fff;
            opacity: 1;
        }
        &::-moz-placeholder {
            color: #fff;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
    }
    .a-date-picker {
        .a-date-picker__input-start {
            flex-grow: 1;
        }
        .a-input-field {
            max-width: 100% !important;
            margin-top: 0;
        }
    }
    #premature-id-options,
    #preemie-age-options,
    #state-id-options,
    .city,
    .zipCode {
        display: none;
    }
    #state-id-options p {
        font-family: Roboto, Arial, sans-serif;
        font-size: 1rem !important;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #e4002b;
        display: none;
        margin: 0;
    }
    span.icon.icon-right {
        top: 74%;
        color: rgb(254, 158, 31);
        .abt-icon {
            font-size: 1.9rem;
        }
    }
    .a-input-password-strength {
        display: none;
    }
    label.form-label.a-input-label+.input-group {
        input {
            margin-top: 1.625rem;
        }
        textarea {
            margin-top: 1.625rem;
        }
    }
    label.form-label.a-input-label {
        position: absolute;
        pointer-events: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.375rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        color: #002f87;
        padding: 0.4rem 1rem;
        transition: all 0.5s ease;
        z-index: 9;
        margin-top: 1.625rem;
        @media (max-width: 767px) {
            font-size: 1.125rem !important;
            line-height: 1.375rem !important;
        }
    }
    label.form-label.a-input-label.similac-label-floating {
        /* top: 0; */
        position: absolute;
        margin: 0;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.625;
        letter-spacing: normal;
        color: #002f87;
        transition: all 0.5s ease;
        padding-left: 0;
        margin-top: -0.5rem;
        /* padding-bottom: .625rem; */
    }
    .drop-down {
        margin-top: 0;
        padding-top: 2rem;
        position: relative;
    }
    .drop-down label.form-label.a-input-label {
        margin-top: -2rem;
        position: absolute;
        padding: 0.4rem 0;
        font-size: 1.125rem;
        font-weight: 700;
    }
    .a-dropdown__field {
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 6px;
        box-shadow: none;
        cursor: default;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 2.5rem;
        position: relative;
        transition: all 100ms ease 0s;
        box-sizing: border-box;
        border: 1px solid rgb(2, 156, 232);
        width: 100%;
        outline: 0px !important;
        padding: 0 1rem;
        height: 40px;
        .a-dropdown__placeholder {
            font-size: 1.125rem !important;
            line-height: 24px;
            font-weight: 400;
            color: rgb(0, 47, 135) !important;
        }
    }
    span.a-checkbox__custom {
        height: 1.5rem;
        width: 1.5rem;
        display: inline-block;
        cursor: pointer;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #474747;
    }
    span.a-checkbox__text {
        margin-left: 0rem;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #002f87;
        text-decoration: none;
    }
    label.a-radio-label {
        font-family: Roboto, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #002f87;
        margin-bottom: 0.938rem;
    }
    span.a-radio__text {
        margin-left: 0.625rem;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #002f87;
    }
    span.a-radio__custom {
        height: 1.5rem;
        width: 1.5rem;
        display: inline-block;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #474747;
        vertical-align: text-top;
    }
    fieldset#premature-id-options {
        margin-top: 1rem;
    }
}

#register-global-id {
    .shortField {
        width: 100%;
        float: left;
    }
    input:checked~.a-checkbox__custom:after {
        display: block;
        content: "";
        color: #fff;
        position: absolute;
        margin-left: -2px;
        margin-top: 3px;
        width: 15px;
        height: 8px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-right: none;
    }
    #pampers-id-options .a-checkbox input:checked+.a-checkbox__custom,
    #remember-id-options .a-checkbox input:checked+.a-checkbox__custom,
    #age-check-id-options .a-checkbox input:checked+.a-checkbox__custom {
        background-color: #777;
    }
    .shortField.firstName {
        margin-right: 1%;
    }
    .shortField.lastName {
        margin-left: 1%;
    }
    .passwordId {
        clear: both;
    }
    .a-dropdown__container {
        .a-dropdown__field {
            &::after {
                color: rgb(254, 158, 31);
            }
        }
    }
    .a-radio.a-radio--horizontal.a-radio--default {
        &:first-of-type {
            margin-right: 28px;
        }
    }
    #adopted-id-options {
        .a-radio__label {
            width: 100%;
        }
    }
    #pampers-id-options {
        .a-checkbox__text {
            margin: 0;
        }
        .form-check-label {
            img {
                margin-bottom: 0.938rem;
                margin-right: 1rem;
            }
        }
        .a-checkbox__custom {
            margin-top: 2rem;
        }
    }
    .form-check-label {
        a {
            color: #fe9e1f;
            text-decoration: underline;
        }
    }
    .text {
        a {
            color: #fe9e1f;
            text-decoration: underline;
        }
    }
    button#button-id {
        border-radius: 1.5rem;
        font-family: BrandonText, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.125rem;
        color: #fff !important;
        line-height: 1.25;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0.469rem 0.75rem;
        border: none;
        background: #fe9e1f;
        display: inline-block;
        width: 60%;
        max-width: 450px;
        height: 42px;
        cursor: pointer;
        font-size: 1.3125rem;
        margin-top: 1rem;
        text-transform: none;
        &:hover {
            box-shadow: none;
            background: #e48d1b;
        }
        &:active {
            box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.5);
            background-color: #fe9e1f;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    .o-form-container__buttons.d-flex {
        justify-content: left;
    }
    .button.link.a-button.a-button--primary.a-button--icon-left.justify-content-start {
        width: 100%;
        flex-flow: 50%;
        display: block;
        margin: 0;
    }
    .datepicker {
        span.icon.icon-right {
            top: 70%;
        }
    }
}

p.extra-info {
    font-size: 0.75rem;
    font-weight: 400;
    width: 66%;
    margin: 0 auto;
}

.productsection {
    .o-product-section__title {
        h2 {
            font-family: BrandonText, Arial, sans-serif;
            font-size: 1.75rem;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.29;
            letter-spacing: normal;
            margin-bottom: 0.938rem;
            color: #002f87;
        }
    }
    .o-product-section--small {
        .cmp-image__image {
            max-width: 100%;
        }
        img {
            max-width: 100%;
        }
    }
}

.text {
    div#top-text-id {
        width: 66%;
        margin: 0 auto;
        display: none;
    }
}

.productsection+.text {
    margin-bottom: 0 !important;
}

.formcontainer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.formcontainer+.container {
    padding-top: 1.925rem !important;
}

.tooltips.a-tooltip--small.a-tooltip--dark {
    margin-top: 0;
}

.responsivegrid .aem-Grid .container.a-container,
.responsivegrid .aem-Grid .layoutcontainer {
    padding-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .productsection {
        display: none;
    }
    div#register-global-id {
        width: 100%;
    }
    div#register-global-id #adopted-id-options .a-radio.a-radio--horizontal.a-radio--default {
        width: 25%;
    }
    div#register-global-id #adopted-id-options .a-radio.a-radio--horizontal.a-radio--default:first-of-type {
        margin-right: 0;
    }
    div#register-global-id #adopted-id-options span.a-radio__text {
        margin-left: 0.625rem;
    }
    p.extra-info {
        width: 100%;
    }
    .text div#top-text-id {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    div#register-global-id {
        width: 100%;
    }
    div#register-global-id #adopted-id-options .a-radio.a-radio--horizontal.a-radio--default {
        width: 10%;
    }
    div#register-global-id #adopted-id-options .a-radio.a-radio--horizontal.a-radio--default:first-of-type {
        margin-right: 15px;
    }
    div#register-global-id #adopted-id-options span.a-radio__text {
        margin-left: 0.625rem;
    }
    p.extra-info {
        width: 100%;
    }
    .text div#top-text-id {
        width: 100%;
    }
    div#global-register-top div#register-top-image-text .o-product-section__image-wrapper {
        margin-top: 0;
        width: 50%;
        flex: 0 0 50%;
        padding-left: 15px;
    }
    div#global-register-top div#register-top-image-text .o-product-section__content {
        padding: 0 15px;
        width: 50%;
        flex: 0 0 50%;
    }
    #register-global-id button#button-id {
        width: 42%;
    }
}

.passwordId {
    .a-input-password-strength {
        display: none;
    }
}

.bdcrumb {
    &.aem-GridColumn {
        &.aem-GridColumn--default--12 {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    &+.container {
        &.responsivegrid {
            &.a-container {
                &.aem-GridColumn {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}

div#global-register-top {
    .text {
        margin-bottom: 0;
    }
    .productsection {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 1.925rem;
        &+.text {
            margin-top: 0 !important;
            p {
                margin-bottom: 0;
            }
        }
    }
    div#register-top-image-text {
        .o-product-section__image-wrapper {
            margin-top: 0;
        }
        .o-product-section__content {
            padding: 0 15px;
        }
        .o-product-section__container {
            padding: 0;
        }
        .o-product-section__title {
            padding-bottom: 0;
        }
        .o-product-section__para {
            display: none;
        }
        .m-custom-list__para {
            display: none;
        }
        .m-custom-list__heading {
            padding-top: 0;
            padding-bottom: 0;
            &::before {
                content: "\2713\0020";
                color: #fff;
                background: #029ce8;
                display: inline-table;
                border-radius: 0.75rem;
                width: 1.5rem;
                height: 1.5rem;
                /* margin-left: -2em; */
                font-size: 1.123rem;
                font-weight: 400;
                text-align: center;
                font-family: Roboto, Arial, sans-serif;
                margin-right: 0rem;
                margin-top: -8px;
            }
            p {
                font-family: Roboto, Arial, sans-serif;
                line-height: 1.33;
                color: #002f87;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                margin: 0;
                display: inline-block;
                margin-bottom: 1rem;
                font-family: Roboto, Arial, sans-serif;
                font-weight: 400;
                font-size: 1.125rem;
                color: #002f87;
                /* margin-left: 1rem; */
                margin-left: 0.625rem;
            }
        }
    }
    .column-control {
        margin-top: 0;
        width: 100%;
        display: none;
        @media (
            max-width: 767px) {
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 45%;
        }
        #about-you-title {
            h2 {
                font-size: 2.125rem;
                line-height: 2.688rem;
                font-family: BrandonText, Arial, sans-serif;
                font-weight: 700;
                margin: 1rem 0 0;
            }
        }
        .card-wrapper {
            padding: 0;
            margin-bottom: 0;
            @media (max-width: 767px) {
                width: auto;
                -ms-flex: none;
                flex: none;
                display: block;
            }
            .tooltips {
                margin-top: 1.5rem;
                margin-left: 0.313rem;
                span {
                    cursor: pointer;
                    .abt-icon-exclamation {
                        &::before {
                            content: "?";
                            display: inline-block;
                            font-family: sans-serif;
                            font-weight: bold;
                            text-align: center;
                            width: 1.5rem;
                            height: 1.5rem;
                            font-size: 1.2rem;
                            /* line-height: 1.8ex; */
                            border-radius: 1.5rem;
                            margin-right: 4px;
                            padding: 3px;
                            color: #ffffff;
                            background: rgb(254, 158, 31);
                            /* border: 1px solid blue; */
                            text-decoration: none;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    div#register-global-id {
        padding: 0 15px;
    }
    h1.updatedTitleFont
    h2.updatedTitleFont,
    h3.updatedTitleFont {
        font-size: 1.25rem;
        line-height: 1.625rem;
        margin-bottom: 0.625rem;
    }
}

#register-global-id {
    .column-control {
        margin-top: 0;
        width: 100%;
        @media (max-width: 767px) {
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
        }
        #about-your-child-id {
            h2 {
                font-size: 2.125rem;
                line-height: 2.688rem;
                font-family: BrandonText, Arial, sans-serif;
                font-weight: 700;
                margin: 1rem 0 0;
                // padding-left: 1rem;
            }
        }
        .col-md-6.mb-1_875 {
            margin-bottom: 0 !important;
            width: auto;
            padding-right: 0;
            @media (max-width: 767px) {
                width: 66%;
                width: auto;
                padding-right: 0;
            }
            &:nth-of-type(2) {
                width: 24%;
                padding: 0;
                @media (max-width: 767px) {
                    width: 16%;
                    padding: 0;
                }
            }
        }
        .tooltips {
            margin-top: 1.5rem;
            margin-left: -6.313rem !important;
            @media (min-width: 768px) and (max-width: 1024px) {
                margin-left: -5.313rem !important;
            }
            @media (max-width: 767px) {
                margin-left: 0.313rem !important;
            }
            span {
                cursor: pointer;
                .abt-icon-exclamation {
                    &::before {
                        content: "?";
                        display: inline-block;
                        font-family: sans-serif;
                        font-weight: bold;
                        text-align: center;
                        width: 1.5rem;
                        height: 1.5rem;
                        font-size: 1.2rem;
                        border-radius: 1.5rem;
                        margin-right: 4px;
                        padding: 3px;
                        color: #fff;
                        background: #fe9e1f;
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    fieldset#adopted-id-options {
        margin-top: 0.938rem;
    }
    fieldset#state-id-options {
        span.a-dropdown-selected {
            font-size: 1rem;
            color: #333333;
        }
        ul {
            li {
                border: 0;
                &:hover {
                    background-color: #fe9e1f;
                    color: #ffffff;
                    span {
                        color: #ffffff;
                    }
                }
                span {
                    font-family: Roboto, Arial, sans-serif;
                    line-height: 24px;
                    font-weight: 400;
                    font-size: 1rem;
                    color: #777777;
                }
            }
        }
    }
    fieldset#hospital-id-options {
        span.a-dropdown-selected {
            font-size: 1rem;
            color: #333333;
        }
        ul {
            li {
                border: 0;
                &:hover {
                    background-color: #fe9e1f;
                    color: #ffffff;
                    span {
                        color: #ffffff;
                    }
                }
                span {
                    font-family: Roboto, Arial, sans-serif;
                    line-height: 24px;
                    font-weight: 400;
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: #777777;
                }
            }
        }
    }
}

div#bottom-container {
    width: 66%;
    margin: 0 auto;
    display: none;
    @media (max-width: 768px) {
        width: 100%;
    }
    .text {
        margin-top: 0;
        margin-bottom: 0;
        .extra-info {
            margin-bottom: 1.925rem;
            width: 100%;
            @media (max-width: 767px) {
                margin-bottom: 1rem;
            }
        }
    }
    .divider {
        width: 67%;
        margin: 1.925rem auto;
        @media (max-width: 767px) {
            width: 90%;
            margin: 0.3rem auto 0.625rem;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
        }
        &::before,
        &::after {
            background: #002f87;
        }
        span {
            @media (max-width: 767px) {
                padding: 0 2.125rem 0 1.875rem;
                margin: 0 0.313rem 0 0.625rem;
            }
        }
    }
    .para-txt {
        // width: 67%;
        margin: 0 auto;
        @media (max-width: 767px) {
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
        }
        p {
            @media (max-width: 767px) {
                font-size: 1.125rem;
                line-height: 1.5rem;
                margin-bottom: 0.313rem;
            }
        }
    }
    .title {
        &.text-center {
            display: none;
            @media (max-width: 767px) {
                display: block;
                margin-top: 1rem;
                margin-bottom: 0;
            }
            .cmp-title {
                h2 {
                    @media (max-width: 767px) {
                        font-family: BrandonText, Arial, sans-serif;
                        font-weight: 700;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        color: #002f87;
                        font-size: 1.25rem;
                        line-height: 1.625rem;
                        margin-bottom: 1.25rem;
                        text-align: left;
                    }
                }
            }
        }
    }
    .customtextlist {
        display: none;
        @media (max-width: 767px) {
            display: block;
            margin: 0;
        }
        .m-custom-list__heading {
            padding-top: 0;
            padding-bottom: 0;
            p {
                line-height: 1.33;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                display: -ms-flexbox;
                display: flex;
                font-family: Roboto, Arial, sans-serif;
                font-weight: 400;
                font-size: 1.125rem;
                color: #002f87;
                margin: 0 0 1rem 0.625rem;
                font-size: 1rem;
                line-height: 1.375rem;
            }
            &::before {
                content: "\2713\0020";
                color: #fff;
                background: #029ce8;
                display: inline-table;
                border-radius: 0.75rem;
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1.123rem;
                font-weight: 400;
                text-align: center;
                font-family: Roboto, Arial, sans-serif;
                margin-right: 0;
                margin-top: -8px;
            }
        }
    }
    #hcp-disclaimer-text {
        display: block;
        p {
            font-family: Roboto, Arial, sans-serif;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.33rem;
            color: #002f87;
            overflow-wrap: break-word;
            word-wrap: break-word;
            margin-bottom: 1.925rem;
        }
    }
}

h3.popover-header {
    display: none;
}

.popover {
    background-color: #f2f8fb;
    background-clip: padding-box;
    border: 1px solid #029ce8 !important;
    border-radius: 0.3rem;
}

.bs-popover-right>.arrow::before,
.bs-popover-auto[x-placement^="right"]>.arrow::before {
    left: 0;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #029ce8;
}

div#password-meter .password-strength-meter {
    color: #002f87;
}

#template {
    @media (min-width: 768px) and (max-width: 1024px) {
        padding: 0.625rem 1rem;
    }
    p {
        @media (max-width: 767px) {
            width: 94%;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 90%;
        }
    }
}

.o-form-container__error-msg {
    display: none !important;
}

#loginPopup {
    h4 {
        color: #002f87;
    }
}

.login {
    position: relative;
    @media (max-width: 767px) {
        position: inherit;
    }
}

.loginContainer.dnone {
    display: none;
}

#emailField,
#passwordField {
    .a-input-field--text-require,
    .a-input-field--text-regex {
        display: none;
    }
}

button#siteSubmit {
    border-radius: 24px;
    background-image: none;
    background-color: #fe9e1f;
    border: 0;
    border-radius: 1.5rem;
    font-family: BrandonText, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    color: #fff!important;
    line-height: 1.25;
    -ms-flex-pack: center;
    justify-content: center;
    &:hover {
        background: #e48d1b;
    }
    &:active {
        box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.5);
        background-color: #fe9e1f;
    }
}

#loginPopup .btn-secondary {
    background: #fff;
    color: #e48d1b!important;
    border: 3px solid #fe9e1f;
    border-radius: 25px;
    font-family: BrandonText, Arial, sans-serif;
    font-weight: 700;
    display: inherit;
    &:active,
    &:focus,
    &:active {
        color: #e48d1b;
        border: 3px solid #fe9e1f;
        background: rgba(228, 141, 27, .15);
    }
    .errorMessage,
    .form-text.a-input-field--text-require, 
    .form-text.a-input-field--text-regex{
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #e4002b;
    }
}

@media screen and (min-width: 1281px) {	
    .text div#top-text-id {	
        width:68%;	
        margin: 0 auto;	
        display: none	
    }	
    div#global-register-top .column-control {	
        margin-top: 0;	
        width: 59%;	
        display: none;	
    }
}
#textOasis{
    padding-top: 18px;
}
.o-form-container__wrapper .form-container .a-checkbox input:checked + .a-checkbox__custom {
    background-color: #777 !important;
}