.o-info-section {
    position: relative;
    padding: var(--info-section-padding);
    height: var(--info-section-height);

    @include media-breakpoint-down(sm) { 
        padding: var(--info-section-padding-mob);
        height: auto;
    }

    &__container {
        height: var(--info-section-container-height);
        overflow: hidden;
        
        @include media-breakpoint-down(sm) { 
            padding: 0;
            height: auto;
        }
    }

    &__heading {
        width: 100%;
        display: block;

        .a-title {
            padding-bottom: var(--info-section-heading-padding-bottom);
        }
        
    }

    &__title {
        padding-bottom: var(--info-section-title-margin-bottom);
    }

    &__link {
        padding-bottom: var(--info-section-link-margin-bottom);
    }

    &__sub-title {
        padding: var(--info-section-sub-title-padding);
    }

    &__para  {
        font-size: var(--info-section-para-font-size);
        line-height: var(--info-section-para-line-height);
        color: var(--info-section-para-color);

        p {
            padding-bottom: var(--info-section-para-padding-bottom);
            font-size: var(--info-section-para-font-size);
            line-height: var(--info-section-para-line-height);
            color:var(--info-section-para-color);
        }
        
    }

    &__button-wrapper {
        padding-top: var(--info-section-btn-padding-bottom);

        .a-button {
            @include media-breakpoint-down(sm) { 
                display: block;
                width: 100%;
            }
        }
    }

    &--light {
        background-color: var(--info-section-light);
    }

    &--dark {
        background-color: var(--info-section-dark);
        .a-title__text {
            color: var(--info-section-dark-color);
            border-color: var(--info-section-dark-border-color);
            &:after,
            &:before {
                border-top-color: var(--info-section-dark-border-color);
            }
        }
        h1,h2,h3,h4,h5,h6, p {
            color: var(--info-section-dark-color);
        }
    }
    &--show-hide-mobile-image {
        @include media-breakpoint-down(sm) {
            &.a-bg-img {
                display: block;
            }
        }
    }

}


