body{
    .adc-ff-1(16, 'Source Sans Pro');
   // background-color:@color-fsl-grey-1;
    background-color:@color-fsl-grey-12;
    color: @color-fsl-black;
    height: 100%;
    width: 100%;
    //to prevent background scrolling when modal is open
    .modal-open {
        position: fixed;
    }
}
.modal-open {
    overflow: hidden !important;
}

:root {
    font-size: 16px;
    --fsl3-banner-prference-yes:none;
    --fsl3-banner-prference-no:none;
    --fsl3-banner-icon:none;
    --fsl3-banner-button:inline-flex;
}

a{
    color: @color-fsl-blue;
}

p{
    line-height: 24px;
}

h1, h2, h3, h4, h5{
    @media @mobile-break{
        word-break: break-word;
    }
}

.fsl3-banner-yes{
    display: var(--fsl3-banner-prference-yes);
}

.fsl3-banner-icon{
    display: var(--fsl3-banner-icon) !important;
}

.fsl3-banner-button{
    display:  var(--fsl3-banner-button) !important ;
}


.fsl3-banner-no{
    display: var(--fsl3-banner-prference-no);
}

#fsl3-banner-container-plus{
    display: var(--fsl3-banner-prference-no);
}

#fsl3-banner-container-app{
    display: var(--fsl3-banner-prference-no);
}