.p-relative{
	position: relative;
}

.white-text {
	color: @color-fsl-white !important;
}

.blue{
	color: @color-fsl-blue;
}

.self-flex-end {
	align-self: flex-end;
}

.c-pointer{
	cursor: pointer;
}

.flex-grow-1 {
	flex-grow: 1;
}
.overflow-hidden {
	overflow: hidden;
}
.masked-credit-card {
	.font-size-rems(22);
	margin-top: 2px;
    margin-right: 3px;
}

.text-break {
	word-break: break-word;
}

.buttonMobileTablet {
	@media @adc-mobile-tablet-break {
		width: 100%;
	}
}

.lspacing{
	letter-spacing: 1px !important;
}

.lspacing-point3{
	letter-spacing: 0.3px !important;
}

.font-12{
	.font-size-rems(12);
	line-height: 15px;
}

.font-13{
	.font-size-rems(13);
	letter-spacing: 1px;
}

.font-14{
	.font-size-rems(14);
	line-height: 16px;
}

.adc-bordercolor-error{
	border-color: @color-fsl-orange !important;
}

.marginB-100{
	margin-bottom: 100px;
}

.current-o-heading{
	color: @color-fsl-blue;
	font-size: 1.25rem;
	font-weight: @weight-bold;
	@media @adc-mobile-break{
		font-size: 1rem;
		padding-top: 4px;
	}
}

.text-underline {
	text-decoration: underline;
}


.circle-blue{
	border-radius: 50%;
	height: 44px;
	width: 44px;
	background-color: #001489;
	display:flex;	
	align-items: center;
	justify-content: center;
}

.paddingtop-2rem{
	padding-top: 2rem;
}

.component-border-bottom{
	border-bottom: 1px solid @color-fsl-grey-2;
}

.section-padding{
	padding-bottom: 50px;
	padding-top: 50px;
	@media @tab-only{
		padding-bottom: 40px;
		padding-top: 40px;
	}
	@media @mobile-break{
		padding-bottom: 25px;
		padding-top: 25px;
	}
}

.margin-bottom-30{
	margin-bottom: (@v_space*3);
}
.cmp-table-row p {    
    margin-bottom: 0;
}
.product-tab{
	.adc-banner__half-width{
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		.adc-banner-buttons .adc-button:first-child{
			@media @min-tab{
				margin-right: 30px;
			}
		}
		@media @mobile-break{
			.adc-banner-buttons{
				button.adc-button{
					margin-left: 0;
				}
			}
		}
	}
}

.minh-100{
	min-height: 100px;
}

.card-h4 {
	.font-size-rems(36);
	@media @adc-mobile-break {
		.font-size-rems(28);
	}
}

.h4-FontTab{
	@media @tab-only {
		.font-lineheight(16,24);
		letter-spacing: 0.3px;
	}
}

.marginL-83{
	margin-left: 83%;
}

.bg-light{
	background-color: @color-fsl-grey-7 !important;
}
.adc-tooltipbottom__content{
	&.adc-documentUpload__tooltip-content{
		width: 220px;
		bottom: 37%;
		left: 0%;
		margin-bottom: 15px;
		margin-left: -100px;
		word-break: break-word;
		@media @adc-mobile-break{
			width: 150px;
			margin-left: -120px;
			&::after{
				left: unset !important;
				right: 7% !important;
			}
		}
	}
}