.o-advanced-header {
  --advanced-header-font-size: var(--body-small-font-size);
  --advanced-header-line-height: var(--body-small-line-height);
  --advanced-header-color: var(--body-font-color);
  --advanced-header-icon-font-size: var(--body-small-font-size);
  --advanced-header-icon-spacing: 0.5rem;
  --advanced-header-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24),
    0 4px 8px -2px rgba(141, 141, 148, 0.28);
  --advanced-header-component-spacing: 2rem;

  --advanced-header-utility-top-height: 2.75rem;
  --advanced-header-utility-top-bg: var(--secondary-color);
  --advanced-header-utility-top-bg-desktop: var(
    --advanced-header-utility-top-bg
  );

  --advanced-header-main-height: auto;
  --advanced-header-main-bg: var(--white-color);
  --advanced-header-main-bg-desktop: var(--advanced-header-main-bg);
  --advanced-header-main-border-bottom: solid var(--secondary-color) 1px;
  --advanced-header-main-padding: 0.75rem 0;

  --advanced-header-utility-bottom-height: auto;
  --advanced-header-utility-bottom-bg: var(--white-color);
  --advanced-header-utility-bottom-bg-desktop: var(
    --advanced-header-utility-bottom-bg
  );

  --advanced-header-logo-trasition: all 0.2s ease;

  --advanced-header-search-color: var(--body-font-color);
  --advanced-header-search-color-open: var(--advanced-header-search-color);
  --advanced-header-search-overlay-bg: rgba(0, 0, 0, 0.48);
  --advanced-header-search-top-offset: 0.25rem;
  --advanced-header-search-form-vertical-spacing: 0.5rem;
  --advanced-header-search-form-horizontal-spacing: 0.625rem;

  --advanced-header-link-color: var(--primary-color);

  --advanced-header-dropdown-border-radius: 0.375rem;
  --advanced-header-dropdown-link-color: var(--primary-color);
  --advanced-header-dropdown-box-shadow: var(--advanced-header-box-shadow);
  --advanced-header-dropdown-max-width: 21.875rem;
}
