.a-chips {
    --chips-font-size: #{$font-size-14};
    --chips-line-height: #{$h5-line-height};
    --chips-color: var(--black-color);
    --chips-padding: 2px #{$spacers-01};
    --chips-border-radius: 12px;
    --chips-bg-color: var(--gray-light-color);
    --chips-bg-color-hover: var(--gray-light-color);
    --chips-bg-color-active: var(--secondary-color);
    --chips-color-hover: var(--black-color);

    //Chip List
    --chips-list-head-margin: 0 0 #{$spacers-24} 0;
    --chips-list-chips-margin: 0 16px 16px 0;
    --chips-list-chips-margin-rtl: 0 0 16px 16px;
}
