//Custom text list
.m-custom-list {
    --custom-list-heading-margin: #{$spacers-2};
    --custom-list-heading-bottom-margin: #{$spacers-02};
    --custom-list-para-margin: #{$spacers-03};
    --custom-list-para-font-size: #{$font-size-14};
    --custom-list-para-line-height: #{$h5-line-height};
    --custom-list-font-size: #{$h4-line-height};
    --custom-list-line-height: #{$line-height-base};

    --custom-list-padding-x: #{$spacers-6};
    --custom-list-padding-y: #{$spacers-1};
    --custom-list-padding-xl: #{$spacers-7};

    --custom-list-dark: var(--black-color);
    --custom-list-light: var(--gray-lighter-color);
    --custom-list-primary: var(--primary-color);
    --custom-list-secondary: var(--secondary-color);

    --custom-list-title-dark: var(--black-color);
    --custom-list-title-light: var(--gray-lighter-color);
    --custom-list-title-primary: var(--primary-color);
    --custom-list-title-secondary: var(--secondary-color);

    --custom-list-header-title-default: var(--black-color);
    --custom-list-header-title-reversed: var(--white-color);
    --custom-list-header-title-primary: var(--primary-color);
    --custom-list-header-title-alternate: var(--gray-lighter-color);

    --custom-list-title-link: var(--black-color);
    --custom-list-title-link-hover: #{$color-text-link-hover};

    --custom-list-bullet-position-top: 0.5rem;

    --custom-list-title-font-size: #{$h4-font-size};
    --custom-list-title-line-height: #{$h4-line-height};

    --custom-list-icon-font-size-xs: #{$icon-spacer};
    --custom-list-icon-font-size-sm: #{$icon-size-sm};
    --custom-list-icon-font-size-md: #{$icon-size-m};
    --custom-list-icon-font-size-lg: #{$icon-size-l};

    --custom-list-icon-padding-left-xs: #{$spacers-06};
    --custom-list-icon-padding-left-sm: #{$spacers-8};
    --custom-list-icon-padding-left-md: #{$spacers-09};
    --custom-list-icon-padding-left-lg: #{$spacers-11};
}
