.m-payon-form {
    --payon-group-group-min-height: 94px;

    --payon-group-label-font-size: #{$font-size-14};
    --payon-group-label-line-height: #{$h5-line-height};
    --payon-group-label-color: #{$gray-700};

    --payon-group-input-font-size: #{$font-size-14};
    --payon-group-input-line-height: #{$h5-line-height};
    --payon-group-input-color: #{$gray-700};
    --payon-group-input-border: 1px solid #{$gray-400};
    --payon-group-input-radius: 4px;
    --payon-group-input-padding: #{$spacers-3} #{$spacers-013} #{$spacers-013} #{$spacers-03};
    --payon-group-input-height: #{$spacers-09};
    --payon-group-input-placeholder-color: #{$gray-500};
    --payon-group-input-error-color: var(--danger-color);

    --payon-group-hint-font-size: #{$h6-font-size};
    --payon-group-hint-line-height: #{$h6-line-height};

    --payon-group-input-larger-width: 54%;
    --payon-group-input-larger-width-lg: 65%;
    --payon-group-input-shorter-width: 38%;
    --payon-group-input-shorter-width-lg: 30%;

    --payon-group-group-brand-margin-bottom: #{$spacers-24};
    --payon-group-group-brand-width: 60px;
    --payon-group-custom-brand-margin: 0 #{$spacers-1};

    --payon-group-title-margin-right: #{$spacers-7};

    --payon-group-ccv-min-height: 120px;
    --payon-group-ccv-popover-font-size: #{$h6-font-size};
    --payon-group-ccv-popover-line-height: #{$h6-line-height};

    --payon-group-button-font-size: #{$h5-font-size};
    --payon-group-button-line-height: #{$h5-line-height};
    --payon-group-button-bg: var(--primary-color);
    --payon-group-button-padding: #{$spacers-3} #{$spacers-8};
}
