//Search Results
.o-search-res {
    --search-results-background-color: var(--white-color);
    --search-results-border-bottom: 1px solid var(--gray-color);
    --search-results-header-bottom: #{$spacers-01};
    --search-results-header-title-line-height: #{$h2-line-height};
    --search-results-desc-space-top: #{$spacers-03};
    --search-results-mobile-desc-space-top: #{$spacers-01};
    --search-results-mobile-title-font-size: #{$h3-font-size};
    --search-results-mobile-title-line-height: #{$h3-line-height};
    --search-results-result-padding: #{$spacers-06} 0;
    --search-results-mobile-result-padding: #{$spacers-03} 0;
    --search-results-search-bar-spacing: #{$spacers-12} 0;
    --search-results-pagination-spacing: #{$spacers-8} 0;
    --search-results-title-color: var(--black-color);
    --search-results-result-mobile-font-size: #{$h4-font-size};
}

