<sly data-sly-use.videofaq="com.abbott.aem.adc.freestylelibrede.models.VideoFaq">
<div class="container explanatory__container">
    <div class="row explanatory__row--flex d-flex">
        <div class="col-xs-12 col-lg-3 col-md-6 explanatory__BackBtnRow">
            <div class="explanatory__BackBtn dontShow noArrow"></div>
            <div class="explanatory__langChooser dontShow mobile__nav">
                <div class="explanatory__langChooserBtn">
                    <img class="explanatory__globe" title="" alt="" src="${videofaq.flagPath}" width="28" height="28">
                </div>
                <div class="explanatory__langChooserContent" style="display: none;">
                    <div class="explanatory__langBtn" data-language="de">
                        Deutsch
                        <img class="explanatory__langImg" title="" alt="" src="${videofaq.countryPath}" width="28"
                            height="21">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-12 explanatory__nav desktop__nav" data-language="de">
            <div class="explanatory__kategoryBtn d-flex" data-categorie="0">${videofaq.categoryOne}</div>
            <div class="explanatory__kategoryBtn d-flex" data-categorie="1">${videofaq.categoryTwo}</div>
            <div class="explanatory__kategoryBtn d-flex" data-categorie="2">${videofaq.categoryThree}</div>
            <div class="explanatory__kategoryBtn d-flex" data-categorie="3">${videofaq.categoryFour}</div>
        </div>
        <div class="col-lg-9 col-12 explanatory__videoWrapper">
            <iframe id="explanatory__iframe" width="100%" height="100%" 
            src="https://player.vimeo.com/video/429694292?autoplay=1&loop=1&color=E26126&title=0&byline=0&portrait=0" 
            allow="autoplay; fullscreen" title="Opener from Abbott Freestyle Libre on Vimeo" allowfullscreen></iframe>
            <div class="explanatory__langChooser desktop__nav">
                <div class="explanatory__langChooserBtn">
                    <img class="explanatory__globe" title="" alt="" src="${videofaq.flagPath}" width="28" height="28">
                </div>
                <div class="explanatory__langChooserContent" style="display: none;">
                    <div class="explanatory__langBtn" data-language="de">
                        Deutsch
                        <img class="explanatory__langImg" title="" alt="" src="${videofaq.countryPath}" width="28"
                            height="21">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mobile__nav explanatory__containerMobile">
    <div class="row">
		<div class="col-12 col-sm-12">
            <div class="explanatory__nav d-flex" data-language="de">
                <div class="explanatory__kategoryBtn d-flex" data-categorie="0">${videofaq.categoryOne}</div>
                <div class="explanatory__kategoryBtn d-flex" data-categorie="1">${videofaq.categoryTwo}</div>
                <div class="explanatory__kategoryBtn d-flex" data-categorie="2">${videofaq.categoryThree}</div>
                <div class="explanatory__kategoryBtn d-flex" data-categorie="3">${videofaq.categoryFour}</div>
            </div>
        </div>
	</div>
</div>
