.m-hero {
    &.m-hero-base {
        &.m-hero--max {
            &.m-hero--lightPink-title {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #FBD9E1;
                }
            }

            &.m-hero--white-title {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #fff;
                }
            }
            
            &.m-hero--skyblue-title {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #B6C9E8;
                }
            }

            &.m-hero--black-title {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #000;
                }
            }

            &.m-hero--blue-title {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #2F4FA2;
                }
            }

            &.m-hero--red-title {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #D72027;
                }
            }
        }
    }
}

.title {
    &.a-title-base {
        &.a-titlecolor--red {
            h1, h4 {
                color: #D72027;
            }
        }
        &.m-fontsize-34px {
            .cmp-title {
                h1 {
                    font-size: 34px;
                    @media (max-width:992px){
                        font-size:24px;
                    }
                }
            }
        }

        &.m-fontsize-36px {
            .cmp-title {
                h1 {
                    font-size: 36px;
                }
            }
        }

        &.m-fontsize-50px {
            .cmp-title {
                h1 {
                    font-size: 50px;
                }
            }
        }

        &.a-lineheight-39px {
            .cmp-title {
                h1 {
                    line-height: 39px;
                    @media (max-width:992px){
                       line-height: 29px;
                    }
                }
            }     
        }

        &.a-lineheight-43_2px {
            .cmp-title {
                h1 {
                    line-height: 43.2px;
                }
            }     
        }

        &.a-lineheight-21_6px {
            .cmp-title {
                h1 {
                    line-height: 21.6px;
                }
            }     
        }

        @media screen and (max-width: 991.98px) {            
            &.a-fontsize-24px-m {
                .cmp-title {
                    h1 {
                        font-size: 24px;
                    }
                }
            }
    
            &.a-lineheight-29px-m {
                .cmp-title {
                    h1 {
                        line-height: 29px;
                    }
                }
            }
        }
    }
}

/* PEDIALYTE CADR - STYLE FOR TTITLE STARTS FROM HERE */

/* FONT-FAMILY */ 
.a-title-base{
    &.oswalfontfamily-regular{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li{
                font-family: OswaldFontRegular, sans-serif;
            }
        }
    }
    &.oswalfontfamily-bold{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li{
                font-family: OswaldFontBold, sans-serif;
            }
        }
    }
    &.hindfontfamily-regular{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p, li, span{
                font-family: HindFontRegular, sans-serif;
            }
        }
    }
    &.hindfontfamily-bold{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-family: HindFontBold, sans-serif;
            }
        }
    }

 /* FONT-COLOR */

    &.a-titlecolor--gray{
        .cmp-title{
            h1, h2, h3, h4, h5, h6, p ,li, span{
                color: #3E3F43;
            }
        }
    }

 /* FONT-ALIGNMENT */

    &.text-justify {
        .cmp-title {
            text-align: justify !important;
            h1, h2, h3, h4, h5, h6, p ,li, span{
                text-align: justify !important;
            }
        }
    }

 /* FONT-SIZE */

    &.fontsize-25px{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-size: 25px !important;
            }
        }
    }
    &.fontsize-27px{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-size: 27px !important;
            }
        }
    }
    &.fontsize-30px{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-size: 30px !important;
            }
        }
    }
    &.fontsize-50px{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-size: 50px !important;
            }
        }
    }

 /* FONT-LINE-HEIGHT */

    &.lineheight-35px{
		.cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                line-height: 35px !important;
            }
        }
    }
    &.lineheight-60px{
		.cmp-title{
            h1, h2, h3, h4, h5, h6, p ,li, span{
                line-height: 60px !important;
            }
        }
    }
    &.lineheight-40px{
		.cmp-title{
            h1, h2, h3, h4, h5, h6, p ,li, span{
                line-height: 40px !important;
            }
        }
    }
    &.lineheight-32-4px{
		.cmp-title{
            h1, h2, h3, h4, h5, h6, p ,li, span{
                line-height: 32.4px !important;
            }
        }
    }

 /* MARGIN */

    &.marginbottom-10px{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                margin-bottom: 10px !important;
            }
        }
    }

    /* FONT-WEIGHT */
    &.m-fontweight-600{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-weight: 600 !important;
                div{
                    font-weight: 600 !important;
                }
            }
        }
    }
    &.m-fontweight-700{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                font-weight: 700 !important;
                div{
                    font-weight: 700 !important;
                }
            }
        }
    }
    /* FONT WEIGHT */
    &.a-titlecolor--black212529{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li, span{
                color: #212529 !important;
                div{
                    font-weight: 700 !important;
                }
            }
        }
    }
    &.a-titlecolor--lightgray{
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p ,li{
                color: #898989;
            }
        }
    }
}



/* BELOW 991PX */ 
@media (max-width:991px){
    .a-title-base{
        &.m-fontsize-30px{
            .cmp-text {
                h1, h2, h3, h4, h5, h6, p ,li, span{
                    font-size: 30px !important;
                }
            }
        }
    }

    &.m-fontsize-18px {
        .cmp-title {
            h1, h2, h3, h4, h5, h6, p, span, div {
                font-size: 18px !important;
            }
        }
    }
}

/* PEDIALYTE CADR - STYLE FOR TTITLE ENDS HERE */