<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Static</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="glucerna-flavour-section.css">
</head>
<body>
  <div class="container flavour-container">
    <div class="flavour-section">
      <div class="row">
        <div class="col-md-12">
          <div class="flavour-section--sub-title">Get Your Introductory Trial Pack</div>
          <div class="flavour-section--title">Choose Your Flavor(s)</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="flavour-section__desc">
            <li class="flavour-type">
              <button class="flavour-section__desc--btn flavor-btn">Rich Chocolate</button>
              <div class="flavour-popup">
                <p class="popup-text">Flavor is currently on backorder until 07/08/2082</p>
                <div class="btn-wrap">
                  <button class="popup-btn flavor-btn">Select Anyways</button>
                  <button class="popup-btn flavor-btn popup-close">Choose other flavor(s)</button>
                </div>
              </div>
            </li>
            <li class="flavour-type">
              <button class="flavour-section__desc--btn flavor-btn">Homemade Vanilla</button>
              <div class="flavour-popup">
                <p class="popup-text">Flavor is currently on backorder until 07/08/2082</p>
                <div class="btn-wrap">
                  <button class="popup-btn flavor-btn">Select Anyways</button>
                  <button class="popup-btn flavor-btn popup-close">Choose other flavor(s)</button>
                </div>
              </div>
            </li>
            <li class="flavour-type">
              <button class="flavour-section__desc--btn flavor-btn">Creamy Strawberry</button>
              <div class="flavour-popup">
                <p class="popup-text">Flavor is currently on backorder until 07/08/2082</p>
                <div class="btn-wrap">
                  <button class="popup-btn flavor-btn">Select Anyways</button>
                  <button class="popup-btn flavor-btn popup-close">Choose other flavor(s)</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="glucerna-flavour-section.js"></script>
</body>
</html>