{{#> layout/base title="Account Linking" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{> includes/bread-crumb }}


<script>
   

    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'accountLinking.json'}}}"));
   
</script>



    {{> includes/account-linking }}

</div>
{{/inline}}



{{/layout/base}}
