{{#> layout/base title="Account Settings" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{> includes/bread-crumb }}

<script  type="text/javascript">

    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'accountSettings.json'}}}"));
    
</script>

<div class="container">
    {{!-- {{> includes/disruptor}} --}}
    {{!-- {{> includes/banner-content }} --}}
       

</div>
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layout/base}}
