{{#> layout/base title="Baby Feeding and Development" }}

{{#*inline "content-block"}}
<section class="hero-section mb-1_375">
		{{> includes/hero-banner  banner_overline=landing.banner.overline banner_header=landing.banner.header  banner_desc=landing.banner.description img_lazy_src=landing.banner.imgLazySrc  img_src=landing.banner.imgSrc img_md_src=landing.banner.imgMdSrc img_sm_src=landing.banner.imgSmSrc alt_text=landing.banner.altText primary_button="true" btn_text=landing.banner.btnText custom_class=landing.banner.customClass custom_btn_class=landing.banner.customBtnClass banner_url = landing.banner.url}}
		{{!-- custom_class = ml-xl-auto - for right position --}}
</section>
<section class="">
	<div class="container">
		<div class="row">
			{{#each articleLanding.data}}
			<div class="col-12 mb-1_875">
				{{> includes/article-landing-card border_color=this.border_color title=this.title description=this.description imgSrc=this.imgSrc btn=this.buttons common=@root.common}}
			</div>
			{{/each}}
		</div>
	</div>
</section>

{{/inline}}

{{/layout/base}}