{{#> layout/base title="card variations" }} 

{{#*inline "content-block"}}

<div class="container">
    <div class="row mb-4">
        <div class="col-sm-6 col-md-4">
            <div class="card  h-100 card-new rounded-top-desk btm-border " style="color:#10679e;">
                <div class="card-image ">
                <picture class="image-block ">
                    <source media="(max-width: 575.98px)" data-srcset="resources/img/158_158.png">
                    <source media="(max-width: 991.98px)" data-srcset="resources/img/210_210.png">
                    <img class="card-img-top" src="resources/img/350_350.png" data-src="resources/img/350_350.png" alt="alt">
                </picture>
                </div>
                <div class="card-body">
                    <h2>Card title</h2>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                   
                </div>
                 <div class="card-buttons text-right">
                        <a href="#" class="btn icon-only">
                            <span class="sim-icons" data-icon="cart"></span>
                        </a>
                        <a href="#" class="btn icon-only">
                            <span class="sim-icons" data-icon="arrow-right"></span>
                        </a>
                    </div>
            </div>
        </div>
        
    </div>
    <div class="row mb-4">
         <div class="col-md-6">
        <div class="card h-100 card-templ-1">
            <div class="card-image ">
                <picture class="image-block ">
                    <source media="(max-width: 575.98px)" data-srcset="resources/img/158_158.png">
                    <source media="(max-width: 991.98px)" data-srcset="resources/img/210_210.png">
                    <img class="card-img-top" src="resources/img/350_350.png" data-src="resources/img/210_150.png" alt="alt">
                </picture>
                </div>
                <div class="card-body">
                    <h3>Lorem Ipsum Soler Det Lorem Ipsum Soler</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore aliqua.</p>
                </div>
            </div>
        </div>
        
        </div>
       <div class="row mb-4">
         <div class="col-12">
             <div class="card h-100 hr-card flex-md-row shadow-sm top-border pic-btm-border show-top-border-sm" style="color: #10679e">
                 <div class="card-image auto-shrink d-none d-md-flex hr-card-image-wrap">
                  <picture class="image-block hr-card-image">
                    <source media="(max-width: 575.98px)" data-srcset="resources/img/158_158.png">
                    <source media="(max-width: 991.98px)" data-srcset="resources/img/210_210.png">
                    <img class="card-img-top" src="resources/img/158_158.png" data-src="resources/img/158_158.png" alt="alt">
                </picture>
                </div>
                 <div class="card-body">
                    <h3>Lorem Ipsum Soler Det Lorem Ipsum Soler</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore aliqua.</p>
                    
                </div>
                <div class="card-buttons text-right m-md-auto">
                        <a href="{{btn_href}}" class="btn icon-only">
                            <span class="sim-icons" data-icon="arrow-right"></span>
                        </a>
                    </div>
                 </div>
             </div>
             
             </div>
</div>
<style>
   
  .card-buttons {
      padding: 15px;
  }
.card-templ-1{
    background-color: transparent;
    border: none;
}
</style>


{{/inline}} {{/layout/base}}