{{#> layout/base title="Checkout Login" }}

{{#*inline "content-block"}}


{{> includes/bread-crumb }}

<script>
    var jsonSocialLoginData = Object.freeze(JSON.parse("{{{jsonFile 'socialLogin.json'}}}"));	
    var jsonLoginMenuData = Object.freeze(JSON.parse("{{{jsonFile 'loginDialog.json'}}}"));	
    var miniCart_label = Object.freeze(JSON.parse("{{{jsonFile 'miniCart.json'}}}"));
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'checkoutLogin.json'}}}"));
</script>


<div class="container">


    {{> includes/checkout-user-login }}

</div>
{{/inline}}



{{/layout/base}}
