{{#> layout/base title="Diaper Decoder" }}

{{#*inline "content-block"}}
<div class="diaper-decoder container">
    <h2 class="diaper-decoder__title">Diaper Decoder</h2>
    <p class="diaper-decoder__title1">If your baby seems fussy or sick, or if you simply aren’t sure if all is well,
        check her diaper for clues about
        what’s going on.</p>
    <p class="diaper-decoder__title2">To begin, choose the stool below that looks most like your baby’s.</p>
    <div class="diaper-tool-wrapper">
        <span id="prevNav" class="sim-icons prev-nav" data-icon="left-nav-disabled"></span>
        <ul class="diaper-tool">
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="resources/img/greenish-black-sticky.jpg" title="Funky roots">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">

                    <img src="resources/img/tan_thick.jpg" title="The long and winding road">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="resources/img/yellow_seedy.jpg" title="Happy trees">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="resources/img/greenish-brown.jpg" title="Happy trees">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/watery_brown.jpg" alt="Watery Brown" title="Watery Brown">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/dry_brown_hard.jpg" alt="Dry Brown hard" title="Dry Brown hard">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/pinkish_red.jpg" alt="Pinkish Red" title="Pinkish Red">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/dark_green.jpg" alt="Dark Green" title="Dark Green">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/bright_green.jpg" alt="Bright Green" title="Bright Green">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/red_streaked.jpg" alt="Red Streaked" title="Red Streaked">
                </div>
            </li>
            <li class="decoder-img-wrap" 
                >
                <div class="decoder-img">
                    <img src="/resources/img/black.jpg" alt="Black" title="Black">
                </div>
            </li>
            <li class="decoder-img-wrap"
                >
                <div class="decoder-img">
                    <img src="/resources/img/chalky_white.jpg" alt="Chalky White" title="Chalky White">
                </div>
            </li>
        </ul>
        <span id="nextNav" class="sim-icons next-nav" data-icon="right-nav"></span>
    </div>
    <div class="diaper-decoder-section">
        <div class="diaper-decoder-content ">
            <div class="diaper-decoder-left">
                <h4>Greenish-black and sticky baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Meconium</p>
                    <p class="dd-feature">Looks like: <strong>Licorice or tar</strong></p>
                    <p>A thick, dark substance that fills your infant’s intestines before birth, and is eliminated as
                        stool
                        after birth.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>Meconium stools are the first stools your baby will have after birth, and it is perfectly normal.
                        It
                        appears greenish-black because it contains bilirubin, a yellowish-green breakdown of red blood
                        cells. The colostrum in your breast milk acts as a laxative and helps your baby pass the
                        meconium in
                        about three days.</p>
                    <h5>What should I do?</h5>
                    <p>There is no need to worry. This stool is normal, healthy, and temporary. (If it lasts more than
                        three
                        days, check with your doctor. He might want to check to make sure your baby is getting the
                        feedings
                        she needs to move this through her system.)</p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Yellow and seedy baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Breastfed-baby poop</p>
                    <p class="dd-feature">Looks like: <strong>Yellow, curdled milk</strong></p>
                    <p>Your breastfed baby's stools will look like this until you supplement with formula or begin
                        feeding
                        your baby solids.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>This stool is normal. Breastfed babies' poop has a mild smell (and might come with loud sound
                        effects).</p>
                    <h5>What should I do?</h5>
                    <p>Don’t worry. Your baby's poop is standard. Breast milk has the ideal nutrients to help your baby
                        stay
                        healthy and grow strong.</p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Tan and thick baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Formula-fed-baby poop</p>
                    <p class="dd-feature">Looks like: <strong>Hummus</strong></p>
                    <p>This is the result of feeding your baby formula, either as her full diet or as a supplement to
                        breast
                        milk.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>Your baby's stools are normal. You should only be concerned if your baby's poop is watery or
                        becomes
                        hard (especially small hard balls of stool).</p>
                    <h5>What should I do?</h5>
                    <p>There is no need to worry. Your baby's stool is normal and healthy.</p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Greenish-brown baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Introduction-to-solids baby poop</p>
                    <p class="dd-feature">Looks like: <strong>Leftover guacamole</strong></p>
                    <p>A mix of table foods, this poop is normal.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>Greenish-brown poop is typical and normal when your baby starts eating solids, but you might see
                        this
                        color in your baby's diaper before then. If your baby has other symptoms that concern you,
                        contact
                        your healthcare professional.</p>
                    <h5>What should I do?</h5>
                    <p>Do not worry. This stool is normal and healthy.</p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Frequent watery, brown, and loose baby poop that is not typical for your baby</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Diarrhea</p>
                    <p class="dd-feature">Looks like: <strong>Watery with chunks</strong></p>
                    <p>Frequent, loud, and loose stools could be diarrhea.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>The occasional loose baby stool is no cause for alarm. But if it occurs regularly for two days or
                        more, it could be diarrhea. <strong>Diarrhea in babies can cause dehydration,</strong> and also
                        might be a sign of infection. Usually these infections are not dangerous, but the dehydration
                        that
                        can result is a concern.</p>
                    <h5>What should I do?</h5>
                    <p>Call your healthcare provider if the problem persists for more than two days. The younger the
                        baby,
                        and the more frequent the diarrhea, the greater the concern for dehydration. <strong>Do not give
                            your baby anti-diarrhea medication unless advised by your healthcare professional.</strong>
                        Your
                        healthcare provider might advise giving your baby an oral electrolyte solution, such as
                        Pedialyte<sup>®</sup>, to help prevent dehydration.
                        <br />
                        <br />
                        Contact your health care professional right away if you see:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Dry, brown, and hard baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Constipation</p>
                    <p class="dd-feature">Looks like: <strong>Dirt, clay, or pebbles</strong></p>
                    <p>Hard, pellet-like stools could mean your baby is constipated.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>Occasional constipation is normal, especially with formula-fed babies, and when your baby
                        transitions
                        to solid foods. It could be a sign that your baby is not getting enough fluid or that he is
                        losing
                        too much fluid from the heat, illness, or a fever. Occasional blood streaking on the surface of
                        the
                        stool can result when hard stools make tiny tears in the soft tissues around the anus.</p>
                    <h5>What should I do?</h5>
                    <p>In a very young baby, consult your healthcare professional, who might recommend giving your baby
                        small amounts of extra water. Give older babies plenty of breast milk or formula to drink. If
                        your
                        baby is eating solids, offer foods that are higher in fiber, such as fruit, vegetables, and
                        whole
                        grains, and add puréed prunes to your baby's cereal. Check with your baby’s doctor about
                        altering
                        your baby's diet or using juices.
                        <br />
                        <br />
                        Contact your health care professional right away if you see:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Pinkish-red baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Artificially colored stools</p>
                    <p class="dd-feature">Looks like: <strong>Partially digested food</strong></p>
                    <p>What your baby eats comes out looking much the same as when it went in.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>Once your baby has started on solids, you will see bowel movements that can vary in color and
                        texture
                        after every meal. In addition to foods, some medications also can turn a baby’s poop unusual
                        colors.
                    </p>
                    <h5>What should I do?</h5>
                    <p>Watch what your baby eats to ensure there is a link between the color of the stool and what she
                        is
                        eating. Examples of foods known for turning baby poop shocking colors include carrots (orange)
                        and
                        spinach (green). If your baby’s stool is red for no apparent reason (no cherry
                        Popsicle<sup>®</sup>,
                        no Froot Loops<sup>®</sup> cereal or red gelatin), call your health care provider.
                        <br />
                        <br />
                        Contact your health care professional right away if you see:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    <p class="fsize-12">Popsicle<sup>®</sup> and Froot Loops<sup>®</sup> are not registered trademarks
                        of
                        Abbott Laboratories.</p>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Dark green baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Iron supplementation</p>
                    <p class="dd-feature">Looks like: <strong>Thick, dark stool</strong></p>
                    <p>If your baby's stool is dark green, it could be the product of iron supplementation in your
                        baby's
                        diet.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>In some babies, the iron sulfate in a supplement or iron-fortified baby formula can make dark
                        green
                        stools, or sometimes even greenish-black. There is no need to be concerned with the color
                        change, as
                        it has no significance to your baby’s digestive system.</p>
                    <h5>What should I do?</h5>
                    <p>This stool is normal. Studies show that iron supplementation does not cause digestive problems or
                        discomfort.
                        <br /><br />
                        Contact your health care professional right away if you see:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Bright green baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Foremilk/hindmilk imbalance</p>
                    <p class="dd-feature">Looks like: <strong>Green, frothy poop</strong></p>
                    <p>Breast-fed babies who get more foremilk than hindmilk sometimes have bright green baby poop.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>When your breastfed baby nurses for short periods of time on each breast, he might get more
                        foremilk,
                        which is sweeter and thinner, and less hindmilk, which is richer and fattier. Your baby might
                        need
                        to nurse longer on each side in order to ensure enough hindmilk is consumed during each feeding.
                        <br />
                        Sometimes a virus will turn your baby's stools bright green. If your baby is fussy and seems
                        uncomfortable, contact your healthcare provider.</p>
                    <h5>What should I do?</h5>
                    <p>Try to let your baby empty the first breast before you switch to the other side.
                        <br /><br />
                        Contact your health care professional right away if you see:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Red-streaked baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Bloody stool</p>
                    <p class="dd-feature">Looks like: <strong>A hard stool streaked with blood or mucus</strong></p>
                    <p>Bright red blood on a baby stool could indicate that your baby has small tears, or rectal
                        fissures,
                        around the anus.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>Often the stools of constipated babies are streaked with red from rectal fissures, small cracks
                        in
                        the anus caused by pushing. You also might see streaks of mucus on the baby poop.</p>
                    <h5>What should I do?</h5>
                    <p>If your baby’s doctor confirms the bleeding is from a fissure, there is little cause for concern.
                        Usually, once the constipation has resolved, the bleeding stops. If there is a large amount of
                        blood
                        (more than a few drops) or if the bleeding does not resolve with the softening of the stools,
                        check
                        with your doctor.
                        <br /><br />
                        If you notice any of the following symptoms, call your health care professional right away:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Black baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Melena</p>
                    <p class="dd-feature">Looks like: <strong>Black, thick, or tarry stool</strong></p>
                    <p>Melena is a thick black stool that could contain blood that entered in the upper GI tract.</p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>A black baby stool might contain blood that entered the intestines in the upper portion of the
                        digestive system.</p>
                    <h5>What should I do?</h5>
                    <p>If it’s not meconium (which passes during the first few days of life), call your healthcare
                        professional immediately.
                        <br />
                        <br />
                        If you notice any of the following symptoms, call your healthcare professional right away:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
        <div class="diaper-decoder-content">
            <div class="diaper-decoder-left">
                <h4>Chalky and white baby poop</h4>
                <div class="dd-left-content">
                    <p class="dd-feature">AKA: Abnormal Stool</p>
                    <p class="dd-feature">Looks like: <strong>Pale, colorless, or white stool</strong></p>
                    <p>A chalky white baby stool could be a sign of a lack of bile, which normally turns a stool brown.
                    </p>
                </div>
            </div>
            <div class="diaper-decoder-right">
                <div class="dd-right-content">
                    <h5>What does it mean?</h5>
                    <p>A white stool might be a sign of a liver or gallbladder problem. Bile is a digestive fluid made
                        in
                        the liver and stored in the gallbladder. Your baby's stool gets its normal color from the bile
                        as it
                        is excreted during digestion. If your baby's liver doesn't produce bile, or if the bile is
                        obstructed, his stool will be white.</p>
                    <h5>What should I do?</h5>
                    <p>A white stool is very rare, but if your baby's poop is white, call your health care professional
                        right away.
                        <br /><br />
                        If you notice any of the following symptoms, call your health care professional right away:
                    <ul>
                        <li>Blood or mucus in stools</li>
                        <li>Fever</li>
                        <li>Vomiting</li>
                        <li>Irritability</li>
                        <li>Refusal to eat</li>
                        <li>Decreased or dark-colored urine</li>
                        <li>Decreased activity</li>
                    </ul>
                    </p>
                </div>
                <p class="dd-terms">The information in this section was derived from the following:
                    <br />
                    Abbott Nutrition. Parents Guide to Infant Stools. March 2009.
                    <br />
                    McGrail A, Metland D, Murray L, et al. The BabyCenter Essential Guide to Your Baby's First Year.
                    July
                    2007.
                    <br />
                    Nathanson LW. The Portable Pediatrician. September 2002.</p>
            </div>
        </div>
    </div>
</div>

{{/inline}}
{{#*inline "scripts-block"}}

<script type="text/javascript" src="similac-base/js/jquery.bxslider.js" defer></script>
<script type="text/javascript" src="similac-component/js/diaper-decoder/diaper-decoder.js" defer> </script>
{{/inline}}

{{/layout/base}}