{{#> layout/base title="Digital Offer SignIn" }}

{{#*inline "content-block"}}


{{> includes/bread-crumb }}


<script>
   
	var jsonSocialLoginData = Object.freeze(JSON.parse("{{{jsonFile 'socialLogin.json'}}}"));
    var doSignIn = Object.freeze(JSON.parse("{{{jsonFile 'digitalOfferSignIn.json'}}}"));
    var doCreatePassword = Object.freeze(JSON.parse("{{{jsonFile 'digitalOffersCreatePassword.json'}}}"));
   
</script>



    {{> includes/digital-offer-signin }}

</div>
{{/inline}}



{{/layout/base}}
