{{#> layout/base title="Digital Offer Retailer SignIn" }}

{{#*inline "content-block"}}


{{> includes/bread-crumb }}


<script>
   

    var dorLogin = Object.freeze(JSON.parse("{{{jsonFile 'doRetailerLogin.json'}}}"));
    var dorRegistration = Object.freeze(JSON.parse("{{{jsonFile 'doRetailerRegistration.json'}}}"));
   
</script>



    {{> includes/digital-offer-retailer-signin }}

</div>
{{/inline}}



{{/layout/base}}
