{{#> layout/base title="Ecommerce Registration" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{> includes/bread-crumb }}


<script  type="text/javascript">
function onloadCallback() {
      // alert("grecaptcha is ready!");
     };
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'ecommerceRegistration.json'}}}"));
   
</script>



    {{> includes/ecommerce-registration }}

</div>
{{/inline}}


{{#*inline "scripts-block"}}


<script type="text/javascript" src="similac-component/js/user_login_dialog/user_login_dialog.react.js" defer></script>

{{/inline}}


{{/layout/base}}
