{{#> layout/base title="Fast Registration" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{> includes/bread-crumb }}


<script>
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'fastRegistration.json'}}}"));
</script>

<div class="container fast_register">

    <h1>Lorem ipsum dolor sit amet, consectetur</h1>

    {{> includes/reversible-cart-block
                        title=fastregister.blockContent.cartData.title
						description=fastregister.blockContent.cartData.description
						image=fastregister.blockContent.cartData.image
						video=fastregister.blockContent.cartData.video
						buttons=fastregister.blockContent.cartData.buttons
						custom_class_left=fastregister.blockContent.cartData.custom_class_left
						custom_class_right=fastregister.blockContent.cartData.custom_class_right
						reversible=fastregister.blockContent.cartData.reversible
						custom_class_top=fastregister.blockContent.cartData.custom_class
    
    
     }}
{{> includes/fast-user-registration }}
</div>
{{/inline}}
{{#*inline "scripts-block"}}
<script type="text/javascript" src="similac-component/js/video-player/video-player.js" defer></script>


{{/inline}}


{{/layout/base}}