{{#> layout/base title="Find Retailer" }}
{{#*inline "content-block"}}
{{> includes/bread-crumb }}




<div class="container">
    {{> includes/find_retailer}}
</div>



{{/inline}}
{{#*inline "scripts-block"}}

<script type="text/javascript" src="similac-component/js/find_retailer/find_retailer.js" defer></script>

{{/inline}}
{{/layout/base}}