{{#> layout/base title="Forgot Password" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{> includes/bread-crumb }}


<script>
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'forgotPassword.json'}}}"));
</script>

<div class="container forgot_password">

{{> includes/forgot-password }}
</div>
{{/inline}}



{{/layout/base}}