{{#> layout/base title="Formula Finder Results" }}

{{#*inline "content-block"}}

<div class="formula-finder">
  <section class="text-block bg-white pt-md-1_875 pb-md-0">
		<div class="container">
			<div class="para-content-1">
				<h2>Similac<sup>®</sup> Formula Finder</h2>
				<p>Recommended For You</h5>
			</div>
		</div>
	</section>
	<section class="text-block bg-alice-blue py-lg-3_375 mb-3_375">
		<div class="container">
			{{> includes/reversible-cart-block
						title=""
						description="<p><b>Complete and organic nutrition</b><br/>Similac Organic is certified USDA Organic, so you know it passes the same rigorous standards as the organic foods you buy.</p>"
						image=landing.blockContent.cartData.image
						buttons=formulaFinder.buttons
						custom_class_left="col-lg-3 mb-1_875"
						custom_class_right="col-lg-9"
						reversible="true"
			}}
			<p class="fsize-12 mt-1_875">Talk to your baby's doctor before choosing or switching infant formulas.</p>
		</div>
	</section>
</div>

{{/inline}}
{{#*inline "scripts-block"}}

{{/inline}}

{{/layout/base}}