{{#> layout/base title="Formula Finder" }}

{{#*inline "content-block"}}
{{!-- <input type="hidden" id="tummyResultsUrl" value="/tummy-results.html"> --}}
<input type="hidden" id="formulaFinderJSON" value="http://127.0.0.1:8887/Forumula_Finder.json">

<div class="formula-finder container">
	<section class="hero-section banner-img-right">
		{{!-- banner-img-right for right --}}
			{{> includes/hero-banner  banner_overline=tummy.banner.overline banner_header=tummy.banner.header  banner_desc=home.banner.description img_lazy_src=home.banner.imgLazySrc  img_src=home.banner.imgSrc img_md_src=home.banner.imgMdSrc img_sm_src=home.banner.imgSmSrc alt_text=home.banner.altText primary_button="true" btn_text=home.banner.btnText custom_class=home.banner.customClass custom_btn_class=tummy.banner.customBtnClass banner_url = tummy.banner.url}}
	</section>
	<div class="row justify-content-center">
		<div class="col-lg-12 my-1_875">
			<div class="row-container section">
				<div class="para-content">
					<div class="tummy-tool-wrap">
                        <div class="tummy-tool-inner">
                            <div id="formula-finder-wizard">
                                <div id="formula-finder-contents" class="radio-button-set"></div>
                                <div id="ff-navigation" class="clearfix" style="display: none;">
                                    <div class="mobile-button" id="previous-question">
                                        <a href="#" class="btn btn-primary back">Back</a>
                                    </div>
                                    <div class="mobile-button" id="next-question">
                                        <a href="#" class="btn btn-primary">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </div>
</div>

{{/inline}}
{{#*inline "scripts-block"}}

{{!-- <script type="text/javascript" src="similac-component/js/tummy-trouble/sweetalert.min.js" defer></script>
<script type="text/javascript" src="similac-base/js/jquery.bxslider.js" defer></script> --}}
<script type="text/javascript" src="similac-component/js/formula-finder/formula-finder.js" defer> </script>
{{/inline}}

{{/layout/base}}