{{#> layout/base title="Formula Finder Results New" }}

{{#*inline "content-block"}}

<div class="formula-finder">
    <div class="container">
      	<div class="cmp-container para-content-1">
            <div class="column-control">
                <div class="row">
				    <div class="col-lg-8 col-md-12 mb-1_875">
                        <div class="text section">
                            <div>
                                <h2>Similac<sup>®</sup> Formula Finder</h2>
                                <p>Recommended For You</p>
                            </div>
                        </div>
                        <div class="text section clearfix">
                            <div class="col-md-6 col-lg-12 pl-0 float-md-left">
                                <h2>Similac Pro-Advance<sup>®*</sup></h2>
                                <p>Similac Pro-Advance with 2’-FL human milk oligosaccharide<sup>†</sup> (2’-FL HMO) is complete nutrition designed to support your baby’s immune and cognitive development. With an exclusive blend of DHA, lutein, and vitamin E, it’s our closest formula to breast milk.<sup>1</sup></p>
                            </div>
                            <div class="image section float-md-right col-md-6 d-none d-md-block d-lg-none">
                                <picture class="image-block mb-1_875" style="color:#1a8f83;">
                                    <source media="(max-width: 575.98px)" data-srcset="resources/img/345_194.png"
                                        srcset="resources/img/345_194.png" class="lazy">
                                    <source media="(max-width: 991.98px)" data-srcset="resources/img/690_388.png"
                                        srcset="resources/img/690_388.png" class="lazy">
                                    <img class="card-img-top lazy" src="resources/img/730_410_v2.png"
                                        data-src="resources/img/730_410_v2.png" alt="large image">
                                </picture>
					        </div>
                        </div>
                        <div class="col-sm-12 px-0 d-block d-sm-none">
                            <div class="image section">
                                <picture class="image-block mb-1_875" style="color:#1a8f83;">
                                    <source media="(max-width: 575.98px)" data-srcset="resources/img/345_194.png"
                                        srcset="resources/img/345_194.png" class="lazy">
                                    <source media="(max-width: 991.98px)" data-srcset="resources/img/690_388.png"
                                        srcset="resources/img/690_388.png" class="lazy">
                                    <img class="card-img-top lazy" src="resources/img/730_410_v2.png"
                                        data-src="resources/img/730_410_v2.png" alt="large image">
                                </picture>
					        </div>
                        </div>
                        <div class="text-section">
                            <div class="col-lg-12 col-md-6 px-0">
                                <div class="row align-items-center mt-1_875">
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-1_875 buttons">
                                        {{> includes/button primary_button="true" btn_href="" btn_text="CTA" custom_btn_class="w-100 btn-half"}}
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-1_875 buttons">
                                        {{> includes/button primary_button="true" btn_href="" btn_text="CTA" custom_btn_class="w-100 btn-half"}}
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-3 buttons text-center text-md-center mb-lg-1_875 text-lg-left">
                                        {{> includes/button text_only="true" btn_href="" btn_text="text" custom_btn_class="w-100 btn-half"}}
                                    </div>
                                </div>

                                <p class="fsize-12 mt-1_875">*Not for infants or children with galactosemia.<br>
                                † Not from human milk.<br>
                                <br>
                                <b>Reference: 1.</b>Goehring KC <i>J Nutr.</i> 2016;146(12):2559-2566.<br>
                                <br>
                                Talk to your baby’s doctor before choosing or switching infant formulas.</p>
                            </div>
                            
                        </div>
                        
                        
                        
                    </div>
                    <div class="col-lg-4">
					    <div class="row">
                            <div class="col-lg-12 col-xl-12 d-none d-lg-block mb-1_875">
                                <div class="image section">
                                    <picture class="image-block mb-1_875" style="color:#1a8f83;">
                                        <source media="(max-width: 575.98px)" data-srcset="resources/img/345_194.png"
                                            srcset="resources/img/345_194.png" class="lazy">
                                        <source media="(max-width: 991.98px)" data-srcset="resources/img/690_388.png"
                                            srcset="resources/img/690_388.png" class="lazy">
                                        <img class="card-img-top lazy" src="resources/img/730_410_v2.png"
                                            data-src="resources/img/730_410_v2.png" alt="large image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

{{/inline}}
{{#*inline "scripts-block"}}

{{/inline}}

{{/layout/base}}