{{#> layout/base title="Search" }}

{{#*inline "content-block"}}
{{> includes/bread-crumb }}

<div class="container globalSearch">
	<h2 class="globalSearch__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    sed do eiusmod tempor incididunt ut labore et </h2>
<div id="globalSearch"></div>
</div>

{{/inline}}
{{#*inline "scripts-block"}}
<script>
    var globalSearch_label = Object.freeze(JSON.parse("{{{jsonFile 'globalSearch.json'}}}"));
   
</script>
 <script type="text/javascript" src="similac-base/js/mark.min.js" defer></script>

{{/inline}}
{{/layout/base}}