{{#> layout/base title="Home" }}

{{#*inline "content-block"}}
<div class="landing-wrapper">
	<section class="hero-section">
		{{> includes/hero-banner  banner_overline=landing.banner.overline banner_header=landing.banner.header  banner_desc=landing.banner.description img_lazy_src=landing.banner.imgLazySrc  img_src=landing.banner.imgSrc img_md_src=landing.banner.imgMdSrc img_sm_src=landing.banner.imgSmSrc alt_text=landing.banner.altText primary_button="true" btn_text=landing.banner.btnText custom_class=landing.banner.customClass custom_btn_class=landing.banner.customBtnClass banner_url = landing.banner.url}}
		{{!-- custom_class = ml-xl-auto - for right position --}}
	</section>

	<section class="text-block bg-white py-md-1_875">
		<div class="container">
			<div class="para-content-1">
				<h2>Lorem Ipsum Soler Det</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</h5>
			</div>
		</div>
	</section>
	<section class="text-block bg-alice-blue py-lg-3_375">
		<div class="container">
			{{> includes/reversible-cart-block
						title=landing.blockContent.cartData.title
						description=landing.blockContent.cartData.description
						image=landing.blockContent.cartData.image
						buttons=landing.blockContent.cartData.buttons
						custom_class_left=landing.blockContent.cartData.custom_class_left
						custom_class_right=landing.blockContent.cartData.custom_class_right
						reversible=landing.blockContent.cartData.reversible
			}}

			<hr class="my-lg-3_375 my-md-2_625 my-sm-1_875" />

			<div class="row">
				{{#each landing.blockContent.itemList}}
				<div class="col-md-6 mb-1_875">
					{{> includes/card-templ-1
							title=this.title
							description=this.description
							image=this.image
							custom_class=""
						}}
				</div>
				{{/each}}

			</div>
		</div>
	</section>
	<section class="text-block bg-alice-blue py-lg-3_375">
		<div class="container">
			{{> includes/reversible-cart-block
				title=landing.blockContent.cartData2.title
				description=landing.blockContent.cartData2.description
				image=landing.blockContent.cartData2.image
				buttons=landing.blockContent.cartData2.buttons
				custom_class_left=landing.blockContent.cartData.custom_class_left
				custom_class_right=landing.blockContent.cartData.custom_class_right
				reversible=landing.blockContent.cartData2.reversible
			}}
		</div>
	</section>


	<section class="pt-1_875">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 mb-1_875">
					<div class="btm-border card card-new h-100 rounded-top-desk"
						style="color: #10679e;">
						{{> includes/image
							image=common.smImage 
							border_color="inherit" 
							custom_class=""
						}}
						<div class="card-body">
							<h2>Card title</h2>
							<p>Some quick example text to build on the card title and make up the bulk of the card's
								content.</p>
							<div class="card-buttons text-right">
								{{> includes/button 
									custom_btn_class="" 
									btn_image="cart" 
									btn_href="#" 
									icon_only="true"
							}}
								{{> includes/button 
									custom_btn_class="" 
									btn_image="arrow-right" 
									btn_href="#" 
									icon_only="true"
							}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 mb-1_875">

					<div class="btm-border card card-new h-100 rounded-top-desk"
						style="color: #10679e;">
						{{> includes/image
							image=common.smImage 
							border_color="inherit" 
							custom_class=""
					}}
						<div class="card-body">
							<h2>Card title</h2>
							<p>Some quick example text to build on the card title and make up the bulk of the card's
								content.</p>
							<div class="card-buttons text-right">
								{{> includes/button 
									custom_btn_class="" 
									btn_image="cart" 
									btn_href="#" 
									icon_only="true"
							}}
								{{> includes/button 
									custom_btn_class="" 
									btn_image="arrow-right" 
									btn_href="#" 
									icon_only="true"
							}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 mb-1_875">
					<div class="btm-border card card-new h-100 rounded-top-desk"
						style="color: #10679e;">
						{{> includes/image
							image=common.smImage 
							border_color="inherit" 
							custom_class=""
					}}
						<div class="card-body">
							<h2>Card title</h2>
							<p>Some quick example text to build on the card title and make up the bulk of the card's
								content.</p>
							<div class="card-buttons text-right">
								{{> includes/button 
									custom_btn_class="" 
									btn_image="cart" 
									btn_href="#" 
									icon_only="true"
								}}
								{{> includes/button 
									custom_btn_class="" 
									btn_image="arrow-right" 
									btn_href="#" 
									icon_only="true"
							}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{{/inline}}

{{/layout/base}}