{{#> layout/base title="Multiple-Registration" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{!-- {{> includes/bread-crumb }} --}}


<script>

    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'mutiple-registration.json'}}}"));
</script>

<div class="container multiple_registration_custom">
    {{!-- {{> includes/disruptor}} --}}
    {{!-- {{> includes/banner-content }} --}}
    {{!-- {{> includes/social-widget-login }}--}}    

    {{> includes/reversible-cart-block
                        title=fastregister.blockContent.cartData.title
						description=fastregister.blockContent.cartData.description
						image=fastregister.blockContent.cartData.image
						buttons=fastregister.blockContent.cartData.buttons
						custom_class_left=fastregister.blockContent.cartData.custom_class_left
						custom_class_right=fastregister.blockContent.cartData.custom_class_right
						reversible=fastregister.blockContent.cartData.reversible
						custom_class_top=fastregister.blockContent.cartData.custom_class
    
    
     }} 
    {{!-- <section class="bg-white pt-sm-2_625">
        <div class="container">
            <div class="cmp-container fast_reg registration_custom mutiple">
                <div class="text">
                    <div>
                        <h2 class="para-content-1">
                            Join Similac
                            <sup>
                            ®
                            </sup>
                            StrongMoms
                            <sup>
                            ®
                            </sup>
                            Rewards for up to $400* in benefits and support through your journey. Similac
                        </h2>
                    </div>
                </div>
                <div class="reversible-cart-block row d-none d-md-block">
                    <div class="col-lg-3 col-md-3">
                        <div class="cmp-teaser__image">
                            <div data-cmp-is="image"
                                data-cmp-src="http://dev.similac.com/strongmoms/_jcr_content/root/row_container/content/text_image.coreimg.80{.width}.jpeg/1597035922777/core-strongmoms-reg-400dollarvalue-checks-coupons-savings-samples-xl.jpeg"
                                data-cmp-widths="210,540"
                                data-asset="http://dev.similac.com/content/dam/an/similac/us/welcome/core-strongmoms-reg-400dollarvalue-checks-coupons-savings-samples-XL.jpg"
                                class="image-block cmp-image"
                                itemscope
                                itemtype="http://schema.org/ImageObject"
                            >
                                <a
                                    class="cmp-image__link"
                                    href="/strongmoms/admin/login.html"
                                    data-cmp-hook-image="link"
                                >
                                    <noscript data-cmp-hook-image="noscript">
                                        <img
                                            src="/strongmoms/_jcr_content/root/row_container/content/text_image.coreimg.jpeg/1597035922777/core-strongmoms-reg-400dollarvalue-checks-coupons-savings-samples-xl.jpeg"
                                            class="card-img-top lazy cmp-image__image"
                                            itemprop="contentUrl"
                                            data-cmp-hook-image="image"
                                            alt
                                        />
                                    </noscript>
                                </a>
                            </div>
                        </div>
                        <div class="bold d-md-none mt-4"></div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="cmp-teaser__title">
                                   Congratulations on your bundles of joy!
                                </h3>
                                <div class="cmp-teaser__description">
                                    <p>Similac<sup>®</sup> is pleased to offer a complimentary product sample to parents for each newborn baby—from twins to triplets, and on up.*<br>
                                        <br>
                                        Once you and your pediatrician decide which formula is best to meet your babies’ needs, complete the fields below to request your free samples.<br>
                                        <br>
                                        Save even more when you <a class="text-tangerine no-sup-underline" href="/strongmoms.html"><u>join Similac</u><sup>®</sup> <u>StrongMoms</u><sup>®</sup> <u>Rewards</u></a>!
                                    </p>
                                </div>
                                <div class="bold d-none d-md-block mt-4"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-lg-3_375 my-md-2_625 my-sm-1_875" />
                </div>
            </div>
        </div>  
    </section> --}}
    {{!-- {{> includes/user-registration }} --}}
    <div class="container multipleregistrationFormContainer">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-9">
                
                <div class="para-txt">
                    <p>Multiple Birth Program Required Information.</p>               
                </div>            
                <div class="row">
                    <div class="col-md-12 col-xs-12">                  
                        
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div id="multipleregistration">
                        </div>      
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>
{{/inline}}



{{/layout/base}}
