{{#> layout/base title="My Offers" }}
{{#*inline "content-block"}}
{{> includes/bread-crumb }}

<div class="container profile">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            {{> includes/side_nav}}
            {{> includes/recent-order customClass="d-none d-md-block"}}
        </div>
        <div class="col-12 col-md-8 col-lg-9">
      <div>
  <p class="profile__title">
    Orders
  </p>
  <div class="row-container">
    <div class="col-lg-8 col-md-10">
      <div class="bg-alice-blue py-2_625 font-roboto-reg text-smalt">
        <p>
          Looks like you haven't placed any orders yet!shop similac to find the right formula for you and your baby
        </p>
        <p>
          <a class="btn btn-primary col-12 col-lg-8 mt-3">
            Shop
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
      
        </div>
        <div class="col-12 d-md-none">
            {{> includes/recent-order customClass=""}}
        </div>
    </div>
</div>





{{/inline}}
{{#*inline "scripts-block"}}
<script>
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'mailingAddress.json'}}}"));
    
</script>

{{/inline}}
{{/layout/base}}