{{#> layout/base title="Notification preferences" }}
{{#*inline "content-block"}}
{{> includes/bread-crumb }}


<div class="container">
    <h2 class="font-brandon-bold text-smalt">Notification Preferences</h2>
    <div class="notification-preferences mx-auto">

        <p class="font-roboto-reg text-smalt">
            How should we let you know that you have savings?</p>
        <p class="font-roboto-bold text-smalt">
            I would like to receive text notifications.
        </p>
        {{> includes/form-elements group_id="group id" label="Phone number"
         input_text="true" input_id="" input_name="phonenumber" type="text" custom_class="col-12" placeholder="Phone number"}}
        <p class="col-12 footnote font-roboto-reg text-grey">Message and data rates may apply,</p>
        <a href="#" class="btn btn-primary col-12 col-md-6 col-lg-8 mb-3">
            Text Me
        </a>

        <div class="divider"><span>or</span></div>

        <p class="font-roboto-bold text-smalt">
            I would like to receive email notifications.
        </p>
        {{> includes/form-elements group_id="group id" label="Email" input_text="true"
         input_id="" input_name="email" type="email" custom_class="col-12" placeholder="Email"}}
        <p class="col-12 footnote font-roboto-reg text-grey">
            To update your email address, contact 1-800-227-5767,
            Monday
            through Friday, 8:30 AM to
            5 PM EST/EDT.</p>
        <a href="#" class="btn btn-primary col-12 col-md-6 col-lg-8 mb-3">
            Email Me
        </a>
    </div>

</div>

{{/inline}}
{{#*inline "scripts-block"}}
<script>
</script>

{{/inline}}
{{/layout/base}}