{{#> layout/base title="Products" }} {{#*inline "content-block"}} {{> includes/bread-crumb }}



<div class="container products">
	{{> includes/products}}
</div>



{{/inline}}

 {{#*inline "scripts-block"}}
 <script>	
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'test.json'}}}"));
    var products_label = Object.freeze(JSON.parse("{{{jsonFile 'products.json'}}}"));
    var miniCart_label = Object.freeze(JSON.parse("{{{jsonFile 'miniCart.json'}}}"));
</script>

 {{/inline}}

  {{/layout/base}}