{{#> layout/base title="PWA-Login" }}
{{#*inline "content-block"}}
<script>
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'pwaLogin.json'}}}"));
</script>
<div>
    {{> includes/pwa-user-login }}
</div>
{{/inline}}
{{/layout/base}}