{{#> layout/base title="Reset Password" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}

{{> includes/bread-crumb }}


<script>
    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'resetPassword.json'}}}"));
</script>

<div class="container reset_password">

{{> includes/reset-password }}
</div>
{{/inline}}



{{/layout/base}}