{{#> layout/base title="Retailer Selection" }}
{{#*inline "content-block"}}
{{> includes/bread-crumb }}

<div class="container retailer-selection">
    <div class="row my-3" id="retailer_banner">
        <div class="col-12">
            <h2 class="font-brandon-bold text-smalt mb-3">Welcome to a new, convenient way to save.</h2>
        </div>
        <div class="col-12 col-md-4 col-lg-6">
            {{> includes/video-player custom_class=""}}
        </div>
        <div class="col-12 col-md-8 col-lg-6 ">
            <h3 class="font-brandon-bold text-smalt">No more paper coupons. See how easy it is to go digital!</h3>
            {{> includes/list }}
        </div>
    </div>
    <div id="select_retailer_pwa"></div>
   
    
</div>

{{/inline}}
{{#*inline "scripts-block"}}
<script>
    var retailerSelection_label = Object.freeze(JSON.parse("{{{jsonFile 'retailerSelectionv2.json'}}}"));
</script>

{{/inline}}
{{/layout/base}}