{{#> layout/base title="site_map" }}
{{#*inline "content-block"}}
<div class="container">
<div class="site-map navigation">


	
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/products.html" title="Similac Products" class="cmp-navigation__item-link">Similac Products</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/products/innovation.html" title="The Similac Difference" class="cmp-navigation__item-link">The Similac Difference</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/pregnancy.html" title="Your Pregnancy" class="cmp-navigation__item-link">Your Pregnancy</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/pregnancy/what-are-prenatal-vitamins.html" title="Prenatal Vitamins " class="cmp-navigation__item-link">Prenatal Vitamins </a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/pregnancy/what-is-morning-sickness.html" title="Morning Sickness" class="cmp-navigation__item-link">Morning Sickness</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/pregnancy/healthy-snacks-for-pregnant-women.html" title="Healthy Snacks" class="cmp-navigation__item-link">Healthy Snacks</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/pregnancy/diet-plan.html" title="Pregnancy Diet " class="cmp-navigation__item-link">Pregnancy Diet </a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/pregnancy/weight-gain.html" title="Pregnancy Weight Gain " class="cmp-navigation__item-link">Pregnancy Weight Gain </a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/pregnancy/digestion-relief.html" title="Pregnancy Digestion" class="cmp-navigation__item-link">Pregnancy Digestion</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/formula-coupons-free-samples.html" title="Coupons &amp; Samples" class="cmp-navigation__item-link">Coupons &amp; Samples</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/baby-tools-resources.html" title="Resources &amp; Tools" class="cmp-navigation__item-link">Resources &amp; Tools</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/best-milk-formula.html" title="Baby Formula Finder" class="cmp-navigation__item-link">Baby Formula Finder</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/best-milk-formula/results.html" title="Baby Formula Finder Results" class="cmp-navigation__item-link">Baby Formula Finder Results</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/us/en/baby-tools-resources/tummy-tools/poop-color-chart.html" title="Baby Stool Color" class="cmp-navigation__item-link">Baby Stool Color</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/tummy-tools.html" title="Tummy Trouble Tool " class="cmp-navigation__item-link">Tummy Trouble Tool </a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/tummy-tools/poop-color-chart.html" title="Baby Stool Color" class="cmp-navigation__item-link">Baby Stool Color</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/tummy-tools/upset-stomach-problem.html" title="Upset Stomach Problem" class="cmp-navigation__item-link">Upset Stomach Problem</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-3">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/tummy-tools/upset-stomach-problem/results.html" title="Results" class="cmp-navigation__item-link">Results</a>

        
    </li>

    </ul>

    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/baby-feeding.html" title="Feeding tools" class="cmp-navigation__item-link">Feeding tools</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/baby-feeding/free-baby-journal-app.html" title="Baby Journal App" class="cmp-navigation__item-link">Baby Journal App</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/pregnancy-to-do-checklist.html" title="Prenatal Resources" class="cmp-navigation__item-link">Prenatal Resources</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/premature-baby-resources.html" title="Preemie Resources" class="cmp-navigation__item-link">Preemie Resources</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-tools-resources/baby-questions.html" title="FAQs" class="cmp-navigation__item-link">FAQs</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/demo-homepage.html" title="Demo Homepage" class="cmp-navigation__item-link">Demo Homepage</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/baby-feeding.html" title="Baby Feeding &amp; Development" class="cmp-navigation__item-link">Baby Feeding &amp; Development</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/breastfeeding.html" title="Supplementing &amp; Breastfeeding Basics" class="cmp-navigation__item-link">Supplementing &amp; Breastfeeding Basics</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/breastfeeding/supplementing-with-formula.html" title="SupplementingBasics" class="cmp-navigation__item-link">SupplementingBasics</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/breastfeeding/tips.html" title="BreastfeedingBasics" class="cmp-navigation__item-link">BreastfeedingBasics</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/breastfeeding/pain-problems.html" title="CommonNursingProblems" class="cmp-navigation__item-link">CommonNursingProblems</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/breastfeeding/switching-from-breastmilk-to-formula-bottle.html" title="TransitioningtoBreastfeedingtoBottle" class="cmp-navigation__item-link">TransitioningtoBreastfeedingtoBottle</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/formula-guide.html" title="Formula Feeding" class="cmp-navigation__item-link">Formula Feeding</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/formula-guide/guide-chart.html" title="FormulaFeeding101" class="cmp-navigation__item-link">FormulaFeeding101</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/formula-guide/baby-bottles-nipple-sizes.html" title="BabyBottlesandNipples" class="cmp-navigation__item-link">BabyBottlesandNipples</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/formula-guide/organic-natural-non-gmo.html" title="OranicNaturalandNonGMO" class="cmp-navigation__item-link">OranicNaturalandNonGMO</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/formula-guide/how-to-make-a-bottle.html" title="HowtoMakeaBottle" class="cmp-navigation__item-link">HowtoMakeaBottle</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/premature-development.html" title="Premature Baby Nutrition  " class="cmp-navigation__item-link">Premature Baby Nutrition  </a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/premature-development/preemie-catchup-growth.html" title="Specialized Nutrition for your Preemie" class="cmp-navigation__item-link">Specialized Nutrition for your Preemie</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/premature-development/preemie-adjusted-age.html" title="Preemie Adjusted Age vs Chronological Age: What Is The Difference?" class="cmp-navigation__item-link">Preemie Adjusted Age vs Chronological Age: What Is The Difference?</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/premature-development/bringing-preemie-home.html" title="Bringing Your Preemie Home From NICU—What Care Is Needed?" class="cmp-navigation__item-link">Bringing Your Preemie Home From NICU—What Care Is Needed?</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/toddler-diet.html" title="Baby Food Basics " class="cmp-navigation__item-link">Baby Food Basics </a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/toddler-diet/nutrition.html" title="Toddler Nutrition &amp; Diet | Guide to Feeding Milestones | Similac®" class="cmp-navigation__item-link">Toddler Nutrition &amp; Diet | Guide to Feeding Milestones | Similac®</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/toddler-diet/starting-solid-food.html" title="Introducing Solid Foods—When to Start Baby Food | Similac®" class="cmp-navigation__item-link">Introducing Solid Foods—When to Start Baby Food | Similac®</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/toddler-diet/baby-food-allergies.html" title="Toddler &amp; Baby Food Allergies—Nothing to Sneeze At | Similac®" class="cmp-navigation__item-link">Toddler &amp; Baby Food Allergies—Nothing to Sneeze At | Similac®</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/issues.html" title="Feeding Issues &amp; Food Allergies " class="cmp-navigation__item-link">Feeding Issues &amp; Food Allergies </a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/issues/colic-symptoms.html" title="Colicky Baby - What Causes Colic &amp; What Are The Signs? | Similac®" class="cmp-navigation__item-link">Colicky Baby - What Causes Colic &amp; What Are The Signs? | Similac®</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/issues/cow-milk-allergy-lactose-intolerance.html" title="Coping with Cow Milk Allergy &amp; Lactose Intolerance in Babies" class="cmp-navigation__item-link">Coping with Cow Milk Allergy &amp; Lactose Intolerance in Babies</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/issues/diarrhea-constipation.html" title="Baby Constipation &amp; Diarrhea Guide —Causes, Symptoms &amp; Relief " class="cmp-navigation__item-link">Baby Constipation &amp; Diarrhea Guide —Causes, Symptoms &amp; Relief </a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/issues/infant-food-allergies.html" title="Understanding Food Allergies in Babies —What You Should Know" class="cmp-navigation__item-link">Understanding Food Allergies in Babies —What You Should Know</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/issues/spit-up-vomit.html" title="Baby Spit-Up &amp; Throwing Up—Help with Vomiting After Feeding" class="cmp-navigation__item-link">Baby Spit-Up &amp; Throwing Up—Help with Vomiting After Feeding</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/development.html" title="Baby Development | Months 1-12 " class="cmp-navigation__item-link">Baby Development | Months 1-12 </a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/development/nutrition-growth-chart.html" title="Baby Growth Chart &amp; Nutrition Guide—Food for Infant Boy or Girl" class="cmp-navigation__item-link">Baby Growth Chart &amp; Nutrition Guide—Food for Infant Boy or Girl</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/development/physical-growth.html" title="Physical Growth" class="cmp-navigation__item-link">Physical Growth</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/development/motor-skills-activities.html" title="Motor Skills" class="cmp-navigation__item-link">Motor Skills</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/development/talk-language-acitivities.html" title="Baby Talk Guide: Activities Supporting Baby Language Development" class="cmp-navigation__item-link">Baby Talk Guide: Activities Supporting Baby Language Development</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/development/brain-cognitive.html" title="Develop Baby’s Brain—Boosting Cognitive Development in Infants" class="cmp-navigation__item-link">Develop Baby’s Brain—Boosting Cognitive Development in Infants</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/development/social-emotional.html" title="Social &amp; Emotional Development Milestones in Babies 0-12 Months" class="cmp-navigation__item-link">Social &amp; Emotional Development Milestones in Babies 0-12 Months</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development.html" title="Baby Milestones " class="cmp-navigation__item-link">Baby Milestones </a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development/1-month-old.html" title="1-Month-Old Baby Guide—First Month Development &amp; Milestones" class="cmp-navigation__item-link">1-Month-Old Baby Guide—First Month Development &amp; Milestones</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development/2-month-old.html" title="2-Month-Old Baby Guide—Second Month Development &amp; Milestones" class="cmp-navigation__item-link">2-Month-Old Baby Guide—Second Month Development &amp; Milestones</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development/3-month-old.html" title="3-Month-Old Baby Guide—Third Month Development &amp; Milestones" class="cmp-navigation__item-link">3-Month-Old Baby Guide—Third Month Development &amp; Milestones</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development/4-5-6-month-old.html" title="4, 5, &amp; 6 Months Old Baby Guide—Monthly Development &amp; Milestones" class="cmp-navigation__item-link">4, 5, &amp; 6 Months Old Baby Guide—Monthly Development &amp; Milestones</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development/7-month-old.html" title="7-Month-Old Baby Guide—Seventh Month Development &amp; Milestones" class="cmp-navigation__item-link">7-Month-Old Baby Guide—Seventh Month Development &amp; Milestones</a>

        
    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-2">
        
    <a href="/content/an/similac/global/en/baby-feeding/milestones-development/8-9-10-11-12-month-old.html" title="Development &amp; Milestones Guide: Babies 8, 9, 10, 11, &amp; 12 Months Old " class="cmp-navigation__item-link">Development &amp; Milestones Guide: Babies 8, 9, 10, 11, &amp; 12 Months Old </a>

        
    </li>

    </ul>

    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/test.html" title="Test Page" class="cmp-navigation__item-link">Test Page</a>

        
    <ul class="cmp-navigation__group">
        
    <li class="cmp-navigation__item cmp-navigation__item--level-1">
        
    <a href="/content/an/similac/global/en/test/homepage-.html" title="HomePage " class="cmp-navigation__item-link">HomePage </a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-navigation__item cmp-navigation__item--level-0">
        
    <a href="/content/an/similac/global/en/sample.html" title="Sample" class="cmp-navigation__item-link">Sample</a>

        
    </li>

    </ul>


 </div>
 </div>
{{/inline}}
 {{/layout/base}}