{{#> layout/base title="Start Dialog" }}

{{#*inline "content-block"}}
	<section class="hero-section banner-img-left">
		{{!-- banner-img-right for right --}}
			{{> includes/hero-banner  banner_overline=home.banner.overline banner_header=home.banner.header  banner_desc=home.banner.description img_lazy_src=home.banner.imgLazySrc  img_src=home.banner.imgSrc img_md_src=home.banner.imgMdSrc img_sm_src=home.banner.imgSmSrc alt_text=home.banner.altText primary_button="true" btn_text=home.banner.btnText custom_class=home.banner.customClass custom_btn_class=home.banner.customBtnClass banner_url = home.banner.url}}
	</section>
	<section style="display: none;">
		<div id="start-dialog" title="Sample Title<sup>&copy;</sup>">
			Sample content
		</div>
	</section>
	
{{/inline}}

{{#*inline "scripts-block"}}
{{!-- <script type="text/javascript" src="similac-component/js/start-dialog/start-dialog.react.js" defer> </script> --}}
{{/inline}}

{{/layout/base}}