{{#> layout/base title="Subscription Products" }} {{#*inline "content-block"}} {{> includes/bread-crumb }}




<div class="container subscription-products">
	<h2 class="products__title">Select a new product to update your subscription. </h2>
<div id="subscriptionProducts"></div>
</div>



{{/inline}}
 {{#*inline "scripts-block"}}
 <script>
    var subscriptionProducts_label = Object.freeze(JSON.parse("{{{jsonFile 'subscriptionProducts.json'}}}"));
</script>

 {{/inline}}
  {{/layout/base}}