{{#> layout/base title="Unsubscribe" }}

{{#*inline "content-block"}}

{{!-- {{> includes/drawer }} --}}
<script>

    var jsonData = Object.freeze(JSON.parse("{{{jsonFile 'unSubscribe.json'}}}"));
</script>

{{> includes/bread-crumb }}

<div class="container registration_custom">
    {{> includes/unsubscribe-react }}

</div>
{{/inline}}



{{/layout/base}}
