{{#> layout/base title="Welcome" }}

{{#*inline "content-block"}}
<div class="wrapper_welcome">
	

	<section class="mb-1_875 mt-1_875 bg-white py-md-1_875">
		<div class="container">
			<div class="para-content-1">
				<h2>Lorem Ipsum Dolor Sit</h2>
				<p><strong>Lorem ipsum dolor sit amet, consectetur</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</section>
	<section class="mb-1_875">
		<div class="container">
			{{> includes/reversible-cart-block
						title=welcome.blockContent.cartData.title
						description=welcome.blockContent.cartData.description
						image=welcome.blockContent.cartData.image
						buttons=welcome.blockContent.cartData.buttons
						custom_class_left=welcome.blockContent.cartData.custom_class_left
						custom_class_right=welcome.blockContent.cartData.custom_class_right
						reversible=welcome.blockContent.cartData.reversible
                        custom_class_top=welcome.blockContent.cartData.custom_class_top
			}}

		
		</div>
	</section>
	<section class="mb-1_875 mt-1_875">
		<div class="container">
			{{> includes/reversible-cart-block
				title=welcome.blockContent.cartData.title
						description=welcome.blockContent.cartData.description
						image=welcome.blockContent.cartData.image
						buttons=welcome.blockContent.cartData.buttons
						custom_class_left=welcome.blockContent.cartData.custom_class_left
						custom_class_right=welcome.blockContent.cartData.custom_class_right
						reversible=welcome.blockContent.cartData.reversible
                        custom_class_top=welcome.blockContent.cartData.custom_class_top
			}}
		</div>
	</section>
<section class="mb-1_875 mt-1_875">
		<div class="container">
			{{> includes/reversible-cart-block
				title=welcome.blockContent.cartData.title
						description=welcome.blockContent.cartData.description
						image=welcome.blockContent.cartData.image
						buttons=welcome.blockContent.cartData.buttons
						custom_class_left=welcome.blockContent.cartData.custom_class_left
						custom_class_right=welcome.blockContent.cartData.custom_class_right
						reversible=welcome.blockContent.cartData.reversible
                        custom_class_top=welcome.blockContent.cartData.custom_class_top
			}}
		</div>
	</section>
<section>
    <div class="container">
            <div class="row align-items-center mt-1_875">
                <div class="col-sm-6 col-md-6 buttons">
                    {{> includes/button primary_button="true" btn_href=welcome.blockContent.buttons.primary.href btn_text=welcome.blockContent.buttons.primary.text custom_btn_class="w-100 btn-half"}}
                </div>
                </div>

<p class="footnote text-block">*Lorem ipsum dolor sit amet.</p>

</div></section>
</div>
{{/inline}}

{{/layout/base}}