#myfreestyle-checkout .m-minicart .a-promo-code {
  margin-bottom: 0;
}
@media (max-width: 640px) {
  #myfreestyle-checkout .m-minicart .a-promo-code {
    margin-bottom: 20px;
  }
}
#myfreestyle-checkout .m-minicart .a-promo-code__label-container {
  padding: 0;
  flex: 0 0 255px;
}
@media (max-width: 640px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__label-container {
    flex: 0 0 100%;
  }
}
@media (min-width: 640px) and (max-width: 1037px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__label-container {
    flex: 0 0 63%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__label-container {
    flex: 0 0 58%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__label-container input {
    padding-right: 0;
    width: 96%;
  }
}
#myfreestyle-checkout .m-minicart .a-promo-code__form {
  margin-top: 5px;
}
@media (max-width: 640px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__form {
    flex-wrap: wrap;
  }
}
#myfreestyle-checkout .m-minicart .a-promo-code__btn-container {
  flex: 0 0 160px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__btn-container {
    flex: 0 0 43%;
  }
}
@media (max-width: 640px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__btn-container {
    flex: 0 0 100%;
    margin-bottom: 16px;
  }
}
#myfreestyle-checkout .m-minicart .a-promo-code__btn-container .a-button .btn {
  margin-left: unset;
  margin-right: unset;
  max-width: 160px;
  padding:10px;
}
@media (max-width: 640px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__btn-container .a-button .btn {
    max-width: 100%;
  }
}
@media (max-width: 640px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__title {
    font-size: 18px;
    padding-top: 5px;
	width: 52%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__title {
    font-size: 18px;
    width: 60%;
  }
}
#myfreestyle-checkout .m-minicart .a-promo-code__btn-expand {
  position: relative;
}
#myfreestyle-checkout .m-minicart .a-promo-code__btn-expand > span {
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 32px;
  color: #001489;
  font-family: "Helvetica", Arial, sans-serif;
  letter-spacing: 0;
}
#myfreestyle-checkout #simplified-checkout-back-btn {
  border: 0;
  padding: 0;
  font-size: .875rem;
  font-weight: bold;
  line-height: 1.25rem;
  justify-content: center;
  color: #001489;
  margin-bottom: 1rem;
  letter-spacing: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #myfreestyle-checkout .m-minicart .a-promo-code__btn-expand > span {
    right: 0;
    font-size: 10px;
  }
}
#myfreestyle-checkout .m-minicart img[alt="visa icon"] {
  width: 49.99px;
}
#myfreestyle-checkout .minicart .m-minicart__cart-item {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 1024px) {
  #myfreestyle-checkout .minicart .m-minicart__header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1024px) {
  #myfreestyle-checkout .minicart .m-minicart__header {
    padding-top: 48px;
    padding-bottom: 24px;
  }
}
#myfreestyle-checkout .minicart .m-minicart__sku {
  max-width: 200px;
  width: 100%;
}

@media (min-width: 1024px) {
  #myfreestyle-checkout .minicart .m-minicart__items {
    padding-left: 32px;
    padding-right: 32px;
  }
}
#myfreestyle-checkout .minicart .m-minicart__bottom {
  padding-bottom: 3px;
}
@media (min-width: 1024px) {
  #myfreestyle-checkout .minicart .m-minicart__bottom {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 640px) {
  #myfreestyle-checkout .minicart .m-minicart__price {
    font-size: 18px;
  }
}
#myfreestyle-checkout .minicart .m-minicart__delivery {
  margin-bottom: 18px;
  align-items: center;
}
#myfreestyle-checkout .minicart .m-minicart__delivery-value {
  font-weight: bold;
  font-size: 18px;
}
#myfreestyle-checkout .minicart .m-minicart__tax {
  margin-bottom: 18px;
}
#myfreestyle-checkout .minicart .m-minicart__tax-label {
  font-size: 14px;
}
#myfreestyle-checkout .minicart .m-minicart__subtotal {
  margin-bottom: 18px;
}
#myfreestyle-checkout .minicart .m-minicart__tax-value {
  font-size: 18px;
}
#myfreestyle-checkout .minicart .m-minicart__totals {
  background-color: #FAFAFA;
  padding-bottom: 32px;
}
@media (min-width: 1024px) {
  #myfreestyle-checkout .minicart .m-minicart__totals {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 640px) and (max-width: 1037px) {
  #myfreestyle-checkout .minicart .m-minicart__heading-toggle {
    padding-right: 5px;
  }
}
@media (max-width: 992px) {
  #myfreestyle-checkout .minicart .m-minicart__price-vat-label {
    font-weight: normal;
  }
}
#myfreestyle-checkout .m-minicart__bottom > div {
  margin-bottom: 0;
}
#myfreestyle-checkout #checkout-consents-options label.a-checkbox__label span:not([class]) {
  display: none;
}
#myfreestyle-checkout #checkout-consents-options label.a-checkbox__label span.a-checkbox__text a {
  color: #001489;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration: none;
}
#myfreestyle-checkout #checkout-consents-options label.a-checkbox__label span.a-checkbox__text a:hover {
  text-decoration: underline;
}
#myfreestyle-checkout .m-ordersummary__item-qty {
  border-radius: 4px;
}
#myfreestyle-checkout #delivery-label {
  padding-top: 2px;
  padding-bottom: 2px;
}
@media (min-width: 640px) and (max-width: 1037px) {
  #myfreestyle-checkout .o-wizard__content .m-minicart__header {
    padding-left: 30px;
    padding-right: 30px;
  }
  #myfreestyle-checkout #security-label {
    padding-bottom: 10px;
  }
}
@media (max-width: 640px) {
  #myfreestyle-checkout #security-label {
    padding-bottom: 10px;
  }
}

.conditional-container[data-conditional-variable=noAddressFound], .conditional-container[data-conditional-variable=showRequiredFieldsMessage], .conditional-container[data-conditional-variable=showCertificateAddressValidationError] {
  border-radius: 4px;
  background-color: #ffd6d6;
}
.conditional-container[data-conditional-variable=noAddressFound] .abt-icon-information::before, .conditional-container[data-conditional-variable=showRequiredFieldsMessage] .abt-icon-information::before, .conditional-container[data-conditional-variable=showCertificateAddressValidationError] .abt-icon-information::before {
  color: #E4002B;
}
.conditional-container[data-conditional-variable=noAddressFound] p, .conditional-container[data-conditional-variable=showRequiredFieldsMessage] p, .conditional-container[data-conditional-variable=showCertificateAddressValidationError] p {
  color: #222731;
}

[data-conditional-variable=addressBookFull] .formalert {
  border-radius: 4px;
  background-color: #ffd6d6;
  margin: 20px 0px;
}
[data-conditional-variable=addressBookFull] .formalert .abt-icon::before {
  color: #E4002B;
}
[data-conditional-variable=addressBookFull] .formalert p {
  color: #222731;
}

#my-address-add-full-fields-modal #search-another-address .abt-icon.abt-icon-search {
  font-size: 16px;
  color: #001489;
  left: 10px;
  top: 2px;
}

.generic-modal__content-body .required-txt {
  font-size: 12px;
  color: #222731;
}
.generic-modal__content-body .abt-icon-spinner {
  display: none;
}
.generic-modal__content-body .a-button--spinner .abt-icon-spinner {
  display: inline-block;
}

#field_label_district_1 {
  display: none;
}

#field_label_neighborhood_1 {
  display: none;
}

#field_label_postcode_1 {
  display: none;
}

#field_label_city_1 {
  display: none;
}

#dropdwon-select-loader > div {
  position: absolute;
  z-index: 9;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.368627451);
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 !important;
  padding: 0;
  min-height: 210px;
}
@media (max-width: 640px) {
  #dropdwon-select-loader > div {
    min-height: 400px;
  }
}

#is-address-dropdown-options {
  display: none;
}

.a-dropdown__container .a-dropdown__field .a-dropdown-selected {
  word-wrap: break-word;
}

#guest-order-container {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#guest-order-container * {
  color: #000;
}

#guest-order-summary-container .text {
  margin-bottom: 0;
}
#guest-order-summary-container .link {
  margin-top: 0;
  padding: 0;
}/*# sourceMappingURL=checkout.css.map */

@media (max-width: 460px) {
  .m-payon-form .wpwl-form .wpwl-control {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
#my-address-add .abt-icon-plus{
  left:-10px !important;
}
.tooltip-pwd-table .abt-icon-cross::before {
  content: "\e91b";
  color: #E4002B;
}

.tooltip-pwd-table .abt-icon-tick::before {
  content: "\e921";
  color: #52be08;
}
.delivary-method-blur {
  opacity: 50%;
  pointer-events: none;
}

.display-spinner {
  padding-top: 10%;
  left: 50%;
  display: inline-flex;
}

@media (max-width: 767px) {
  .display-spinner {
    padding-top: 20%;
    left: 50%;
    display: inline-flex;
  }
}
/* order summary page css */
#order-summary-info-column .formalert, #guest-order-summary-page .formalert{margin:0}
#order-summary-info-column .m-alert, #guest-order-summary-page .m-alert {
    padding-top: 0;
    padding-bottom: 0;
}
#order-summary-maincolumn{margin-top:10px;}
#order-summary-info-column div.container:has(> .alerts-outer-container) {padding:0}