.disclaimer-text {
  --rte-color: @gray-darkest-color;
}
.formcontainer,
.o-form-container {
  --form-button-spacer: 0;
  .a-button {
    --button-font-size: @spacer-20;
  }
}
.a-wizard {
  --wizard-margin: 0 0 @spacer-32;
  &__steps {
    --wizard-steps-margin: 0 auto;
    &--icon {
      --wizard-step-icon-margin: 0 auto 0.25rem;
    }
  }
  &__label {
    --wizard-step-active-color: @gray-darkest-color;
    --wizard-steps-inactive-color: @gray-darkest-color;
    --wizard-step-complete-color: @gray-darkest-color;
  }
}
.a-input-field {
  --input-color: @gray-darkest-color;
  --input-field-margin: 1.5rem 0;
  --input-field-placeholder-color: @gray-color;
  --input-icon-size: var(--body-font-size);
}
.a-input-label {
  --input-field-label-color: @black-color;
}
.a-radio-label {
  --input-field-label-color: @black-color;
  color: var(--input-field-label-color);
}
.a-dropdown__field {
  --dropdown-selected-color: @gray-darkest-color;
  --dropdown-field-border-radius: 4px;
  --dropdown-placeholder-color: @gray-color;
  --dropdown-menu-list-border-bottom: none;
  --dropdown-field-font-size: var(--body-font-size);
}
.a-checkbox {
  --checkbox-margin-bottom: 0;
}
.o-promo {
  .a-logo-comp {
    --logo-max-height-des: @spacer-64;
    --logo-max-height-tab: @spacer-64;
    --logo-max-height-mob: @spacer-64;
  }
}
//adding m-alert css as a workaround fix for Gravity-515
.m-alert {
  display: flex;
}

//Header Alert Banner fix
.abbott-alert {
  .m-alert {
    display:none;
    &--hide {
      display: none;
    }
    &--show{
      display:flex;
    }
  }
}
