#faq-acc .accordion {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

#faq-acc .accordion button {
  padding-right: 0;
  background-color: @abbott-white;
}

#faq-acc .accordion button span {
  color: @abbott-medium-blue;
  text-transform: capitalize;
  font-size: @font-size-14;
  font-weight: 390 !important;
  line-height: 20px;
}

#faq-acc .m-accordion__options {
  margin-bottom: 0px !important;
  padding-right: 0;
}

#faq-acc .accordion .m-accordion__title-wrapper {
  padding: 16px 0px 16px 24px;

  @media only screen and (max-width: 320px) {
    padding: 16px 0px;
  }
}

#faq-acc .accordion .m-accordion__icon-wrapper {
  padding: 16px 30px;

  @media only screen and (max-width: 280px) {
    padding: 16px 2px 16px 10px;
  }
}

#faq-acc .accordion .abt-icon {
  font-size: 0.875rem;
}

#faq-acc .accordion .abt-icon-plus:before,
#faq-acc .accordion .abt-icon-minus:before {
  letter-spacing: 0px;
}

#faq-acc .accordion .m-accordion__content-items {
  border-top: 1px solid @abbott-medium-blue;
}

#faq-acc .accordion .m-accordion__content-items:nth-last-child(1) {
  border-bottom: 1px solid @abbott-medium-blue;
}

#faq-acc .accordion .m-accordion__body .text p {
  color: @abbott-charcoal;
}

#faq-acc .accordion .m-accordion__body .text ul li {
  color: @abbott-charcoal;
}

#faq-acc .promosection {
  padding-top: 0px;
  padding-bottom: 0px;
}

#faq-subtitle p {
  color: @abbott-charcoal !important;
}

.promo-text p {
  color: @abbott-charcoal !important;
}

#faq-promo .o-promo__btn span {
  font-weight: 700 !important;
}