#faq-promo {
    padding: 0;
    .o-promo__title .cmp-title__text {
        padding: 0 50px;
    }
    .o-promo__text .promo-text {
        padding: 0 20px;
    }
    .promo-button1:has(#button_learn_more) {
        width: 100%;
    }
}

#faq-acc-header {

    table, th, td {
        border: 1px solid black;
        font-size: 12px;
        border-collapse: collapse;
    }

    td {
        padding-left: 10px;
    }

    table tr:first-child td {
        padding-bottom: 15px;
    }

    table {
        line-height: normal;
    }

    tbody tr td::before {
        content: "•";
        margin-right: 20px;
        margin-left: 20px;
    }
}