#home-prod-section {
    @media only screen and (max-width: 991px) {
        img {
            padding-top: 25px;
        }
    }

    .m-custom-list__header-title {
        padding-top: 3.125rem;
    }

    ul {
        padding-left: 20px !important;

        li {
            list-style-image: url(/content/dam/an/protalitynutrition/images/icons/tick-orange-icon.png);
            padding-top: 15px;
            padding-left: 0.75rem;
        }
    }
}

#home-note {
    margin: 0 auto;
    width: 92%;

    @media only screen and (max-width: 991px) {
        width: 100%;
        padding: 0 15px;
    }

    p {
        font-size: 0.875rem !important;
    }
}

#pageContent #section_hero-banner .btn span {
    font-size: 1.25rem !important;
}

.o-product-section--small .cmp-image__image,
.o-product-section--small img {
    max-width: 100%;
}

.o-product-section__button-wrapper {
    padding-top: 1.563rem;
}

/*Experience fragment start*/
#pageContent #section-sign-up-cont .btn {
    padding: 0.46rem 2rem;
}

#sign-up-cont {
    margin-right: 0;
}

@media only screen and (min-width: 320px) {
    #section-sign-up-cont {
        .col-12 {
            padding-right: 15px;
        }
    }
}

/*Experience fragment end*/
@media only screen and (min-width: 769px) {
    #home-science-txt {
        margin: 0 auto;
        width: 62%;
    }
}

@media only screen and(min-width: 1024px) {
    #section_hero-banner {
        .m-hero__content {
            width: 50%;
            margin-left: 0;
            padding-top: 6rem;
        }
    }
}
@media only screen and(min-width: 1300px) {
    #section_hero-banner {
        .m-hero__content {
            padding-top: 1rem;
        }
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1099px) {

    #section_hero-banner,
    #section_hero-daily-nutrition {
        .m-hero__content {
            margin-left: 15px;
        }
    }
}

@media only screen and(max-width: 1023px) {
    #section_hero-banner {
        padding-left: 0.938rem;
        padding-right: 0.938rem;

        #title-h1 {
            @font-family: @font-brandon-text-black;
            @font-size: @font-size-30;
            @line-height: @spacer-38;
            @letter-spacing: @spacer-2;
        }
    }

    #pageContent #section_hero-banner .btn span {
        font-size: 1rem !important;
    }
}

#section-sceince-section {
    #sceince-section {
        max-width: 100%;
    }

    #sceince-section #section-home-science-txt {

        h2,
        p {
            text-align: left !important;

            @media only screen and(min-width: 992px) {
                text-align: center !important;
            }
        }
    }
}

.m-video {
    --video-medium-md-width: 90%;

    @media (max-width: 992px) {
        &.m-video--medium {
            width: 93% !important;
        }
    }
}

#banner-container {
    .featurescard .description.text h3 {
        @media only screen and (max-width: 992px) {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-family: @font-brandon-text-bold;
        }
    }
}

#section_home-prod-section {
    @media only screen and (min-width: 992px) {

        .m-custom-list__header-title h2 {
            font-size: 2.375rem;
            line-height: 2.813rem;
        }
    }

    @media only screen and (max-width: 992px) {
        .a-image__default {
            width: 100%;
        }

        .m-custom-list__header-title {
            padding: 0;
        }
    }
}

.experiencefragment {
    #sign-up-cont {
        margin: 0 auto;

        @media only screen and (min-width: 992px) {
            .o-cta-section__button-wrap {
                justify-content: end;
            }
        }

        @media only screen and (min-width: 1024px) {
            padding-left: 0;
        }

        @media only screen and (max-width: 992px) {
            max-width: 100%;
        }

        & .ctasection.container:first-child {
            padding: 40px 15px;
        }

        .btn {
            border-radius: 10px;
            background: @abbott-white;

            span {
                color: @abbott-medium-blue;
                font-weight: 450 !important;
                font-family: @font-brandon-text-bold;
            }
        }

        .o-cta-section__content p {
            color: @abbott-white !important;
        }

        .o-cta-section__title h3 {
            @media only screen and (max-width: 992px) {
                font-size: 1.625rem;
                line-height: 2rem;
            }

            font-size:2rem;
            line-height:2.5rem;
            color:@abbott-white;
        }
    }
}

.padding-0 {
    @media only screen and (max-width: 992px) {
        padding: 0;
    }
}

#section_hero-banner {
    .m-hero__extras {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {

    .cmp-experiencefragment--contact-us .ctasection .o-cta-section,
    .cmp-experiencefragment--sign-up-xf .ctasection .o-cta-section {
        width: 100%;
    }
}

.video {
    @media screen and (max-width: 992px) {
        padding-bottom:40px !important;
    }
}
@media screen and (max-width:395px) {
    .home-page-carousal h2 {
        word-spacing: 1px
    }
}