#section_hero-banner-where-to-buy {

    @media screen and (max-width: 320px) {
        .m-hero__media {
            .m-hero__image {
                height: 250px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .m-hero__content {

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                color: @abbott-white !important;
                font-family: @font-brandon-text-black;
                font-size: 1.875rem !important;
                line-height: 2.375rem !important;
                letter-spacing: .125rem !important;
                font-weight: 500 !important;
            }
        }

        .m-hero__media {
            .m-hero__image {
                object-fit: fill;
            }
        }
    }
}

#section-price-spider-section {
    @media screen and (max-width: 1099px) {
        padding: 0 15px;
    }

    #where-to-buy-title {
        @media screen and (max-width: 767px) {
            padding-bottom: 25px;
        }

        @media screen and (max-width: 320px) {
            padding-bottom: 65px;
        }

        .cmp-title__text {
            margin: 0;
        }
    }

    .ps-widget {
        max-width: 100%;
    }

    .ps-header {
        padding: 0;
    }
}

#contact-us-container {
    @media screen and (min-width: 1099px) {
        .container {
            padding: 0;
        }
    }

    .button {
        margin-top: 0;

        @media screen and (max-width: 992px) {
            margin-top: 5px;
        }

        #button_contact_us {
            border-radius: 10px;
            padding: 11px 28px;
            line-height: 18px;
            font-size: 16px;

            span {
                font-weight: 450 !important;
                font-family: @font-brandon-text-bold;
                line-height: 18px;
                font-size: 16px;
            }
        }
    }

    #contact-us-cta {
        max-width: 100%;
        width: auto;

        .o-cta-section__content {

            p {
                margin-bottom: 0;
            }

            h2 {
                margin-bottom: 24px;

                @media screen and (max-width: 992px) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

#why-protality-title-txt {
    @media screen and (min-width: 767px) {
        padding-top: 25px;
    }

    @media screen and (min-width: 1025px) {
        padding-bottom: 3%;
        padding-top: 5%;
    }

    @media screen and (min-width: 1300px) {
        padding-bottom: 5%;
        padding-top: 5%;
    }

    @media screen and (min-width: 2100px) {
        padding-bottom: 5%;
        padding-top: 7%;
    }

    @media screen and (min-width: 2400px) {
        padding-bottom: 6%;
        padding-top: 11%;
    }
}

#protein-section,
#section_why-protality-prod-rev {
    @media screen and (max-width: 767px) {
        .o-product-section__content {
            padding: 20px 0 0 0;
        }

        .o-product-section__title {
            padding-bottom: 8px;
        }

        .o-product-section__para p {
            margin-bottom: 10px;
        }
    }
}

#nutrition-txt {
    margin-top: 25px;
    padding: 0 15px;
}

#section-muscle-mass-dot {
    .cmp-image {
        object-fit: revert !important;

        @media screen and (min-width: 1025px) {
            object-fit: cover !important;
        }
    }
}

#section-banner-container {
    @media screen and (max-width: 767px) {
        .o-features-card__title {
            margin-bottom: 8px;
        }

        .columncontrol__column {
            margin-bottom: 25px;
        }
    }
}

#pageContent #section_hero-banner #button_view_products_click.btn {
    span {
        font-size: 1rem !important;
        line-height: 1.125rem !important;
        font-family: @font-brandon-text-bold !important;
    }
}

#button_get_meal_plan_click {
    span {
        font-size: 1rem !important;
        line-height: 1.125rem !important;
        font-family: @font-brandon-text-bold !important;
    }
}

@media screen and (min-width: 991.98px) {
    .cmp-experiencefragment--contact-us {
        #contact-us-container {
            .col-md-12:nth-child(2) {
                align-items: end;
                padding-right: 0;
                text-align: right;
                justify-content: flex-end;
                display: flex;
            }

        }

    }
}

#pageContent #section_hero-banner-faq h1#title-h1 {
    color: #fff !important;
}

#pageContent #section_hero-banner-where-to-buy h1 {
    color: #fff !important;
}

#pageContent #section_hero-banner-contact h1#title-h1 {
    color: #fff !important;
}