@import "../../clientlib-base/scss/base/functions";
@import "../../clientlib-base/scss/base/mixins";
@import "../../clientlib-base/scss/base/variables";

/*
    === Class List for RTE ===
    * title-1
    * title-2
    * title-3
    * title-4
    * highlight-title
*/

.static-page {
    color: $daintree;
    font-family: $fonts-poppins;
    word-break: break-word;

    h1, h2, h3, h4, .title-1, .title-2, .title-3, .title-4 {
        font-family: $font-brandon-text-black;
        text-transform: uppercase;
    }

    h1, .title-1 {
        font-size: 2.25rem;
        line-height: 2.5rem ;

        @media (max-width: 767px) {
            font-size: 1.25rem;
            line-height: normal;
            margin: 1.5rem 0;
        }
    }

    h2, .title-2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    h3, .title-3 {
        font-size: .875rem;
        line-height: 1.125rem;
    }

    .highlight-title {
        background: $gray-700;
        border-radius: 2px;
        color: $white;
        display: block;
        padding: 3px;
    }

    li {
        margin-bottom: .5rem;
    }

    p, li {
        b {
            font-weight: 600;
        }
    }
}

.faq {

    h1 {
        margin-bottom: 0;
    }
    
    &__content {
        border-radius: 5px;
        box-shadow: 0 0 1px $gray-600;
        padding: 20px;
    }

    &__questions {
        border-bottom: 1px solid $gray-300;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }

    &__question {
        font-family: $font-brandon-text-bold;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    &__back-to-top {
        border-top: 1px solid $gray-300;
        margin:22px 0 5px;
        padding-top: 5px;
    }
}