<sly data-sly-use.template="an/similac/components/content/templates.html"
   data-sly-use.errorValues="${'com.abbott.aem.an.similac.core.models.ItemsMultiFieldReader'}" 
   data-sly-test.errorValueList="${errorValues.items}">
   <sly data-sly-repeat.error="${errorValueList.listChildren}">
      <input type="hidden" class="error-code-${error.errorcode}" data-errorcode="${error.errorcode @context='attribute'}" data-errorMsg="${error.errormessage @context='attribute'}" />
   </sly>
</sly>
<sly data-sly-call="${template.placeholder @isEmpty = 'true', classAppend = '', emptyTextAppend = '' }"/>