<sly data-sly-test="${wcmmode.edit}"> Edit Logo here ... </sly>
<!--Logo -->
<sly data-sly-use.logo="com.abbott.aem.adc.freestylelibrede.models.LogoModel">
<ul data-sly-test="${logo.cssClassName}"><li data-sly-test="${logo.cssClassName}" class="${logo.cssClassName}" onclick="${logo.logoEvent @context='html'}">
<a href="${logo.logoTarget}" class="header-logo d-block ml-md-3" target="${logo.openTab}"> 
<img class="img-fluid" src="${logo.logoImage}" alt="${logo.altText}">
</a>
</li></ul>
<a data-sly-test="${!logo.cssClassName}" href="${logo.logoTarget}" class=" d-block" target="${logo.openTab}" title="${logo.altText}" onclick="${logo.logoEvent @context='html'}"> 
<img class="img-fluid" src="${logo.logoImage}" alt="${logo.altText}">
</a>
 </sly>