<a class="productlist-top" id="list-top"></a>
  <div data-sly-use.productListModel="com.abbott.aem.add.molecular.core.productlist.ProductList"
    data-js-component="product-list"
    data-products-json='${productListModel.productListJsonString}'
    class="productlist-wrapper productlist-view--tile">
  <h3 data-sly-test="${!wcmmode.disabled}" class="cq-placeholder">Product List Placeholder</h3>

  <div class="productlist-header">
    <span class="productlist-pagination-text"></span>
    <div class="productlist-layout-selector">
      <ul class="productlist-layoutselect-list">
        <li class="productlist-layoutselect-item productlist-layoutselect-item--tile"><a data-layout="tile"><span>Tile</span></a></li>
        <li class="productlist-layoutselect-item productlist-layoutselect-item--grid"><a data-layout="grid"><span>Grid</span></a></li>
      </ul>
    </div>
  </div>

  <div class="productlist-container">
    <h1 class="productlist-no-products"></h1>

    <ul class="productlist-view">
    </ul>
  </div>

  <div class="productlist-footer">
    <div class="productlist-pagination">
      <span class="productlist-pagination-text"></span>
      <a class="back-to-top" href="#list-top"></a>
    </div>
    <div class="productlist-show-more">
      <button type="button"></button>
    </div>
  </div>
</div>
