<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Modified only line 10 to pull the SEO Keywords from a textarea field instead of tags picker
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.head="${ @ page, pwa }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html"
		  data-sly-use.platformPage="com.abbott.aem.platform.common.components.models.PlatformPage">
    <meta charset="UTF-8">
    <title>${platformPage.PageTitle}${page.brandSlug ? ' | ' : ''}${page.brandSlug}</title>
    <meta data-sly-test.keywords="${properties.keywords}" name="keywords" content="${keywords}"/>
	<meta name="title" content="${platformPage.PageTitle}"/>
    <meta data-sly-test.description="${page.description || properties['jcr:description']}" name="description" content="${description}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-sly-test="${page.robotsTags}" name="robots" content="${page.robotsTags @ join=', '}">
	<meta name="format-detection" content="telephone=no">
    <sly data-sly-list.childnode="${resource.listChildren}">
    <sly data-sly-test= "${childnode.name == 'metaProperties' }" data-sly-list.metadataValues = "${childnode.listChildren}">
    <meta data-sly-test="${metadataValues.attributeType == 'name'}" name="${metadataValues.nameValue}" content="${metadataValues.contentValue}"/>
    <meta data-sly-test="${metadataValues.attributeType == 'property'}" property="${metadataValues.nameValue}" content="${metadataValues.contentValue}"/>
    </sly>
    </sly>
    <sly data-sly-test="${pwa.enabled}">
        <link rel="manifest" href="${pwa.manifestPath}" crossorigin="use-credentials"/>
        <meta name="theme-color" content="${pwa.themeColor}"/>
        <link rel="apple-touch-icon" href="${pwa.iconPath}"/>
        <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
             data-sly-call="${clientlib.css @ categories='core.wcm.components.page.v2.pwa'}"></sly>
        <meta name="cq:sw_path" content="${pwa.serviceWorkerPath @ context ='text'}"/>
    </sly>
    <sly data-sly-include="head.links.html"></sly>
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
    <sly data-sly-list="${page.htmlPageItems}"><script data-sly-test="${item.location.name == 'header'}"
            data-sly-element="${item.element.name @ context='unsafe'}" data-sly-attribute="${item.attributes}"></script>
    </sly>
</template>
