<sly data-sly-use.topics="${resource.path}/topicList" />
<sly data-sly-use.topicsModel="com.abbott.aem.an.similac.core.models.FaqContainerModel" data-sly-test ="${topicsModel.topicLabelJson}">
	<script>
		var faq_label = Object.freeze(JSON.parse("${topicsModel.topicLabelJson @ context='scriptString'}"));
	</script>
</sly>
<div class="cq-placeholder section" 
	data-emptytext="Configure FAQ Cntainer Component in EDIT Mode" 
    data-sly-test.author="${!topics && (wcmmode.edit || wcmmode.design)}" >
</div>

<div class="container">
	<div class="row faq">
		<div class="col-12">
			<sly data-sly-resource="${'title' @ resourceType='an/similac/components/content/title'}"></sly>
		</div>

		<div class="col-12 col-lg-3 col-md-4">
			<form action="#" class="similac-form static-form">
				<fieldset id="searchFaq" class="form-group similac-form-group isBlured  ">
					<legend class="d-none">FAQ</legend>
					<label for="faq-search" class="similac-label-floating">Search</label>
					<input type="text" class="form-control " id="faq-search" name="searchFaq" maxlength="" value="">
					<span class="sim-icons" data-icon="mag-glass-color"></span>
				</fieldset>
			</form>
			<div class="faq__results d-flex d-md-none mb-2">
				( <span class="faq__results-count">0</span> Results )
			</div>
			<div class="filters">
				<h3 class="filters__title1 d-none d-md-block">Filters</h3>
				<h3 class="filters__title1  d-md-none text-uppercase">Filters <span
						class=" sim-icons float-right add-white  " data-icon="add-white"></span><span
						class=" sim-icons float-right minus-white d-none" data-icon="minus-white"></span></h3>

				<div class="filters__category d-none d-md-block">
					<div class="filters__options-wrapper mobile d-none">
						<div class="filtered-options">
							<div class="filtered-options__item-main">
							</div>
							<div class="filtered-options__clear-all">Reset</div>
						</div>
					</div>
					<h6 class="filters__title2 clearfix ">
						<span class="float-left">Category</span>
						<span class="float-right filters__icon">
							<span class="sim-icons minus" data-icon="minus"></span>
							<span class="sim-icons add" data-icon="add"></span>
						</span>
					</h6>
					<ul class="filters__list p-0 mb-4" data-sly-list.topic="${topics.listChildren}">
						<li class="filters__item">
                        <sly data-sly-use.analyticsConfig="${'com.abbott.aem.an.similac.core.models.AnalyticsConfigModel' @ sectionTitle = topic.topicLabel}" />
							<input type="checkbox" class="filters__checkbox" data-value="label${topicList.count @ context='attribute'}" data-gtm-value="${analyticsConfig.eventLabel @ context='attribute'}">
							<label class="filters__item-link-label">&nbsp;</label>
							<div class="filters__item-link">${topic.topicLabel @context='html'}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col-12 col-lg-9 col-md-8">

			<div class="row">
				<div class="col-12">
					<div class="faq__results d-none d-md-flex">
						( <span class="faq__results-count">0</span> Results )
					</div>
					<div class="filters__options-wrapper desktop d-none">
						<div class="filtered-options">
							<div class="filtered-options__item-main">
							</div>
							<div class="filtered-options__clear-all">Reset</div>
						</div>
					</div>
				</div>
			</div>

			<div class="faq__wrapper" data-sly-list.topic="${topics.listChildren}">
                <div class="faq__section show" id="label${topicList.count}">
					<h4 class="faq__title">
						Frequently Asked Questions About ${topic.topicLabel @context='html'}
					</h4>
					<sly data-sly-test.path="${'{0}{1}' @format=['questions', topicList.count]}" />
					<sly data-sly-resource="${path @ resourceType='wcm/foundation/components/parsys'}"></sly>

					${topic.topicFooter @ context='html'}
				</div>
			</div>
		</div>
	</div>
</div>
