@import "./global/variables.less";
@import "./global/media-queries.less";

.searchresults {
  .o-search-res {
    margin-left: 0px;
    margin-right: 0px;
    .headersearch {
      display: none;
    }
    .o-search-res__container {
      .o-cards-carousel {
        display: none;
      }
      .offset-md-2 {
        margin-left: 0px;
      }
      .o-search-res__header {
        border: none;
        .o-search-res__header-title {
          width: 680px;
          margin-bottom: @spacer-14;
          font-family: @georgia;
          font-size: @spacer-16;
          line-height: @spacer-20;
          font-weight: normal;
          letter-spacing: 0;
          color: @color-black;
          padding-bottom: 25px;
          border-bottom: 1px solid @color-charcoal;
        }
      }
      .o-search-res__results {
        .a-result--border-bottom {
          border: none;
          .a-result__title {
            font-family: @brandon-black;
            font-size: @spacer-22;
            line-height: @spacer-22;
            color: @color-primary-blue;
            margin-bottom:0;
            .a-result__title--link {
              font-family: @brandon-black;
              font-size: @spacer-22;
              line-height: @spacer-22;
              color: @color-primary-blue;
            }
          }
          .a-result__description {
            font-family: @georgia;
            font-size: @spacer-16;
            line-height: @spacer-20;
            color: @color-black;
            padding-top: 10px;
            margin-bottom:30px;
          }
        }
      }
    }
  }
}
.a-pagination{
    .a-pagination__link:hover{
        background-color: @color-primary-blue !important;
    }
}
