@import "./global/variables.less";
@import "./global/media-queries.less";

.a-container-dc-base.a-container-dc-footer {
    padding-bottom: 0 !important;
    .footer {
        .horizontal-divider {
            display: none;
        }

        .o-footer__bottom-section {
            padding-top: 0;
        }

        .a-logo-comp {
            float: left;
            width: 340px;

            .o-footer__disclaimer-section {
                display: block;
                padding-top: 22px;
                padding-left: 0;

                li .a-link__text {
                    margin-left: 0px;

                    &:hover {
                        cursor: default;
                        text-decoration: none;
                    }

                    span {
                        text-transform: uppercase;
                        font-weight: normal;
                        font-family: 'BrandonGrotesqueBold', sans-serif !important;
                        color: #FFF;
                        line-height: 25px;
                        font-size: 15.2px;
                        letter-spacing: 1.3px;
                    }
                }
            }
        }

        .container.o-footer__top {
            float: left;
            width: 100%;

            .m-link-stack.js-m-link-stack {
                display: inline-block;

                .m-link-stack--content {
                    padding-top: 20px;

                    .a-link {
                        margin-bottom: @spacer-5;

                        .a-link__text {
                            color: @color-gray-light;
                            line-height: 14.8px;
                            font-size: 12.8px;
                            font-family: 'BrandonGrotesqueRegular', sans-serif !important;

                            &:hover {
                                color: @color-blue;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        .container.o-footer__bottom {
            max-width: @lg-width;

            .col-12.col-lg-2.o-footer__link-wrapper:first-child {
                margin-left: 75px;
            }

            .col-12.col-lg-2.o-footer__link-wrapper {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0;
                min-width: 178px;
            }

            .col-12.col-lg-6.order-lg-1 {
                flex: unset;
                max-width: initial;
            }

            .m-link-stack h6 {
                color: @color-gray-light;
                font-size: @spacer-12-8;
                text-decoration: none;
                font-weight: normal;
            }

            .m-link-stack h6:hover {
                color: @color-blue;
                text-decoration: none;
            }

            p.o-footer__copyright {
                font-family: Georgia, sans-serif !important;
                font-weight: 400;
                font-size: 12.8px !important;
                color: @color-gray-light !important;
                line-height: @spacer-20 !important;
                margin-top: 48px;
                margin-bottom: 0px;
                padding: 0;

                b,
                strong {
                    color: @color-gray-light;
                    font-family: Georgia, sans-serif !important;
                    font-size: 12.8px;
                    font-weight: 700;
                    margin-top: 28px;
                    margin-bottom: 5px;
                    line-height: 15px;
                    display: block;
                }

                .adc_version {
                    float: right;
                    font-size: 12.8px;
                    color: @color-gray-light;
                    font-family: Georgia, sans-serif !important;
                    font-weight: 400;
                    margin-top: 28px;
                }
            }

            .o-footer__bottom__row-2 div:first-child {
                display: block;
            }

            .o-footer__social-media .m-social-media--icons {
                li {
                    margin: 0;

                    .a-logo-comp--link .abt-icon {
                        font-size: 1.125em;
                        padding: 0 2px;
                    }
                }
            }
        }
    }
}


/*Responsive Styles Starts */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .a-container-dc-base.a-container-dc-footer {
        .m-social-media--icons {
            display: none;
        }

        .o-footer__disclaimer-section {
            margin-top: 18px;
            padding-top: 0;

            li .a-link__text span {
                font-family: 'BrandonGrotesqueBold', sans-serif !important;
                font-size: 9px;
            }
        }

        .container.o-footer__bottom p.o-footer__copyright {
            line-height: 1rem !important;
            margin-top: 28px !important;

            b,
            strong {
                line-height: 1rem !important;
                margin-top: 28px !important;
            }
        }

        .adc_version {
            font-size: .875rem;
            line-height: 1.40625rem;
            float: right;
        }
    }
}

@media only screen and (max-width: 767px) {
    .a-container-dc-base.a-container-dc-footer {
        .a-container__content {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .m-social-media--icons {
            display: none;
        }

        .o-footer__disclaimer-section {
            margin-top: 18px;
            padding-top: 0;

            li .a-link__text span {
                font-family: 'BrandonGrotesqueBold', sans-serif !important;
                font-size: 15.2px;
            }
        }

        .container.o-footer__bottom p.o-footer__copyright {
            line-height: 1rem !important;
            margin-top: 28px !important;

            b,
            strong {
                line-height: 1rem !important;
                margin-top: 28px !important;
            }

        }

        .adc_version {
            font-size: .875rem;
            line-height: 1.40625rem;
            float: right;
        }
    }

}