@import "./global/variables.less";
@import "./global/media-queries.less";

.a-sitemap--container {
    .ctasection {
        padding-top: 0px !important;
        padding-bottom: 8px !important;

        p {
            margin-bottom: 0;
            line-height: 22.8px;

            a {
                font-size: 16px;
                font-family: 'BrandonGrotesqueMedium', sans-serif !important;
                color: @color-dark-blue;
                text-decoration: none;
                line-height: 22.8px;

                &:hover {
                    color: @color-23527c;
                }
            }
        }
    }
}

/*** Responsive Styles Starts ***/

@media only screen and (min-width: 768px) and (max-width: 991.9px) {
    .a-sitemap--container {
        .a-text {
            padding-right: 50px;
        }
    }
}

@media only screen and (max-width: 767.9px) {
    .a-sitemap--container {
        .a-text {
            padding-right: 50px;
        }
    }
}

/*** Responsive Styles Ends ***/