.o-header-v2-global {
  --header-v2-font-size: #{$font-size-base};
  --header-v2-line-height: #{$base-line-height * 1.25};
  --header-v2-color: #{$default-fg-color};
  --header-v2-icon-font-size: #{$font-size-base};
  --header-v2-icon-spacing: #{$font-size-base * 0.5};
  --header-v2-box-shadow: #{$base-box-shadow};
  --header-v2-component-spacing: 2rem;

  --header-v2-utility-top-height: 2.75rem;
  --header-v2-utility-top-bg: #{$secondary-color};
  --header-v2-utility-top-bg-desktop: var(--header-v2-utility-top-bg);

  --header-v2-main-height: auto;
  --header-v2-main-bg: #{$default-bg-color};
  --header-v2-main-bg-desktop: var(--header-v2-main-bg);
  --header-v2-main-border-bottom: solid #{$secondary-color} 1px;
  --header-v2-main-padding: 0.75rem 0;

  --header-v2-utility-bottom-height: 2.75rem;
  --header-v2-utility-bottom-bg: #{$default-bg-color};
  --header-v2-utility-bottom-bg-desktop: var(--header-v2-utility-bottom-bg);
  --header-v2-utility-bottom-bg-sticky: var(--header-v2-utility-bottom-bg);

  --header-v2-logo-transition: all 0.2s ease;

  --header-v2-search-color: #{$default-fg-color};
  --header-v2-search-color-open: var(--header-v2-search-color);
  --header-v2-search-overlay-bg: rgba(0, 0, 0, 0.48);
  --header-v2-search-top-offset: 0.25rem;
  --header-v2-search-form-vertical-spacing: 0.5rem;
  --header-v2-search-form-horizontal-spacing: 0.625rem;

  --header-v2-dropdown-border-radius: 0.375rem;
  --header-v2-dropdown-box-shadow: var(--header-v2-box-shadow);
  --header-v2-dropdown-max-width: 21.875rem;
}
