.m-orderdetailscontainer {
    --orderdetailscontainer-border: #{$gray-200};
    --orderdetailscontainer-margin: #{$spacers-06};
    --orderdetailscontainer-button-color: var(--primary-color);
    --orderdetailscontainer-button-font-size: #{$spacers-3};
}
