//pagination
.a-pagination {
    --pagination-border: 1px solid var(--black-color);
    --pagination-border-radius: 4px;
    --pagination-link-color: var(--black-color);
    --pagination-hover-link-color: var(--black-color);
    --pagination-text-decoration: none;
    --pagination-link-font-size: #{$h5-font-size};
    --pagination-link-line-height: 24px;
    --pagination-link-padding: 10px 15px;
    --pagination-link-icon-size: 1rem;
    --pagination-link-icon-padding-top: 0.875rem;
    --pagination-link-icon-padding-bottom: 0.875rem;
    --pagination-border-color: transparent;
    --pagination-border-width: 1px;
    --pagination-active-link-width: 3px;
    --pagination-hover-border-color: var(--black-color);
    --pagination-active-bg-color: var(--secondary-color);
    --pagination-active-border-color: var(--primary-color);
}
