.a-stepper {
  --stepper-border: 1px solid var(--gray-darkest-color);
  --stepper-button-bg-color: var(--secondary-color);
  --stepper-button-color: var(--black-color);
  --stepper-font-size: #{$h4-font-size};
  --stepper-line-height: #{$h4-line-height};
  --stepper-errormessage-color: var(--danger-color);
  --stepper-errormessage-font-size: #{$h6-font-size};
  --stepper-errormessage-text-line-height: #{$h6-line-height};
  --stepper-errormessage-text-margin-top: #{$spacers-04};
}

