.m-video {
    --video-light-color: var(--gray-darker-color);
    --video-dark-color: var(--black-color);
    --video-play-icon-width: 2.5em;
    --video-play-icon-height: 2.5em;
    --video-small-md-width: 33.33%;
    --video-small-md-play-icon-width: 3em;
    --video-small-md-play-icon-height: 3em;
    --video-small-icon-font-size: #{$icon-size-l};
    --video-medium-md-width: 50%;
    --video-medium-md-play-icon-width: 4em;
    --video-medium-md-play-icon-height: 4em;
    --video-medium-icon-font-size: #{$icon-size-l};
    --video-large-md-width: 100%;
    --video-large-md-play-icon-width: 5em;
    --video-large-md-play-icon-height: 5em;
    --video-large-icon-font-size: #{$icon-size-xl};
    --video-width: 100%;
    --video-height: 100%;
    --video-bg: var(--black-color);
    --video-play-icon-size: #{$icon-size-xl};
    --video-play-icon-color: var(--white-color);
    --video-small-md-container-width: 50%;
    --video-medium-md-container-width: 76%;
    --video-background-image-size-contain: contain;
    --video-background-image-size-cover: cover;
    --video-background-repeat: no-repeat;
}