@import "./global/media-queries.less";
@import "./global/variables.less";

.title {
  .cmp-title {
    h1,
    h1.cmp-title__text {
      @media @sm-down {
        font-size: @spacer-22-4;
        line-height: @spacer-28;
      }
      @media @md-up {
        font-size: @spacer-30;
        line-height: @spacer-35;
      }
      @media @lg-up {
        font-size: @spacer-48;
        line-height: @spacer-60;
      }
      font-family: @brandon-black;
      color: @color-white;
      letter-spacing: 0;
    }
    h2,
    h2.cmp-title__text {
      font-family: @brandon-bold;
      font-size: @spacer-40;
      line-height: @spacer-56;
      @media @md-down {
        font-size: @spacer-18;
        line-height: @spacer-18;
      }
    }
    h3,
    h3.cmp-title__text {
      font-family: @brandon-bold;
      font-size: @spacer-30;
      line-height: @spacer-45;
      @media @md-down {
        font-size: @spacer-18;
        line-height: @spacer-18;
      }
    }
    h4,
    h4.cmp-title__text {
      font-family: @brandon-bold;
      font-size: @spacer-22-4;
      line-height: @spacer-24;
    }
    .a-title--half {
      h4.cmp-title__text {
        font-family: @brandon-bold;
        font-size: @spacer-18;
        line-height: @spacer-24;
      }
    }
  }
  &.a-title--half {
    h4.cmp-title__text {
      font-family: @brandon-bold;
      font-size: @spacer-18;
      line-height: @spacer-24;
    }
  }

  &.a-title--fg-primary {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @color-primary-blue;
    }
  }
  &.a-title--fg-secondary {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @color-magenta;
    }
  }

  .a-tiles--xsmall a.a-tile__link .a-tile__title p {
    font-family: @brandon-bold;
    font-size: @spacer-16;
    line-height: @spacer-14;
  }

  .title-medium-blue-white {
    background-color: @color-medium-blue;
    color: @color-white;
    display: block;
    padding: 12px;
    font-family: @georgia;
    line-height: @spacer-20;
    font-size: @spacer-16;
    font-weight: normal;
  }
}

#pageContent .title-large {
  font-family: @brandon-medium;
  font-size: @spacer-48;
  line-height: @spacer-38;
  .title-small {
    font-size: 55%;
    display: block;
  }
}
