<script type="text/javascript">
    var session_id;
    if((session_id = sessionStorage.getItem('arvato_session_id')) === null) {
        session_id = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
        sessionStorage.setItem('arvato_session_id', session_id);
    }
    var _itt = {
        c: '68437',
        s: session_id,
        t: 'CO'
    };
    (function() {
        var a = document.createElement('script');
        a.type = 'text/javascript'; 
		a.async = true;
        a.src = '//uc8.tv/68437.js';
        var b = document.getElementsByTagName('script')[0];
        b.parentNode.insertBefore(a, b);
    })();
</script>
