@font-face {
    font-family: 'GEDinarOne-Light';
    src: url('../../resources/fonts/GEDinarOne/GEDinarOne-Light.woff2') format('woff2'),
         url('../../resources/fonts/GEDinarOne/GEDinarOne-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'GEDinarOne-Medium';
    src: url('../../resources/fonts/GEDinarOne/GEDinarOne-Medium.woff2') format('woff2'),
         url('../../resources/fonts/GEDinarOne/GEDinarOne-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}