// Font Sizes
@font-size-title-l1: 38px;
@font-size-title-l2: 24px;
@font-size-title-l3: 28px;
@font-size-title-l4: 20px;
@font-size-body-text: 14px;
@font-size-desc-text: 13px;
@font-size-large-text: 18px;
@font-size-medium-text: 16px;
@font-size-small-text: 12px;
@font-size-xs-small-text: 10px;

// Banner variables
@font-size-banner-title: 48px;
@font-size-banner-search-title: 34px;
@font-size-banner-search-icon: 22px;
@font-size-banner-desc: 16px;

//icon size
@font-size-icon-link: 15px;

//header
@font-size-header-link: 14px;

//error-page
@font-size-error-title: 60px;

// Font Families
@font-family-default: Helvetica, Arial, sans-serif;
@font-family-brandon-thin: 'brandon-grotesque--thin', sans-serif;
@font-family-brandon-thin-italic: 'brandon-grotesque--thin-italic', sans-serif;
@font-family-brandon-light: 'brandon-grotesque--light', sans-serif;
@font-family-brandon-light-italic: 'brandon-grotesque--light-italic', sans-serif;
@font-family-brandon-regular: 'brandon-grotesque--regular', sans-serif;
@font-family-brandon-regular-italic: 'brandon-grotesque--regular-italic', sans-serif;
@font-family-brandon-medium: 'brandon-grotesque--medium', sans-serif;
@font-family-brandon-medium-italic: 'brandon-grotesque--medium-italic', sans-serif;
@font-family-brandon-bold: 'brandon-grotesque--bold', sans-serif;
@font-family-brandon-bold-italic: 'brandon-grotesque--bold-italic', sans-serif;
@font-family-brandon-black: 'brandon-grotesque--black', sans-serif;
@font-family-abt-icon: 'Abbott-icon';
