<sly data-sly-use.templates="abbott/components/content/templates.html"/>
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-test.authoring="${!(wcmmode.edit || wcmmode.design || wcmmode.preview)}">
  <sly data-sly-call="${clientLib.js @ categories='abbott.gpas'}"/>
</sly>
<section class="gpas-component">
<div id="gpas-id">
<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">Gpas component </sly>
    <input type="hidden" id="landingUrl" value="${properties.landingpageurl}" />
</div>
</section>