@import "./global/variables.less";

.a-button {
  &&--primary .btn {
    border: @spacer-1 solid @color-darker-blue;
    padding: @spacer-13 0;
    background: @color-darker-blue
      linear-gradient(
        0deg,
        @color-darker-blue 0%,
        lighten(@color-darker-blue, 20%) 100%
      );
    color: @color-white;
    margin-bottom: @spacer-15;
    min-width: @custom-button-min-width;
    border-radius: 0;
  }
}
