.layoutcontainer.o-layoutcontainer-twocolumn-medium .a-container{
    width: var(--layout-width-m);
    margin: var(--space-zero-size) auto;
}
.o-layoutcontainer-column-default .container {
    padding: var(--space-zero-size);
    margin-bottom: var(--layout-spacing-xl);
}
.layoutcontainer.o-layoutcontainer-twocolumn-medium .a-container__column:first-child{
   max-width: var(--layout-width-xxxs);
   padding: var(--space-zero-size);
}
.layoutcontainer.o-layoutcontainer-twocolumn-medium .a-container__column:nth-child(2){
    max-width: var(--layout-width-s);
   margin-left: var(--layout-spacing-xxxs);
    padding: var(--space-zero-size);
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .image,
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .download{
    margin-top: var(--layout-spacing-xxs);
    min-height: var(--layout-height-xl);
    display: flex;
    align-items: center;
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .image:nth-of-type(odd),
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .download:nth-of-type(odd){
    background-color: var(--abbott-light-gray);
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .image .cmp-image{
    display: block;
    text-align: center;
    width: var(--page-width);
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column .title h1{
    height: var(--layout-height-m);
    font-size: var(--layout-font-size-l);
    text-transform: uppercase;
    padding: var(--layout--padding-s-m);
    line-height: var(--line-height-normal);
    font-family: var(--font-brandon-bold);
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column:first-child .title h1{
    text-align: center;
    font-family: var(--font-brandon-bold);
}
.o-layoutcontainer-twocolumn-large.layoutcontainer.o-layoutcontainer-column-default .a-container__column:first-child .title h1{
    text-align: left;
}
.layoutcontainer.o-layoutcontainer-threecolumn .a-container{
    width: var(--layout-width-xl);
    margin: var(--space-zero-size) auto;
}
.layoutcontainer.o-layoutcontainer-threecolumn .a-container__column:first-child{
   max-width: var(--layout-width-xxxs);
   padding: var(--space-zero-size);
}
.layoutcontainer.o-layoutcontainer-threecolumn .a-container__column:nth-child(2),
.layoutcontainer.o-layoutcontainer-threecolumn .a-container__column:nth-child(3){
    max-width: var(--layout-width-xs);   
    margin-left: var(--layout-spacing-xxxs);
    padding: var(--space-zero-size);
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column{
    margin-top: var(--layout-spacing-m1);
    flex: auto;
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .image img{
    max-height: var(--layout-height-xl);
    width: auto;
}
.layoutcontainer.o-layoutcontainer-twocolumn-large .a-container{
    width: var(--layout-width-xxl);
    margin: var(--space-zero-size) auto;
}
.layoutcontainer.o-layoutcontainer-twocolumn-large .a-container__column:first-child{
   max-width: var(--layout-width-l);
   padding: var(--space-zero-size);
}
.layoutcontainer.o-layoutcontainer-twocolumn-large .a-container__column:nth-child(2){
    max-width: var(--layout-width-xxs);
   margin-left: var(--layout-spacing-xxs);
    padding: var(--space-zero-size);
}
.layoutcontainer.o-layoutcontainer-twocolumn-large .a-container__column > .text .cmp-text, 
.layoutcontainer.o-layoutcontainer-twocolumn-large .a-container__column > .download{
    margin-top: var(--layout-spacing-xxs);
    min-height: var(--layout-height-l);
    display: flex;
    padding: var(--space-zero-size) var(--layout-spacing-xs);
    align-items: center;
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .text .cmp-text p{
    margin: var(--space-zero-size);
    font-family: var(--font-georgia);
    font-size: var(--layout-font-size-m);
    font-weight: bold;
    color: var(--abbott-charcoal);
}
.layoutcontainer.o-layoutcontainer-column-default .a-container__column > .text:nth-of-type(odd){
    background-color: var(--abbott-light-gray);
    width: var(--page-width);
}

.layoutcontainer.aem-GridColumn.aem-GridColumn--default--12 { 
    padding-top: var(--layout-spacing-xl);
    border-top: 6px solid var(--abbott-mint);
}
.layoutcontainer.o-layoutcontainer-twocolumn-large.o-layoutcontainer-column-default {
    margin-bottom: var(--layout-spacing-xs);
}
@media(min-width: 992px){
    .layoutcontainer.aem-GridColumn.aem-GridColumn--default--12 .container.column-layout-container{
        padding-left: var(--layout-spacing-xs);
        padding-right: var(--layout-spacing-xs);
    }
}
@media(max-width: 991px){
    .container.column-layout-container{
        padding: 0 var(--layout-spacing-xs);
    }
    .o-layoutcontainer-column-default .container{
        padding: var(--space-zero-size);
        margin-bottom: var(--layout-spacing-l);
    }
    .layoutcontainer.o-layoutcontainer-column-default .a-container__column > .image .cmp-image{
        padding: var(--space-zero-size) var(--layout-spacing-s);
    }
    .layoutcontainer.o-layoutcontainer-column-default {
        margin: var(--space-zero-size) var(--layout-spacing-minus);
    }
    .layoutcontainer.o-layoutcontainer-column-default .a-container__column > .image img{
        max-width: var(--page-width);
    }
    .layoutcontainer.o-layoutcontainer-threecolumn .a-container{
        width: var(--page-width);
    }
    .layoutcontainer.o-layoutcontainer-threecolumn .a-container__column:first-child{
       max-width: var(--layout-width-percent-xxs);
       padding: var(--space-zero-size);
    }
    .layoutcontainer.o-layoutcontainer-threecolumn .a-container__column:nth-child(2),
    .layoutcontainer.o-layoutcontainer-threecolumn .a-container__column:nth-child(3){
        max-width: var(--layout-width-percent-xs);
        margin-left: var(--layout-spacing-xxxs);
    }
    .layoutcontainer.o-layoutcontainer-twocolumn-large .a-container{
        width: var(--page-width);
    }
    .layoutcontainer.o-layoutcontainer-twocolumn-large .a-container__column:first-child{
        max-width: var(--layout-width-percent-l);
    }
    .layoutcontainer.o-layoutcontainer-twocolumn-large .a-container__column:nth-child(2){
        max-width: var(--layout-width-percent-m);
    }
    .layoutcontainer.aem-GridColumn.aem-GridColumn--default--12 { 
        padding-top: var(--layout-spacing-m);
    }
    .layoutcontainer.o-layoutcontainer-column-default .a-container__column .title h1 {
        font-size: var(--layout-font-size-s);
        height: var(--layout-height-s);
        padding: var(--layout-spacing-xxxs1) var(--layout-spacing-xxs);
    }    
}
@media (max-width: 767px){
    .layoutcontainer.o-layoutcontainer-column-default .container .container{
        padding: var(--space-zero-size) var(--layout-spacing-xs);
    }
    .layoutcontainer.o-layoutcontainer-column-default .a-container__column>.image .cmp-image{
        padding: var(--space-zero-size) var(--layout-spacing-xxs1);
    }
    .layoutcontainer.o-layoutcontainer-column-default .a-container__column:first-child .title h1{
        text-align: left;
    }
}
@media(max-width: 600px){
    .layoutcontainer.o-layoutcontainer-twocolumn-medium .a-container{
        width: var(--page-width);
    }
    .layoutcontainer.o-layoutcontainer-twocolumn-medium .a-container__column:first-child{
        max-width: var(--layout-width-percent-s);
    }
    .layoutcontainer.o-layoutcontainer-twocolumn-medium .a-container__column:nth-child(2){
        max-width: var(--layout-width-percent-xl);
    }
}
@media (max-width: 1110px){
    .a-title-full.title h1.cmp-title__text{
        width: var(--page-width);
    }
}