.image {
	margin-bottom: 0 !important;
	.container{
		margin-bottom: 24px !important;
	}
    .m-image-popup{
		cursor:pointer;
    }
	img {
		max-width: 100%;
	}
	.align-top-right {
		text-align: right;
	}
	.align-top-left {
		text-align: left;
	}
	.align-top-center {
		text-align: center;
		width: 100%;
	}
	.align-bottom-right {
		text-align: right;
	}
	.align-bottom-left {
		text-align: left;
	}
	.align-bottom-center {
		text-align: center;
	}
	.caption-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.caption-right {
		display: block;
		margin-left: auto;
	}
	.caption-none{
		display: none;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}
	.left {
		text-align: left;
	}
	.heading-top {
		margin: 0;
		padding: 0px 0px 16px 0px;
	}
	.heading-bottom {
		margin: 0;
		padding: 16px 0px 0px 0px;
	}
	.modal-dialog {
		max-width: 70%;
	}
	.modal-body {
		padding: 10px 0 0 0;
	}
	.image-control-popup {
		width: 100%;
		height: 490px;
	}
	.close {
		border: transparent;
		background: transparent;
		float: right;
		margin: 4px 4px 6px 0;
	}
	.limelight-video-control-popup {
		width: 100% !important;
		height: 490px;
	}
}

.generic-modal.modal-imageComp {
    .limeLight-video-wrapper {
		position: absolute;
        height: 445px !important;
        background:transparent;
    }

	.modal-dialog-centered {
		max-width: 70% !important;
	}
	.generic-modal__content-body {
		padding-left: 0% !important;
		padding-right: 0% !important;
        padding-top:0%;
	}
	.generic-modal__content-footer {
		display: none !important;
	}
	.video.m-video--caption-light {
		margin-bottom: 0px !important;
	}
	.generic-modal__content {
		padding-top: 46px !important;
		border: 0;
	}
	.newpar {
		display: none;
	}
	.m-video {
		.limelight-player {
			.vjs-limelight-big-play {
				&:before {
					content: "\f101";
					background: #888b8d;
					border-radius: 100px;
					font-size: 60px;
					line-height: 60px;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 96px;
					height: 96px;
					padding: 16px 0px;
                    -webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
                    text-shadow:none !important;
				}
				&:hover {
					&::before {
						content: "\f101";
						background: rgba(170,0,97,0.60);
						border-radius: 100px;
						font-size: 60px;
						line-height: 60px;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 96px;
						height: 96px;
						padding: 16px 0px;
                        -webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
                        text-shadow:none !important;
					}
				}
			}
			width: 100% !important;
		}
        
	}
	.generic-modal--close {
		top: 13px;
	}
@media (max-width: 1920px) {
        .m-video {
		.limelight-player {
		    width: 100% !important;
    		height: 498px !important;
            top:0;
            }
        }
    .embed-popup{
        height:490px;
        width:100%;
        border:0;
    }
}

    @media (max-width: 1024px) {

	.m-video {
		.limelight-player {
			width: 100% !important;
			height: 404px !important;
			top: 0;
			.vjs-limelight-big-play {
				&:before {
					content: "\f101";
					background: #888b8d;
					border-radius: 100px;
					font-size: 50px;
					line-height: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 64px;
					height: 64px;
					padding: 16px 0px;
                    -webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
				&:hover {
					&::before {
						content: "\f101";
						background: rgba(170,0,97,0.60);
						border-radius: 100px;
						font-size: 50px;
						line-height: 30px;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 64px;
						height: 64px;
						padding: 16px 0px;
                        -webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
					}
				}
			}
			}
		}
        .embed-popup{
            height:404px;
            width:100%;
            border:0;
        }
    }
    @media (max-width: 992px) {
    .m-video {
		.limelight-player {
			width: 100% !important;
			height: 304px !important;
			top: 0;
                .vjs-limelight-big-play {
				&:before {
					content: "\f101";
					background: #888b8d;
					border-radius: 100px;
					font-size: 50px;
					line-height: 30px;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 64px;
					height: 64px;
					padding: 16px 0px;
                    -webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
				&:hover {
					&::before {
						content: "\f101";
						background: rgba(170,0,97,0.60);
						border-radius: 100px;
						font-size: 50px;
						line-height: 30px;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 64px;
						height: 64px;
						padding: 16px 0px;
                        -webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
					}
				}
			}
			}
		}
        .embed-popup{
            height:304px;
            width:100%;
            border:0;
        }
    }
    @media (max-width: 767px) {
        .modal-dialog-centered {
            max-width: 100% !important;
        }
        .m-video {
		.limelight-player {
			width: 100% !important;
			height: 225px !important;
			top: 0;
                .vjs-limelight-big-play {
				&:before {
					content: "\f101";
					background: #888b8d;
					border-radius: 100px;
					font-size: 40px;
					line-height: 14px;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 48px;
					height: 48px;
					padding: 16px 0px;
                    -webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
				&:hover {
					&::before {
						content: "\f101";
						background: rgba(170,0,97,0.60);
						border-radius: 100px;
						font-size: 40px;
						line-height: 14px;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 48px;
						height: 48px;
						padding: 16px 0px;
                        -webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
					}
				}
			}
			}
		}
        .embed-popup{
            height:225px;
            width:100%;
            border:0;
        }
    }
}
.responsivegrid {
	.aem-Grid {
		.m-video--caption-light {
			padding-bottom: 0% !important;
			padding-top: 0% !important;
		}
	}
}

