// Terms and condition banner
.sticky-notice-banner {
   //For newheaderstickey
  .sticky-banner-yellow {
    background-color: @color-fsl-yellow;
    color: @color-fsl-black;
    min-height: 85px;

    .sticky-notice-banner-description {
      line-height: 20px;

      a {
        text-decoration: underline;
        color: @color-fsl-black !important;
      }
    }
  }

  .sticky-banner-blue {
    background-color: @color-fsl-blue;
    color: @color-fsl-white;
    min-height: 85px;

    .sticky-notice-banner-description {
      line-height: 20px;

      a {
        text-decoration: underline;
        color: @color-fsl-white !important;
      }
    }
  }

  .sticky-notice-banner-heading {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    padding-top: 18px;
    width: 1179px;
  }

  .adc-icon--close-white {
    padding: 6px 7px;
    position: absolute;
    top: 35px;
    right: 26px;
  }

  .adc-icon--close-black {
    background: url(/etc.clientlibs/adc/freestylelibrede/components/content/sticky-notice-banner/clientlibs/resources/icons/Close.svg) no-repeat;
    border: none;
    padding: 8px 16px;
    position: absolute;
    top: 35px;
    right: 25px;
  }

}

.sticky-notice-banner-top {
  position: fixed;
  top: 0;
  z-index: 1006;
  width: 100%;
  max-width: 1440px
}

// /sticky-notice banner