@import '../mixin.less';
@import '../media-queries.less';
@import '../variables.less';

/**
 * FOOTER - COMPONENT
**/
.footer {
	.o-footer {
		&__link-wrapper {
			@media @lg-up {
				margin-bottom: @spacer-30;
				max-width: max-content;
			}
		}
		.m-link-stack--content {
			&__two-column {
				column-gap: @spacer-30;
				@media @lg-up {
					column-count: 2;
				}
			}
			&__three-column {
				column-gap: @spacer-30;
				@media @lg-up {
					column-count: 3;
				}
			}
			&__four-column {
				column-gap: @spacer-30;
				@media @lg-up {
					column-count: 4;
				}
			}
		}
	}
}