@import '../mixin.less';
@import '../media-queries.less';
@import '../variables.less';

/**
 * IMAGE - COMPONENT
**/
.image {
  .cmp-image {
    &__title {
      padding-top: 1rem;
      text-align: center;
      display: block;
      .font-style(@spacer-14, @spacer-20, @color-dark-gray);
    }
  }
}
