@color-black:         #000000;
@color-white:         #ffffff;
@color-charcoal:      #222731;
@color-Quill-Grey:#d9d9d6;
@color-green:#7ccc6c;

@brandon-light: "brandon_grotesquelight", Georgia, sans-serif, Calibri;
@brandon-bold: "brandon_grotesquebold", Georgia, sans-serif, Calibri;
@brandon-regular: "brandon_grotesqueregular", Georgia, sans-serif, Calibri;
@brandon-medium: "brandon_grotesquemedium", Georgia, sans-serif, Calibri;
@brandon-black: 'brandon_grotesqueblack', Georgia, sans-serif, Calibri;
@georgia: Georgia, 'Times New Roman', sans-serif, Calibri;
@georgias: "Georgia", sans-serif, Calibri;
@calibri: 'Calibri', Georgia, sans-serif;
@calibri-regular: 'calibri_regular', Georgia, sans-serif;
@calibri-regular-italic: 'calibri_regular_italic', Georgia, sans-serif;
@calibri-bold: 'calibri_bold', Georgia, sans-serif;
@calibri-bold-italic: 'calibri_bold_italic', Georgia, sans-serif;
@abbott-icon: 'Abbott-icon' !important;