/**********************************
Mixins
**********************************/

// Font styling
.font-style(@fontSize, @lineHight, @color, @letterSpacing: normal) {
    font-size: @fontSize;
    line-height: @lineHight;
    color: @color;
    letter-spacing: @letterSpacing;
}

.mob-text-center {
    @media @md-down {
        text-align: center;
    }
}
@media @xl-down {
    .visible-xl {
        display: none;
    }
}
@media @md-up {
    .visible-xs {
        display: none;
    }
}
@media @md-down {
    .hidden-sm {
        display: none !important;
    }
}
@media @lg-only {
    .hidden-md {
        display: none;
    }
}
@media @lg-up {
    .hidden-xs {
        display: none;
    }
}