.o-wizard-container__success-msg {
  font-size: var(--wizard-font-size);
  line-height: var(--wizard-line-height);
  color: var(--wizard-color-success);
  text-transform: uppercase;
  font-weight: bold;
  margin: var(--wizard-margin);
  text-align: center;
}
.o-wizard-container__error-msg {
  font-size: var(--wizard-font-size);
  line-height: var(--wizard-line-height);
  color: var(--wizard-color-error);
  text-transform: inherit;
  font-weight: bold;
  margin: var(--wizard-margin);
  text-align: center;
}
.o-wizard__container {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.o-wizard__container .o-wizard__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.o-wizard__container .o-wizard__btn button[type="submit"] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .o-wizard__container .o-wizard__btn button[type="submit"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.o-wizard__container .o-wizard__btn--back {
  margin-right: var(--wizard-btn-back-margin-right);
}
.o-wizard__container .o-wizard__content {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.o-wizard__container .o-wizard__content:not(:first-of-type) {
  display: none;
}
.o-wizard__container .o-wizard__content--wrap button[type="submit"] {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 991.98px) {
  .o-wizard__container .o-wizard__content .o-form-container__element {
    width: 100%;
  }
}
.formcontainer-halfwidth .o-wizard .o-form-container__element {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .formcontainer-halfwidth .o-wizard .o-form-container__element {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.o-wizard__container .o-wizard__btn--back {
  margin-left: 0.9375rem;
}
.o-wizard label {
  display: block;
  text-align: right;
}
