@import "./global/variables.less";
@import "./global/media-queries.less";

#dermatology-container {
  .m-tile-list {
    padding-top: 0;
    margin-top: 30px;
  }
  .title,.m-hero__content {
    margin-bottom: 30px;
    h1 {
      font-family: @brandon-bold;
      font-size: @spacer-60;
      line-height: @spacer-64;
        @media @lg-down {
          font-size: @spacer-29-44;
          line-height: @spacer-29-44;
        }
        @media @md-down {
          font-size: @spacer-24;
          line-height: @spacer-25;
        }
    }
    h2 {
      font-family: @brandon-black !important;
      font-size: @spacer-66-912 !important;
      line-height: @spacer-72 !important;
      @media @lg-down {
        font-size: @spacer-29-44 !important;
        line-height: @spacer-29-44 !important;
      }
      @media @md-down {
        font-size: @spacer-18 !important;
        line-height: @spacer-20 !important;
      }
    }
    h3 {
      font-family: @brandon-medium !important;
      font-size: @spacer-35 !important;
      line-height: @spacer-38 !important;
      @media @lg-down {
        font-size: @spacer-29-44 !important;
        line-height: @spacer-29-44 !important;
        font-family: @brandon-black;
      }
      @media @md-down {
        font-size: @spacer-35 !important;
        line-height: @spacer-38 !important;
      }
    }
    .m-hero__body p {
      font-family: @brandon-bold;
      font-size: @spacer-22-4;
      line-height: @spacer-24;
      @media @md-down {
        font-size: @spacer-18;
        line-height: @spacer-18;
      }
    }
  }
  .columncontrol {
    .col-lg-4.columncontrol__column {
      margin-bottom: 60px;
      .title {
        margin-top: 20px;
        margin-bottom: 15px;
        h5 {
          font-family: @brandon-medium;
          font-size: @spacer-16;
          line-height: @spacer-20;
          font-weight: normal;
          color: @color-orange;
          @media @md-down {
            font-size: @spacer-18;
            line-height: @spacer-19-2308;
          }
        }
      }
      .image {
        margin-top: 15px;
      }
    }

    .col-lg-5.columncontrol__column {
      .title {
        margin-top: 20px;
        h2 {
          font-family: @brandon-medium !important;
          font-size: @spacer-35 !important;
          line-height: @spacer-38 !important;
          @media @lg-down {
            font-size: @spacer-27 !important;
            line-height: @spacer-29-44 !important;
            font-family: @brandon-black;
          }
          @media @md-down {
            font-size: @spacer-35 !important;
            line-height: @spacer-38 !important;
            width:100%;

          }
        }
      }
    }
  }
}
