@import "./global/variables.less";
@import "./global/media-queries.less";

#home-container {
  .m-hero {
    .m-hero__content {
      width: 75%;
      @media @lg-down {
        padding-top: 0px;
      }
      @media @md-down {
        padding-top: 0px;
        width: 100%;
      }
      @media (min-width: 700px) and (max-width: 727px){
        padding-top:80px
      }
      h1 {
        color: @color-yellow;
        margin-bottom: 0px;
        font-size: @spacer-66-912;
        line-height: @spacer-60;
        @media @lg-down {
          font-size: @spacer-29-44;
          line-height: @spacer-29-44;
        }
        @media @md-down {
          font-size: @spacer-18;
          line-height: @spacer-18;
        }
      }
      p {
        @media @md-down {
          display: none;
        }
      }
    }
    .m-hero__image {
      height: auto; 
      position: initial;
      .cmp-image__image {
        position: inherit;
      }
    }
    .m-hero__body h3 {
      color: @color-white;
      font-family: @brandon-bold;
      font-size: @spacer-22-4;
      line-height: @spacer-24;
      @media @lg-down {
        font-size: @spacer-22-4;
        line-height: @spacer-24;
      }
      @media @md-down {
        font-size: @spacer-18;
        line-height: @spacer-18;
        color: @color-black;
      }
    }
    .m-hero__extras {
      margin-top: 18px;
    }
  }
  .productsection {
    .o-product-section__container {
      @media @md-down {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .o-product-section__content {
      padding-right: 10%;
      flex: 0 0 48%;
      max-width: 48%;
      @media @md-down {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 60px;
      }
      @media @lg-down {
        padding-right: 0;
      }
      h2 {
        font-family: @brandon-bold;
        font-size: @spacer-22-4;
        line-height: @spacer-24;
        color: @color-primary-blue;
        margin-bottom: 15px;
      }
      .o-product-section__button-wrapper {
        padding-top: 20px;
      }
      .button a.btn {
        background-color: @color-black-light;
        span {
          color: @color-white;
        }
        &:hover {
          &::before {
            background: @color-primary-blue;
          }
          span {
            color: @color-black-light;
          }
        }
      }
    }
    .o-product-section__image-wrapper {
      flex: 0 0 52%;
      max-width: 52%;
      @media @md-down {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &.o-product-section--text-right {
      .o-product-section__content {
        padding-right: 0%;
        padding-left: 10%;
        @media @lg-down {
          padding-left: 0px;
        }
        @media @md-down {
          flex: 0 0 100%;
          max-width: 100%;
          padding-left: 0px;
        }
      }
    }
    .o-product-section__button-wrapper .a-button {
      .btn {
        @media @md-down {
          display: inline;
        }
      }
    }
  }
  .text {
    @media @md-down {
      margin-top: 0;
    }
    .cmp-text {
      h2 {
        color: @color-primary-blue;
        font-family: @brandon-black;
        font-size: @spacer-22;
        line-height: @spacer-24;
        margin-bottom: 13px;
        margin-top: 40px;
        &:first-child {
          margin-top: 12px;
        }
      }
      h4 {
        color: @color-dark-charcoal;
        font-family: @brandon-bold;
        font-size: @spacer-22-4;
        line-height: @spacer-24;
        margin-bottom: 40px;
        @media @md-down {
          font-size: @spacer-14;
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .o-section-panel {
    .o-section-panel__container {
      @media @lg-down {
        padding-left: 86px;
        padding-right: 86px;
      }
      @media @md-down {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .o-section-panel__title .title h2.cmp-title__text {
      color: @color-magenta;
      @media @lg-down {
        font-size: @spacer-29-44 !important;
        line-height: @spacer-29-44 !important;
      }
    }
    .o-section-panel__para p {
      @media @md-down {
        color: @color-black-light;
      }
    }
    .text .cmp-text p {
      margin-bottom: 0;
      color:@color-black;
    }
    .o-section-panel__tiles {
      width: 88%;
      @media @md-down {
        width: 100%;
      }
      .m-tile-list .a-tile.a-tiles--xsmall a.a-tile__link {
        background-color: @color-magenta;
        &:before {
          background-color: @color-charcoal;
        }
        &:hover .a-tile__title p {
          color: @color-magenta !important;
        }
        .a-tile__title p {
          color: @color-charcoal !important;
        }
      }
    }
  }
  .container {
    @media @md-down {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
