.m-subscriptions {
    margin-top: var(--m-subscriptions-margin-top);

    &__table {
        border: var(--m-subscriptions-table-border);
        border-radius: var(--m-subscriptions-table-border-radius);

        padding: var(--m-subscriptions-table-padding);
        margin-bottom: var(--m-subscriptions-table-margin-bottom);

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__table-item {
        padding: var(--m-subscriptions-table-item-padding);
        margin-bottom: var(--m-subscriptions-table-item-margin-bottom);
    }

    &__address-link {
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }

        em {
            vertical-align: middle;
        }
    }

    &__card-logo {
        max-width: var(--m-subscriptions-card-logo-max-width);
        max-height: var(--m-subscriptions-card-logo-max-height);
    }

    &__cancel {
        border-radius: var(--m-subscriptions-cancel-border-radius);

        background-color: var(--m-subscriptions-cancel-background);

        box-shadow: var(--m-subscriptions-cancel-box-shadow);

        padding: var(--m-subscriptions-cancel-padding);
        margin-bottom: var(--m-subscriptions-cancel-margin-bottom);

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__cancel-content {
        @include media-breakpoint-up(md) {
            width: 50%;

            p {
                margin-bottom: 0;
            }
        }
    }

    &__cancel-btn {
        display: flex;
        align-items: end;
    }
}
