<!doctype html>
<html>

<head>
    {{> includes/head}}

</head>

<body>
    <img data-src="./resources/img/svg-icons.svg" class="icon-svg" id="icon-svg" />

    <input type="hidden" id="aem-base-url" value="https://dev.similac.com">

    <input type="hidden" id="google-maps-api-key" data-version="" value="AIzaSyCpIpuaK_zWFS4qROa77S4ppnpi8DubCQs">

    <input type="hidden" id="aem-default-image-url" value="https://dev.similac.com">

    <input type="hidden" id="store-base-url" value="https://dev.similac.com">
    <input type="hidden" id="page-store-url" value="https://dev-secure.similac.com">

    <input type="hidden" id="search-page-url" value="global-search.html">

    <input type="hidden" id="stock-labels" data-backorder="BACK ORDER" data-out-of-stock="OUT OF STOCK"
        data-in-stock="IN STOCK">

<input type="hidden" id="gigyaURL" value="https://cdns.gigya.com/js/gigya.js?apiKey=3_PrHo4dlk3UyYpUBwJz8OWpvidt6kP7fZfSpfGR4u0KCSP_wBqhdgwrpMRp2OTd0G">
    <input type="hidden" id="store-name" value="new_similac">

    <input type="hidden" id="size-key-5729" data-variation-page-path="#" />

    <input type="hidden" id="size-key-5674" data-variation-page-path="#" />

    <input type="hidden" id="size-key-5642" data-variation-page-path="#" />
      
    <section>
        <div class="d-none" id="welcome-popup" data-signup-days="30" data-cta-days="7"
            data-url-pattern="similac|baby-feeding|baby-development" data-url="/signup.html">
             <h3>Join Similac® StrongMoms® Rewards. It’s fast and FREE!</h3>
            <div class="row mt-4 justify-content-center ">
                <div class="col-12 col-md-5 col-lg-4 text-center">
                    <img src="resources/img/save_400.jpg" />
                </div>
                <div class="col-12 col-md-6 pt-4">
                    {{> includes/list }}
                    <button type="button" class="btn btn-primary px-4 modal-submit">Sign Up Now </button>
                    <div class="footnote d-flex mt-4">† Submit registration to read details.</div>
                </div>
            </div>

        </div>
        <div class="d-none" id="do-popup" data-signup-days="30" data-cta-days="30" data-url-pattern=""
            data-url="/offers.html">
              <h3 class="title">Instead of paper coupons, receive Similac<sup>®</sup> digital offers</h3>

            <div class="row mt-4 justify-content-md-center justify-content-lg-start mb-4 mb-md-0">
                <div class="col-12 col-md-5 col-lg-5 text-center">
                    <img src="resources/img/255_255.png" />
                </div>
                <div class="col-12 col-md-6 col-lg-6  px-lg-0">
				<p>Now you can switch to digital savings by phone on your favorite formulas—here’s how:</p>
                <ol>
                <li>Choose a preferred retailer, like Amazon or Target</li>
                <li>Select text or email notifications</li>
                </ol>

				<button type="button" class="btn btn-primary px-4 modal-submit w-100 w-lg-85">Switch Now</button>
			   <div class="footnote d-flex mt-4">
                   <p><a class="close-link font-roboto-reg text-tangerine d-flex">Thanks, but I'll stick with paper for now.</a></p>
                </div>
			</div>
            </div>

        </div>
        <div class="d-none" id="shutterfly-popup" data-signup-days="30" data-cta-days="7" data-url-pattern="pregnancy"
            data-url="/signup.html">
            <h3>Join Similac® StrongMoms® Rewards. It’s fast and FREE!</h3>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 col-md-5 col-lg-4 text-center">
                    <img src="resources/img/save_400.jpg" />
                </div>
                <div class="col-12 col-md-6 col-lg-6 pt-4">

                    {{> includes/list }}
                    <p>Pregnancy</p>
                    <button type="button" class="btn btn-primary px-4 modal-submit">Sign Up Now </button>
                    <div class="footnote d-flex mt-4">† Submit registration to read details.</div>
                </div>
            </div>

        </div>
        <div id="registration-popup" data-backdrop="static" data-keyboard="false" class="modal similac-modal2"
            role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close modal-close" aria-label="Close">
                            <span class="sim-icons" data-icon="basic-01"></span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    
                </div>
            </div>
        </div>
        <div id="downloadPwa-popup-safari" data-backdrop="static" data-keyboard="false" class="modal similac-modal-pwa" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Add the Similac® Rewards App to your home screen.</h3>
                            <button type="button" id="pwa-close-popup" class="close modal-close" aria-label="Close">
                                    <span class="sim-icons" data-icon="basic-01"></span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12 col-md-5 col-lg-5 text-center">
                                <img src="resources/img/Offers-Disruptor-PWA.png" />
                            </div>
                            <div class="footnote d-flex mt-4">Directions apply to safari only</div>
                        </div>
                    </div>
                </div>
            </div>
                <div id="downloadPwa-popup-chrome" data-backdrop="static" data-keyboard="false" class="modal similac-modal-pwa" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Add the Similac® Rewards App to your home screen.</h3>
                            <button type="button" id="pwa-close-popup" class="close modal-close" aria-label="Close">
                                    <span class="sim-icons" data-icon="basic-01"></span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12 col-md-5 col-lg-5 text-center">
                                <img src="resources/img/Offers-Disruptor-PWA.png" />
                            </div>
                            <div class="footnote d-flex mt-4">Directions apply to chrome only</div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    {{> includes/global-header data = @root.header}}

    <div class="wrapper">
        {{#> content-block}} {{/content-block}}
    </div>
    {{> includes/ribbon ribbon_text=ribbon.ribbonText btn_text=ribbon.btnTxt btn_href = ribbon.href}} {{> includes/global-footer
    data = @root.footer}} {{#> scripts-block}} {{!-- Custom scripts per page can be added. --}} {{/scripts-block}}
</body>

</html>
