@media (max-width: 991.98px) {
  .breadcrumb {
    margin-left: 7px;
  }
}
.breadcrumb__list {
  font-size: var(--breadcrumb-font-size);
  font-family: var(--breadcrumb-font-family);
  line-height: var(--breadcrumb-line-height);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.breadcrumb__item + .breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.breadcrumb__item + .breadcrumb__item::before {
  content: "";
  width: 7px;
  height: 11px;
  background: var(--breadcrumb-separator) no-repeat;
  background-position: center center;
  background-size: contain;
  padding: var(--breadcrumb-padding);
}
.breadcrumb__item {
  font-weight: var(--breadcrumb-font-weight);
}
.breadcrumb__item--active {
  color: var(--breadcrumb-color);
  font-weight: bold;
}
.breadcrumb__item--active span {
  text-decoration: underline;
}
.breadcrumb__link {
  color: var(--breadcrumb-color);
  text-decoration: none;
}
.breadcrumb__link:hover {
  color: var(--breadcrumb-color);
  text-decoration: none;
}
.breadcrumb__home-icon {
  display: block;
  width: 15px;
  height: 21px;
  background: var(--breadcrumb-home) no-repeat;
  background-position: center center;
  background-size: contain;
}
.breadcrumb__item + .breadcrumb__item {
  padding-right: var(--breadcrumb-padding-right);
  padding-left: 0;
}
