@import './global/variables.less';
@import './global/media-queries.less';

h1, .h1 {
  .form-heading &{
    color:@color-charcoal;
    @media @lg-up {
      font-size: @spacer-48;
      line-height: @spacer-64;
    }
  }
  sup {
    top: -1.5em;
    font-size: @font-h1-superscript;
  }
}

h2, .h2 {
  .form-heading &{
    @media @sm-only {
      font-size: @spacer-38;
      line-height: @spacer-48;
    }
  }
  .o-features-card__title & {
    @media @sm-up {
      font-size: @font-h2-med-screen;
      line-height: @line-height-h2-med-screen;
    }
  }

  sup {
    top: -1.5em;
    font-size: @font-h2-superscript-med-screen;
  }

  .promo-title & {
    font-weight: normal;
  }
}

h3, .h3 {
  @media @md-down {
    font-size: @font-h3-small-screen ;
    line-height: @line-height-h3-small-screen;
  }
}

sup {
  font-size: 70%;
}

.abbott-wrapper .xf-content-height {
  min-height: 46px;
}

.btn {
  letter-spacing: 1px;
}