@import './global/variables.less';

.o-product-section {     
    --product-section-image-max-height: 506px;
}
.o-header { 
    --header-link-stack-color: @primary-color;
}
.o-features-card {
    --feature-card-para-font-size: @spacer;
}

.a-logo-comp {
    --logo-max-height-des: 59px;
}
.generic-modal__image {
    --modal-image-margin: 0;
}