#site-entering-popup-content, #site-leaving-popup-content {
	position: fixed;
	top: var(--space-zero-size);
	right: var(--space-zero-size);
	bottom: var(--space-zero-size);
	left: var(--space-zero-size);
	z-index: var(--popup-z-index);
	background-color: var(--popup-bg-overlay);
	overflow-x: hidden;
	overflow-y: auto;
	display:none;
}

#site-entering-popup-content .m-popup-content {
	background-color: var(--fill-white);
	width: var(--popup-width);
	margin: var(--popup-margin);
}
#site-leaving-popup-content .m-popup-content {
	background-color: var(--fill-white);
	width: var(--popup-width);
	margin: var(--popup-leaving-margin);
}

#site-entering-popup-content .m-popup-content .logo.link.button, #site-leaving-popup-content .m-popup-content .logo.link.button {
	padding: var(--popup-link-button-padding);
	text-align: left;
	background-color: var(--primary-orange);
}

#site-entering-popup-content .m-popup-content .text.a-text p.popup-agree-txt {
	font-family: var(--font-brandon-bold);
	color: var(--primary-orange);
	text-align: center;
	font-size: var(--popup-font-size-l);
	margin-bottom: var(--spacing-l);
}
#site-leaving-popup-content .m-popup-content .text.a-text p.popup-agree-txt {
	font-family: var(--font-georgia);
	color: var(--abbott-charcoal);
	text-align: center;
	font-size: var(--popup-font-size-l);
	margin-bottom: var(--spacing-l);
}
#site-entering-popup-content .m-popup-content .image, #site-leaving-popup-content .m-popup-content .image {
	text-align: center;
	margin: var(--spacing-l);
}

#site-entering-popup-content .m-popup-content .image img.cmp-image__image, #site-leaving-popup-content .m-popup-content .image img.cmp-image__image {
	width: auto;
}

#site-entering-popup-content .m-popup-content .text.a-text .cmp-text, #site-leaving-popup-content .m-popup-content .text.a-text .cmp-text {
	width: var(--popup-text-width);
	line-height: var(--popup-line-height-l);
	margin: var(--space-zero-size) auto;
}

#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list li:before {
	position: absolute;
	top: var(--popup-position-top);
	left: var(--popup-position-left);
	content: '\25C6';
	width: var(--popup-list-width);
	height: var(--popup-list-height);
	color: var(--abbott-gold);
	text-align: center;
	font-size: var(--popup-font-size-xl);
	line-height: var(--line-height-normal);
}

#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list li {
	list-style-type: none;
	position: relative;
	margin-bottom: var(--spacing-xs-02);
}

#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list li:last-child,
#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list {
	margin-bottom: var(--space-zero-size);
}

#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list {
	padding-left: var(--popup-list-padding);
}

#site-entering-popup-content .m-popup-content .button.link:not(.logo){
	text-align: center;
	padding: var(--popup-button-link-padding);
}
 #site-leaving-popup-content .m-popup-content .button.link:not(.logo) {
	text-align: center;
	padding: var(--popup-button-link-padding);
	display: inline-block;
}
#site-leaving-popup-content .cmp-container{
	text-align: center;
}
#site-entering-popup-content .m-popup-content .button.link a.btn {
	color: var(--btn-text-color);
	background: var(--abbott-gold);
	text-align: center;
	padding: var(--popup-agree-padding);
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	border-radius: var(--space-zero-size);
	font-family: var(--font-brandon-bold);
}
#site-leaving-popup-content .m-popup-content .button.link a.btn {
	color: var(--btn-text-color);
	background: var(--abbott-gold);
	text-align: center;
	padding: var(--popup-leaving-btn-padding);
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	width: var(--popup-button-width);
	border-radius: var(--space-zero-size);
	font-family: var(--font-brandon-bold);
}
#site-entering-popup-content .m-popup-content .xf-content-height, #site-leaving-popup-content .m-popup-content .xf-content-height {
	margin: var(--space-zero-size);
}
#site-entering-popup-content .m-popup-content .logo.link.button .popup-close:before, 
#site-leaving-popup-content .m-popup-content .logo.link.button .popup-close:before{
	content: "\e91b";
}

#site-entering-popup-content .m-popup-content .logo.link.button .popup-close,
#site-leaving-popup-content .m-popup-content .logo.link.button .popup-close {
	color: var(--primary-orange);
	background-color: var(--fill-white);
	border-radius: var(--popup-border-radius);
	padding: var(--popup-close-padding);
	font-family: Abbott-icon, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	float: right;
	font-size: var(--popup-font-size-xs);
	width: var(--popup-close-width);
	font-weight: bold;
	height: var(--popup-close-height);
	text-align: center;
	cursor: pointer;
}
#site-entering-popup-content .m-popup-content .logo.link.button:nth-child(2),
#site-leaving-popup-content .m-popup-content .logo.link.button:nth-child(2){
    background: var(--fill-white);
    text-align: center;
}
#site-entering-popup-content .m-popup-content .logo.link.button:nth-child(2) .popup-close,
#site-leaving-popup-content .m-popup-content .logo.link.button:nth-child(2) .popup-close{
    display: none;
}
@media only screen and (max-width:991px) {
	#site-entering-popup-content .m-popup-content, #site-leaving-popup-content .m-popup-content {
		width: var(--popup-width-mbl);
		margin: var(--popup-margin-button-close) auto;
	}
	#site-entering-popup-content .m-popup-content .text.a-text p.popup-agree-txt, #site-leaving-popup-content .m-popup-content .text.a-text p.popup-agree-txt {
		font-size: var(--popup-font-size-m);
		line-height: var(--popup-line-height-m);
	}
	#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list li, #site-leaving-popup-content .m-popup-content .text.a-text ul.popup-list li {
		font-size: var(--popup-font-size-s);
		padding: var(--space-zero-size);
		line-height: var(--popup-line-height-s);
	}
	#site-entering-popup-content .m-popup-content .text.a-text .cmp-text, #site-leaving-popup-content .m-popup-content .text.a-text .cmp-text {
		line-height: var(--popup-line-height-m);
		width: var(--page-width);
	}
	#site-entering-popup-content .m-popup-content .text.a-text , #site-leaving-popup-content .m-popup-content .text.a-text {
		padding: var(--popup-text-padding);
	}
	#site-leaving-popup-content .m-popup-content .button.link a.btn {
		padding: var(--popup-button-padding);
	}
	#site-entering-popup-content .m-popup-content .text.a-text ul.popup-list , #site-leaving-popup-content .m-popup-content .text.a-text ul.popup-list {
		padding-left: var(--popup-list-padding-left);
	}
	#site-entering-popup-content .m-popup-content .button.link a.btn{
		width: var(--popup-aggree-btn-width-mbl);
		padding: var(--popup-button-padding);
		text-align: center;
	}
}