.m-card {

  // style system to match 6.3 hover funtionality in cards
  &.m-card--honerlist-variation {
    .m-card-link {

      &:hover *,
      &:active *,
      &:focus * {
        color: @abbott-card-hover-blue  !important;
      }
    }
  }

  // style system to get featured-items variation
  &.m-card--variation-featured-items {
    .m-card__body {
      padding-left: 0px;
      padding-top: 13px;
      padding-right: 0;
      padding-bottom: 8px;
    }

    .m-card__image img {
      @media @md-down {
        height: 150px;
        width: 220px;
      }
    }

    &+.list-of-items-variation {
      .btn {
        .abt-icon {
          right: 0;

          @media @lg-only {
            right: 75px;
          }
        }
      }
    }
  }

  // Style system to have the image bottom and text above the image
  &.m-card--image-down {
    flex-direction: column-reverse;

    .m-card-link {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  // Style system to remove border for the card
  &.m-card--border-none::before {
    box-shadow: none;
    border: none;
  }

  // Style system to remove box-shadow for the card
  &.m-card--box-shadow-none::before {
    box-shadow: none;
  }

  // Style system to add border for the card
  &.m-card--show-border::before {
    --card-border: 1px solid @abbott-light-gray;
  }

  // Style sytem to align text to centre
  &.m-card--text-align--center {
    .m-card__body {
      text-align: center;
    }
  }

  // Style system to change the card title color
  &.m-card__title-white {
    --card-title-color: @white;
  }

  &.m-card__title-yellow {
    --card-title-color: @abbott-yellow;
  }

  &.m-card__title-dark-yellow {
    --card-title-color: @abbott-dark-yellow;
  }

  &.m-card__title-green {
    --card-title-color: @abbott-green;
  }

  &.m-card__title-dark-green {
    --card-title-color: @abbott-dark-green;
  }

  &.m-card__title-fuscia {
    --card-title-color: @abbott-fuscia;
  }

  &.m-card__title-dark-fuscia {
    --card-title-color: @abbott-dark-fuscia;
  }

  &.m-card__title-orange {
    --card-title-color: @abbott-orange;
  }

  &.m-card__title-medium-orange {
    --card-title-color: @abbott-medium-orange;
  }

  &.m-card__title-dark-orange {
    --card-title-color: @abbott-dark-orange;
  }

  &.m-card__title-cyan {
    --card-title-color: @abbott-cyan;
  }

  &.m-card__title-blue {
    --card-title-color: @abbott-blue;
  }

  &.m-card__title-gray {
    --card-title-color: @abbott-gray;
  }

  &.m-card__title-dark-grey {
    --card-title-color: @abbott-dark-gray;
  }

  &.m-card__title-light-grey {
    --card-title-color: @abbott-light-gray;
  }

  &.m-card__title-primary-black {
    --card-title-color: @black;
  }

  &.m-card__title-multitexticon-blue {
    --card-title-color: @abbott-multitexticon-blue;
  }

  &.m-card__title-dark-charcoal {
    --card-title-color: @abbott-dark-charcoal;
  }

  &.m-card__title-bastile {
    --card-title-color: @abbott-bastille;
  }

  &.m-card__title-primary-blue {
    --card-title-color: @abbott-primary-blue;
  }

  &.m-card__title-dark-tangerine {
    --card-title-color: @abbott-dark-tangerine;
  }

  // Style system to change the card description color
  &.m-card__description-white {
    --card-description-color: @white;
  }

  &.m-card__description-yellow {
    --card-description-color: @abbott-yellow;
  }

  &.m-card__description-dark-yellow {
    --card-description-color: @abbott-dark-yellow;
  }

  &.m-card__description-green {
    --card-description-color: @abbott-green;
  }

  &.m-card__description-dark-green {
    --card-description-color: @abbott-dark-green;
  }

  &.m-card__description-fuscia {
    --card-description-color: @abbott-fuscia;
  }

  &.m-card__description-dark-fuscia {
    --card-description-color: @abbott-dark-fuscia;
  }

  &.m-card__description-orange {
    --card-description-color: @abbott-orange;
  }

  &.m-card__description-medium-orange {
    --card-description-color: @abbott-medium-orange;
  }

  &.m-card__description-dark-orange {
    --card-description-color: @abbott-dark-orange;
  }

  &.m-card__description-cyan {
    --card-description-color: @abbott-cyan;
  }

  &.m-card__description-blue {
    --card-description-color: @abbott-blue;
  }

  &.m-card__description-gray {
    --card-description-color: @abbott-gray;
  }

  &.m-card__description-dark-grey {
    --card-description-color: @abbott-dark-gray;
  }

  &.m-card__description-light-grey {
    --card-description-color: @abbott-light-gray;
  }

  &.m-card__description-primary-black {
    --card-description-color: @black;
  }

  &.m-card__description-multitexticon-blue {
    --card-description-color: @abbott-multitexticon-blue;
  }

  &.m-card__description-dark-charcoal {
    --card-description-color: @abbott-dark-charcoal;
  }

  &.m-card__description-bastile {
    --card-description-color: @abbott-bastille;
  }

  &.m-card__description-primary-blue {
    --card-description-color: @abbott-primary-blue;
  }

  // Style system for multitexticon component
  &.m-card-variation--multitexticon {

    //style system to add img left in mobile view
    &.mob-img--left {
      &.mob-multitexticon-unset-display {
        display: unset !important;
      }

      --card-media-height-mobile: 120px;

      .m-card__media {
        --card-media-height: 120px;
      }

      .m-card__body {
        @media @lg-up {
          --card-body-padding: 5px 0 0 0;
          min-height: 180px;
        }
      }

      &:not(.m-card-link),
      .m-card-link {
        @media @md-down {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: center;

          .m-card__media {
            width: 20%;

            .m-card__image .cmp-image__image {
              width: 100%;
            }
          }

          .m-card__body {
            padding: 8px 0 0 13px;
            width: 80%;
            word-wrap: break-word;

            .m-card__title,
            .m-card__title * {
              text-align: left !important;
            }

            .m-card__description,
            .m-card__description * {
              text-align: left !important;
            }
          }
        }

        //Style system for m-card tablet view
        .m-card__body .m-card__title {
          @media @lg-down {

            &,
            & *,
            &+h1,
            &+h2,
            &+h3,
            &+h4,
            &+h5,
            &+h6,
            &+p {
              font-family: @font-brandon-grotesque-bold  !important;
              text-transform: uppercase;
              margin: 0;
              line-height: 18px;

              html[lang*="cn"] &,
              html[lang*="ja"] &,
              html[lang*="vi"] & {
                font-family: @font-brandon-bold  !important;
              }
            }
          }
        }
      }
    }

    //to bring image right and description side by side on mobile view
    &.mob-img--right {
      --card-media-height-mobile: 120px;
      padding-right: 8px;

      .m-card__media {
        --card-media-height: 120px;
      }

      .m-card__body {
        @media @lg-up {
          --card-body-padding: 5px 0 0 0;
          min-height: 180px;
        }
      }

      .m-card-link {
        @media @md-down {
          align-items: center;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;

          .m-card__media {
            width: 20%;

            .m-card__image .cmp-image__image {
              width: 100%;
            }
          }

          .m-card__body {
            padding: 16px 8px 0 0;
            width: 80%;
            word-wrap: break-word;

            .m-card__title,
            .m-card__title * {
              text-align: right !important;
            }

            .m-card__description * {
              text-align: right !important;
            }
          }
        }
      }
    }
  }

  // Font style changes for featureitem component
  &.m-card--featureitem-font {
    .m-card__body {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-family: @font-georgia  !important;
      }
    }
  }

  // Font style changes for featureditem component
  &.m-card--featureditem {
    .m-card-link {
      .m-card__title {

        &,
        &~h1,
        &~h2,
        &~h3,
        &~h4,
        &~h5,
        &~h6,
        &~p {
          color: @abbott-link-default-color;
        }
      }

      &:hover {
        .m-card__title {

          &,
          &~h1,
          &~h2,
          &~h3,
          &~h4,
          &~h5,
          &~h6,
          &~p {
            color: @abbott-link-hover-color;
          }
        }
      }
    }

    .m-card__body {
      .m-card__title {

        &,
        &~h1,
        &~h2,
        &~h3,
        &~h4,
        &~h5,
        &~h6,
        &~p,
        & * {
          font-family: @font-microsoft-ya-hei  !important;
          font-weight: 700;
        }
      }
    }

    .m-card__body .m-card__description * {
      font-family: @font-georgia;
    }

    .m-card__media {
      --card-media-height: 160px;

      @media @lg-only {
        --card-media-height: 60px !important;

        .cmp-image__image {
          object-fit: fill !important;
          width: 135px !important;
          height: 100%;
        }
      }

      .cmp-image__image {
        object-fit: fill;
        width: 220px;
        height: 100%;
      }
    }
  }

  // Style system for Executive variation
  &.m-card-variation--executive {
    min-height: 330px;

    &::before {
      border: 1px solid @abbott-light-gray;
      border-radius: 0;
      box-shadow: none;
    }
  }

  //font style for productimagepanel
  &.card-productimage-font {
    .m-card__body {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: @font-brandon-grotesque-bold;
        font-size: @font-size-base * 0.93;
      }

      .m-card__description p {
        font-family: @font-georgia;
        font-size: @font-size-base * 0.8;
      }
    }
  }

  // Font styles for listofreports component
  &.m-card--listofreports-font {
    .m-card__body {
      justify-content: center;

      & *,
      .m-card__title {
        font-family: @font-brandon-grotesque-bold;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
      }
    }

    &.m-card--horizontal .m-card__media {
      --card-horizontal-media-height: 150px;

      @media @md-down {
        --card-horizontal-media-width-mobile: 170px;
      }

      .m-card__image {
        .cmp-image__image {
          border: 1px solid @abbott-silver;
          height: 100%;

          @media @md-down {
            height: 150px;
          }
        }
      }
    }
  }

  // Style system for no media
  &.card--no-media {
    .m-card__media {
      display: none;
    }
  }

  // Style system for no media in mobile viewport
  &.card-mob--no-media {
    .m-card__media {
      @media @md-down {
        display: none;
      }
    }

    .m-card__body {
      padding: 0 !important;
      width: 100% !important;
    }
  }

  // Style system for card width to be 100& in tablet viewport
  &.card-lg--full-width {
    @media @lg-only {
      width: 100% !important;
    }
  }

  // Style system for Social Media component variation
  &.card--social-links {
    background-color: @white;
    height: auto !important;
    margin: 0;
    width: 100%;

    @media @md-up {
      border-bottom: 1px solid @abbott-silver;
    }

    .m-card__media {
      height: 80px;
    }

    .m-card__body {
      padding: 0;

      .m-card__title {
        color: @abbott-bastille;
        line-height: 1.125em;
        --font-family: @font-georgia;
      }

      .m-card__description {

        &,
        & * {
          color: @abbott-bastille;
          text-transform: uppercase;
          --font-family: @font-brandon-grotesque-bold;
        }
      }
    }
  }

  //style system to achieve External news panel
  &.card--external-news-panel {
    --card-width: 100%;

    .m-card-link {
      &:hover {
        background-color: @abbott-light-gray-hover;
      }

      .m-card__body {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;

        .m-card__title {
          font-size: @font-size-base * 0.9;
          color: @abbott-bastille;
          font-family: @font-georgia;
          font-weight: normal !important;
        }

        .m-card__description p {
          color: @abbott-silver;
          font-family: @font-georgia;
          font-size: @font-size-base * 0.9;
          margin-top: -5px;
        }
      }
    }
  }

  // Font style changes for featurelist component
  &.m-card--featurelist-font {
    .m-card__body .m-card__title {
      font-family: @font-georgia  !important;
      font-size: @font-size-20  !important;
      font-weight: 500;
    }

    .m-card__body .m-card__description {
      p {
        font-family: @font-georgia;
        font-size: @font-size-14;
      }
    }
  }

  //Styles for removing extra padding
  &.m-card--remove-padding {
    .m-card__body {
      padding: 0;
    }

    .nonclickablelink {
      display: none;
    }
  }

  //font variations for title of card component - starts here
  &.m-card-title--font-bold {

    .m-card__body .m-card__title,
    .m-card__body .m-card__title *,
    .m-card__body .m-card__title+h1,
    .m-card__body .m-card__title+h2,
    .m-card__body .m-card__title+h3,
    .m-card__body .m-card__title+h4,
    .m-card__body .m-card__title+h5,
    .m-card__body .m-card__title+h6 {
      .font--bold();
    }
  }

  &.m-card-title--font-medium {

    .m-card__body .m-card__title,
    .m-card__body .m-card__title *,
    .m-card__body .m-card__title+h1,
    .m-card__body .m-card__title+h2,
    .m-card__body .m-card__title+h3,
    .m-card__body .m-card__title+h4,
    .m-card__body .m-card__title+h5,
    .m-card__body .m-card__title+h6 {
      .font--medium();
    }
  }

  &.m-card-title--font-black {

    .m-card__body .m-card__title,
    .m-card__body .m-card__title *,
    .m-card__body .m-card__title+h1,
    .m-card__body .m-card__title+h2,
    .m-card__body .m-card__title+h3,
    .m-card__body .m-card__title+h4,
    .m-card__body .m-card__title+h5,
    .m-card__body .m-card__title+h6 {
      .font--black();
    }
  }

  &.m-card-title--font-regular {

    .m-card__body .m-card__title,
    .m-card__body .m-card__title *,
    .m-card__body .m-card__title+h1,
    .m-card__body .m-card__title+h2,
    .m-card__body .m-card__title+h3,
    .m-card__body .m-card__title+h4,
    .m-card__body .m-card__title+h5,
    .m-card__body .m-card__title+h6 {
      .font--regular();
    }
  }

  &.m-card-title--font-thin {

    .m-card__body .m-card__title,
    .m-card__body .m-card__title *,
    .m-card__body .m-card__title+h1,
    .m-card__body .m-card__title+h2,
    .m-card__body .m-card__title+h3,
    .m-card__body .m-card__title+h4,
    .m-card__body .m-card__title+h5,
    .m-card__body .m-card__title+h6 {
      .font--thin();
    }
  }

  &.m-card-title--font-italic {

    .m-card__body .m-card__title,
    .m-card__body .m-card__title *,
    .m-card__body .m-card__title+h1,
    .m-card__body .m-card__title+h2,
    .m-card__body .m-card__title+h3,
    .m-card__body .m-card__title+h4,
    .m-card__body .m-card__title+h5,
    .m-card__body .m-card__title+h6 {
      .font--italic();
    }
  }

  //font variations for title of card component - ends here

  //font variations for description of card component - starts here

  &.m-card-description--font-bold {

    .m-card__body .m-card__description,
    .m-card__body .m-card__description * {
      .font--bold();
    }
  }

  &.m-card-description--font-medium {

    .m-card__body .m-card__description,
    .m-card__body .m-card__description * {
      .font--medium();
    }
  }

  &.m-card-description--font-black {

    .m-card__body .m-card__description,
    .m-card__body .m-card__description * {
      .font--black();
    }
  }

  &.m-card-description--font-regular {

    .m-card__body .m-card__description,
    .m-card__body .m-card__description * {
      .font--regular();
    }
  }

  &.m-card-description--font-thin {

    .m-card__body .m-card__description,
    .m-card__body .m-card__description * {
      .font--thin();
    }
  }

  &.m-card-description--font-italic {

    .m-card__body .m-card__description,
    .m-card__body .m-card__description * {
      .font--italic();
    }
  }

  //font variations for description of card component - ends here

  //font families for title of card component - starts here
  &.m-card-title--font-arial {
    --card-title-font-family: @font-arial;
  }

  &.m-card-title--font-brandon-grotesque-medium {
    --card-title-font-family: @font-brandon-grotesque-medium;
  }

  &.m-card-title--font-brandon-grotesque-black {
    --card-title-font-family: @font-brandon-grotesque-black;
  }

  &.m-card-title--font-brandon-grotesque-regular {
    --card-title-font-family: @font-brandon-grotesque-regular;
  }

  &.m-card-title--font-brandon-grotesque-bold {
    --card-title-font-family: @font-brandon-grotesque-bold;
  }

  &.m-card-title--font-georgia {
    --card-title-font-family: @font-georgia;
  }

  &.m-card-title--font-meiryo {
    --card-title-font-family: @font-meiryo;
  }

  &.m-card-title--font-segoe-ui {
    --card-title-font-family: @font-segoe-ui;
  }

  &.m-card-title--font-times-new-roman {
    --card-title-font-family: @font-times-new-roman;
  }

  &.m-card-title--font-extazy-black {
    --card-title-font-family: @font-extazy-black;
  }

  &.m-card-title--font-extazy-bold {
    --card-title-font-family: @font-extazy-bold;
  }

  &.m-card-title--font-extazy-light {
    --card-title-font-family: @font-extazy-light;
  }

  &.m-card-title--font-extazy-regular {
    --card-title-font-family: @font-extazy-regular;
  }

  &.m-card-title--font-microsoft-ya-hei {
    --card-title-font-family: @font-microsoft-ya-hei;
  }

  &.m-card-title--font-calibri {
    --card-title-font-family: @font-calibri;
  }

  &.m-card-title--font-mercury-text-g1-roman {
    --card-title-font-family: @font-mercury-text-g1-roman;
  }

  &.m-card-title--font-Helvetica-neue {
    --card-title-font-family: @font-helvetica-neue;
  }

  &.m-card-title--font-hiragino-mincho-pron {
    --card-title-font-family: @font-hiragino-mincho-pron;
  }

  &.m-card-title--font-malgun-gothic-w35-regular {
    --card-title-font-family: @font-malgun-gothic-w35-regular;
  }

  &.m-card-title--font-brandon-medium {
    --card-title-font-family: @font-brandon-medium;
  }

  &.m-card-title--font-brandon-bold {
    --card-title-font-family: @font-brandon-bold;
  }

  &.m-card-title--font-brandon-regular {
    --card-title-font-family: @font-brandon-regular;
  }

  //font families for title for card component - ends here

  //font families for description for card component - starts here
  &.m-card-description--font-arial {
    --card-description-font-family: @font-arial;
  }

  &.m-card-description--font-brandon-grotesque-medium {
    --card-description-font-family: @font-brandon-grotesque-medium;
  }

  &.m-card-description--font-brandon-grotesque-black {
    --card-description-font-family: @font-brandon-grotesque-black;
  }

  &.m-card-description--font-brandon-grotesque-regular {
    --card-description-font-family: @font-brandon-grotesque-regular;
  }

  &.m-card-description--font-brandon-grotesque-bold {
    --card-description-font-family: @font-brandon-grotesque-bold;
  }

  &.m-card-description--font-georgia {
    --card-description-font-family: @font-georgia;
  }

  &.m-card-description--font-meiryo {
    --card-description-font-family: @font-meiryo;
  }

  &.m-card-description--font-segoe-ui {
    --card-description-font-family: @font-segoe-ui;
  }

  &.m-card-description--font-times-new-roman {
    --card-description-font-family: @font-times-new-roman;
  }

  &.m-card-description--font-extazy-black {
    --card-description-font-family: @font-extazy-black;
  }

  &.m-card-description--font-extazy-bold {
    --card-description-font-family: @font-extazy-bold;
  }

  &.m-card-description--font-extazy-light {
    --card-description-font-family: @font-extazy-light;
  }

  &.m-card-description--font-extazy-regular {
    --card-description-font-family: @font-extazy-regular;
  }

  &.m-card-description--font-microsoft-ya-hei {
    --card-description-font-family: @font-microsoft-ya-hei;
  }

  &.m-card-description--font-calibri {
    --card-description-font-family: @font-calibri;
  }

  &.m-card-description--font-mercury-text-g1-roman {
    --card-description-font-family: @font-mercury-text-g1-roman;
  }

  &.m-card-description--font-Helvetica-neue {
    --card-description-font-family: @font-helvetica-neue;
  }

  &.m-card-description--font-hiragino-mincho-pron {
    --card-description-font-family: @font-hiragino-mincho-pron;
  }

  &.m-card-description--font-malgun-gothic-w35-regular {
    --card-description-font-family: @font-malgun-gothic-w35-regular;
  }

  &.m-card-description--font-brandon-medium {
    --card-description-font-family: @font-brandon-medium;
  }

  &.m-card-description--font-brandon-bold {
    --card-description-font-family: @font-brandon-bold;
  }

  &.m-card-description--font-brandon-regular {
    --card-description-font-family: @font-brandon-regular;
  }

  //font families for description for card component - ends here

  &.m-card-bg-hover--light-gray {
    .m-card-link:hover {
      background-color: @abbott-light-gray-hover;
    }
  }

  &.m-card-bg-hover--video-popup-gray {
    .m-card-link:hover {
      background-color: @abbott-mega-menu-arrow-color;
    }
  }

  // style system to match pull quotes look and feel
  &.m-card-pull-quotes {
    --card-media-height: 110px;
    display: flex !important;
    flex-direction: row;
    width: 100%;

    .m-card__media {
      flex: 0 0 25%;

      @media @md-down {
        flex: 0 0 22%;
        --card-media-height-mobile: 80px;
      }

      @media @xxl-only {
        flex: 0 0 23%;
      }

      .cmp-image {
        align-items: start;
        justify-content: left;
      }
    }

    .m-card__body {
      @media @xxl-only {
        flex: 0 0 70%;
      }

      --card-body-padding: 0;

      @media @lg-only {
        --card-body-padding: 0 0 0 12px;
      }

      @media @md-down {
        --card-body-padding: 0 0 0 8px;
      }

      & * {
        margin: 0;
      }
    }
  }

  &.card--video-popup {
    --card-border: 1px solid @abbott-silver;
    --card-border-radius: 0;
    --card-box-shadow: 0;
    --card-media-border-radius: 0;
    margin-bottom: 20px;
    margin-top: 0;

    &:hover .m-card-link {
      background-color: @abbott-mega-menu-arrow-color;

      .m-card__media {
        background-color: unset;
      }
    }

    .m-card-link {
      @media @md-up {
        height: 100%;
      }

      .m-card__media {
        .toggle-overlay .hover-text {
          font-family: @font-brandon-grotesque-bold;
          font-weight: 700;
        }
      }

      .nonClickableLink {
        display: none;
      }
    }

    @media @md-down {
      width: 100%;

      .m-card-link {
        display: flex;
        flex-direction: row-reverse;

        .m-card__media {
          border-radius: 0;
          height: auto;
          min-height: 90px;
          width: 30%;

          .abt-icon {
            display: none;
          }
        }

        .m-card__body {
          width: 70%;
          padding-bottom: 0;

          .m-card__title {
            margin-bottom: 0;
            font-size: 0.875em;
          }

          .m-card__description {
            display: none;
          }
        }
      }
    }
  }

  // Style system for product related information panel look and feel
  &.card-variation--product-related-info-panel {
    --card-border: 0;
    --card-border-radius: 0;
    --card-box-shadow: 0;
    --card-media-border-radius: 0;
    margin-bottom: 20px;
    margin-top: 0;

    .m-card-link {
      .m-card__media {
        .toggle-overlay {
          .hover-text {
            font-family: @font-brandon-grotesque-bold;
            font-weight: 700;
          }

          .story-overlay {
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }

      .nonClickableLink {
        display: none;
      }
    }

    @media @md-down {
      border-bottom: 1px solid @abbott-pantone-cool-grey;
      width: 100%;
      padding: 10px 0;

      .m-card-link {
        display: flex;
        flex-direction: row-reverse;

        .m-card__media {
          border-radius: 0;
          height: auto;
          min-height: 90px;
          width: 30%;

          .m-card__wrap .toggle-overlay .abt-icon {
            --card-icon-color: @abbot-shaded-gray;
          }
        }

        .m-card__body {
          width: 70%;
          padding-bottom: 0;

          .m-card__title {
            margin-bottom: 0;
            font-size: 0.875em;
          }

          .m-card__description {
            display: none;
          }
        }
      }
    }
  }

  //style system added for card image variation
  &.card--image--variation {
    --card-border: 1px solid @abbott-light-gray;
    --card-border-radius: 0;
    --card-media-border-radius: 0;
    margin-bottom: 30px !important;
    margin-top: 0 !important;

    @media @lg-only {
      width: auto;

      .cmp-image__image {
        height: auto;
      }
    }

    .m-card__body {
      padding-bottom: 16px;

      .m-card__title {
        margin-bottom: 0;
        margin-top: 5px;
        color: @abbott-medium-blue;
      }

      .m-card__description {
        display: none;
      }
    }
  }
}