/**********************************
column-controller Component
**********************************/

//mixin to hide display of the vertical line none on mobile view
.mobile {
    @media @sm-down {
        display: none;
    }
}

//mixin to show the display of line in ipad view
.ipadview {
    @media @lg-down {
        display: block !important;
    }
}

.columncontrol {

    //style system to reverse the columns in mobile view
    &.mob-column-reverse {
        @media @md-down {
            .row {
                flex-direction: column-reverse !important;
            }
        }
    }

    // to reverse column in mobile view for social-media
    &.col-reverse-mob {
        @media @md-down {
            .container {
                .row {
                    flex-direction: column-reverse;
                }
            }
        }

        .columncontrol__column {
            padding-right: 0 !important;
        }
    }

    // Style system to have 15px of spacing between columns
    &.column-spacing--15 {
        .row .columncontrol__column {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }

    // Style system to have 7px of spacing between columns
    &.column-spacing--7 {
        .row .columncontrol__column {
            padding-left: 3.5px;
            padding-right: 3.5px;
        }
    }

    // Style system to have 10px of spacing between columns in desktop
    &.column-spacing--10 {
        .row .columncontrol__column {
            @media @lg-up {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    // Style system no spacing between columns
    &.column-spacing--0 {
        .row .columncontrol__column {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Style system to have 7px of spacing between columns in mobile
    &.column-mob-spacing--7 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 7px !important;
            }
        }
    }

    // Style system to have 15px of spacing between columns in mobile
    &.column-mob-spacing--15 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 15px !important;
            }
        }
    }

    // Style system to have no spacing between columns in mobile
    &.column-mob-spacing--0 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 0 !important;
            }
        }
    }

    // Style system to remove spacing for columns in tablet
    &.column-tablet-spacing--0 {
        .row .columncontrol__column {
            @media @lg-only {
                margin-bottom: 0 !important;
            }
        }
    }

    //style system to remove bottom space for mobile
    &.column-mob-remove--bottom-spacing {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 0 !important;
            }
        }
    }

    //style system to remove top space for mobile
    &.column-mob-remove--top-spacing {
        .row .columncontrol__column {
            @media @md-down {
                margin-top: 0 !important;
            }
        }
    }

    //style system to remove left padding
    &.column-remove-mob--left-spacing {
        @media @md-down {
            &+.container {
                padding-left: 0;
            }

            .columncontrol__column {
                padding-left: 0;
            }
        }
    }

    //style system to remove right padding
    &.column-remove-mob--right-spacing {
        @media @md-down {
            &+.container {
                padding-right: 0;
            }

            .columncontrol__column {
                padding-right: 0;
            }
        }
    }

    //style system to remove left padding
    &.column-remove--left-spacing {
        @media @md-up {
            &+.container {
                padding-left: 0;
            }

            .columncontrol__column {
                padding-left: 0 !important;
            }
        }
    }

    //style system to remove right padding
    &.column-remove--right-spacing {
        @media @md-up {
            &+.container {
                padding-right: 0;
            }

            .columncontrol__column {
                padding-right: 0 !important;
            }
        }
    }

    //Style system to remove spacing around
    &.column-remove--around-spacing {
        @media @md-up {
            &>.container {
                padding-left: 0;
                padding-right: 0;

                &>.row>.columncontrol__column {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }


    //style system to add spacing between columns for ipad view
    &.column-ipad-spacing--25px {
        .columncontrol__column {
            @media @lg-only {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }

    // Style system to middle align the components in each column
    &.column-align-content--middle {
        .columncontrol__column {
            margin-bottom: auto;
            margin-top: auto;
        }
    }

    // Style system to bottom align the components in each column
    &.column-align-content--bottom {
        .columncontrol__column {
            margin-bottom: 0;
            margin-top: auto;
        }
    }

    // Style system to have fluid container in mobile
    &.column-mob-fluid-container {
        &+.container {
            @media @md-down {
                max-width: 100%;
            }
        }
    }

    // Style system to have two column layout in mobile viewports
    &.column-mob-col-6 {
        .columncontrol__column.col-12 {
            @media @md-down {
                flex: 0 0 50%;
            }
        }
    }

    //style system for de-contact-us form tablet full width
    &.columncontrol--tablet-full-width {
        >.container>.row>.columncontrol__column {
            @media @lg-only {

                flex: 0 0 100%;
                max-width: 100%;

            }
        }

    }

    //column control margin 
    &.columncontrol--margin-right-30-percent-lg {

        @media @lg-up {
            margin-right: 30%;
        }
    }

    &.columncontrol--margin-right-20-percent-md {

        @media @lg-only {
            margin-right: 20%;
        }
    }

    //* abbott core card style starts from here *//

    &.column-control--corp-card-style {
        .container {
            max-width: 100%;
        }

        .row {
            .columncontrol__column {
                display: flex;
                flex-wrap: wrap;

                /* adjust the total size of the article-card */
                article.m-card {
                    height: auto !important;
                    background: @abbott-card-bg-light-gray;
                    box-shadow: 10px 10px 15px;
                    border-radius: 10px;
                    border: 2px solid @abbott-primary-blue;
                    margin: 5px !important;
                    padding: 10px;

                    @media (max-width: 1920px) {
                        width: 19.1% !important;
                    }

                    @media (max-width: 1600px) {
                        width: 24.1% !important;
                    }

                    @media (min-width: 1261px) and (max-width: 1285px) {
                        width: 32.5% !important;
                    }

                    @media (max-width: 1260px) {
                        width: 32.2% !important;
                    }

                    @media (max-width: 994px) {
                        width: 48.3% !important;
                    }

                    /* @media (max-width: 669px) */
                    @media (max-width: 669px) {
                        width: 100% !important;
                    }

                    width: 32.5% !important;

                    .m-card__body {
                        .m-card__title {
                            font-size: @font-size-14  !important;
                            line-height: 1.2em;
                            font-weight: 700;
                        }

                        .m-card__description {
                            p {
                                font-size: @font-size-14;
                                line-height: 1.2em;
                            }

                            a {
                                color: @abbott-card-link-blue;
                                text-decoration: underline !important;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .options {
        &.dropdown-style-variation1 {
            width: fit-content;
            margin-top: 5px !important;

            .drop-down {
                min-width: 120px;

                @media @md-down {
                    padding-left: 1rem;
                }
            }

            .a-dropdown__field {
                height: 34px;
                min-height: unset;
                padding-top: 6px;

            }

            .a-dropdown__field.active {
                border-color: @black;
            }

            .a-dropdown__field .a-dropdown__menu li {
                border-bottom: 0px;
            }

            .a-dropdown__field.active .a-dropdown__menu {
                border: 1px solid;
            }

            .a-dropdown__field .a-dropdown__menu li:hover {
                background-color: @abbott-primary-blue;
            }

            .a-dropdown__field .a-dropdown__menu li span {
                padding: .2rem;
            }

        }

    }


    /*  COLUMN CONTROL LOGIN FORM */
    &.columncontrol.column-control--corp-user-login {
        margin-top: 25px !important;

        .container {
            width: 100%;
            max-width: 100%;
            margin-left: 0px;
            margin-right: 0px;

            .row {

                .columncontrol__column:nth-child(1),
                .columncontrol__column:nth-child(3) {
                    padding: 0px;

                    @media (max-width: 1024px) {
                        flex: 0 0 17%;
                        max-width: 17%;
                    }

                    @media (max-width: 767px) {
                        flex: 0 0 0%;
                        max-width: 0%;
                    }
                }

                .columncontrol__column:nth-child(2) {
                    @media (max-width: 1024px) {
                        flex: 0 0 65%;
                        max-width: 65%;
                    }

                    @media (max-width: 767px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }

                    .button.link.button-variation-1 {
                        margin-top: 0px;
                        text-align: center;
                        padding-left: 10px;

                        @media (max-width: 1024px) {
                            padding: 0px;
                        }

                        @media (max-width: 767px) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        @media (max-width: 375px) {
                            padding-right: 25px;
                            padding-left: 25px
                        }

                        .btn {
                            padding: 13px 15px 7px 15px;
                            margin: 10px auto;

                            span {
                                font-size: 1.125rem;
                                line-height: 1;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                    }

                    .text.text--core-text-login {
                        height: 23px;
                        padding-top: 6px;

                        @media (max-width: 767px) {
                            height: auto;
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        .cmp-text {
                            p {
                                text-align: center;
                                font-size: @font-size-18;
                                color: @abbott-dark-charcoal;
                                margin-bottom: 0px;
                                line-height: 25px;

                                @media (max-width: 767px) {
                                    line-height: 24px;
                                }
                            }
                        }
                    }

                    .text.a-text--or-on-center {
                        margin-bottom: 0px;
                        padding-bottom: 40px;
                        padding-left: 144px;
                        padding-right: 142px;


                        @media (max-width: 1024px) {
                            padding-left: 100px;
                            padding-right: 100px;
                        }

                        @media (max-width: 800px) {
                            padding-left: 85px;
                            padding-right: 85px;
                        }

                        @media (max-width: 767px) {
                            min-width: 350px;
                            width: 350px;
                            margin: auto;
                            padding-left: 0px;
                            padding-right: 0px;
                        }

                        @media (max-width: 375px) {
                            padding-right: 25px;
                            padding-left: 25px
                        }
                    }

                    .logo.link.button {
                        text-align: center;
                        margin-bottom: 20px;

                        .a-logo-comp {
                            img.a-logo-comp--image {
                                max-height: unset;
                                padding-left: 15px;

                                @media (max-width: 1024px) {
                                    padding-left: 0px;
                                }

                                @media (min-width: 1900px) {
                                    padding-left: 0px;
                                }
                            }
                        }
                    }

                    .formcontainer {
                        margin-top: 49px !important;
                        padding-right: 100px;

                        @media (max-width: 1024px) {
                            padding-right: 0px;
                        }

                        @media (min-width: 1380px) and (max-width: 1920px) {
                            padding-right: 0px;
                        }

                        .o-form-container__element {
                            form.o-form-container__main-form {
                                .form-container {
                                    @media (max-width: 1024px) {
                                        padding-left: 15px;
                                        padding-right: 15px;

                                    }

                                    @media (max-width: 767px) {
                                        padding-left: 10px;
                                        padding-right: 10px;
                                    }

                                    @media (max-width: 612px) {
                                        padding-left: 5px;
                                        padding-right: 5px;
                                    }

                                    .fields.text {
                                        .a-input-field {
                                            .form-group {
                                                display: flex;
                                                flex-wrap: wrap;

                                                @media (max-width: 1024px) {
                                                    flex-direction: column;
                                                }

                                                label.form-label {
                                                    width: 31%;
                                                    margin: 6px 0;
                                                    float: left;
                                                    padding-right: 15px;
                                                    padding-left: 15px;
                                                    margin-right: 10px;
                                                    text-align: right;
                                                    color: @abbott-dark-charcoal;
                                                    font-weight: bold;
                                                    font-size: @font-size-17 !important;

                                                    @media (max-width: 1024px) {
                                                        text-align: left;
                                                    }
                                                }

                                                .a-input-field--text-error,
                                                .a-input-field--text-require {
                                                    width: 100%;
                                                    padding-left: 215px;

                                                    @media (max-width: 1920px) {
                                                        padding-left: 318px;
                                                    }

                                                    @media (max-width: 1366px) {
                                                        padding-left: 215px;
                                                    }

                                                    @media (max-width: 1080px) {
                                                        padding-left: 190px;
                                                    }

                                                    @media (max-width: 1024px) {
                                                        padding-left: 15px;
                                                    }
                                                }

                                                .a-input-grp {
                                                    width: 59%;
                                                    float: left;
                                                    position: relative;
                                                    min-height: 1px;
                                                    padding-right: 15px;
                                                    padding-left: 15px;

                                                    @media (max-width: 1024px) {
                                                        width: 100%;
                                                    }

                                                    input.a-input-control {
                                                        border: 1px solid red;
                                                        margin: 0 0.1em;
                                                        border-radius: 5px;
                                                        width: 16px;
                                                        height: 32px;
                                                        padding: 0px;
                                                        font-size: @font-size-17;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .fields.text:nth-child(1) {
                                        .a-input-field {
                                            margin-bottom: 0px;

                                            .form-group {
                                                margin-bottom: 8px;
                                            }
                                        }
                                    }

                                    .fields.text:nth-child(2) {
                                        .a-input-field {
                                            margin-bottom: 0px;

                                            .form-group {
                                                margin-bottom: 0px;
                                            }
                                        }
                                    }

                                    .text {
                                        .cmp-text {
                                            p {
                                                text-align: left !important;
                                                padding-left: 36%;
                                                margin-bottom: 0px;

                                                @media (max-width: 1024px) {
                                                    padding-left: 15px;
                                                }

                                                a {
                                                    color: @abbott-core-link;
                                                    font-family: @font-georgia;
                                                    text-decoration: underline !important;

                                                    u {
                                                        color: @abbott-core-link;
                                                        font-family: @font-georgia;
                                                        text-decoration: underline !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .o-form-container__buttons {
                                justify-content: center !important;
                                padding-left: 19%;

                                @media (max-width: 1024px) {
                                    flex-direction: row;
                                    padding-left: 0px;
                                }

                                @media (max-width: 375px) {
                                    flex-direction: column;
                                }

                                .button.link.a-button {
                                    margin: 0 3px;

                                    button.btn {
                                        border: 0;
                                        min-width: 160px;
                                        font-size: @font-size-18;
                                        background-color: @abbott-primary-blue;
                                        color: @abbott-charcoal;
                                        text-transform: uppercase;
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 13px 15px 7px 15px;

                                        @media (max-width: 375px) {
                                            width: auto;
                                        }

                                        &:hover {
                                            box-shadow: unset;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.columncontrol--forgot-pwd-variation {
        .columncontrol__column {
            &:not(:nth-child(2)) {
                @media @md-down {
                    display: none;
                }
            }

            &:nth-child(2) {
                @media @md-up {
                    max-width: 600px;
                }

                @media @md-down {
                    max-width: 364px;
                    margin: auto;
                }

                .container:first-child {
                    border: 1px solid @abbott-silver;

                    p {
                        font-size: 1.3rem;
                        font-family: @font-brandon-grotesque-regular;
                        line-height: 1.25rem;

                        img {
                            width: 75px;
                            display: block;
                            margin: 0 auto 20px;
                        }

                        a {
                            color: @abbott-primary-blue  !important;
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            font-family: @font-georgia;
                            text-decoration: underline !important;
                        }
                    }
                }
            }
        }
    }

}