.formcontainer {
  &.showuserprofile-form {
    .o-form-container {
      .container {
        max-width: 100%;
        @media @md-down {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .fields.text,
      .options {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
      }

      .text:first-child {
        .cmp-text {
          padding-left: 15px;
          padding-right: 15px;
          @media @md-down {
            padding-left: 10px;
            padding-right: 10px;
          }
          p {
            color: @abbott-dark-charcoal;
            font-size: @font-size-14;
            font-family: @font-brandon-grotesque-regular;
            font-weight: 700;

            strong {
              color: @abbott-red;
            }
          }
        }
      }

      .title {
        padding-left: 15px;
        padding-right: 15px;
        @media @md-down {
          padding-left: 10px;
          padding-right: 10px;
        }
        .cmp-title {
          h1,
          h2 {
            color: @abbott-primary-blue;
            font-family: @font-brandon-grotesque-regular;
            font-size: @font-size-30;
            text-transform: uppercase;
            border: 0;
            padding: 0 15px 25px;
            margin-bottom: 10px;
            padding-left: 0;
          }
        }
      }

      .a-input-field {
        &[data-required="true"] {
          .a-input-label {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            font-weight: bold;
            color: @abbott-dark-charcoal;
            .a-input-field--required {
              color: @abbott-red;
              margin-right: 3px;
            }
          }
        }

        .input-group {
          &:has(.a-input-control[name="middleName"]),
          &:has(.a-input-control[name="zip"]),
          &:has(.a-input-control[name="yearsOfService"]) {
            width: 50%;
          }

          .a-input-control {
            --input-field-border: 1px solid @abbott-pantone-cool-grey;
            --input-field-height: 36px !important;
            border-radius: 3px;
            padding: 5px;

            &:focus {
              border: 2px solid @black !important;
            }
          }
        }
      }

      .o-form-container__element {
        .o-form-container__buttons {
          justify-content: center !important;
          margin-top: 20px;

          .button {
            .btn {
              margin-right: 3px;

              span {
                font-weight: 700;
                font-size: @font-size-18;
                line-height: 22px;
              }
            }

            @media @md-down {
              margin-right: 10px;
            }
          }

          @media @md-down {
            flex-direction: row;
          }
        }
      }
      .options:nth-child(2) {
        .a-checkbox {
          padding: 0px;
          .a-checkbox__label {
            padding-left: 28px;
            padding-right: 30px;
          }
        }
        .checkbox {
          .a-checkbox-label {
            font-weight: 700;
            color: @abbott-dark-charcoal;
            margin-top: 6px;
            margin-bottom: 6px;
          }
        }
      }

      .options {
        .drop-down[id^="retiree"] {
          .a-dropdown__title {
            background: @abbott-pastel-green;
            font-weight: bold;
            color: @black;
            display: inline-block;
            .a-dropdown__title-text {
              font-weight: bold;
              color: @black;
            }
          }

          .a-dropdown__field {
            @media @md-up {
              width: 75%;
            }

            background: @abbott-pastel-green;

            .a-dropdown__menu {
              li {
                background: @abbott-pastel-green;
              }
            }

            @media @lg-only {
              width: 350px;
            }
          }
        }

        .a-dropdown {
          margin-bottom: 0;

          .a-dropdown__field {
            --dropdown-field-border: 1px solid @abbott-pantone-cool-grey;
            --dropdown-field-border-radius: 3px;
            --dropdown-field-padding: 10px;
            --dropdown-field-height: 38px;
            height: 38px;

            .a-dropdown-selected {
              font-size: @font-size-13;
            }

            &::after {
              content: "\25BC" !important;
              color: @white;
              right: 0;
              height: 36px;
              padding: 7px 0 0 8px;
              position: absolute;
              pointer-events: none;
              background: @abbott-primary-blue;
              width: 34px;
              font-size: @font-size-13;
            }
          }

          .a-dropdown__field.active {
            border-color: @abbott-pantone-cool-grey;
            height: 38px;

            ul {
              li {
                height: 25px;
                border-bottom: none;

                span {
                  padding: 5px 5px 0 10px;
                  font-family: @font-brandon-grotesque-regular;
                  color: @abbott-charcoal;
                  font-size: @font-size-13;
                }

                &:hover {
                  background: @abbott-form-blue;
                  color: @white;
                }
              }
            }
          }
        }

        .checkbox {
          .a-checkbox {
            .a-checkbox__input:checked + .a-checkbox__custom {
              border: none !important;
            }

            .a-checkbox__custom {
              width: 1rem;
              height: 1rem;
              border-radius: 0.15rem;
              --checkbox-checked-bg: @abbott-checkbox-blue;

              &::after {
                width: 0.225rem;
              }
            }

            .a-checkbox__text {
              color: @abbott-dark-charcoal;
            }

            &.a-checkbox--horizontal {
              @media @md-down {
                width: 100%;
                margin-bottom: 0;
              }
            }
          }

          .a-checkbox-label {
            .a-checkbox__title-text {
              color: @abbott-dark-charcoal;
              font-weight: bold;
            }
          }
        }
      }

      .datepicker {
        margin-bottom: 0 !important;
        margin-top: 1rem !important;

        .a-date-picker__input-start {
          width: 100%;

          .a-input-field {
            max-width: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  // Add-retiree styles:
  &.form-container-add-retiree {
    position: relative;
    z-index: 1;
    @media @sm-down {
      padding-left: 15px;
    }

    .o-form-container__element {
      @media @lg-only {
        max-width: 60%;
        flex: 0 0 60%;
      }
    }

    .cmp-title__text {
      width: 100%;
      font-size: 25px;
      color: @abbott-primary-blue;
      text-transform: uppercase;
      border: 0;
      padding: 0;
      margin-top: 20px;
    }

    .columncontrol__column {
      @media @sm-down {
        margin: 5px 0px !important;
      }
    }

    .a-input-field {
      margin-bottom: 0px;

      .form-group {
        margin-bottom: 5px;

        .a-input-label {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          color: @abbott-dark-charcoal;
          font-weight: @font-brandon-grotesque-bold;
          font-size: 13px !important;
        }
      }
    }

    .container.a-container {
      margin: 15px 0px;
    }

    .columncontrol {
      margin-top: 0 !important;
      margin-bottom: 20px !important;
    }

    .component-margin-top--2rem {
      margin-top: 0 !important;
    }

    .responsivegrid .aem-Grid .container.a-container,
    .container {
      padding: 0 !important;
      position: relative;
      z-index: 999;
    }

    span.a-input-field--required {
      color: @abbott-red;
      margin-right: 3px;
      font-size: 18px;
      font-weight: bold;
    }

    .cmp-text > p {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;

      strong {
        color: @abbott-red;
      }
    }

    .input-group.a-input-grp {
      padding: 0 0 8px 2px;
    }

    .a-input-field .form-group .a-input-grp input.a-input-control {
      font-weight: normal;
      font-size: 13px;
      height: 35px;
      border-radius: 3px;
      border: 1px solid @abbott-pantone-cool-grey;
      line-height: 24px;
      margin-bottom: 3px;
      padding: 5px;
      z-index: 0;

      &:focus-visible {
        outline: 2px solid @abbott-devy-gray;
        border-radius: 3px;
        border: none;
      }
    }

    .o-form-container__buttons.justify-content-between {
      @media @sm-down {
        flex-direction: row;
      }

      justify-content: flex-start !important;

      .button.link {
        margin-top: 12px;

        button.btn {
          border: 0;
          min-width: 160px;
          font-size: 16px;
          border-radius: 5px;
          padding: 12px 10px 8px 10px;
          background-color: @abbott-primary-blue;
          color: @abbott-dark-charcoal;
          text-transform: uppercase;
          font-weight: bold;
          margin: 10px auto;

          &:hover {
            background-color: @abbott-charcoal;
            color: @abbott-primary-blue;
          }
        }
      }
    }

    .o-form-container__success-msg,
    .o-form-container__error-msg {
      display: none;
    }
    .a-dropdown__container {
      .a-dropdown__field {
        height: 37px;
        min-height: 37px;
        padding: 10px;
        border: 1px solid @abbott-pantone-cool-grey;
        cursor: pointer;
        width: 100px;
        border-radius: 3px;

        &:after {
          font-size: 10px;
          font-weight: bold;
        }

        li span {
          padding: 5px;
          width: 100%;
          text-align: center;
        }
        .a-dropdown__menu li {
          &.selected {
            background-color: @abbott-pacific-blue;

            span {
              color: @white;
            }
          }

          &:hover {
            background-color: @abbott-pacific-blue;
            cursor: pointer;

            > span {
              color: @white;
            }
          }
        }
      }
    }

    .o-form-container__main-form {
      .form-container {
        .fields.text {
          &.width-100 {
            width: 100px;
          }
        }
      }
    }
  }

  // Search-retiree styles:
  &.form-container-search-retiree {
    position: relative;
    z-index: 1;
    .o-form-container__wrapper {
      .o-form-container__outer {
        .container {
          .row {
            .o-form-container__element {
              .form-container {
                .title {
                  .cmp-title {
                    .cmp-title__text {
                      line-height: 3rem;
                    }
                  }
                }
                .fields.text {
                  .a-input-field {
                    .form-group.a-form-grp {
                      label.form-label.a-input-label {
                        font-weight: normal;
                      }
                    }
                  }
                }
              }
              .o-form-container__buttons.justify-content-end {
                justify-content: flex-start !important;
                margin-top: 15px;
                .button.link.button-variation-1 {
                  button {
                    &.disabled {
                      pointer-events: none;
                    }
                  }
                  span {
                    font-weight: bold;
                    font-size: 18px;
                    padding: 7px 15px;
                    padding-top: 10px;
                  }
                }
              }
              .o-form-container__success-msg,
              .o-form-container__error-msg {
                margin-top: 20px;
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // Blacklistbl-retiree styles:
  &.form-container-blacklist-retiree {
    @media @sm-down {
      padding-left: 0px !important;
    }
    .o-form-container__wrapper {
      .o-form-container__outer {
        .container {
          .row {
            .o-form-container__element {
              @media @lg-only {
                max-width: 70%;
                flex: 0 0 70%;
              }
              .form-container {
                .text {
                  .cmp-text {
                    h1,
                    h2 {
                      color: @abbott-primary-blue;
                      text-transform: uppercase;
                      border: 0;
                      font-size: 28px;
                      line-height: 4rem;
                      margin: 0;
                    }
                  }
                }
              }
              .o-form-container__buttons.justify-content-start {
                margin-top: 15px;
                @media @xs-only {
                  width: 160px;
                }
                .button.button-variation-1 {
                  button {
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //style system for forgotpw form
  &.form--forgot-pwd {
    margin-top: 1rem !important;

    .container {
      border: none !important;

      @media @lg-down {
        padding: 0;
      }

      .o-form-container__element {
        .o-form-container__buttons {
          justify-content: center !important;
          margin-top: 2rem;

          .button {
            .btn {
              margin-right: 3px;
              font-weight: 700;

              @media @md-down {
                min-width: 140px;
              }
            }

            @media @md-down {
              margin-right: 4px;
            }
          }

          @media @md-down {
            flex-direction: row;
          }
        }
      }

      .fields.text {
        .a-input-field {
          .form-group {
            &.validation-require {
              .a-input-control {
                border: 1px solid @abbott-pantone-cool-grey;
              }
            }

            .a-input-control {
              border: 1px solid @abbott-pantone-cool-grey;
              --input-field-height: 2.25rem;
              --input-field-border-radius: 2px;

              &:focus {
                border: 1px solid @black;
              }
            }

            @media @lg-up {
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              .form-label {
                width: 15%;
              }

              .input-group {
                width: 85%;
              }

              .a-input-field--text-error,
              .a-input-field--text-require {
                margin-left: 15%;
                font-family: @font-brandon-grotesque-regular;
                font-size: 1rem;

                .abt-icon {
                  display: none;
                }
              }
            }

            .form-label {
              color: @abbott-dark-charcoal;
              font-weight: 700;
              font-size: 1.375rem;
              font-family: @font-brandon-grotesque-regular;

              .a-input-field--required {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.form-container-activate-retiree {
    padding: 0;
    .o-form-container__wrapper {
      .container {
        margin: 15px 0;
        max-width: 615px;
        .o-form-container__element {
          .form-container {
            margin-bottom: 30px;
            .cmp-text {
              h1 {
                font-size: 28px;
                color: @abbott-primary-blue;
                text-transform: uppercase;
                line-height: 36px;
                margin-bottom: 15px;
              }
            }
            .a-input-field {
              .form-group {
                .a-input-label {
                  font-weight: normal;
                  color: @abbott-dark-charcoal;
                }
                .input-group {
                  padding: 0 0 8px 2px;
                  input {
                    &.a-input-control {
                      font-weight: normal;
                      font-size: 13px;
                      height: 35px;
                      border-radius: 3px;
                      border: 1px solid @abbott-pantone-cool-grey;
                      line-height: 24px;
                      margin-bottom: 3px;
                      padding: 5px;
                      z-index: 0;
                      &:focus {
                        border: 2px solid @black;
                      }
                    }
                  }
                }
              }
            }
          }
          .o-form-container__buttons {
            button {
              width: auto;
              &.disabled {
                pointer-events: none;
              }
              span {
                font-weight: bold;
              }
            }
          }
          .o-form-container__success-msg,
          .o-form-container__error-msg {
            display: none;
            margin-top: 20px;
          }
        }
      }
    }
  }

  &.form-container-registration-with-upi {
    padding: 0;
    margin: 40px 0 80px !important;
    .o-form-container__wrapper {
      .container {
        max-width: 100%;
        .o-form-container__element {
          .form-container {
            .text:nth-child(2) {
              .cmp-text {
                @media (max-width: 991px) {
                  padding-left: 10px;
                  padding-right: 10px;
                }
                p {
                  border-bottom: 1px solid @abbott-silver;
                  max-height: 26px;
                }
              }
            }
            .text:first-child {
              .cmp-text {
                padding-left: 15px;
                padding-right: 15px;
                @media (max-width: 991px) {
                  padding-left: 10px;
                  padding-right: 10px;
                }
                p,
                strong {
                  font-size: @font-size-14;
                }
                p:first-child {
                  line-height: 20px;
                  margin-bottom: 5px;
                  font-size: @font-size-14;
                  @media (max-width: 991px) {
                    margin-bottom: 10px;
                  }
                }
                p:nth-child(2) {
                  line-height: 20px;
                  margin-bottom: 30px;
                  font-size: @font-size-14;
                }
                p:nth-child(3) {
                  span.required {
                    color: @abbott-red;
                  }
                }
              }
            }

            .columncontrol {
              .container {
                .columncontrol__column:last-child {
                  .options:nth-child(8) {
                    .a-dropdown__field {
                      background-color: @abbott-pastel-green;

                      .a-dropdown__menu {
                        background-color: @abbott-pastel-green;
                      }
                    }

                    .a-dropdown__title {
                      background-color: @abbott-pastel-green;
                      display: inline-block;
                      .a-dropdown__title-text {
                        font-size: @font-size-15;
                        color: @abbott-dark-charcoal;
                      }
                    }
                  }
                }
                .columncontrol__column {
                  @media (max-width: 991px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 0px;
                  }
                  .fields.text {
                    padding-bottom: 10px;
                    margin: 0px;
                    border: none;
                  }
                  .options {
                    padding-bottom: 18px;
                    margin: 0px;
                  }
                }
              }
            }
            .a-input-field {
              margin: 0px;
              .form-group {
                margin-bottom: 0px;
                .a-input-label {
                  font-weight: normal;
                  color: @abbott-dark-charcoal;
                  display: flex;
                  flex-direction: row-reverse;
                  justify-content: start;
                  font-size: @font-size-15;
                  .a-input-field--required {
                    color: @abbott-red;
                  }
                }
                .input-group {
                  padding: 0 0 8px 2px;
                  input {
                    &.a-input-control {
                      font-weight: normal;
                      font-size: @font-size-13;
                      height: 35px;
                      border-radius: 3px;
                      border: 1px solid @abbott-pantone-cool-grey;
                      line-height: 24px;
                      margin-bottom: 3px;
                      padding: 5px;
                      z-index: 0;
                      &:focus {
                        border: 2px solid @black;
                      }
                    }
                  }
                }
              }
            }
            .options {
              .a-dropdown {
                margin-bottom: 0;
                .a-dropdown__title {
                  .a-dropdown__title--required {
                    color: @abbott-red;
                  }
                }
                .a-dropdown__field:after {
                  font-size: @font-size-10;
                  font-weight: 900;
                }
                .a-dropdown__field {
                  --dropdown-field-border: 1px solid @abbott-pantone-cool-grey;
                  --dropdown-field-border-radius: 3px;
                  --dropdown-field-padding: 10px;
                  --dropdown-field-height: 38px;
                  height: 38px;

                  span.a-dropdown__placeholder {
                    font-size: @font-size-17;
                    color: @abbott-dark-charcoal;
                  }
                  .a-dropdown-selected {
                    font-size: @font-size-17;
                  }
                  ul.a-dropdown__menu {
                    border: 1px solid @abbott-pantone-cool-grey;
                    margin-top: 0px;
                    border-radius: unset;
                    overflow: auto;
                    max-height: 194px;
                    li {
                      border: none;
                      height: auto;
                      display: flex;
                      align-items: center;
                      padding-top: 4px;
                      padding-bottom: 4px;
                      span {
                        font-size: @font-size-17;
                        padding: 0px;
                        padding-left: 7px;
                        height: 16px;
                        color: @abbott-dark-charcoal;
                      }
                    }
                    li:hover {
                      background-color: @abbott-checkbox-blue;
                      span {
                        color: @white;
                        font-size: @font-size-17;
                      }
                    }
                  }
                }
              }

              .checkbox {
                .a-checkbox {
                  .a-checkbox__input:checked + .a-checkbox__custom {
                    border: none !important;
                  }

                  .a-checkbox__custom {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 0.15rem;
                    --checkbox-checked-bg: @abbott-checkbox-blue;

                    &::after {
                      width: 0.225rem;
                    }
                  }

                  .a-checkbox__text {
                    color: @abbott-dark-charcoal;
                  }

                  &.a-checkbox--horizontal {
                    @media @md-down {
                      width: 100%;
                      margin-bottom: 0;
                    }
                  }
                }

                .a-checkbox-label {
                  .a-checkbox__title-text {
                    color: @abbott-dark-charcoal;
                    font-weight: bold;
                  }
                }
              }
            }
            .container {
              &.a-container {
                padding: 0;
                margin: 2.5rem 0;
                section {
                  .cmp-container {
                    padding: 9px 0 10px;
                    .text {
                      margin-bottom: 4px;
                      .cmp-text {
                        p {
                          font-size: @font-size-14;
                          line-height: 20px;
                          font-weight: normal;
                          color: @abbott-dark-charcoal;
                          margin-bottom: 4px;
                        }
                      }
                    }
                    .columncontrol {
                      margin: 0;
                      .container {
                        padding: 0;
                        .columncontrol__column {
                          .options {
                            margin: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .o-form-container__buttons {
            width: 100%;
            justify-content: center !important;
            align-items: center;
            flex-direction: row;
            button {
              width: auto;
              margin: 3px;
              span {
                font-weight: bold;
                font-size: @font-size-18;
              }
            }
          }
        }
      }
    }
  }

  &.blacklist-retiree-search,&.pending-photo-search {
    display: none;
  }

  //Showotp form style:
  &.signup-otp-form {
    .o-form-container {
      .o-form-container__wrapper {
        .o-form-container__outer {
          .container {
            .row.o-form-container__parent {
              .o-form-container__element {
                .o-form-container__main-form {
                  .form-container {
                    margin-bottom: 0;
                    .fields {
                      .a-input-field {
                        .input-group.a-input-grp {
                          input.form-control {
                            &:focus-visible {
                              outline: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .o-form-container__buttons {
                  justify-content: flex-start !important;
                  .button.link {
                    margin-right: 5px;
                    margin-top: 5px;
                    button {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  //UserOTP tablet view:
  &.user-otp-formcontainer {
    .o-form-container {
      .o-form-container__wrapper {
        .o-form-container__outer {
          .container {
            .o-form-container__element {
              @media @lg-only {
                max-width: 95%;
                flex: 0 0 90%;
              }
            }
          }
        }
      }
    }
  }

  &.online-retiree-directory {
    .o-form-container__error-msg {
      display: none;
    }
  }
  
  &.online-retiree-directory-search {
    display: none;
  }
}
.pendingPhototable{
	td:nth-child(2){
		text-transform: uppercase;
	}
} 