.text {
    .cmp-text {
        &#email-list-container {
            &>p {
                display: none;
            }

            #email-list-wrapper {
                list-style: none;
                padding-left: 0;

                li {
                    font-size: 1.2rem;
                    font-family: @font-brandon-grotesque-regular;
                    padding: 6px;

                    &:nth-child(odd) {
                        background: @abbott-silver;
                    }
                }
            }

            #email-list-pagination-container {
                .paginationjs-pages {

                    .paginationjs-page,
                    .paginationjs-prev,
                    .paginationjs-next {
                        margin-left: 5px;
                        margin-right: 5px;
                        border: 0;


                        a {
                            color: @abbott-pagination-blue;
                            font-family: @font-georgia;
                            text-decoration: underline;
                            background: @abbott-light-gray-hover;
                            border-radius: 3px;

                            &:active,
                            &:focus,
                            &:hover {
                                color: @white;
                                background: @abbott-core-link;
                            }
                        }

                        &.active {
                            a {
                                color: @white;
                                background: @abbott-core-link;

                                &:active,
                                &:focus,
                                &:hover {
                                    color: @white;
                                    background: @abbott-core-link;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}