.text {
  &.text-list-style-variation {
    .cmp-text {
      ul {
        li {
          list-style-image: url(/content/dam/corp/abbottcore-com/images/bullet.gif);
          padding-bottom: 5px;

          a {
            color: @abbott-card-link-blue;
            text-decoration: underline !important;

            &:hover {
              color: @abbott-card-link-blue;
            }
          }
        }
      }

      p {
        a {
          color: @abbott-card-link-blue;
          text-decoration: underline !important;

          &:hover {
            color: @abbott-card-link-blue;
          }
        }
      }
    }
  }

  &.a-text-color--white {
    .cmp-text,
    .cmp-text * {
      --text-color: @white;
    }
  }

  &.a-text-color--modal-blue {
    .cmp-text,
    .cmp-text * {
      --text-color: @abbott-modal-blue;
    }
  }

  &.a-text-color--dark-charcol {
    .cmp-text,
    .cmp-text * {
      --text-color: @abbott-dark-charcoal;
    }
  }

  &.a-text-color--core-link-blue {
    .cmp-text,
    .cmp-text * {
      --text-color: @abbott-core-link;
    }
  }
  &.text--homepage-variation {
    margin-bottom: 1.3rem !important;
    .cmp-text,
    .cmp-text * {
      line-height: 1.3rem;
      letter-spacing: 0.02px;
      font-size: 1rem;

      p {
        a {
          color: @abbott-card-link-blue;
          text-decoration: underline !important;

          &:hover {
            color: @abbott-card-link-blue;
          }
        }
      }
    }
  }

  //Register-form-upi styles:
  &.text--upi {
    margin-left: 15px;
    p {
      margin-bottom: 0px;
      font-size: 15px;
    }

    a {
      color: @abbott-primary-blue;
      font-size: 15px;
      text-decoration: underline;
    }
  }

  /* added for removing the bottom margin */
  &.a-text-margin--remove-bottom {
    margin-bottom: 0 !important;

    .cmp-text,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0 !important;
    }
  }

  /* added for horizontal line as a devider */
  &.a-text--or-on-center {
    margin-top: 40px;

    .cmp-text {
      position: relative;

      hr {
        color: @abbott-dark-charcoal;
        border: 1px solid @abbott-dark-charcoal;
      }

      span {
        color: @abbott-dark-charcoal;
        background-color: @white;
        position: absolute;
        padding: 0 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 2px;
        line-height: 26px;
        font-size: @font-size-22;
      }
    }
  }

  &.table--anniversaries-variation {
    .cmp-text {
      table {
        width: 100%;

        thead,
        th {
          border: none;
          padding: 8px 0px;
        }
      }

      tbody {
        .odd {
          background: @abbott-silver;
        }

        td {
          border: none;
          font-size: 14px;
          padding: 0;
        }
      }
    }
  }
  &.text-table-border {
    .cmp-text {
      table.table.table-striped {
        th,
        td {
          border: 1px solid @abbott-accordion-border-light-gray;
        }
      }
    }
  }
  //User-statistics page style:
  &.user-statistics-text{
    .cmp-text{
      table{
        tr{
          td{
            font-size: 0.875rem;
            padding: 15px;
            border: 1px solid @black;
              &:first-child{
                width: 70%;
              }
              &:last-child{
                width: 170px;
              }
          }
        }
      }
    }
  }
  //Meetings-events style:
  &.meet-event-border{
    .cmp-text{
      table.details_info_table{
        width: 100%;
        tr{
          th,
          td{
            border:1px solid @black;
            padding: 5px 10px;
          }
        }
      }
    }
  }
   //World segment page style:
   &.world-text-segment{
    .cmp-text{
      table{
        tr{
          td{
            p{
              margin-bottom: 0.2rem;
              a{
                text-decoration: none!important;
                font-size: 14px;
                color: @abbott-core-link;
              }
            }
            a{
              color: @abbott-core-link!important;
            }
          }
        }
      }
    }
  }
}
