// Common
@color-primary: #006645;
@color-primary-v1: #9B8759;
@color-primary-v2: #64A943;
@color-primary-v3: #006645;
@color-secondary: #BAC7D6;
@color-white: #FFFFFF;
@color-black: #000000;
@color-text-body: #616161;
@color-breadcrumb-bg: #008040;
@color-lightbg: #CCEAD9;
@color-arrow: #B3D1C7;
@color-social-sharing: #9B8759;
@color-footer-careline: #006645;

// Gradient
@gradient-text: linear-gradient(180deg, #008040 0%, #006645 100%);
@gradient-header-button: linear-gradient(90deg, #D5B25A 0%, #FAEFC1 47.92%, #D5B25A 100%);
@gradient-background-desktop: linear-gradient(180deg, #008040 0%, #006645 100%);
@gradient-background-mobile: linear-gradient(180deg, #008040 0%, #006645 100%);
@gradient-background-featured-product: linear-gradient(180deg, #008040 0%, #006645 100%);