@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-black-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-blackitalic-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-bold-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-bolditalic-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-medium-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-mediumitalic-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-regular-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-regularitalic-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-regularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-light-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-lightitalic-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}


@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-thin-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/public/resources/fonts/brandon/brandongrotesque-thinitalic-webfont.woff2') format('woff2'),
        url('/public/resources/fonts/brandon/brandongrotesque-thinitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
