@font-face {
    font-family: "Abbott-icon";
    src: url("/public/resources/icons/Abbott-icon.eot?me0dpr");
    src: url("/public/resources/icons/Abbott-icon.eot?me0dpr#iefix") format("embedded-opentype"),
    url("/public/resources/icons/Abbott-icon.ttf?me0dpr") format("truetype"),
    url("/public/resources/icons/Abbott-icon.woff?me0dpr") format("woff"),
    url("/public/resources/icons/Abbott-icon.svg?me0dpr#Abbott-icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block
}
