.image--float-left{

    margin:0;
    padding-left:5px;
    padding-right:5px;
    float: left !important;
}
.image{
    &--mt-small
    {
        margin-top: 1rem ;
    }
    &--mt-medium
    {
        margin-top: 1.5rem ;
    }
    &--mb-small
    {
        margin-bottom: 1rem;
    }
    &--mb-medium
    {
        margin-bottom: 1.5rem ;
    }
}