@import './global/variables.less';
@import './global/media-queries.less';

.a-button {
  &--sm {
    max-width: 168px;
  }

  &--md {
    max-width: 300px;
    margin-right: @spacer-5;
    margin-left: @spacer-5;
  }

  &--lg {
    .btn {
      padding: var(--button-padding-lg);
    }

    .m-popup {
      width: 100%;
    }
  }

  .btn {
    @media @sm-only {
      width: auto;
    }
  }
  
  .m-popup {
    &:not(:only-child) &,
    & .a-link {
      @media @sm-down {
        width: @full-width;
      }
    }
  }
}

.button {
  & img {
    max-width: 100%;
    height: auto;
  }
}
  