@import './global/media-queries.less';
@import './global/variables.less';

.o-hero-carousel {
  @media @lg-up {
    max-width: @container-width;
    margin: 0 auto;
  }

  .m-hero__body {
    max-width: 340px;

    @media @lg-up {
      max-width: 480px;
    }
  }

  .a-container & {
    padding-left: 0;
    padding-right: 0;
  }

  .m-hero--full-width .container {
    @media @lg-up {
      padding-left: 0;
      padding-right: 0;
    }

    @media @xl-up {
      padding-left: @spacer-30;
      padding-right: @spacer-30;
    }
  }
}