@import './global/media-queries.less';

.m-video {
  &.m-video--medium {
    width: 100% !important;

    @media @md-up {
      max-width: 610px;
      height: 333px;
    }

    .o-product-section--text-right & {
      max-width: 100%;

      @media @lg-only {
        min-height: 420px;
      }

      @media @lg-up {
        max-width: 445px;
      }
    }
  }

  .a-video__player {
    min-height: 190px;

    .o-product-section--text-right & {
      @media @md-up {
        min-height: 333px;
      }
    }
  }
}

.video {
  padding: 0 !important;
}
