.m-hero {   
    &--full-width,
    &--half-width{
        .m-hero__content{
            .m-hero__body p, h1 {    
                font-family: @brandonblack;   
                color: @brand-blue;        
                @media @md-down {
                    .font-size(18px, 24px);
                }
            }  
        }
    }
    &.m-hero--full-width.m-hero--content-start{
        .m-hero__content{
            @media @md-down {
                padding: 40px 0 0 !important;
            }
        }
    }
    &.m-hero--short.m-hero--text-vertical-align-top{
        @media @md-only {
            height: auto !important;
            min-height: 310px !important;
            .m-hero__media {
                height: 100% !important;
            }
        }
    }
    &--full-width {
        height: 500px !important;
        padding-top: 0 !important;
        @media @lg-down {
            padding-top: 0 !important;
        }
        @media @md-down {
            height: auto !important; 
            width: 100%;
            margin-top: 0 !important;
        }
        .m-hero__media {
            height: 100% !important;
            @media @lg-only{
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                margin-left: 0;
                min-width: 100%;
            }
            img{
                @media @md-down{
                    height: 190px;
                    object-fit: cover;
                }
            }
        }
        .m-hero__content{
            width: 50% !important;
            margin-left: 5% !important;
            padding: 30px 0 !important;
            @media @lg-down {
                width: 100% !important;
                margin: 0;
                position: absolute;
                left: 0;
                text-align: left;
                margin-left: 0% !important;
                color: @color-white !important;
                img{
                    padding-left: 15px !important;
                }
            } 
            @media @md-down{
                padding-bottom: 0 !important;
                width: calc(100% + 30px) !important;
                left: -15px;
                margin: 0 -30px;
                position: relative;
            }
            ul{
                li{
                    margin-bottom: 0;
                    @media @md-only {
                         margin-bottom: 0;
                    }
                }
            }
            
            .m-hero__body {       
                @media @md-down {                
                    background-color: @brand-blue;
                    p{
                        color:@color-white;
                        margin-bottom: 0;
                        margin-top: -1px;
                        .font-size(18px, 24px);
                        padding-left: 15px;
                    }
                }
            } 
            .h1-hero {
                @media @md-down {
                .font-size(18px, 24px);
                    width: 60%;
                    margin-bottom: 0;
                    padding-left: 15px;
                }                
            }  
        }
        .m-hero__subtitle {
                @media @md-down {
                    background-color: @brand-blue;
                    padding-left: 15px;
                    margin-bottom: -3px;
                }
            ul {
                @media @md-down {
                    padding: 20px;
                    width: 100%;
                    margin-bottom: 0;
                }
                li{
                    &::marker{
                        color: @brand-blue;
                        .font-size(18px, 24px);
                        @media @md-down {
                            color:@color-white
                        }
                    }
                    p{
                        .font-size(18px, 24px);
                        color: @brand-blue;
                        margin-bottom: 0;
                        font-weight: normal;
                        padding-bottom: 8px;
                        @media @md-down {
                            color:@color-white
                        }
                    }
                }
            }   
        }  
        .m-hero__extras{  
                @media @md-down {                
                    background-color: @brand-blue;
                }
            .a-button--primary-v1{
                @media @md-down { 
                    width: 90%;
                    margin: 0 auto;
                    padding: 30px 0;
                    margin-top: -1px;
                }
                .btn{
                    .font-size(20px,18px);
                    font-family: @brandonbold;
                     padding: 12px 32px;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
        }
    }
    &.m-hero--half-width.m-hero--medium {
         height: 555px !important;
        
        @media @xl-down {
            height: 555px !important;
            min-height: 300px;
        }
         @media @md-down {
             height: auto !important;
         }
        .m-hero__content{
            margin-left: 0 !important;
            padding: 40px 40px 40px 60px !important;
            text-align: left;
            @media @lg-down {
                padding: 20px 10px !important;
            }
             @media @md-down {
                position: relative; 
                padding: 30px 20px !important;
            } 
        }
        .no-gutters{
            align-items: center;
            background-color: @color-white;
        }
        .m-hero__media{
            height: 555px !important;
             @media @md-down {
                height: auto !important;
            }
        }
    }
    &.m-hero--half-width.m-hero--short{
        height: 380px;
        @media @xl-down {
           height: 380px;
        }
        @media @md-down {
            min-height: 100px !important;
            margin: 0 !important;
            height: auto !important;
        }
        .m-hero__content{
            @media @md-only{
                padding: 15px !important;
            }
        }
        .m-hero__media{
             z-index: 1;
             height: 380px;
            @media @lg-down{
                position: relative;
                width: 50%;
                height: 310px !important;
                left: 0;
                top: 0;
                min-width: 50%;
                margin: 0;
            }
             @media @md-down{
                position: static;
                width: 100%;
                height: auto !important;
             }

            .m-hero__image {
                @media @lg-down{
                    right: 0;
                    left: unset;
                }
                .cmp-image__image{
                    z-index: 1;
                }
            }
        }
    }
    &--half-width{
        .no-gutters{
            background-color: @color-white;
        }
        .m-hero__content{
            display: flex;
            align-items: center;
            padding: 20px 30px 20px 40px;
            flex-wrap: wrap;
             width: 50% ;
             margin-left: 0;
            @media @lg-down{
                width: 50%;
                height: 235px;
            }
            @media @md-down{
                width: 100%;
            }
        }
        .m-hero__media{
             z-index: 1;
            @media @lg-down{
                position: relative;
                width: 50%;
                height: 555px !important;
                left: 0;
                top: 0;
                min-width: 50%;
                margin: 0;
            }
             @media @md-down{
                position: static;
                width: 100%;
                height: auto !important;
             }

            .m-hero__image {
                @media @lg-down{
                    right: 0;
                    left: unset;
                }
                .cmp-image__image{
                    z-index: 1;
                }
            }
        }
    }
    &.m-hero--gradient-center.m-hero--gradient-start{
        .no-gutters{
            background-color: @color-white;
        }
    }
    &.m-hero--short.m-hero--gradient-start{
        .m-hero__content{
            background-color: @color-white;
        }
    }
    &.m-hero--media-end{
        .no-gutters{
            @media @md-down {
                flex-direction: column-reverse !important;
                align-items: start;
            }
        }
    }
    &--media-start{
         @media @md-down {
            .no-gutters{
                flex-direction: column !important;
                align-items: start;
            }
        }
    }
    &--half-width,
    &--media-end
    {
         display: flex;
        align-items: center;
         .no-gutters{
            align-items: center;
            .m-hero__content{
                h1{
                    .font-size(32px, 36px);
                    margin-bottom: 16px; 
                }
                h2{
                    .font-size(24px, 32px);
                    color: @brand-blue;
                        @media @md-down {
                        background-color: @color-white;
                        }
                }
                .m-hero__body{
                    @media @md-down {
                        background-color: @color-white;
                        }
                    p{
                        font-family: @brandonregular;
                        .font-size(18px, 24px);
                        @media @md-down {
                            color: @brand-blue;
                        }
                    }
                    ul{
                        li{
                            .font-size(18px, 24px);
                            color: @brand-blue;
                            font-size: @brandonregular;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
            .m-hero__media {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        } 
    }
 
    &--short {
        height: 355px;
        @media @xl-only {
           height: 305px;
            min-height: 305px !important;
        }
        @media @md-only {
            height: 235px !important;
            min-height: 235px !important;
        }
        @media @md-down {
            min-height: 100px !important;
            margin: 0 -15px;
            height: auto !important;
        }
        .m-hero__content {
            .m-hero__content-image{
                margin-bottom: 40px;
                 @media @md-only {
                    margin-bottom: 25px;
                    max-width: 40%;
                 }
                @media @md-down{
                    display: none;
                }
            }
            @media @md-down {
                height: auto;
                width: 100%;
                padding: 24px 16px 40px 16px !important;
                margin: 0;
                background: @brand-yellow;
                text-align: left;
            }  
            .m-hero__body p, h1 {    
                font-family: @brandonblack;   
                color: @brand-blue;        
                @media @md-down {
                    .font-size(18px, 24px);
                }
            }    
            .h1-hero {
                @media @md-down {
                    .font-size(26px, 32px);
                }                
            }   
            
        }
        .m-hero__media {
            @media @md-only {
                position: absolute;
                width: 100%;
                height: 235px !important;
                left: 0;
                top: 0;
                min-width: 100%;
                margin: 0;
            }
            @media @md-down {
                height: auto !important;
                min-width: 100%;
                margin-left: 0;
                .m-hero__image, .cmp-image__image {
                    position: relative;
                    object-fit: initial;
                }
            }
        }
        &.m-hero--media-end.m-hero--half-width {
            .m-hero__content {
                display: flex;
                align-items: center;
                padding: 20px 30px 20px 40px;  
                flex-wrap: wrap;
                @media @xl-up {
                    height: 355px;
                }
                @media @md-up {
                    height: 302px;
                }  
                @media @md-only {
                    width: 50%;
                    height: 235px;
                } 
                @media @md-down {
                    background-color: transparent;
                    padding: 24px 16px 24px !important;
                }           
                .m-hero__header {
                    padding-top: 140px;
                    background-image: url('/content/dam/an/ensure-com/signup/ensure-healthy-matters-logo-desktop.png');
                    background-repeat: no-repeat;
                    background-position: 0 50px;
                    @media @md-only {
                        background-size: contain;
                    }
                    @media @md-down {
                        padding-top: 90px;
                        background-position: 0 0;
                    }
                    @media (max-width: 400px) {
                        background-size: contain;
                    }
                }
            }
            .m-hero__media {               
                .m-hero__image {
                    .cmp-image__image {
                        z-index: 1;
                    }
                }
                @media @md-up {
                    margin: 0;
                    height: 355px;
                    position: absolute;
                    .m-hero__image {
                        width: 50%;
                        right: 0;
                        left: unset;
                        .cmp-image__image {
                            z-index: 1;
                        }
                    }
                }
                @media @md-down {
                    position: static;
                }
            }
        }
    }
    &--content-start{
        .m-hero__content{
                padding: 40px 0 !important;
                gap: 16px;
                @media @lg-only{
                    padding:40px 30px !important;
                }
            h1{
                padding: 16px 0;
            }
        }
    }
    &--text-align-start {
        @media @md-up {
            .m-hero__content {
                position: static;
                margin-left: 30px;
                .m-hero__header, .h1-hero {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                }
            }
        }
    }
    &__content {
        @media @md-down {
            margin: 0;
            padding: 10px 0 18px;
        }
        .h1-hero, h1 {            
            margin-bottom: 0;
            .font-size(46px, 45px);
            color: @brand-blue;
            font-family: @brandonblack;
            @media @xl-only {
                .font-size(32px, 38px);
                margin: 0;
            }
            @media @lg-only {
                .font-size(32px, 38px);
                margin: 0;
            }
        }        
        .m-hero__extras {
            margin: 0
        }        
    } 
    &--dark {        
        .m-hero__content {
            h1, .m-hero__body p, .h1-hero, .m-hero__title, h2, h4, .m-hero__subtitle {
                color: @color-white;
            }
        }        
    }
    &--remove-spacing-bottom {
        padding-bottom: 0 !important;
    }
    @media @lg-up {
        &.m-hero--full-width:not(.m-hero--container) {
            .m-hero__content {
                width: 100%;
            }
        }
    }
      
    @media @md-down {
        &--medium, &--light, &--dark {
            .m-hero__media {
                height: auto !important;
                .m-hero__image, .cmp-image__image {
                    position: relative;
                    object-fit: initial;
                }
            }
        }        
    }
}