table.brand-table {
    tbody {
        tr {
            th {
                background-color: transparent;
                padding: 5px 11px 15px;
                min-width: 210px;
                font-family: @brandonblack;
                color: @brand-blue;
                text-align: center;
                @media @md-down {
                    min-width: 140px;
                    padding: 5px 4px 15px;
                }
            }
            td {
                border: 8px solid @color-white !important;
                padding: 10px;
                min-width: 195px;
                max-width: 210px;
                width: 210px;
                color: @brand-blue;
                text-align: center;
                @media @md-down {
                    border: 4px solid @color-white !important;
                    max-width: 140px;
                    min-width: 140px;
                    width: 140px;
                }
                p {
                    margin: 0;
                    text-align: center;
                    color: @brand-blue;
                    .font-size(18px, 24px);
                    @media @md-down {
                        .font-size(14px, 20px);
                    }
                }
            }
        }
        tr:nth-child(even) {
            td {                        
                background-color: @brand-grey;
            }
        }
        tr:nth-child(odd) {
            td {
                background-color: @color-alert-info;
            }                    
        }
    }
}