

.tabs {
    @media @lg-up {
        padding-right: 35px;
    }
    .a-tabs__nav {
        padding-bottom: 0px;
        border-bottom: 1px solid @color-black;
        @media @md-down {
            flex-direction: column;
        }
        &-link {
            .font-size(16px, 16px);
            font-family: @brandonbold;
            font-size: 18px;
            line-height: 24px;
            color: @brand-blue;
            width: 370px;
            padding: 4px 8px 0 8px;
            height: 54px;
            position: relative;
            border-bottom: none;
            letter-spacing: 0;
            z-index: 1;
            flex: none;
            @media @lg-only {
                .font-size(12px, 14px);
            }
            @media @xl-only {
                width: 350px;
                max-width: 32%;
            }
            @media @lg-down {
                width: 50%;
                flex-basis: 50%;
                max-width: 32.5%;
            }
            @media @md-down {
                width: auto;
                max-width: 100%;
                border-bottom: 1px solid @brand-blue;
                padding: 16px 0px;
            }
            &.active {
                color: @brand-blue;
                border-bottom: 3px solid @brand-blue;
                background-color: @brand-yellow !important;
            }
            &:hover {
                color: @brand-blue;
                border-bottom: 3px solid @brand-blue;
                background-color: @brand-yellow !important;
            }
            &:focus {
                text-decoration: none;
            }
            .a-tabs__nav-text {
                font-family: @brandonbold;
                font-size: 18px;
                line-height: 24px;
                color: @brand-blue;
                align-items: center;
                justify-content: center;
                display: flex;               
            }
        }        
    }
    .tab-content {
        .columncontrol > .container > .row {
            @media @md-down {
                > .col-md-3 {
                    max-width: 25%;
                    margin-bottom: 0;
                }
                > .col-md-9 {
                    max-width: 75%;
                }
            }   
            .cmp-text p:last-child {
                margin-bottom: 0;
            }         
        }
    }  
}

.columncontrol.column-align--center .row.a-tabs__nav {
    justify-content: left;
}