@import '../mixin.less';
@import '../media-queries.less';
@import '../variables.less';
/**
 * WEBINAR - PAGE
**/

[id*=webinarPage]{
    iframe{
        border: none;
        width: 100%;
        height: 820px;
        @media @lg-down{
            height: 1150px;
        }
        @media @md-down{
            height: 1100px;
        }
        @media @sm-down{
            height: 1300px;
        }
    }
    #webinarIframe_2{
        iframe{
            height: 700px;
            @media @lg-down{
                height: 1000px;
            }
            @media @md-down{
                height: 1000px;
            }
            @media @sm-down{
                height: 1125px;
            }
        }
    }
}