@import '../mixin.less';
@import '../media-queries.less';
@import '../variables.less';
/**
 * MAGAZIN - PAGE
**/
.m-article-list{
    &__article-title {
        @media @md-down {
            font-size: @spacer-18;
            line-height: @spacer-24;
        }
    }
    &__article-title, &__article-para {
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-break: break-word;
    }
    &__nav{
        top: 106px;
        @media @md-up {
            top: 110px;
        }
        @media @lg-up {
            top: 132px;
        }
        @media @xl-up {
            top: 112px;
        }
    }
}