@import '../mixin.less';
@import '../media-queries.less';
@import '../variables.less';
/**
 * SERVICE MATERIAL - PAGE
**/

[id*="serviceMaterialCards"], .service-material-cards {
    .cmp-download{
        background-color: @primary-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 80px;
        padding: 5px 15px;
        text-align: center;
        &__title{
            margin-bottom: 0;
            line-height: 0;
        }
        &__title-link{
            padding: 0 2px;
        }
        &__description{
            display: none;
        }
        a{
            color: @color-white;
            text-decoration: none;
        }
        .abt-icon{
            color: @color-white;
            padding-right:5px;
            font-size: 1.25rem;
        }
    }
}

// Authoring Style

.cq-Editable-dom {
    [id*="serviceMaterialCards"]{
        .cmp-download__description{
            display: block;
        }  
    }
}