div#greyblue-contact-info-section .col-12:nth-child(1) p {
  color: #ffffff;
}
h1.greyblue-product-name {
  color: #283668;
  font-size: 25px;
  line-height: 34.75px;
  text-align: center;
  font-weight: 700;
  margin-bottom: -1.2rem;
}
h1.greyblue-product-name sup {
  font-weight: 500;
}
#greyblue-product-batch {
  opacity: 1;
  padding: 5px 7px;
  display: table;
  max-width: 85%;
  margin: 2rem auto 3.9rem auto;
  position: relative;
  border-radius: 2.5rem !important;
  background: #283668;
  z-index:10;
}
#greyblue-product-batch .abt-icon-check:before {
  content: "\e905";
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #06af55;
  padding: 5px;
}
#greyblue-product-batch p span {
  display: block;
}
button#greyblue-product-batch em {
  font-size: 2.5rem !important;
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
button#product-batch:after {
  content: " ";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 52.9%;
  z-index: 1;
  background-color: #003087;
  top: 100%;
  display: none;
}

#greyblue-product-batch span {
  font-size: 20px;
  line-height: 27.8px;
  vertical-align: middle;
  width: 80%;
}
#greyblue-contact-info-section .button {
  margin: 15px 0;
}
#greyblue-contact-info-section .text {
  margin-bottom: 0;
}
#greyblue-btn {
  background: #283668;
}
.o-product-section__title h1.greyblue-pageTitle {
  color: #283668;
}
.o-product-section__para p.greyblue-sectionPara {
  color: #283668;
}
div#greyblue-column-container-image-text .o-features-card__content h4 {
  color: #fff;
  text-transform: capitalize;
  background: #283668;
  padding: 0.35rem;
  border-radius: 25px;
  font-family: "brandon_text_regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
div#greyblue-column-container-image-text .o-features-card__content p {
  color: #000;
  margin-bottom: 3px;
  font-family: "brandon_text_regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
div#greyblue-column-container-image-text .o-features-card__content p.blue_text {
  font-size: 14.5px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #283668;
  margin: 10px 0 5px 0;
}
#greyblue-column-container-image-text {
  padding: 0 38px;
}
#greyblue-contact-section p {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;
}

div#greyblue-column-container-image-text .col-12:first-child:before {
  top: -80px;
  height: 144%;
  z-index: 0;
}
.o-product-section__image-wrapper:after {
  display: none;
}
#greyblue-contact-section h5 a[href^="tel"],
#greyblue-contact-section h5 a:hover,
#greyblue-contact-section h5 a:focus,
#greyblue-contact-section h5 a:active,
#greyblue-contact-section h5 a:visited {
  color: #283668 !important;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #greyblue-contact-section {
    max-width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1200px) and (orientation:landscape){
#greyblue-product-batch span br {
  display: none;
}
#greyblue-product-batch span {
  padding: 15px 0;
  width: 89%;
}
}

@media only screen and (min-width: 768px) and (orientation:portrait){
  #greyblue-product-batch span {
    padding-left:100px !important;
  }
  }
@media only screen and (max-width: 1023px) {
  #greyblue-contact-info-section .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0;
  }
  #more-info{
    padding-top:12px;
  }
  #greyblue-promo-title h5 {
    color: #283668 !important;
  }
  div#greyblue-contact-info-section .col-12:nth-child(1) {
    background: rgba(0, 156, 222,0.75);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  #greyblue-contact-info-section .button {
    text-align: center;
  }
  #greyblue-btn {
    max-width: 300px;
  }
  #greyblue-contact-info-section .a-link {
    width: 80%;
    margin: 0 auto;
  }
  #greyblue-contact-info-section .m-popup {
    width: 100%;
    text-align: center;
  }
  .o-product-section__image-column {
    padding: 0 15px;
  }
  .o-product-section__image-wrapper:after {
    content: " ";
    width: 1px;
    height: 80px;
    position: absolute;
    right: 52.69%;
    z-index: 1;
    background-color: #283668;
    top: 100%;
  }
  #greyblue-contact-section h5,
  #greyblue-contact-section p {
    color: #283668 !important;
  }
  div#greyblue-column-container-image-text .o-features-card__content {
    width: 53%;
    position: relative;
    z-index: 2;
    min-height: 150px;
  }
  div#greyblue-column-container-image-text .o-features-card__image {
    width: 47%;
    position: relative;
    top: -12px;
  }
  div#greyblue-column-container-image-text .o-features-card__block {
    display: flex;
  }
  div#greyblue-column-container-image-text .o-features-card__image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #283668;
    top: 30px;
    z-index: 1;
    right: 0;
  }
  div#greyblue-column-container-image-text .o-features-card__image:after {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    border: 1px solid #283668;
    position: absolute;
    right: -4px;
    top: 25px;
    background-color: #fff;
    z-index: 9;
  }
  div#greyblue-column-container-image-text .o-features-card__image .image {
    position: absolute;
    z-index: 3;
  }
  div#greyblue-column-container-image-text .col-12:before {
    content: " ";
    width: 1px;
    height: 100%;
    position: absolute;
    right: 53%;
    z-index: 1;
    background-color: #283668;
  }
  div#greyblue-column-container-image-text .description.text {
    padding: 0 0 0 1rem;
  }
  div#greyblue-column-container-image-text .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 0;
    margin-bottom: 0;
  }
  #greyblue-contact-info-section.container {
    max-width: 100%;
  }
  #greyblue-column-container-image-text
    .columncontrol__column:last-child
    .o-features-card__title {
    height: auto !important;
  }
  #greyblue-column-container-image-text
    .columncontrol__column:last-child
    .o-features-card__content {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  #section-greyblue-product-check-container,
  #section-greyblue-product-container {
    --container-start-position: 30% !important;
    --container-end-position: 68% !important;
  }
  #greyblue-contact-section p {
    width: 86%;
    margin: 0 auto 1rem auto;
  }
  #greyblue-contact-info-section.container {
    max-width: 100%;
    background: rgba(0, 156, 222,0.75);
    padding: 30px;
  }
  #greyblue-contact-info-section .col-12 {
    max-width: 36%;
    margin: 0 auto;
  }
  div#greyblue-column-container-image-text .o-features-card__content h4 {
    font-size: 20px;
    line-height: 27.8px;
    font-family: "brandon_text_regular", Arial, sans-serif;
  }
  div#greyblue-column-container-image-text .o-features-card__content p {
    font-size: 18px;
    line-height: 25.02px;
    font-family: "brandon_text_regular", Arial, sans-serif;
    font-weight: 400;
  }
  div#greyblue-contact-info-section .row {
    max-width: 1110px;
    margin: 0 auto;
  }
  #greyblue-contact-info-section .button {
    text-align: center;
    display: block;
  }
  #greyblue-contact-info-section .a-link {
    width: 65%;
  }
  #greyblue-btn {
    max-width: 65%;
  }
  button#product-batch:after {
    display: none;
  }
  #greyblue-product-batch span {
    width: 92.5%;
  }
  #greyblue-promo-title h5 {
    color: #ffffff;
  }
}
@media only screen and (min-width: 1200px) {
  div#greyblue-column-container-image-text .o-features-card__content h4 {
    border-radius: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199.99px) {
  div#greyblue-column-container-image-text .o-features-card__content h4 {
    font-size: 18px;
    line-height: 25.8px;
    font-family: "brandon_text_regular", Arial, sans-serif;
    font-weight: 700;
  }
  div#greyblue-column-container-image-text .o-features-card__content p {
    font-size: 16px;
    line-height: 23.02px;
    font-family: "brandon_text_regular", Arial, sans-serif;
    font-weight: 400;
  }
}
@media only screen and (min-width: 320px) and (max-width: 374.99px) {
  div#greyblue-column-container-image-text .o-features-card__content h4 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 390.99px) and (max-width: 767.99px) {
  button#product-batch:after {
    right: 53.2%;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1023px) {
  button#product-batch:after {
    right: 53.2%;
  }
}
