div#cyanblue-contact-info-section .col-12:nth-child(1) p {
  color: #000000;
  font-weight: 600;
}
.cyanblue-product-name h1 {
  color: #000000;
  font-size: 25px;
  line-height: 34.75px;
  text-align: center;
  font-weight: 700;
  margin-bottom: -1.2rem;
}
.cyanblue-product-name h1 sup {
  font-weight: 500;
}
.o-product-section__title h1.cyanblue-pageTitle {
  color: #000000;
}
.o-product-section__para p.cyanblue-sectionPara,
#cyanblue-contact-section h5 {
  color: #000000;
}
#cyanblue-product-batch {
  opacity: 1;
  padding: 5px 7px;
  display: table;
  max-width: 85%;
  margin: 2rem auto 3.9rem auto;
  position: relative;
  border-radius: 2.5rem !important;
  background: #004f71;
  z-index: 10;
}
#cyanblue-product-batch .abt-icon-check:before {
  content: "\e905";
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #06af55;
  padding: 5px;
}
#cyanblue-product-batch p span {
  display: block;
}
button#cyanblue-product-batch em {
  font-size: 2.5rem !important;
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
button#product-batch:after {
  content: " ";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 52.9%;
  z-index: 1;
  background-color: #003087;
  top: 100%;
  display: none;
}

#cyanblue-product-batch span {
  font-size: 20px;
  line-height: 27.8px;
  vertical-align: middle;
  width: 80%;
}
#cyanblue-contact-info-section .button {
  margin: 15px 0;
}
#cyanblue-contact-info-section .text {
  margin-bottom: 0;
}
#skyblue-btn {
  background: #009cde;
  padding: 13px 0;
}
#cyanblue-btn,#cyanblue-btn-duplicate {
  background: #004f71;
  padding: 13px 0;
}
div#cyanblue-column-container-image-text .o-features-card__content h4 {
  color: #fff;
  text-transform: capitalize;
  background: #004f71;
  padding: 0.35rem;
  border-radius: 25px;
  font-family: "brandon_text_regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
div#cyanblue-column-container-image-text .o-features-card__content p {
  color: #000;
  margin-bottom: 3px;
  font-family: "brandon_text_regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
div#cyanblue-column-container-image-text .o-features-card__content p.blue_text {
  font-size: 14.5px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #004f71;
  margin: 10px 0 5px 0;
}
#cyanblue-column-container-image-text {
  padding: 0 38px;
}
#cyanblue-contact-section p {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  color: #000000;
}

div#cyanblue-column-container-image-text .col-12:first-child:before {
  top: -80px;
  height: 144%;
  z-index: 0;
}
.o-product-section__image-wrapper:after {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #cyanblue-contact-section {
    max-width: 50%;
    margin: 0 auto;
  }
}
#cyanblue-contact-section h5 a[href^="tel"],
#cyanblue-contact-section h5 a:hover,
#cyanblue-contact-section h5 a:focus,
#cyanblue-contact-section h5 a:active,
#cyanblue-contact-section h5 a:visited {
  color: #000000 !important;
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
  #cyanblue-product-batch span br {
    display: none;
  }
  #cyanblue-product-batch span {
    padding: 15px 0;
    width: 89%;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  #cyanblue-product-batch span {
    padding-left: 100px !important;
  }
}
@media only screen and (max-width: 1023px) {
  #cyanblue-contact-info-section .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0;
  }
  div#cyanblue-contact-info-section .col-12:nth-child(1) p {
    color: #000000;
  }
  #cyanblue-promo-title h5 {
    color: #000000 !important;
  }
  div#cyanblue-contact-info-section .col-12:nth-child(1) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  div#cyanblue-contact-info-section .col-12:nth-child(2) {
    background: #d9d9d6;
  }
  #cyanblue-contact-info-section .button {
    text-align: center;
  }
  #skyblue-btn,
  #cyanblue-btn, #cyanblue-btn-duplicate {
    max-width: 300px;
  }

  #cyanblue-contact-info-section .a-link {
    width: 80%;
    margin: 0 auto;
  }
  #cyanblue-contact-info-section .m-popup {
    width: 100%;
    text-align: center;
  }
  #cyanblue-contact-section h5,
  #cyanblue-contact-section p {
    color: #000000 !important;
  }
  div#cyanblue-column-container-image-text .o-features-card__content {
    width: 53%;
    position: relative;
    z-index: 2;
    min-height: 150px;
  }
  div#cyanblue-column-container-image-text .o-features-card__image {
    width: 47%;
    position: relative;
    top: -12px;
  }
  div#cyanblue-column-container-image-text .o-features-card__block {
    display: flex;
  }
  div#cyanblue-column-container-image-text .o-features-card__image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #004f71;
    top: 30px;
    z-index: 1;
    right: 0;
  }
  div#cyanblue-column-container-image-text .o-features-card__image:after {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    border: 1px solid #004f71;
    position: absolute;
    right: -4px;
    top: 25px;
    background-color: #fff;
    z-index: 9;
  }
  div#cyanblue-column-container-image-text .o-features-card__image .image {
    position: absolute;
    z-index: 3;
  }
  div#cyanblue-column-container-image-text .col-12:before {
    content: " ";
    width: 1px;
    height: 100%;
    position: absolute;
    right: 53%;
    z-index: 1;
    background-color: #004f71;
  }
  div#cyanblue-column-container-image-text .description.text {
    padding: 0 0 0 1rem;
  }
  div#cyanblue-column-container-image-text .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 0;
    margin-bottom: 0;
  }
  #cyanblue-contact-info-section.container {
    max-width: 100%;
  }
  #cyanblue-column-container-image-text
    .columncontrol__column:last-child
    .o-features-card__title {
    height: auto !important;
  }
  #cyanblue-column-container-image-text
    .columncontrol__column:last-child
    .o-features-card__content {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  #cyanblue-contact-section p {
    width: 86%;
    margin: 0 auto 1rem auto;
  }
  #cyanblue-contact-info-section.container {
    max-width: 100%;
    background: #ffffff;
    padding: 30px;
  }
  #cyanblue-contact-info-section .col-12 {
    max-width: 36%;
    margin: 0 auto;
  }
  div#cyanblue-column-container-image-text .o-features-card__content h4 {
    font-size: 20px;
    line-height: 27.8px;
    font-family: "brandon_text_regular", Arial, sans-serif;
  }
  div#cyanblue-column-container-image-text .o-features-card__content p {
    font-size: 18px;
    line-height: 25.02px;
    font-family: "brandon_text_regular", Arial, sans-serif;
    font-weight: 400;
  }
  div#cyanblue-contact-info-section .row {
    max-width: 1110px;
    margin: 0 auto;
  }
  #cyanblue-contact-info-section .button {
    text-align: center;
    display: block;
  }
  #cyanblue-contact-info-section .a-link {
    width: 65%;
  }
  #skyblue-btn,
  #cyanblue-btn,#cyanblue-btn-duplicate {
    max-width: 65%;
  }
  button#cyanblue-product-batch:after {
    display: none;
  }
  #cyanblue-product-batch span {
    width: 92.5%;
  }
  #cyanblue-promo-title h5 {
    color: #000000;
  }
}
@media only screen and (min-width: 1200px) {
  div#cyanblue-column-container-image-text .o-features-card__content h4 {
    border-radius: 16px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199.99px) {
  div#cyanblue-column-container-image-text .o-features-card__content h4 {
    font-size: 18px;
    line-height: 25.8px;
    font-family: "brandon_text_regular", Arial, sans-serif;
    font-weight: 700;
  }
  div#cyanblue-column-container-image-text .o-features-card__content p {
    font-size: 16px;
    line-height: 23.02px;
    font-family: "brandon_text_regular", Arial, sans-serif;
    font-weight: 400;
  }
}
@media only screen and (min-width: 320px) and (max-width: 374.99px) {
  div#cyanblue-column-container-image-text .o-features-card__content h4 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 390.99px) and (max-width: 767.99px) {
  button#cyanblue-product-batch:after {
    right: 53.2%;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1023px) {
  button#cyanblue-product-batch:after {
    right: 53.2%;
  }
}
