.articletags {
  display: flex;
  align-items: center;
  font-family: Georgia, sans-serif, Calibri;
  margin: 15px 0;
  margin-bottom: 50px;
}
.articletags .article-tags {
  text-align: left;
  overflow: hidden;
  color: #222731;
  margin-left: 5px;
}

.article-tags .article-tags__tag {
  display: inline-block;
  font-size: .875rem;
  line-height: 20px;
  color: #004f71;
}

.article-tags .article-tags__tag:hover, .article-tags .article-tags__tag:focus, .article-tags .article-tags__tag:active {
  text-decoration:none; 
  color:#009cde;
} 

.articletags .abt-icon-default-tag:before {
  background: url(../../../clientlib-site/resources/images/tags-icon.svg);
  content: '';
  display: block;
  width: 18px;
  height: 16px;
  background-size: 110px;
}

@media screen and (max-width: 767px){
  .articletags {
  align-items: flex-start;
  }
  .articletags .abt-icon{
  margin-top:5px;
  }
  .abt-icon-default-tag {
      margin-top: 5px;
  }
}

