@import 'media-queries.less';
@import 'variables.less';
@import 'mixin.less';

@font-face {
    font-family: "brandon_grotesqueblack";
    src: url("../../resources/fonts/brandon/brandongrotesque-black-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-black-webfont.woff")
        format("woff");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "brandon_grotesquebold";
    src: url("../../resources/fonts/brandon/brandongrotesque-bold-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-bold-webfont.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "brandon_grotesquebold_italic";
    src: url("../../resources/fonts/brandon/brandongrotesque-bolditalic-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-bolditalic-webfont.woff")
        format("woff");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "brandon_grotesquemedium";
    src: url("../../resources/fonts/brandon/brandongrotesque-medium-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-medium-webfont.woff")
        format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "brandon_grotesquemedium_italic";
    src: url("../../resources/fonts/brandon/brandongrotesque-mediumitalic-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-mediumitalic-webfont.woff")
        format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "brandon_grotesqueregular";
    src: url("../../resources/fonts/brandon/brandongrotesque-regular-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-regular-webfont.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "brandon_grotesqueregular_italic";
    src: url("../../resources/fonts/brandon/brandongrotesque-regularitalic-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-regularitalic-webfont.woff")
        format("woff");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "brandon_grotesquelight";
    src: url("../../resources/fonts/brandon/brandongrotesque-light-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-light-webfont.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "brandon_grotesquelight_italic";
    src: url("../../resources/fonts/brandon/brandongrotesque-lightitalic-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-lightitalic-webfont.woff")
        format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "brandon_grotesquethin";
    src: url("../../resources/fonts/brandon/brandongrotesque-thin-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-thin-webfont.woff")
        format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "brandon_grotesquethin_italic";
    src: url("../../resources/fonts/brandon/brandongrotesque-thinitalic-webfont.woff2")
        format("woff2"),
      url("../../resources/fonts/brandon/brandongrotesque-thinitalic-webfont.woff")
        format("woff");
    font-weight: 100;
    font-style: italic;
  }

h1,
.h1,
h2,
.h2,
h3,
.h3,
.h2-display {
    margin-bottom: 1.25rem;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 0.625rem;
}

h1,
.h1 {
    @media @lg-only {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    @media @md-down {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

h2,
.h2 {
    @media @lg-only {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    @media @md-down {
        font-size: 1.75rem;
        line-height: 2.125rem;
    }
}

h3,
.h3 {
    @media @lg-down {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h4,
.h4 {
    @media @lg-only {
        font-size: 1.25rem;
    }

    @media @md-down {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

h5,
.h5 {
    @media @lg-down {
        font-size: @font-size-18;
        line-height: 1.5rem;
    }
}

h6,
.h6 {
    @media @lg-down {
        line-height: 1.5rem;
    }
}

.h2-display {
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: var(--heading-2-font-family);

    @media @lg-only {
        font-size: 2.625rem;
        line-height: 2.875rem;
    }

    @media @md-down {
        font-size: 2.25rem;
        line-height: 2.625rem;
    }
}

/** Japan Typography Starts**/

h1:lang(ja), .h1:lang(ja), .h1-hero:lang(ja), .richtext.text .xxl:lang(ja) {
  font-size: 3rem !important;
  line-height: 3.875rem !important;
  font-family: "brandon_grotesquelight", "meiryo", Arial, sans-serif !important;
  margin-bottom: 20px !important;
  letter-spacing: -0.8px !important;
}

@media (max-width: 767.98px) {
  h1:lang(ja), .h1:lang(ja), .h1-hero:lang(ja), .richtext.text .xxl:lang(ja) {
      font-size: 2rem !important;
      line-height: 2.5rem !important;
      font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   h1:lang(ja), .h1:lang(ja), .h1-hero:lang(ja), .richtext.text .xxl:lang(ja) {
      font-size: 2.25rem !important;
      line-height: 2.875rem !important;
      font-family: "brandon_grotesquelight", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
      letter-spacing: -0.4px !important;
  }
}

.richtext.text .xl:lang(ja) {
  font-size: 2.625rem !important;
  line-height: 3.375rem !important;
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  margin-bottom: 20px !important;
  letter-spacing: -0.4px !important;
}

@media (max-width: 767.98px) {
.richtext.text .xl:lang(ja) {
      font-size: 1.875rem !important;
      line-height: 2.5rem !important;
      font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
.richtext.text .xl:lang(ja) {
      font-size: 2rem !important;
      line-height: 2.625rem !important;
      font-family: "brandon_grotesquelight", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

h2:lang(ja), .h2:lang(ja), .richtext.text .large:lang(ja) {
  font-size: 2rem !important;
  line-height: 2.625rem !important;
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  margin-bottom: 20px !important;
  letter-spacing: -0.8px !important;
}

@media (max-width: 767.98px) {
  h2:lang(ja), .h2:lang(ja), .richtext.text .large:lang(ja) {
      font-size: 1.625rem !important;
      line-height: 2.25rem !important;
      font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h2:lang(ja), .h2:lang(ja), .richtext.text .large:lang(ja) {
      font-size: 1.75rem !important;
      line-height: 2.375rem !important;
      font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

h3:lang(ja), .h3:lang(ja), .richtext.text .medium:lang(ja) {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  margin-bottom: 20px !important;
}

@media (max-width: 767.98px) {
  h3:lang(ja), .h3:lang(ja), .richtext.text .medium:lang(ja) {
      font-size: 1.375rem !important;
      line-height: 2rem !important;
      font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h3:lang(ja), .h3:lang(ja), .richtext.text .medium:lang(ja) {
      font-size: 1.375rem !important;
      line-height: 1.875rem !important;
      font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
      margin-bottom: 20px !important;
  }
}

h4:lang(ja), .h4:lang(ja), .richtext.text .small:lang(ja) {
  font-size: 1.125rem !important;
  line-height: 1.625rem !important;
  font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
  margin-bottom: 10px !important;
  font-weight: 700 !important;
}

@media (max-width: 767.98px) {
  h4:lang(ja), .h4:lang(ja), .richtext.text .small:lang(ja) {
      font-size: 1.125rem !important;
      line-height: 1.5rem !important;
      font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
      margin-bottom: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h4:lang(ja), .h4:lang(ja), .richtext.text .small:lang(ja) {
      font-size: 1.125rem !important;
      line-height: 1.5rem !important;
      font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
      margin-bottom: 10px !important;
  }
}

h5:lang(ja), .h5:lang(ja), .richtext.text .xs:lang(ja) {
  font-size: 0.875rem !important;
  line-height: 1.375rem !important;
  font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
  margin-bottom: 10px !important;
  font-weight: 700 !important;
}

@media (max-width: 767.98px) {
  h5:lang(ja), .h5:lang(ja), .richtext.text .xs:lang(ja) {
      font-size: 0.875rem !important;
      line-height: 1.25rem !important;
      font-family: "brandon_grotesquemedium", "meiryo", Arial, sans-serif !important;
      margin-bottom: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h5:lang(ja), .h5:lang(ja), .richtext.text .xs:lang(ja) {
      font-size: 0.875rem !important;
      line-height: 1.25rem !important;
      font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
      margin-bottom: 10px !important;
  }
}

h6:lang(ja), .h6:lang(ja), .richtext.text .xxs:lang(ja) {
  font-size: 0.75rem !important;
  line-height: 1.375rem !important;
  font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
  margin-bottom: 10px !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

@media (max-width: 767.98px) {
  h6:lang(ja), .h6:lang(ja), .richtext.text .xxs:lang(ja) {
      font-size: 0.75rem !important;
      line-height: 1.125rem !important;
      font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
      margin-bottom: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h6:lang(ja), .h6:lang(ja), .richtext.text .xxs:lang(ja) {
      font-size: 0.75rem !important;
      line-height: 1.125rem !important;
      font-family: "brandon_grotesquebold", "meiryo", Arial, sans-serif !important;
      margin-bottom: 10px !important;
  }
}

body:lang(ja) {
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  font-size: 0.875rem !important;
  line-height: 1.375rem !important;
  margin-bottom: 10px !important;
}

.introPP:lang(ja), .body-large:lang(ja) {
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  margin-bottom: 10px !important;
}

.body-default:lang(ja) {
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  font-size: 0.875rem !important;
  line-height: 1.375rem !important;
  margin-bottom: 10px !important;
}

.body-small:lang(ja) {
  font-family: "brandon_grotesqueregular", "meiryo", Arial, sans-serif !important;
  font-size: 0.75rem !important;
  line-height: 1.125rem !important;
  margin-bottom: 10px !important;
}

.card:lang(ja) {
  font-family: "brandon_grotesqueregular", "meiryo_italic", Arial, sans-serif !important;
  font-size: 0.875rem !important;
  line-height: 1rem !important;
  margin-bottom: 10px !important;
}
.caption-Title:lang(ja) {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.caption:lang(ja) {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

/** Japan Typography Ends **/

sup, sub{
  position: relative;
  font-size: 48%;
  line-height: 0;
}

sup{
  top: 0em;
  vertical-align: super;
}

sub{
  bottom: 0em;
  vertical-align: sub;
}

blockquote {
    font-size: @font-size-18;
    line-height: 1.5rem;
    margin: 1rem 3rem;
}

pre {
    font-family: 'Courier New', monospace;
    font-size: @font-size-18;
    line-height: 1.5rem;
}
.ctasection .o-cta-section .o-cta-section__title h3, .ctasection .o-cta-section .o-cta-section__sub-title h4, .ctasection .o-cta-section .o-cta-section__content p {
    color: #000 !important;
}
.responsivegrid .aem-Grid > .aem-GridColumn:not(.experiencefragment) {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.a-pan-zoom{
    .modal-heading{
        p{
            font-family: @brandonregular;
        }
    }
    .a-pan-zoom__pan-container__content{
        p{
         font-family: @brandonregular;
         }
     }
     .modal{
        background: rgba(0,0,0,0.5);
    }
} 
.m-iconcta{
  .m-iconcta-title{
    h1,h2,h3,h4,h5,h6,p{
      font-family: @brandonregular !important;
      letter-spacing: 0 !important;
      font-size: 28px !important;
      line-height: 34px !important;
      @media @md-up{
        font-size: 30px !important;
        line-height: 36px !important;
        }
      @media @lg-up{
      font-size: 36px !important;
      line-height: 44px !important;
      }
    }
  }
    .vertical-ruler{
       .m-iconcta--button{
           font-size: 16px !important;
           line-height: 18px !important;
         }
        p{
            font-family: @brandonmedium;
            font-size: 18px !important;
            line-height: 24px !important;
            }
            .default-ratio{
              width: 100px !important;
            }
    } 
    .horizontal-ruler{
    p,h1,h2,h3,h4,h5,h6{
        font-family: @brandonmedium;
        font-size: 18px !important;
        line-height: 24px !important;
        @media @md-up{
          font-size: 18px !important;
          line-height: 26px !important;
        }
        @media @lg-up{
          font-size: 22px !important;
          line-height: 28px !important;
        }
    }
    .horizontal-ruler__icon-cta-alttext{
        font-family: @brandonmedium;
        }
    } 
    .m-iconcta--button{
        font-family: @brandonbold;
        text-transform: uppercase;
    }
}
.row{
  .col-md-8,.col-md-9,.col-md-10,.col-md-11{
     .m-iconcta {
        .horizontal-ruler {
            .cta-description-right{
                margin-right: auto !important;
            }
        }
      }
   }
}
  
a{
    cursor: pointer;
}
.xf-content-height {
  min-height: inherit !important;
}
.cmp-gatewaybanner{
  .true-margin-top{
    margin-top: 0px;
  }
  .true-margin-bottom{
    margin-bottom: 0px;
  }
} 
.a-floatingactionbutton {
  &__floating-button {
    .full-width-small {
  line-height: 16px !important;
}
}
    .right-aligned {
        .a-floatingactionbutton__floating-button__primary-button {
          &:focus {
            background: @color-cvlink;
            box-shadow: 0px 0px 15px 1px rgba(21, 155, 215, 50%);
            color: @color-white;
            outline: none;
          }
        }
        .a-floatingactionbutton__floating-button__secondary-button {
            &:focus {
              background: @color-pantone;
              box-shadow: 0px 0px 15px 1px rgba(21, 155, 215, 50%);
              color: @color-cyan;
              outline: none;
            }
          }
          .a-floatingactionbutton__floating-button__tertiary-button {
            &:focus {
              background: @color-cyan;
              box-shadow: 0px 0px 15px 1px rgba(21, 155, 215, 50%);
              color: @color-white;
              outline: none;
            }
          }
      }
  .a-floatingactionbutton__floating-button__primary-button{
    &:focus{
          background: @color-white;
          box-shadow: 0px 2px 8px rgba(21,155,215,50%);
          color: @color-cvlink;
          border: 1px solid @color-cvlink;
          outline: none;
      }
}
}

.accordion{
  .m-accordion__content-items{
  border-color: @color-light-gray;
      .m-accordion__header{
          .m-accordion__title-wrapper{
              padding-top:17px;
              padding-bottom:19px;
              padding-left:24px;
              h1,h2,h3,h4,h5,h6{
                font-family: @brandonmedium;
                font-size: 20px;
                line-height: 26px;
                color: @color-charcoal;
                  @media @md-up{
                    line-height: 28px;
                  }
                  @media @lg-up{
                    font-size: 22px;
                  }
              }
          }
          .m-accordion__icon-wrapper{
              padding:0px 24px;
              .abt-icon{
                  font-size:16px;
                  color: @color-cvlink;
              }
              }
      }
      .m-accordion__body{
          padding-left:24px;
          padding-right:64px;
          @media @md-up{
            padding-right:55px;
          }
          @media @lg-up{
            padding-right:64px;
          }
      }
  }
}
.container{
  .abbott-breadcrumb{
    margin-bottom: 0px !important;
    .container{
      padding-top: 0px !important;
    }
  }
  .richtext{
    margin-top: 0px !important;
  }
}
.m-card.m-card-dark{
  &:hover{
    a{
      color: @color-cvlink !important;
    }
  }
  a {
    color: @color-Blizzard-Blue !important;
  }
}
.m-card {
  .m-card__body{
    .cmp-download{
      a {
        font-family: @brandonmedium;
        line-height: 15px;
      }
      .cmp-download__title{
        padding-bottom:0px !important;
        margin-bottom:0px !important;
      }
    }
  }
     &__title {
        font-family: @brandonmedium;
        font-size: 22px;
        line-height: 28px !important;        
      }   
      &__description p {
        font-family: @brandonregular;
        font-size: 18px;
        line-height: 24px;
          a {
              font-family: @brandonmedium;
              font-size: 14px;
              color: @color-cvlink !important;
              line-height: 15px;
            }   
    }
    .nonClickableLink{
      font-weight: 500;
      font-family: @brandonmedium;
    }
    &.m-card-light,&.m-card-default,&.m-card-dark{
      .a-link{
        a{
          font-weight: 500 !important;
          font-family: @brandonmedium;
        }
    }
  }
}
b,strong {
  font-family: @brandonbold;
  font-weight: 700;
}
.bolder {
  font-family: @brandonblack;
  font-weight: 900;
}
.o-cta-section{
  .o-cta-section__button-wrap{
    align-items: stretch !important;
  }
} 
body{
.row{ 
  .col-md-8,.col-md-9,.col-md-10,.col-md-11{   
    .m-iconcta {     
      .horizontal-ruler {     
        .cta-description-right{       
            margin-right: 45px !important;      
            @media @lg-only {
              margin-right: auto !important; 
            }
            }    
          }  
        } 
      }
    }
}
@media @xl-only {
.m-iconcta {
  .vertical-ruler{
     p{
      margin: 0 0 16px 0 !important;
     }
     }
  .horizontal-ruler {
    display: flex;
    align-items: center;
    padding: 24px 16px 24px 0px;
    .cta-description-right {
      margin-right: 24px;
    }
    .cta-description-left {
      margin-right: 30px;
    }
    &__card-right {
      margin-left: auto;
    }
    &__icon-cta-title {
      padding-left: 0;
      padding-right: 0;
    }
    &__icon-cta-image {
      margin-left: 0;
      text-align: center;
      width: 100px;
      img {
        max-width: 100%;
      }
      .default-ratio {
        width: auto;
        max-width: 100%;
      }
    }
    &__icon-cta-alttext {
      p {
        margin-bottom: 0;
        padding-right: 30px;
        min-width: 25%;
      }
    }
    &__icon-cta-button {
      text-align: center;
      width: 180px;
    }
  }
}
}
.responsivegrid {
	.aem-Grid {
		.container.a-container {
			.cmp-container {
				>div {
					&:not(.experiencefragment) {
						margin-top: 0px !important;
						margin-bottom: 0px !important;
					}
          &.container{
            &.a-container{
              &.container{
                &--mt{
                  margin-top: 48px !important;
                }
                &--mb{
                  margin-bottom: 48px !important;
                }
              }
            }
          }
				}
				>article {
					margin-top: 0px !important;
					margin-bottom: 0px !important;
				}
			}
		}
    .columncontrol{
      .row {
        >[class*="col-"]{
          >div {
            &:not(.experiencefragment) {
              margin-top: 0px !important;
						  margin-bottom: 0px !important;
            }
          }
        }
      }
    }
	}
}
.o-cta-section__content{
  p{
    font-family: @brandonregular !important;
  }
}
.videocarousel{
      .o-video-carousel-heading{
        >h1, >h2, >h3, >h4, >h5, >h6, >p, >blockquote, >pre {
            font-family: @brandonmedium !important;
            font-weight: 500 !important;
        }
      }
}
.modal.generic-modal{
    .generic-modal__content-body{
      padding-left: 0 !important;
      padding-right: 0 !important;
      line-height: 0;
    }
    .generic-modal__content-footer{
      display:none;
    }
  }
  .generic-modal{
    &.generic-modal--image{
      .brightCove-video{
      .vjs-big-play-button {
        @media @lg-down{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        }
        @media @lg-only{
          .vjs-icon-placeholder::before{
            top: -3px;
          }
        }
        @media @md-down{
          width: 46px !important;
          height: 46px !important;
          .vjs-icon-placeholder::before{
            top: -25px;
            left: 2px;
          }
        }
      }
    }
  }
}
