.button-style(@bg-color, @color, @border) {
    background-color: @bg-color;
    color: @color;
    border: @border;
}

.button-hover-style(@bg-color, @color, @box-shadow) {
    background-color: @bg-color;
    color: @color;
    box-shadow: @box-shadow;
}

.button-active-style(@bg-color, @color) {
    background-color: @bg-color;
    color: @color;
}