.m-cookiebar {
    --cookie-bar-bg: #000;
    --cookie-bar-padding: 28px 32px;
    --cookie-bar-border-radius: 0px;
    border-radius: var(--cookie-bar-border-radius);
    padding: var(--cookie-bar-padding);
    background-color: var(--cookie-bar-bg);
    -webkit-transition: var(--cookie-bar-transition);
    transition: var(--cookie-bar-transition);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    min-height: 80px;
    display: flex;
    .container {
        width: 100%;
        max-width: 100% !important;
    }
    .row {
        width: 100% !important;
    }
    
    &.hide {
        /*bottom: -100%; */
        bottom: -0% !important;
    }
    @media (min-width: 1440px){
        .m-cookiebar__text {
            display: flex;
            .cmp-title__text {
                min-height: 28px;
                min-width: 135px;
                color: @color-white;
                font-family: @font-family-default;
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
                margin-left: 15px;
          }
        }
    }
    @media (max-width: 767.98px) {
        .a-button > .btn {
            padding-left: 0;
            padding-right: 0;
        }
        .m-cookiebar__text{
            display: block;
        }
    }

    @media (min-width: 768px){
        .m-cookiebar__text{
            display: flex;
        }
    }

    .m-cookiebar__text {
        display: flex;
       a {
        color: #009cde !important;
        font-family: @font-family-default;
        font-size: 18px;
        font-weight: bold;
        margin-left: 22px;
        line-height: 20px;
      }
        .cmp-title__text {
            min-height: 28px;
            min-width: 135px;
            color: @color-white ;
            font-family: @font-family-default;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            margin-top: 0.4rem;
        }
        p {
            --cookies-para-color: #ffffff;
            --cookies-para-font-size: 16px;
            --cookies-para-line-height: 23px;
            --cookie-bar-text-margin-right: 5px;
            --cookie-bar-text-margin-left: 80px;
            font-size: var(--cookies-para-font-size);
            line-height: var(--cookies-para-line-height);
            color: var(--cookies-para-color);
            text-transform: none;
            font-weight: normal;
            margin-right: var(--cookie-bar-text-margin-right);
            margin-left: var(--cookie-bar-text-margin-left);
            display: inline-block;
            margin-bottom: 0;
        }
        .a-link__text {
            --cookie-link-font-size:18px;
            font-size: var(--cookie-link-font-size);
            text-transform: inherit;
            font-weight: bold;
            height: 20px;
            width: 91px;
            color: #009cde;
            font-family: @font-family-default;
            line-height: 20px;
            margin-left: 22px;
        }
    }
    .m-cookiebar__btn{
        position: relative;
        margin: 0 auto;
    
        .a-button{
            color: #000;
            font-family: @font-family-default;
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 35px;
            box-sizing: border-box;
            height: 60px;
            width: 100px;
            position: absolute;
            top: -0.5rem;
            right: 0;
            border: 1px solid #ffd100;
            border-radius: 4px;
            background-color: #fff;
        }
    }
    @media (min-width: 510px) and (max-width: 768px){
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 95.33333%;
            flex: 0 0 95.33333%;
            max-width: 95.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                box-sizing: border-box;
                height: 30px;
                width: 100px;
                position: absolute;
                top: -6.6rem;
                right: 0;
                border: 1px solid #ffd100;
                border-radius: 4px;
                background-color: #fff;
            }
        }
    }
    @media (min-width: 896px) and (max-width: 899px){
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 97.33333%;
            flex: 0 0 97.33333%;
            max-width: 97.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                box-sizing: border-box;
                height: 30px;
                width: 100px;
                position: absolute;
                top: -7rem;
                right: 50px;
            }
        }   
    }
    @media (min-width: 712px) and (max-width: 765px){
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                box-sizing: border-box;
                padding-left:2px;
                height: 30px;
                width: 100px;
                position: absolute;
                top: -7rem;
                right: 0;
            }
        }   
    }
    @media (min-width: 820px) and (max-width: 829px){ 
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 97.33333%;
            flex: 0 0 97.33333%;
            max-width: 97.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                box-sizing: border-box;
                height: 50px;
                width: 100px;
                position: absolute;
                top: -7rem;
                right: 0;
            }
        }  
    }
    @media (min-width: 830px) and (max-width: 1024px){
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 97.33333%;
            flex: 0 0 97.33333%;
            max-width: 97.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                box-sizing: border-box;
                height: 50px;
                width: 100px;
                position: absolute;
                top: -5rem;
                right: 0;
            }
        }   
    }
    @media (min-width: 896px) and (max-width: 899px){
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 97.33333%;
            flex: 0 0 97.33333%;
            max-width: 97.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                box-sizing: border-box;
                height: 30px;
                width: 100px;
                position: absolute;
                top: -6.6rem;
                right: 0;
            }
        }   
    }
    @media (max-width:375px) and (min-width: 370px){
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 97.33333%;
            flex: 0 0 97.33333%;
            max-width: 97.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                box-sizing: border-box;
                height: 50px;
                width: 100px;
                position: absolute;
                top: -9.5rem;
                padding-left:2px;
                right: 0;
            }
        }   
    }
    @media (max-width:320px){
        .m-cookiebar__text{
            display: block !important;  
            -ms-flex: 0 0 97.33333%;
            flex: 0 0 97.33333%;
            max-width: 97.33333%; 
            p{
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 5px;
                --cookie-bar-text-margin-left: 0px;
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                display: inline-block;
                margin-bottom: 0;
            }    
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                box-sizing: border-box;
                height: 50px;
                width: 100px;
                position: absolute;
                top: -10.5rem;
                padding-left:2px;
                right: -8px;
            }
        }   
    }
    @media (min-width: @screen-lg){
        .col-lg-8{
            flex: 0 0 90%;
            max-width: 90%;
        }
    }
    
    @media (max-width: @screen-sm) and (min-width: 380px){
        
        .m-cookiebar__text {
            -webkit-box-flex: 0;
            -ms-flex: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            display: block !important; 
            p {
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 2px; 
                --cookie-bar-text-margin-left: 0px; 
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                margin-bottom: 0;
                display: block !important; 
                
            }      
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 0;
                box-sizing: border-box;
                height: 40px;
                width: 100px;
                position: absolute;
                top: -7rem;
                right: 0;
                border: 1px solid #ffd100;
                border-radius: 4px;
                background-color: #fff;
            }
        }
    }
    @media (max-width: 390px) and (min-width: 380px){
        .m-cookiebar__text {
            -webkit-box-flex: 0;
            -ms-flex: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            display: block !important; 
        }
        
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 0;
                box-sizing: border-box;
                height: 40px;
                width: 100px;
                position: absolute;
                top: -9rem;
                right: 0;
                border: 1px solid #ffd100;
                border-radius: 4px;
                background-color: #fff;
            }
        }
    }
    @media (max-width: 360px) and (min-width: 358px){
        
        .m-cookiebar__text {
            -webkit-box-flex: 0;
            -ms-flex: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            display: block !important; 
            p {
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 2px; 
                --cookie-bar-text-margin-left: 0px; 
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                margin-bottom: 0;
                display: block !important; 
                
            }
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 0;
                box-sizing: border-box;
                height: 40px;
                width: 100px;
                position: absolute;
                top: -9rem;
                right: 0;
                border: 1px solid #ffd100;
                border-radius: 4px;
                background-color: #fff;
            }
        }
    }
    @media (max-width: 280px){
       
        .m-cookiebar__text {
            -webkit-box-flex: 0;
            -ms-flex: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            display: block !important; 
            p {
                --cookies-para-color: #fff;
                --cookies-para-font-size: 16px;
                --cookies-para-line-height: 23px;
                --cookie-bar-text-margin-right: 2px; 
                --cookie-bar-text-margin-left: 0px; 
                font-size: var(--cookies-para-font-size);
                line-height: var(--cookies-para-line-height);
                color: var(--cookies-para-color);
                text-transform: none;
                font-weight: normal;
                margin-right: var(--cookie-bar-text-margin-right);
                margin-left: var(--cookie-bar-text-margin-left);
                margin-bottom: 0;
                display: block !important; 
                
            }
        }
        .m-cookiebar__btn {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            .a-button {
                color: #000;
                font-family: @font-family-default;
                font-size: 18px;
                font-weight: bold;
                line-height: 2px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 0;
                box-sizing: border-box;
                height: 40px;
                width: 100px;
                position: absolute;
                top: -9rem;
                right: 0;
                left: 150px;
                border: 1px solid #ffd100;
                border-radius: 4px;
                background-color: #fff;
            }
        }
    }
}


