.m-hero {
    --hero-content-margin-top: 60px;
    --hero-content-para-margin-top: 20px;
    --hero-content-color: #fff; 
    --hero-color-light: #fff;
    --hero-color-dark: #000;
    --hero-desktop-tall-height: 900px;
    --hero-desktop-medium-height: 600px;
    --hero-desktop-short-height: 150px;
    --hero-tablet-tall-height: 900px;
    --hero-tablet-medium-height: 350px;
    --hero-tablet-short-height: 150px;
    --hero-mobile-tall-height: 1100px;
    --hero-mobile-medium-height: 300px;
    --hero-mobile-short-height: 150px;
    --hero-content-default-width: 100%;
    --hero-content-default-space: 20px;
    --hero-desktop-tall-top-space: 30px;
    --hero-header-para-size: 18px;
    --hero-header-line-height: 50px;
    --hero-header-small-line-height: 36px;
    --hero-header-line-height-para: 24px;
    --hero-header-font-size: 48px;
    --hero-header-small-font-size: 32px;
    --hero-header-font-weight: bold;
    --hero-header-letter-spacing: 0.36px;
    --hero-content-padding-top-tablet: 0px;
    --hero-tablet-medium-content-top-space-dbl: 20px;
    --hero-tablet-medium-content-top-space: 20px;
    --hero-tablet-tall-content-top-space: 10px;

    --hero-tablet-tall-media-height: 200px;
    --hero-tablet-tall-media-height: 300px;
    --hero-mobile-medium-content-top-space-db: 20px;
    --hero-mobile-medium-content-top-space: 20px;
    --hero-mobile-tall-content-top-space: 75px;
    --hero-mobile-tall-media-height: 350px;
    --hero-mobile-content-position: absolute !important;
    --hero-tablet-margin-bottom: 30px;
    --hero-contentpara-margin-top: 20px;
    --hero-contentpara-lineheight: 24px;
    --hero-header-textalignleft: left;

    &__content{
        margin-top: var(--hero-content-margin-top);
	    color: var(--hero-content-color);
    }
    &--media-start {
        .m-hero__content {
            color: var(--hero-content-color);
        }
    }
   
    @media (min-width: @screen-lg ){
         /*search bannder code */
         .m-hero--tall {
            --hero-desktop-tall-height: 600px;
            height: var(--hero-desktop-tall-height);
            min-height: 600px;
        }
        /*search ban code end*/
        .container{
            max-width: 940px !important;
            margin: 0 auto;
        }
        .m-hero__content{
            --hero-content-default-width: 100%;
            --hero-content-default-space: 5px;
        width: var(--hero-content-default-width);
       margin-left: var(--hero-content-default-space);
        }
        .m-hero--tall .m-hero__header {
            font-size: var(--hero-header-font-size);
            line-height: var(--hero-header-line-height);
            letter-spacing: var(--hero-header-letter-spacing);
            font-family: @font-family-default;
            font-weight: @font-weight-bold;
        }
        .m-hero__content .h1-hero {
            font-size: var(--hero-header-font-size);
            line-height: var(--hero-header-line-height);
            letter-spacing: var(--hero-header-letter-spacing);
            font-family: @font-family-default;
            font-weight: @font-weight-bold;
   
        }
        .m-hero__content .h2-hero{
            --hero-header-para-size:18px;
            color: var(--hero-content-color);
            font-family: @font-family-default;
            font-size: var(--hero-header-para-size);
            letter-spacing: 0;
            margin-top: var(--hero-contentpara-margin-top);
            line-height: var(--hero-contentpara-lineheight);
            text-align: var(--hero-header-textalignleft);
        }
            /*seach banner code */
            .m-hero__content .h6{
                font-family: @font-family-default;
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
                text-align: center;
                margin: 0 auto;
                opacity: .8;
                min-width: 105px;
                height: 18px;
                position: absolute;
                top: 160%;
                left: 41%;
                transform: translate(-50%,-50%);
    
            }
         
            /*search banner code end*/
    }

    @media (min-width: @screen-md) and (max-width: @screen-lg){
        &{
            padding-top: var(--hero-content-padding-top-tablet);
        }
        .m-hero__content{
            width: 616px;
            padding-left: 0;
        }
        .m-hero--tall .m-hero__content{
            position: absolute !important;
        }
        .m-hero__content .h1-hero{
            color: var(--hero-content-color);
            font-family: @font-family-default;
            font-size: var(--hero-header-font-size);
            font-weight: var(--hero-header-font-weight);
            letter-spacing: var(--hero-header-letter-spacing);
            line-height: var(--hero-header-line-height);
            text-align: var(--hero-header-textalignleft);
            padding-left: 0px;
        }
        .m-hero__content .h2-hero{
            color: var(--hero-content-color);
            font-family: @font-family-default;
            font-size: var(--hero-header-para-size);
            letter-spacing: 0;
            margin-top: var(--hero-content-para-margin-top);
            line-height: var(--hero-header-line-height-para);
            text-align: var(--hero-header-textalignleft);
            padding-left: 5px;
        }
    }

    @media (max-width: @screen-md){
        .m-hero__content{
            position: absolute !important;
        }
       .m-hero__title + .m-hero__header{
            font-family: @font-family-default;
            font-size: 48px;
            font-weight: bold;
            letter-spacing: .36px;
            line-height: 50px;
            text-align: var(--hero-header-textalignleft); 

        } 
    }
    @media (min-width: 712px) and  (max-width: 765px){
        .m-hero--tall .m-hero__content {
            --hero-mobile-tall-content-top-space: 75px;
            padding-top: var(--hero-mobile-tall-content-top-space);    
        }
        .m-hero__content {   
            padding-right: 10px !important; 
            --hero-mobile-tall-content-top-space: 75px;
            padding-top: var(--hero-mobile-tall-content-top-space) !important;    
        }
    }
    @media (max-width: 767.98px){
        .m-hero--tall .m-hero__media {
            min-height: var(--hero-mobile-tall-media-height);
            object-fit: cover;
            object-position: top;
        }
    .m-hero--tall .m-hero__content {
        padding-top: var(--hero-mobile-tall-content-top-space);    
    }
    .m-hero__content {   
        padding-right: 10px !important;    
    }
    .m-hero__title + .m-hero__header{

        font-family: @font-family-default;
            font-size: var(--hero-header-small-font-size);
            font-weight: bold;
            letter-spacing: .18px;
            line-height: 36px;
            text-align: left;
    }
            .h2-hero{
            color: var(--hero-content-color);
            font-family: @font-family-default;
            font-size: var(--hero-header-para-size);
            letter-spacing: 0;
            margin-top: 20px;
            line-height: var(--hero-header-line-height-para);
            text-align: left;
            margin-right: 10px !important;
            }
}
    @media (max-width: @screen-sm ){
    
        .m-hero--tall .m-hero__content{
            position: absolute !important;
            padding-top: var(--hero-mobile-tall-content-top-space);
            padding-left: 20px !important;
        }
        .m-hero__title + .m-hero__header {
            color: var(--hero-content-color);
            font-family: @font-family-default;
            font-size: var(--hero-header-small-font-size);
            font-weight: bold;
            letter-spacing: .18px;
            line-height: var(--hero-header-small-line-height);
            text-align: var(--hero-header-textalignleft);
            padding-right: 20px;
            padding-left: 0;
        }
        .m-hero__content .h2-hero {
            color: var(--hero-content-color);
            font-family: @font-family-default;
            font-size: var(--hero-header-para-size);
            letter-spacing: 0;
            margin-top: 20px;
            line-height: var(--hero-contentpara-lineheight);
            text-align: var(--hero-header-textalignleft);
            padding-right: 40px;
            padding-left: 5px;
        }  
        .m-hero__body{
            padding-right: 25px;
        }
        .d-xs-block{
            display: block !important;
        }
    }
    /*IPAD Air */
    @media (min-width: @screen-md) and (max-width: 991.98px){
        .m-hero__content {
                --hero-tablet-tall-content-top-space: 10px;
                padding-top: var(--hero-tablet-tall-content-top-space);
                position: absolute !important;
                margin-left: -15px !important;
            }
    } 
    .m-search-bar{
        background-color: none;
    } 
}

@media (min-width: @screen-lg){
    .m-hero--short{
        min-height: 60px !important;
        height: auto !important;
        max-height: var(--hero-desktop-short-height);
    }
    //designing for tall - used in elabeling page and product category page
    .m-hero--tall{
        --hero-desktop-medium-height: 300px;
        min-height: var(--hero-desktop-medium-height);
        height: auto !important;
        max-height: var(--hero-desktop-tall-height);
    }
}
@media (min-width: @screen-md) and (max-width: 991.98px){
    .m-hero--short{
        min-height: 60px;
        height: auto !important;
        max-height: var(--hero-tablet-short-height);
    }
    .m-hero--medium{
        min-height: var(--hero-tablet-short-height);
        height: auto !important;
        max-height: var(--hero-tablet-medium-height);
    }
    //designing for tall - used in elabeling page and product category page
    .m-hero--tall{
        min-height: var(--hero-tablet-medium-height);
        height: auto !important;
        max-height: var(--hero-tablet-tall-height);
    }
}
@media (max-width: @screen-md){
    .m-hero--short{
        min-height: 60px;
        height: auto !important;
        max-height: var(--hero-desktop-short-height);
    }
    .m-hero--medium{
        min-height: var(--hero-desktop-short-height);
        height: auto !important;
        max-height: var(--hero-desktop-medium-height);
    }
    //designing for tall - used in elabeling page and product category page
    .m-hero--tall{
        min-height: var(--hero-mobile-medium-height);
        height: auto !important;
        max-height: var(--hero-mobile-tall-height);
    }
}

/* contact us medium banner */
.m-hero.m-hero--medium{
    --hero-tablet-medium-media-height: 600px;
    --hero-mobile-medium-media-height: 600px;
    overflow: unset;
    .m-hero__extras{
        position: absolute;
        width: 100%;
        .o-wizard__container{
            .o-wizard__btn{
                .a-button{
                    position: relative !important;
                }
            }
        }
    }
    @media (min-width: @screen-md) and (max-width: 991.98px) {
        .m-hero__extras{
            fieldset.drop-down{
                width: 100%;
            }
        }
    }
    @media (max-width: 767.6px) {
        .m-hero__extras{
            fieldset.drop-down{
                width: 100%;
            }
        }
    }
}
