@import "./global/variables.less";
@import "./global/media-queries.less";
@import "./global/mixin.less";

.cookiebar {
  .m-cookiebar {
    border-radius: 0;
    background-color: @color-clay-black;
    padding: @spacer-20 @spacer-10;

    @media @md-up {
      padding: @spacer-20 @spacer-40;
    }

    &__divider {
      margin-left: 50%;
    }

    &__text {
      padding-left: @spacer-12;
      padding-right: 0;

      @media @md-up {
        padding-right: @spacer-12;
      }
    }

    &__btn {
      @media @md-up {
        padding: 0;
      }
    }

    .m-link-stack__country-select {
      margin-left: auto;
      min-width: 110px;

      @media @md-up {
        margin-left: 0;
      }

      .a-link__text {
        margin-left: @spacer;

        @media @md-up {
          margin-left: 0;
        }

        .abt-icon {
          right: @spacer;
          color: @color-white;
          font-size: @spacer-12;
          font-weight: normal;

          @media @md-up {
            right: @spacer-10;
          }
        }
      }
    }

    &__country-select {
      padding-left: @spacer;
      padding-right: @spacer-12;

      @media @md-up {
        padding-left: 0;
        padding-right: 0;
      }

      .m-link-stack__link .a-link {
        margin-left: @spacer;

        @media @md-up {
          margin-left: 0;
        }

        a {
          .font-style(@spacer-12, @spacer-20, .5px);
          color: @color-white;
          font-family: @regular;
          text-align: right;
          text-transform: uppercase;
        }
      }
    }

    &__country-select-label {
      .title-style(@color-white, @spacer-14, @spacer, 1.17px);
      font-weight: normal;
      text-transform: uppercase;
    }

    .a-button .btn {
      height: 56px;
      width: 94px;
      background-color: @color-mint;
      padding: 0;
      color: @color-black;
      border-radius: 0;
      font-family: @bold;
      font-size: @spacer;
      letter-spacing: .42px;
      text-align: center;
      margin-top: 46px;

      @media @md-up {
        margin-top: 10px;
      }
    }

    .row {
      margin: 0 auto;
      max-width: 1200px;
    }

    h3.cmp-title__text,
    .cmp-text p {
      text-align: left;
    }

    h3.cmp-title__text {
      .title-style(@color-white, @spacer-18, @spacer-24, 1px);
    }

    .cmp-text p {
      .font-style(@spacer, @spacer, 0);
      color: @color-white;
      font-family: @regular;

      a {
        .title-style(@color-white, @spacer, @spacer-20, 0);
        text-decoration: underline;
      }
    }
  }
}
