@import "./global/media-queries.less";
@import "./global/variables.less";
@import "./global/mixin.less";

.doc-wrapper {
  .aem-GridColumn {
    margin: 0 !important;
  }
  .container-full-width.container.responsivegrid {
    padding: @spacer-50 0 @spacer-20 !important;

    .cmp-container {
      padding-top: @spacer-64;
      padding-bottom: @spacer-64;
      background-color: @color-dark-white;
      max-width: @full-width;

      .title {
        margin-bottom: 0 !important;

        .cmp-title__text {
          font-family: @helvetica;
          line-height: @spacer-48;
          letter-spacing: normal;
          font-size: @spacer-38;

          @media @md-down {
            font-size: @spacer-24;
            margin-bottom: 0;
          }
        }
      }
      .text {
        margin-top: 0 !important;

        .cmp-text p {
          font-family: @helvetica;
          padding: 0 @spacer;
          .font-style( @font-base, @spacer-24, 0);
        }
      }
    }
  }
  .columncontrol {
    .container {
      .title {
        .cmp-title__text {
          &,
          p {
            font-family: @helvetica;
            font-weight: 400;
            color: @color-black;
            padding-left: @spacer-12;
            .font-style( @spacer-24, @spacer-32, normal);
          }
        }
        + .text {
          margin-top: @spacer-30;

          .cmp-text p {
            text-align: left;
            padding-left: @spacer-40;
          }
        }
      }
      .text {
        .cmp-text p {
          text-align: left;
          font-family: @helvetica;
          .font-style (@font-base, @spacer-24, 0);

          & .letter-spacing {
            letter-spacing: 0.56px;
          }
        }
      }
    }
  }
  a {
    text-decoration: underline;
  }
}
