@import "./global/variables.less";
@import "./global/mixin.less";

.error-msg-sec {
  padding-top: @spacer-100;
  padding-bottom: 297px;

  h2 {
    max-width: 613px;
    color: @color-cerulean;
    font-family: @bold;
    text-align: center;
    margin: 0 auto @spacer-20;
    .font-style(@spacer-40, @spacer-49, 1.87px);
  }

  p {
    max-width: 539px;
    color: @color-clay-black;
    font-family: @regular;
    text-align: center;
    margin: 0 auto;
  }

  a {
    color: @color-cerulean;
    text-decoration: underline;
  }
}
