@import "./global/variables.less";
@import "./global/mixin.less";

.m-social-media {
  flex-wrap: wrap;

  &--title {
    display: block;
    margin-right: @spacer-10;
    margin-top: 0;
    font-family: @bold;
    color: @color-charcoal;
    .font-style(@spacer-18, @spacer-26, 1.38px);
  }
  &--icons {
    margin-bottom: 0;

    .a-logo-comp--link {
      display: inline-block;
      transition: all 0.2s ease-in-out;

      .abt-icon {
        font-size: @spacer-35;
        margin: 0 -@spacer-13 @spacer-5 0;

        &-linkedin-square {
          color: @color-linkedin;
        }
        &-facebook-square {
          color: @color-facebook;
        }
        &-twitter-square {
          color: @color-twitter;
        }
        &-print {
          color: @color-print;
        }
        &-envelope-square {
          color: @color-mail;
        }
      }

      &:focus,
      &:hover {
        transform: translateY(-4px);
        text-decoration: none;
      }
    }
  }
}
