.icon{
  display: inline-flex;
  &--sm{
    svg{
      height: 20px;
      width: 20px;
    }

  }
  &--md{
    svg{
      height: 30px;
      width: 30px;
    }

  }
  &--lg{
    svg{
      height: 40px;
      width: 40px;
    }
  }
}
