<style>
.btn{
  width: 100%;
}
</style>

<div class="container accountLinking">
      <div class="para-content-1 mb-1_875 mt-4">
    <h2>Sign in to Similac® StrongMoms® Rewards</h2>
</div>
<div class="row">
<div class="col-md-12 col-lg-9 M0auto  mb-1_875">
    <div id="accountLinking">
                    </div>
                     
                    </div>
                    </div>
    </div>