<div id = "announcementTemplate"class="announcement-wrapper">
	<div class="container">
		<div class="announcemnet-header">
			<a href="/products.html">
			<p><strong>COVID-19 Update:</strong>To learn more about our promise to parents during this time, and for a list of direct-ship retailers, <strong>Click Here</strong></p></a>
			
			<span>
				<svg viewBox="0 0 100 100" class="sim-icon">
					<use href="#icon-basic-01"></use>
				</svg>
			</span>
		</div>
		</div>
</div>


