
<div class="card hr-card shadow-sm top-border pic-btm-border show-top-border-sm h-100" style="color: {{border_color}};">
    <div class="d-flex">
        <div class="auto-shrink d-none d-md-flex hr-card-image-wrap">
            {{> includes/image
                    image=common.xsmImage
                    custom_class="hr-card-image"
            }}
        </div>
        <div class="auto-expand px-0_938 hr-card-content">
            <h3><a>
                {{title}}
                </a>
            </h3>
            <div class="d-md-flex hr-card-content-sub">
                <div class="auto-expand">
                    <p>
                        {{description}}
                    </p>
                </div>
                <div class="auto-shrink hr-card-buttons pt-md-1">
                    {{#each btn}}
                        {{> includes/button custom_btn_class="" btn_image=this.image btn_href=this.href icon_only="true"}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>