<style>
  .banner {
    padding-top: 1.875rem;
  }

  .pt-space {
    padding-top: 1.875rem;
  }
  .side-sec{
    padding-top: 1.25rem;
  }
  .side-sec li:not(:first-child){
    padding-top: 1rem;
  }
</style>

<div class="banner">
  <h2 class="banner-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.</h2>

  <div class="row pt-space">

    <div class="col-6 col-md-6 banner-image">
      <picture>

        <source media="(max-width: 991px)" data-srcset="resources/img/210_168.jpg">
        <img src="resources/img/540_277.jpg" data-src="resources/img/540_277.jpg" alt="Banner_Image">
      </picture>
    </div>
    <div class="col-6 col-md-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</h3>
      <ul class="side-sec">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
      </ul>

    </div>
  </div>
</div>