<div class="container breadcrumb-container">
  <div class="row">
    <div class="col-12">
      <nav class="cmp-breadcrumb">
        <ol class="cmp-breadcrumb__list">
          <li class="cmp-breadcrumb__item">
            <a href="/Breadcrumb" class="cmp-breadcrumb__item-link">
              <span>
                Breadcrumb
              </span>
            </a>
            <span class="keyboard-right">
              >
            </span>
          </li>
          <li class="cmp-breadcrumb__item">
            <a href="/Breadcrumb" class="cmp-breadcrumb__item-link">
              <span>
                Breadcrumb
              </span>
            </a>
            <span class="keyboard-right">
              >
            </span>
          </li>
          <li class="cmp-breadcrumb__item">
            <a href="/Breadcrumb" class="cmp-breadcrumb__item-link">
              <span>
                Breadcrumb
              </span>
            </a>
            <span class="keyboard-right">
              >
            </span>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>