<div class="card-templ-1 {{this.custom_class}}">
    {{>includes/image image=this.image}}
    <h3>Lorem Ipsum Soler Det Lorem Ipsum Soler</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
</div>