{{!-- <CODE>
		{{#each this}} 
			{{@key}}={{this}} 
		{{/each}}
		</CODE> --}}
<div class="card card-new btm-border pic-btm-border hide-pic-btm-bar-desk show-btm-bar-desk show-pic-desk-only rounded-top-desk h-100"
	{{#if border_color}}style="color: {{this.border_color}}"{{/if}}>
	{{> includes/image
			image=common.smImage 
			border_color="inherit" 
			custom_class=""
	}}
	<div class="card-body">
		<h3>Card title</h3>
		<div class="line-clamp-4">
			<p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
		
		<div class="extra-terms">
			<p><sup>*</sup> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			<sup>†</sup> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="card-buttons text-right">
			{{> includes/button 
					custom_btn_class="" 
					btn_image="cart" 
					btn_href="#" 
					icon_only="true"
			}}
			{{> includes/button 
					custom_btn_class="" 
					btn_image="arrow-right" 
					btn_href="#" 
					icon_only="true"
			}}
		</div>
	</div>
</div>