<div class="card card-offer bg-alice-blue text-center pt-1 pb-2 px-2 h-100">
    <div class="card-body">
    <img src="resources/img/335_110.png" class="w-100 mb-3 px-3">
    <h4 class="font-brandon-bold text-smalt">SAVE $5 </h4>
    <p class="font-brandon-bold text-smalt">Lorem ipsum dolor sit amet, consectetur </p>
    <p class="font-brandon-bold text-tangerine">000-000-000</p>
     <a href="#" class="btn btn-primary col-12 mb-3">
           REDEEM OFFER
        </a>
    <img src="resources/img/235_50.png" class="w-100 mb-3 px-3">
    <p class="footnote font-roboto-reg text-smalt ">Offer available for XX more days.</p>
    </div>
</div>