<div class="row bg-alice-blue py-4 mb-4 mx-0 {{customClass}}">
    <div class="col-4 d-none d-lg-flex">
        <img src="resources/img/255_204.png" class="w-100" />
    </div>
    <div class="col-12 col-lg-8">
        <h3 class="font-brandon-bold text-smalt">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</h3>
        <h5 class="font-roboto-reg text-smalt">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </h5>
        <a href="#" class="btn btn-primary col-12 col-lg-8 mt-3">
            Learn about Subscriptions
        </a>
    </div>
</div>