<div class="custom-table">
    <div class="custom-table__row custom-table__heading">
        <div class="custom-table__cell w-138">
            <p>Age</p>
        </div>
        <div class="custom-table__cell w-228">
            <p>Average number of feedings per day</p>
        </div>
        <div class="custom-table__cell w-237">
            <p>Average amount per feeding</p>
        </div>
    </div>
    <div class="custom-table__row">
        <div class="custom-table__cell w-138">
            <p>Birth to 1 week  </p>
        </div>
        <div class="custom-table__cell w-228">
            <p>6–10</p>
        </div>
        <div class="custom-table__cell w-237">
            <p>2-3 fl oz  </p>
        </div>
    </div>
    <div class="custom-table__row">
        <div class="custom-table__cell w-138">
            <p>Birth to 1 week </p>
        </div>
        <div class="custom-table__cell w-228">
            <p>6–10</p>
        </div>
        <div class="custom-table__cell w-237">
            <p>2-3 fl oz </p>
        </div>
    </div>
    <div class="custom-table__row">
        <div class="custom-table__cell w-138">
            <p>Birth to 1 week </p>
        </div>
        <div class="custom-table__cell w-228">
            <p>6–10</p>
        </div>
        <div class="custom-table__cell w-237">
            <p>2-3 fl oz </p>
        </div>
    </div>
    <div class="custom-table__row">
        <div class="custom-table__cell w-138">
            <p>Birth to 1 week </p>
        </div>
        <div class="custom-table__cell w-228">
            <p>6–10</p>
        </div>
        <div class="custom-table__cell w-237">
            <p>2-3 fl oz </p>
        </div>
    </div>
    
</div>