
<div class="container digitalOfferSignIn">
      <div class="para-content-1 mb-1_875 mt-4">
    <h2>Switching to Amazon Offers?</h2>
    </div>
    {{> includes/reversible-cart-block
                        title=fastregister.blockContent.cartData.title
						description=fastregister.blockContent.cartData.description
						image=fastregister.blockContent.cartData.image
						buttons=fastregister.blockContent.cartData.buttons
						custom_class_left=fastregister.blockContent.cartData.custom_class_left
						custom_class_right=fastregister.blockContent.cartData.custom_class_right
						reversible=fastregister.blockContent.cartData.reversible
						custom_class_top=fastregister.blockContent.cartData.custom_class
    
    
     }}
</div>
<div class="row">
<div class="col-md-12 col-lg-9 M0auto  mb-1_875">
    <div id="digitalOfferRetailerSignIn">
                    </div>
                   
    </div>
                    </div>
                    </div>
    </div>