<div class="disruptor-wrapper">
  <div class="container">
 <div class="row justify-content-center">
  <div class="col-12">
    <p class="disruptor-title text-center"> Lorem ipsum dolor sit amet, adipiscing elit</p>
  </div>
  <div class="col-12 col-md-6 col-xl-5 text-center disruptor-image">
   <picture>
    <source media="(max-width: 575.98px)" data-srcset="./resources/img/345_294.png">
      <source media="(max-width: 991.98px)" data-srcset="./resources/img/330_281.png">
        <img class="" src="./resources/img/445_379.png" data-src="./resources/img/445_379.png" alt="">
      </picture>
    </div>
    <div class="col-12 col-md-6 col-xl-5 disruptor-content">
     {{> includes/list }}
     {{> includes/button primary_button=true btn_text="CTA" custom_btn_class = "" btn_href="#"}}
     <p class="note">* Offers May Vary</p>
     </div>
   </div>
 </div>
 </div>