<style>
  .btn {
    width: 100%;
  }
</style>

<div class="container ecommerceRegistration">
  <div class="para-content-1 mb-1_875 mt-1_875">
    <h2 class="ssm-one-time-purchase">Create an account to complete your purchase</h2>
     <h2 class="ssm-subscription">Complete your Schedule and Save purchase by signing up for Similac® StrongMoms® Rewards</h2>
  </div>
  <div class="row" style="margin-bottom:2.813rem;">
    <div class="col-md-12 col-lg-9 M0auto">
     
        <h3 class="ssm-one-time-purchase">Get an extra 5% off your purchase today when you join the Similac StrongMoms Rewards program.</h3>
<h3 class="ssm-subscription">You've added a product subscription to your cart which requires you to complete your Similac StrongMoms Rewards registration.</h3>
       
      

      <div id="ecommerceRegistration">
      </div>
      

  </div>
  <div class="col-lg-1"></div>
</div>
</div>


</div>
</div>
</div>