<div class="container">
    <p class="find-retailer__title">Where To Buy</p>
    <div class="find-retailer__products-container">
        <p class="find-retailer__products-desc">To find major retailers online and near you that stock the Similac
            products
            you need, simply select the category and type of formula you’re looking for, then enter your location. </p>
        <div class="find-retailer__products"></div>
    </div>
    <div class="find-retailer__find-near-by">
        <p>Find Near By</p>
        <div id="ps_widget" class="ps-widget" ps-sku=""></div>
    </div>
    <div class="find-retailer__find-online">
        <p>Find Online</p>
    </div>
    <div class="find-retailer__contact-us">
        <p class="find-retailer__contact-us-title">Contact Us</p>
        <p class="find-retailer__contact-us-desc">More questions? Contact our Customer Relations Department at (800)
            227-5767, Monday-Friday, 8:30am-5pm EST.
        </p>
    </div>
</div>