
<div class="container mt-1_875 mb-1_875">
    <div class="row ">
       <h2>Forgot your password? <span class="d-block d-md-inline-block">No worries.</span></h2>
        <div class="col-sm-12 col-md-12 col-lg-9 M0auto">
   
   
            <div class="row">

                <div class="col-md-12 col-xs-12 padding0">
                   <div class="successMessage"><p>Success!!</p></div>
                    <div id="forgotPassword">
                    </div>
                   
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>