<header>
	{{> includes/global-error}}
	{{> includes/announcement}}
	{{!-- Secondary nav --}}
	{{> includes/second-nav secondNav=data.secondNav list_class="justify-content-between justify-content-lg-end show-ends"}}

	{{!-- nav bar--}}
	<nav class="navbar navbar-expand-lg navbar-wrapper">
		<div class="container">
			<div class="nav-wrapper">
				{{!--similac logo  --}}
				<div class="logo-section">
					<a href="/"><img class="header-logo" src="resources/img/similac-logo.png" alt="similac-logo"></a>
				</div>
				<div class="nav-bar">
					<div class="d-flex justify-content-end desktop-menu-update">
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							{{!-- Main nav --}}
							<ul class="navbar-nav main-nav">
								{{!-- sub menu --}}
								<li class="nav-item dropdown">
									<a href="/products.html" class="nav-link">Similac Products</a>
									 <span class="dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown">
									 <span class="sim-icons plus-icon" data-icon="add"></span>
									 <span class="sim-icons minus-icon" data-icon="minus"></span> 
									 </span>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
										<li class="dropdown-item"><a href="/article.html">Articles</a></li>
										<li class="dropdown-item"><a href="/product-detail.html">Product Detail</a></li>
										<li class="dropdown-item"><a href="#">Product Information</a></li>
										<li class="dropdown-item"><a href="#">Baby Formula Ingredients</a></li>
									</ul>
								</li>

								<li class="nav-item dropdown">
									{{!-- sub menu --}}
									<a class="nav-link" href="/baby-feeding-development.html" >Baby Feeding &amp; Development</a>
									<span class="dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown">
									 <span class="sim-icons plus-icon" data-icon="add"></span>
									 <span class="sim-icons minus-icon" data-icon="minus"> </span>
									</span>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
										<li class="dropdown-item"><a href="#">Baby</a></li>
										<li class="dropdown-item"><a href="#">Toddler</a></li>
										<li class="dropdown-item"><a href="#">Product Information</a></li>
										<li class="dropdown-item"><a href="#">Baby Formula Ingredients</a></li>
									</ul>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="#" ><span>Your Pregnancy</span></a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="/coupons-and-samples.html"><span>Coupons &amp; Samples</span></a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="#"><span>Resources &amp; Tools</span></a>
								</li>			    		
							</ul>
							{{> includes/second-nav secondNav=data.secondNav  secondNav_class="d-lg-none" list_class="flex-column show-not-ends" container_class="sm-nav"}}
						</div>

						{{!-- utility nav --}}
						<ul class="util-nav d-flex justify-content-end no-gutters" id="user-Interact" >
							<li id="open-search" class="nav-action text-center">
								<span class="sim-icons" data-icon="mag-glass"></span>
								<div class="d-none d-lg-block">search</div>
							</li>
							<li class="nav-action text-center">
								<span class="sim-icons" data-icon="user"></span>
								<div class="d-none d-lg-block">Login
									 

								</div>
							</li>
							<li class="nav-action text-center">
								<span class="sim-icons" data-icon="cart-color"></span>
								<div class="d-none d-lg-block">My Cart</div>
							</li>

						</ul>

						{{!-- hamburger for mobile --}}
						<div id="hamburger" class=" d-md-block d-lg-none d-flex ">
							<span class="navbar-toggler collapsed" data-toggle="collapse" data-target=".navbar-collapse" data-target-2="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="sim-icons burger-icon" data-icon="menu-burger"></span>
								<span class="sim-icons burger-close" data-icon="close-basic-01"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</nav>

	{{!-- search box --}}
	{{> includes/form-elements group_id="globalSearchHeader" label="search" input_text="true" input_id="" input_name="search" type="text" custom_class="search-box col-12 d-none" image_path="mag-glass-color" placeholder="Search"}}	

<div id="overlay">
  <div class="pie">
    <div class="text-overlay"></div>
  </div>
</div>
</header>
