<div id="template" class="global-error">
<p><strong>We're having some trouble.</strong>
<span>Hang in there. We're working on fixing this now.</span></p>
<svg viewBox="0 0 100 100" class="sim-icon">
                     <use href="#icon-basic-01"></use>
                  </svg>
</div>
<noscript>
    <div id="template">
<p><strong>We're having some trouble.</strong>
<span>Hang in there. We're working on fixing this now.</span></p>
<svg viewBox="0 0 100 100" class="sim-icon">
                     <use href="#icon-basic-01"></use>
                  </svg>
</div>
<style>
    #overlay{
        display:none;
    }
</style>
</noscript>
