{{!-- {{> includes/subscribe}} --}}

<footer>
	{{!-- Secondary nav --}}
	{{> includes/second-nav secondNav = data.secondNav list_class="flex-column flex-md-row justify-content-md-center footer-secondnav col-lg-8"}}
	<nav class="footer-main bg-aliceBlue {{data}}">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3">
					<div class="mb-3">
						<a href="#" target="_blank" ><img src="resources/img/abbott-logo.png" alt="abbott-logo"></a>
					</div>
					<ul>
						<li>
							<a href="#">Abbott Global</a>
						</li>
						<li>
							<a href="#">Abbott Nutrition Home</a>
						</li>
						<li>
							<a href="#">AbbottStore</a>
						</li>
						<li>
							<a href="#">ANHI.org</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of Use</a>
						</li>
						<li>
							<a href="#">Newsroom</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-6">
					<div class="row">
						<div class="col-md-12 col-lg-4 d-none d-md-block pr-0">
							<p class="groupHeading">PEDIATRIC BRANDS</p>
							<ul>
								<li>
									<a href="http://elecare.com/" target="_blank">EleCare</a>
								</li>
								<li>
									<a href="https://pedialyte.com/" target="_blank">Pedialyte</a>
								</li>
								<li>
									<a href="https://pediasure.com/" target="_blank">PediaSure</a>
								</li>
								<li>
									<a href="https://pureblissbaby.com/" target="_blank">Pure Bliss by Similac</a> 
								</li>
							</ul>
						</div>
						<div class="col-md-12 col-lg-4 d-none d-md-block pr-0">
							<p class="groupHeading">HEALTHY LIVING</p>
							<ul>
								<li>
									<a href="https://ensure.com/" target="_blank">Ensure</a>                            
								</li>
								<li>
									<a href="http://zoneperfect.com/" target="_blank">ZonePerfect</a>
								</li>
							</ul>
						</div>
						<div class="col-md-12 col-lg-4 d-none d-md-block pr-0">
							<p class="groupHeading">THERAPEUTIC</p>
							<ul>
								<li>
									<a href="http://glucerna.com/" target="_blank">Glucerna</a>
								</li>
								<li>
									<a href="http://malnutrition.com/" target="_blank">Alliance</a>
								</li>
								<li>
									<a href="http://es.glucerna.com/" target="_blank">Mi Glucerna</a>
								</li>
								<li>
									<a href="http://nepro.com/" target="_blank">Nepro</a>                            
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 mt-4 mt-md-0">
					<p class="groupHeading">SOCIAL ICONS</p>
					<ul class="social-icons-list">
						<li>
							<a href="#" target="_blank"><img src="resources/img/instagram.png" alt="instagram-icon"></a>
						</li>
						<li>
							<a href="#" target="_blank"><span class="sim-icons" data-icon="you-tube"></a>
						</li>
						<li>
							<a href="#" target="_blank"><span class="sim-icons" data-icon="facebook"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<span class="copyrights">© 2019, Abbott Laboratories. All rights reserved.</span>
				</div>
			</div>
		</div>
	</nav>
</footer>
<script>
	var errorCodeData = Object.freeze(JSON.parse("{{{jsonFile 'errorCodes.json'}}}"));
</script>
{{!-- base js --}}
<script type="text/javascript"  src="similac-base/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript"  src="similac-base/js/popper.min.js"></script>
<script type="text/javascript"  src="similac-base/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="similac-base/js/jquery-ui.min.js"></script>
<script type="text/javascript"  src="similac-base/js/jquery.cookie.js"></script>
<script type="text/javascript"  src="similac-base/js/purify.min.js"></script>
<script type="text/javascript"  src="similac-base/js/equal-height.js"></script>

{{!-- common js --}}
<script type="text/javascript" src="similac-common/js/social-login.js" defer></script>
<script type="text/javascript" src="similac-common/js/donut.js"></script>
<script type="text/javascript" src="similac-common/js/main.js" defer></script>
<script type="text/javascript" src="similac-common/js/config.js" defer></script>
<script type="text/javascript" src="similac-common/js/utils.js" defer></script>
<script type="text/javascript" src="similac-common/js/service.login.js" defer></script>
<script type="text/javascript" src="similac-common/js/service.api.js" defer></script>
<script type="text/javascript" src="similac-common/js/form-element.js" defer></script>
<script type="text/javascript" src="similac-common/js/gtm.datalayer.js" defer></script>
{{!-- <script type="text/javascript" src="similac-common/js/magento-common.js" defer></script> --}}
    {{!-- <script type="text/javascript"  src="https://www.google.com/recaptcha/api.js?onloadCallback=onloadCallback&render=explicit" defer></script> --}}


