<section class="abbott-image-slider mt-4">
    <script>
        var productImagesJSON = Object.freeze(JSON.parse("{{{jsonFile 'productImages.json'}}}"));
    </script>
    <div id="page-image-slider">
        
    </div>
</section>