<section class="abbott-slider mt-4">
	{{!-- <div class="offer-ribbon">50% OFF*</div> --}}
	<div id="page-slider" class="fotorama" data-ratio="5/4" data-loop="true" data-nav="thumbs" data-thumbwidth="75" data-arrows="false" data-thumbHeight="75" data-allowfullscreen="true" >

		<a href="resources/img/540_540.png" data-thumb="resources/img/75_75.png"></a>

		<a href="resources/img/540_540.png" data-thumb="resources/img/75_75.png"></a>

		<a href="resources/img/540_540.png" data-thumb="resources/img/75_75.png"></a>
		
		<a href="resources/img/540_540.png" data-thumb="resources/img/75_75.png"></a>

	</div>
</section>

