<ul class="list-wrapper">
	<li class="list-item">
	 <span class="sim-icons" data-icon="check-circle-fill"></span>
	 <span class="list-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
	</li>
	<li class="list-item">
	 <span class="sim-icons" data-icon="check-circle-fill"></span>
	 <span class="list-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
	</li>
	<li class="list-item">
	 <span class="sim-icons" data-icon="check-circle-fill"></span>
	 <span class="list-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
	</li>
</ul>