<div class="pdp-tab__nutri-info">

    <h2 class="pdp-tab__nutri-info-title">Allergen Statement</h2>
    <ul class="pdp-tab__nutri-info-text">
        <li>Contains milk and soy ingredients.</li>
        <li>Contains milk and soy ingredients.</li>
    </ul>

    <h2 class="pdp-tab__nutri-info-title">Ingredients</h2>
    <p class="pdp-tab__nutri-info-text">Water, Corn Maltodextrin, Sugar, Milk Protein Concentrate, Blend of Vegetable
        Oils (Canola, Corn), Soy Protein Isolate, Nonfat Milk. Less than 0.5% of: Vitamins &amp; Minerals (Potassium
        Citrate, Magnesium Phosphate, Calcium Carbonate, Sodium Citrate, Calcium Phosphate, Choline Chloride, Ascorbic
        Acid, Potassium Chloride, Ferrous Sulfate, dl-Alpha-Tocopheryl Acetate, Zinc Sulfate, Niacinamide, Calcium
        Pantothenate, Manganese Sulfate, Pyridoxine Hydrochloride, Thiamine Hydrochloride, Copper Sulfate, Riboflavin,
        Vitamin A Palmitate, Folic Acid, Chromium Chloride, Potassium Iodide, Sodium Selenate, Sodium Molybdate,
        Phylloquinone, Biotin, Vitamin D3, Vitamin B12), Natural &amp; Artificial Flavor, Cellulose Gel, Salt, Cellulose
        Gum, Soy Lecithin, Monoglycerides, Carrageenan, Acesulfame Potassium, and Sucralose.</p>

    <p class="pdp-tab__nutri-info-text">Serving Size: 8 fl oz (237 mL)</p>

    <div class="row pdp-tab__nutri-info-wrapper">
        <div class="col-12">
            <h3 class="pdp-tab__nutri-info-table-title mb-0 d-none d-md-block">Nutrient Data</h3>
            <h3 class="pdp-tab__nutri-info-table-title mb-0 d-md-none" id="nutrient" data-toggle="collapse"
                href="#tableContent">
                Nutrient Data
                <span class="sim-icons plus-icon d-md-none" data-icon="add-black"></span>
                <span class="sim-icons minus-icon d-md-none" data-icon="minus-black"></span>
            </h3>
            <div class="pdp-tab__nutri-info-table collapse show" id="tableContent" aria-describedby="nutrient">
                <div class="pdp-tab__nutri-info-table-head">
                    <div class="pdp-tab__nutri-info-table-data-header" id="nutri-data-0-1" scope="col"></div>
                    <div class="pdp-tab__nutri-info-table-data-header" id="nutri-data-0-2" scope="col">Amount per
                        serving</div>
                    <div class="pdp-tab__nutri-info-table-data-header  d-none" id="nutri-data-0-3" scope="col">% Daily Value*
                    </div>
                </div>
                <div class="pdp-tab__nutri-info-table-body">
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value">
                           Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value d-none">

                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value  d-none">
                            87
                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value">
                           Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value d-none">

                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value  d-none">
                            87
                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value">
                           Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value d-none">

                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value  d-none">
                            87
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pdp-tab__nutri-info-wrapper">
        <div class="col-12 col-md-6">
            <h3 class="pdp-tab__nutri-info-table-title mt-4 mb-0" id='vitamins'>Vitamins</h3>
            <div class="pdp-tab__nutri-info-table" aria-describedby="vitamins">
                <div class="pdp-tab__nutri-info-table-head">
                    <div class="pdp-tab__nutri-info-table-data-header small" id="vitamins-0-1" scope="col"></div>
                    <div class="pdp-tab__nutri-info-table-data-header small" id="vitamins-0-2" scope="col">Amount
                        per serving</div>
                    <div class="pdp-tab__nutri-info-table-data-header small  d-none" id="vitamins-0-3" scope="col">% Daily
                        Value*</div>
                </div>
                <div class="pdp-tab__nutri-info-table-body">
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                           Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">

                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">
                            87
                        </div>
                    </div>
                     <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                           Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">

                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">
                            87
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h3 class="pdp-tab__nutri-info-table-title mt-4 mb-0" id='minerals'>Minerals</h3>
            <div class="pdp-tab__nutri-info-table" aria-describedby="minerals">
                <div class="pdp-tab__nutri-info-table-head">
                    <div class="pdp-tab__nutri-info-table-data-header small" id="minerals-0-1" scope="col"></div>
                    <div class="pdp-tab__nutri-info-table-data-header small" id="minerals-0-2" scope="col">Amount
                        per serving</div>
                    <div class="pdp-tab__nutri-info-table-data-header small  d-none" id="minerals-0-3" scope="col">% Daily
                        Value*</div>
                </div>
                <div class="pdp-tab__nutri-info-table-body">
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">
                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">
                            87
                        </div>
                    </div>
                     <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                           Vitamin C (Ascorbic Acid), mg 
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">

                        </div>
                    </div>
                    <div class="pdp-tab__nutri-info-table-row">
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            Calories
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small">
                            220
                        </div>
                        <div class="pdp-tab__nutri-info-table-data-value small  d-none">
                            87
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- <p class="pdp-tab__nutri-info-text mt-2"><sup>*</sup> Percent Daily Values (%DV) are based on a 2,000 Calorie diet.</p> --}}

</div>