<div class="pdp-tab__product-desc">
    <div class="pdp-tab__product-desc-text">

        <p>Similac Pro-Advance is the first infant formula with 2’-FL Human Milk Oligosaccharide*, designed to be closer
            than ever to breast milk.</p>

        <ul>
            <li> Similac with 2-FL Human Milk Oligosaccharide helps support baby’s developing immune system by closing
                multiple gaps in immune function<sup><span>†</span></sup>&nbsp;between formula-fed and breastfed infants
            </li>
            <li>Unlike other formulas, Similac has 2’-FL HMO, a prebiotic that circulates throughout the body</li>
            <li>All ingredients are carefully selected to meet our high standards and are
                NON-GMO<sup><span>‡</span></sup></li>
            <li>From Birth – 12 months; complete nutrition for your baby’s first year</li>
            <li>Features OptiGRO™, an exclusive blend of DHA, Lutein, and Vitamin E - important ingredients found in
                breast milk</li>
        </ul>

        <p class="pdp-tab__product-desc-footnote">*Not from human milk.</p>
        <p class="pdp-tab__product-desc-footnote">†As measured in blood samples in a clinical study.</p>
        <p class="pdp-tab__product-desc-footnote">‡Ingredients not genetically engineered.</p>
    </div>
</div>