<section class="pdp-info" id="pdp-info" aria-label="loading" aria-hidden="true">


  <p class="pdp-info__title">
    Similac Organic Infant Formula Ready-to-Feed
  </p>

  <div class="d-flex">
    <div class="pdp-info__rating">
      <span class="sim-icons" data-icon="star-fill"></span>
      <span class="sim-icons" data-icon="star-fill"></span>
      <span class="sim-icons" data-icon="star-fill"></span>
      <span class="sim-icons" data-icon="star-half"></span>
      <span class="sim-icons" data-icon="star-border"></span>
    </div>
    <div class="pdp-info__review"> 00(000)<span class="pdp-info__edit-review" id="read-review">Read/Write</span>
    </div>
  </div>

  <div class="pdp-info__price mb-4">
    <p class="pdp-info__list-price d-none  mt-3 mb-2">List Price: $<span id="list-price">00.00</span></p>
    <div class="clearfix">
      <div class="float-left">
        <p class="pdp-info__price-text m-0">$<span id="current-price">172.49</span></p>
        <p class="pdp-info__pack-detail m-0">
          00 oz can
        </p>
      </div>
      <div class="float-right text-right mt-2">
        <p class="pdp-info__in-stock mb-0" id="stock-status">In Stock</p>
        <p class="pdp-info__sku m-0" id="pdp-sku" data-sku="66832">SKU#: 66832 </p>
      </div>
    </div>
  </div>


  {{> includes/form-elements radio="true" custom_id="radio-one-time"  value="one-time" label="One-Time Purchase" checked=true}}


  {{> includes/form-elements radio="true" custom_id="radio-subscribe" custom_class= "m-0" value="schedule" checked=false label="Schedule and Save"}}
  <div class="row">
    <div class="col-12 mt-4 pdp-info__msg" id="subscriptionMessage">

    </div>
  </div>
  <div class="retailer-purchase">

     This product is not available for purchase in similac site use amazon link <a href="#">here</a>. 
      

  </div>
  <div class="row out-ofstoke-hide">
    <div class="col-12 mt-4">
      <div class="pdp-info__dd ">
        <label for="pdp-Size" class="pdp-info__dd-title d-block m-0">Size</label>
        {{> includes/form-elements dropdown="true" custom_id="pdp-size" custom_class="is-prop-field" data = product_info.size}}
      </div>


    </div>
  </div>


  <div class="pdp-info__buy-type-one-time">
    <div class="row out-ofstoke-hide">
      <div class="col-5 col-md-5 col-lg-6 col-xl-5 mt-4">
        <div class="quantity-update">
          <p class="quantity-update__title m-0">
            Enter Quantity
          </p>
          {{> includes/form-elements stepper="true" input_class="text-number"}}
        </div>
      </div>
    </div>

    {{> includes/button custom_btn_class="mt-3" btn_href="" primary_button=true btn_text= "ADD TO CART" btn_id="btn-cart"}}

    {{> includes/button custom_btn_class="mt-3" btn_href="/find_retailer.html#66781" secondary_button=true btn_text= "FIND A RETAILER" }}
  </div>

  <div class="pdp-info__buy-type-subscribe  mt-1 d-none">
    <div class="row out-ofstoke-hide">
      <div class="col-5 col-md-5 col-lg-6 col-xl-5 mt-4">
        <div class="quantity-update">
          <p class="quantity-update__title m-0">
            Enter Quantity
          </p>
          {{> includes/form-elements stepper="true" input_class="text-number"}}
        </div>
      </div>
      <div class="col-7 col-md-7 col-lg-6 ml-auto mt-4">
        <div class="pdp-info__dd">
          <label for="pdp-Duration" class="pdp-info__dd-title d-block m-0">Deliver every:</label>

          {{> includes/form-elements dropdown="true" custom_id="pdp-duration" data = product_info.duration}}

        </div>
      </div>
    </div>

    {{> includes/button custom_btn_class="mt-3" btn_href="" primary_button=true btn_text= "SCHEDULE NOW" btn_id="btn-schedule"}}


  </div>

<div class="out-of-content">
 CALL TO ORDER This product is not available for purchase online. Please call our Consumer Relations team to place an order. 1-800-258-7677 9AM TO 6PM ET (MON-FRI) 
  </div>
</section>