<div class="container pwaLoginPage">
  <div class="row">
    <div class="col-lg-2">
      <img src="/content/dam/an/similac/us/disruptor/offers-disruptor-pwa-download.png" />
    </div>
    <div class="col-lg-9">
      <div id="pwa-login"></div>
    </div>
    </div>
</div>
