<div class="recent-order similac-form mb-5 {{customClass}}">

    <h5 class="recent-order__title profile__border-grey">RECENTLY ORDERED</h5>

    <fieldset class="form-group similac-form-group">
        <div class="form-check checkbox-container">
            <span class="checkbox-wrapper">
                <label for="form-field">
                    <input type="checkbox" name="product" id="form-field" class="form-check-input" value="">
                    <span class="checkbox-inner" aria-hidden="true" role="presentation">
                    </span>
                </label>
            </span>
            <label class="form-check-label" for="form-field">
                Product Name
            </label>
        </div>
    </fieldset>

    <a href="/cart.html" class="btn btn-secondary col-12 mt-3">ADD TO CART</a>

</div>