

<div class="container">
    <div class="row mb-1_875">
      <h2>Create a new password</h2>
        <div class="col-sm-12 col-md-12 col-lg-9 M0auto">
   
   
            <div class="row" >

                <div class="col-md-12 col-xs-12 padding0">
                     <div class="successMessage"><p>Success!!</p></div>
                    <div id="resetPassword">
                    </div>
                    
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>