
<div class="card hr-card shaded-bg">
    <div class="d-flex">
        <div class="auto-shrink d-none d-md-flex hr-card-image-wrap">
            
		  <img src="{{imgSrc}}">

        </div>
        <div class="auto-expand px-0_938 hr-card-content">
            <h3>
                {{title}}
                
            </h3>
            <div class="d-flex hr-card-content-sub">
                <div class="auto-expand">
                    <p>
                        {{description}}
                    </p>
                    <p><span class="full_rewards_WIC">25</span><span class="full_rewards_NONWIC">35</span></p>
                </div>
               
            </div>
        </div>
    </div>
</div>