<section class="ribbon py-3" data-login="false">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 col-lg-10 align-self-center mb-3 mb-md-0">
				<p class="m-0 ribbon-text">{{ribbon_text}}</p>
			</div>
			<div class="col-12 col-md-4 col-lg-2 d-flex justify-content-center align-self-center">
				{{> includes/button primary_button="true" custom_btn_class="" btn_href=btn_href btn_text=btn_text}}
			</div>
		</div>
	</div>
</section>