<div id="left-side-menu-container">
  <div
    class="side-nav-mob mb-1_375 d-block d-md-none"
    data-toggle="collapse"
    href="#sideNavMob"
  >
    My Account
    <span class="sim-icons open" data-icon="arrow-up"></span>
    <span class="sim-icons closed" data-icon="arrow-down"></span>
  </div>
  <div class="side-nav collapse show mb-5" id="sideNavMob">
    <div class="side-nav__main">
      <div class="side-nav__title" data-toggle="collapse" href="#sideNav1">
        Account Details
        <span class="sim-icons open" data-icon="add"></span>
        <span class="sim-icons closed" data-icon="minus"></span>
      </div>
      <div class="collapse show" id="sideNav1">
        <div class="side-nav__sub-link active">
          <a>
            Personal Info
          </a>
        </div>
        <div class="side-nav__sub-link">
          <a>
            My Rewards
          </a>
        </div>
        <div class="side-nav__sub-link">
          <a>
            Offers
          </a>
        </div>
      </div>
    </div>
    <div class="side-nav__main">
      <div class="side-nav__title" data-toggle="collapse" href="#sideNav2">
        Orders
        <span class="sim-icons open" data-icon="add"></span>
        <span class="sim-icons closed" data-icon="minus"></span>
      </div>
      <div class="collapse show" id="sideNav2">
        <div class="side-nav__sub-link">
          <a>
            Order History
          </a>
        </div>
        <div class="side-nav__sub-link">
          <a>
            Subscriptions
          </a>
        </div>
      </div>
    </div>
    <div class="side-nav__main">
      <div class="side-nav__title" data-toggle="collapse" href="#sideNav3">
        Billing & Shipping
        <span class="sim-icons open" data-icon="add"></span>
        <span class="sim-icons closed" data-icon="minus"></span>
      </div>
      <div class="collapse show" id="sideNav3">
        <div class="side-nav__sub-link">
          <a>
            Payment Methods
          </a>
        </div>
        <div class="side-nav__sub-link">
          <a>
            Manage Addresses
          </a>
        </div>
      </div>
    </div>
  </div>
</div>