  <div class="registration-form quick-register">
                        <div class="social-widget-show">
                            <p class="form-head-para">
                                Register quickly and easily with a preferred online profile (no new passwords to remember).
                            </p>
                            <div class="form-row social-widget-row" id="loginDiv"></div>


                        </div>
                </div>