<div>
  <table
    class="bottom-bordered"
    border="1"
    cellspacing="0"
    cellpadding="0"
    width="488"
  >
    <thead>
      <tr>
        <th width="131">
          <p>
            <b>
              Indicator
            </b>
          </p>
        </th>
        <th width="144">
          <p>
            <b>
              Age
            </b>
          </p>
        </th>
        <th width="213">
          <p>
            <b>
              Description
            </b>
          </p>
        </th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td width="131" rowspan="2">
          <p>
            <b>
              Urine Output
            </b>
          </p>
        </td>
        <td width="144">
          <p>
            3–4 days
          </p>
        </td>
        <td width="213">
          <p>
            Pale yellow to clear (
            <i>
              not
            </i>
            deep yellow or orange)
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            5–7 days
          </p>
        </td>
        <td width="213">
          <p>
            6 or more wet diapers
          </p>
        </td>
      </tr>
      <tr>
        <td width="131" rowspan="5">
          <p>
            <b>
              Stools
            </b>
          </p>
        </td>
        <td width="144">
          <p>
            1–2 days
          </p>
        </td>
        <td width="213">
          <p>
            Thick, tarry, and black color
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            3–4 days
          </p>
        </td>
        <td width="213">
          <p>
            Greenish-yellow color
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            5 days
          </p>
        </td>
        <td width="213">
          <p>
            Yellow color (
            <i>
              not
            </i>
            white or clay colored) with watery, seedy, or mustard-like texture
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            By 5–7 days
          </p>
        </td>
        <td width="213">
          <p>
            3–4 stools/day
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            1 month and older
          </p>
        </td>
        <td width="213">
          <p>
            Number of stools might vary (can be several stools/day, 1 every 3–4 days, or 1/week)
          </p>
        </td>
      </tr>
      <tr>
        <td width="131" rowspan="2">
          <p>
            <b>
              Weight Gain
            </b>
          </p>
        </td>
        <td width="144">
          <p>
            Birth–6 months
          </p>
        </td>
        <td width="213">
          <p>
            4 oz–8 oz/week
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            7–12 months
          </p>
        </td>
        <td width="213">
          <p>
            3 oz–6 oz/week
          </p>
        </td>
      </tr>
      <tr>
        <td width="131" rowspan="4">
          <p>
            <b>
              Breastfeeding Pattern
            </b>
          </p>
        </td>
        <td width="144">
          <p>
            Birth–1 month
          </p>
        </td>
        <td width="213">
          <p>
            8–12 feedings/24 hours
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            1–2 months
          </p>
        </td>
        <td width="213">
          <p>
            7–10 feedings/24 hours
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            2–4 months
          </p>
        </td>
        <td width="213">
          <p>
            6–9 feedings/24 hours
          </p>
        </td>
      </tr>
      <tr>
        <td width="144">
          <p>
            4–6 months
          </p>
        </td>
        <td width="213">
          <p>
            6–8 feedings/24 hours
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <p>
    While the breastfeeding experience may be unique for every mom and baby, we hope this guide helps you through your journey. Remember to be patient as you and your baby find your own rhythm.
  </p>
  <p>
    If you have more questions about breastfeeding or need live, one-on-one feeding support, call the
    <b>
      Similac
      <sup>
        ®
      </sup>
      FeedingExpert
    </b>
    at
    <b>
      1-800-986-8800
    </b>
    .
  </p>
  <p>
    You can also check out our Frequently Asked Questions.
  </p>
</div>