<section class="cmp-tabs pdp-tabs mt-4" data-cmp-is="tabs">
    <div class="container">
    <ol role="tablist" class="cmp-tabs__tablist text-center d-none d-md-block" aria-multiselectable="false">
        <li role="tab" class="cmp-tabs__tab  " data-cmp-hook-tabs="tab">Product Description</li>
        <li role="tab" class="cmp-tabs__tab  " data-cmp-hook-tabs="tab">Ingredients & Nutrition</li>
        <li role="tab"  id="Reviews" class="cmp-tabs__tab  " data-cmp-hook-tabs="tab">Reviews</li>
        <li role="tab" class="cmp-tabs__tab  " data-cmp-hook-tabs="tab">Product Comparison</li>
        <li role="tab" class="cmp-tabs__tab  " data-cmp-hook-tabs="tab">FAQs</li>    

    </ol>
</div>
    <div role="tabpanel" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel">
        <span class="cmp-tabs__tab-mobile text-center d-flex d-md-none" role="tab">
            <div class="cmp-tabs__tab-mobile-title">Product Description</div><span class="sim-icons plus-icon" data-icon="add-white"></span><span class="sim-icons minus-icon" data-icon="minus-white"></span>
            </span>
        <div class="cmp-tabs__tab-content container">
            {{> includes/product-description }}
        </div>

    </div>
    <div role="tabpanel" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel">
        <span class="cmp-tabs__tab-mobile text-center d-flex d-md-none" role="tab">
            <div class="cmp-tabs__tab-mobile-title">Ingredients & Nutrition</div><span class="sim-icons plus-icon" data-icon="add-white"></span><span class="sim-icons minus-icon" data-icon="minus-white"></span>
            </span>
        <div class="cmp-tabs__tab-content container ">
         {{> includes/nutritional-info }}
        </div>

    </div>
    <div role="tabpanel" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel">
        <span class="cmp-tabs__tab-mobile text-center d-flex d-md-none" role="tab">
            <div class="cmp-tabs__tab-mobile-title">Reviews</div><span class="sim-icons plus-icon" data-icon="add-white"></span><span class="sim-icons minus-icon" data-icon="minus-white"></span>
            </span>
        <div class="cmp-tabs__tab-content container ">
          Reviews
        </div>

    </div>
     <div role="tabpanel" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel">
        <span class="cmp-tabs__tab-mobile text-center d-flex d-md-none" role="tab">
            <div class="cmp-tabs__tab-mobile-title">Product Comparison</div><span class="sim-icons plus-icon" data-icon="add-white"></span><span class="sim-icons minus-icon" data-icon="minus-white"></span>
            </span>
        <div class="cmp-tabs__tab-content container ">
          {{> includes/product-comparison }}
        </div>

    </div>
     <div role="tabpanel" class="cmp-tabs__tabpanel" data-cmp-hook-tabs="tabpanel">
        <span class="cmp-tabs__tab-mobile text-center d-flex d-md-none" role="tab">
            <div class="cmp-tabs__tab-mobile-title">FAQs</div><span class="sim-icons plus-icon" data-icon="add-white"></span><span class="sim-icons minus-icon" data-icon="minus-white"></span>
            </span>
        <div class="cmp-tabs__tab-content  container">
          {{> includes/product-faq }}
        </div>

    </div>
</section>