<div class="container loginPage">
  {{!--<div class="para-content-1 mt-1_875 mb-1_875">
    <h2>
      Sign in to Similac® StrongMoms® Rewards
    </h2>
  </div>
  --}}

  <div class="text">
<div>
    <h2 class="para-content-1 mt-3 mt-sm-1_875">Sign in to Similac<sup>®</sup> StrongMoms<sup>®</sup> Rewards.</h2>

</div>

    

</div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
      <div id="login"></div>
      
    </div>
    </div>
  </div>
</div>
{{!-- <div class="para-content-1 mt-1_875 mb-1_875">
  <h2>
    Sign in to Similac® StrongMoms® Rewards
  </h2>
</div>
<div class="row" style="margin-bottom:2.813rem;">
  <!--div class="col-md-2"></div-->
  <div class="col-md-12 col-lg-9 M0auto">
    <div class="para-content-1">
      <p>
        <strong>
          Welcome message
        </strong>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        Log in with 1-click by using an existing online profile.
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div id="SocialLoginDiv"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div id="login"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div> --}}