<div class="container registrationFormContainer">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="row" style="margin-bottom:2.813rem;">
                <div class="col-md-12 col-xs-12 d-none d-md-block register-btn">
                    <div>
                        <button type="button" class="btn btn-secondary btn-lg col-md-4 col-xs-12">Already a Member?<span class="sim-icons" data-icon="arrow-fill-right"></span></button>
                    </div>
                </div>
                <div class="col-xs-12 d-block d-md-none register-link">
                    <div>
                        <p>Already a Member?
                            <a href="/strongmoms/admin/login.html" target="_self" data-gtm="sign-in|click|strongmoms_already-a-member_link">
                                Sign in
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {{!-- <div class="para-txt">
                <p>Register quickly and easily with a preferred online profile (no new passwords to remember).</p>
               
            </div> --}}
            
            <div class="row">
                <div class="col-md-12 col-xs-12">                   
                    
                </div>
                <div class="col-md-12 col-xs-12">
                    <div id="registration">
                    </div>
      
                </div>

            </div>
            {{!-- <div class="row">
                <div class="col">
                     <div id="SocialLoginDiv"></div>
                </div>
            </div> --}}
            <div class="col-lg-1"></div>
        </div>
    </div>