
<style>
   

    .para-txt {
        font-family: "Roboto Regular";
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #002f87;
        padding-top: 2.813rem;
    }

    .fb-btn .btn,
    .google-btn .btn {
        background-color: #007db3;
        color: white;
        padding: 10px 0 10px 0;
        /* width: 20.875rem; */
        text-align: left;
        padding-left: 15px;
    
    }
    #login-popup{
        text-align:left;
    }

   

    @media (min-width: 1200px) {
        .row-lg {
            display: flex;
        }
    }

    @media (max-width: 576px) {

        .fb-btn .btn,
        .google-btn .btn {
            margin-bottom: 2rem;
        }
    }
</style>

<div class="modal" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="loginPopup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
         <div class="para-txt">
                <p><strong>Lorem Ipsum dolor</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6 fb-btn"><button type="button"
                                class="btn btn-primary btn-block">Facebook</button>
                        </div>
                        <div class="col-sm-4  col-xs-6 google-btn"><button type="button"
                                class="btn btn-primary btn-block">Google</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div id="loginPopup">
                    </div>
                </div>
            </div>
            <div class="para-txt">
                <p><strong>Lorem Ipsum dolor</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <button type="button"
                                class="btn btn-primary btn-block">CTA</button>
                        
            </div>
      </div>
    
    </div>
  </div>
</div>

