<sly data-sly-use.clientlib="/apps/an/similac/components/common/templates/clientlib.html" 
data-sly-call="${clientlib.js @ categories=inheritedPageProperties.vendorclientlibs}"/>
<sly data-sly-use.clientlib="/apps/an/similac/components/common/templates/clientlib.html" 
data-sly-call="${clientlib.js @ categories=inheritedPageProperties.projectclientlibs,loading='defer'}"/>
<sly data-sly-use.clientlib="/apps/an/similac/components/common/templates/clientlib.html" 
data-sly-call="${clientlib.js @ categories=inheritedPageProperties.componentclientlibs,loading='defer'}"/>
<sly data-sly-use.clientlib="/apps/an/similac/components/common/templates/clientlib.html" 
data-sly-call="${clientlib.js @ categories=inheritedPageProperties.newrelicclientlibs,loading='async'}"/>
<sly data-sly-test="${inheritedPageProperties.captchaScript}">${inheritedPageProperties.captchaScript @ context='scriptComment'}</sly>
<sly data-sly-test="${inheritedPageProperties.gigyascript}">${inheritedPageProperties.gigyascript @ context='scriptComment'}</sly>
<input type="hidden" id="google-maps-api-key" data-version="" value="${inheritedPageProperties.googleapiid}" data-sly-test="${inheritedPageProperties.googleapiid}">
<sly data-sly-call="${clientlib.js @ categories='similac.page.v1.pwa'}"></sly>