<!DOCTYPE HTML>
<html lang="${page.language}" data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page" 
      data-sly-use.head="head.html"
      data-sly-use.footer="footer.html"
      data-sly-use.redirect="redirect.html">
	<head>
	<title>${page.title}</title>
	<sly data-sly-call="${head.head @ page = page}"></sly>
	</head>

    <body class="${page.cssClassNames}">
    	<sly data-sly-test="${inheritedPageProperties.gtmiframescript}">${inheritedPageProperties.gtmiframescript @ context='scriptComment'}</sly>
		 <img data-src="/etc.clientlibs/an/similac/clientlibs/clientlib-similac-commons/resources/img/svg-icons.svg" class="icon-svg" id="icon-svg" alt="true" data-sly-test="${!inheritedPageProperties.hideSvgIcon}"/>

        <sly data-sly-test.isRedirectPage="${page.redirectTarget && (wcmmode.edit || wcmmode.preview)}"
             data-sly-call="${redirect.redirect @ redirectTarget = page.redirectTarget}"></sly>
        <sly data-sly-test="${!isRedirectPage}">
            <sly data-sly-include="body.socialmedia_begin.html"></sly>
            <sly data-sly-include="header.html"></sly>
            <sly data-sly-include="body.html"></sly>
            <sly data-sly-include="body.socialmedia_end.html"></sly>
            <sly data-sly-include="footer.html"></sly>
			  <sly data-sly-include="customfooterlibs.html"></sly>
        </sly>
    </body>
</html>
