<!--/* Link section Start */-->
<sly class="${wcmmode.edit ? 'link-comp-edit' : ''}" 
     data-sly-use.link="com.abbott.aem.platform.common.components.models.Link"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html">

	<sly data-sly-test="${properties.pwaSyncNowEnabled && pageProperties.pwaEnabled}">
		<input type="hidden" name="pwaSyncNowEnabled" value="true"/>
	</sly>
	<sly data-sly-test.modal="${link.action == 'modal'}" data-sly-include="link_modal.html"></sly>

    <sly data-sly-test="${!modal && link.external && link.redirectConfirm}" data-sly-include="link_external.html"></sly>
    
    <sly data-sly-test="${!modal && (!link.external || !link.redirectConfirm)}" data-sly-include="link_normal.html"></sly>
</sly>

<sly data-sly-call="${template.placeholder @ isEmpty=!link.text}"></sly>
<!--/* Link section End */-->
