<!--/* PPCConfig Component Starts */-->
<div data-sly-use.ppcConfig="com.abbott.aem.ardx.division.core.components.models.PPCConfig"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>
<div class="ppc-config">
    <input type="hidden" id="ppc-config-class" value="${ppcConfig.cssClassNames @join = ','}"/>
    <input type="hidden" id="ppc-config-id" value="${ppcConfig.elementIdNames @join = ','}"/>
</div>
</div>
<!--/* PPCConfig Component Ends */-->
<sly data-sly-call="${template.placeholder @ isEmpty=!ppcConfig.text}"></sly>