@import 'media-queries.less';
@import 'variables.less';


.gatewaybanner-modal {
  .modal-dialog {
    width: 900px;
    margin: 16px auto;
    height: 543px;
  }

  .modal-header {
    border-bottom: none !important;
    padding: 5px 6px 30px;
  }

  .limelight-player {
    width: 869px !important;
    height: 500px !important;
    position: relative;
    top: -25px !important;
    left: 14px;
  }

  .vr-container {
    .vr-video-play-icon {
      &:before {
        display: none;
      }
    }
  }
}

.gatewayBannerComp {
  height: auto;
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: block !important;
  position: relative;

  .gatewayBnrsection-bg {
    width: 100%;
    position: relative;
    background-color: var(--gatewaybanner-bg-color);
  }

  .gatewayBanner-panel {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .imageBelowText {
    display: none;
  }

  .gateway-section-title-default {
    font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
    color: var(--gatewaybanner-title-color) !important;
    text-align: left;
    margin-bottom: 24px;
    margin-top: 0px !important;
    padding-bottom: 0px !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: var(--gatewaybanner-title-color) !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    h1 {
      font-size: 4.25rem !important;
    }

    h2 {
      font-size: 2.25rem !important;

      &.h2-display {
        font-size: 3rem !important;
      }
    }
  }

  .gateway-section-desc-default {
    font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
    color: var(--gatewaybanner-description-color) !important;
    text-align: left;
    text-transform: none !important;
    margin-bottom: 48px;
    margin-top: 0px !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: var(--gatewaybanner-description-color) !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    p {
      font-size: 1.125rem !important;
      font-family: "brandon_grotesqueregular", Arial, sans-serif;

      &.body-small {
        font-size: 0.875rem !important;
      }
    }
  }

  .gateway-section-cardspanel {
    height: auto;
    width: 100%;

    ul.cards {
      list-style-type: none !important;
      height: auto;
      padding-left: 0px !important;
      margin: 0px !important;
      vertical-align: bottom;

      li {
        list-style-type: none !important;
        height: auto;
        padding-left: 0px !important;
        margin: 0px !important;
        vertical-align: bottom;

        a {
          p.panel-eyebrow {
            font-family: "brandon_grotesquemedium", Arial, sans-serif !important;
            font-size: 12px !important;
            line-height: 14px !important;
            text-align: left;
            text-transform: uppercase;
            margin: 0px 0px 8px 0px !important;
            padding: 0px !important;
          }

          .panel-title {
            font-family: "brandon_grotesquemedium", Arial, sans-serif !important;
            font-size: 1.375rem !important;
            font-weight: 500;
            line-height: 1.75rem !important;
            text-align: left;
            padding: 0px !important;
            margin-bottom: 16px !important;
          }

          p.panel-desc {
            font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
            font-size: 18px !important;
            line-height: 24px !important;
            text-align: left;
            text-transform: none !important;
            margin: 12px 0px 0px 0px !important;
            padding: 0px !important;
            display: block;
          }
        }
      }
    }

    ul.cards.threeColumn {
      li {
        a {
          padding: 24px 24px 32px 24px !important;
          margin-bottom: 3px !important;
          display: block;
          cursor: pointer !important;
        }

        width: 33% !important;
        display: inline-block;
        margin-bottom: 3px !important;
      }
    }

    ul.cards.twoColumn {
      li {
        a {
          padding: 24px 24px 32px 24px !important;
          margin-bottom: 3px !important;
          display: block;
          cursor: pointer !important;
        }

        width: 49.2% !important;
        display: inline-block;
        margin-bottom: 3px !important;
      }
    }
  }

  .bg-img {
    position: absolute;
    min-width: 100%;
  }

  .bgColorforCard {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #FFF;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transition: 300ms ease-out;
      transition: 300ms ease-out;
      -webkit-transition-property: transform;
      transition-property: transform;
    }

    a {
      &:hover {
        text-decoration: none !important;
      }
    }
  }

  .colr-default-primaryBlue {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #007DB1 !important;
      }
    }

    background-color: #007DB1;
    display: block;
    color: #FFF !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #FFF !important;
      }
    }
  }

  .colr-default-mint {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #002A3A !important;
      }
    }

    background-color: #64CCC9;
    display: block;
    color: #002A3A !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #002A3A !important;
      }
    }
  }

  .colr-default-mediumBlue {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #004F71 !important;
      }
    }

    background-color: #004F71;
    display: block;
    color: #FFF !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #FFF !important;
      }
    }
  }

  .colr-default-orange {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }

    background-color: #FF6900;
    display: block;
    color: #222731 !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }
  }

  .colr-default-btn-style-campaign {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p {
        color: #002A3A !important;
      }
    }

    background-color: #002A3A;
    display: block;
    color: #FFF !important;

    a {
      p {
        color: #FFF !important;
      }
    }
  }

  .colr-default-magenta {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #AA0061 !important;
      }
    }

    background-color: #AA0061;
    display: block;
    color: #FFF !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #FFF !important;
      }
    }
  }

  .colr-default-purple {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #470A68 !important;
      }
    }

    background-color: #470A68;
    display: block;
    color: #FFF !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #FFF !important;
      }
    }
  }

  .colr-default-red {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #E4002B !important;
      }
    }

    background-color: #E4002B;
    display: block;
    color: #FFF !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #FFF !important;
      }
    }
  }

  .colr-default-gold {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }

    background-color: #EEB33B;
    display: block;
    color: #222731 !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }
  }

  .colr-default-yellow {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }

    background-color: #FFD100;
    display: block;
    color: #222731 !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }
  }

  .colr-default-lightGreen {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }

    background-color: #7CCC6C;
    display: block;
    color: #222731 !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }
  }

  .colr-default-lightBlue {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }

    background-color: #5BC2E7;
    display: block;
    color: #222731 !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }
  }

  .colr-default-darkBlue {

    &:hover {
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #222731 !important;
      }
    }

    background-color: #002A3A;
    display: block;
    color: #fff !important;

    a {

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #fff !important;
      }
    }
  }

  .gateway-section-text {
    position: relative;
  }

  .gatewayBnrsection-bg-img-mobile.hideImage {
    display: none;
  }

  .gatewayBnrsection-bg-img-mobile.bg-img-mobile {
    display: none;
  }

  .gatewayBnrsection-bg-img-mobile.showImage {
    display: none;
  }

  .bg-type-image {
    .bg-img {
      width: 100% !important;
      height: 100%;
      margin: 0;
      padding: 0;
      display: block;
      position: relative;

      &.center-crop {
        object-position: center;
        object-fit: none;
      }
    }

    .gatewayBnrsection-bg {
      margin: 0;
      padding: 0;
      width: 100%;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
    }
  }
}

.gatewayBannerComp.add-margin-top {
  margin-top: 48px;
}

.gatewayBannerComp.add-margin-bottom {
  margin-bottom: 48px;
}

@media screen and (-ms-high-contrast: active) {

  .gatewayBannerComp {
    .gateway-section-cardspanel {
      ul.cards.twoColumn {
        li {
          display: inline-block;
          margin-left: -1px !important;
        }
      }
    }
  }
}

@media (-ms-high-contrast: none) {
  .gatewayBannerComp {
    .gateway-section-cardspanel {
      ul.cards.twoColumn {
        li {
          display: inline-block;
          margin-left: -1px !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gatewayBannerComp {
    .gateway-section-cardspanel {
      ul.cards.twoColumn {
        li {
          margin-left: -1px !important;

          a {
            padding: 20px 20px 30px 20px !important;
          }
        }
      }

      ul.cards.threeColumn {
        li {
          margin-left: -1px !important;
        }
      }
    }

    margin-bottom: 50px;
    margin-top: 0px;

    .gatewayBanner-panel {
      padding-top: 28px;
      padding-bottom: 50px;
    }

    .gateway-section-title-default {
      margin-bottom: 20px;
      font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
      font-size: 30px !important;
      line-height: 34px !important;

      h1 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 3rem !important;
        line-height: 3.5rem !important;
        margin-bottom: 20px;
      }

      h2 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 1.875rem !important;
        line-height: 2.25rem !important;
        margin-bottom: 20px;

        &.h2-display {
          font-size: 2.625rem !important;
          line-height: 2.875rem !important;
        }
      }
    }

    .gateway-section-desc-default {
      margin-bottom: 20px;

      h4 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 20px !important;
      }
    }

    .resizewidth {
      width: 146% !important;
    }
  }

  .gatewaybanner-modal {
    .modal-dialog {
      width: 600px !important;
      margin: 30px auto !important;
    }

    .limelight-player {
      left: 29px !important;
      width: 90% !important;
    }
  }

  .vjs-limelight-big-play {
    font-size: 100px !important;
  }
}

@media only screen and (max-width: 767px) {
  .gatewaybanner-modal {
    .modal-content {
      height: 300 !important;
      width: 100% !important;
    }

    .limelight-player {
      width: 95% !important;
      height: 300px !important;
      position: relative;
      top: -25px !important;
      left: 9px !important;
    }
  }

  .gatewayBannerComp {
    .showImage {
      display: block;
      width: 100%;
      height: 117px;
    }

    margin-bottom: 48px;
    margin-top: 48px;

    .gatewayBanner-panel {
      padding-top: 28px;
      padding-bottom: 50px;
      position: relative;
    }

    .gateway-section-cardspanel {
      ul.cards.threeColumn {
        li {
          width: 100% !important;
          height: auto !important;

          a {
            padding: 20px 20px 30px 20px !important;
          }
        }
      }

      ul.cards.twoColumn {
        li {
          width: 100% !important;
          height: auto !important;

          a {
            padding: 20px 20px 30px 20px !important;
          }
        }
      }

      ul.cards {
        li {
          a {
            p.panel-eyebrow {
              font-size: 12px !important;
              line-height: 14px !important;
              text-align: left;
              text-transform: uppercase;
              margin: 0px 0px 10px 0px !important;
            }

            .panel-title {
              font-size: 16px !important;
              line-height: 20px !important;
              text-align: left;
            }

            p.panel-desc {
              display: none;
            }
          }
        }
      }
    }

    .gateway-section-title-default {
      font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
      font-size: 26px !important;
      line-height: 29px !important;
      margin-bottom: 15px;

      h1 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 2rem !important;
        line-height: 2.25rem !important;
        margin-bottom: 15px;
      }

      h2 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 1.75rem !important;
        line-height: 2.125rem !important;
        margin-bottom: 15px;

        &.h2-display {
          font-size: 2.25rem !important;
          line-height: 2.625rem !important;
        }
      }
    }

    .gateway-section-desc-default {
      margin-bottom: 28px;
    }

    .gateway-section-title-default.opt-font {
      font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
      font-size: 18px !important;
      line-height: 23px !important;

      h1 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 18px !important;
        line-height: 23px !important;
      }

      h2 {
        font-family: "brandon_grotesqueregular", Arial, sans-serif !important;
        font-size: 18px !important;
        line-height: 23px !important;
      }
    }

    .gatewayBnrsection-bg-img-mobile.hideImage {
      display: none;
    }

    .gatewayBnrsection-bg-img-mobile.bg-img-mobile {
      display: none;
    }

    .gatewayBnrsection-bg-img-mobile.imageBelowText {
      display: block !important;
      width: 100%;
      object-fit: cover;
      height: auto;
    }

    .bg-img {
      width: 100%;
      height: auto;
    }
  }

  .actionbanner-modal {
    .modal-dialog {
      height: 300 !important;
      width: 100% !important;
    }
  }
}


/* common code for youtube and limelight */
.yt-video-modal,
.limelight-video-modal {
  .modal-dialog {
    width: 100%;
    margin: 16px auto;
    height: 543px;
    max-width: 900px;

    @media @lg-only {
      max-width: 600px;
    }

    @media @md-down {
      max-width: 92%;
      height: auto;
    }
  }

  .modal-header {
    border-bottom: none;
    padding: 5px 6px 10px;

    .close {
      -webkit-appearance: none;
      padding: 0 5px;
      cursor: pointer;
      background: transparent;
      border: 0;
      margin: auto 0 auto auto;
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: 0.2;

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: 0.5;
      }
    }
  }
}

/* Youtube video less */

.yt-video-modal {
  .modal-dialog {
    @media @md-down {
      width: 100%;
      max-width: 90%;
    }
  }

  .modal-content {
    height: 550px;

    @media @md-down {
      height: 370px;
    }

    @media (max-width: 767px) and (orientation: landscape) {
      height: 340px;
    }
  }
}

iframe.yt-video-player-image {
  width: 850px;
  height: 490px;
  margin: 0 25px;

  @media @lg-only {
    width: 550px;
    height: 490px;
  }

  @media @md-down {
    width: 90%;
    height: 300px;
    margin: 0 auto;
  }

  @media (max-width: 767px) and (orientation: landscape) {
    height: 270px;
  }
}

/* Lime Light video less */
.limelight-video-modal {
  .modal-header {
    padding: 5px 6px 30px;
  }

  .limelight-player {
    .vjs-limelight-big-play {
      font-size: 98px !important;
    }
  }
}

.limelight_player_cont {
  width: 850px !important;
  height: 490px !important;
  margin: 0 auto;
  position: relative;
  top: -25px;

  @media @lg-only {
    width: 90% !important;
    margin: 0 auto;
  }

  @media @md-down {
    width: 93% !important;
    height: 300px !important;
    margin: 0 auto;
  }
}