<div id='ubotcare__main-container'></div>

<style type='text/css'>
    #ubotcare-widget-launch-icon #teaserImage{
        width: 61px;
    }
    #ubotcare__live_chat #ubotcare__chatcontainer .ubotcare__header{
		background: #ffd100;
	}
</style>
<script src='https://tsc-ubotcare-prod.s3.eu-west-3.amazonaws.com/live-chat/ubotcare.js'></script>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
	var __ubotcare_conf = __ubotcare_conf || {};
	__ubotcare_conf.token = 'eyJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoiYWJvdHQtZGV1dHNjaGxhbmQifQ.RvWPmwlO-R9ielfwNg0Cd85bp_7KJPdxWuLpap6WOBQ';
	__ubotcare_conf.cssUrl = "https://tsc-ubotcare-prod.s3.eu-west-3.amazonaws.com/live-chat/ubotcare.css";
	__ubotcare_conf.locale = 'de';
    __ubotcare_conf.host = 'ubot.care';
    new Ubotcare(__ubotcare_conf);
});
</script>