@font-face {
  font-family: "calibri_light";
  src: url("../../../clientlib-site/resources/fonts/calibri/CalibriMSLight/normal_normal.woff2") format("woff2"),
    url("../../../clientlib-site/resources/fonts/calibri/CalibriMSRegular/normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "calibri_regular";
  src: url("../../../clientlib-site/resources/fonts/calibri/CalibriMSRegular/normal_normal.woff2") format("woff2"),
    url("../../../clientlib-site/resources/fonts/calibri/CalibriMSRegular/normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "calibri_bold";
  src: url("../../../clientlib-site/resources/fonts/calibri/CalibriMSBold/normal_normal.woff2") format("woff2"),
    url("../../../clientlib-site/resources/fonts/calibri/CalibriMSBold/normal_normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: Georgia, "brandon_grotesqueregular", "calibri_regular", serif;
}

body {
  font-family: brandon_grotesqueregular, sans-serif;
}

:root {
  --tiles-font-family: Georgia, "brandon_grotesqueregular", "calibri_regular", serif;
  --tiles-para-font-family: brandon_grotesqueregular;

  --badge-font-family: brandon_grotesqueregular;
}

.a-link {
  --link-font-family: brandon_grotesqueregular;
}

.a-breadcrumb {
  --breadcrumb-font-family: brandon_grotesqueregular;
}

.a-tooltip {
  --tooltip-content-font-family: brandon_grotesqueregular;
}

.o-footer {
  --footer-top-section-padding-bottom: 12px;
  --footer-bootom-section-padding: 1.5625rem 0 0;
  --footer-link-text-font-family: brandon_grotesqueregular;
  --footer-copyright-font-family: brandon_grotesqueregular;
}

.m-link-stack {
  --link-stack-base-font-family: brandon_grotesqueregular;
  --link-stack-heading-font-family: brandon_grotesquebold;
}

.o-search-results-filter {
  --search-results-with-filter-text-border-bottom: 0.625rem solid #f8f9fa;
}

.filter-title {
  --search-facet-with-filter-title-border-bottom: 0.625rem solid #f8f9fa;
}

.m-form-data {
  --form-data-header-border-bottom: solid 1px #f8f9fa;
}

.m-article-list {
  --article-list-skeleton-bg-1: #f8f9fa;
}



/*already coming from theme2*/
.a-input-field {
  --input-field-password-tooltip-font-family: "Brandon Grotesque", Arial, sans-serif;
}

.a-result {
  --result-font-family: brandon_grotesquebold;
}

.o-search-results-filter {
  --search-result-with-sticky-link-font: "Brandon Grotesque", Arial, sans-serif;
  --search-result-with-sticky-text-font: Georgia, "brandon_grotesqueregular", "calibri_regular", serif
}

.a-card-result {
  --card-result-font-family: brandon_grotesquebold;
}

.a-list-result {
  --list-result-font-family: brandon_grotesquebold;
}

.o-features-card {
  --feature-card-number-font: "Brandon Grotesque", Arial, sans-serif;
}

.m-table-component {
  --table-button-font: "Georgia", Arial, Helvetica, sans-serif;
  --table-headings-font-brondon: "brandon_grotesquebold"
}

.m-hero {
  --hero-para-font-family: Georgia, "brandon_grotesqueregular", "calibri_regular", serif;
  --hero-main-header-font-family: Georgia, "brandon_grotesqueregular", "calibri_regular", serif;
}

.m-payon-form {
  --payon-group-font-family: brandon_grotesqueregular;
}

.compliancenumber {
  --compliancenumber-text-font: brandon_grotesqueregular, Arial, sans-serif
}

.m-table-component {
  --table-button-font: "Georgia", Arial, Helvetica, sans-serif;
  --table-headings-font-brondon: "brandon_grotesquebold"
}

.m-custom-table {
  --customtable-font-family: brandon_grotesqueregular;
}