@import "../../clientlib-corelaboratory/css/global/variables.less";
@import "../../clientlib-themes/css/add-corelab-theme.less";

/*aliniqBIS page specific css starts here*/

#section-aliniq-bis-herobanner {
  .m-hero__media img {
    height: 250px;
    width: 100% !important;
}
  
}

#aliniq-balancing-act {
  @media (min-width: 915px) {
    margin-top: 63px;
    margin-bottom: 75px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 63px;
  }
  @media (max-width: 768px) {
    margin-top: 63px;
  }
  .container-full-width .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: unset !important;
      margin-bottom: unset !important;
    }
  }
  .row {
    margin: @margin;
    .col-12 {
      padding: @padding;

      &:nth-child(1) {
        padding-right: 25px;
        @media (max-width: 767px) {
          padding-right: 5px;
        }
      }

      .cmp-title__text {
        color: @dark-grey;
        
        @media (max-width: 767px) {
          padding-top: 0px;
        }
      }
      .image {
        .cmp-image__image {
          @media (min-width: 992px) {
            max-width: 450px;
          }
        }
      }
    }
  }
}
#aliniq-optimize-performance {
  margin-top: 50px;
  
  .a-title--fg-secondary .cmp-title .cmp-title__text {
    @media (max-width: 767px) {
      max-width: unset !important;
    }
  }
  .row {
    .col-12 {
      border: none !important;

      .m-card__media {
        margin-bottom: 12px;
        @media (min-width: 390px) {
          height: 100px !important;
        }
        @media (max-width: 389px) {
        height: 100px !important;
        }
      }
      .m-card__image,
      .m-card .cmp-image__image {
        width: auto;
      }
      .m-card__title {
        font-size: 20px;
        color: @dark-grey;
        margin-bottom: 7px !important;
      }
      &:nth-child(1) {
        .m-card__description {
          padding-right: 20px;
          @media (max-width: 768px) {
            padding-right: 0px;
          }
        }
      }
      &:nth-child(2) {
        .m-card__description {
          padding-right: 7px;
          @media (max-width: 768px) {
            padding-right: 51px;
          }
        }
      }
      &:nth-child(3) {
        .m-card__description {
          padding-right: 7px;
          @media (max-width: 768px) {
            padding-right: 51px;
          }
        }
      }
      &:nth-child(4) {
        .m-card__description {
          padding-right: 7px;
          @media (max-width: 768px) {
            padding-right: 43px;
          }
        }
      }
    }
  }
}
#aliniq-intell-insights {
  @media (max-width: 768px) {
    margin-bottom: @zero;
  }
  .a-title--fg-secondary .cmp-title .cmp-title__text {
    @media (max-width: 767px) {
      max-width: unset !important;
    }
  }
  .row {
    .col-12 {
      .cmp-title__text {
        font-size: 27px !important;

        line-height: 30px !important;
        @media (min-width: 992px) {
          padding-right: 49px !important;
        }
        @media (max-width: 768px) {
          font-size: 18px !important;
          line-height: 22px !important;
        }
      }
      .text .cmp-text p {
        padding-right: 12px;
      }
    }
  }
}

/*aliniqBIS page specific css ends here*/

/*aliniqCDS page specific css starts here*/

#aliniq-cds-decision-making {
  @media (min-width: 915px) {
    margin-top: 63px;
    margin-bottom: 20px;
  }
  .container{
    @media (max-width: 767px) {
    padding: @padding;
    }
  }
  .container-full-width .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: unset !important;
      margin-bottom: unset !important;
    }
  }
  

  .row {
    margin: @margin;
    .col-12 {
      padding: @padding;

      &:nth-child(1) {
        padding-right: 34px;
        @media (max-width: 767px) {
          padding-right: 1px;
        }
      }

      .cmp-title__text {
        color: @dark-grey;

        @media (max-width: 767px) {
          padding-top: 25px !important;
        }
      }
      .image {
        .cmp-image__image {
          max-width: 450px;
        }
      }
    }
  }
}
#aliniq-cds-intell-insights {
  @media (max-width: 768px) {
    margin-bottom: @zero;
  }
  .a-title--fg-secondary .cmp-title .cmp-title__text {
    @media (max-width: 767px) {
      max-width: unset !important;
    }
  }
  .row {
    .col-12 {
      &:nth-child(1) {
        padding-top: 10px;
      }
      .cmp-title__text {
        padding-right: 49px !important;
        line-height: 30px !important;
        @media (max-width: 768px) {
          padding-right: 0px !important;
          font-size: 15px !important;
          line-height: 22px !important;
        }
      }
      .text .cmp-text p {
        padding-right: 5px;
        &:nth-child(1) {
          @media (max-width: 768px) {
            padding-right: 12px !important;
          }
        }
        &:nth-child(2) {
          @media (max-width: 768px) {
            padding-right: 18px !important;
          }
        }
      }
    }
  }
}
section#section-aliniq-cds-pros-column {
  margin-top: 60px;
}
#aliniq-cds-pros-column {
  .row {
    .col-12 {
      &:nth-child(2) {
        @media (min-width: 768px) {
          padding-left: 25px;
        }
      }
      &:nth-child(3) {
        @media (min-width: 768px) {
          padding-left: 25px;
        }
      }
      .cmp-title__text {
        font-size: 24px !important;

        line-height: 30px !important;
        @media (max-width: 768px) {
          font-size: 18px !important;
          line-height: 22px !important;
        }
      }
      .m-card__image {
        padding-top: 20px;
      }
      .m-card__image,
      .m-card .cmp-image__image {
        width: 85% !important;
        @media (max-width: 767px) {
          width: 70% !important;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          width: 100% !important;
        }
      }
    }
  }
}
/*aliniqCDS page specific css ends here*/
/*aliniqIMS page specific css starts here*/

#aliniq-ims-decision-making {
  .columncontrol-full-width {
    @media (max-width: 768px) {
      padding-bottom: @padding !important;
      margin-bottom: @margin !important;
    }
  }
  @media (min-width: 915px) {
    margin-top: 63px;
    margin-bottom: 70px;
  }
  .container-full-width .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: unset !important;
      margin-bottom: unset !important;
    }
  }
  .row {
    .col-12 {
      padding: @padding;

      &:nth-child(1) {
        @media (min-width: 915px) {
          padding-left: 14px;
          padding-right: 18px;
        }
        @media (max-width: 767px) {
          padding-right: 1px;
        }
      }

      .cmp-title__text {
        color: @dark-grey;

        @media (max-width: 767px) {
          padding-top: 0px;
        }
      }
      .image {
        .cmp-image__image {
          max-width: 450px;
        }
      }
    }
  }
}
#aliniq-ims-intell-insights {
  .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: @padding !important;
      margin-bottom: @margin !important;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: @zero;
  }
  .a-title--fg-secondary .cmp-title .cmp-title__text {
    @media (max-width: 767px) {
      max-width: unset !important;
    }
  }
  .a-title--fg-secondary {
    @media (min-width: 915px) {
      margin-bottom: 85px !important;
    }
  }

  .row {
    .col-12 {
      @media (max-width: 767px) {
        padding-right: 10px !important;
        padding-left: 0px !important;
      }
      &:nth-child(1) {
        padding-top: 5px;
        @media(min-width: 991px){
          padding-right: 13px !important;
        }
      }
      .cmp-title__text {
        padding-top: 10px;
        font-size: 24px !important;
        line-height: 27px !important;
        @media (max-width: 844px) {
          font-size: 16px !important;
          line-height: 18px !important;
        }
        @media (max-width: 767px) {
          padding-right: 0px !important;
          font-size: 15px !important;
          line-height: 22px !important;
        }
      }

      .cmp-image__image {
        width: 135px !important;
        height: 240px !important;
      }

      .text .cmp-text p {
        padding-right: 5px;

        &:nth-child(1) {
          @media (max-width: 768px) {
            padding-right: 0px !important;
          }
        }
      }
    }
  }
  .columncontrol.columncontrol-full-width.column-align--space-between {
    margin-top:70px;
    .container{
      .row{
        .col-12{
          &:nth-child(3) {
            
            @media(min-width: 991px){
              padding-right: 15px !important;
            }
          }
        }
      }
    }
  }
}
/*aliniqIMS page specific css ends here*/
/*aliniqInstrumentManager page specific css starts here*/

.smallerBanner-im {
  .m-hero--short {
    height: 250px;
  }
  .m-hero__image,
  .m-hero__parallax-image,
  .m-hero .cmp-image__image {
    object-fit: none;

    object-position: top;
    @media (max-width: 767px) {
      object-position: left !important;
    }
  }

  .m-hero--short .m-hero__content {
    @media (min-width: 1023px) {
      position: relative;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      top: 22px;
    }
  }

  .m-hero__content {
    padding-bottom: 40px;

    @media (max-width: 915px) {
      left: 0px;
      padding-left: 98px;
    }

    @media (max-width: 844px) {
      padding-left: 65px;
    }

    @media (max-width: 768px) {
      padding-left: 40px;
    }

    @media (max-width: 480px) {
      left: 0px;
      padding: 40px 20px 4px 20px;
    }

    img {
      width: 270px;
    }

    .h1-hero {
      margin-bottom: @margin;
    }

    h3 {
      color: #00b140 !important;
      font-size: 36px !important;
      line-height: 36px;
      margin-top: 10px;
      margin-bottom: 5px;

      @media (max-width: 915px) {
        font-size: 24px !important;
        line-height: 28px;
      }

      @media (max-width: 480px) {
        font-size: 24px !important;
        line-height: 24px;
        padding-bottom: 7px;
      }
    }

    .h2-hero {
      margin-bottom: 0px;
      font-family: @fontBrandonregular;
      font-size: 20px !important;
      line-height: 24px !important;
      color: @white-color !important;
      @media (min-width: 1023px) {
        padding-top: 10px;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        padding-top: 12px;
      }
      @media (max-width: 915px) {
        font-size: 15px !important;
        line-height: 18px !important;
      }
      p {
        margin-bottom: 0px;
        font-family: @fontBrandonregular;
        font-size: 20px !important;
        line-height: 24px !important;
        @media (max-width: 915px) {
          font-size: 15px !important;
          line-height: 18px !important;
        }
      }
    }
  }

  .m-hero__media {
    img {
      height: 250px;
    }
  }
}



#aliniq-insmanager-text-two-col1 {
  @media (min-width: 915px) {
    margin-top: 30px !important;
    margin-bottom: 50px;
  }
  .container-full-width .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: unset !important;
      margin-bottom: unset !important;
    }
  }
  .columncontrol-full-width {
    @media (min-width: 991px){
      padding-bottom: @padding !important;
      margin-bottom: @margin !important;
    }
    @media (max-width: 768px) {
      padding-bottom: @padding !important;
      margin-bottom: @margin !important;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      padding-bottom: @padding !important;
      margin-bottom: @margin !important;
    }
  }

  .row {
    .col-12 {
      @media (max-width: 767px) {
        

        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .title .cmp-title h2.cmp-title__text {
        @media (max-width: 768px) {
          padding: @padding !important;
        }
      }
      &:nth-child(2) {
        .text .cmp-text p {
          padding-right: 20px;
          
          @media (max-width: 768px) {
            padding-right: 10px;
          }
        }
      }

      .cmp-title__text {
        color: @dark-grey;

        @media (max-width: 767px) {
          padding-top: 0px;
        }
      }
    }
  }
}
#aliniq-insmanager-text-two-col2 {
  @media (min-width: 915px) {
    margin-top: 63px;
    margin-bottom: 70px;
  }
  .container-full-width .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: unset !important;
      margin-bottom: unset !important;
    }
  }
  .columncontrol-full-width {
    @media (max-width: 767px) {
      padding-bottom: @padding !important;
      margin-bottom: @margin !important;
    }
    
  }
  .a-title--fg-secondary .cmp-title .cmp-title__text {
    @media (max-width: 767px) {
      max-width: unset !important;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 340px !important;
    }
  }
  .row {
    .col-12 {
      @media (max-width: 767px) {
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      .title .cmp-title h2.cmp-title__text {
        padding-top: 2px !important;
        @media (max-width: 768px) {
          padding: @padding !important;
        }
      }

      &:nth-child(2) {
        @media (min-width: 915px) {
          padding-left: 22px;
        }
        .text .cmp-text p {
          @media (max-width: 768px) {
            padding-right: 10px;
          }
        }
      }

      .cmp-title__text {
        color: @dark-grey;

        @media (max-width: 767px) {
          padding-top: 0px;
        }
      }
    }
  }
}

/*aliniqInstrumentManager page specific css ends here*/
#aliniq-bis-pid,#aliniq-cds-pid, #aliniq-ims-pid, #aliniq-instmangr-pid{
  .m-hero.m-hero--short .m-hero__media {
    @media (min-width: 480px) and (max-width: 1023px){
    height: 240px !important;
    }
    }
    
}
