@import "../../clientlib-corelaboratory/css/global/variables.less";

#mild-traumatic-brain-injury{
	.m-hero.m-hero--medium.m-hero--full-width.m-hero--light{
        background-color: #6e0269;
    }
    .aem-Grid{
        .container:nth-child(3){
            .a-container__row{
                .columncontrol.columncontrol-full-width{
                    margin: 80px 0px;
                }
            }
        }
        .container:nth-child(8){
            .a-container__row{
                .columncontrol.columncontrol-full-width{
                    .columncontrol__column {
                        .m-card{
                            .m-card__media{
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#section_traumatic-brain-injury-real-life-banner{
    .m-hero__content{
        @media (max-width:479px) {
            padding-right: 5%;
        }
    }
   .m-hero__media {
        .m-hero__image.d-sm-block{
            @media (max-width:991px) {
                display: none !important;
            }
        }
        @media (min-width: 768px) and (max-width: 1023px){
            height: 320px !important;
            .cmp-image__image{
                height: 320px;
                position: absolute !important;
            }
        }
    }
}
#section-brain-injury-current-tools{
    .a-container__row{
		width: 75%;
        margin: 0px auto;
        .title {
            .cmp-title__text{
                span{
                    @media (min-width:480px) and (max-width:767px) {
                        width: 70% !important;
                    }
                    @media (min-width:768px) and (max-width:1023px) {
                        width: 60% !important;
                    }
                }
            }
        }
        .columncontrol.column-align--center{
            .columncontrol__column {
                .image.image--align-center{
                    margin-bottom: 0px;
                    .container{
                        @media (min-width:480px) and (max-width:767px) {
                            max-width: 100%;
                        }
                    }
                    .a-image__default{
                        @media (max-width:1023px) {
                            width: 220px !important;
                        }
                    }
                }
                .title.a-title.a-title--fg.a-title--fg-light{
                    margin: 30px 0px 0px 0px;
                }
                .text{
                    margin-top: 0px;
                }
            }
        }
        @media (max-width:767px) {
            position: relative;
            overflow: hidden;
            padding: 20px 0px 0px 0px;
            width:100%;
            .a-container__content{
                padding: 10px;
            }
            .a-container__media__mobile{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
                img{
                    width: auto;
                    height: 100%;
                }
            }
        }
        @media (min-width:768px) and (max-width:1023px) {
            width: 100%;
            padding-top: 20px;
        }
    }
}

#brain-injury-evaluation-year{
    .columncontrol__column {
        .image {
            .cmp-image__image {
                @media (max-width:767px) {
				    width: 50% !important;
                }
                @media (min-width:768px) and (max-width:1023px) {
				    width: 80% !important;
                }
            }
        }
    }
}

#section-find-out-more{
	.a-container__row{
        margin-bottom:50px;
        margin-top:20px;
        .a-container__content{
            text-align: center;
            .text{
                margin-bottom: @zero;
            }
            .a-button--primary-v1{
                margin-top: @zero;
            }
        }
        @media (max-width:767px) {
            position: relative;
            overflow: hidden;
            padding:30px 15px;
            margin: 0px;
            .a-container__content{
                padding: 10px;
            }
            .a-container__media__mobile{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: -1;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        @media (min-width:1560px) and (max-width:1920px) {
			margin-top: 30px;
        }
    }
}