@import "../../clientlib-corelaboratory/css/global/variables.less";

/*top nav*/

.o-header {
  .o-header__wrapper {
    .o-header__secondary-top-nav {
      background-color: @nav-bg-color !important;
      min-height: 44px;
      max-height: 44px;
      .container {
        width: auto;
        max-width: 1394px;
        margin: 0 auto;
        padding: 0 40px 0 23px;
        .row {
          max-width: 100%;
          justify-content: flex-end !important;
          margin: 0 60px 0 0;
          position: relative;
          .o-header__user-activity {
            left:0 !important;
            .o-header__utility-nav {
              flex-direction: row;
              margin-right: 10px;
              .abt-icon-globe{
                &::before{
                  font-size: 18px;
                }
              }
              .country-dropdown {
                order: 1;
                .m-link-stack {
                  padding-right: 0;
                  @media (max-width: 1205px) {
                    padding-left: 0;
                  }
                  .m-link-stack--header {
                    display: none;
                  }
                  .m-link-stack--content {
                    padding: 0;
                    .a-link {
                      display: inline-block;
                      padding-right: 28px;
                      .a-link__text {
                        color: @white-color;
                        font-family: @fontBrandonregular;
                        font-size: 12.8px;
                        text-decoration: none;
                        font-weight: normal;
                        text-transform: uppercase;
                        &:hover{
                          color: @blue-color;
                        }
                      }
                    }
                  }
                }
              }
              .m-link-stack {
                order: 4;
                padding-right: 0;
                .m-link-stack__link {
                  .a-link {
                    .a-link__text {
                      font-family: @fontBrandonregular;
                      font-size: 12.8px;
                      font-weight: 450;
                      letter-spacing: 0.5px;
                      padding-right: 1px;
                      color: @white-color;
                      text-transform: uppercase;
                      &:hover{
                        color: @blue-color;
                      }
                      .abt-icon {
                        right: -20px;
                        color: @grey;
                      }
                    }
                  }
                }
              }             
              
              .m-link-stack__dropdown-wrapper{
                .a-link__text{
                  font-family: @fontBrandonregular;
                  font-size: 12.8px;
                  &:hover{
                    @media (min-width:992px){
                    color: @blue-color;
                    }
                  }
                }
                .m-link-stack__list{
                  margin-top: 5px;
                  margin-bottom: 5px;
                  li{
                    padding: 5px 10px;
                  &:active, &:focus, &:hover{
                    background-color: transparent;
                  }
                }
                }
              }
              .a-link--icon-left {
                order: 5;
              }
              .flag {
                order: 2;
                &:hover{
                  &::before {
                    content: 'Select Language Preference';
                    position: absolute;
                    background: #fff;
                    padding: 0 5px;
                    top: 25px;
                    color: #000;
                    width: max-content;
                    border: 1px solid #000;
                    font-size: 14px;
                    font-family: "brandon_grotesqueregular",Calibri,Helvetica,Arial,sans-serif;
                }
                }
                
                #theImg {
                  width: 15px;
                  height: 10px;
                  margin-right: 5px;
                  position: relative;
                  bottom: 3px;
                  display: none;
                }
              }
              .globe {
                order: 3;
                .abt-icon {
                  display: none;
                  color: @grey;
                  position: relative;
                  margin-right: 5px;
                  top: 3px;
                }
              }
            }
          }
          .o-header__search {
            .abt-icon{
                color: @grey;
            }
            .a-search{ 
              left: -6px !important;               
                .abt-icon-search{
                    color: @grey;                
                  }
                  .a-search__input{
                    color: @grey;
                    font-size: 12.8px;
                    font-family: @fontBrandonregular;
                  }
                  .abt-icon-cancel{
                    color: @grey;
                  }
            }
            .a-search--expand {
                .a-search__input{
                    color: @black-color;
                }
                .a-search--icon-left{
                    color: @black-color;
                }
                .a-search--icon-right{
                    top: 1px;
                }               
              .abt-icon{
                color: @black-color !important;
              }

              form {
                color: @grey;
                .a-search__input {
                  font-family: @fontBrandonregular;
                  font-size: 12.8px;
                  font-weight: 450;
                  letter-spacing: 0.5px;
                  color: @grey;
                  text-transform: uppercase;
                }
              }
            }          
          }
          .o-header__mob-search{
            .a-search--expand{ 
                .a-search__input{
                    color: @black-color;
                }
                .a-search--icon-left{
                    color: @black-color;
                }
                .a-search--icon-right{
                    top: 1px;
                }               
              .abt-icon{
                color: @black-color;
              }
            } 
          }
        }
      }
    }
    .o-header__sticky-section {      
      background-color: @dark-grey;
      .o-header__logo-section {
        height: 62px;
        align-items: center;
        display: flex;
        width: auto;
        max-width: 1394px;
        margin: 0 auto;
        padding: 0 40px 0 23px;
        border: none;
        @media (max-width:991px){
          padding: 0 20px;
        }
        .container {
          max-width: 1394px;
          margin: 0 auto;
          padding-right: 0;
          padding-left: 17px; 
          @media (max-width:991px){
            padding: 0;
          }
          .row {
            margin: 0;
            .col-5{
              padding: 0;
            }
            .a-logo-comp--link {
              .a-logo-comp--image {
                opacity: 1;
                position: inherit;
                max-width: 113px;
                &:focus, &:hover{
                  outline: none;
                  border: none;
                }
              }
            }
          }
        }
        .o-header__sticky-search{
          .abt-icon-search{
            color: @grey;
          }
        }
      }
      .o-header__mega-menu {
        background-color: @white-color;
        @media (max-width: 991px) {
          background-color: @nav-bg-color;
        }
        .container {          
          width: auto;
          max-width: 1394px;
          margin: 0 auto;
          padding: 0 40px 0 23px; 
          @media (max-width: 991px) {
            padding: 0;
          }          
          .row{
            margin: 0;
          }
          .mega-menu {
            .navbar {
              padding-right: 11px;
              @media (max-width: 992px) {
                background-color: @nav-bg-color;
                padding-left: 0;
                padding-right: 30px;
              }
              @media (max-width: 1205px) {
                max-width: 100%;
                padding-left: 0;
              }
              @media (min-width:1205px){
                background-color: @white-color;
              }
              @media (min-width:1180px){
                background-color: @white-color;
              }
              @media (min-width:1024px){
                background-color: @white-color;
              }
              .navbar-toggler{
                color:@white-color;
                @media (max-width: 991px) {
                  margin-left: 10px;
                }
              }
              .navbar-collapse {
                @media (max-width: 1205px) {
                  left: 50px;
                  width: 341px;
                  margin-left: 0;
                  overflow-y: auto;
                  max-height: 490px;
                }
                .navbar-collapse-wrapper {
                  @media (max-width: 991px) {
                    padding-right: 0;
                    overflow: hidden;
                    }
                  .m-mega-menu__mobile-products{
                    @media (max-width: 991px) {
                    padding-left: 0;
                    }
                  }
                  .navbar-nav {
                    padding-right: 11px;
                    li {
                      .m-mega-menu__list-var {
                        box-shadow: none;
                        position: fixed;
                        width: 100%;
                        top: auto;
                        margin-top: 10px; 
                        background: @light-grey;
                      .m-mega-menu__list-var-wrapper{
                          height: 45px;
                          background: @light-grey;
                          width: auto;
                          max-width: 1394px;
                          margin: 0 auto;
                          padding: 13px 23px !important;
                          .m-mega-menu__content{
                            padding-left: 10px;
                            .m-mega-menu__sub-list{
                              min-height: auto;
                              max-width: fit-content;
                              min-width: fit-content;
                              margin-right: 30px;
                              h6{
                                color: @dark-border-color;
                                font-size: 14.7px;
                                text-decoration: none;
                                font-family: brandon_grotesqueregular,Calibri,Helvetica,Arial,sans-serif;
                                font-weight: normal;
                                &:hover{
                                  color: @blue-color;
                                }
                              }                              
                            }
                          }                        
                        }
                        @media (min-width: 992px) and (max-width: 1205px) {
                          margin-left: calc(-0.1vw) !important;
                        }
                      }
                      a {
                        font-family: @fontBrandonregular;
                        font-size: 14.7px;
                        color: @dark-border-color;
                        font-weight: normal;
                        padding: 0;
                        @media (max-width: 1205px) {
                          padding-left: 0;
                          color: @black-color;
                        }
                        .active{
                          @media (max-width: 1205px) {
                            color: @blue-color;
                          }
                        }
                        &:hover{
                          color: @blue-color;
                          @media (max-width: 1205px) {
                            color: @black-color;
                            background-color: transparent;
                          }
                        }
                      }
                    }
                    .m-mega-menu__mobile-item-wrapper {
                      padding: 0;
                      border-bottom: 0;
                      min-width: fit-content;
                      margin-right: 0;
                      @media (min-width:1205px){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 45px;
                      }
                      .link {
                        margin: 0 !important;
                        height: auto;
                        padding: 12px 17px;
                        .a-link__text {
                          @media (max-width: 1205px) {
                            display: block !important;
                          }
                        }
                        @media (max-width: 1205px) {
                          display: block !important;
                          text-align: left;
                          margin: 0;
                        }
                        @media (min-width: 992px) and (max-width: 1205px) {
                          display: block !important;
                        }
                        &:hover{
                          background: @light-grey;
                          @media (max-width:992px){
                            background-color: transparent;
                          }
                        }
                      }
                      
                      .languagenavigation{
                        @media (max-width:992px){
                          width: 100%;
                          padding: 24px 17px 12px 17px;
                        }
                        .m-link-stack__container{
                          @media (max-width: 1205px){
                          margin-top: 0;
                          }
                          .m-link-stack__list{
                            @media (max-width: 1205px){
                              margin-top: 10px;
                              padding-left: 10px;
                              }
                              li{
                                @media (max-width: 1205px){
                                  padding:5px 0;
                                  }
                              }
                          }
                        }
                        .m-link-stack{
                          padding: 0;
                          @media (max-width: 1205px){
                            padding-bottom: 0;
                          }
                        }
                        .m-link-stack__dropdown-wrapper{
                          .a-link__text{
                            font-weight: normal;
                          }
                        }
                        .a-link__text{
                          @media (max-width: 1205px){
                          font-size: 14.7px;
                          text-transform: uppercase;
                          font-weight: bold;
                          }
                        }
                        @media (max-width: 1205px){
                        .active{
                          font-weight: bold;
                        }
                      }
                      }
                      .version2{ 
                      width: fit-content;
                      padding: 12px 17px;
                        &:hover {
                          border-bottom: 0;
                          @media (max-width: 1205px){
                            background: transparent;
                            cursor: pointer;
                          }
                          a {
                            color: @blue-color;
                            @media (max-width: 1205px){
                              color: @black-color;
                            }
                          }
                        }
                        @media (max-width: 991px){
                          width: 100%;
                        }
                      } 
                      &:hover {
                        border-bottom: 0;
                        background-color:@light-grey;
                        a{
                          color:@blue-color;
                          background-color:@light-grey; 
                          @media (max-width: 991px){
                            color:@dark-grey;
                          }                         
                        @media (max-width: 991px){
                          background-color: transparent !important;
                        }
                        }
                        @media (max-width: 991px){
                          background-color: transparent !important;
                        }
                      }   
                      @media (max-width: 1205px) {
                        &:nth-child(4){
                            .a-link{
                                content: "\e907";
                                font-size: var(--mega-menu-nav-padding-left);
                                font-family: var(--mega-menu-icon-font-family) !important;
                                color: var(--mega-menu-icon-color);
                                transform-origin: 50% 50%;
                                transition: all .5s ease;
                                transform: rotate(0);
                                display: inline-block;
                                width: 304px;
                                @media (min-width: 992px) and (max-width: 1205px) {
                                  width: auto;
                                }
                            }
                        }
                        &:nth-child(6){
                            border-top: 1px solid @light-border-color;
                            width: 98%;
                            margin-top: 6px;
                        }
                      } 
                      &:before{
                        display: none;
                      }
                      
                      @media (min-width: 992px){
                        &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10){
                          display: none;
                        }
                        
                      @media (min-width: 992px) and (max-width: 1205px) {
                        min-width: fit-content;
                        height: 44px;
                      }
                      
                      @media (max-width:1024px){
                        width: 150px;
                        height: 43px;
                      }
                    }
                    .m-mega-menu__mobile-menu{
                      @media (max-width: 991px) {
                      text-align: left;
                      }
                      .m-mega-menu__mobile-item{
                        @media (max-width: 991px) {
                          margin: 20px 0;
                          }                          
                      }
                    }
                    }
                    .menu-active .version2 {
                        @media (max-width: 1205px) {
                        background: transparent !important;
                        }
                    }
                    .m-mega-menu__mobile-header.active{
                      @media (max-width: 991px){
                        color: @title-color !important;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
              .globe{
                display: none;
                .abt-icon{
                    color: @grey;
                }
                @media (max-width: 1205px) {
                  display: block;
                  color: @grey;
                  position: relative;
                  right: 30px;
                  top: 0;
              }
              }
              #theImg {
                display: none;
                width: 15px;
                height: 10px;
                margin-right: 5px;
                position: relative;
                bottom: 3px;
                @media (max-width: 1205px) {
                    display: block;
                    width: 15px;
                    height: 10px;
                    position: absolute;
                    bottom: 15px;
                    right: 55px;
                }

              }
            }
          }
          .o-header__search {
            .abt-icon{
                color: @grey;
            }
            .a-search{                
                .abt-icon-search{
                    color: @grey;
                    @media (min-width: 768px) and (max-width: 1205px) {
                      position: relative;
                      top: 5px;
                    } 
                  }
                  .a-search__input{
                    color: @grey;
                  }
                  .abt-icon-cancel{
                    color: @grey;
                  }
            }
            .a-search--expand {
              @media (min-width: 768px) and (max-width: 1205px) {
                position: relative;
                top: 0px;
              } 
                .a-search__input{
                    color: @black-color;
                }
                .a-search--icon-left{
                    color: @black-color;
                    @media (min-width: 768px) and (max-width: 1205px) {
                      top: 6px;
                    }
                }
                .a-search--icon-right{
                    top: 1px;
                }               
              .abt-icon{
                color: @black-color !important;
              }

              form {
                color: @grey;
                .a-search__input {
                  font-family: @fontBrandonregular;
                  font-size: 12.8px;
                  font-weight: 450;
                  letter-spacing: 0.5px;
                  color: @grey;
                  text-transform: uppercase;
                }
              }
            }          
          }
        }
      }
    }
  }
}
.m-link-stack--border{
  &::before{
    display: none;
  }
}