@import "../../clientlib-corelaboratory/css/global/variables.less";
@import "../../clientlib-themes/css/add-corelab-theme.less";


.multiple-image-container{
    position: relative;
    background-repeat: no-repeat;
    @media (max-width:753px){
        padding: @padding !important;
    }
    @media (max-width:767px){
        height: 288px;
    }
    .cmp-container{
        width: 75%;
        margin: 0px auto;

        @media (max-width:753px){
            width: 100%;
        }

        .image{
            margin: @margin !important;
            }
    }

    .a-container__media__mobile{
        @media (max-width:753px){
            display: none;

            img{
                height: 551px;
                @media (max-width:480px){
                    height: 610px;
                }
            }
        }
    }
    .image{
        @media (max-width:767px){
            position: relative;
            top: 40px;
        }
    }
}
#section-multiple-image-banner-ci{
    @media (min-width:1205px){
    margin-bottom: 100px;
    }
    #multiple-image-banner-ci{
        @media (min-width:1205px){
            width:60%;
        }
        .image{
            &:first-child{
                position: relative;
                @media (min-width:1205px){                
                    top: 50px;
                }
                @media (min-width:768px) and (max-width:1023px){
                   padding-top:40px !important;
                   padding-bottom:40px !important;
               }
           }
            &:last-child{
                position: relative;
                top: 0;
                @media (min-width:1205px){                
                    top: 130px;
                    left: -60px;
                    width:120%
                }
                @media (max-width:767px){
                    top:50px;
                }
            }
        }
    }
}
#clinical{
    @media (min-width:991px){
        margin-bottom: 40px;
        padding-bottom: 10px;
    }
    @media (min-width:480px) and (max-width:767px){
        padding-top: 28%;
    }
}