#Privacy-policy-core-laboratory{
    .m-hero.m-hero--short{
        background-color: #5bc2e7;
        height:230px;
        @media (max-width:1023px){
			height:140px;
        }
        .m-hero__content{
			@media (max-width:479px){
				padding: 15px !important;
                padding-left: 5% !important;
                margin-top: 20px;
       		 }
            @media (min-width:480px) and (max-width:1023px){
				padding: 30px !important;
                padding-left: 5% !important;
                margin-top: 40px;
       		 }
        }
    }
    #section-privacy-policy-countries__list{
        .columncontrol.columncontrol-full-width.column-align--left{
			padding-top: 30px;
            .columncontrol__column {
                .a-link--icon-left{
					display: block;
                    margin-bottom:5px;
                    margin-top: 0px;
                    .a-link__inner-text{
						padding: 0px !important;
                        @media (max-width:1023px) {
                            font-size: 14px;
                        }
                    }
                }
            }
            @media (max-width:767px){
				margin-top: 20px;
                .columncontrol__column{
					padding-bottom: 30px !important;
                    &:last-child{
						padding-bottom: 0px !important;

                    }
                }
       		 }
             @media (min-width:768px) and (max-width:1023px){
				margin-top: 20px;
                .columncontrol__column{
					padding-bottom: 50px !important;
                    &:last-child, &:nth-child(3){
						padding-bottom: 0px !important;

                    }
                }
       		 } 
        }
        .title{
			@media (max-width:767px){
				margin: 0 !important;
       		 }
        }
    }

    .aem-Grid.aem-Grid--12{
        .a-container:nth-child(4){
           padding-bottom: 50px !important;
           @media (max-width:992px) {
            padding-bottom: 20px !important;
           }
        }
    }
}