@import "./global/variables.less";
@import "./global/media-queries.less";

.m-card {
  transition: 0.3s;
  &:hover {
    background-color: @color-light-gray;
  }
}
.link {
  a:hover {
    text-decoration: none;
  }
  .a-link__inner-text {
    color: @color-text-link;
    &:hover {
      color: @color-text-link-over;
    }
  }
}
