.a-progressbar {
  height: var(--progress-height-sm);
  border-radius: var(--progress-border-radius);
  border: var(--progress-bar-border);
  background-color: var(--progress-bar-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.a-progressbar > div {
  width: 100%;
}
.a-progressbar__status {
  height: var(--progress-height-sm);
  background-color: var(--progress-bar-bg);
}
.a-progressbar--large {
  height: var(--progress-height);
}
.a-progressbar--large .a-progressbar__status {
  height: var(--progress-height);
}
