.o-section-panel {
  max-height: var(--section-panel-max-height);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 767.98px) {
  .o-section-panel {
    max-height: inherit;
  }
  .o-section-panel .m-tiles-list__column {
    max-width: 100%;
  }
}
.o-section-panel__wrapper {
  padding: var(--section-panel-padding);
}
@media (max-width: 767.98px) {
  .o-section-panel__wrapper {
    padding: var(--section-panel-padding-mobile);
  }
}
.o-section-panel__heading .a-title {
  margin-bottom: var(--section-panel-heading-margin-bottom);
}
.o-section-panel__container {
  position: relative;
}
@media (max-width: 767.98px) {
  .o-section-panel__container {
    padding: 0;
  }
}
.o-section-panel__title h1,
.o-section-panel__title h2,
.o-section-panel__title h3,
.o-section-panel__title h4,
.o-section-panel__title h5,
.o-section-panel__title h6 {
  margin-bottom: var(--section-panel-title-margin-bottom);
}
.o-section-panel__logo .a-logo-comp {
  margin-bottom: var(--section-panel-logo-margin-bottom);
}
.o-section-panel__logo .a-logo-comp--image {
  max-height: var(--section-panel-logo-height);
}
@media (min-width: 768px) {
  .o-section-panel__logo .a-logo-comp--image {
    max-height: var(--section-panel-logo-height);
  }
}
@media (max-width: 991.98px) {
  .o-section-panel__logo .a-logo-comp--image {
    max-height: var(--section-panel-logo-height);
  }
}
@media (max-width: 767.98px) {
  .o-section-panel__logo .a-logo-comp--image {
    max-height: var(--section-panel-logo-height);
  }
}
.o-section-panel__btn-wrap .a-button {
  display: inline-block;
}
@media (max-width: 767.98px) {
  .o-section-panel__btn-wrap .a-button {
    display: block;
    width: 100%;
  }
  .o-section-panel__btn-wrap .a-button .a-button {
    display: block;
    width: 100%;
  }
}
.o-section-panel__para {
  margin-bottom: var(--section-panel-para-margin-bottom);
}
.o-section-panel .m-tiles-list__container {
  max-width: inherit;
  padding: 0;
}
.o-section-panel .m-tiles-list {
  margin-top: var(--section-panel-tiles-margin-top);
}
.o-section-panel__tiles {
  margin: 0 -10px;
}
.o-section-panel--start .o-section-panel__tiles .m-tiles-list {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.o-section-panel--start .row {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.o-section-panel--center .o-section-panel__logo,
.o-section-panel--center .o-section-panel__btn-wrap,
.o-section-panel--center .o-section-panel__title,
.o-section-panel--center .o-section-panel__para {
  text-align: center;
}
.o-section-panel--center .o-section-panel__tiles .m-tiles-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.o-section-panel--center .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.o-section-panel--light {
  background-color: var(--section-panel-light-color);
}
.o-section-panel--dark {
  background-color: var(--section-panel-dark);
}
.o-section-panel--dark .a-title__text {
  color: var(--section-panel-dark-color);
  border-color: var(--section-panel-dark-border-color);
}
.o-section-panel--dark .a-title__text:after,
.o-section-panel--dark .a-title__text:before {
  border-top-color: var(--section-panel-dark-border-color);
}
.o-section-panel--dark h1,
.o-section-panel--dark h2,
.o-section-panel--dark h3,
.o-section-panel--dark h4,
.o-section-panel--dark h5,
.o-section-panel--dark h6,
.o-section-panel--dark p {
  color: var(--section-panel-dark-color);
}
.o-section-panel__container {
  text-align: right;
}
