.accordion {
    margin-top: 0px !important;
    padding: 0 !important;
    @media @md-down {
        padding-bottom: 0px !important;
    }
    .m-accordion {
        max-width: initial;
        .m-accordion__collapse-title, .m-accordion__expand-title {
            font-family: @brandonregular;
            .font-size(14px, 20px);
            color: @brand-blue;
        }
        .m-accordion__options {
            display: none;
        }
    }
    .m-accordion__content {
        .m-accordion__content-items {
            border-top: 1px solid @color-white;
            .m-accordion__header {
                background-color: @brand-blue;
                .m-accordion__title-wrapper {
                    padding: 16px 0px 16px 24px;
                    h3 {
                        font-family: @brandonblack;
                        .font-size(32px, 36px);
                        color: @color-white;
                        @media @lg-down {
                            .font-size(26px, 32px);
                        }
                    }
                }
                .m-accordion__icon-wrapper {
                    .abt-icon {
                        &::before {
                            width: 14px;
                            height: 14px;
                            color: @color-white;
                            font-size: 16px;
                        }
                    }
                }
            }
            .m-accordion__body {
                background-color: #80ceef;
                padding-bottom: 0px;
                @media @md-down {
                    padding: 0px 24px;
                }
                .cmp-accordion__panel {
                    .text {
                        border-bottom: 1px solid @color-white;
                        padding-left: 24px;
                        padding-top: 30px;
                        .cmp-text {
                            h3 {
                                margin-bottom: 8px;
                                @media @lg-down {
                                    .font-size(24px, 32px);
                                }
                                a {
                                    text-decoration: none;
                                    color: #1F3E7C;
                                }
                            }
                            p {
                                font-family: @brandonregular;
                                color: @brand-blue;
                                .font-size(18px, 24px);
                                padding-bottom: 30px;
                                a {
                                    text-decoration: none;
                                    color: @brand-blue;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            ul {
                                padding-left: 17px;
                                margin-bottom: 0;
                                li {
                                    font-family: @brandonregular;
                                    .font-size(18px, 24px);
                                    color: @brand-blue;
                                }
                                li:last-child {
                                    padding-bottom: 30px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .text:last-child {
                        border: none;
                    }
                }
            }
        }
    }
    .container {
        padding: 0 !important;
    }
    .container.a-container {
        .cmp-container {
            >div.text {
                margin: 0 !important;
            }
        }
    }
    #faqaccordion {
        .m-accordion__options {
            display: block;
        }
        .m-accordion__content-items {
            border-top: 1px solid @brand-blue;
            .m-accordion__header {
                background-color: @color-white;
                h3 {
                    color: @brand-blue;
                    .font-size(24px, 32px);
                    @media @lg-down {
                        .font-size(22px, 24px);
                    }
                }
                .abt-icon {
                    &::before {
                        color: @brand-blue;
                    }
                }
            }
            .m-accordion__body {
                background-color: @color-white;
                .text {
                    padding: 0;
                }
            }
        }
    }
}

#adviceaccordion {
    .accordion {
        .m-accordion__content {
            .m-accordion__content-items {
                .m-accordion__body {
                    background-color: @color-aqua;
                    padding-bottom: 15px;
                    padding-left: 40px;
                    padding-top: 24px;
                    @media @lg-down {
                        padding: 20px 15px 15px 30px;
                    }
                    @media @md-down {
                        padding: 20px 15px 15px 15px;
                    }
                    .cmp-accordion__panel {
                        .cmp-container {
                            .m-card {
                                &:before {
                                    box-shadow: none;
                                }
                            }
                            .m-card--horizontal-mobile {
                                width: 100%;
                                margin-top: 0%;
                                margin-bottom: 10px;
                                @media @lg-down {
                                    margin-bottom: 20px;
                                    height: 100% !important;
                                }
                                .m-card__wrapper {
                                    display: flex;
                                    flex-direction: row-reverse;
                                    @media @md-down {
                                        flex-direction: column;
                                    }
                                    .m-popup{
                                        width: 100%;
                                        >div {
                                            @media @md-down {
                                                flex-direction: column;
                                            }
                                        }
                                    }
                                    .m-card__body {
                                        background-color: @color-white;
                                        border-radius: 5px 0px 0px 5px;
                                        margin-left: -15px;
                                        width: 100%;
                                        @media @md-down {
                                            width: 100%;
                                            margin-left: 0px;
                                            border-radius: 0px 0px 5px 5px;
                                        }
                                        .m-card__description {
                                            p {
                                                font-family: @brandonbold;
                                                a {
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
                                    .m-card__media {
                                        width: 45%;
                                        border-radius: 0px 5px 5px 0px;
                                        height: 128px;
                                        @media @md-down {
                                            width: 100%;
                                            height: 160px !important;
                                            border-radius: 5px 5px 0px 0px;
                                        }
                                        .cmp-image__image {
                                            @media @lg-down {
                                                object-fit: unset;
                                            }
                                            @media @md-down {
                                                height: 160px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}