.embed {
    #site-wheretobuy {
        .ps-widget {
            max-width: fit-content;
            .ps-container {
                .ps-wtb {
                    .ps-header {
                        margin-bottom: 40px;
                        .ps-product-details {
                            .ps-product-selector {
                                padding: 0;
                                .ps-sku-selector-attribute-Product_Title {
                                    position: relative;
                                    float: left;
                                    justify-content: center;
                                    @media @md-down {
                                        margin-right: 0px !important;
                                        margin-top: 30px !important;
                                    }
                                    > label {
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        line-height: 20px;
                                        color: @brand-blue;
                                        font-weight: normal;
                                    }
                                    .ps-sku-selector {
                                        border: 1px solid #1F3E7C;
                                        border-radius: 4px;
                                        background: @color-white;
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        color: @brand-blue;
                                        appearance: none;
                                        width: 525px;
                                        height: 48px;
                                        :hover {
                                            border: 1px solid #1F3E7C;
                                            border-radius: 4px;
                                            background: @color-white;
                                            font-family: @brandonregular;
                                            font-size: 14px;
                                            color: @brand-blue;
                                            padding: 14px 16px;
                                        }
                                        option {
                                            border: 1px solid #1F3E7C;
                                            border-radius: 4px;
                                            background: @color-white;
                                            font-family: @brandonregular;
                                            font-size: 14px;
                                            color: @brand-blue;
                                        }
                                        @media @md-down {
                                            width: 343px;
                                        }
                                        @media @lg-down {
                                            width: 343px;
                                        }
                                        @media (min-width: 710px) and (max-width: 760px) {
                                            width: 100%;
                                        }
                                    }
                                    &::after {
                                        content: "\e907";
                                        transform: translateY(-50%);
                                        position: absolute;
                                        top: 60%;
                                        right: 3%;
                                        font-family: Abbott-icon,Arial, Helvetica, sans-serif;
                                        font-size: 16px;
                                        color: #1F3E7C;
                                        @media @md-down {
                                            right: 20%;
                                        }
                                        @media @lg-down {
                                            right: 5%;
                                            top: 60%;
                                        }
                                        @media (min-width: 1024px) and (max-width: 1200px) {
                                            right: 3%;
                                            top: 63%;
                                        }
                                        @media only screen and (max-width: 400px) {
                                            right: 8%;
                                            top: 68%;
                                        }
                                        @media (min-width: 400px) and (max-width: 420px) {
                                            right: 15%;
                                            top: 68%;
                                        }
                                        @media (min-width: 430px) and (max-width: 500px) {
                                            right: 18%;
                                            top: 68%;
                                        }
                                        @media (min-width: 710px) and (max-width: 760px) {
                                            right: 3%;
	                                        top: 65%;
                                        }
                                    }
                                }
                                .ps-sku-selector-attribute-Flavor {
                                    margin: 0;
                                    position: relative;
                                    float: left;
                                    @media @md-down {
                                        margin-top: 20px !important;
                                    }
                                    > label {
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        line-height: 20px;
                                        color: @brand-blue;
                                        font-weight: normal;
                                    }
                                    .ps-sku-selector {
                                        border: 1px solid #1F3E7C;
                                        border-radius: 4px;
                                        background: @color-white;
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        color: @brand-blue;
                                        appearance: none;
                                        width: 525px;
                                        height: 48px;
                                        :hover {
                                            border: 1px solid #1F3E7C;
                                            border-radius: 4px;
                                            background: @color-white;
                                            font-family: @brandonregular;
                                            font-size: 14px;
                                            color: @brand-blue;
                                            padding: 14px 16px;
                                        }
                                        option {
                                            border: 1px solid #1F3E7C;
                                            border-radius: 4px;
                                            background: @color-white;
                                            font-family: @brandonregular;
                                            font-size: 14px;
                                            color: @brand-blue;
                                        }
                                        @media @md-down {
                                            width: 343px;
                                        }
                                        @media @lg-down {
                                            width: 343px;
                                        }
                                        @media (min-width: 710px) and (max-width: 760px) {
                                            width: 100%;
                                        }
                                    }
                                    &::after {
                                        content: "\e907";
                                        transform: translateY(-50%);
                                        position: absolute;
                                        top: 43%;
                                        right: 3%;
                                        font-family: Abbott-icon,Arial, Helvetica, sans-serif;
                                        font-size: 16px;
                                        color: #1F3E7C;
                                        @media @md-down {
                                            right: 20%;
                                        }
                                        @media @lg-down {
                                            right: 5%;
                                            top: 50%;
                                        }
                                        @media (min-width: 1024px) and (max-width: 1200px) {
                                            right: 3%;
                                            top: 50%;
                                        }
                                        @media only screen and (max-width: 400px) {
                                            right: 8%;
                                            top: 68%;
                                        }
                                        @media (min-width: 400px) and (max-width: 420px) {
                                            right: 15%;
                                            top: 68%;
                                        }
                                        @media (min-width: 430px) and (max-width: 500px) {
                                            right: 18%;
                                            top: 68%;
                                        }
                                        @media (min-width: 710px) and (max-width: 760px) {
                                            right: 3%;
	                                        top: 65%;
                                        }
                                    }
                                }
                                @media @xl-only {
                                    flex-direction: row;
                                }
                                @media @lg-down {
                                    flex-direction: row;
                                }
                            }
                        }
                        .ps-product-image {
                            img {
                                width: 400px;
                                height: 425px;
                                @media @lg-down {
                                    width: 250px;
                                    height: 250px;
                                }
                                @media @md-down {
                                    width: 250px;
                                    height: 250px;
                                }
                            }
                        }
                    }
                    .ps-wtb-content {
                        .ps-local-tab {
                            padding: 0;
                            .ps-local-sellers-container {
                                .ps-local-sellers {
                                    .ps-local-seller-select {
                                        .ps-local-store-container {
                                            div:first-child {
                                                .ps-seller {
                                                    width: 23%;
                                                    .ps-distance-stock {
                                                        strong {
                                                            @media @md-down {
                                                                font-size: 14px;
                                                            }
                                                        }
                                                    }
                                                }
                                                .ps-address {
                                                    div {
                                                        div {
                                                            font-family: @brandonregular;
                                                            color: @color-shuttle-gray;
                                                        }
                                                        span {
                                                            a {
                                                                font-family: @brandonregular;
                                                                color: @color-shuttle-gray;
                                                            }
                                                        }
                                                    }
                                                    .ps-hours {
                                                        span {
                                                            big {
                                                                @media @md-down {
                                                                    font-family: @brandonregular;
                                                                    font-size: 14px;
                                                                    color: @brand-blue;
                                                                }
                                                            }
                                                            span {
                                                                @media @md-down {
                                                                    font-family: @brandonregular;
                                                                    font-size: 14px;
                                                                    color: @brand-blue;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                .ps-distance {
                                                    .ps-distance-stock {
                                                        strong {
                                                            font-family: @brandonregular;
                                                            color: @brand-blue;
                                                            font-weight: normal;
                                                        }
                                                    }
                                                }
                                            }
                                            div:last-child {
                                                .ps-link {
                                                    .ps-get-directions-holder {
                                                        .ps-get-directions-button {
                                                            span {
                                                                font-family: @brandonregular;
                                                                color: @brand-blue;
                                                                font-size: 14px;
                                                            }
                                                        }
                                                    }
                                                }
                                                .ps-hours {
                                                    span {
                                                        big {
                                                            font-family: @brandonregular;
                                                            color: @color-shuttle-gray;
                                                        }
                                                        span {
                                                            font-family: @brandonregular;
                                                            color: @color-shuttle-gray;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ps-ribbon {
                            .ps-online-heading {
                                font-family: @brandonregular;
                                color: @brand-blue;
                                padding-left: 0;
                                line-height: 32px;
                            }
                            .ps-local-heading {
                                font-family: @brandonregular;
                                color: @brand-blue;
                                padding-left: 0;
                                line-height: 32px;
                            }
                        }
                        .ps-local-tab-label {
                            @media @lg-down {
                                display: none;
                            }
                            .ps-local-heading {
                                @media @md-down {
                                    display: block;
                                    font-family: @brandonbold;
                                    font-size: 24px;
                                }
                            }
                        }
                        .ps-online-tab-label {
                            @media @lg-down {
                                display: none;
                            }
                        }
                        .ps-online-tab-label.selected {
                            @media @md-down {
                                display: block;
                            }
                            .ps-online-heading {
                                @media @md-down {
                                    display: block;
                                    font-family: @brandonbold;
                                    font-size: 24px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .ps-location {
                            @media @md-down {
                                margin: 20px 0px;
                            }
                            .ps-map-location-textbox {
                                font-family: @brandonregular;
                                font-size: 14px;
                                line-height: 20px;
                                color: @color-shuttle-gray;
                            }
                        }
                        .ps-hide-map-button {
                            top: -90px;
                            .ps-show {
                                display: none !important;
                            }
                        }
                        .ps-online-tab {
                            .ps-online-sellers {
                                .ps-online-seller-select {
                                    .ps-online-seller-details-wrapper {
                                        div:first-child {
                                            @media @md-down {
                                                padding: 0;
                                                justify-content: flex-start;
                                            }
                                        }
                                        div {
                                            img {
                                                max-width: 100px;
                                                max-height: 30px;
                                            }
                                        }
                                        div:last-child {
                                            @media @md-down {
                                                width: 33%;
                                                padding: 0;
                                            }
                                        }
                                        .ps-online-buy-button {
                                            width: 150px;
                                            height: 40px;
                                            border-radius: 4px;
                                            padding: 0;
                                            background-color: @brand-yellow;
                                            border-color: @brand-yellow;
                                            color: @brand-blue;
                                            position: relative;
                                            @media @md-down {
                                                width: auto;
                                            }
                                            span {
                                                font-family: @brandonbold;
                                                font-size: 14px;
                                                line-height: 16px;
                                                position: absolute;
                                                top: 28%;
                                                left: 13%;
                                            }
                                            small {
                                                @media @md-down {
                                                    position: absolute;
                                                    top: 25%;
                                                    left: 13%;
                                                    font-family: @brandonbold;
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                        .ps-online-seller-details {
                                            .ps-stock-status {
                                                font-family: @brandonregular;
                                                font-size: 18px;
                                                line-height: 24px;
                                                color: #4d8000;
                                            }
                                        }
                                    }
                                    .ps-last-online-seller-details-wrapper {
                                        div:first-child {
                                            @media @md-down {
                                                padding: 0;
                                                justify-content: flex-start;
                                            }
                                        }
                                        div {
                                            img {
                                                max-width: 100px;
                                                max-height: 30px;
                                            }
                                        }
                                        div:last-child {
                                            @media @md-down {
                                                width: 33%;
                                                padding: 0;
                                            }
                                        }
                                        .ps-online-buy-button {
                                            width: 150px;
                                            height: 40px;
                                            border-radius: 4px;
                                            padding: 0;
                                            background-color: @brand-yellow;
                                            border-color: @brand-yellow;
                                            color: @brand-blue;
                                            position: relative;
                                            @media @md-down {
                                                width: auto;
                                            }
                                            span {
                                                font-family: @brandonbold;
                                                font-size: 14px;
                                                line-height: 16px;
                                                position: absolute;
                                                top: 28%;
                                                left: 13%;
                                            }
                                            small {
                                                @media @md-down {
                                                    position: absolute;
                                                    top: 25%;
                                                    left: 13%;
                                                    font-family: @brandonbold;
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                        .ps-online-seller-details {
                                            .ps-stock-status {
                                                font-family: @brandonregular;
                                                font-size: 18px;
                                                line-height: 24px;
                                                color: #4d8000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .ps-ribbon {
                        .ps-ribbon-header {
                            .ps-online-tab-label {
                                @media @xl-only {
                                    background-color: @color-white;
                                    width: 30%;
                                    padding: 0px 25px;
                                }
                                @media @lg-down {
                                    background-color: @color-white;
                                    width: 22%;
                                    padding: 10px 25px;
                                    height: 64px;
                                }
                                @media @md-down {
                                    height: 68px !important;
                                    background-color: none;
                                    width: 50% !important;
                                }
                                .ps-online-heading {
                                    @media @xl-only {
                                        font-family: @brandonblack;
                                        color: @brand-blue;
                                        font-size: 22px;
                                        line-height: 24px;
                                        margin-top: 10px;
                                    }
                                    &:hover {
                                        @media @xl-only {
                                            color: @color-white;
                                        }
                                    }
                                }
                                .online-tab-input-label {
                                    @media @xl-only {
                                        font-family: @brandonblack;
                                        color: @brand-blue;
                                        font-size: 22px !important;
                                        line-height: 24px;
                                    }
                                    @media @lg-down {
                                        font-family: @brandonblack;
                                        color: @brand-blue;
                                        font-size: 22px !important;
                                        line-height: 24px;
                                        white-space: break-spaces;
                                    }
                                }
                            }
                            .ps-online-tab-label.selected {
                                @media @xl-only {
                                    background: @color-abbott-blue !important;
                                }
                                @media @lg-down {
                                    background: @color-abbott-blue !important;
                                    width: 22%;
                                    padding: 10px 25px;
                                    height: 64px;
                                }
                                @media @md-down {
                                    background: @color-abbott-blue !important;
                                    width: 50%;
                                    height: 68px !important;
                                }
                                .ps-online-heading {
                                    @media @xl-only {
                                        color: @color-white;
                                    }
                                }
                                .online-tab-input-label {
                                    @media @xl-only {
                                        color: @brand-blue;
                                    }
                                    @media @lg-down {
                                        color: @color-white;
                                        white-space: break-spaces;
                                    }
                                }
                            }
                            .ps-local-tab-label {
                                @media @xl-only {
                                    margin-left: 0;
                                    background-color: @color-white;
                                }
                                @media @lg-down {
                                    margin-left: 0;
                                    background-color: @color-white;
                                    width: 28%;
                                    height: 64px;
                                }
                                @media @md-down {
                                    background-color: none;
                                    width: 50% !important;
                                    height: 68px !important;
                                    padding: 10px;
                                }
                                .ps-local-heading {
                                    @media @xl-only {
                                        font-family: @brandonblack;
                                        color: @brand-blue;
                                        font-size: 22px;
                                        line-height: 24px;
                                        margin-top: 10px;
                                    }
                                    &:hover {
                                        @media @xl-only {
                                            color: @color-white;
                                        }
                                    }
                                }
                                .local-tab-input-label {
                                    @media @xl-only {
                                        font-family: @brandonblack;
                                        color: @brand-blue;
                                        font-size: 22px !important;
                                        line-height: 24px;
                                    }
                                    @media @lg-down {
                                        font-family: @brandonblack;
                                        color: @brand-blue;
                                        font-size: 22px !important;
                                        line-height: 24px;
                                        white-space: break-spaces;
                                        padding: 10px 25px;
                                    }
                                    @media @md-down {
                                        padding: 0 !important;
                                        font-size: 18px !important;
                                    }
                                }
                            }
                            .ps-local-tab-label.selected {
                                @media @xl-only {
                                    background: @color-abbott-blue !important;
                                }
                                @media @lg-down {
                                    background: @color-abbott-blue !important;
                                    width: 28%;
                                    height: 64px;
                                }
                                @media @md-down {
                                    background: @color-abbott-blue !important;
                                    width: 50% !important;
                                    height: 68px !important;
                                    padding: 10px;
                                }
                                .ps-local-heading {
                                    @media @xl-only {
                                        color: @color-white;
                                    }
                                }
                                .local-tab-input-label {
                                    @media @lg-down {
                                        color: @color-white;
                                        white-space: break-spaces;
                                    }
                                }
                            }
                        }
                    }
                    .ps-mobile-center {
                        @media @md-down {
                            border-bottom: 3px solid @brand-blue;
                        }
                        @media @lg-down {
                            height: 70px;
                        }
                    }
                    .ps-footer {
                        justify-content: normal;
                        @media @md-down {
                            padding-top: 40px;
                        }
                        span {
                            a.ps-accessibility {
                                width: 124px;
                                height: 30px;
                            }
                        }
                        span.ps-copyright {
                            margin-left: 16px;
                            font-family: @brandonregular;
                            color: @color-shuttle-gray;
                            font-size: 14px;
                            line-height: 20px;
                            @media @md-down {
                                width: 100%;
                                margin-left: 0;
                            }
                            a {
                                font-family: @brandonregular;
                                color: @color-shuttle-gray;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }  
}