@import './global/variables.less';

.abt-icon {
  &-988-percent,
  &-988-percent-fr,
  &-adjust-sound,
  &-easy-to-use,
  &-easy-to-wear,
  &-low-glucose-range,
  &-low-high,
  &-no-finger-pricks,
  &-on-off,
  &-t2d,
  &-t2d-fr,
  &-young-patients,
  &-number-1,
  &-letter-a,
  &-letter-b,
  &-letter-c,
  &-letter-d,
  &-letter-e,
  &-alarm,
  &-auto-data-sharing,
  &-connected,
  &-coverage,
  &-easy-connection,
  &-info,
  &-productive-conversations,
  &-sensor,
  &-shipment,
  &-virtual-event,
  &-check {
    &:before {
      color: @secondary-color;
    }
  }

  &-star-badge {
    &:before {
      color: @secondary-color;
    }
  }

  &-check {
    font-size: @font-size-15;
  }
}