.a-container{
  --container-abbott-bg-default: #d9d9d6;
  --container-abbott-white: #ffffff;
  --container-abbott-black: #000000;
  --container-abbott-text-default: #222731;
  --container-abbott-primary-blue: #009cde;
  --container-abbott-dark-blue: #002a3a;
  --container-abbott-medium-blue: #004f71;
  --container-abbott-light-blue: #5bc2e7;
  --container-abbott-mint: #64ccc9;
  --container-abbott-purple: #470a68;
  --container-abbott-red: #e4002b;
  --container-abbott-orange: #ff6900;
  --container-abbott-magenta: #aa0061;
  --container-abbott-gold: #eeb33b;
  --container-abbott-yellow: #ffd100;
  --container-abbott-medium-green: #00b140;
  --container-abbott-light-green: #7ccc6c;
  --container-abbott-charcoal: #222731;
  --container-abbott-dark-gray: #63666a;
  --container-abbott-medium-gray: #888b8d;
  --container-abbott-light-gray: #d9d9d6;
}

.a-container--color-darkblue {
  background-color: var(--container-abbott-dark-blue);
}
.a-container--color-lightblue {
  background-color: var(--container-abbott-light-blue);
}
.a-container--color-mediumblue {
  background-color: var(--container-abbott-medium-blue);
}
.a-container--color-primaryblue {
  background-color: var(--container-abbott-primary-blue);
}
.a-container--color-charcoal {
  background-color: var(--container-abbott-charcoal);
}
.a-container--color-gold {
  background-color: var(--container-abbott-gold);
}
.a-container--color-lightgreen {
  background-color: var(--container-abbott-light-green);
}
.a-container--color-mediumgreen {
  background-color: var(--container-abbott-medium-green);
}
.a-container--color-darkgray {
  background-color: var(--container-abbott-dark-gray);
}
.a-container--color-mediumgray {
  background-color: var(--container-abbott-medium-gray);
}
.a-container--color-lightgray {
  background-color: var(--container-abbott-light-gray);
}
.a-container--color-magenta {
  background-color: var(--container-abbott-magenta);
}
.a-container--color-mint {
  background-color: var(--container-abbott-mint);
}
.a-container--color-orange {
  background-color: var(--container-abbott-orange);
}
.a-container--color-purple {
  background-color: var(--container-abbott-purple);
}
.a-container--color-red {
  background-color: var(--container-abbott-red);
}
.a-container--color-yellow {
  background-color: var(--container-abbott-yellow);
}
.a-container--color-black {
  background-color: var(--container-abbott-black);
}
.a-container--color-white {
  background-color: var(--container-abbott-white);
}
