.ImageCard{
    background-size: cover;
    border-radius: 5px;
    min-height: 375px;
    padding: 45px;
    @media @adc-mobile-break{
        min-height: 290px;
    }
}

.StaticBg-Splash{
    @media @mobile-break{
        background: @color-fsl-white url("@{bgimage-path}/bg-Splash-phone.jpg") -170px 370px no-repeat;
        min-height: 2070px;
        .SplashRow-1{
            margin-bottom: 620px;
         }
         .SplashRow-2{
            margin-bottom: 690px;
        }
    }
    @media (orientation: landscape) and @mobile-break{
        .SplashRow-1{
            margin-bottom: 680px;
         }
         .SplashRow-2{
            margin-bottom: 730px;
        }
    }
    @media @tab-only{
        background: @color-fsl-white url("@{bgimage-path}/bg-Splash-tablet.jpg") center 150px no-repeat;
        background-size: contain;
        min-height: 1170px;
        padding-top: 20px;
        .SplashRow-1{
            margin-bottom: 90px;
        }
         .SplashRow-2{
            margin-bottom: 120px;
        }
    }
    @media @min-desktop{
        background: @color-fsl-white url("@{bgimage-path}/bg-Splash-desktop.jpg") center 150px no-repeat;
        min-height: 1700px;
        padding-top: 100px;
        .SplashRow-1{
            margin-bottom: 300px;
         }
         .SplashRow-2{
            margin-bottom: 350px;
        }
    }
}

.StaticBg-Moon{
    color: @color-fsl-white;
    @media @mobile-break{
        background: @color-fsl-black-2 url("@{bgimage-path}/bg-Moon-mobile.jpg") 0 0 no-repeat;
        background-size: cover;
        min-height: 610px;
        padding-top: 30px;
    }
    @media (orientation: landscape) and @mobile-break{
        background: @color-fsl-black-2 url("@{bgimage-path}/bg-Moon-desktop.jpg") bottom center no-repeat;
        background-size: contain;
        min-height: 470px;
    }
    @media @min-tab{
        background: @color-fsl-black-2 url("@{bgimage-path}/bg-Moon-desktop.jpg") center center no-repeat;
        min-height: 600px;
        padding-top: 50px;
        background-size: contain;
    }
}