.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button .popup-btn {
    color: #000;
    background-color: #5bc2e7;
    background-image: linear-gradient(to bottom,#5bc2e7 50%,#000 50%);
    margin-bottom: 0;
}
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button:last-child{
    background-image: none!important;
}
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button:last-child .popup-btn {
    color: #d9d9d6;
    background-color: #222731;
    background-image: linear-gradient(to bottom,#222731 50%,#d9d9d6 50%);
    margin-bottom: 0;
}
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button.a-button--primary a:hover,
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button.a-button--primary a:hover span {
    color: #5bc2e7 !important;
}
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button.a-button--primary:last-child a:hover,
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button.a-button--primary:last-child a:hover span {
    color: #222731 !important;
}
.modal-dialog .modal-body #section-site-leaving-popup .cmp-container .button div{
    line-height: inherit!important;
}