#section-site-leaving-popup .cmp-title h1, #section-site-enter-popup .cmp-title h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-family: brandon_grotesquebold, Calibri, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
#section-site-leaving-popup .title, #section-site-enter-popup .title{
    margin-bottom: 0;
    margin-top: 0;
}
#section-site-leaving-popup .cmp-text p, #section-site-enter-popup .cmp-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family:Georgia, serif;
    color: #222731;
}
#section-site-leaving-popup .text, #section-site-enter-popup .text{
   margin: 1rem 0;
}
#section-site-leaving-popup .btn, #section-site-enter-popup .btn {
    color: #000000 !important;
    background-size: 100% 200% !important;
    border: 0 !important;
    line-height: 1.4rem;
    font-weight: 700;
    font-family: brandon_grotesquebold, Calibri, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 24px !important;
    cursor: pointer;
    font-size: 1rem !important;
    transition: all 0.2s;
    border-radius: 0 !important;
  }
  #section-site-leaving-popup .btn:hover, #section-site-enter-popup .btn:hover{
    box-shadow: none !important;
    border:none !important;
  }
  #section-site-leaving-popup .popup-btn, #section-site-enter-popup .popup-btn{
    display:inline-block;
    background-color: #5bc2e7;
    background-image: linear-gradient(to bottom, #5bc2e7 50%, #000 50%);
    height: 38px;
}

#section-site-leaving-popup .popup-btn:hover, #section-site-enter-popup .popup-btn:hover {
      color: #5bc2e7 !important;
      background-color: #000 !important;
      background-position: 0 -100%;
      box-shadow:none;
    }

    #section-site-leaving-popup .button:last-child a, #section-site-enter-popup .button:last-child a{
        background-color: #222731;
      background-image: linear-gradient(to bottom, #222731 50%, #d9d9d6 50%);
        color:#d9d9d6 !important;
        height: 38px;
    }
    #section-site-leaving-popup .button:last-child a:hover, #section-site-enter-popup .button:last-child a:hover{
        color: #222731 !important;
        background-color: #d9d9d6;
        background-position: 0 -100%;
box-shadow:none;
    }
#section-site-leaving-popup .button, #section-site-enter-popup .button {
    margin: 20px 0 0 0 !important;
    display: inline-block;
}

.modal-dialog{
    height: 317px;
    overflow: auto;
    padding: 0;
}
.modal-dialog .modal-body {
    padding: 20px 20px 20px !important;
}
.modal-dialog .modal-footer{
    display: none;
}
.modal-dialog .abt-icon-cancel:before {
    content: "\e904";
    color: #222731;
    font-weight: bolder;
    font-size: 14px;
}
.modal-dialog .generic-modal--close{
    top: 6px;
    right: 6px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 479px) {
    #section-site-leaving-popup .cmp-title h1, #section-site-enter-popup .cmp-title h1 {
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0 0 1rem;
   }
}
@media screen and (min-device-width: 480px) and (max-device-width: 1205px) {
    .modal.show .modal-dialog{
        max-width: 650px;
    }
    #section-site-leaving-popup .cmp-title h1, #section-site-enter-popup .cmp-title h1{
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0 0 1rem;
    }
}
@media screen and (min-width: 1205px){
    .modal-dialog{
        min-width:600px;
    }
}

