@import '../variables.less';
@import '../mixin.less';

    a,.a-link a,#teconsent a {
        color: @color-link-blue;
        text-decoration: none;
        .font-size(16px,20px);
        font-family: @georgiaregular;
        &.invalidUrl {
            pointer-events: none;
            cursor: default;
        }
        &:hover {
            color: @color-link-hover;
        }
    }
    .embed {
        margin: 0 !important;
        padding: 20px 15px;
        #teconsent a {
            font-family: @brandonregular;
        }
    }
    .m-link-stack {
        .m-link-stack--header {
            h1, h2, h3, h4, h5, h6 {
                color: @color-medium-blue;
            }
        }
    }
    .pdf-icon-link {
        padding-left: 55px;
        position: relative;
        &:before {
            content: "\e91f";
            position: absolute;
            font-family: Abbott-icon, Helvetica, Arial, sans-serif;
            color: @color-charcoal;
            margin: 0 15px;
            left: 0;
        }
    }
    h4 {
        a {
            font-family: @brandonblack;
            .font-size(22px, 24px);
        }
    }
    .link.a-link {
        display: block;
    }


