
@import '../media-queries.less';
@import '../variables.less';
@import '../mixin.less';

.o-product-section {
    .o-product-section__title {
        .h2 {  
            margin-bottom: 0;
        }
    }
    .m-custom-list p:not(.h3):not(.h4):not(.m-custom-list__title), .o-product-section__para p {        
        margin-bottom: 12px;
        .common-fontSize;
    }
}

body {
    .o-products-compare {
        .o-products-compare__container {
            .o-products-compare__table {
                thead { 
                    th {
                        background-color: @color-medium-blue;
                        color: @color-white;
                        padding: 5px;
                        .font-size(16px, 20px);
                        font-family: @georgiaregular;
                        vertical-align: baseline; 
                        @media @sm-down {
                            min-width: 65px;
                            word-break: break-all;
                        }
                    }
                }
                tr:nth-child(odd)  {
                    background-color: @color-bg-gray;
                    th {
                        background: @color-medium-blue;
                        color: @color-white;
                        box-shadow: none;
                        span {
                            color: @color-white;
                        }
                    }
                    td {
                        background-color: @color-bg-gray;
                    }
                }
                td {
                    .font-size(12px, 15px);
                    padding: 5px;  
                    color:@color-medium-blue;
                    background-color: @color-bg-gray;
                }
                tr {
                    border-bottom: 1px solid @color-table-border;
                    td + td{
                        text-align: center;
                    }
            
                }
            }
        }        
    }
    .o-features-card__number {
        h1, h2, h3, h4, h5, h6 {
            color: @color-medium-blue;
        }
    } 
    .o-features-card__content p {
        color: @color-medium-blue;
        .font-size(16px, 24px);
    }
    .a-container--secondary, .a-container--gradient-start, .a-container--gradient-center,
    .a-container--gradient-end {
        .o-features-card__title {
            .cmp-title__text {
                color: @color-white;
                .font-size(24px, 30px);
                font-family: @brandonbold;
                @media @md-down {
                    .font-size(18px, 24px);
                }
            }
        }
    }
}

