@import '../media-queries.less';
@import '../variables.less';
@import '../mixin.less';

.searchresults {
    .a-result__title .a-result__title--link {
        color: @info-blue;
        .font-size(18px,20px);
        @media @lg-up {
            .font-size(22px,22px)
        }
        font-family:@brandonblack;
    }
    .col-12 {
            padding: 0 0 30px !important;
    }
    .o-search-res .m-search-bar{
        margin: 0;
        justify-content: left;
    }
    .a-result__description {
        .font-size(16px,20px);
        color: @color-black;
        font-family: @georgiaregular;
        margin-bottom: 25px;
    }
    .m-search-bar__button {
        display: flex;
        align-items: center;
        .btn span {
            display: block;
        }
    }
     
    .a-result--border-bottom {
        border-bottom: none;
    }
    .o-search-res .mobile-carousel {
        overflow-x: hidden;
    }
    .o-cards-carousel {
        display: none;
    }
    .o-search-res__container {
        justify-content: left;
        .offset-md-2 {
            margin-left: 0;
        }
    }
    @media @md-down {
            .m-search-bar__input {
                width: 250px;
            }
            .m-search-bar__button {
                button {
                    font-size: 10px;
                }
            }
    }
}