@import '../variables.less';
@import '../media-queries.less';
@import '../mixin.less';

table {
    border-spacing: 4px;
    border-collapse: separate;
    border: 0;
    tbody {
        tr {
            th {
                background-color: @color-medium-blue;
                color: @color-white;
                padding: 5px;
                text-align: center;
                border: 0;
                vertical-align: middle;
                .font-size(12px,15px);
                p {
                    color: @color-white !important;
                }
            }
            td {
                color: @color-medium-blue;
                background-color: @color-bg-gray;
                padding: 5px;
                border: 0;
                .font-size(12px,15px);
                p {
                    color: @color-medium-blue !important;
                }
            }
            p,a {
                margin: 14px 0 14px 0;
                .font-size(12px,15px) !important;
                font-weight: normal;
            }
        }
    }
    &.table-rte {
        tbody {
            th {
                font-family: sans-serif;
                font-weight: normal;
            }
            td:first-child {
                border: 1px solid @info-blue !important;
                background: @color-white !important;
            }
            tr:first-child td:first-child {
                border: none !important;
            }
        }
    }
    &.nm-neuro-table {
        th,td {
            .font-size(16px,22.8px) !important;
                font-family: sans-serif;
                font-weight: 400;
            p,a {
                .font-size(16px,22.8px) !important;
                font-family: sans-serif;
            }
            p {
                font-weight: 400;
            }
            a {
                font-weight: bold;
            }
        }
    }
}