.m-account-navigation {
    --account-navigation-bg: #{$white};
    --account-navigation-title-color: #{$black};
    --account-navigation-content-color: #{$color-purple};
    --account-navigation-header-padding: #{$spacers-01};
    --account-navigation-border-bottom: 1px solid #eeeee9;
    --account-navigation-icon-size: #{$icon-size-sm};
    --account-navigation-border-left: 8px solid #{$color-purple} !important;
    --account-navigation-option-height: 91px;
    --account-navigation-option-height--mobile: 65px;
}
