.m-article-list {
    --article-list-background: #{$white};
    --article-list-text-color: #{$color-black};

    --article-list-nav-color: #{$gray-500};
    --article-list-nav-active-color: #{$primary};
    --article-list-nav-margin-right-mb: -#{$spacers-3};
    --article-list-nav-top-mb: 70px;
    --article-list-nav-top-tablet: 78px;
    --article-list-nav-top: 92px;
    --article-list-nav-padding-right-mb: #{$spacers-3};
    --article-list-nav-list-padding-bottom: 3px;

    --article-list-nav-item-font-size: #{$font-size-14};
    --article-list-nav-item-line-height: #{$h5-line-height};
    --article-list-nav-item-border-bottom: 1px solid #e6e1d7;
    --article-list-nav-item-padding: #{$spacers-03};
    --article-list-nav-item-active-border-height: 3px;
    --article-list-nav-item-active-bottom: -3px;

    --article-list-container-padding-bottom: #{$spacers-1};
    --article-list-content-list-margin-top: #{$spacers-06};

    --article-list-article-border-radius: 4px;
    --article-list-article-margin-bottom: #{$spacers-24};
    --article-list-article-height-mb: 160px;

    --article-list-article-img-margin-right: #{$spacers-012};
    --article-list-article-img-width-mb: 160px;
    --article-list-article-img-height-mb: 160px;

    --article-list-article-content-padding-mb: #{$spacers-01} #{$spacers-01} #{$spacers-01}
        0;
    --article-list-article-content-padding: 0 #{$spacers-03};

    --article-list-article-title-font-size: #{$h3-font-size};
    --article-list-article-title-line-height: #{$h3-line-height};

    --article-list-skeleton-bg-1: #{$gray-100};
    --article-list-skeleton-bg-2: #{$color-snow-gray};

    --article-list-item-background: transparent;

    --article-list-load-more-btn-margin-top-mb: #{$spacers-06};
    --article-list-load-more-btn-margin-top: #{$spacers-09};

    // App variables
    --article-list-app-background: #{$color-black};
    --article-list-app-text-color: #{$white};

    --article-list-app-backbtn-padding: #{$spacers-1} 0;
    --article-list-app-backbtn-width: 100%;
    --article-list-app-backbtn-height: #{$spacers-7};

    --article-list-app-nav-color: #{$gray-500};
    --article-list-app-nav-active-color: #{$white};

    --article-list-app-nav-item-border-bottom: 1px solid #{$gray-500};

    --article-list-app-item-background: #{$surface-background};

    --article-list-app-content-list-margin-top: #{$spacers-24};
}
