.a-backtotop {
    --backtotop-zindex: 1000;
    --backtotop-button-bottom: 12.63%;
    --backtotop-button-horizontal-position: 1.06%;

    --backtotop-secondary-bg:#{$secondary-color};
    --backtotop-secondary-color:#{$primary-color};
    
    --backtotop-primary-bg:#{$primary-color};
    --backtotop-primary-color:#{$color-white};
    

    --backtotop-icon-size-lg: #{$icon-size-sm};

    --backtotop-icon--min-width:40px;
    --backtotop-icon--min-height:40px;

    --backtotop-icon-only-padding: 6px 10px;
   
    
}