//dropdown
.a-dropdown {
    --dropdown-margin: 0;
    --dropdown-field-bg-color: #{$color-white};
    --dropdown-field-padding: #{$spacers-3} #{$spacers-09} #{$spacers-013} #{$spacers-03};
    --dropdown-field-padding-rtl: #{$spacers-3} #{$spacers-03} #{$spacers-013} #{$spacers-09};
    --dropdown-field-border: 1px solid #{$color-charcoal};
    --dropdown-field-border-radius: 6px;
    --dropdown-field-font-size: #{$font-size-14};
    --dropdown-field-line-height: #{$h5-line-height};
    --dropdown-field-height: 48px;
    --dropdown-field-max-height: 48px;
    --dropdown-menu-box-shadow: #{$base-box-shadow};
    --dropdown-menu-bg-color: #{$color-white};
    --dropdown-menu-border-radius: 4px;
    --dropdown-menu-margin-top: 2px;
    --dropdown-menu-max-height: 182px;
    --dropdown-menu-list-border-bottom: 1px solid #{$color-medium-gray};
    --dropdown-menu-option-padding: #{$spacers-3} #{$spacers-3} #{$spacers-013} #{$spacers-03};
    --dropdown-menu-option-padding-rtl: #{$spacers-3} #{$spacers-3} #{$spacers-013}
        #{$spacers-3};
    --dropdown-menu-option-hover-bg-color: #{$accent-light};
    --dropdown-icon-font-family: "Abbott-icon";
    --dropdown-active-border-color: #{$primary-color};
    --dropdown-disabled-bg-color: #{$color-snow-gray};
    --dropdown-disabled-border: 1px solid #{$color-snow-gray};
    --dropdown-disabled-selected-color: #{$color-medium-gray};
    --dropdown-error-border-color: #{$form-danger};
    --dropdown-scroll-max-height: 180px;
    --dropdown-scroll-border: 1px solid #{$color-light-gray};
    --dropdown-scroll-border-radius: 4px;
    --dropdown-scroll-bg-color: #{$color-light-gray};
    --dropdown-scroll-thumb-border-radius: 10px;
    --dropdown-placeholder-color: #{$color-dark-gray};
    --dropdown-selected-color: #{$color-black};
    --dropdown-label-color: #{$color-black};
    --dropdown-field-box-shadow-focus: 0 0 4px 2px #{$form-focus-box-shadow};
}
