//Indicator
.a-indicator, [data-js-component="carousel"] {
    --indicator-width: 8px;
    --indicator-height: 8px;
    --indicator-border-width: 1px;
    --indicator-border-color: #{$color-dark-gray};
    --indicator-border-radius: 8px;
    --indicator-dot: transparent;
    --indicator-dot-active: #{$primary};;
    --indicator-light-dot: #{$color-white};
    --indicator-light-dot-active: #{$color-white};
    --indicator-dark-dot-bg-color: #{$color-white};
    --indicator-container-dark-bg: #{$color-black};
    --indicator-dot-hover-color: #{$gray-80};
    --indicator-dot-margin: 0 #{$spacers-04};
}
