.m-layout-container {
  --layout-container-padding-top: #{$spacers-8};
  --layout-container-padding-bottom: #{$spacers-8};
  --layout-container-subtitle-font-size: #{$h5-font-size};
  --layout-container-subtitle-line-height: #{$h4-line-height};
  --layout-container-subtitle-color: #{$color-black};
}
