.a-product-price {
    --product-price-normal-font-size: #{$h1-font-size};
    --product-price-discount-font-size: #{$h3-font-size};
    --product-price-discount-line-height: #{$h3-line-height};
    --product-price-normal-color: #{$action-primary};
    --product-price-discount-color: #{$gray-300};
    --product-price-bg-color: #{$color-white};
    --product-price-subscription-label-color: #{$action-primary};
    --product-price-subscription-label-font-size: #{$font-size-32};
}
