// Progress bars
.a-progressbar {
  --progress-height: .5rem;
  --progress-height-sm: .25rem;
  --progress-bg: #{$color-medium-gray};
  --progress-border-radius: #{$border-radius};
  --progress-bar-color: #{$color-white};
  --progress-bar-bg: #{$color-dark-gray};
  --progress-bar-border: #{$border-width} solid #{$border-color};
}
