// Spinners
.a-spinner {
    --spinner-width: 2rem;
    --spinner-height: 2rem;
    --spinner-border-width: .25em;
    --spinner-bg: #{$spinner-bg-color};
    --spinner-border-color: #{$primary};

    --spinner-width-sm: 1rem;
    --spinner-height-sm: $spinner-width-sm;
    --spinner-border-width-sm: .2em;
}