.o-wizard, .a-wizard {
    --wizard-font-size: #{$font-size-14};
    --wizard-line-height: #{$h5-line-height};
    --wizard-color-success: #{$default-fg-color};
    --wizard-color-error: #{$form-danger};
    --wizard-margin: #{$spacers-03} auto;
    --wizard-btn-back-margin-right: #{$spacers-3};
    --wizard-steps-icon-bg: transparent;
    --wizard-steps-margin: #{$spacers-1} 0;
    --wizard-steps-sep-color: #{$gray-400};
    --wizard-steps-inactive-color: #{$gray-200};
    --wizard-step-complete-color: #{$primary-color};
    --wizard-step-active-color: #{$primary-color};
    --wizard-step-icon-margin: 0 auto #{$spacers-2} auto;
    --wizard-step-icon-font-size: #{$h3-font-size};
    --wizard-step-icon-line-height: #{$h2-line-height};
    --wizard-step-icon-complete-font-size: #{$h5-font-size};
    --wizard-step-icon-complete-font-family: #{$icon-font-family};
    --wizard-step-icon-complete-bg-color: transparent;
    --wizard-step-label-font-size: #{$h6-font-size};
    --wizard-step-label-line-height: #{$h6-line-height};
    --wizard-step-sep-complete-color: #{$primary-color};
    --wizard-step-sep-padding-color: #{$surface-navigation-normal};
    --wizard-step-text-color: #{$surface-background};
    --wizard-step-icon-color: #{$surface-background};
    --wizard-step-complete-icon-color: #{$color-white};
}
