//products compare
.o-products-compare {
    --products-compare-sm-padding: 60px auto 56px auto;
    --products-compare-bg-color: #{$color-graywhite};
    --products-compare-md-padding: 68px auto 47px auto;
    --products-compare-lg-padding: 88px 45px 110px;
    --products-compare-wrapper-left-margin-lg: 14rem;
    --products-compare-wrapper-left-margin-sm: 9rem;
    --products-compare-wrapper-width-lg: 80%;
    --products-compare-wrapper-width-sm: auto;
    --products-compare-wrapper-padding-bottom: 24px;
    --products-compare-wrapper-scroll-border:  1px solid #{$color-light-gray};
    --products-compare-wrapper-scroll-border-radius: 4px;
    --products-compare-wrapper-scroll-bg-color: #{$color-medium-gray};
    --products-compare-table-bg-color: #{$color-white};
    --products-compare-table-even-row-bg-color: #{$color-white};
    --products-compare-table-odd-row-bg-color: #{$color-white};
    --products-compare-td-padding-sm: 8px;
    --products-compare-td-border: 2px solid #{$color-graywhite};
    --products-compare-td-padding-lg: 16px;
    --products-compare-thead-box-shadow: 10px 0px 20px -5px #{$color-white};
    --products-compare-thead-blank-col-box-shadow: 10px 0px 20px -5px #{$color-graywhite};
    --products-compare-table-link-margin-top-sm: 16px;
    --products-compare-table-link-margin-top-lg: 32px;
    --products-compare-table-fixed-col-height: 72px;
    --products-compare-table-fixed-col-mobile-height: 55px;

    --products-compare-td-font-size: #{$font-size-14};
    --products-compare-td-h5-font-size: #{$h5-font-size};
    --products-compare-td-h4-font-size: #{$h4-font-size};
    --products-compare-td-line-height: #{$h5-line-height};
    --products-compare-td-h4-line-height: #{$h4-line-height};
    --products-compare-td-color: #{$color-black};

    --products-compare-icon-success-color: #{$icon-success};

    --products-compare-dots-green: #{$color-success};
    --products-compare-dots-yellow: #{$color-warning};
    --products-compare-dots-red: #{$color-danger};
    --products-compare-dot-size: #{$spacers-3};
}
