.adc-insurance-disaply{
    .adc-title--border-bottom{
        margin-bottom:0px;
    }
    .adc-card{
        padding: 1.5rem!important;
        margin: 0px!important;
    }
    ul{
        list-style: none;
        padding: 10px;
        background-color: @color-fsl-white;
        box-shadow: 2px 2px 3px 1px @color-fsl-grey-3;
        position: absolute;
        z-index: 1;
        width: 87%;
    }
    li{
        cursor: pointer;
    }
}