.adc-fsl3-account-banner {
    &-rectangle {
        height: 457px;
        width: 920px;
        border-radius: 5px;
        background-color: #FFD100;
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 24px;
    }

    &-heading-rectangle {

        height: 100%;
        width: 90%;
        color: #001489;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    &-l1 {

        height: 281px;
        width: 220px;
    }

    &-l2 {
        height: 283px;
        width: 262px;
    }

    &-l3 {
        height: 281px;
        width: 222px;
    }

    &-flex-extra {
        padding-left: 65px;
        padding-top: 50px;
        display: flex;
        flex-wrap: nowrap;


    }

    &-line-1 {
        box-sizing: border-box;
        height: 273px;
        width: 1px;
        border: 1px solid #FAFAFA;
    }

    &-informieren-1 {
        height: 28px;

        color: #001489;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
    }

    &-smartphone-prüfen {
        height: 28px;
        width: 262px;
        color: #001489;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
    }

    &-select-container {
        padding-left: 30px;
        padding-top: 30px;
        height: 53%;
        width: 90%;
    }

    &-primary-bg {
        height: 40px;
        width: 220px;
        box-sizing: border-box;
        border: 1px solid #001489;
        border-radius: 5px;
        color: #001489;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 12px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;
        background-color: #FFD100;
    }

    &-secondary-bg {
        height: 40px;
        width: 220px;
        border-radius: 5px;
        padding-top: 12px;
        padding-left: 51px;
        background-color: #001489;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 12px;
        font-weight: 900;
        line-height: 15px;
        //  margin: 20px;
        color: #ffffff;
    }

    &-button-primary-blue-default-bu {
        height: 40px;
        width: 220px;
        box-sizing: border-box;
        border: 1px solid #001489;
        border-radius: 5px;
        padding-top: 12px;
        padding-left: 51px;
        margin: 20px;
    }

    &-buttontext {
        height: 15px;
        width: 118px;
        color: #001489;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 12px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
    }

    &-ich-habe-mein-smartp {
        height: 53%;
        width: 100%;
        color: #000000;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
    }

    &-margin-button {
        margin-top: 51px !important;
    }

    &-button-primary-blue-default-solid {
        height: 40px;
        width: 220px;
        border-radius: 5px;
        padding-top: 12px;
        padding-left: 51px;
        background-color: #001489;
        margin: 20px;
    }

    &-buttontext-solid {
        height: 15px;
        width: 120px;
        font-family: @source-sans-pro , @default-font-family;
        font-size: 12px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        letter-spacing: 1.71px;

    }

    &-select-container-p {
        padding-left: 15px;
        padding-top: 25px;
        height: 53%;
        width: 90%;
    }

    &-bg-color-padding {
        background-color: #FFD100;
        min-height: 390px;
        padding: 42px 22px;
    }

    &-icon-check {
        background: url(/content/dam/adc/freestylelibrede/de/de/fsl3/fsl3-account-banner/fsl3-check-svg.svg) no-repeat;
        height: 13%;
        width: 16%;
        margin-top: 17%;
        margin-left: 40%;
        padding: 22px;
    }

    &-link-color{
        color: #001489 !important;
    }

    &-remove-border{
        border: none;   
     }
}