
.adc-order-hist{
    &__image {
        height: 92px;
        width: 95px;
        object-fit: scale-down;
    }
    &__desc-date {
        color: @color-fsl-black;
        .font-lineheight(16,24);
    }
    &__desc-heading {
        letter-spacing: 0;
        .font-size-rems(20);
        //.font-lineheight(20,28);
        &--black {
            color: @color-fsl-black;
        }
    }
    &__desc-prod-id, &__desc_detail {
        color: @color-fsl-black;
        .font-lineheight(16,24);
    }
    &__subs {
        &__desc-date, &__desc-prod-id {
            color: @color-fsl-black;
            .font-size-rems(12);
            line-height: 15px;
        }
        &__desc-heading {
            letter-spacing: 0.3px;
            .font-lineheight(16,24);
            color: @color-fsl-black;
        }
        &__addr {
            &__blue-text {
                color: @color-fsl-blue;
                .font-lineheight(12,16);
            }
        }
    }
    &__return-order-tab {
        border:1px solid @color-fsl-grey-2;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        background-color: @color-fsl-white;
        position: relative;
        z-index: 1;
        width: 67%;
        @media @adc-mobile-break {
            width: 50%
        }
        @media @adc-tablet-break {
            width: 50%;
        }

    }
    &__action-required {
        color: @color-fsl-orange;
    }
    &__subs-round {
        border: 1px solid @color-fsl-grey-2;
        border-radius: 5px 0 5px 5px;
    }
}

.download_return_form_ml_40 i {
    left: 60px;

    @media @adc-mobile-break {
        left: 25px;
    }
    @media @adc-tablet-break {
        left: 10px;
    }
    
}