
.adc-plus-service{
    @media @mobile-break {
        &--title{
            .font-size-rems(20);
            font-weight: @weight-bold;
        }
    }
    & .adc-subscription{
        &__info{
            @media @mobile-break {
                &--title{
                    .font-size-rems(28);
                    font-weight: @weight-bold;
                }
            }
            &__price{
                @media screen and (min-width: 1025px){
                    font-size: 0rem;
                }
                color: @color-fsl-blue;
                font-weight: @weight-bold;
                 .font-size-rems(50);
                &--unit{
                    .font-size-rems(28);
                }
                &--sup{
                    .font-size-rems(28);
                    margin-left: -5px;
                    &-small{
                        .font-size-rems(16);
                        margin-left: -3px;
                    }
                    &-top{
                        top: -0.5em;
                        position: relative;
                        .font-size-rems(20);
                    }
                }
                &--duration{
                    .font-size-rems(20);
                }
            }
            &--info-text{
                .font-size-rems(12);
                color: @color-fsl-blue;
            }
        & .info-hideInDesktopView{
            @media screen and (min-width: 1025px){
                display: none;
            }
        }
        }
        &__image {
            width: 240px;
            height: 240px;
            & .image{
               height: 100%;
               width: 100%;
               transform: scaleX(-1);
            }
        }

    }

    &__desc-heading {
        color: @color-fsl-black;
        font-weight: @weight-medium-bold;
        letter-spacing: 0
       }
   &__receipt-message{
           .font-size-rems(12);
           margin-bottom: 45px;
    }
    &__image {
        max-width: 100%;
    }
    &__card-numb{
        .font-size-rems(30);
        @media @adc-mobile-break{
            .font-size-rems(16);
        }
    }
    &__highlight{
        .font-size-rems(16);
        font-weight: @weight-medium-bold;
    }
    &__price-overview{
        .adc-price-detail {
            &__price, &__subprice, &__currency {
                .font-size-rems(16);
                padding-bottom: 0px;
            }
            &__price::after {
                content: ",";
            }
        }
    }
    &__job{
        .font-size-rems(12);
        color: @color-fsl-blue;
    }
    &__custom-block{
        min-height: 145px;
    }
    &__error-msg{
        .font-size-rems(20);
        color: @color-fsl-orange;
        font-weight: @weight-medium-bold;
        letter-spacing: 0.3px;
        line-height: 28px;
    }
    .adc-form-group-tabtext{
        width: 100%;
        &__label{
        color: @color-fsl-grey-3;
        border-color: @color-fsl-grey-3;
        font-weight: @weight-medium-bold;
        .font-size-rems(13);
        height: 45px;
        line-height: 30px;
        background-color: @color-fsl-white;
        width: 73%;
            @media @max-tab {
            width: 50%;
            }
            &:not(:disabled):not(.disabled).active {
                color: @color-fsl-black ;
                border-color: @color-fsl-grey-3;
                border-bottom: 2px solid @color-fsl-blue;
                background-color: @color-fsl-white;
            }

        }
    }
    &--text{
        .font-size-rems(12);
        color:@color-fsl-black;
    }
    &--text-link{
        color:@color-fsl-blue;
        text-decoration: underline;
    }
    &__payment-method{
        background: none;
        border: 1px solid @color-fsl-grey-2;
        z-index: 1;
        &__logo{
            width: 88px;
            height: 33px;
            @media @mobile-break{
                width: 64px;
                height: 24px;
            }
        }
        &__text{
            .font-size-rems(16);
            line-height: 24px;
            @media @mobile-break{
                .font-size-rems(13);
            }
        }
        .selected__icon{
                display: none;
                right: -6px;
                top: -6px;
                z-index: 99;
        }
        &.selected{
            border: 1px solid @color-fsl-blue;
            .selected__icon{
                display: block;
            }
        }
    }
    &__contact{
        border-left: 1px solid @color-fsl-grey-2;
        @media @adc-tablet-break{
            border-left: 0;
            border-top: 1px solid @color-fsl-grey-2;
        }
        @media @mobile-break{
            border-left: 0;
            border-top: 1px solid @color-fsl-grey-2;
        }

        &__logo{
            background: @color-fsl-yellow;
            height: 52px;
            width: 52px;
            border-radius: 50%;
        }
        &__text{
            .font-size-rems(12);
            line-height: 15px;
        }
        &__number{
            .font-size-rems(20);
            font-weight: @weight-bold;
            line-height: 28px;
        }
    }
   & .adc-plus-service-hide{
    @media @adc-tablet-break, @mobile-break{
        display: none;
    }
        font-weight: 700;
        font-size: 10px;
        white-space: nowrap;
        margin-left: 0.5rem;
        padding-top: 0.7rem;
   }
}
