
.adc-prescription {
    &__image{
        height: 230px;
        width: 230px;
    }
    &--border{
        &:first-child{
            @media @max-tab {
                .border-bottom(@color-fsl-grey-3);
                padding-bottom: 30px;
            }
        }
    }
    &__title {
        .font-size-rems(20);
		color: @color-fsl-blue;
		.border-bottom(@color-fsl-grey-3);
    }
    &__details{
        display: flex;
        display: flex1;       
        & div:nth-child(1){
            width: 40%;
            margin-right: 10%;
            @media @max-tab {
                width: 50%;      
            }
        }
        & div:nth-child(2){
            width: 50%;
            @media @max-tab {
                width: 40%;      
            }            
        }        
    }
}
.adc-presc-info{
    &__icon{
        height:52px;
        width: 52px;
    }
    &__text{
        .font-size-rems(12);
    }
    &__border{
        border-top: 1px solid @color-fsl-grey-3 ;
        width: 100%;
    }
    &__circle{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: @color-fsl-yellow;
    }
    .font-size-rems(16);
    &__title{
        font-weight: 600;
        .font-size-rems(20);
    }
    &__receipt-status{
        color: @color-fsl-blue;
        margin-bottom: 20px;
        .font-size-rems(20);
    }
    &__receipt-message{
        .font-size-rems(12);
        margin-bottom: 2rem;
    }
    &__receipt-button{
        text-align: center;
        .button-bg-image('@{icon-path}/Download_White.svg', @spacer, 0, no-repeat, auto) !important;
        @media @adc-mobile-break {
            .no-bg-image() !important;
            .adc-padding(12px, 25px, 12px, 25px) !important;
        }
        @media @adc-tablet-break {
            width:100%;
        }
    }
}