@import '../media-queries.less';
@import '../variables.less';
@import '../mixin.less';

.contentsection {
    .o-content-section__tab-content {
        p {
            color: @color-medium-blue;
        }
    }

    .o-content-section__list-item a {
        .font-style(450);
        .font-size(14px, 20px);
        color: @color-purple;

        &:hover {
            text-decoration: underline;
        }

        &:focus,
        &:active {
            color: @color-black;
            text-decoration: underline;
        }
    }

    .a-dropdown {
        &__container {
            .a-dropdown__field {
                color: @color-black;

                &.active {
                    border-color: @color-purple;

                    &:after {
                        color: @color-purple;
                    }
                }
            }
        }
    }
}