@import "../variables.less";
@import "../mixin.less";
@import "../media-queries.less";

.footer {
    .o-footer {    
        padding-bottom: 20px;
        background-color: @color-navy-blue;
    }
    .container.a-container {
        background-color: @color-navy-blue;
        .imp-info-section {
            @media @lg-down {
            padding: 0 15px;
            margin-top: 0 !important;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .m-social-media--title {
        display: block;
    }
    .cmp-container {
       .columncontrol {
        margin: 0 0 25px !important;
        &:first-child {
        .container {
            padding-bottom: 15px;
            border-bottom: 2px solid @color-footer-border;
        }
       }
    }
    }
     .columncontrol .row>[class*="col-"] {
        @media @lg-down {
            margin-bottom: 0px !important;
        }    
    }
    .m-link-stack  {
        @media @lg-down {
            margin-bottom: 20px;
        }
    }
    .a-logo-comp--image {
        width: auto;
    }

    .o-footer__top {
        padding-bottom: 8px;   
    }

    .horizontal-divider {
        border: 1px solid @color-footer-border;        
        @media @lg-down {
            min-width: 100%;
        }
    }

    .o-footer__link-wrapper,.columncontrol__column {
        margin-bottom: 0px;
        &:last-of-type {
            margin-left: auto;
        }
        .m-link-stack--title {
            color: @color-light-blue;
            text-transform: uppercase;
            .font-size(14px, 20px);
            letter-spacing: 0.88px;
            margin-bottom: 3px;
            font-weight: 450;
            @media @lg-up {
            min-height: 40px;
            }
        }

        .a-link__text {
            .font-size(14px, 20px);
            font-weight: 420;
            letter-spacing: 0.88px;
        }

        .abt-icon-down-arrow {
            color: @color-light-blue;
            display: none;
            @media @lg-down {
                display: block;
            }
            &:focus,&:active {
                color: @color-light-blue;
            }
        }

        .m-link-stack--content {
            .a-link {
                margin-bottom: 11px;
            }
        }
    }

    .o-footer__social-media {
        .m-social-media--title {
            .font-size(14px, 20px);
            font-family: @brandonmedium;
            margin-top: 5px;
            margin-right: 20px;
        }   
    }
    .m-social-media {
        justify-content: end;
    }
    
    .abt-icon {
        padding-left: 10px;
        font-size: 19px !important;
        &:before {
            color: @color-white;
            background-color: @color-navy-blue;
            padding: 0;
            border-radius: 14px;
        }

    }

    .o-footer__disclaimer-section {
        @media @lg-up {
            padding-top: 52px;
        }

        @media @lg-down {
            padding-left: 0;
            justify-content: space-between;

            .a-link__text {
                margin-right: 0;
                max-width: 85px;
            }
        }

        .a-link__text {
            .font-size(12px, 16px);
            font-family: @brandonmedium;
            @media @lg-up {
                margin-left: 42px;
            }
        }
    }

    .o-footer__bottom {
        @media @lg-up {
            padding: 0;
        }

        .o-footer__copyright {
            @media @lg-up {
                margin-top: 0;
            }

            @media @lg-down {
                margin-top: 0;
            }

            color:@color-white;
            font-family: @brandonmedium;
        }

        &-section {
            padding-top: 25px;
        }
        &__row-2 {
            margin-top: 25px;
            p {
                color: @color-white;
                .font-size(14px,20px);
                font-weight: 420;
            }
            .col-lg-6 {
                width: 100%;
                max-width: 100%;
                flex: 100%;
            }
        }
    }

}