@import '../variables.less';
@import '../mixin.less';
@import "../media-queries.less";

body {
    .a-input-field {
        .a-input-label {
            .font-size(14px, 20px);
            color: @color-charcoal;
            font-family: @brandonmedium;
        }
        .a-dropdown__field {
            padding: 12px 16px;
            border-radius: 4px;
            border: 1px solid @color-shuttle-gray;
            .a-dropdown-selected, .dropdown__menu li span {
                .font-size(18px, 24px);
                color: @color-shuttle-gray;
            }
            .a-dropdown__menu {
                li {
                    &:hover {
                        background-color: @color-light-purple;
                    }
                }
            }
            &:after {
                color: #88888d;
            }
            &.active {
                border: 1px solid @color-purple;
            }
        }
    }
}