@import '../media-queries.less';
@import '../variables.less';
@import '../mixin.less';

.isi-section {
    margin-bottom: 2.5rem;
    @media @sm-down {
        width: ~'calc(100% - 30px)';
    }    
    &.height-small, &.height-medium, &.height-large {
        overflow-y: scroll;
        @media @xl-down {
            max-height: 85vh;
        }
    }
    &.height-small{
        height: 200px;
    }
    &.height-medium {
        height: 360px;
    }
    &.height-large {
        height: 480px;
    }
}
.responsivegrid .aem-Grid>.aem-GridColumn.isi-section {
    margin-bottom: 2.5rem;
}
.isi-section::-webkit-scrollbar {
    width: 8px;
} 
.isi-section::-webkit-scrollbar-track {
    border: 1px solid #888B8D;
    border-radius: 4px;
} 
.isi-section::-webkit-scrollbar-thumb {
  background-color: #888B8D;
  border-radius: 4px;
}

.imp-info-section {
    h1, h2, h3, h4, h5, h6, p, li {
        color: @color-black;
    }
    p, li {
        font-family: @brandonregular;
        .font-size(14px, 20px);
        @media @xxl-up {
            .font-size(18px, 24px);
        }    
        @media @md-down {
            .font-size(10px, 16px);
        }
    }
    h2 {
        text-align: center;
        .font-size(22px, 30px);
        @media @xxl-up {
            .font-size(28px, 36px);
        }    
        @media @md-down {
            .font-size(16px, 24px);
        }
    }
    h3 {
        .font-size(18px, 24px);

        @media @xxl-up {
            .font-size(24px, 30px);
        }
    
        @media @md-down {
            .font-size(14px, 18px);
        }
    }
}