// Colors
@color-blue: #001489;
@color-light-blue: #003da5;
@color-charcoal: #222731;
@color-black: #000;
@color-gray: #888B8D;

@primary-color: @color-blue;

@spacer: 1rem;
@spacer-1: @spacer * 0.0625;
@spacer-2: @spacer * 0.125;  //2px
@spacer-3: @spacer * 0.106; //3px
@spacer-4: @spacer * 0.25;   //4px
@spacer-5: @spacer * 0.31;    //5px
@spacer-6: @spacer * 0.375; //6px
@spacer-8: @spacer * 0.5;    //8px
@spacer-10: @spacer * 0.625;   //10px
@spacer-12: @spacer * 0.75;  //12px
@spacer-15: @spacer * 0.95;  //15px
@spacer-18: @spacer * 1.125; // 18px
@spacer-20: @spacer * 1.25; //20px
@spacer-24: @spacer * 1.5; // 24px
@spacers-25: @spacer * 1.5625; //25px
@spacer-32: @spacer * 2; //32px
@spacer-30: @spacer * 1.875; //30px
@spacer-38: @spacer * 2.375rem; //38px
@spacer-48: @spacer * 3; //48px
@spacer-64: @spacer * 4; //64px

@full-width:100%;

@font-h1-superscript: @spacer-15; // 15px


@font-h2-med-screen: @spacer-24; // 24px
@line-height-h2-med-screen: @spacer-32; //32px
@font-h2-superscript-med-screen: @spacer-12; // 12px

@font-h3-small-screen: @spacer-18; // 18px
@line-height-h3-small-screen: @spacer-24; // 24px

@font-base: @spacer; // 16px
@line-height-base1: @spacer-24; // 24px

@content-section-button-margin: @spacer-5;

@sm-width: 540px;
@md-width: 720px;
@lg-width: 960px;
@xl-width: 1160px;
@product-section-text-width: 455px;

