.formcontainer {
  .o-form-container {
    &__buttons {
      margin: @spacer-40 0 @spacer-16;
    }

    &__element {
      margin-bottom: @spacer-24;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.25px;
  }

  &-halfwidth {
    .o-form-container {
      &__outer {
        > .container {
          padding: 0;
        }
      }

      &__element {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &__buttons {
        .a-button {
          width: 100%;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}

.responsivegrid .aem-Grid > .aem-GridColumn.formcontainer {
  margin-bottom: 0;
}

.options {
  .checkbox,
  .radio {
    margin-bottom: @spacer-32;
  }

  .a-checkbox-label {
    color: @gray-darkest-color;
    margin-bottom: @spacer-12;
  }

  .a-checkbox--vertical {
    margin-bottom: @spacer-24;
  }
}

.a-dropdown {
  @self: a-dropdown;

  &__container {
    .@{self}__field {
      .@{self}__menu {
        width: 9.375rem;
        left: unset;

        @media @lg-up {
          width: 100%;
          left: 0;
        }

        li {
          &.selected {
            background-color: #f7f7f9;
          }

          span:first-child:not(:only-child) {
            display: none;
          }
        }
      }

      .@{self}__placeholder {
        font-size: @spacer-14;
      }
    }
  }
}

.a-input-field {
  .form-group {
    .a-input-grp {
      .icon {
        color: #7f7f7f;
      }
    }

    .tooltip-pwd .tooltip-pwd-label {
      --input-field-password-tooltip-font-size: @spacer-14;
      --input-field-password-tooltip-line-height: @spacer-20;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
