.m-minicart {
  &__request-error {
    display: block;
    margin: 10px 0;
  }
  &__incompatible-product-alert {
    padding: 0 15px;
    @media @sm-up {
      padding: 0 30px;
    }
    @media @lg-up {
      padding: 0 45px 0 32px;
    }
    .m-alert {
      &__icon {
        .abt-icon {
          font-size: @spacer-24;
        }
      }
    }
  }
  .m-shoppingcart & {
    &__incompatible-product-alert {
      > .m-alert {
        .m-alert {
          padding: var(--alert-padding);
          max-width: 476px;
          &__icon {
            color: var(--alert-warning-icon-color);
          }
        }
      }
    }
  }
}
