.m-orderdetails-datadisplay {
  h4 {
    margin-bottom: 0.5rem;
    @media @md-up {
      margin-bottom: @spacer;
    }
  }
  &__list {
    font-size: @spacer-14;
    line-height: @spacer-20;
    margin: 0;
    p {
      margin: 0;
    }
  }
}
