.product-tile {
  .a-add-to-cart {
    &__result-message,
    &__out-of-stock-message,
    .a-stock-alert-subscribe {
      padding: var(--product-tile-name-padding);
      padding-top: 0;
      padding-bottom: 0;
    }
    .a-stock-alert-subscribe {
      .m-alert {
        text-align: left;
      }
    }
  }
}
