#myAccountDropdown {
  display: none;
}

.o-header #myAccountDropdown {
  display: block;
}

.o-header #myAccountDropdown {
  padding-right: 15px;

  .m-link-stack,
  .a-link--icon-right a  {
    padding-right: 0;
    margin-right: 0;
  }

  .m-link-stack__dropdown-wrapper:before {
    left: 50%;
  }

  .m-link-stack__dropdown-wrapper.js-collapsable-links-dropdown {
    left: -70px;
    width: 200px;
  }

  li.m-link-stack__list-item {
    padding: 10px;
    text-align: center;
    a {
      font-weight: 600;
      font-size: 0.9em;
      text-transform: uppercase;
    }
  }

  .m-link-stack__title {
    display: none;
  }

  em.abt-icon {
    display: inline-block;
    position: relative;
    margin-right: 0.5em;
  }
}

.o-header #myAccountMobileDropdown {
  .m-link-stack__link a {
    &:before {
      content: "\e901";
      font-family: 'Abbott-icon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      margin-right: 0.5em;
      font-size: 16px;
    }
  }
}

.o-header #myAccountDropdown,
.o-header #myAccountMobileDropdown {
  a[href="#logout"]:after {
    content: "\e96c";
    font-family: 'Abbott-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    margin-right: 0.5em;
    font-size: 19px;
    margin-left: 15px;
    position: relative;
    top: 3px;
    margin-top: -3px;
  }
}