.a-button {
  .btn {
    font-family: $font-family-base;
  }
  &--secondary {
    .btn {
      &:hover {
        border-color: var(--primary-120-color);
      }
    }
  }
}
.distributor
{
  #returnToDashboard
  {
    display: none;
  }
}