.m-documents-list {
  padding-left: 0;
  list-style: none;

  &__item {

  }
  .a-chips {
    .a-chips--link {
      outline-color: var(--primary-color);
      background: var(--primary-color);
      color: var(--white-color);
        font-size: 10px;
      
    }

  }


}