@import "./globals/mixins.less";
@import "./globals/media-queries.less";
@import "./globals/variables.less";

#healthInsuranceDrp-options,
#healthInsuranceDivider,
#regButManualCheckRedirect,
#registrationWaitMsg {
    display: none;
}
.userRegistrationMobileIcon::before,
.userRegistrationPhoneIcon::before {
    background: url(/content/dam/adc/sample/global/images/icons/german_flag.svg)
    no-repeat;
    content: "\00a0";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: -10px;
}
#userRegistrationStep3 {
    .tooltip {
        &.bs-tooltip-bottom {
            top: -40px !important;
            left: 27px !important;
            @media @md-up {
                left: 52px !important;
            }
            @media @lg-up {
                left: 62px !important;
            }
        }
        &.bs-tooltip-top {
            top: -35px !important;
            left: 27px !important;
            @media @md-up {
                left: 52px !important;
            }
            @media @lg-up {
                left: 62px !important;
            }
        }
        .arrow {
            left: 5px !important;
        }
    }
}
#userRegistrationStep4 {
    .tooltip-pwd {
        .a-tooltip {
            .tooltip {
                &.bs-tooltip-bottom {
                    top: -5px !important;
                    left: -25px !important;
                    @media @md-up {
                        left: -48px !important;
                    }
                    @media @lg-up {
                        left: -55px !important;
                    }
                    @media @xl-up {
                        left: -85px !important;
                    }
                }
                &.bs-tooltip-top {
                    top: 0 !important;
                    left: -25px !important;
                    @media @md-up {
                        left: -48px !important;
                    }
                    @media @lg-up {
                        left: -55px !important;
                    }
                    @media @xl-up {
                        left: -85px !important;
                    }
                }
                .arrow {
                    left: 90% !important;
                }
            }
        }
    }
}

//authoring style
.cq-Editable-dom {
  #healthInsuranceDrp-options,
  #healthInsuranceDivider,
  #regButManualCheckRedirect,
  #registrationWaitMsg {
    display: block;
  }
}