@import "../global/mixins.less";
@import '../global/variables.less';

#ph-diabetes-risk-columns{
    max-width: 730px;
    margin: auto;
    border: 3px solid #8A0863;
    border-radius: 10px;
    padding: 40px 10px 20px 10px;

    @media @md-down {
		width: auto;
        padding: 20px 0 20px 0;
        margin-bottom: 40px;
        border-radius: 5px;
    }
    @media @lg-down{
		margin-bottom: 40px;
    }
    .cmp-text, .a-radio .a-radio__text{
		color: #000000;
		font-weight: bolder;
        font-size : 16px;
    }
        #ph-diabetes-weight-column, #ph-diabetes-height-column{
            .columncontrol .container{
                @media @md-down {
                        padding: 0px;
                        margin: 0px;
                }
            }
        }
        .o-form-container .a-button .btn{
            background-color: #D5B25A;
        }

         .columncontrol .container{
            @media @md-down {
                    padding: 0px;
                    margin: 0px
                }

            }

        .o-form-container__error-msg,
        .o-form-container__success-msg {
            display: none;
        }
        .a-rule .a-horizontal-rule{
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .title .cmp-title__text{
            font-size : 24px;
            margin-bottom: 20px;

            > .ph-diabetes-subhead{
                display: block;
                font-size: 12px;
                margin-top: -5px;
            }
        }
        .col-lg-3{
            max-width: max-content;
        }
        .a-input-field .form-group .a-input-grp input.a-input-control{
            border-left: none;
            border-right: none;
            border-top: none;
            border-radius: unset;
            border-bottom: 2px solid #000000;
        }
        #ph-diabetes-weight-icon,#ph-diabetes-height-icon, #ph-diabetes-waist-icon {
            width:30px;
            height:30px;
        }

        .a-radio{
            @media @md-down {
                 display:block;
            }
        	.a-radio__custom{
				margin-top:3px;
        	}
        }

        .columncontrol .row {
            margin-bottom:0px;

            .columncontrol__column {
                padding-right: 30px;
                display:flex;
                padding-left: 0;

                @media @md-down {
                	padding-right: 0px;
                    padding-left: 15px;
                }
            	@media @lg-down{
					margin-bottom: 0px;
            	}
                > div {
                    padding-right: 20px;
                	margin: 0;
                }
            	> div:not(:first-child) {
					margin-top: 5px;
            	}
               .fields{

                	.a-input-grp{
						display: inline-block;
                    	width: 100px;
                    	padding-right: 20px;
                	}
                    .a-input-control{
                        padding: 1px 0 0 1px;
                        text-align: center;
                        color: #616161;
                        height: auto;
                    	width: 100%;
                    }
					.a-input-label{
						display: inline-block;
                        color: #000;
                        font-size: 16px;
                        font-weight: 700;
                    	padding-right: 20px;
                    	.a-input-field--required {
                     		display:none;
                   		}
                    }
                	.a-input-field--text-help{
						display: inline-block;
                		color: #000;
                        font-size: 16px;
                        font-weight: 700;
                	}
               }

            }
        }

    #ph-diabetes-bmi-text{
        display: none;
        padding: 10px 20px;
        width: 100%;
        font-size: 18px;
        font-weight: bolder;
        color: #8a0863;
        background: #96287533;
        margin: 10px 0 20px 0;
		@media @md-down {
        	margin-top: 20px;
        }
    }    
    &.diabetes-risk-form-my {
        border-color: #0f446e;
        #ph-diabetes-bmi-text {
            color: #0f446e;
            background-color: #28409630;
        }
    }
}

#ph-diabetes-risk-results{
    	display:none;
    	max-width: 730px;
        margin: auto;
        margin-top: 40px;

        @media @md-down {
            width: auto;
            padding: 0 0 20px 0;
        }

		.a-title .cmp-title h2{
			text-align: center;
            margin-bottom: -20px;
        	@media @md-down {
				text-align: left;
            	margin-bottom: -5px;

        	}
    	}
        #ph-diabetes-risk-recommend{
			font-size: 16px;
        	text-align: center;
        	padding: 0 40px;

            @media @md-down {
                padding:0px;
            }
        	> p{
				text-align:center;
        	}
        }
        #ph-diabetes-advisory{
			box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
            padding: 40px 30px 40px 30px;
            border-radius: 5px;
			.cmp-title__text{
				color: #8A0863;
        	}
            @media @md-down {
                padding: 20px 10px 30px 10px;
            }
        	p{ 
            	color: #7F7F7F;
    		}
        	ol{
				padding-inline-start: 20px;
            	>li{
					color: #7F7F7F;
            	}
        	}
        }
}
#ph-diabetes-risk .a-button .btn{
	background-color: #D5B25A;
}

#ph-diabetes-bmi-text-low, #ph-diabetes-bmi-text-mid, #ph-diabetes-bmi-text-high
{
    display:none;
}

@media @md-down {
	#ph-diabetes-risk-results,#ph-diabetes-risk .a-container{
		padding: 0px;
    }
}