<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
	<!--/* Alert component html */-->

            <div id="announcementTemplate" class="announcement-wrapper">
				<div class="container">
                	<div class="announcemnet-header">
						<sly data-sly-resource="${'alert-text' @ resourceType='abbott-platform/components/content/atoms/text/v1/text',decoration=true}"></sly>
                        <span>
							<svg viewBox="0 0 100 100" class="sim-icon">
									<use href="#icon-basic-01"></use>
							</svg>
						</span>
                    </div>
				</div>
        	</div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = true}"></sly>