<sly data-sly-use.templates="abbott/components/content/templates.html"/>
<sly data-sly-test.navigateLabel = "${properties.navigationLabel}"/>
    <button class="scroll-top" id="scroll-top" title="${properties.navigationLabel}">
			<sly data-sly-test.isabbott='${inheritedPageProperties.themeType == "abbott.abbottstore"}'>
				<i class="ai-caret-top" aria-hidden="true"></i>
			</sly>
			<sly data-sly-test='${!isabbott}'>
				<i class="ai-long-arrow-up" aria-hidden="true"></i>
			</sly>
	</button>
 <sly data-sly-call="${templates.placeholder @ isEmpty= !navigateLabel || navigateLabel}"></sly> 