<div class="row">
 <div class="para-content-1 mb-1_875 mt-1_875 ml-3">
	<h1>${properties.contactUsTitle}</h1>
 </div>
</div>
<div class="row">
 <div class="col-md-12 col-lg-9 M0auto">
	<div class="para-txt">
		${properties.contactUsDescription @context='html'}               
	</div>
	<div class="row">
	   <div class="col-md-12 col-xs-12">
		  <div id="contactUs">
		  </div>
	   </div>
	</div>
	<div class="para-txt">
		${properties.additionalInquiries @context='html'}               
	</div>
 </div>
</div>