<div class="container forgot_password mt-md-2 mt-1_875 mb-1_875">
	<div class="row">
		<span>${properties.forgotPasswordText @ context='html'}</span>
		<div class="col-sm-12 col-md-12 col-lg-9 M0auto">
			<div class="row mx-0 mx-md-n3">
				<div class="col-md-12 col-xs-12 padding0">
				<div class="successMessage">
                  <h2>${properties.successMsgHeading}</h2>
                  <p>${properties.successMsgText}</p>
                  </div>
					<div id="forgotPassword"></div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>



