

.click-to-call{
    display: block;
    color: @color-fsl-black;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
    &:hover{
        text-decoration: none;
        color: @color-fsl-black;
    }
    &__inner{
        display: flex;
        align-items: center;
        .call-icon{
            &__inner{
                height: 60px;
                width: 60px;
                background-color: @color-fsl-yellow;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
       }
        .call-content{
            padding-left: 30px;
            &__small{
                .font-size-rems(12);
            }
            h5.adc-title{
                font-weight: bold;
                margin: 0;
                display: flex;
                align-items: center;
                .font-size-rems(20);
           }
        }
    }
    &__button{
        margin-top: 10px;
    }
}