@import "../global/media-queries.less";
@import "../global/variables.less";


.o-header-v2-global {
  .o-header-v2-global__sticky-section {
    position: unset !important;
    .o-header-v2-global__section--main {
      .o-header-v2-section--alignGroupsBetween {
        @media @lg-down {
          padding: 0 10px;
        }
        @media @md-down {
          padding: 0;
        }
        .container {
          align-items: flex-start;
          @media @md-down {
            display: block;
          }
          .group {
            &:nth-child(1) {
              @media @md-down {
                padding: 0 10px;
              }
              .o-header-v2-group {
                .logo {
                  .a-logo-comp {
                    .a-logo-comp--image {
                      max-height: initial;
                    }
                  }
                }
              }
            }
            &:nth-child(2) {
              width: 370px;
              margin-left: 30px;
              @media @md-down {
                display: none;
                width: 100%;
                margin-left: 0;
                background: -webkit-linear-gradient(top, @color-white, @color-White-Smoke);
              }
              .o-header-v2-group {
                align-items: flex-start;
                justify-content: end;
                @media @md-down {
                  display: block;
                  padding: 20px 0;
                  border-top: 1px solid @color-Quill-Grey;
                }
                .text{
                  width: 73%;
                  text-align: center;
                  margin-top: 15px;
                  @media @md-down {
                    text-align: end;
                    width: 98%;
                    margin-top: 0;
                  }
                  .cmp-text{
                    h4{
                        font-size: @font-size-16;
                        font-family: @georgias;
                        color: @color-light-charcoal;
                        font-weight: 400;
                    }
                  }
                }
                .button {
                  width: 68%;
                  margin-bottom: 30px !important;
                  @media @md-down {
                    margin: 0 !important;
                    width:auto;
                    display: inline-block;
                  }
                  .btn {
                    @media @md-down {
                      margin: 0 !important;
                      border-radius: 5px !important;
                    }
                    span {
                      @media @md-down {
                        padding-top: 0px !important;
                      }
                    }
                  }
                }
                .headersearch {
                  width: 60%;
                  margin-top: 5%;
                  @media @md-down {
                    margin-left: auto;
                    margin-top: 0;
                    padding-right: 20px;
                    width: max-content;
                  }
                  .a-search {
                    position: relative;
                    padding: 0;
                    border: 1px solid @color-Grey-Goose;
                    border-radius: 4px;

                    form {
                      justify-content: end;
                      flex-direction: row-reverse;
                      input{
                        font-size: @font-size-14;
                        color: @color-French-Grey;
                        font-weight: 100;
                        font-family: @georgias;
                        &::placeholder{
                          color: @color-Silver-Chalice;
                        }
                      }

                      .a-search--icon-left {
                        padding: 8px 12px;
                        background-image: linear-gradient(to bottom,@color-white, @color-MercuryGreen-White);
                        em {
                          font-weight: bolder;
                          font-size: @font-size-12;
                          display: inline-block;
                          width: 14px;
                          height: 14px;
                          margin-top: 1px;
                          margin-right: .3em;
                          line-height: @spacer-20;
                          vertical-align: text-top;
                          background: url("/content/dam/ardx/ascertaintox/home/glyphicons-halflings.png") no-repeat;
                          background-position: -48px 0;
                          background-repeat: no-repeat;
                          &::before{
                            display: none;
                          }
                        }
                      }
                      .a-search__input {
                        padding-left: 5px;
                        display: block;
                        width: 100% !important;
                        background-color: @color-white;
                      }
                      .a-search__input-placeholder{
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .o-header-v2-global__section--utility-bottom {
      margin-top: -35px;
      @media @md-down {
         margin-top: 0;
      }
      .o-header-v2-section--alignGroupsEnd {
        .container {
          @media @md-down {
            justify-content: end;
          }
          .group {
            @media @md-down {
              width: 100%;
            }
            .o-header-v2-group {
              .megamenu {
                @media @md-down {
                  width: 100%;
                }
                .m-mega-menu__mobile {
                  .navbar {
                    height: auto;
                    padding: 0;

                    @media @md-down {
                      background-color: @color-white;
                      position: unset;
                    }

                    .navbar-toggler {
                      display: none;

                      @media @md-down {
                        display: block !important;
                        position: absolute;
                        top: -80px;
                        right: 9px;
                        padding: 20px 15px 35px;
                        border-left: 1px solid @color-Silver-Chalice;
                        margin: 10px 0 5px;
                        border-radius: 0;
                      }
                    }

                    .abt-icon-cancel {
                      @media @md-down {
                        top: -196px;
                      }

                      &::before {
                        @media @md-down {
                          color: @color-Light-Plum;
                          font-size: @font-size-20;
                          content: "\e90c";
                        }
                      }
                    }

                    .navbar-collapse {
                      justify-content: end;
                      flex-basis: auto;
                      display: flex;
                      box-shadow: none;
                      position: relative;
                      left: 0;

                      @media @md-down {
                        position: unset;
                        z-index: 999;
                        top: 75px;
                        left: 0px;
                        display: none;
                        width: 100%;
                        border-top: 1px solid @color-Quill-Grey;
                      }

                      .navbar-collapse-wrapper {
                        @media @md-down {
                          padding: 0;
                        }

                        .navbar-nav {
                          flex-direction: row;
                          margin-top: 10px;

                          @media @md-down {
                            flex-direction: column;
                            padding: 0;
                            margin-top: 0;
                          }

                          .m-mega-menu__mobile-item-wrapper {
                            margin-right: 0;
                            padding: 0;
                            border: 0;
                            height: 65px;
                            background: transparent
                              url("/content/dam/ardx/ascertaintox/header/bg_global_nav.gif")
                              no-repeat scroll 101% top;
                            color: @color-Shuttle-GreyPale;
                            padding-right: 2px;
                            display: inline-block;

                            @media @md-down {
                              display: block;
                              background: -webkit-linear-gradient(
                                top, @color-white, @color-Porcelain);
                              height: auto;
                              padding-right: 0;
                            }

                            &:hover {
                              border-bottom: 0;
                              background-position: 101% bottom;
                              color: @color-Light-raspberry !important;
                            }

                            &:hover .nav-item {
                              color: @color-Light-raspberry !important;
                            }

                            .navigation {
                              .show-version-3 {
                                .d-lg-block {
                                  display: block !important;

                                  @media @md-down {
                                    display: none !important;
                                  }
                                }

                                .d-lg-none {
                                  display: none !important;

                                  @media @md-down {
                                    display: block !important;
                                  }
                                }

                                .m-mega-menu__item {
                                  .nav-item {
                                    font-size: @font-size-15;
                                    font-family: @georgias;
                                    color: @color-Shuttle-GreyPale;
                                    padding: 19px 13px;
                                    letter-spacing: 0;
                                    text-transform: none;
                                  }
                                 
                                }
                                

                                .m-mega-menu__item, .m-mega-menu__mobile-item {
                                  position: relative;
                                  .m-mega-menu__mobile-header {
                                    text-decoration: none;
                                    padding: 17px 13px 13px;
                                    color: @color-Shuttle-GreyPale;
                                    font-weight: 700;
                                    font-size: @font-size-16;
                                    font-family: @georgias;
                                    cursor: pointer;
                                     display:inline-block;
                                     
                                    &::after {
                                      display: none;
                                    }
                                    @media @md-down{
                                      width:80%;
                                      &:hover{
                                        background-color: #f2f2f2;
                                        color: @color-Light-raspberry;
                                      }
                                    }
                                  }
                                   @media @md-down{
                                    &.has-child::after {
                                      content: "";
                                        font-size: 0;
                                        background: url("/content/dam/ardx/ascertaintox/header/mob-nav-arrow.png")
                                          no-repeat left top;
                                        display: block;
                                        height: 36px;
                                        width: 36px;
                                        transition: none;
                                        position: absolute;
                                        right: 10px;
                                        top: 10px;
                                      }
                                  
                                   }
                                  .m-mega-menu__mobile-products {
                                    padding-left: 0;
                                    .m-mega-menu__mobile-item {
                                        .m-mega-menu__mobile-item-link {
                                        white-space: normal;
                                        word-wrap: break-word;
                                        font-weight: bold;
                                        font-size: @font-size-13;
                                        min-height: 20px;
                                        color: @color-Shuttle-GreyPale;
                                        font-family: @georgias;
                                        display:inline-block; 
                                         @media @md-down{
                                            width:80%; 
                                          }                                      
                                      }
                                      &::after{
                                        content: "";
                                        display: none;
                                      }
                                      &:hover{
                                          border: none;
                                      }
                                    }
                                  }
                                  .m-mega-menu__mobile-products, .d-block{
                                    border-top: 1px solid #d5d5d5
                                  }
                                   @media @md-down{
                                      &.active{
                                            color: #97005e;
                                            background-color: #f2f2f2;
                                       
                                      }
                                        
                                   }
                                }

                                .active{
                                    color:@color-Light-raspberry !important;
                                    @media @md-down{
                                    &.has-child::after {
                                      content: "";
                                        background: url("/content/dam/ardx/ascertaintox/header/mob-nav-arrow.png")
                                          no-repeat left bottom;
                                      }
                                  
                                   }
                                  }
                                .m-mega-menu__nested-menu {
                                  width: 65%;
                                  @media @lg-down{
                                     top:90%;
                                  }

                                  .m-mega-menu__nested-menu-wrapper {
                                    @media @lg-down{
                                      display: block;
                                    }
                                    .m-mega-menu__side-nav {
                                      .m-link-stack {
                                        padding: 0;
                                        background-color: @color-Porcelain-Seashell;
                                        border-radius: 0 0 4px 4px;
                                        box-shadow: none;
                                        .m-link-stack--content {
                                          .a-link {
                                            padding: 0;

                                            &:hover {
                                              background-color: @color-Iron;
                                            }

                                            .a-link__text {
                                              font-family: @georgias;
                                              white-space: normal;
                                              word-wrap: break-word;
                                              font-weight: bold;
                                              font-size: @font-size-13;
                                              min-height: 20px;
                                              padding: 10px 15px 5px 10px;
                                              color: @color-Shuttle-GreyPale;

                                              &:hover {
                                                color: @color-Light-raspberry;
                                              }
                                            }
                                            .a-link__text.active{
                                              color:@color-Light-raspberry;
                                            }
                                           
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }

                            &:last-child{
                              .navigation{
                                .m-mega-menu__mobile-item{
                                  a{
                                    &::after{
                                      display: none !important;
                                    }
                                  }
                                }
                              }
                             
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
