.a-product-price {
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    background-color: var(--product-price-bg-color);

    &__normal-price {
        color: var(--product-price-normal-color);
        font-size: var(--product-price-normal-font-size);
        line-height: 1.2;
    }

    &__discount-price {
        color: var(--product-price-discount-color);
        font-size: var(--product-price-discount-font-size);
        line-height: var(--product-price-discount-line-height);
        text-decoration: line-through;
    }

    &__labels {
        display: none;
    }

    &__subscription-label {
        margin: 0;
        color: var(--product-price-subscription-label-color);
        font-size: var(--product-price-subscription-label-font-size);
    }
}
