.banner {
  width: 100%;
  margin: 0 !important;
  .banner-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    @media @md-down {
      flex-direction: column;
      margin-bottom: 5px;
    }
    .banner-link {
      display: block;
      text-decoration: none;
      overflow: hidden;

      &:hover {
        .banner-details {
          img {
            transform: scale(1.25);
          }
        }
      }
    }
    .banner-details {
      position: relative;
      img {
        width: 100%;
        display: block;
        transition: all 0.3s ease;
      }
      .banner-title {
        position: absolute;
        z-index: 1;
        line-height: 1.1;
        text-transform: uppercase;
        font-family: @font-brandon-grotesque-bold;
        color: @white;
        &.colorPalette_Black {
          color: @black;
        }
        &.colorPalette_White {
          color: @white !important;
        }
        &.colorPalette_Abbott-Primary-Blue {
          color: @abbott-primary-blue !important;
        }
        &.colorPalette_Abbott-red {
          color: @abbott-red !important;
        }
        &.colorPalette_Abbott-Dark-Blue {
          color: @abbott-dark-blue !important;
        }
        &.colorPalette_Medium-blue {
          color: @abbott-medium-blue !important;
        }
        &.colorPalette_Abbott-light-blue {
          color: @abbott-light-blue !important;
        }
        &.colorPalette_Abbott-Mint {
          color: @abbott-mint !important;
        }
        &.colorPalette_Medium-Green {
          color: @abbott-medium-green !important;
        }
        &.colorPalette_Light-Green {
          color: @abbott-green !important;
        }
        &.colorPalette_Abbott-gold {
          color: @abbott-gold !important;
        }
        &.colorPalette_Abbott-Magenta {
          color: @abbott-magenta !important;
        }
        &.colorPalette_Abbott-purple {
          color: @abbott-purple !important;
        }
        &.color-abbott-medium-red {
          color: @abbott-light-pink !important;
        }
        &.colorPalette_Abbott-Orange {
          color: @abbott-orange !important;
        }
        &.colorPalette_Yellow {
          color: @abbott-yellow !important;
        }
        &.colorPalette_Abbott-charcole {
          color: @abbott-charcoal !important;
        }
        &.colorPalette_DarkGray {
          color: @abbott-dark-gray !important;
        }
        &.colorPalette_Medium-gray {
          color: @abbott-medium-gray !important;
        }
        &.colorPalette_LightGray {
          color: @abbott-light-gray !important;
        }
      }
      .banner-overlay {
        display: block;
        height: 33.34%;
        background-color: @black;
        opacity: 0.4;
        position: absolute;
        left: 0;
        width: 100%;
        &.disp-top {
          top: 0;
        }
        &.disp-bottom {
          bottom: 15%;
          transform: translateY(50%);
        }
        &.disp-middle {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .left-banner {
      width: 66.806%;
      padding-right: 10px;
      @media @md-down {
        width: 100%;
        padding-right: 0;
        margin-bottom: 5px;
      }
      .banner-title {
        font-size: 40px;
        line-height: 1.025;
        left: 12%;
        right: 10%;
        &.disp-top {
          top: 18%;
          transform: translateY(-50%);
        }
        &.disp-bottom {
          bottom: 14%;
          transform: translateY(50%);
        }

        &.disp-middle {
          top: 52%;
          transform: translateY(-50%);
        }
        @media @lg-only {
          font-size: 22px;
          line-height: 1.045;
        }
        @media @md-down {
          font-size: 14px;
          line-height: 1.071;
          left: 5%;
        }
      }
      a {
        @media @md-up {
          height: 100%;
        }
        .banner-details {
          @media @md-up {
            height: 100%;
          }
          img {
            @media @md-up {
              height: 100%;
            }
          }
        }
      }
      .responsiveImageVideo {
        @media @md-up {
          height: 100%;
        }
        .hub2-youtubeVideoImage {
          @media @md-up {
            height: 100%;
          }
          .hub2-youtubeVideoImage-wrapper {
            @media @md-up {
              height: 100%;
            }
            img {
              @media @md-up {
                height: 100%;
              }
            }
          }
        }
      }
    }
    .right-banner {
      display: flex;
      flex-direction: column;
      width: 33.394%;
      @media @md-down {
        width: 100%;
        margin-bottom: 5px;
      }
      .image-top {
        margin-bottom: 5px;
      }
      .banner-title {
        font-size: 22px;
        line-height: 1.045;
        left: 6%;
        right: 6%;
        &.disp-top {
          top: 18%;
          transform: translateY(-50%);
        }
        &.disp-bottom {
          bottom: 15%;
          transform: translateY(50%);
        }
        &.disp-middle {
          top: 50%;
          transform: translateY(-50%);
        }

        @media @lg-only {
          font-size: 12px;
          line-height: 1.083;
        }
        @media @md-down {
          font-size: 14px;
          line-height: 1.071;
          left: 5%;
        }
      }
    }
  }
  .hub-embededVideo {
    display: none;
  }
  .responsiveImageVideo {
    position: relative;
    .hub2PlayIcon {
      cursor: pointer;
      color: transparent;
      background: url("/content/dam/corp/abbott/en-us/corpnewsroom/play-button-icon/play-btn.png");
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 96px;
      height: 96px;
      transition: all 150ms ease-out;
    }
  }
  #hub2Videooverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.24);
    .modal-dialog {
      pointer-events: all;
      padding-bottom: 36.25% !important;
      position: relative;
      border: 0;
      height: 0;
      width: 100%;
      max-width: 80%;
      margin: 0 auto;
      .hub2-popup-close {
        position: absolute;
        right: -20px;
        background: 0;
        border: 0;
        color: @white;
        font-size: 60px;
        top: 25px;
        z-index: 9;
      }
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0;
        top: 30px;
        left: 0;
        background-size: cover;
        -o-object-fit: fill;
        object-fit: fill;
      }
    }
  }
}
