/**********************************
Footer Component
**********************************/
.footer {
  @media @md-up {
    margin-top: -50px !important;
  }

  &.footer-float-up {
    @media @md-up {
      .container.float-footer-top {
        margin-top: -100px !important;
      }
    }
  }

  .o-footer {
    // Override the global code to display the arrow icon in tablet and mobile
    &__link-wrapper .m-link-stack {
      @media @lg-down {
        .abt-icon-down-arrow {
          display: block;
        }
      }
    }

    .m-link-stack {
      @media @md-up {
        // Hide the link stack header in tablet and desktop
        .m-link-stack--header {
          display: none;
        }

        // Display the link stack options in tablet and desktop
        .d-none {
          display: block !important; //Important is added to override the d-none display none from global
        }
      }
    }

    @media @md-down {
      // Hide the hosrizontal rule and link stacks in Mobile viewport
      .o-footer__top,
      .horizontal-divider {
        display: none;
      }
    }

    .o-footer__top {
      .row {
        .o-footer__link-wrapper {
          .m-link-stack {
            .m-link-stack--content {
              .a-link {
                .a-link__text {
                  font-size: @font-size-base * 0.8;
                  font-weight: normal !important;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }

    .o-footer__bottom {
      .row {
        .o-footer__copyright {
          font-size: @font-size-base * 0.8;
          font-weight: 400;
        }

        .o-footer__bottom-section {
          .o-footer__social-media {
            .m-social-media {
              .m-social-media--title {
                font-size: 1.1em;
                font-weight: normal !important;

                @media @lg-only {
                  font-size: 0.9em;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  // Style system for Footer to have 100px spacing to show the background color
  &.top-spacing-100:not(.float-footer-top) {
    padding-top: 100px !important;
  }

  // Style system for Footer to have 50px spacing to show the background color
  &.top-spacing-50:not(.float-footer-top) {
    padding-top: 50px !important;
  }

  // Style system to show the background colors to match 6.3 corp look and feel

  /* Themes color starts here */
  &.bg-color--yellow {
    background-color: @abbott-yellow;
  }

  &.bg-color--dark-yellow {
    background-color: @abbott-dark-yellow;
  }

  &.bg-color--green {
    background-color: @abbott-green;
  }

  &.bg-color--dark-green {
    background-color: @abbott-dark-green;
  }

  &.bg-color--fuscia {
    background-color: @abbott-fuscia;
  }

  &.bg-color--dark-fuscia {
    background-color: @abbott-dark-fuscia;
  }

  &.bg-color--orange {
    background-color: @abbott-orange;
  }

  &.bg-color--dark-orange {
    background-color: @abbott-dark-orange;
  }

  &.bg-color--cyan {
    background-color: @abbott-cyan;
  }

  &.bg-color--blue {
    background-color: @abbott-blue;
  }

  &.bg-color--dark-gray {
    background-color: @abbott-dark-gray;
  }

  &.bg-color--gray {
    background-color: @abbott-gray;
  }

  &.bg-color--white {
    background-color: @white;
  }

  &.bg-color--light-gray {
    background-color: @abbott-light-gray;
  }

  &.bg-color--dark-cyan {
    background-color: @abbott-dark-cyan;
  }

  &.bg-color--primary-blue {
    background-color: @abbott-primary-blue;
  }

  &.bg-color--dark-blue {
    background-color: @abbott-dark-blue;
  }

  &.bg-color--mint {
    background-color: @abbott-mint;
  }

  /* Themes color ends here */
}

// Footer v2 styling
.footer[class*="v2"] {
  margin-top: 0 !important;

  @media @md-up {
    margin-top: -80px !important;
  }

  & > .container {
    z-index: 10;
  }

  & > .container > section .a-container__content > .cmp-container {
    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
      width: 78%;
    }

    .columncontrol .logo {
      text-align: left;
      @media @md-up {
        margin-left: 3em;
      }
      @media @xl-up {
        margin-left: 0;
      }
    }

    .columncontrol + .text {
      padding: 60px 0 0;
      margin: 0;

      @media @md-up {
        margin-left: 3em;
      }
      @media @xl-up {
        margin-left: 0;
      }

      @media @lg-down {
        padding: 25px 0 0;
      }
    }
  }
}

.grecaptcha-badge {
  z-index: 99;
}
