/**********************************
Hero Carousel Component
**********************************/
.o-hero-carousel {

  // System system for Mini hero carousel variation that has info section panels to form carousel
  &.hero-carousel_variation--mini-hero-carousel {
    .cmp-carousel .slick-arrow {
      @media @md-down {
        top: 30%;
      }
    }

    .o-info-section {
      padding: 0;
      --info-section-btn-padding-bottom: 0;
      --info-section-height: auto;

      .o-info-section__container {
        padding: 0;
        margin: 0;
        max-width: 100%;
        --info-section-container-height: auto;

        .row {
          @media @md-up {
            flex-direction: row-reverse;
          }

          @media @md-down {
            flex-direction: column-reverse;
          }

          .o-info-section__heading {
            display: none;
          }

          .o-info-section__column {
            &:nth-of-type(2) {
              @media @md-up {
                padding-top: 5.14%;
                padding-right: 50px;
                padding-left: 40px;
              }

              @media @md-down {
                padding-top: 20px;
                padding-bottom: 30px;
              }

              .o-info-section__title {
                --info-section-title-margin-bottom: 0;
              }
            }

            &:nth-of-type(3) {
              @media @md-down {
                padding: 0;
              }

              .o-info-section__sub-title {
                --info-section-sub-title-padding: 0;

                p {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .slick-slide {
    max-height: 536px;
  }

  #responsibility-carousel {
    .slick-slider {
      .slick-dots {
        @media @md-up {
          bottom: 120px;
        }
      }
    }
  }

  .cmp-carousel__item.cmp-carousel__item--active {
    display: block;
  }

  .cmp-carousel__item {
    display: none;
  }
}