/**********************************
Investor Calendar Container Component
**********************************/

.investor-calendar-container {
  position: relative;

  .investor-calendar-variation--1 {
    .investor-calendar-container__content {
      padding: 3rem 0;

      @media @xxl-only {
        position: relative;
        z-index: 1;
      }

      .investor-release--content-wrapper {
        background: @white;
        margin: auto;
        padding: 0;
        width: 75%;

        @media @lg-down {
          width: 100%;
        }

        .investor-release--content-item {
          display: flex;
          padding: 1rem 0;
          border-bottom: 1px solid @abbott-silver;

          .investor-release--content-item__date {
            text-align: center;
            text-transform: uppercase;
            width: 15%;

            @media @md-down {
              width: 30%;
            }

            .investor-release--content-item__month {
              border-bottom: 4px solid @abbott-dark-charcoal;
              margin: 0 1.5rem;

              @media @md-down {
                border-bottom: 2px solid @abbott-dark-charcoal;
                margin: 0 1rem;
              }
            }

            .investor-release--content-item__month,
            .investor-release--content-item__year {
              p {
                padding: 0.5rem 0;
                margin-bottom: 0;
              }
            }
          }

          .investor-release--content-item__info {
            @media @md-down {
              width: 70%;
            }
          }

          .investor-release--content-item__description {
            p {
              font-weight: bold;
              text-transform: uppercase;

              @media @md-down {
                margin-bottom: 0;
              }
            }
          }

          .investor-release--content-item__btn-wrapper {
            display: flex;

            @media @md-down {
              display: block;
            }

            .investor-release--content-item__btn {
              margin-right: 1rem;

              @media @md-down {
                margin-top: 1rem;
                display: inline-block;
              }

              a {
                background: @abbott-button-hover-blue;
                color: @white;
                display: inline-block;
                padding: 0.3rem 0.65rem;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;

                @media @lg-up {
                  width: 160px;
                }

                @media @md-down {
                  padding: 0.2rem 0.4rem;
                }

                &:hover {
                  background: @abbott-dark-blue;
                }
              }
            }
          }

          &:last-child {
            border-bottom: 0;
            display: flex;

            .investor-release--content-item__date--empty {
              .investor-release--content-item__month {
                border-bottom: 0;
              }
            }

            .investor-release--content-item__info {
              display: flex;
              justify-content: space-between;
              width: 100%;

              @media @md-down {
                width: 70%;
              }

              .investor-release--content-item__btn-wrapper {
                margin-right: 1.5rem;
              }

              .investor-release--content-item__description {
                margin-left: 1rem;

                @media @md-down {
                  margin-left: 0;
                  margin-right: 1rem;
                }
              }
            }
          }

          &.investor-release--content-item--bg-gray {
            background: @abbott-silver;
          }
        }
      }
    }

    .investor-calendar-container__media {
      .investor-calendar-container__image {
        .cmp-image {
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          z-index: -1;

          @media @xxl-only {
            z-index: 0;
          }
        }
      }
    }
  }

  .investor-calendar-variation--2 {
    .investor-calendar-container__content {
      .investor-calendar--header {
        text-transform: uppercase;
      }

      .investor-release--content-wrapper {
        .investor-release--content-item {
          .investor-release--content-item__link {
            display: flex;
            color: @abbott-bastille;
            text-decoration: none;
            padding: 0.25rem 0;
            border-bottom: 1px solid @abbott-silver;

            .investor-release--content-item__date {
              text-align: center;
              text-transform: uppercase;
              width: 15%;

              @media @md-down {
                width: 26%;
              }

              .investor-release--content-item__month {
                border-bottom: 2px solid @black;
                margin: 0 1.5rem;

                @media @md-down {
                  margin: 0 1rem;
                }
              }

              .investor-release--content-item__month,
              .investor-release--content-item__year {
                p {
                  padding: 0.5rem 0;
                  margin-bottom: 0;
                }
              }
            }

            .investor-release--content-item__description {
              display: flex;
              justify-content: space-between;
              padding-top: 1rem;
              width: 85%;

              @media @md-down {
                padding-top: 0;
                width: 74%;
                align-items: center;
              }

              .investor-release--content-item__icon {
                .abt-icon {
                  font-weight: bold;
                }
              }
            }

            &:hover {
              background: @abbott-hover-white;

              .investor-release--content-item__icon {
                .abt-icon {
                  color: @abbott-dark-blue;
                }
              }
            }
          }
        }

        &:nth-last-of-type(2) .investor-release--content-item__link {
          border-bottom: 0;
        }
      }

      .button {
        margin-top: 1rem;

        @media @md-up {
          justify-content: flex-end;
        }

        @media @md-down {
          width: fit-content;
        }
      }
    }
  }
}

.featuredmediacontainer {
  &.investor-calender-variation {
    .investor-calendar-container__content {
      .investor-release--content-item {
        .investor-release--content-item__date {
          p {
            font-family: @font-brandon-grotesque-black;
            @media @lg-up {
              font-size: 20px;
              padding: 0.3rem 0 0 !important;
            }
          }
          .investor-release--content-item__month {
            border-bottom: 2px solid #333;
          }
        }
        .investor-release--content-item__info {
          .investor-release--content-item__description {
            p {
              @media @lg-up {
                font-size: 13px;
              }
            }
          }
          .investor-release--content-item__btn-wrapper {
            .investor-release--content-item__btn {
              @media @lg-up {
                a {
                  font-size: 14px;
                  padding-top: 8px;
                }
              }
            }
          }
        }
        &.investor-release--content-item--bg-gray {
          .investor-release--content-item__date--empty {
            @media @md-down {
              width: 5%;
            }
          }
          .investor-release--content-item__info {
            @media @md-down {
              width: 95% !important;
            }
            .investor-release--content-item__description {
              p {
                @media @lg-up {
                  font-size: 20px;
                  margin-bottom: 0;
                  margin-top: 8px;
                  color: @black;
                  margin-left: 10px;
                }
              }
            }
            .investor-release--content-item__btn-wrapper {
              @media @md-down {
                width: 35%;
              }
            }
          }
        }
      }
    }
  }
}
