/**********************************
button Component
**********************************/

.link {

    // Style system class for edge design page in US in 6.3
    &.link-variation--edge-design {
        display: block;
        margin-bottom: 0;
        margin-top: 0;

        &:hover,
        &.focus {
            .a-link__text {

                &,
                & .a-link__inner-text {
                    color: @abbott-primary-blue;
                }
            }
        }

        &.active {
            background-color: @abbott-primary-blue;

            &,
            & .a-link__inner-text {
                color: @white  !important;
            }
        }

        .a-link,
        .a-link__text {
            display: block;
        }

        .a-link__text {

            &,
            & .a-link__inner-text {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 400;
                color: @abbott-gray;
                line-height: 1.325;
                padding: 5px 0.625em 0;
            }

            .a-link__inner-text {
                padding: 0;
            }
        }
    }
}