.megamenu {
    &.megamenu-sitemap--links {

        .navbar-collapse {
            .navbar-nav {
                display: block;

                @media @lg-up {
                    .m-mega-menu__mobile-item-wrapper {
                        padding-top: 0;
                        border-right: none;
                        cursor: default;

                        &:hover+.m-mega-menu__mobile-item-wrapper {
                            border-top: 5px solid transparent;
                        }

                        &:last-child {
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }

        @media @lg-down {

            [class^="abt-icon-"] {
                display: none;
            }
        }
    }
}