/**********************************
Modal Component
**********************************/

#siteLeavingPopupFragmentPathModal {
  &.modal {
    .modal-body {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 25px;

      .container {
        padding-top: 30px;
        padding-bottom: 20px;
        padding-right: 30px;
      }
    }

    .row {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding: 0 !important;
      margin: 0;

      @media @md-down {
        justify-content: space-between !important;
      }

      .columncontrol__column {
        margin: 0 8px 0 0;
        padding-left: 0;
        padding-right: 0;

        @media @md-down {
          margin: 0;
        }

        &.col-12 {
          @media @md-down {
            min-width: 49%;
            max-width: 49%;
            width: fit-content;
          }

          max-width: 30%;
        }

        .button {
          &.button[class*="font-brandon-grotesque-"] {
            .btn {
              padding-top: 10px;
            }
          }

          .btn {
            border-radius: 0;
            width: 100%;

            @media @md-down {
              min-width: 100%;
              width: fit-content;
            }
          }
        }
      }
    }

    .modal-footer {
      margin-left: 0;
      margin-right: auto;
      padding-top: 0 !important;
    }

    .generic-modal--close {
      border: 3px solid @abbott-primary-blue;
      border-radius: 50%;
      color: @abbott-primary-blue;
      padding: @spacer-6 @spacer-6 @spacer-2;

      i {
        font-weight: bold;
      }
    }

    .modal-content {
      background-color: @abbott-bastille;

      .generic-modal__content-body * {
        --modal-para-color: var(--text-color);
      }
    }
  }
}

.modal {
  &.modal--video-popup {
    .modal-dialog {
      max-width: 1140px;
      width: 70%;

      @media @md-down {
        margin: auto;
        width: 96%;
      }

      .modal-content {
        background: none;
        border: none;
        box-shadow: none;

        .modal-header {
          .generic-modal--close {
            color: @white;
            right: 0;
            top: -1.5rem;
          }
        }

        .modal-body {
          padding: 0;

          .container--video-popup {
            .cmp-container {
              padding-left: 0;
              padding-right: 0;
            }

            .video {
              padding: 0;
              margin: 0;
            }

            .button {
              display: flex;
            }
          }
        }

        .modal-footer:empty {
          display: none;
        }
      }
    }
  }

  &.modal--video-popup__white-border {
    .modal--video-popup;

    .modal-dialog {
      .modal-content {
        .modal-body {
          border: 0.5rem solid @white;

          .video {
            padding: 0;
          }
        }
      }
    }
  }

  // Modal without any border
  &.modal--video-popup__no-border {
    .modal--video-popup__white-border;

    .modal-dialog .modal-content .modal-body {
      border: 0;
    }
  }

  // Modal without any border
  &.no-border-varient,
  &.modal--video-popup-article {
    .modal-dialog {
      @media @xl-up {
        max-width: 80%;
      }
      .modal-content {
        .modal-body,
        .modal-footer {
          padding: 0;
        }
        .modal-header {
          .generic-modal--close {
            top: -8px;
            right: -8px;
            .abt-icon-cancel {
              color: @white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  &.pi-locator {
    .modal-dialog {
      @media @md-up {
        max-width: 98%;
      }
      @media @lg-up {
        max-width: 90%;
      }
      @media @xl-up {
        max-width: 80%;
      }
      .modal-content {
        .modal-body {
          .cmp-container {
            .title {
              .cmp-title__text {
                font-size: 24px;
                line-height: 0.917;
                color: @abbott-bastille;
                font-family: @font-georgia;
                margin-top: 0;
                margin-bottom: 24px;
              }
            }
            .text {
              margin: 0 !important;
              .cmp-text {
                p {
                  font-family: @font-georgia;
                  font-size: 16px;
                  color: @abbott-bastille;
                  margin: 0;

                }
              }
              #healthcare-providers {
                p {
                  padding: 0;
                  margin: 0;
                  font-family: @font-brandon-grotesque-bold;
                  text-transform: uppercase;
                  font-size: 16px;
                  color: @abbott-bastille;
                }
              }
            }
          }
          .o-poi-locator {
            .o-poi-locator__wrapper {
              .container {
                .m-poi-locator-search-bar {
                  .m-poi-locator-search-bar__wrap {
                    #POI-locator-form {
                      .row {
                        .col-12 {
                          &:first-child {
                            .row {
                              .col-9 {
                                @media @md-down {
                                  flex: 0 0 65%;
                                  max-width: 65%;
                                }
                              }
                              .col-3 {
                                @media @md-down {
                                  flex: 0 0 35%;
                                  max-width: 35%;
                                }
                              }
                            }
                            @media @lg-up {
                              flex: 0 0 60%;
                              max-width: 60%;
                            }
                          }
                          &:last-child {
                            @media @lg-up {
                              flex: 0 0 40%;
                              max-width: 40%;
                            }
                          }
                        }
                      }
                      .m-poi-locator-search-bar__input {
                        .a-input-field {
                          margin: 0;
                          input {
                            font-family: @font-brandon-grotesque-medium;
                            border: 1px solid @abbott-light-gray;
                            font-size: 16px;
                            line-height: 2.125;
                            color: @abbott-pantone-cool-grey;
                            text-transform: uppercase;
                          }
                        }
                      }
                      .m-poi-locator-search-bar__button {
                        .search-button {
                          .btn {
                            padding: 13px 20px 12px;
                            background-color: @abbott-primary-blue;
                            span {
                              padding: 0;
                              display: block;
                            }
                            .abt-icon {
                              display: none;
                            }
                          }
                        }
                      }
                      .m-poi-locator-search-bar__use-location {
                        .or-text {
                          font-family: @font-brandon-grotesque-medium;
                          font-size: 16px;
                          line-height: 2.125;
                          color: @abbott-pantone-cool-grey;
                          text-transform: uppercase;
                        }
                        .use-my-location-button {
                          button {
                            background-color: @abbott-primary-blue;
                            .abt-icon {
                              right: 5px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .m-poi-locator-results {
                  .m-poi-locator-results__wrap {
                    .row-result-map {
                      @media @md-up {
                        flex-direction: row;
                      }
                      .row-result-map--horizontal-content {
                        @media @md-up {
                          flex: 0 0 40%;
                          max-width: 40%;
                          margin-left: 3%;
                        }
                        @media @lg-up {
                          max-height: 600px;
                        }
                        border: 20px solid #f3f3f3;
                        max-height: 300px;
                        height: max-content;
                        overflow: auto;
                        /* width */
                        &::-webkit-scrollbar {
                          width: 7px;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                          background: @abbott-medium-gray;
                          border-radius: 10px;
                        }

                        /* Handle on hover */
                        &::-webkit-scrollbar-thumb:hover {
                          background: @abbott-gray;
                        }

                        .m-poi-locator-results__count {
                          text-align: center;
                          padding: 10px 0 0;
                          font-family: @font-brandon-grotesque-medium;
                          color: @abbott-pantone-cool-grey;
                        }
                        .m-poi-locator-results__list {
                          overflow: unset;
                          .m-poi-locator-results__list-item {
                            border-bottom: 1px solid @abbott-light-gray;
                            margin-right: 0;
                            .m-poi-locator-results__list-item-number {
                              display: none;
                            }
                            .m-poi-locator-results__list-item-detail {
                              p {
                                margin-bottom: 7px;
                                padding: 0;
                                font-family: @font-brandon-grotesque-regular;
                                color: @abbott-pantone-cool-grey;
                                font-size: 16px;
                                line-height: 1;
                              }
                              .m-poi-locator-results__list-item-detail__label {
                                display: none;
                              }
                              .m-poi-locator-results__list-item-detail--store-address {
                                margin-bottom: 5px;
                                padding: 0;
                                font-family: @font-brandon-grotesque-regular;
                                color: @abbott-pantone-cool-grey;
                                font-size: 16px;
                                line-height: 1;
                              }
                              .m-poi-locator-results__list-item-detail--store-contact-details {
                                .m-poi-locator-results__list-item-detail--store-contact {
                                  margin-bottom: 2px;
                                  padding: 0;
                                  a {
                                    font-family: @font-brandon-grotesque-regular;
                                    color: @abbott-primary-blue;
                                    font-size: 16px;
                                    line-height: 1;
                                  }
                                }
                              }
                              .m-poi-locator-results__list-item-detail--store-name {
                                margin-bottom: 10px;
                                font-family: @font-brandon-grotesque-bold;
                                color: @abbott-pantone-cool-grey;
                                overflow-wrap: break-word;
                                line-height: 1.375;
                                font-size: 16px;
                                &.additional-fields {
                                  display: none;
                                }
                              }
                              .m-poi-locator-results__list-item-detail--store-phone {
                                display: none;
                              }
                              .m-poi-locator-results__list-item-detail--visit-website,
                              .m-poi-locator-results__list-item-detail--get-direction {
                                margin-bottom: 4px !important;
                                a {
                                  padding: 0;
                                  font-family: @font-brandon-grotesque-regular;
                                  color: @abbott-primary-blue;
                                  font-size: 16px;
                                  line-height: 1;
                                  font-weight: normal;
                                  span {
                                    font-family: @font-brandon-grotesque-regular;
                                    color: @abbott-primary-blue;
                                    font-size: 16px;
                                    line-height: 1;
                                    font-weight: normal;
                                  }
                                  .abt-icon {
                                    display: none;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                      .row-result-map--horizontal-map {
                        @media @md-up {
                          flex: 0 0 50%;
                          max-width: 50%;
                          margin-left: 4%;
                        }
                        .m-poi-locator-results__map {
                          margin-top: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
