//style system for newsroom variation
.o-search-results-filter {
  .container {
    @media (min-width: 768px) {
      max-width: 750px;
      padding-right: 15px;
      padding-left: 15px;
    }
    @media (min-width: 992px) {
      width: 75%;
      padding: 0;
      max-width: 970px;
    }
    @media (max-width: 767px) {
      max-width: 100% !important;
    }

    .row.o-search-res__container {
      margin-left: 0px;
      margin-right: 0px;
      justify-content: space-between;
      .col-md-3 {
        flex: 0 0 32%;
        max-width: 32%;
        order: 2;
        .searchfacet {
          margin-top: 0px;
        }
        .m-search-result-item {
          display: none;
        }
        .m-search-result-item,
        .customtextlist {
          margin-top: 0px;
        }
      }
      .col-md-9 {
        display: flex;

        flex-wrap: wrap;

        padding: 0px;
        flex: 0 0 66%;
        max-width: 66%;
        justify-content: space-between;
        .filter {
          display: none;
        }
        .o-search-res__results--view {
          padding: 0 !important;
          flex: 0 0 100%;
          max-width: 100%;
          justify-content: space-between;
          @media (max-width: 767px) {
            flex: 0 0 100%;
            max-width: 100%;
          }

          .a-card-result {
            flex: 0 0 48.8%;
            max-width: 48.8%;
            padding: 0px;
            padding-bottom: 30px;
            @media (max-width: 767px) {
              max-width: 100%;
              flex: auto;
            }
          }
        }
        .responsivegrid {
          flex: 0 0 32.5%;
          max-width: 32.5%;
          .customtextlist {
            margin-top: 0px;
          }
        }
      }
    }
  }

  .search-filter-tag-article {
    .article-link {
      text-decoration: none;

      .article-image {
        margin: 0;
        position: relative;

        img {
          width: 100%;
          max-width: 100%;
          display: block;
          height: auto;
        }
      }

      &:hover {
        .read-more,
        .story-overlay {
          display: block;
        }
      }

      .read-more {
        position: absolute;
        top: 12%;
        left: 8%;
        font-size: 1.25em;
        font-family: @font-brandon-grotesque-bold;
        text-transform: uppercase;
        z-index: 10;
        color: @abbott-article-hover-blue;
        display: none;
      }

      .story-overlay {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .article-details {
      margin: 15px 10px 0;
      text-decoration: none;
      @media @lg-only {
        margin: 15px 0 0;
      }

      .article-category {
        font-family: @font-brandon-grotesque-bold;
        font-size: 1rem;
        line-height: 1.375em;
        text-transform: uppercase;
        letter-spacing: 0.094em;

        &.article-category-color-red {
          color: @abbott-red;
        }

        &.article-category-color-blue {
          color: @abbott-light-blue;
        }

        &.article-category-color-green {
          color: @abbott-medium-green;
        }

        &.article-category-color-gold {
          color: @abbott-dark-orange;
        }

        &.article-category-color-medium-blue {
          color: @abbott-blue;
        }

        &.article-category-color-magenta {
          color: @abbott-fuscia;
        }

        &.article-category-color-mint {
          color: @abbott-mint;
        }

        &.article-category-color-purple {
          color: @abbott-purple;
        }
      }

      .article-date {
        font-size: 1rem;
        line-height: 1.375em;
        font-family: @font-brandon-grotesque-medium;
        color: @abbott-pantone-cool-grey;
        @media @lg-only {
          font-size: 0.8125em;
          line-height: 1.375em;
        }
      }

      .article-title {
        font-family: @font-brandon-grotesque-bold;
        font-size: 1rem;
        line-height: 1.375em;
        text-transform: uppercase;
        color: @black;
        @media @lg-only {
          font-size: 0.8125em;
          line-height: 1.375em;
        }
        h2 {
          font-family: @font-brandon-grotesque-bold;
          font-size: 1rem;
          line-height: 1.375em;
          text-transform: uppercase;
          color: @black;
          margin: 0;
          @media @lg-only {
            font-size: 13px;
            line-height: 17px;
          }
        }
      }

      .article-desc {
        font-size: 1rem;
        line-height: 1.375em;
        font-family: @font-georgia;
        color: @black;
        @media @lg-down {
          display: none;
        }
      }
    }
  }
}

.newsroom-search {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 40px;
  
  #newsroom-toplevel {
    max-width: none;
    .row {
      @media @md-down {
        flex-direction: column-reverse;
      }
      .columncontrol__column {
        &:first-child {
          padding: 30px 10px 50px;
          @media @lg-up {
            padding: 30px 8.57% 50px;
          }
          .a-container__row {
            .a-container__content {
              .text {
                margin: 0 !important;
                .cmp-text {
                  padding: 6px 0 2px;
                  p {
                    margin: 0;
                    text-transform: uppercase;
                    color: #fff;
                    @media @lg-only {
                      font-size: 0.8125em;
                    }
                  }
                }
              }
            }
          }
          .container {
            padding: 0;
            .columncontrol__column {
              background: #fff;
              &:first-child {
                padding: 0 15px;
                margin: 0;
                @media @lg-only {
                  padding: 0 5px 0 15px;
                }
                @media @lg-up {
                  padding: 0 8px 0 15px;
                }
              }
              &:last-child {
                padding: 0 15px;
                margin: 0;
                @media @lg-only {
                  padding: 0 15px 0 5px;
                }
                @media @lg-up {
                  padding: 0 15px 0 7px;
                }
              }
            }
          }
        }
        &:last-child {
          background-color: @abbott-mega-menu-arrow-color;
          padding: 0;
          @media @md-down {
            background-color: @white;
          }
          @media @lg-only {
            padding: 0 5px;
          }
          @media @lg-up {
            padding: 0 4.5% 0 2.57%;
          }
        }
      }
    }
    .a-container__row {
      .a-container__content {
        .o-search-results-filter {
          margin: 0 !important;
          .container {
            width: 100%;
            .search-results-container {
              display: none !important;
            }
            .o-search-res__container {
              word-break: break-word;
              .col-md-3 {
                display: none;
              }
              .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;
                .responsivegrid {
                  display: none;
                }
                .o-search-res__results--view {
                  margin: 0;
                  .a-card-result {
                    word-break: break-word;
                    &.newsroom-view {
                      flex: 0 0 100%;
                      max-width: 100%;
                      padding-bottom: 15px;
                      .first-view {
                        display: none;
                        a {
                          .article-details {
                            .article-title {
                              margin: 0;
                            }
                          }
                        }
                      }
                      .general-view {
                        padding: 0 0 0 10px;
                        @media @lg-only {
                          padding: 0;
                        }
                        .article-image {
                          float: left;
                          width: 38%;
                          @media @lg-only {
                            width: 43%;
                          }
                          img {
                            max-width: 112px;
                          }
                        }
                        .article-details {
                          margin: 0;
                          float: right;
                          width: 62%;
                          padding: 0 0 0 10px;
                          @media @lg-only {
                            width: 57%;
                          }
                          .article-title {
                            margin: 0;
                          }
                        }
                      }
                      &:first-child {
                        .first-view {
                          display: block;
                        }
                        .general-view {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .button {
            &.link {
              a {
                em {
                  font-size: 10px !important;
                }
                span {
                  padding-left: 1px;
                }
              }
            }
          }
        }
        .button {
          &.link {
            margin-top: 15px;
            a {
              em {
                font-size: 10px !important;
              }
              span {
                padding-left: 1px;
              }
            }
          }
        }
      }
    }
  }
}

.newsroom-piller-page {
  .a-container__row {
    .a-container__content {
      .text {
        margin: 0 !important;
        .cmp-text {
          padding: 6px 0 2px;
          p {
            margin: 0;
            text-transform: uppercase;
            color: #fff;
          }
        }
      }
      .o-search-results-filter {
        margin: 0 !important;
        .container {
          width: 100%;
          .search-results-container {
            display: none !important;
          }
          .o-search-res__container {
            word-break: break-word;
            .col-md-3 {
              display: none;
            }
            .col-md-9 {
              flex: 0 0 100%;
              max-width: 100%;
              .o-search-res__results--view {
                margin: 0;
                .a-card-result {
                  word-break: break-word;
                  .search-filter-tag-article {
                    .article-details {
                      .article-category {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;

                        &.color-red {
                          color: @abbott-red;
                        }

                        &.color-light-blue {
                          color: @abbott-light-blue;
                        }

                        &.color-medium-green {
                          color: @abbott-medium-green;
                        }

                        &.color-gold {
                          color: @abbott-dark-orange;
                        }

                        &.color-medium-blue {
                          color: @abbott-blue;
                        }

                        &.color-magenta {
                          color: @abbott-fuscia;
                        }

                        &.color-mint {
                          color: @abbott-mint;
                        }

                        &.color-purple {
                          color: @abbott-purple;
                        }
                      }
                      .article-date {
                        font-family: @font-brandon-grotesque-medium;
                        color: @abbott-pantone-cool-grey;
                        font-size: 16px;
                        line-height: 22px;
                      }
                      .article-title {
                        text-transform: uppercase;
                        font-family: @font-brandon-grotesque-bold;
                        color: @black;
                        font-size: 16px;
                        line-height: 22px;
                      }
                      .article-desc {
                        display: block;
                        font-size: 16px;
                        line-height: 22px;
                      }
                    }
                  }
                }
              }
            }
            .a-pagination {
              display: flex !important;
              width: 100%;
              align-items: center;
              justify-content: center;
              .a-pagination__pages {
                border: 0;
                .a-pagination__page {
                  border: 1px solid @abbott-pagination-border-silver;
                  &.a-pagination--active {
                    background-color: @black;
                    color: @white;
                  }
                  .a-pagination__link {
                    &:hover {
                      background: @abbott-pagination-hover-color;
                    }
                  }
                }
              }
              &.a-pagination--hide {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
  &.products-and-innovation {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-light-blue;
        }
      }
    }
  }
  &.strategy-and-strength {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-dark-green;
        }
      }
    }
  }
  &.healthy-heart {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-red;
        }
      }
    }
  }
  &.diabetes-care {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-gold;
        }
      }
    }
  }
  &.pain-and-movement {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-medium-blue;
        }
      }
    }
  }
  &.diagnostics-testing {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-magenta;
        }
      }
    }
  }
  &.nutrition-health-and-wellness {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-mint;
        }
      }
    }
  }
  &.sustainability {
    .search-filter-tag-article {
      .article-details {
        .article-category {
          color: @abbott-purple;
        }
      }
    }
  }
}

#newsroom-piller-page {
  @media @lg-only {
    max-width: none;
    padding: 0;
  }
  @media @lg-up {
    max-width: 75%;
    padding: 0;
  }
  .newsroom-piller-page {
    .container {
      @media @lg-down {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
      }
      @media @lg-up {
        padding-left: 8px;
        padding-right: 0;
      }
      .columncontrol__column {
        &:first-child {
          @media @lg-up {
            padding-right: 0;
            padding-left: 0;

          }
          .a-container {
            @media @xl-up {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
        .cmp-container {
          @media @lg-up {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}
