//styles for section-title component
.sectiontitle {
  //style system to add spacing between section-title and headline text
  &.section-title-spacing-variation {
    @media @md-down {
      .mob-section-title-center.section-title-container {
        margin: 60px auto !important;
        top: 75px;
      }
    }

    .section-title-container {
      position: relative;
    }

    .section-new-container {
      @media @lg-up {
        padding-top: 160px;
      }

      padding-top: 60px;
      padding-bottom: 10px;
      --section-bg-height: auto !important;
    }

    .section-content {
      position: relative !important;
    }
  }

  &.corpnewsroom-variation {
    .section-title-container {
      .section-title {
        h4 {
          color: @abbott-dark-charcoal;
        }
        span {
          color: @abbott-dark-charcoal;
        }
      }
    }
    .category-name {
      .section-title {
        h5 {
          font-size: 20px;
        }
      }
      .categories {
        li {
          a {
            font-size: 13px;
            font-family: @font-brandon-grotesque-regular;
          }
        }
      }
    }
  }
  &.corp-margin-adjustment {
    margin: 0 auto !important;
    .main-hubsection-container {
      min-height: 50px;
      .section-title-container {
        margin: 0 auto;
      }
    }
  }
  &.corp-margin-adjustment-equalgap {
    margin: 0 auto !important;
    .main-hubsection-container {
      min-height: 68px;
      .section-title-container {
        margin: 0 auto;
      }
    }
  }
  &.corp-margin-adjustment-brasil {
    .main-hubsection-container {
      min-height: 50px;
      .section-title-container {
        margin: 0 auto;
      }
    }
  }
  &.sectiontitle-honor-varient {
    .main-hubsection-container {
      @media @xl-up {
        min-height: 413px;
      }
      .section-new-container {
        .section-content {
          @media @xl-up {
            position: absolute !important;
          }
        }
      }
    }
  }
}

.main-hubsection-container {
  .section-dropdown-variation {
    .category-name {
      .section-title {
        h4 {
          font-size: 0.8rem;
          line-height: 1.2;
          @media @md-up {
            font-size: 20px;
            line-height: 20px;
          }
        }
        .icon {
          font-size: 20px;
          &::before {
            margin-left: 0.155em;
          }
        }
      }
    }
  }

  //dropdown li hover colors
  .categories {
    .bg-color--light-blue + a:hover {
      --section-title-hover-color: @abbott-light-blue !important;
    }

    .box.bg-color--medium-green + a:hover {
      --section-title-hover-color: @abbott-medium-green !important;
    }

    .box.bg-color--red + a:hover {
      --section-title-hover-color: @abbott-orange !important;
    }

    .box.bg-color--gold + a:hover {
      --section-title-hover-color: @abbott-dark-orange !important;
    }

    .box.bg-color--medium-blue + a:hover {
      --section-title-hover-color: @abbott-medium-blue !important;
    }

    .box.bg-color--magenta + a:hover {
      --section-title-hover-color: @abbott-fuscia !important;
    }

    .box.bg-color--mint + a:hover {
      --section-title-hover-color: @abbott-mint !important;
    }

    .box.bg-color--purple + a:hover {
      --section-title-hover-color: @abbott-dark-fuscia !important;
    }
  }

  clear: both;
  display: block;
  min-height: 80px;
  margin: 0 auto;
  position: relative;
  width: 98%;
  z-index: 1;

  @media @md-up {
    margin: 0 auto;
    width: 100%;
  }

  .section-new-container {
    --section-bg-height: 360px;
    z-index: 1;

    @media @md-down {
      --section-bg-height: 260px;
      width: 100%;
    }

    @media @lg-only {
      --section-bg-height: 245px;
    }

    .section-content {
      bottom: 15px;
      color: @white;
      line-height: 1.3;
      position: absolute;
      margin: 0 0 0 13px;
      width: 70%;
      z-index: 1;

      & * {
        color: @black;
      }

      @media @md-down {
        margin-left: 7px;
        width: 96%;

        & * {
          margin: 0;
        }
      }
    }

    .media {
      left: 0;
      height: 100%;
      margin: 0 auto;
      position: absolute;
      top: -15px;
      width: 100%;
      z-index: 0;

      .media-image {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.section-title-container {
  clear: both;
  left: 0;
  margin: 15px auto;
  max-width: 350px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
  z-index: 1;

  &.section-bg-variation {
    pointer-events: none;

    &.mob-section-title-center.section-title-container {
      @media @md-down {
        bottom: 50%;
        margin: 0 auto;
      }
    }

    &.mob-section-title-top.section-title-container {
      @media @md-down {
        bottom: unset;
        margin: 0 auto;
      }
    }
  }

  .dropdown-menu {
    background-color: @white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    display: none;
    float: left;
    left: 0;
    list-style: none;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    position: absolute;
    padding: 0.5rem 0;
    text-align: left;
    top: 100%;
    z-index: 1000;
  }

  .section-title {
    border-radius: 10px 0;
    background: 0;
    border: 1px solid var(--section-title-color);
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 14px 0 8px;
    text-transform: uppercase;
    z-index: 11;

    & * {
      color: var(--section-title-color);
      display: inline-block;
      margin: 0 !important;
      word-wrap: break-word;
    }

    //  icon styles
    .icon.icon-caret-down {
      &:before {
        border-top: 0.33em solid;
        border-right: 0.33em solid transparent;
        border-bottom: 0;
        border-left: 0.33em solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.2em;
        width: 0;
      }
    }

    .icon.icon-caret-up {
      &:before {
        border-right: 0.33em solid transparent;
        border-left: 0.33em solid transparent;
        border-top: 0;
        border-bottom: 0.33em solid;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.2em;
        width: 0;
      }
    }
  }

  .category-name {
    //title inside the border colors
    &.section-title-color--yellow {
      --section-title-color: @abbott-yellow;
    }

    &.section-title-color--green {
      --section-title-color: @abbott-green;
    }

    &.section-title-color--fuscia {
      --section-title-color: @abbott-fuscia;
    }

    &.section-title-color--orange {
      --section-title-color: @abbott-orange;
    }

    &.section-title-color--light-gray {
      --section-title-color: @abbott-light-gray;
    }

    &.section-title-color--primary-blue {
      --section-title-color: @abbott-primary-blue;
    }

    &.section-title-color--mint {
      --section-title-color: @abbott-mint;
    }

    &.section-title-color--black {
      --section-title-color: @black;
    }

    &.section-title-color--dark-green {
      --section-title-color: @abbott-dark-green;
    }

    &.section-title-color--cyan {
      --section-title-color: @abbott-cyan;
    }

    &.section-title-color--white {
      --section-title-color: @white;
    }

    //to display the ul
    &.open {
      .categories {
        display: block;
      }
    }

    //styles for left and right border line
    &:before {
      content: "";
      border-top: 1px solid var(--section-title-color);
      display: inline-block;
      bottom: 0;
      height: 0;
      margin: auto;
      position: absolute;
      right: 100%;
      top: 0;
      width: 50%;

      @media @md-down {
        width: 45%;
      }
    }

    &:after {
      content: "";
      border-top: 1px solid var(--section-title-color);
      bottom: 0;
      display: inline-block;
      height: 0;
      left: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      width: 50%;

      @media @md-down {
        width: 45%;
      }
    }
  }

  .categories {
    border: 1px solid @abbott-gray;
    border-radius: 4px;
    background-color: @abbott-hubsection-bg-color;
    box-shadow: 0 0 10px 0 rgba(1, 1, 1, 0.33);
    display: none;
    max-width: 350px;
    padding: 1.25em;
    width: 100%;
    z-index: 1;

    li {
      align-items: baseline;
      display: flex;
    }

    //li box styles
    .box {
      height: 10px;
      width: 10px;
    }

    .category {
      background-color: transparent;
      cursor: pointer;
      --section-title-hover-color: @abbott-dark-charcoal;
      line-height: 2.154;
      padding: 0 0 0 10px;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media @xl-only, @lg-only {
  .section-title-container {
    margin: 30px auto;
    width: 100%;

    .category-name {
      &:before {
        width: 20%;
      }

      &:after {
        width: 20%;
      }
    }
  }
}

//for background img variation ipad view increasing the title line widths
.section-bg-variation {
  @media @xl-only {
    .category-name {
      &:before,
      &:after {
        width: 45% !important;
      }
    }
  }

  @media @lg-only {
    width: 255px;

    .category-name {
      &:before,
      &:after {
        width: 70%;
      }
    }
  }
}

@media @md-down {
  .section-title-container {
    max-width: 161px;

    .section-title {
      line-height: 17px;
      padding: 8px 0 4px;
    }

    .category-name {
      &:before {
        width: 45%;
      }

      &:after {
        width: 45%;
      }
    }

    .categories {
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      white-space: nowrap;
    }
  }
}
