.tagbutton-corp-tag {
  .getMore {
    font-size: @font-size-base;
    font-family: @font-brandon-grotesque-bold;
    color: @abbott-gray;
    text-transform: uppercase;
    letter-spacing: 0.094em;
  }
  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid @abbott-pantone-cool-grey;
    padding-top: 10px;
    font-size: @font-size-14;
    font-family: @font-brandon-grotesque-medium;
    color: @abbott-gray;
    a.btn:hover {
      background-color: @abbott-primary-blue;
      box-shadow: none;
      color: @white;
    }
    a.btn {
      color: @abbott-gray;
      padding: 5px 10px;
      max-height: 32px;
      border: 1px solid @abbott-primary-blue;
      border-radius: 2px;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: all 0.2s ease;
      span {
        font-size: @font-size-14;
        font-family: @font-brandon-grotesque-medium;
      }
    }
  }
}

.tagbutton {
  &.tagbutton-corp-tag {
    margin-bottom: 3.5rem !important;
  }
}
