.a-button {
    --button-color: var(--primary-color);
    --button-color-hover: var(--white-color);
    --button-font-size: #{$h4-font-size};
    --button-line-height: 20px;
    --button-font-size-sm: 16px;
    --button-line-height-sm: 18px;
    --button-padding: 13px 32px;
    --button-padding-md: 12px 24px;
    --button-padding-sm: 7px 16px;
    --button-border-radius: 4px;
    --button-border: 1px solid transparent;
    --button-box-shadow: 0 1px 12px 0 rgba(0,0,0,0.66);
    --button-disabled-bg-color: var(--gray-darker-color);
    --button-disabled-color: var(--white-color);
    --button-icon-size: 18px;
    --button-icon-size-lg: 16px;
    --button-icon-size-sm: 14px;
    --button-icon-margin-left: 10px;
    --button-icon-margin-right: 10px;

    --button-primary-bg: var(--primary-color);
    --button-primary-bg-pressed: var(--primary-110-color);
    --button-primary-color: var(--white-color);
    --button-primary-bg-hover: var(--primary-110-color);
    --button-primary-bg-focus: var(--primary-110-color);
    --button-primary-box-shadow-focus: 0 0 0 1px var(--black-color);
    --button-primary-boder-focus: 2px solid var(--white-color);

    --button-primary-v1-bg: var(--secondary-color);
    --button-primary-v1-bg-pressed: var(--secondary-110-color);
    --button-primary-v1-color: var(--primary-color);
    --button-primary-v1-color-pressed: var(--primary-color);
    --button-primary-v1-bg-hover: var(--secondary-110-color);
    --button-primary-v1-color-hover: var(--white-color);
    --button-primary-v1-bg-focus: var(--secondary-110-color);
    --button-primary-v1-color-focus: var(--white-color);
    --button-primary-v1-box-shadow-focus: 0 0 0 1px var(--black-color);
    --button-primary-v1-border-focus: 2px solid var(--white-color);
    --button-primary-v1-border-pressed: 2px solid var(--white-color);

    --button-primary-v2-bg: var(--white-color);
    --button-primary-v2-bg-pressed: var(--white-color);
    --button-primary-v2-color: var(--primary-color);

    --button-secondary-border: 1px solid var(--primary-color);
    --button-secondary-bg: var(--white-color);
    --button-secondary-bg-hover: var(--primary-color);
    --button-secondary-bg-pressed: var(--primary-color);
    --button-secondary-color: var(--primary-color);
    --button-secondary-color-hover: var(--white-color);
    --button-secondary-bg-focus: var(--secondary-110-color);
    --button-secondary-box-shadow-focus: 0 0 0 1px var(--black-color);
    --button-secondary-boder-focus: 2px solid var(--white-color);
    --button-secondary-color-pressed: var(--white-color);

    --button-secondary-v1-border: 1px solid var(--white-color);
    --button-secondary-v1-bg: transparent;
    --button-secondary-v1-bg-hover: var(--white-color);
    --button-secondary-v1-bg-pressed: var(--white-color);
    --button-secondary-v1-color: var(--gray-darker-color);
    --button-secondary-v1-color-hover: var(--white-color);
    --button-secondary-v1-bg-focus: var(--secondary-110-color);
    --button-secondary-v1-box-shadow-focus: 0 0 0 1px var(--black-color);
    --button-secondary-v1-border-focus: 2px solid var(--white-color);

    --button-tertiary-bg: var(--white-color);
    --button-tertiary-bg-hover: #{$color-tertiary};
    --button-tertiary-bg-pressed: #{$color-tertiary-pressed};
    --button-tertiary-color: var(--primary-color);
    --button-tertiary-color-hover: var(--primary-color);
    --button-tertiary-boder-focus: 1px solid var(--black-color);
    --button-tertiary-boder-radius-focus: 6px;
    --button-tertiary-color-focus: #{$color-tertiary-pressed};
    --button-tertiary-color-active: #{$color-tertiary-pressed};

    --button-danger-bg: var(--danger-color);
    --button-danger-bg-pressed: var(--danger-110-color);
    --button-danger-color: var(--white-color);
    --button-danger-bg-hover: var(--danger-110-color);
    --button-danger-color-focus: var(--white-color);
    --button-danger-box-shadow-focus: 0 0 0 1px var(--white-color);
    --button-danger-border-focus: 2px solid var(--white-color);
    --button-danger-color-active: var(--white-color);
    --button-danger-bg-active: var(--danger-110-color);

    --button-outline-bg: var(--white-color);
    --button-outline-color: var(--primary-color);
    --button-outline-border-color: var(--primary-color);

    --button-spinner-fg-color: var(--white-color);
}
