//Container
.a-container {
    --container-light-bg: #{$color-white};
    --container-dark-bg: #{$color-dark-blue};
    --container-secondary-bg: #{$color-yellow};
    --container-margin-top: #{$spacers-12};
    --container-margin-bottom: #{$spacers-12};
    --container-padding-top: #{$spacers-24};
    --container-padding-bottom: #{$spacers-24};
    --container-dark-color: #{$color-black};
    --container-padding-top-mobile: #{$spacers-02};
    --container-padding-bottom-mobile: #{$spacers-02};
    --container-padding-left: #{$spacers-3};
    --container-padding-right: #{$spacers-3};
    --container-max-width: 100%;
    --container-sm-width: #{$container-sm-max-width};
    --container-md-width: #{$container-md-max-width};
    --container-lg-width: #{$container-lg-max-width};
    --container-xl-width: #{$container-xl-max-width};

    --container-small-spacing-margin-top: #{$spacers-24};
    --container-small-spacing-margin-bottom: #{$spacers-24};
    --container-small-spacing-lg-margin-top: #{$spacers-8};
    --container-small-spacing-lg-margin-bottom: #{$spacers-11};
    --container-small-spacing-title-margin-bottom: #{$spacers-04};
    --container-small-spacing-text-lg-font-size: #{$font-size-20};
}