//Features Card
.o-features-card {
    --feature-card-margin: #{$spacers-3};
    --feature-card-title-font-size: #{$h1-font-size};
    --feature-card-title-line-height: #{$h1-line-height};
    --feature-card-number-font: #{$base-font-family};
    --feature-card-number-color: var(--primary-color);
    --feature-card-title-color: var(--black-color);
    --feature-card-image-min-height: 80px;
    --feature-card-image-max-height: 160px;
    --feature-card-para-font-size: #{$font-size-14};
    --feature-card-para-line-height: #{$h5-line-height};
    --feature-card-para-color: var(--gray-darker-color);

    // features-card-faq variables
    --feature-card-faq-height: 160px;
    --feature-card-faq-width: 154px;
    --feature-card-faq-sm-width: 200px;
    --feature-card-faq-background: #{$color-graywhite};
    --feature-card-faq-box-shadow: 0 0 2px 0 var(--gray-lighter-color);
    --feature-card-faq-container-padding: 0;
    --feature-card-faq-padding: #{$spacers-03};
    --feature-card-faq-title-color: var(--gray-darker-color);
    --feature-card-faq-title-hover-color: var(--black-color);
    --feature-card-faq-title-hover-font: 700;
    --feature-card-faq-background-hover: var(--white-color);
    --feature-card-faq-title-margin-top: #{$spacers-01};
    --feature-card-faq-img-max-height: 82px;

    --feature-card-with-shadow-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    --feature-card-with-shadow-block-margin-bottom: #{$spacers-8};
    --feature-card-with-shadow-block-background: var(--white-color);
    --feature-card-with-shadow-block-border-radius: 4px;

    --feature-card-with-shadow-description-padding-left-right: #{$spacers-012};
    --feature-card-with-shadow-description-padding-bottom: #{$spacers-1};
    --feature-card-with-shadow-description-color: var(--black-color);
}
