.m-imagewithanimation {
    --imagewithanimation-icon-color: #{$color-purple};
    --imagewithanimation-icon-size: #{$icon-size-sm};
    --imagewithanimation-button-bg-color: #{$white};
    --imagewithanimation-button-circle-size: #{$icon-size-xl};
    
}