:root {
    --a-pin-icon-popup-store-font-size: #{$h5-font-size};
    --a-pin-icon-popup-store-line-height: $h5-line-height;
    --a-pin-icon-popup-store-text-color: var(--gray-darkest-color);
    --a-pin-icon-popup-getdirection-font-size: #{$font-size-14};
    --a-pin-icon-popup-getdirection-line-height: #{$h5-line-height};
    --a-pin-icon-popup-getdirection-text-color: var(--primary-color);
    --a-pin-icon-popup-miles-font-size: #{$font-size-14};
    --a-pin-icon-popup-miles-line-height: #{$h5-line-height};
    --a-pin-icon-popup-miles-text-color: var(--gray-darkest-color);
    --a-pin-icon-popup-pin-icon-bg-color: var(--primary-color);
    --a-pin-icon-popup-pin-icon-text-color: var(--white-color);
}
