:root{
  --rte-font-12-size: #{$h6-font-size};
  --rte-font-12-line-height: #{$h6-line-height};
  --rte-font-14-size: #{$font-size-14};
  --rte-font-14-line-height: #{$h5-line-height};
  --rte-color: var(--gray-darker-color);
  
  --rte-text-letter-spacing: #{$text-letter-spacing-075};

  --rte-xxxl-font-size: #{$h1-font-size};
  --rte-xxxl-md-font-size: #{$font-size-54};
  --rte-xxxl-sm-font-size: #{$h1-hero-font-size};
  --rte-xxxl-line-height: #{$line-height-110};

  --rte-xxl-font-size: #{$font-size-46};
  --rte-xxl-md-font-size: #{$font-size-40};
  --rte-xxl-sm-font-size: #{$font-size-36};
  --rte-xxl-line-height: #{$line-height-120};

  --rte-xl-font-size: #{$font-size-32};
  --rte-xl-md-font-size: #{$font-size-28};
  --rte-xl-sm-font-size: #{$h3-font-size};
  --rte-xl-line-height: #{$line-height-120};

  --rte-large-font-size: #{$h3-font-size};
  --rte-large-md-font-size: #{$font-size-22};
  --rte-large-sm-font-size: #{$font-size-20};
  --rte-large-line-height: #{$line-height-120};

  --rte-medium-font-size: #{$h4-font-size};
  --rte-medium-md-font-size: #{$h5-font-size};
  --rte-medium-sm-font-size: #{$font-size-14};
  --rte-medium-line-height: #{$line-height-125};

  --rte-small-font-size: #{$font-size-14};
  --rte-small-md-font-size: #{$h6-font-size};
  --rte-small-sm-font-size: #{$h6-font-size};
  --rte-small-line-height: #{$line-height-130};

  --rte-xs-font-size: #{$h6-font-size};
  --rte-xs-line-height: #{$line-height-130};

  --rte-body-large-font-size: #{$font-size-22};
  --rte-body-large-line-height: #{$line-height-30};

  --rte-body-default-font-size: #{$font-size-18};
  --rte-body-default-line-height: #{$h4-line-height};

  --rte-body-small-font-size: #{$font-size-14};
  --rte-body-small-line-height: #{$h6-line-height};

  --rte-caption-title-font-size: #{$font-size-22};
  --rte-caption-title-line-height: #{$line-height-26};

  --rte-caption-font-size: #{$font-size-18};
  --rte-caption-line-height: #{$h4-line-height};

  --rte-text-upper-case: #{$text-transform-uppercase};
  --rte-text-lower-case: #{$text-transform-lowercase};
  --rte-text-capitalize: #{$text-transform-capitalize};

}
