@import "../global/media-queries.less";
@import "../global/variables.less";

.header {
    --header-v2-search-overlay-bg:#0000007a;
    --header-v2-utility-top-bg-desktop: @color-cloudy-grey;
    --header-v2-main-bg-desktop:  @color-black-light;
    --header-v2-utility-bottom-bg-desktop: @color-Light-Orange;
    --header-v2-utility-bottom-bg: @color-cloudy-grey;
    --mega-menu-icon-color: @color-white;
    --header-v2-icon-font-size: @spacer-13;


  .o-header-v2-global {
      .o-header-v2-section.container{
			@media @xl-up{
                padding: 0 40px;
                max-width: 1280px !important;                              
            }

        }
      .o-header-v2-global__sticky-section{
           .o-header-v2-global__section--main{
                .o-header-v2-section--alignGroupsBetween{
                    @media @lg-up {
                        padding:@spacer-16 0;
                    }
                    @media @lg-down {
                        padding: @spacer-20 0;
                        background-color: @color-black-light!important;
                    }
                    .o-header-v2-section.container{
                        .group{
                            .o-header-v2-group{   
                                .text{
                                    @media @lg-down{
                                        margin-right: @spacer-10;
                                    }
                                    .cmp-text{
                                        p{
                                            font-size:	@spacer-16;
                                            line-height: @spacer-24;
                                            color: @color-white;
                                            margin-bottom: 0;
                                            font-family: @brandon-black;
                                            font-weight: 700;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .o-header-v2-global__section--utility-bottom{
                background-color: @color-Light-Orange;
                @media @lg-down{
                    background-color:  @color-cloudy-grey;
                }
                .o-header-v2-section{                   
                    .group:nth-child(1){
                        .o-header-v2-group{
                            @media @lg-up{
                                margin-left: calc(-1.2vw) !important;
                            }
                            @media (min-width: 1457px) and (max-width: 1920px){
                                margin-left: calc(-0.7vw) !important;
                            }
                        }   
                    }
                    .group{
                        .o-header-v2-group{
                            .headersearch{
                                .a-search {
                                    border: 1px solid @color-black;
                                    padding: 2px 5px;
                                    border-top-left-radius: 3px;
                                    border-bottom-left-radius: 3px;
                                    @media @lg-down{
                                        border: none;
                                    }
                                    @media @lg-up{
                                        width: 210px;
                                        height: @spacer-32;
                                        padding-top: @spacer-4; 
                                        background-color: @color-white;                               }
                                    &--icon-left{
                                        @media @lg-down{
                                            color: @color-white;
                                            padding-top: 0;
                                        }
                                        @media @lg-up{
                                            order: 2;
                                        }
                                        padding-top: 2px;
                                        .abt-icon-search{
                                            @media @lg-up{
                                                color: @color-cloudy-grey;
                                            }
                                        }
                                    }
                                    &__input{
                                        &-placeholder{
                                            color: @color-cloudy-grey;
                                            font-size: @spacer-16;
                                            font-family: @brandon-medium;
                                            @media @lg-down{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .a-search.open{
                                    @media @lg-up{
                                        top: @spacer-10;
                                        padding: 0;
                                        width: 100%;
                                    }
                                    @media @lg-down{
                                        padding: 0 @spacer-15;
                                        top: 3px;
                                    }
                                    form{
                                        padding: @spacer-5 @spacer-10;
                                        .a-search--icon-left{
                                            @media @lg-down{
                                                color: @color-black;  
                                            }
                                            @media @lg-up{
                                                order: unset;
                                                padding-right: 10px;
                                            }
                                        }
                                        .a-search__input{
                                            font-family: @brandon-regular;
                                            text-transform: uppercase;
                                            @media @lg-down{
                                                width: 90% !important;
                                            }
                                            @media @sm-down{
                                                width: 80% !important;
                                            }
                                            &::placeholder{
                                                color: @color-white;
                                            }
                                        }
                                    }
                                }
                            }
                            .button{
                                border: 1px solid @color-black;
                                padding: 3px @spacer-5 0px @spacer-5;
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                                height: @spacer-32;
                                border-left: none;
                                @media @lg-up{
                                    background-color: @color-white;
                                }
                                img{
                                    margin-top: -3px;
                                    width: 15px;
                                }
                                @media @lg-down{
                                    border: none;
                                }
                            }
                            .megamenu {  
                                .m-mega-menu__mobile{
                                    box-shadow: none;
                                    .navbar {
                                        padding: 0;
                                        @media @lg-down {
                                            background-color: @color-cloudy-grey;
                                            padding-left: 0;
                                            padding-right: @spacer-30;
                                        }
                                        .navbar-toggler{
                                            color:@color-white;
                                            @media @lg-down {
                                                display: flex;
                                                align-items: center;
                                                &::before{
                                                    color: @color-white;
                                                }
                                                .abt-icon-hamburger{
                                                    color: @color-white;
                                                    font-size: @spacer-16;
                                                }
                                            }
                                            @media @sm-down{
                                                padding-left: 0;
                                            }
                                        }
                                        @media @lg-down {
                                            #navbarNavAltMarkup {
                                                position: fixed;
                                                right: 0;
                                                top: @spacer-64;
                                                left: auto;
                                                width: 300px;
                                                height: @full-width;
                                                background-color: @color-black-light;
                                            }
                                        }
                                        .navbar-collapse {
                                            @media @xl-down {
                                                left: @spacer-50;
                                                margin-left: 0;
                                                overflow-y: auto;                                                
                                            }
                                            @media @lg-only{
                                                width: 350px !important;
                                            }
                                            .navbar-collapse-wrapper {
                                                @media @lg-down {
                                                    padding-right: 0;
                                                    overflow: hidden;
                                                    }
                                                .navbar-nav {
                                                    padding-right: @spacer-11; 
                                                    li {
                                                            @media @lg-down{
                                                                padding: 0 !important;
                                                            }
                                                            &:hover {
                                                                    @media @lg-up{
                                                                        .nav-item{
                                                                            color: @color-white;
                                                                        }
                                                                    }                                                                    
                                                                    @media @lg-down{
                                                                        background: none;
                                                                    }
                                                            }
                                                            &.active{
                                                                color: @color-crystal-blue; 
                                                            }
                                                            &::before{
                                                                @media @lg-down{
                                                                    background: none;
                                                                }
                                                            }
                                                            &:nth-child(4){
                                                                &:hover{
                                                                    @media @lg-up{
                                                                        background-color: @color-dark-gray; 
                                                                        .nav-item{
                                                                            color: #fff;
                                                                        }
                                                                    }
                                                                }                                                                
                                                            }
                                                            .m-mega-menu__list-var {
                                                                box-shadow: none;
                                                                position: fixed;
                                                                width: 100%;
                                                                top: auto;
                                                                margin-top: @spacer-10;
                                                                .m-mega-menu__list-var-wrapper{
                                                                    height: auto;
                                                                    background-color: @color-dark-gray;
                                                                    width: auto;
                                                                    margin: 0 auto;
                                                                    padding: @spacer-13 @spacer-16 !important;
                                                                    .m-mega-menu__content{                                                                       
                                                                        margin: 0 auto;
                                                                        width: 1200px;
                                                                        display: inline-block !important;
                                                                        background-color: @color-dark-gray;
                                                                        z-index: 1;                                                                        
                                                                        .m-mega-menu__sub-list{
                                                                            min-height: auto;
                                                                            max-width: fit-content;
                                                                            min-width: fit-content;
                                                                            margin-right: @spacer-30;
                                                                            display: inline-block;
                                                                            a{
                                                                                padding-bottom: 0;
                                                                                h6{
                                                                                    color: @color-black-light;
                                                                                    font-size: 0.91875rem;
                                                                                    text-decoration: none;
                                                                                    font-family: @brandon-regular;
                                                                                    font-weight: normal;
                                                                                    padding-left: 0;
                                                                                    &:hover{
                                                                                        color:@color-white;
                                                                                    }
                                                                                } 
                                                                            } 
                                                                            .m-mega-menu__list-var-title{
                                                                                padding-top: 0;
                                                                                .a-link{
                                                                                    background: none;
                                                                                    padding-bottom: 0;
                                                                                    a{
                                                                                        &:hover{
                                                                                            color: @color-crystal-blue;
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }                             
                                                                        }
                                                                    }                        
                                                                }
                                                                @media @xl-only {
                                                                    margin-left: calc(-0.1vw) !important;
                                                                }
                                                            }
                                                            a {
                                                                font-family: @brandon-regular;
                                                                font-size: 0.91875rem;
                                                                color: @color-black-light;
                                                                font-weight: normal;
                                                                padding: 0;
                                                                text-transform: uppercase;
                                                                letter-spacing: 0;
                                                                @media @lg-down{
                                                                    font-size: @spacer;
                                                                    font-weight: normal;
                                                                    line-height: @spacer-22;
                                                                    color: @color-white;
                                                                }
                                                                @media @xl-down {
                                                                    padding-left: 0;
                                                                }
                                                                .active{
                                                                    @media @xl-down {
                                                                        color: @color-crystal-blue;
                                                                    }
                                                                }
                                                            }
                                                    }
                                                    .m-mega-menu__mobile-item-wrapper {
                                                        padding: 0;
                                                        border-bottom: 0;
                                                        min-width: fit-content;
                                                        margin-right: 0;
                                                        @media @xl-up{
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                            height: 45px;
                                                        }                                                        
                                                        .show-version-2{ 
                                                            width: fit-content;
                                                            padding:@spacer-6 @spacer-17;
                                                            @media @lg-down{
                                                                width: 100%;
                                                                padding: 36px @spacer-17 0 @spacer-17;
                                                            }
                                                            @media @xl-up{
                                                                padding: .375rem .70rem;
                                                            }
                                                        } 
                                                        .m-mega-menu__mobile-header.active, .m-mega-menu__mobile-item-link.active{
                                                            @media @lg-down{
                                                                color: @color-white !important;
                                                                font-weight: bold;
                                                            }
                                                        }
                                                        .m-mega-menu__mobile-header{
                                                            &::after{
                                                                display: none;
                                                            }                                                            
                                                        }                                                                                                              
                                                        .m-mega-menu__item{                                                           
                                                            .m-mega-menu__mobile-products{
                                                                .m-mega-menu__mobile-item{
                                                                    a{
                                                                        @media @lg-down {
                                                                            padding: 36px 0 0 0;
                                                                            color: #888b8d !important;
                                                                            font-weight: 700;
                                                                        }

                                                                    }
                                                                }
                                                            }
                                                        }
                                                        .navigation{
                                                            .show-version-3{
                                                                padding:@spacer-12 @spacer-17;  
                                                                .m-mega-menu__mobile-item{
                                                                    a{
                                                                        color: @color-white;
                                                                        &::after{
                                                                            display: none;
                                                                        }
                                                                    }
                                                                }                                                                                                                       
                                                            }
                                                            
                                                        }  
                                                        .devicespecific{
                                                            .link{
                                                                padding: @spacer-6 @spacer-16;
                                                                .a-link{
                                                                    .a-link__inner-text{
                                                                        color: @color-Metallic-Silver;
                                                                        &:hover{
                                                                            color: @color-crystal-blue;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            .socialmedia{
                                                                .m-social-media--icons{
                                                                    margin-left: @spacer-16;
                                                                    margin-top: @spacer-20;
                                                                    li{
                                                                        margin-right: 0px;
                                                                        .abt-icon{
                                                                            color: @color-white;
                                                                            font-size: @spacer-20;
                                                                        }
                                                                    }                                        
                                                                }
                                                                .m-social-media {
                                                                    @media @lg-down {
                                                                        justify-content: flex-start;
                                                                        margin-top: 1.5rem;
                                                                    }
                                                                }
                                                            }
                                                            &:first-child{
                                                                margin-top: @spacer-30;
                                                            }
                                                        }                                                      
                                                    }
                                                }

                                            }
                                        }
                                    }
                                 }
                            }
                        }
                    }
                }
            }
        }
    }
}
.title-active{
    color: @color-crystal-blue !important;
}

.xf-content-height{
    .root.responsivegrid{
        background-color: #63666a;
    }
    .aem-Grid.aem-Grid--12.aem-Grid--default--12:has(.header){
        max-width: 100%;
    }
}