@import 'media-queries.less';
@import 'variables.less';
.a-title{
  &--title-charcoal{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-charcoal;
    }
  }
  &--title-darkgray{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-drakgray;
    }
  }
  &--title-gold{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-gold;
    }
  }
  &--title-green{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-green;
    }
  }
  &--title-lightgray{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-lightgray;
    }
  }
  &--title-magento{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-magento;
    }
  }
  &--title-medium-green{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-mediumgreen;
    }
  }
  &--title-purple{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-purple;
    }
  }
  &--title-red{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-red;
    }
  }
  &--title-white{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-white;
    }
  }
  &--title-yellow{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-yellow;
    }
  }
  &--title-medium-blue{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-mediumblue;
    }
  }
  &--title-cyan{
    h1, h2, h3, h4, h5, h6{
      color: @abbott-title-cyan;
    }
  }
  &--sectiontitle-dark{
    margin: 0px important;
  .cmp-title__text {
    width: 350px;
    background: #222731;
    color:#fff;
    font-size:18px;
    padding: 6px 10px 2px 10px;
    font-family:@brandon-bold;
    font-weight: 300;
    @media @lg-down{
      width:340px;
    }
    @media @md-down{
      width:240px;
    }
    &::before,
    &::after {
      width: 90% ;
        border-top:2px solid #222731;
        @media @lg-down{
          width: 65%;
        }
        @media @md-down{
          width:28%;
        }
      }
    }
  }
}    
