<template data-sly-template.tag="${@ tagKey}"
	      data-sly-use.tagFetcher="${'com.abbott.aem.cloud.platform.core.models.I18nFetcher' @ tagKey = tagKey}">
	${tagFetcher.title}
</template>

<template data-sly-template.tagLocale="${@ tagKey, language}"
	      data-sly-use.tagFetcher="${'com.abbott.aem.cloud.platform.core.models.I18nFetcher' @ tagKey = tagKey, language = language}">
	${tagFetcher.title}
</template>

<template data-sly-template.tagLocale="${@ tagKey, language, sitename}"
	      data-sly-use.tagFetcher="${'com.abbott.aem.cloud.platform.core.models.I18nFetcher' @ tagKey = tagKey, language = language, sitename = sitename}">
	${tagFetcher.title}
</template>