
.cmp-tabs {
	.cmp-tabs__tablist {
		border-bottom: 1px solid @color-fsl-grey-2;
	}

	li:first-child .cmp-tabs__tablist .cmp-tabs__tab {
		border-right: none;
	}

	.cmp-tabs__tablist .cmp-tabs__tab {
		margin: 0;
		padding: 1.4rem 1rem;
		font-weight: @weight-bold;
		text-align: center;
    border-right: 1px solid @color-fsl-grey-2;
    border-top: 1px solid @color-fsl-grey-2;
		font-size: 0.875rem;
    color: @color-fsl-grey-3;
    letter-spacing: 1.5px;
    line-height: 15px;
	}
}





.adc-mbl-search{
  padding: 30px;
  background-color: @color-fsl-white;
  box-shadow: 0px 5px 10px #ddd;
  position: relative;
  display: none;
  @media @mobile-break {
    padding: 28px 25px;
  }
  @media @max-tab {
    display: block;
  }
  &__input{
    border: none;
    outline: none;
    padding-left: 0;
    padding-right: 20px;
  }
  .adc-icon--close-icon{
    position: absolute;
    right: 30px;
    top:35px;
    padding: 5px;
  }
}

.adc-search-header-dropdown{
  width: 540px;
  right: 0;
  left: auto;
  .adc-search-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @color-fsl-grey-2;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  @media @max-tab {
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 0;
  }
  &__show-all-btn{
    margin-top: 50px;
    @media @max-tab {
      margin-top: 30px;
    }
    @media @mobile-break {
      justify-content: center;
    }
  }
}
