
.adc-cartlist {
	&__margin{
		@media @mobile-break {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	&__quantity-message{
		@media @mobile-break{
		    margin-top: -35px;
		}
	}
	&__product-quantity{
		.font-size-rems(10);
		line-height: 13px;
	}
	&__qty-heading{
		font-weight: @weight-medium-bold;
	}

	&__cart-price{
		@media @min-tab {
			margin-top: -16px;	
		}
		@media @min-desktop {
			margin-left: 24px;
		}
		@media @tab-only {
			margin-right: 60px;
		}
	}

	&__delete-text{
		@media @mobile-break {
			position:relative
		}
	}
	&__delete-icon{
		@media @mobile-break {
			position:absolute;
			top: 8px;
			right: 6px;
		}
	}
	.adc-icon--large-danger{
		width: 26px;
		height:26px;
	}
	.adc-button {
		width: 100%;
		margin: 5px 0px;
	}
	&__heading {
		padding: 20px 0 0;

		&--title {
			.font-size-rems(36);
			align-items: center;
			display: flex;
			justify-content: center;
			font-weight: bold;

			.adc-icon {
				margin-left: 10px;
			}

			@media @mobile-break {
				.font-size-rems(28);
				/*.adc-icon {
				  margin-left: auto;
				}*/
			}
		}
	}

	&__subheading {
		.font-size-rems(16);
		font-weight: @weight-medium-bold;
		letter-spacing: 0.3px;
		margin-bottom: 50px;

		&__number {
			.font-size-rems(26);
			letter-spacing: 5px;
			font-weight: @weight-bold ;
		}
	}

	&__remove-list {
		border-left: 1px solid @color-fsl-blue;
		padding-left: 30px;

		&-text {
			.font-size-rems(12);
		}

		@media @mobile-break {
			border: none;
		}
	}

	&__product {
		&-title {
			.font-size-rems(20);
			font-weight: @weight-medium-bold;

			p {
				font-size: 0.7rem;
				font-weight: 500;
			}
		}

		&-measure {
			.font-size-rems(12);
			font-weight: @weight-medium;
		}

		&-link {
			text-decoration: underline;
			color: @color-fsl-blue;
			.font-size-rems(13);
			letter-spacing: 0.2px;
			font-weight: normal;
			display: block;
		}
	}

	&__price {
		.font-size-rems(12);
		font-weight: @weight-medium
	}


	.input-group {
		@media @mobile-break {
			float: right;
			width: auto;
		}

		> .form-control {
			.rect-shape(40px, 5px, @color-fsl-white);
			border: 1px solid @color-fsl-grey-3;
			flex: none;
			.adc-h-margin(7px, 7px);
		}
	}

	&__counter-button {
		.rect-shape(40px, 5px, @color-fsl-white);
		.font-size-rems(35);
		line-height: 0;
		border: 1px solid @color-fsl-blue;
	}

	&__plus-subscription {
		&__title {
			.font-size-rems(16);
			color: @color-fsl-blue;
		}

		&__sub-text {
			.font-size-rems(12);
		}
	}

	&__instruction {
		.font-size-rems(12);

		@media @mobile-break {
			width: 120px;
		}
	}

	&__total {
		.font-size-rems(16);

		&__subtotal {
			.font-size-rems(12);
		}
	}

	&__voucher {
		.font-size-rems(12);
		max-width: 230px;
	}

	&__confirm {
		.button-block {
			@media @mobile-break {
				display: unset;
				width: 39%;
				float: left;
				.adc-margin(10px);
				.adc-padding(10px, 0, 10px, 0);
			}
			@media @desktop-break {
				.adc-padding(10px);
			}
		}
	}
}
.cartList-border{
	border-top: 1px solid @color-fsl-grey-2;
	@media @max-tab {
		&:first-child{
			border-top: 1px solid @color-fsl-grey-2;
			border-bottom: 1px solid @color-fsl-grey-2;
        }
	}
}
.border-cartList{
	border-top: 1px solid @color-fsl-grey-2;
	@media @max-tab {
		&:first-child{
			border-top: 0;
			border-bottom: 0;
        }
	}
}
