
.adc-coupon-code {
	&__title {
		font-weight: @weight-bold;
		border-bottom: 1px solid @color-fsl-grey-2;
		color: @color-fsl-blue;
	}
	&__label {
		.font-size-rems(13);
		line-height: 16px;
		color: @color-fsl-blue;
		margin-left: 15px;
	}
	&__input {
		height: 45px;
		border: 1px solid @color-fsl-grey-3;
	}
	&__line {
		border-bottom: 1px solid @color-fsl-grey-2;
	}
	&__para {
		.font-size-rems(14);
		&--value {
			.font-size-rems(16);
			.adc-h-margin(3px, 3px);
			@media @mobile-break {
				margin-left: 31px;
			}
		}
		&--highlight {
			border-radius: 5px;
			background-color: @color-fsl-green;
			color: @color-fsl-white;
		}
	}
	.adc-modal-delete {
		margin-top: 20%;
	}
	.modal-dialog {
		@media @desktop-break {
			max-width: 100%;
		}
	}
	&__tick {
		width: 52px;
        height: 52px;
        background: no-repeat 50% 50%
	}
}

