
.adc-sticky-addtocart {
	background-color: @color-fsl-blue;
	.adc-button-primary {
		letter-spacing: 1.43px;
		height: 25px;
		width: 50%;
		.font-size-rems(10);
		margin: 5px;
		position: relative;
		border: 1px solid @color-fsl-white;
		@media @mobile-break {
			width: 49%;
			min-height: 25px !important;
			i{
				display: none;
			}
		}
		@media @desktop-break {
			width: 47%;
			margin: 10px;
			min-height: 25px;
		}
	}
	.adc-button-secondary {
		height: 25px;
		width: 50%;
		position: relative;
		border: 1px solid @color-fsl-white;
		.adc-button(@color-fsl-white, @color-fsl-blue, 0.625rem, 900, 1.43px);
		margin: 5px;
		@media @mobile-break {
				width: 49%;
				min-height: 25px !important;
				i{
					display: none;
				}
			}
			@media @desktop-break {
				width: 47%;
				margin: 10px;
				min-height: 25px;
			}
	}
	&__label {
		.font-size-rems(12);
		color: @color-fsl-white;
		@media @mobile-break {
			padding-left: 7%;
		}
		@media @desktop-break {
			padding-left: 6%;
		}
	}
	&__addtocart {
		max-width: 20%;
	}
	&__price-section {
		max-width: 30%;
	}
	&__price {
		.font-size-rems(20);
		color: @color-fsl-white ;
		font-weight: @weight-medium-bold;
		letter-spacing: 0.3px;
		.adc-price-detail {
			&__price, &__checkout, &__currency {
				.font-size-rems(20) !important;
				padding-bottom: 0px;
				margin-right: 2px;
				@media @mobile-break{
					.font-size-rems(16) !important;
				}
			}
			&__price::after {
				content: ",";
			}
		}
		@media @mobile-break {
			float: none;
			.font-size-rems(16);
		}
	}
	&__tax-text {
		width: 42%;
		.font-size-rems(8);
		color: @color-fsl-white ;
		text-align: left;
		word-break: break-word;
		@media @mobile-break {
			width: 100%;
			.font-size-rems(7);
			text-align: right;
		}
		@media @desktop-break {
			padding-left: 5%;
			text-align: left;
		}
	}
	.adc-product-tabtext {
		padding-top: 2%;
		.btn-primary:not(:disabled):not(.active) {
			color: @color-fsl-grey-4;
			background-color: @color-fsl-grey-2 !important;
			border-color: @color-fsl-grey-2;
		}
		.btn-primary:not(:disabled).active {
			color: @color-fsl-black ;
			font-weight: @weight-bold;
			border-color: @color-fsl-white;
			background-color: @color-fsl-white !important;
		}
		&__label {
			color: @color-fsl-black;
			border-color: @color-fsl-grey-3;
			.font-size-rems(11);
			height: 26px;
			width: 44px;
			padding: 4px 3px 4px 3px;
			&:hover {
				color: @color-fsl-black;
			}
		}
		@media @mobile-break {
			padding-left: 7%;
		}
	}
	.adc-icon {
		position: absolute;
		top: 6px;
		left: 8px;
		@media @desktop-break {
			left: 10px;
			top: 0;
		}
	}
	.adc-cart-input {
		padding-left: 12%;
		@media @max-tab {
			padding-left: 0;
		}
		&__cart-button {
			height: 20px !important;
			width: 20px !important;
			color: @color-fsl-white;
			border-radius: 2.5px;
			background: transparent !important;
			border-color: @color-fsl-white;
			.font-size-rems(20) !important;
			border: 0.5px solid @color-fsl-white;
			&--minus {
				padding: 4px 4px 7px 4px;
				@media @max-tab {
					padding: 4px 2px 7px 2px;
				}
			}
			&--plus {
				padding: 4px 4px 5px 4px;
				@media @max-tab {
					padding: 4px 2px 5px 2px;
				}
			}
		}
		&__cart-control {
			height: 20px !important;
			width: 20px !important;
			border-radius: 2.5px;
			border: 0.5px solid @color-fsl-white;
			background: @color-fsl-white !important;
			.font-size-rems(12) !important;
			line-height: 12px;
			margin-top: 1px;
			color: @color-fsl-black;
		}
	}
	.adc-title {
		letter-spacing: 0.3px;
		font-weight: @weight-medium-bold;
		@media @mobile-break {
			.font-size-rems(14) !important;
		}
	}
}

.adc-reader {
	&__measurement {
		width: 27%;
		@media @desktop-break {
			width: 30%;
			position: absolute;
			left: 0;
			top: 100%;
			padding-top: 5px;
		}
		@media @mobile-break {
			width: 50%;
			position: absolute;
			left: 0;
			top: 50%;
			padding-top: 5px;
		}
	}
	&__cart {
		width: 13%;
		@media @mobile-break {
			width: 20%;
			top: 50px;
			position: absolute;
			left: 51%;
			padding-left: 0;
		}
		@media @desktop-break {
			width: 25%;
			padding-top: 5px;
			padding-left: 0;
		}
	}
	&__title {
		width: 40%;
		padding-top: 1%;
		@media @desktop-break {
			width: 45%;
			padding-left: 0;
		}
		@media @mobile-break {
			width: 100%;
			padding-left: 0;
		}
	}
	&__price {
		width: 20%;
		@media @desktop-break {
			width: 30%;
			padding-left: 1%;
		}
		@media @mobile-break {
			width: 30%;
			position: absolute;
			right: 15px;
			top: 45px;
		}
	}
}

.adc-sensor {
	padding-left: 9%;
	padding-right: 12%;
	@media @mobile-break {
		padding-left: 0;
		padding-right: 0;
	}
	&__cart {
		width: 20%;
		@media @mobile-break {
			width: 60%;
			padding: 0;
		}
		@media @desktop-break {
			width: 25%;
			padding-top: 5px;
			padding-left: 2%;
		}
	}
	&__title {
		width: 50%;
		padding-top: 1%;
	}
	&__price {
		width: 30%;
		@media @desktop-break {
			width: 25%;
		}
		@media @mobile-break {
			width: 50%;
		}
	}
	.adc-title {
		@media @mobile-break {
			letter-spacing: 0.1px;
		}
	}
}

.adc-reader-col {
	@media @mobile-break {
		padding-top: 15%;
	}
	@media @desktop-break {
		left: 35%;
	}
}

#stickyAddToCart {
	display: none;
    position: fixed;
    bottom: 0;
	width: 100%;
	max-width: 1440px;
	z-index: 100;
	@media @mobile-break{		
		&.adc-reader{
			min-height: 140px;
		}
	}
}
