.o-search-results-filter
  div[data-is-primary="true"].primaryActive
  .a-checkbox__text
  span {
  display: none;
}
.o-search-results-filter
  div[data-is-primary="true"].primaryActive
  .a-link__text--active
  .a-checkbox__text
  span {
  display: inline-block;
}
.o-search-results-filter .filter-text {
  margin-bottom: 0px;
}
.o-search-results-filter .filter-text h4 {
  font-weight: normal;
}
.o-search-results-filter .o-search-res__no-results {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .o-search-results-filter {
    padding: 0px;
  }
}
.o-search-results-filter hr {
  border-width: var(--search-results-with-filter-border-width);
}
.o-search-results-filter a {
  color: inherit;
  text-decoration: none;
  font-size: var(--search-results-with-filter-font-size);
}
.o-search-results-filter .text-end {
  font-size: var(--search-results-with-filter-text-end-font-size);
  z-index: 9;
}
@media (max-width: 767.98px) {
  .o-search-results-filter .text-end {
    text-align: right;
  }
}
.o-search-results-filter .sort-dropdown {
  position: absolute;
  right: 35px;
}
.o-search-results-filter .dropdown-toggle {
  position: relative;
  left: var(--search-results-with-filter-dropdown-toggle-left);
  font-size: var(--search-results-with-filter-dropdown-toggle-a-font-size);
  border-bottom: var(--search-results-with-filter-border-bottom);
}
.o-search-results-filter .dropdown-toggle span {
  border-bottom: var(
    --search-results-with-filter-dropdown-toggle-border-bottom
  );
}
.o-search-results-filter .dropdown-toggle span .abt-icon {
  font-size: var(--search-results-with-filter-dropdown-toggle-icon-font-size);
  vertical-align: middle;
  padding-left: 7px;
}
@media (max-width: 767.98px) {
  .o-search-results-filter .dropdown-toggle span {
    border-bottom: var(
      --search-results-with-filter-dropdown-toggle-mobile-border-bottom
    );
  }
}
@media (max-width: 991.98px) {
  .o-search-results-filter .dropdown-toggle span {
    border-bottom: var(
      --search-results-with-filter-dropdown-toggle-mobile-border-bottom
    );
  }
}
.o-search-results-filter .dropdown-toggle::after {
  display: none;
}
.o-search-results-filter img {
  cursor: pointer;
}
.o-search-results-filter .dropdown-item:active,
.o-search-results-filter .dropdown-item:hover {
  background-color: var(--search-results-with-filter-dropdown-hover-font-size);
}
.o-search-results-filter .dropdown-menu {
  border: var(--search-results-with-filter-dropdown-menu-border);
  border-radius: 0px;
  z-index: 110;
}
.o-search-results-filter .dropdown-menu li:hover {
  background-color: var(
    --search-results-with-filter-dropdown-menu-li-background-color
  );
}
.o-search-results-filter .dropdown-menu a {
  border-bottom: none;
  padding: 8px;
}
.o-search-results-filter .dropdown-menu a .abt-icon {
  padding-left: 5px;
}
.o-search-results-filter .filter {
  margin-top: -25px;
  z-index: 10;
}
@media (max-width: 767.98px) {
  .o-search-results-filter .filter {
    margin-top: 0px;
  }
}
.o-search-results-filter .filter button {
  margin-bottom: var(--search-results-with-filter-margin-bottom);
  background-color: var(--search-results-with-filter-background-color);
}
.o-search-results-filter .filter button .abt-icon {
  padding-left: var(--search-results-with-filter-button-icon-padding-left);
  font-size: var(--search-results-with-filter-button-icon-font-size);
  vertical-align: middle;
}
@media (max-width: 767.98px) {
  .o-search-results-filter--row {
    padding-right: 0px;
  }
}
@media (max-width: 767.98px) {
  .o-search-results-filter .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .o-search-results-filter .mob-filter {
    padding-left: 0px;
  }
  .o-search-results-filter .mob-filter .abt-icon {
    vertical-align: middle;
    margin-right: 15px;
  }
  .o-search-results-filter .result-counts {
    margin-bottom: 20px;
  }
  .o-search-results-filter .filter-text {
    display: none;
  }
}
.o-search-results-filter .sticky-menu__filter .a-list-result__listview {
  margin-left: 0;
  margin-right: 0;
}
.o-search-results-filter .sticky-menu__filter .d-flex.search-results-container {
  display: none !important;
}
.o-search-results-filter
  .sticky-menu__filter
  .row.o-search-res__container
  > div {
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: block !important;
}
.o-search-results-filter .sticky-menu__filter .m-search-category {
  margin: 0;
}
.o-search-results-filter .sticky-menu__filter .m-search-category__header {
  display: none;
}
.o-search-results-filter .sticky-menu__filter .m-search-category__form {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  padding: 0;
  margin: 10px 0;
}
.o-search-results-filter .sticky-menu__filter .m-search-category__content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.o-search-results-filter
  .sticky-menu__filter
  .m-search-category__content
  .a-link__text {
  font-size: 15px;
}
.o-search-results-filter
  .sticky-menu__filter
  .m-search-category__content
  .a-link__text
  span {
  display: none;
}
.o-search-results-filter
  .sticky-menu__filter
  .m-search-category__content.category-parent
  .a-link__text {
  display: none;
}
.o-search-results-filter
  .sticky-menu__filter
  .m-search-category__content.category-parent
  .a-link__text--active {
  display: block;
}
.o-search-results-filter .sticky-menu__filter .m-search-category__item {
  margin: 0;
  border: 0;
}
.o-search-results-filter .sticky-menu__filter .faq-link .a-link {
  padding: 0 !important;
}
.o-search-results-filter .sticky-menu__filter .faq-link .a-link__text {
  margin-right: 10px;
  color: var(--search-result-with-sticky-link-color) !important;
  font-weight: normal !important;
  cursor: pointer;
}
.o-search-results-filter .sticky-menu__filter .faq-link .a-link__text:hover,
.o-search-results-filter .sticky-menu__filter .faq-link .a-link__text:focus {
  text-decoration: none !important;
  color: var(--search-result-with-sticky-link-color-active) !important;
}
.o-search-results-filter .sticky-menu__filter .faq-link .a-link__text--active {
  color: var(--search-result-with-sticky-facet-link-color-active) !important;
  display: block;
}
.o-search-results-filter
  .sticky-menu__filter
  .faq-link:last-of-type
  .a-link__text {
  margin: 0 !important;
}
.o-search-results-filter
  .sticky-menu__filter
  .stickyMenu
  .faq-link
  .a-link__text--active {
  color: var(--search-result-with-sticky-link-color-active) !important;
}
.o-search-results-filter .sticky-menu__filter .m-link-stack__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.o-search-results-filter .sticky-menu__filter .m-link-stack__title h4 {
  padding-top: 0;
  margin: 0;
  color: var(--search-result-with-sticky-facet-link-color-active);
  font-weight: normal !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-family: var(--search-result-with-sticky-link-font);
  line-height: 24px !important;
}
.o-search-results-filter .sticky-menu__filter .m-link-stack__list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.o-search-results-filter .sticky-menu__filter .m-link-stack__list.d-none {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.o-search-results-filter .sticky-menu__filter .m-link-stack__list a {
  font-size: 16px;
  text-transform: uppercase;
}
.o-search-results-filter .sticky-menu__filter .searchfacet {
  margin: 0;
}
.o-search-results-filter .sticky-menu__filter .filter {
  display: none;
}
.o-search-results-filter
  .sticky-menu__filter
  .o-search-res__results--view.d-flex.flex-wrap.pt-3 {
  padding-top: 0px !important;
}
.o-search-results-filter .sticky-menu__filter .a-card-result__cardrow {
  border: 1px solid var(--search-result-with-sticky-card-border-color);
  padding-bottom: 15px;
}
.o-search-results-filter .sticky-menu__filter .a-card-result__cardrow a {
  color: var(--search-result-with-sticky-link-color);
  font-size: 1rem;
  font-family: var(--search-result-with-sticky-text-font);
  font-weight: normal;
  text-decoration: none;
}
.o-search-results-filter .sticky-menu__filter .a-card-result__cardrow:hover {
  background: var(--search-result-with-sticky-card-border-hover-color);
  cursor: pointer;
}
.o-search-results-filter
  .sticky-menu__filter
  .a-card-result__cardrow:hover
  .a-card-result__title,
.o-search-results-filter .sticky-menu__filter .a-card-result__cardrow:hover a {
  color: var(--search-result-with-sticky-link-color-active);
  text-decoration: none;
}
@media (min-width: 576px) {
  .o-search-results-filter .sticky-menu__filter .a-card-result__cardrow {
    max-width: calc(33.33% - 30px);
    margin: 15px;
  }
}
@media (max-width: 767.98px) {
  .o-search-results-filter .sticky-menu__filter .a-card-result__cardrow {
    margin: 7.5px;
  }
}
.o-search-results-filter .sticky-menu__filter .a-card-result__image {
  margin: 0 -15px;
}
.o-search-results-filter .sticky-menu__filter .a-card-result__title {
  font-size: 1.125rem !important;
  line-height: 24px !important;
  color: var(--search-result-with-sticky-link-color);
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .o-search-results-filter .sticky-menu__filter .a-card-result__title {
    font-size: 1rem !important;
    line-height: 22px !important;
  }
}
.o-search-results-filter .sticky-menu__filter .a-card-result__description {
  color: var(--search-result-with-sticky-facet-link-color-active);
  font-size: 1rem;
  font-family: var(--search-result-with-sticky-text-font);
}
.o-search-results-filter
  .sticky-menu__filter
  .container[data-js-component="search-results-with-filters"] {
  max-width: 100% !important;
  padding: 0 !important;
}
.o-search-results-filter
  .sticky-menu__filter
  .container[data-js-component="search-results-with-filters"]
  .row.o-search-res__container {
  margin: 0;
}
.o-search-results-filter .sticky-menu__filter + .columncontrol {
  padding-top: 15px;
}
.o-search-results-filter .sticky-menu__filter + .columncontrol .container {
  position: relative;
}
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container:before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background: var(--search-result-with-sticky-splitter-color);
  top: 0;
  left: 15px;
}
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background: var(--search-result-with-sticky-splitter-color);
  bottom: 0;
  left: 15px;
}
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container
  #stickyFilterCount {
  margin: 10px 0;
}
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container
  .a-backtotop {
  position: static;
  opacity: 1;
  float: right;
  margin: 10px 0;
}
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container
  .a-backtotop
  .btn {
  color: var(--search-result-with-sticky-link-color);
  padding: 0;
  font-family: var(--search-result-with-sticky-text-font);
  font-weight: normal;
  text-transform: capitalize;
}
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container
  .a-backtotop
  .btn:hover,
.o-search-results-filter
  .sticky-menu__filter
  + .columncontrol
  .container
  .a-backtotop
  .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
