.search {
  padding: 2px 0 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: var(--search-input-color);
}
.search form {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
@media (max-width: 1199.98px) {
  .search {
    left: 0 !important;
  }
}
.search__input {
  background-color: transparent;
  width: 125px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: var(--search-input-font-size);
  line-height: var(--search-input-line-height);
  padding: var(--search-input-padding);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0;
  border-radius: var(--search-input-border-radius);
  outline: none;
  cursor: pointer;
}
.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  display: none;
}
.search__input::-ms-clear,
.search__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.search__input::-webkit-input-placeholder {
  color: var(--search-input-color);
  opacity: 1;
}
.search__input::-moz-placeholder {
  color: var(--search-input-color);
  opacity: 1;
}
.search__input:-ms-input-placeholder {
  color: var(--search-input-color);
  opacity: 1;
}
.search__input::-ms-input-placeholder {
  color: var(--search-input-color);
  opacity: 1;
}
.search__input::placeholder {
  color: var(--search-input-color);
  opacity: 1;
}
@media (max-width: 1199.98px) {
  .search__input {
    width: 34px !important;
  }
}
.search--icon-left {
  position: absolute;
  top: 12px;
  left: 12px;
}
.search--icon-left .abt-icon {
  font-size: var(--search-input-icon-font-size);
}
.search--icon-right {
  display: none;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}
.search--expand {
  display: block;
  z-index: 999;
  left: 0 !important;
}
.search--expand .search__input {
  background-color: var(--search-input-bg);
  width: 100%;
  cursor: text;
}
.search--expand .search__input::-webkit-input-placeholder {
  color: transparent;
  opacity: 1;
}
.search--expand .search__input::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.search--expand .search__input:-ms-input-placeholder {
  color: transparent;
  opacity: 1;
}
.search--expand .search__input::-ms-input-placeholder {
  color: transparent;
  opacity: 1;
}
.search--expand .search__input::placeholder {
  color: transparent;
  opacity: 1;
}
.search--expand .search--icon-left {
  cursor: text;
}
.search--expand .search--icon-right {
  display: block;
  top: 4px;
  padding: 6px;
}
.search--expand .search--icon-right:focus {
  outline: 2px solid;
}
.search--expand .search--icon-right em {
  vertical-align: middle;
}
.search--icon-left {
  left: inherit;
  right: 0;
}
.search--icon-right {
  left: 6px;
  right: inherit;
}
.search__input {
  text-align: right;
}
