<sly data-sly-test="${wcmmode.edit}">
	<p data-sly-unwrap="${properties.title}" data-emptytext="Configure ${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.articleCard="com.abbott.aem.adc.freestylelibrede.models.ArticleCardModel">
<div class="${articleCard.articleClass}">
<div class="container">
	<div class="adc-topics">
		<div class="adc-topics__title">
			<h1 class="adc-title adc-title--blue text-center ">${articleCard.sectionTitle}</h1>
		</div>
		<div data-sly-list="${articleCard.cardList}" class="row">
            <div class="col-lg-4 col-md-6 d-block" >
					<a class="adc-topics__item" href="${item.articleLink}">
					<h6 class="adc-title adc-title--blue">${item.articleTitle}</h6>
					<p class="adc-topics__desc">${item.articleDescription}</p>
					<span class="adc-topics__icon-right">
						<em class="adc-icon adc-icon--md adc-icon--arrow-forth-blue"></em>						
					</span>
					</a>
			</div>
		</div>
	</div>
</div>
</div>
</sly>