//Added css for Card view
.a-card-result {
    color: var(--card-result-text-color);
    border-bottom: var(--card-result-border-bottom);

    &__image {
        margin-bottom: 0px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__cardrow {
        margin: var(--card-result-margin);
        .a-checkbox__custom {
            border-radius: 0px !important;
        }

        &.aboveImage{
            display: flex;
            flex-direction: column;

            .m-search-results {
                &__card-item-detail {
                    &-category-tag {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        &.belowImage{
            display: flex;
            flex-direction: column;

            .m-search-results {
                &__card-item-detail {
                    &-category-tag {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .m-search-results {
            &__card-item-detail {
                &-category-tag {
                    display: flex;
                    justify-content: center;
                    font-family: var(--card-result-font-family);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: var(--white-color);
                    padding: 4px 0;

                    &[data-category-pin="false"]{
                        i {
                            display: none;
                        }
                    }

                    &.none{
                        border-radius: 0;
                    }
                    &.medium{
                        border-radius: 6px;
                    }
                    &.pill{
                        border-radius: 500px;
                    }

                    .abt-icon {
                        font-size: 16px;
                        position: absolute;
                        
                        &.none {
                            display: none;
                        }

                        &.left {
                            padding-left: 5px;
                            left: 0;

                            & + span{
                                &.left{
                                    padding-left: 25px;
                                }
                            }
                        }

                        &.right {
                            padding-right: 5px;
                            right: 0;

                            & + span{
                                &.right{
                                    padding-right: 25px;
                                }
                            }
                        }
                    }

                    span {
                        width: 100%;
                        text-align: center;

                        &.left{
                            text-align: left;
                            padding-left: 5px;
                        }
                        &.right{
                            text-align: right;
                            padding-right: 5px;
                        }
                    }

                    &.regal-blue {
                        background-color: var(--card-result-category-bar-medium-blue);
                    }

                    &.cv-link-blue {
                        background-color: var(--card-result-category-cv-blue);
                    }

                    &.magenta {
                        background-color: var(--card-result-category-magenta);
                    }

                    &.gold {
                        background-color: var(--card-result-category-gold);
                        color: var(--card-result-category-charcoal);
                    }

                    &.purple {
                        background-color: var(--card-result-category-purple);
                    }

                    &.red {
                        background-color: var(--card-result-category-red);
                    }

                    &.shuttle-gray {
                        background-color: var(--card-result-category-dark-gray);
                    }
                }
                &--main-image {
                    margin-bottom: 16px;

                    &.none {
                        display: none;
                    }

                    &.aboveImage{
                        order: -1;
                        margin-bottom: 4px;
                    }

                    &.belowImage{
                        order: 0;
                    }
                }
            }
        }
    }

    &__title {
        font-family: var(--card-result-font-family);
        font-size: var(--card-result-title-font-size);
        font-weight: 700;
        line-height: var(--card-result-title-line-height);
        margin: var(--card-result-title-margin);
    }
    &__link {
        text-decoration: underline;
        cursor: pointer;
        font-size: var(--card-result-desc-font-size);
        line-height: var(--card-result-desc-line-height);
        letter-spacing: 0;
        font-weight: 700;
    }

    &__description {
        font-family: var(--card-result-font-family);
        font-size: var(--card-result-desc-font-size);
        line-height: var(--card-result-desc-line-height);
        margin-bottom: var(--card-result-desc-margin-bottom);
        font-weight: normal;
    }
}

//Added css for List view
.a-list-result {
    color: var(--list-result-text-color);
    //display: flex;
    &__listview {
        border-bottom: var(--list-result-border-bottom);
        margin: var(--list-result-margin);
        padding: var(--list-result-padding);
        width: 100% !important;
    }

    &__img {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-family: var(--list-result-font-family);
        font-size: var(--list-result-title-font-size);
        font-weight: 700;
        line-height: var(--list-result-title-line-height);
        margin: var(--list-result-title-margin);
    }
    &__link {
        text-decoration: underline;
        cursor: pointer;
        font-size: var(--list-result-desc-font-size);
        line-height: var(--list-result-desc-line-height);
        letter-spacing: 0;
        font-weight: 700;
    }

    &__description {
    font-family: var(--list-result-font-family);
    font-size: var(--list-result-desc-font-size);
    line-height: var(--list-result-desc-line-height);
    margin-bottom: var(--list-result-desc-margin-bottom);
    font-weight: normal;
    }
}