<sly data-sly-use.templates="an/similac/components/content/templates.html" />

<sly data-sly-test="${properties.navigationRoot}">
	<sly 
		role="navigation"
		itemscope itemtype="http://schema.org/SiteNavigationElement"
		data-sly-use.navigation="com.adobe.cq.wcm.core.components.models.Navigation"
		data-sly-use.groupTemplate="group.html"
		data-sly-call="${groupTemplate.group @ items=navigation.items}"> 
	</sly>
</sly>
 <div  class="cq-placeholder" style="width:50%"  data-emptytext="Navigation links - Similac" data-sly-test="${(wcmmode.edit || wcmmode.preview) && !properties.navigationRoot}"></div>