<header>
  <!-- header top -->
  <sly data-sly-use.header="com.abbott.aem.adc.freestylelibrede.models.HeaderModel">
    <div class="container-fluid bg-white">
      <div class="container">
        <div class="row header-top align-items-center">
          <div class="col-lg-3 col-6 h-logo-freestyle" data-sly-resource="${'par' @ resourceType='adc/freestylelibrede/components/content/logo'}">
          </div>
          <div class="col-6 text-right h-logo-md d-lg-none" 
            data-sly-resource="${'par1' @ resourceType='adc/freestylelibrede/components/content/logo'}">

          </div>
          <div class="col-lg-9 col-12 text-md-center text-lg-right d-none d-md-block ht-list">
            <ul class="list-inline m-0">
              <li class="list-inline-item" >
                <sly
                  data-sly-resource="${'click-to-call' @ resourceType='adc/freestylelibrede/components/content/click-to-call'}">
                </sly>
              </li>
              <sly data-sly-list="${header.linksHeader}">
                <li data-sly-test="${item.serviceNumber}" class="list-inline-item">
                  <a href="${item.serviceNumber}" class="top-nav-item-link">
                    <img src="${item.desktopImagePath}" alt="${item.imageAlt}">${item.imageLabel}
                  </a>
                </li>
                <li data-sly-test="${!item.serviceNumber}" class="list-inline-item active">
                  <a href="${item.link}" target="${item.openTab}" class="top-nav-item-link" >
                    <img class="top-nav-item-icon-default" src="${item.desktopImagePath}" alt="${item.imageAlt}">
                    <img class="top-nav-item-icon-active" src="${item.desktopImagePath}" alt="${item.imageAlt}">
                    ${item.imageLabel}
                  </a>
                </li>
              </sly>
              <li class="list-inline-item" >
                <sly
                  data-sly-resource="${'minicartpopup' @ resourceType='adc/freestylelibrede/components/content/minicartpopup'}">
                </sly>
              </li>
              <li class="list-inline-item" >
                <sly data-sly-resource="${'header-login' @ resourceType='adc/freestylelibrede/components/content/header-login'}">
                </sly>
              </li>
              <li data-sly-resource="${'par2' @ resourceType='adc/freestylelibrede/components/content/logo'}"
                class="list-inline-item d-none d-lg-block h-abbot-logo" ></li>
            </ul>
          </div>
          <div
          data-sly-resource="${'minicartpopup' @ resourceType='adc/freestylelibrede/components/content/minicartpopup',selectors='mobile'}">
        </div>
        </div>
      </div>
    </div>
	<div data-sly-test="${wcmmode.edit}" style="display: block;" data-sly-resource="${'search-bar' @ resourceType='adc/freestylelibrede/components/content/search-bar'}"></div>
    <div data-sly-resource="${'navigationPanel' @ resourceType='adc/freestylelibrede/components/content/navigationmenu'}"></div>
  </sly>
</header>