@import '../../styles/variables';

.stb-themes-dropdown{
    border-radius: 6px;
    border: 1px solid #7f7f7f;
    color: #212121;
    align-items: center;
    position: relative;
    margin: 0;

    &__ele {
        padding-left: 16px;
        padding-right: 35px;
        height: 48px;
        font-family: $helvetica;
        font-size: 14px;
        line-height: 1.43;
        -webkit-appearance: none;
        border: 0;
        border-radius: 6px;
        z-index: 100;
        position: relative;
        background-color: transparent;
    }

    .mdi {
        font-size: 26px;
        transform: translateY(-50%);
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 99;
    }
}
