@import "../global/media-queries.less";
@import "../global/variables.less";


.a-button {
    .btn {
        text-transform: capitalize;
        &:hover {
            box-shadow: none;
        }
    }
}

.button.a-button--primary,
.button,
.a-button--sm {
    .btn {
        background: #f6e327 !important;
        padding: 8px 45px !important;
        border-radius: 30px !important;
        line-height: 24px;

        span {
            padding: 0 !important;
            font-size: 1rem;
            font-weight: 700;
            color: @color-black;
            letter-spacing: .8125px;
            font-family: @poppins-bold;
        }

        &:hover {
            background: @color-black !important;
            span {
                color: @color-white;
            }
        }
    }
}

.button.a-button--lg {
    .btn {

        padding: 12px 32px !important;
        line-height: 30px;

        span {
            font-size: 20px;
        }
    }
}

.button .a-button-bg--colorPalette_White {
    .btn {
        background: @color-white !important;
    }
}

.button .a-button-bg--colorPalette_PrimaryBlue {
    .btn {
        background: #56bedb !important;

        &:hover {
            background: @color-black !important;
            color: #56bedb !important;

            span {
                color: #56bedb !important;
            }
        }
    }
}