@import "../global/media-queries.less";
@import "../global/variables.less";

.header {
    --header-v2-utility-top-bg-desktop: #262626;
    --header-v2-main-bg-desktop: @color-white;
    --header-v2-utility-bottom-bg-desktop: @color-white;
    --header-v2-utility-bottom-bg: @color-cloudy-grey;
    --mega-menu-icon-color: @color-white;
    --header-v2-icon-font-size: @spacer-13;
    --header-v2-main-bg: @color-white;
    --mega-menu-nav-padding-left: 12.8px;
    --header-v2-utility-top-bg: #262626;


    .o-header-v2-global {
        .o-header-v2-section.container {
            padding: 8px 0;

            @media @lg-down {
                justify-content: center;
            }
        }

        .o-header-v2-global__sticky-section {
            margin-bottom: -2px;

            @media @lg-down {
                background-color: @color-white;
            }

            .o-header-v2-global__section--main {
                background-color: @color-black;

                .o-header-v2-section--alignGroupsBetween {
                    @media @lg-up {
                        padding: 0;
                    }

                    @media @lg-down {
                        padding: 17px 0;
                    }

                    .o-header-v2-section.container {
                        .group {
                            .o-header-v2-group {
                                @media @md-down {
                                    width: 200px;
                                    height: 75px;
                                }

                                .logo {
                                    .a-logo-comp {
                                        &--image {
                                            @media @lg-up {
                                                width: 200px;
                                                max-height: 75px;
                                            }

                                            max-height: unset;

                                            @media @md-down {
                                                max-height: unset !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

        }

        .o-header-v2-global__section--utility-top {
            .group {
                .text {
                    .cmp-text {
                        color: @color-white;
                        font-size: .875rem;
                        font-family: @arvo-regular;
                        font-weight: 400;
                    }
                }

                .a-link {
                    margin-left: 14px;

                    @media @md-down {
                        margin-left: 10px;
                    }

                    .a-link__text {
                        background-color: #515151;
                        border-radius: 30px;
                        padding: 4px 14px;
                        font-size: 13px;
                        color: @color-white;
                        text-decoration: none;

                        &:hover {
                            background-color: @color-white;
                            color: #515151;
                            text-decoration: none;
                        }

                        .a-link__inner-text {
                            text-decoration: none;
                            font-family: @poppins-regular;
                            font-weight: 400;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                    }

                }
            }
        }

        .o-header-v2-global__section--utility-bottom {
            display: none;
        }
    }
}

.xf-content-height {
    .aem-Grid.aem-Grid--12.aem-Grid--default--12:has(.header) {
        max-width: 100%;
    }
}