
.adc-topics {
	padding: 30px 0px;
	&__title {
		margin-bottom: 30px;

		.adc-title {
			padding-bottom: 20px;
			.border-bottom(@color-fsl-grey-2);
			font-weight: 900;
		}
	}

	&__item {
		.adc-padding(20px, 30px, 10px, 30px);
		border-radius: 5px;
		text-decoration: none;
		.adc-vh-margin(15px, 0);
		display:block;
		background-color: #ffffff;
		min-height: 150px;
		position: relative;
		h6.adc-title {
			.font-size-rems(12);
			font-weight: 900;
		}
	}

	&__desc {
		.font-size-rems(20);
		font-weight: 600;
		line-height: 28px;
		color: black;
		text-decoration-line: blink;
	}

	&__icon-right {
		position: absolute;
		bottom: 7px;
		right: 15px;
	}

	&__arrow-link {
		display: inline-block;
		color: @color-fsl-blue;
	}

	a:hover{
		text-decoration: none;
	}

}

