@import './global/variables.less';
.sensor-voucher .voucher-card .card-num{position:absolute;bottom:-65px;font-size:12px;width:100%;text-align:center;text-transform:uppercase;font-weight:500;left:0}
.sensor-voucher .voucher-card{max-width:450px;background-color:@color-yellow;border-radius:25px;padding-bottom:10px;box-shadow:3px 3px 9px 5px rgba(0,0,0,0.19);position:relative;margin-bottom:48px}
.sensor-voucher .voucher-card .c_title{display:block;background-color:#292883;color:@color-white;text-align:center;text-transform:uppercase;font-weight:500;font-size:24px;line-height:22px;padding:15px 0;border-radius:20px 20px 0 0}
.sensor-voucher .voucher-card .c_logo{margin-top:15px}
.sensor-voucher .voucher-card .download-icon{max-width:145px}
.sensor-voucher .voucher-card .card-details{padding:0 15px;text-transform:uppercase;font-weight:500;font-size:14px;margin-top:15px}
.sensor-voucher .voucher-card .card-details #expirationDate{text-transform:initial}
.sensor-voucher .voucher-card .blue_strip{background-image:url('/content/dam/adc/freestyle/countries/us-en/images/day-one/blue-patch.png');background-repeat:no-repeat;background-size:contain;display:inline-block;color:@color-white;font-size:16px;padding:6px 10px;width:200px;margin-top:25px}
.sensor-voucher .voucher-card .orange_Strip{background-color:#f8971d;padding:20px 10px;padding-bottom:5px;color:@color-white;font-size:14px; margin-top:-30px !important;border-bottom-left-radius:15px;line-height:20px}
.sensor-voucher .voucher-card .orange_Strip ul, .sensor-voucher .voucher-card .orange_Strip p {margin: 0;padding: 0; list-style: none;}
.sensor-voucher .voucher-card .disclaimer{font-size:10px;margin-top:25px !important; line-height:10px}
.sensor-voucher .voucher-card .below_logo_Section{position:absolute;bottom:0;width:100%}
.sensor-voucher .voucher-card .below_logo_Section .text{font-size:10px;line-height:13px;font-weight:100}
:root{ --ecard-width: 28rem;}
#fsl-2 .sensor-voucher .voucher-card .c_title,
#fsl-2 .sensor-voucher .voucher-card .orange_Strip {
	background-color: @color-yellow !important;
	color: @color-black !important;
}
#fsl-2 .sensor-voucher .voucher-card  {
background-color: #f2f2f2 !important;
}

@media only screen and (max-width:992px) {
    .sensor-voucher .voucher-card{
        max-width:290px;
    }
    .sensor-voucher .voucher-card .row{
        margin: 0;
    }
    .sensor-voucher .voucher-card .row .col-6, .sensor-voucher .voucher-card .row .col-12{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0px !important;
    }
    .sensor-voucher .voucher-card .c_title {
        font-size: 20px;
        line-height: 18px;
        padding: 11px 0;
        margin: 0;
    }
    .sensor-voucher .voucher-card .c_logo {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }
    .sensor-voucher .voucher-card .blue_strip {
        font-size: 10px;
        padding: 0px 5px;
        width: 114px;
        margin-top: 14px;
        font-weight: 500;
    }
    .sensor-voucher .voucher-card .orange_Strip {
        padding: 13px 6px;
        padding-bottom: 4px;
        font-size: 10px;
        margin-top: -28px !important;
        line-height: 13px;
        margin-bottom: 0 !important;
    }
    .sensor-voucher .voucher-card .download-icon {
        max-width: 70px;
    }
    .sensor-voucher .voucher-card .card-details {
        font-size: 10px;
        padding: 0 0 0 10px;
        margin-top: 8px !important;
    }
    .c_bin, .c_group, .c_member, .c_expiration {
        line-height: 14px;
    }
    .sensor-voucher .voucher-card .disclaimer {
        font-size: 8px;
        margin-top: 18px !important;
        line-height: 9px !important;
    }
    .sensor-voucher .voucher-card .below_logo_Section {
        position: relative !important;
        margin-top: 10px !important;
    }
    .sensor-voucher .voucher-card .below_logo_Section .col-6.text {
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
        font-size: 8px;
        line-height: 10px;
    }
    .sensor-voucher .voucher-card .below_logo_Section .download-icon {
        width: 40px;
    }
    .sensor-voucher .voucher-card .below_logo_Section .col-6 {
        text-align: center;
    }

}

@media print {
    --ecard-width:31rem;
    #fsl-2 .sensor-voucher .voucher-card .orange_Strip p,
    #fsl-2 .sensor-voucher .voucher-card .orange_Strip ul li {
        color: @color-black !important;
    }
    .sensor-voucher .voucher-card .blue_strip font{
        color:@color-white  !important;
    }
    .voucher-card.mx-auto > .row > .col-12 {
        margin-bottom: 1rem !important;
        .c_title {
            margin-bottom: 0 !important;
        }
    }  
    .voucher-card.mx-auto > .row > .col-6{
        .c_logo.text-center {
            margin-bottom: 2px;

            .download-icon{
                position: relative;
                top: 2rem;
                width: 82px;
            }
        }
        .download-icon{
            margin-bottom: 0;
        }
        .card-details{
            position: absolute;
            bottom: 0;
            padding-right: 0 !important;
        }
        margin-bottom: 0 !important;
    }

    .ecard {
      width: var(--ecard-width);
      margin: 0 auto;
     }

    .sensor-voucher .voucher-card .blue_strip {
      width: 100% !important;
      height: 3rem !important;
      margin-top: 0 !important;
      background: none;
      padding: 10px;
    }

    .sensor-voucher .voucher-card .disclaimer {
      margin-top: 0 !important;
    }
    .sensor-voucher .voucher-card .orange_Strip p sup{
        color: @color-black !important;
    }

    #fsl-2 .sensor-voucher .voucher-card .below_logo_Section .download-icon {
        margin-top: 10px;
    }
    .sensor-voucher .voucher-card .below_logo_Section .download-icon {
        width: 85px;
        margin-top: 18px;
    }
    .sensor-voucher .voucher-card .below_logo_Section{
        position: relative !important;
        font-size: 10.0px;
    }
    .sensor-voucher .voucher-card .below_logo_Section > div{
        margin-bottom: 0 !important;
    }
    #fsl-2 .sensor-voucher .voucher-card .disclaimer {
        margin-top: 11px !important;
    }
    #fsl-2.fsl3-new-voucher-card .sensor-voucher   .voucher-card {
        .orange_Strip{
            position: relative;
            top: -6%;
        }
        .download-icon {
            max-width: 58px;
            }

            >.row .col-6:first-of-type{
            .download-icon {
                max-width:83px;
                }
            }
            .col-5 .download-icon {
                width: 70px;
             }
      } 
    .ww-page-break .page-break{
        break-after: avoid;
    }           
}



#fsl-14 .sensor-voucher .voucher-card .c_title,
#fsl-14 .sensor-voucher .voucher-card .orange_Strip {
	background-color: #292883 !important;
}
#fsl-14 .sensor-voucher .voucher-card {
background-color: #f2f2f2 !important;
}

.fontBlue {
    color: #001489;
}
.c_bin, .c_group, .c_member, .c_expiration {
    margin: 0;
    padding:0;
}




#fsl-2.fsl3-new-voucher-card  .voucher-card .c_title {
    background-color: #102383 !important;
    color: @color-white !important;
    font-family: "brandon-grotesque",Arial,sans-serif;

    font-size: @spacer-28 !important;
    @media only screen and (max-width:992px) {
        font-size: @spacer-22 !important;
    }
   
}
#fsl-2.fsl3-new-voucher-card  .voucher-card .orange_Strip{
    margin-top: -30px !important;
    line-height: 20px;
    border-radius: 26px 0 0 26px !important;
    padding: 20px 17px 20px !important;
    color: #102383 !important;
    transform: translate(0%,37%);
    
}
#fsl-2.fsl3-new-voucher-card  .voucher-card .disclaimer{
    margin-top: 25px !important;
    line-height: 10px;
}

#fsl-2.fsl3-new-voucher-card  .voucher-card .orange_Strip p:not(p ~ p){
   
    font-size: 1.5em !important;
    font-weight: 800;
    text-transform: capitalize;
    list-style: 1.4567rem;
}
#fsl-2.fsl3-new-voucher-card  .voucher-card .orange_Strip > p{
font-family: "brandon-grotesque",Arial,sans-serif;
}
#fsl-2.fsl3-new-voucher-card  .voucher-card .blue_strip {
    display: none;
}
#fsl-2.fsl3-new-voucher-card  .voucher-card  {
    background-color: @color-white !important;
}

#fsl-2.fsl3-new-voucher-card .voucher-card .row .col-6:last-of-type {
    padding-left: 0px !important;
}
#fsl-2.fsl3-new-voucher-card {
    .sensor-voucher {
        .voucher-card {
            @media only screen and (max-width:992px) {
                 .c_logo {
                    margin-top: 38px !important;
                    margin-bottom: 20px !important;
                }
                 .disclaimer{
                    font-size: 8px !important;
                    margin-top: 10px !important;
                    line-height: 9px !important;
                }
                 .below_logo_Section {
                    position: relative !important;
                    margin-top: 43px !important;
                }
           }
           
        }
    }
  
}