

.faq-mfs-divider{
    @media only screen and (max-width: 991px) {
        .col-md-9.columncontrol__column {
        flex: 0 0 75%;
        max-width:75% !important;
        }
        .col-md-10.columncontrol__column {
        flex: 0 0 75%;
        max-width:75% !important;
        }
        .col-md-3.columncontrol__column {
        flex: 0 0 25%;
        max-width:25% !important;
        }
        .col-md-2.columncontrol__column {
        flex: 0 0 25%;
        max-width:25% !important;
        }
        .col-md-3.columncontrol__column  .image{
        max-width:100% !important;
        }
        .col-md-2.columncontrol__column  .image{
        max-width:100% !important;
            img {
                aspect-ratio: 3/1.6;
                -webkit-aspect-ratio: 3/1.6;
                -moz-aspect-ratio: 3/1.6;
                object-fit: contain;
                -webkit-object-fit: contain;
                -moz-object-fit: contain;
            }
        }
        .columncontrol.column-align--center .row {
            align-items: baseline !important;
        }
        .row-center-mobile .columncontrol.column-align--center .row {
            align-items: center !important;
        }
        .columncontrol .cmp-text p:first-child {
            text-align: left !important;
        }
        .columncontrol .cmp-text p:last-child {
            text-align: left !important;
        }
   }
}

.a-container--iconcallout-v1{
    &:has(.faq-mfs-divider){
        @media only screen and (max-width: 991px) {
            padding: 0px !important;
        }
    }
}
@media(min-width: 1200px) {
    .m-desktop-padding-zero{
        padding: 0;
    }
    .m-desktop-margin-zero{
        margin: 0;
    }
}
@media(min-width: 768px) {
    .m-tab-padding-zero{
        padding: 0;
    }
    .m-tab-margin-zero{
        margin: 0;
    }
 }

@media (max-width: 991px) {
    .m-hero--internal-page:has(.m-p-zero) + .container, 
    .m-hero--home-page:has(.m-p-zero) + .container,
    .m-hero--product-page:has(.m-p-zero) + .container {
        padding-top: 0 !important;
    }
    .m-hero--internal-page:has(.m-p-zero), .m-hero--home-page:has(.m-p-zero), .m-hero--product-page:has(.m-p-zero){
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
}
@media(max-width: 991px) {

    .a-container{
        &:has(.m-p-t-b-zero){
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        &:has(.m-m-t-b-zero){
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        &:has(.m-p-l-r-zero){
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        &:has(.m-m-l-r-zero){
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        &:has(.m-p-t-zero){
            padding-top: 0 !important;
        }
        &:has(.m-m-t-zero){
           margin-top: 0 !important;
        }
        &:has(.m-p-b-zero){
            padding-bottom: 0 !important;
        }
        &:has(.m-m-b-zero){
            margin-bottom: 0 !important;
        }
    }

    .m-mobile-padding-zero{
        padding: 0;
    }
    .m-mobile-margin-zero{
        margin: 0;
    }

    .m-hero > .mobile-media-center .m-hero__media {
        --hero-media-image-object-position: center center
    }
}
.hidden-margin-between-two-section {
    margin: -10px 0px 0px;
    visibility: hidden;
}


@media(max-width: 768px) {
.col-md-3 .a-container.a-container--redesign.a-rounded-corners >.p-m-17 .cmp-container{
padding: 17px;
}
.col-md-6 .a-container.a-container--redesign.a-rounded-corners >.p-m-17 .cmp-container{
padding: 17px;
}
}

.m-hero.m-hero--internal-page >.show-redesign-button .m-hero__content .m-hero__extras {
    display: block;
    margin-top: 10px;
}