@import "./global/media-queries.less";
.header .o-header--full-width .o-header__wrapper .o-header__search .a-search__input {
    width: 100% !important;
}
.mega-top-menu__text-none .m-mega-menu__mobile-item-wrapper .link {
    text-transform: none;
}
@media @lg-up{
  .header .o-header__wrapper .o-header__search>.a-search:not(.a-search--expand) .a-search--icon-left {
    left: 12px !important;
  }
  .o-header .sticky .a-search {
    left: 0px !important;
  }
}

.header {
  .o-header__wrapper {
    .o-header__mob-options {
      @media @lg-down {
        display: none !important;
      }
    }
  }
}

.only-on-mobile {
    display: none;
}
@media @lg-down {
    .only-on-mobile {
        display: block;
    }
    .m-mega-menu__mobile-item-wrapper .a-link--icon-left {
        padding: .9375rem .5rem .8125rem 1rem;
        border-top: solid 1px #888b8d;
    }
    .m-mega-menu__mobile-item-wrapper .link.button .a-link {
        font-weight: normal;
    }
    .m-mega-menu__mobile-item-wrapper.a-button-cta-wrapper {
        display: none;
    }
    .m-mega-menu__mobile .country-dropdown .m-link-stack h4 {
        font-size: 16px;
        padding-left: 5px;
    }
    .header .o-header__wrapper .o-header__search .a-search__input {
      width: auto !important;
    }

}

@media @lg-up {
    .m-mega-menu__mobile .navbar {
        min-height: auto;
    }
}

.m-mega-menu__mobile-item-wrapper {
  .link {
    padding:0;
    .btn {
      padding: 0.8rem 1rem;
    }
  }
  &.a-button-cta-wrapper {
    padding: 0;
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

