@import './global/variables.less';
@import './global/mixin.less';
@import './global/media-queries.less';

.a-container--us-design-table {
    background: #0072CE;
    padding: 20px !important;

    &.a-table-border-radius {
        .m-table-component {
            .table-responsive {
                border-radius: 24px;
            }
        }
    }

    .m-table-component {

        .table-responsive {
            display: flex;
            flex-direction: row;
            background: #cce3f5;
            padding: 20px;

            table {
                display: table;
                width: 100%;
                margin: 20px 10px;

                tbody tr {
                    th {
                        padding: 10px;
                        border: 1px solid transparent !important;
                        background: #E8F2FA;

                        p {
                            margin: 0;
                        }
                    }
                    td {
                        border: 1px solid transparent;
                        border-bottom: 4px solid #E8F2FA;
                        p {
                            margin: 0;
                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**** Mobile View ***/
@media @md-down {
    .a-container--us-design-table {
        &.a-table-mobile-scroll {
            .m-table-component {
                .table-responsive {
                    table {
                        width: max-content;
                        overflow-y: scroll;

                        tbody {
                            white-space: nowrap;
                        }
                    }

                }
            }
        }
    }
}