<sly data-sly-test="${wcmmode.edit}">
    Edit Customer Info Component here ...
</sly>
<div class="cmp-customer-info" data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.componentModel="${'com.abbott.aem.adc.freestylelibrede.models.ComponentModel'}"
    data-sly-test="${!componentModel.modelJsonString}"></div>
<sly data-sly-call="${template.placeholder @ isEmpty=true}"></sly>
<div class="adc-customer-info">
            <div class="bg-white px-4 mt-4">
                <h4 class="adc-customer-info__title adc-title--blue adc-title--border-bottom  pb-4">
                    Persönliche Daten
                </h4>
                <div class="mt-3">
                    <p class="w-50 float-left m-0 font-weight-bold">Name:</p>
                    <p class="w-50 float-left m-0">Herr Jens Hartmann</p>
                    <p class="w-50 float-left m-0 mt-2  font-weight-bold">
                        Geburtsdatum:
                    </p>
                    <p class="w-50 float-left m-0 mt-2">...</p>
                    <p class="w-50 float-left m-0 mt-3  font-weight-bold">
                        Telefonnummer:
                    </p>
                    <p class="w-50 float-left m-0 mt-3">...</p>
                    <p class="w-50 float-left m-0 mt-2  font-weight-bold">
                        Mobiltelefon:
                    </p>
                    <p class="w-50 float-left m-0 mt-2">...</p>
                    <p class="clearfix m-0"></p>
                    <p class="mt-5">
                        Download Datenbestand nach DSGVO als <u>PDF</u>
                        <em class="adc-icon adc-icon--md adc-icon--pdf-blue align-middle ml-2"></em>
                    </p>
                    <div class="my-3 text-right">
                        <a href="#" class="adc-text-link icon icon--edit">konto verwalten</a>
                    </div>
                </div>
            </div>   
            <div class="bg-white px-4 mt-4">
                <h4 class="adc-customer-info__title adc-title--blue adc-title--border-bottom  pb-4">
                    Alternative Lieferadresse
                </h4>
                <label class="adc-customer-info__label mt-4">Anrede*</label>
                <div class="btn-group adc-product-tabtext d-flex" data-toggle="buttons">
                    <label class="btn btn-primary active adc-product-tabtext__label w-100">
                        <input type="radio" class="d-none" name="options" value="radio1" id="option1" autocomplete="off"
                            checked />
                        Herr
                    </label>
                    <label class="btn btn-primary adc-product-tabtext__label w-100">
                        <input type="radio" class="d-none" name="options" value="radio2" id="option2"
                            autocomplete="off" />
                        Frau
                    </label>
                    <label class="btn btn-primary adc-product-tabtext__label w-100">
                        <input type="radio" class="d-none" name="options" value="radio2" id="option2"
                            autocomplete="off" />
                        Divers
                    </label>
                </div>

                <div class="row">
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12 col-md-6 pr-lg-0">
                                <label class="adc-customer-info__label mt-2" for="Postleitzahl">Vorname*</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control d-inline" id="uname" placeholder=""
                                        value="61234" name="vorname" required />
                                    <em
                                        class="adc-customer-info__success-icon adc-icon adc-icon--md adc-icon--tick-green"></em>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="adc-customer-info__label mt-2" for="Ort">Nachname*</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control d-inline" id="uname" placeholder=""
                                        value="Frankfurt am Main" name="vorname" required />
                                    <em
                                        class="adc-customer-info__success-icon adc-icon adc-icon--md adc-icon--tick-green"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <label class="adc-customer-info__label mt-3" for="Vorname">Geburtsdatum*</label>
                        <div class="position-relative">
                            <input type="text" class="form-control d-inline" id="uname" placeholder=""
                                value="16.08.1968" name="vorname" required />
                            <em class="adc-customer-info__success-icon adc-icon adc-icon--md adc-icon--tick-green"></em>
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label class="adc-customer-info__label mt-2" for="Nachname">Telefonnummer*</label>
                        <div class="position-relative">
                            <input type="text" class="form-control d-inline" id="uname" placeholder=""
                                value="16.08.1968" name="vorname" required />
                            <em class="adc-customer-info__success-icon adc-icon adc-icon--md adc-icon--tick-green"></em>
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label class="adc-customer-info__label mt-2" for="Nachname">Mobiltelefon</label>
                        <div class="position-relative">
                            <input type="text" class="form-control d-inline" id="uname" placeholder=""
                                value="16.08.1968" name="vorname" required />
                            <em class="adc-customer-info__success-icon adc-icon adc-icon--md adc-icon--tick-green"></em>
                        </div>
                    </div>

                    <div class="col-12 text-right">
                        <label class="adc-customer-info__req-field font-italic text-right">*Pflichtfelder</label>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 d-flex">
                                <a href="#"
                                    class="adc-button-primary large blue button-bg-none button-block text-center  mt-3 mr-0">
                                    Abbrechen
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 d-flex">
                                <a href="#"
                                    class="adc-button-secondary large button-bg-none button-block text-center  mt-3 mr-0">
                                    Speichern
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adc-customer-info__register mt-3 py-2 text-right">
                    <div class="my-3 adc-customer-info__register__link">
                        <a href="#" class="adc-text-link icon icon--down-arrow-blue mr-4">Meine Daten herunterladen</a>
                        <a href="#" class="adc-text-link icon icon--delete">Adresse Löschen</a>
                    </div>
                </div>
            </div>   
            <div class="bg-white px-4 mt-4">
                <h4 class="adc-customer-info__title adc-title--blue adc-title--border-bottom  pb-4">
                    Konto deaktivieren
                </h4>
                <p class="mt-3">
                    Hier können Sie Ihr Konto dauerhaft deaktivieren. Alle Daten werden
                    von unserem System vollständig entfernt.
                </p>
                <div class="custom-control custom-checkbox my-4">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="checkbox" />
                    <label class="custom-control-label" for="customCheck">Save address to account</label>
                </div>
                <div class="form-group">
                    <label class="adc-customer-info__label mt-5" for="Vorname">Geben Sie die dargestellten Zeichen
                        ein*</label>
                    <input type="text" class="form-control d-inline" id="uname" placeholder="" value="Zeichen"
                        name="vorname" required />
                </div>
                <div class="text-right mt-4">
                    <label class="adc-customer-info__req-field font-italic text-right">*Pflichtfelder</label>
                </div>

                <a href="#"
                    class="adc-button-primary large blue button-bg-none button-block text-center  m-0 mt-3">
                    Abbrechen
                </a>

                <a href="#"
                    class="adc-button-secondary large button-bg-none button-block text-center  m-0 mt-3">
                    Konto deaktivieren
                </a>
            </div>
</div>