<div  class="cq-placeholder section" 
	data-emptytext="Configure Popup Component in EDIT Mode" 
	data-sly-test.author="${(wcmmode.edit || wcmmode.design)}" >
</div>

<section>
	<div class="d-none" id="welcome-popup" data-hide-unit="${properties.welcomeHideUnit @ context='attribute'}" data-signup-days="${properties.welcomeSignUpDays @ context='number'}" data-cta-days="${properties.welcomeCTADays @ context='number'}" data-url-pattern="${properties.welcomeUrlPattern @ context='attribute'}" data-url="${properties.welcomeCTA @ context='attribute'}">
	<h3>${properties.welcomeHeading @ context='html'}</h3>
		<div class="row mt-4 justify-content-center">
			<div class="col-12 col-md-5 col-lg-4 text-center">
				<img src="${properties.welcomeImage}" alt="${properties.welcomeImageAlt}"/>
			</div>
			<div class="col-12 col-md-6 pt-4">
				${properties.welcomeDescription @ context='html'}
				<button type="button" class="btn btn-primary px-4 modal-submit w-100 w-lg-85">${properties.welcomeLinkText @ context='html'}</button>
			   <div class="footnote d-flex mt-4">${properties.welcomeFootnote @ context='html'}</div>
			</div>
		</div>
	</div>
	
	<div class="d-none" id="shutterfly-popup" data-hide-unit="${properties.shutterflyHideUnit @ context='attribute'}" data-signup-days="${properties.shutterflySignUpDays @ context='number'}" data-cta-days="${properties.shutterflyCTADays @ context='number'}" data-url-pattern="${properties.shutterflyUrlPattern @ context='attribute'}" data-url="${properties.shutterflyCTA}">
		<h3>${properties.shutterflyHeading @ context='html'}</h3>
		<div class="row mt-4 justify-content-center">
			<div class="col-12 col-md-5 col-lg-4 text-center">
				<img src="${properties.shutterflyImage}" alt="${properties.shutterflyImageAlt}" />
			</div>
			<div class="col-12 col-md-6 pt-4">
				${properties.shutterflyDescription @ context='html'}
				<button type="button" class="btn btn-primary px-4 modal-submit w-100 w-lg-85">${properties.shutterflyLinkText @ context='html'}</button>
			   <div class="footnote d-flex mt-4">${properties.shutterflyFootnote @ context='html'}</div>
			</div>
		</div>
	</div>
	
	<div class="d-none" id="do-popup" data-hide-unit="${properties.doHideUnit @ context='attribute'}" data-signup-days="${properties.doSignUpDays @ context='number'}" data-cta-days="${properties.doCTADays @ context='number'}" data-url-pattern="${properties.doUrlPattern @ context='attribute'}" data-url="${properties.doCTA}">
		<h3 class="title">${properties.doHeading @ context='html'}</h3>
		<div class="row mt-4 justify-content-md-center justify-content-lg-start mb-4 mb-md-0">
			<div class="col-12 col-md-5 col-lg-5 text-center">
				<img src="${properties.doImage}" alt="${properties.doImageAlt}" />
			</div>
			<div class="col-12 col-md-6 col-lg-6 px-lg-0">
				${properties.doDescription @ context='html'}
				<button type="button" class="btn btn-primary px-4 modal-submit w-100 w-lg-85">${properties.doLinkText @ context='html'}</button>
			   <div class="footnote d-flex mt-4">${properties.doFootnote @ context='html'}</div>
			</div>
		</div>
	</div>

	<div id="registration-popup" data-backdrop="static" data-keyboard="false" class="modal similac-modal2" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close modal-close" aria-label="Close">
						<span class="sim-icons" data-icon="basic-01"></span>
					</button>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>

	<div id="updatepassword-popup" data-backdrop="static" data-keyboard="false" class="modal similac-modal2"
	  role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3>${properties.resetPasswordHeading @ context='html'}</h3>
		  </div>
		  <div class="modal-body">
			<div class="content-sec">
			  <p>${properties.resetPasswordDescription @ context='html'}</p>
			  <div class="btn-sec">
				<button class="btn cancelbtn" id="updatePasswordClose">${properties.resetPasswordCancel @ context='html'}</button>
				<button type="button" class="btn btn-primary" id="updatePassword">${properties.resetPasswordUpdate @ context='html'}</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

    <div id="updatePasswordConfirm-popup" data-backdrop="static" data-keyboard="false" class="modal similac-modal2" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3>${properties.confirmPasswordHeading @ context='html'}</h3> 
			</div>
			<div class="modal-body">
				<div class="content-sec">
					${properties.confirmPasswordDescription @ context='html'}
					<div class="btn-sec">
						<button type="button" class="btn btn-primary" id="updatePasswordConfirm">${properties.confirmPasswordLabel @ context='html'}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div id="downloadPwa-banner-safari" data-backdrop="static" data-keyboard="false" class="modal similac-modal-pwa" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3>${properties.downloadBannerHeadingSafari @ context='html'}</h3>
					<button type="button" class="close modal-close pwa-close-popup" aria-label="Close">
						<span class="sim-icons" data-icon="close-basic-01"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-12 col-md-12 col-lg-12 text-center">
						<img src="${properties.downloadBannerImgSafari}" alt="${properties.downloadBannerImgAltSafari}" />
					</div>
					<div class="col-12 col-md-12 col-lg-12 text-center pt-3">
						<img src="${properties.downloadBannerGifImageSafari}" alt="${properties.downloadBannerGifImageAltSafari}" />
					</div>
					<div class="footnote d-flex mt-4">${properties.downloadBannerFootnoteSafari @ context='html'}</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="downloadPwa-banner-chrome" data-backdrop="static" data-keyboard="false" class="modal similac-modal-pwa" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3>${properties.downloadBannerHeadingChrome @ context='html'}</h3>
					<button type="button" class="close modal-close pwa-close-popup" aria-label="Close">
						<span class="sim-icons" data-icon="close-basic-01"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-12 col-md-12 col-lg-12 text-center">
						<img src="${properties.downloadBannerImgChrome}" alt="${properties.downloadBannerImgAltChrome}" />
					</div>
					<div class="col-12 col-md-12 col-lg-12 text-center pt-3">
						<img src="${properties.downloadBannerGifImageChrome}" alt="${properties.downloadBannerGifImageAltChrome}" />
					</div>
					<div class="footnote d-flex mt-4">${properties.downloadBannerFootnoteChrome @ context='html'}</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pwa-sms-popup" data-backdrop="static" data-keyboard="false" class="modal similac-modal-pwa" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header-new">
					${properties.popupHeading @ context='html'}
				</div>
				<div class="modal-body">
					<div class="text-center">
						${properties.popupDescription @ context='html'}
					</div>
					<div class="text-center">
						<button type="button" class="btn btn-primary popupSMSSubmit">${properties.confirmCta @
							context='html'}</button>
						<button type="button" class="btn popupSMSCancel">${properties.cancelCta @
							context='html'}</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="qr-scan-progress-popup" data-backdrop="static" data-keyboard="false" class="modal" role="dialog">
		<div class="scanner-modal" role="document" style="display:flex">
			<div class="modal-content scanner-popup-content">
				<div id="scan-overlay" style="display: block;">
					<div class="pie">
					   <div class="text-overlay"></div>
					</div>
				 </div>
				<div class="modal-body">
					<div class="text-center">
						<div id="qrScanProgressMsg" >${properties.qrScanProgressMsg @ context='html'}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="how-to-earn-popup" data-backdrop="static" data-keyboard="false" class="modal" role="dialog">
		<div class="how-to-earn-modal" role="document" style="display:flex">
			<div class="modal-content how-to-earn-popup-content">
				<div class="modal-header">
					<img class="close modal-close-earn-reward" data-dismiss="modal" aria-label="Close"
						src="${properties.closeIcon}" alt="${properties.closeIconAlt}" />
				</div>
				<div class="modal-body">
					<div class="text-center">
						<p class="popupTitle">${properties.howToEarnLabel @ context='html'}</p>
						<img src="${properties.onePointImg}" alt="${properties.onePointImageAlt}" />
						<p class="locate-qr-text"><a id="pop-up-locate-qr-code-link" href="${properties.locateQRCodeLink}">
								${properties.locateQRCodeText @ context='html'} </a></p>
						<img src="${properties.fivePointsImg}" alt="${properties.fivePointsImageAlt}" />
						<div id="locate-qr-code-footnote">${properties.locateQRCodeFootnote @ context='html'}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>