
.xf-content-height {
    margin: 0 !important;
}
.container{
    margin: 0 auto;
}
.row{
    margin: 0 !important;
}
@media (max-width: 1100px){    
    .container{
        width:var(--space-complete-size);
        padding: 0 15px;
    }
}
@media (min-width: 1140px) {
	.container{
    	max-width: 1110px;
        padding: 0;
    }
}
:root {
    --accent-teal: #00b5a6;
    --secondary-orange: #f5a61b;
    --accent-dk-gray: #414042;
    --abbott-primary-blue: #009cde;
    --primary-orange: #ec5d24;
    --abbott-dark-blue: #002a3a;
    --abbott-purple: #3c1053;
    --abbott-magenta: #aa0061;
    --abbott-mint: #64ccc9;
    --abbott-light-blue: #5bc2e7;
    --abbott-medium-blue: #004f71;
    --abbott-red: #e40046;
    --abbott-yellow: #ffd100;
    --abbott-gold: #eeb33b;
    --abbott-charcoal: #222731;
    --abbott-medium-green: #00b140;
    --abbott-dark-gray: #63666a;
    --fill-brand-accent-dark-gray-50: #a09fa0;
    --abbott-light-green: #7ccc6c;
    --abbott-light-gray: #d9d9d6;
    --abbott-gray: #888b8d;
    --black: #000000;
    --fill-white: #ffffff;
    --btn-text-color:#000a12;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
	--spacing-xs-02: 10px;
    --spacing-s: 12px;
    --spacing-m: 16px;
    --spacing-l: 20px;
    --spacing-xl: 24px;
    --spacing-xxl: 28px;
    --spacimg-xxl-1: 30px;
    --spacing-xxl-2: 32px;
	--sacing-xxxl: 60px;	
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;

    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 32px;
    --heading-font-size-s: 24px;
    --content-font-size-l: 24px;
    --content-font-size-m: 18px;
	--content-font-size-m02: 16px;
    --content-font-size-s: 12px;
    --page-padding-left-l: 30px;
    --page-padding-left-m: 15px;
    --page-padding-right-l: 30px;
    --page-padding-right-m: 15px;      
    --space-zero-size: 0;
    --space-complete-size: 100%;
	--full-width: 100%;
	
	--page-width-xxxl: 1440px;
	--page-width-xxl: 1100px;
	--page-width-xl: 950px;
	--page-width-xl01: 920px;
	--page-width-l: 730px;
	--page-width-m: 540px;
	--card-section-width-s: 365px;
	--card-section-width-l: 775px;

	--line-height-normal: 1;
	--line-height-l: 24px;
    
	--space-position-l: 30px;
	--space-position-zero: 0;
	--hero-left-percent: 11.5%;

    --font-georgia : Georgia, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    --font-brandon-bold: BrandonGrotesque-bold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    --font-brandon-regular: BrandonGrotesque-regular, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    --font-roboto-bold: RobotoSlab-Bold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    --font-roboto-regular: RobotoSlab-Regular, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    --font-roboto-medium: RobotoSlab-Medium, Helvetica, Arial, Verdana, Tahoma, sans-serif;

    --section-align-center-margin: 0 auto;
    --opacity: 1;
    --order-1: 1;
    --order-2: 2;
    --line-height: 1;
    --space-zero-size: 0;
    --desktop-page-width: 1140px;
    --page-width: 100%;
    --desktop-content-width: 1110px;
    --rte-font-12-size: 12px;
    --download-column-width: 26px;
    --download-font-size-m: 14px;
    --download-container-width: 80%;
    --download-spacing-xl : 37px;
    --download-spacing-l : 12px;
    --download-spacing-m : 11px;
    --download-spacing-xm: 10px;
    --download-spacing-s : 7px;
    --download-spacing-xs : 5px;
    --download-spacing-xxs : 3px;
    --download-spacing-xxxs : -18px;
    --search-text-margin-l: 50px;
    --search-text-margin-m1: 33px;
    --search-text-margin-m: 30px;
    --search-results-margin-top: 26px;
    --search-input-mobile-padding: 7px 10px;
    --search-text-padding: 0 15px;
    --search-zindex-01: 100px;
    --search-zindex-02: 101px;
    --search-scroll-track: #f1f1f1; 
    --spinner-top: 50%;
}

.a-link {
	--link-font-family: Helvetica, Arial, sans-serif;
	--link-font-size-xs: 12px;
	--link-line-height: 16px;
	--link-color: #000000;
	--link-icon-color: #000000;
	--link-icon-size: 1.25rem;
	--link-icon-margin-left: .625rem;
	--link-padding-left: 15px;
	--link-padding-right: 30px
}
.o-header{
    --header-padding-l: 14px 0;
    --header-padding-m: 10px 0;
    --header-padding-s: 6px 0 8px;
    --header-spacing-l: 30px;
    --header-spacing-m: 15px;
    --header-spacing-xs: 5px;
    --header-font-size-l: 18px;
    --header-font-size-m: 16px;
    --header-font-size-s: 12px;
    --header-logo-width: 70px;
    --mega-menu-hamburger-width: 44px;
    --mega-menu-mobile-item: 15px 10px 15px 26px;
    --mega-menu-height: 726px;
    --mega-menu-link-padding: 7px 15px;
    --header-line-height-l: 26px;
    --header-container-width: 1110px;
    --header-menu-height: 40px;
    --header-menu-width: 44px;
}
.o-footer{
    --footer-spacing: 20px;
    --footer-font-size-s: 12px;
    --footer-spacing-l: 70px;
    --footer-spacing-m1: 60px;
    --footer-spacing-m: 30px;
    --footer-spacing-s: 15px;
    --footer-spacing-xs: 11px;
    --footer-margin-l: 26px 0 25px;
    --footer-margin-m: 18px 0 17px;
    --footer-margin-s: 10px 0 13px;
    --footer-padding-l: 22px 15px 10px 0;    
    --footer-padding-m: 0 0 20px;
    --footer-padding-s: 0 15px;
    --footer-link-wrapper-width: 175px;
    --footer-colum-width: 1140px;    
    --footer-log-img-mobile: 80px;
    --footer-container-width: 1110px;
    --footer-width: 50%;
}
.cmp-text{
    --text-font-size-s: 12px;
    --text-font-size-s1: 16px;
    --mbl-text-spacing: 0 15px 40px 30px;
    --text-width: 920px;
    --footer-spacing-m1: 60px;
}
.text, .a-text{
    --text-width: 920px;
    --text-width-l: 730px;
    --text-width-m: 500px;
    --text-font-size-xxl:24px;
    --text-font-size-xl: 21px;
    --text-font-size-l: 20px;
    --text-font-size-m: 18px;
    --text-font-size-s: 16px;
    --text-font-size-s-1: 16px;
    --text-font-size-xs: 14px;
    --text-font-size-xxs: 12px;
    --text-line-height-l: 30px;
    --text-line-height-m1: 24px;
    --text-line-height-m: 28px;
    --text-line-height-s: 22px;
    --text-line-height-xs: 18px;
    --text-padding-number-break: 95px;
    --text-padding-m: 20px;
    --text-padding-s: 15px;
    --text-padding-xs: 10px;
}
.title{
    --title-font-size-xl: 42px;
    --title-font-size-l: 36px;  
    --title-font-size-l1: 32px;  
    --title-font-size-m-1: 26px;
    --title-font-size-m: 24px;
    --title-font-size-s: 21px;
    --line-height-l: 48px;
    --line-height-m-1: 40px;
    --line-height-m1: 30px;
    --line-height-m: 28px;
    --line-heigh-s: 24px;
    --title-line-height: 1.3;
    --title-width-l: 950px;
    --title-full-width-padding: 17.8px 0 17.2px 0;
    --title-page-size-padding: 8px 23.4px 9px 13.6px;
    --title-center-padding: 20px 10px 25px 15px;
    --title-text-padding: 21px 20px 29px 19px;
    --title-padding-mobile: 16px 15px 16px;
    --title-padding-mobile-left: 15px;
    --title-margin-xl: 30px;
    --title-margin-l: 20px;
    --title-margin-m: 15px;
    --title-margin-s: 12px;
    --title-margin-xs: 10px;
    --title-margin-xxs: 6px;
    --title-orange-font-mobile: 32px;
    --title-orange-line-height-mobile: 40px;
}
.m-card{
    --card-padding-l: 38px 0 44px 30px;
    --card-padding-s: 16px 10px 0;
    --card-padding-xs: 14px 0 13px;
    --card-padding-1: 25px 0;
    --card-margin-xxl: 60px;
    --card-margin-xl: 90px;
    --cord-margin-l: 60px;  
    --card-margin-s: 30px;
    --card-margin-xs: 20px;
    --card-margin-xs1: 26px;
    --card-margin-xs2: 22px;
    --card-width-xl: 775px;
    --card-width-l: 592px;
    --card-width-m: 435px;
    --card-width-s: 365px;
    --card-width-xs: 257px;
    --card-width-xxs: 150px;
    --card-height-xxs: 150px;
    --card-font-size-xl: 48px;
    --card-font-size-l: 36px;
    --card-font-size-m: 24px;
    --card-font-size-s: 18px;
    --card-line-height: 1.2;
    --card-line-height-xl: 60px;
    --card-line-height-l: 42px;
    --card-line-height-m: 30px;
}
.m-accordion{
    --accordion-font-size-l : 21px;
    --accordion-font-size-m : 18px;
    --accordion-font-size-s : 16px;
    --accordion-line-height : 24px;
    --accordion-margin-bottom: 20px;
    --accordion-margin-top: 10px;
    --accordion-margin-left: 19px;
    --accordion-margin: -15px;
    --accordion-arrow-width: 25px;
    --accordion-arrow-height: 24px;
    --accordion-padding-xl: 9px 23px 8px 14px;
    --accordion-padding-l: 26px;
    --accordion-padding-m: 20px;
    --accordion-padding-s: 15px;
    --accordion-padding-xs: 5px;
    --accordion-padding-primary: 20px 15px 4px;
    --accordion-icon-padding: 1px 4px 1px;
}
.a-container{
    --container-margin-l: 44px;
    --container-padding-s: 9px;
    --container-padding-l: 20px;
}
.o-features-card{
    --featurecard-margin-l: 34px;
}
.layoutcontainer{
    --layout-font-size-l : 18px;
    --layout-font-size-m : 16px;
    --layout-font-size-s : 14px;
    --layout-height-xl: 74px;
    --layout-height-l: 54px;
    --layout-height-m: 26px;
    --layout-height-s: 24px;
    --layout--padding-s: 4px 10px;
    --layout--padding-s-m: 5px 10px;
    --layout-spacing-xl: 60px;
    --layout-spacing-l: 50px;
    --layout-spacing-m1: 34px;
    --layout-spacing-m: 30px;
    --layout-spacing-s: 20px;
    --layout-spacing-xs: 15px;
    --layout-spacing-xxs1: 10px;
    --layout-spacing-xxxs1: 5px;
    --layout-spacing-xxs: 6px;
    --layout-spacing-xxxs: 4px;
    --layout-spacing-minus: -15px;
    --layout-width-percent-xl: 60.6%;
    --layout-width-percent-l: 53.2%;
    --layout-width-percent-m: 44.5%;
    --layout-width-percent-s: 37.4%;
    --layout-width-percent-xs: 36%;
    --layout-width-percent-xxs: 25%;
    --layout-width-xxl: 950px; 
    --layout-width-xl: 817px;
    --layout-width-l: 674px;
    --layout-width-m: 540px;
    --layout-width-s: 329px;
    --layout-width-xs: 300px;
    --layout-width-xxs: 270px;
    --layout-width-xxxs: 205px;
}
.m-hero{
    --hero-line-height-xxl: 68px;
    --hero-line-height-xl: 40px;
    --hero-line-height-l: 30px;
    --hero-line-height-m: 24px;
    --hero-line-height: 1.25;
    --hero-font-size-l: 36px;
    --hero-font-size-m: 30px;
    --hero-font-size-s: 24px;
    --hero-font-size-xs: 16px;
    --hero-spacing-mobile-top1: 200px;
    --hero-spacing-mobile-top: 100px;
    --hero-spacing-xxxxl: 40px;
    --hero-spacing-xxxl: 37px;
    --hero-spacing-xxl: 30px;
    --hero-spacing-xl: 25px;
    --hero-spacing-l: 20px;
    --hero-spacing-m: 19px;
    --hero-spacing-s: 15px;
    --hero-spacing-xs: 12px;
    --hero-spacing-xxs: 10px;
    --hero-spacing-xxxs: 4px;
    --hero-spacing-width-l: 445px; 
    --hero-spacing-width-m1: 345px;
    --hero-spacing-width-m: 160px;
    --hero-spacing-width-s: 100px;
    --hero-spacing-width-xs: 45px;
    --hero-spacing-width-percent: 50%;
    --hero-height-l: 160px;
    --hero-height-m: 90px;
    --hero-height-m: 100px;
}
.search-table-popup{
    --search-popup-zindex-01: 1000;
    --search-popup-zindex-02: 1000;
    --search-popup-overlay: rgba(0,0,0,0.6);
    --search-popup-font-size-xl: 23px;
    --search-popup-font-size-l: 20px;
    --search-popup-font-size-m: 18px;
    --search-popup-font-size-s: 14px;
    --search-popup-font-size-xs: 10px;
    --search-popup-font-size-xxs: 5px;
    --search-popup-line-height-01: 1.2;
    --search-popup-line-height-02: 24px;
    --search-popup-border-radius-01: 15px;
    --search-popup-border-radius-02: 15px;
    --search-popup-width-xl: 300px;
    --search-popup-width-l : 205px;
    --search-popup-width-m : 64px;
    --search-popup-width-s : 26px;
    --search-popup-width-label : 50%;
    --search-popup-height: 26px;
    --search-popup-content-border: 1px solid #979797;
    --search-popup-position-top: 20%;
    --search-popup-spacing-xl: 11px;
    --search-popup-spacing-l: 10px;
    --search-popup-spacing-m: 5px;
    --search-popup-spacing-s: 3px;
}
.searchresults{
    --search-font-size-l: 22px;
    --search-font-size-m: 16px;
    --search-font-size-s: 14px;
    --search-line-height-l: 1.5;
    --search-line-height-m: 1.29;
    --search-line-height-s: 16px;
    --search-table-td-width-01: 103px;
    --search-table-td-width-02: 123px;
    --search-table-td-width-03: 393px;
    --search-table-td-width-04: 173px;
    --search-table-td-width-05: 173px;
    --search-table-td-width-06: 169px;
    --search-bar-input-width: 350px;
    --scroll-bar-width: 5px;
    --search-button-height: 26px;
    --search-table-height: 515px;
    --search-bar-width: 350px;
    --search-bar-width-tab: 345px;
    --search-bar-width-mbl: 250px;
    --sarch-button-width: 26px;
    --search-button-right: 6px;
    --search-button-top: 3px;
    --search-button-right-mbl: 8px;
    --search-td-border: 4px solid var(--fill-white);
    --search-table-border-bottom: 1px solid var(--primary-orange);
    --search-input-border: 1px solid var(--abbott-mint);
    --search-link-padding: 5px 0;
    --search-table-th-padding: 4px 2px 4px 8px;
    --search-table-td-padding: 4.5px 8px 6.5px 10px;
    --search-result-margins: 0 -15px 38px;
    --search-bar-input-padding: 8px 35px 8px 10px;
}
#site-entering-popup-content, #site-leaving-popup-content{
    --popup-font-size-xl: 22px;   
    --popup-font-size-l: 18px;
    --popup-font-size-m: 16px;
    --popup-font-size-s: 14px;
    --popup-font-size-xs: 13px;
    --popup-line-height-l: 24px;
    --popup-line-height-m: 21px;
    --popup-line-height-s: 20px;
    --popup-width: 665px;
    --popup-width-mbl: 90%;
    --popup-text-width: 76%;
    --popup-list-width: 24px;
    --popup-list-height: 24px;
    --popup-button-width: 100px;
    --popup-close-width: 30px;
    --popup-close-height: 30px;
    --popup-aggree-btn-width-mbl: 183px;
    --popup-margin: 160px auto;
    --popup-leaving-margin: 100px auto;
    --popup-margin-button-close: 20px;
    --popup-text-padding: 0 10px;
    --popup-button-padding: 10px 0;
    --popup-list-padding-left: 34px;
    --popup-link-button-padding: 20px 10px 20px 19px;
    --popup-list-padding: 50px;
    --popup-button-link-padding: 30px 0;
    --popup-agree-padding: 12px 150px;
    --popup-leaving-btn-padding: 10px;
    --popup-close-padding: 6px;
    --popup-border-radius: 50%;
    --popup-z-index: 1050;
    --popup-bg-overlay: rgba(0, 0, 0, 0.5);
    --popup-position-top: 3px;
    --popup-position-left: -34px;
}
.customtextlist{
    --custom-font-size-xxl: 30px;
    --custom-font-size-xl: 28px;
    --custom-font-size-l: 24px;
    --custom-font-size-m: 21px;
    --custom-font-size-s: 18px;
    --custom-font-size-xs: 16px;
    --custom-font-size-xxs: 14px;
    --custom-line-height-l: 1.25;
    --custom-line-height-xxl: 2.29;
    --custom-line-height-m: 30px;
    --custom-line-height-s: 22px;
    --custom-list-width-xl: 980px; 
    --custom-list-width-l: 950px;
    --custom-list-width-m1: 920px;
    --custom-list-width-m: 800px;
    --custom-list-width-s: 730px;
    --custom-list-bullet-width-xxl: 42px;
    --custom-list-bullet-width-xl: 32px;
    --custom-list-bullet-width-l: 24px;
    --custom-list-bullet-width-m: 21px;
    --custom-list-bullet-width-s: 20px;
    --custom-list-bullet-width-xs: 18px;
    --custom-list-bullet-width-xxs: 10px;
    --custom-list-bullet-height-xxl: 42px;
    --custom-list-bullet-height-xl: 32px;
    --custom-list-bullet-height-l: 24px;
    --custom-list-bullet-height-m: 21px;
    --custom-list-bullet-height-s: 20px;
    --custom-list-bullet-height-xs: 18px;
    --custom-list-bullet-height-xxs: 10px;
    --custom-list-spacing-20: 20px;
    --custom-list-spacing-10: 10px;
    --custom-list-spacing-5: 5px;
    --custom-list-spacing-15: 15px;
    --custom-list-spacing-35: 35px;
    --custom-list-spacing-30: 30px;
    --custom-list-spacing-40: 40px;
    --custom-list-spacing-44: 44px;
    --custom-list-spacing-42: 42px;
    --custom-list-spacing-60: 60px;
    --custom-list-spacing-12: 12px;
    --custom-list-spacing-4: 4px;
    --custom-list-spacing-3: 3px;
    --custom-list-spacing-2: 2px;
    --custom-list-spacing-8: 8px;
    --custom-list-spacing-18: 18px;
    --custom-list-spacing-38: 38px;
    --custom-list-spacing-7: 7px;
    --custom-list-spacing-27-neg: -27px;
    --custom-list-spacing-1-neg: -1px;
    --custom-list-spacing-2-neg: -2px;
    --custom-list-spacing-5-neg: -5px;
    --custom-list-spacing-22-neg: -22px;
    --custom-list-spacing-26-neg: -26px;
    --custom-list-spacing-30-neg: -30px;
    --custom-list-spacing-35-neg: -35px;
    --custom-list-spacing-22: 22px;
    --custom-list-spacing-27: 27px;
    --custom-list-spacing-1: 1px;
    --custom-list-spacing-31: 31px;
    --custom-list-spacing-32: 32px;
    --custom-list-spacing-28: 28px;
    --custom-list-spacing-34: 34px;
    --custom-list-spacing-70: 70px;
    --custom-list-spacing-90: 90px;
    --custom-list-spacing-45: 45px;
    --custom-list-spacing-46: 46px;
    --custom-list-spacing-102: 102px;
    --custom-list-border-radius: 50%;
    --custom-list-number-text-height: 54px;
}

/**Alert Banner**/
.m-alert-banner {
  --alert-banner-bg-color-snow-gray: #ececeb;
  --alert-banner-padding: .5rem 1rem;
  --alert-banner-content-padding: 0 2rem 0 0;
  --alert-banner-font-family: "Georgia, Helvetica, Arial, Verdana, Tahoma, sans-serif";
  --alert-banner-container-para-margin: .375rem .375rem 1rem  .375rem;
  --alert-banner-icon-color: #004f71;
  --alert-banner-button-border-color: 1px solid #004f71;
  --alert-banner-font-weight-bold: 450;
  --alert-banner-font-weight-light: 390;
  --alert-banner-para-dark-gray-color: #63666a;
  --alert-banner-dark-blue-color: #002a3a;
  --alert-banner-button-font-size: .8125rem;
  --alert-banner-button-border-radius-04: .25rem;
  --alert-banner-title-font-size: 1rem;
  --alert-banner-title-sm-font-size: .8125rem;
  --alert-banner-para-font-size: .75rem;
  --alert-banner-line-height-1: 1rem;
  --alert-banner-line-height-15: 1.5rem;
  --alert-banner-mt-025: .25rem;
  --alert-banner-mr-025: .25rem;
  --alert-banner-position-top-037: .375rem;
  --alert-banner-button-position-top-075: .75rem;
  --alert-banner-position-right-1: 1rem;
  --alert-banner-container-sm-padding: 2rem .25rem;
  --alert-banner-container-md-padding: .5rem 0;
  --alert-banner-button-pl-2: 2rem;
  --alert-banner-color-white: #fff;
  --alert-banner-button-pl-tab: 2.8125rem;
  --alert-banner-button-lt-space: 0.813px;
  background-color: var(--alert-banner-bg-color-snow-gray);
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  font-family: var(--alert-banner-font-family);
  left: 0;
  z-index: 999;
  padding-top: 8px;
}
.m-alert-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 24px 0;
  width: 100%;
  max-width: 1200px;
  position: relative;
  font-family: var(--alert-banner-font-family);
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.m-alert-banner__container p {
  margin: var(--alert-banner-container-para-margin);
  font-family: var(--alert-banner-font-family)
}
.m-alert-banner__icon {
  color: var(--alert-banner-icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
}
.m-alert-banner__container .m-alert-banner__icon p {
  margin-right: 0;
  margin-top: 16px;
  margin-left: 2px;
  left: 0;
}
.m-alert-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 0 !important;
  margin-top: 12px;
  margin-bottom: 12px;
}
.m-alert-banner--button button span {
  letter-spacing: var(--alert-banner-button-lt-space);
}
.m-alert-banner__icon .abt-icon-alert::before {
  font-size: 14px !important;
}
.m-alert-banner__content__title {
  font-weight: var(--alert-banner-font-weight-bold);
  color: var(--alert-banner-dark-blue-color);
  font-size: var(--alert-banner-title-font-size);
  line-height: var(--alert-banner-line-height-15);
  padding: 12px 0;
}
.m-alert-banner__content__title p {
  margin-top: var(--alert-banner-mt-025);
  font-family: var(--alert-banner-font-family)
}
.m-alert-banner__content__para {
  font-weight: var(--alert-banner-font-weight-bold);
  color: var(--alert-banner-dark-blue-color);
  font-size: var(--alert-banner-para-font-size);
  line-height: var(--alert-banner-line-height-1)
}
.m-alert-banner__content__para p:first-child {
  color: var(--alert-banner-para-dark-gray-color);
  font-weight: var(--alert-banner-font-weight-light)
}
.m-alert-banner--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  position: relative;
  left: var(--alert-banner-button-pl-2);
  font-family: var(--alert-banner-font-family)
}
.m-alert-banner--button button {
  background-color: var(--alert-banner-icon-color);
  color: var(--alert-banner-color-white);
  border-radius: var(--alert-banner-button-border-radius-04);
  border: var(--alert-banner-button-border-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: var(--alert-banner-font-family);
  font-size: var(--alert-banner-button-font-size);
  font-style: normal;
  font-weight: var(--alert-banner-font-weight-bold);
  line-height: var(--alert-banner-line-height-1);
  text-transform: uppercase;
  padding: 8px 24px;
  cursor: pointer;
  margin-left: 32px;
}
.m-alert-banner--button button:hover {
  color: var(--alert-banner-color-white)
}
.m-alert-banner__collapse--icon {
  display: block;
  position: absolute;
  top: var(--alert-banner-position-top-037);
  right: var(--alert-banner-position-right-1)
}
.m-alert-banner__collapse--icon span {
  margin-right: 0;
  font-size: var(--alert-banner-para-font-size);
  color: var(--alert-banner-dark-blue-color);
  cursor: pointer;
  font-weight: 450;
  line-height: 16px;
}
.m-alert-banner__collapse--icon .abt-icon {
  font-size: var(--alert-banner-para-font-size);
  color: #222731;
}
.m-alert-banner .d-none {
  display: none !important
}
.m-collapse .abt-icon-down-arrow {
  display: inline-block;
}

@media(max-width: 991.98px) {
  .m-alert-banner__content {
      margin: 0;
  }
  .m-alert-banner--button {
      left: var(--alert-banner-button-pl-tab)
  }
  .m-alert-banner__content__title {
      padding: 24px 0;
  }
  .m-alert-banner__icon {
      padding-top: 24px;
  }    
  .m-alert-banner__container {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      padding: 24px 0;
  }
  .m-alert-banner__container .m-alert-banner__icon p {
      margin-top: 4px;
  }
}

@media(max-width: 767.98px) {      
  .m-alert-banner__container {
      padding: 24px 16px !important;
  }  
  .m-alert-banner__content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-right: 16px;
  }
  .m-alert-banner__content__title {
      padding: 12px 0 0;
  }
  .m-alert-banner__icon {
      padding-top: 12px;
  }
  .m-alert-banner__content__para p:last-child {
      padding-bottom: 16px !important;
      margin-bottom: 25px !important;
  }
  .m-alert-banner__content__title.content-collapsed p {
      margin-bottom: 40px !important;
  }
  .m-alert-banner--button button span {
      text-align: center;
      width: 100%
  }
  .m-alert-banner__text {
      padding-left: 0;
  }
  .m-alert-banner__container .m-alert-banner__icon p {
      position: relative;
      left: 0;
  }
  .m-alert-banner--button button {
      width: 92% !important;
      padding: 12px 45px;
      margin-left: 0;
  }    
  .m-alert-banner--button {
      display: block;
      width: 100% !important;
      bottom: 24px !important;
      margin-left: 0 !important;
      left: 16px !important;
      top: auto !important;
  }
}

@media(min-width: 768px) {
  .m-alert-banner--button {
      padding-right: 40px;
  }
  .m-alert-banner__container {
      justify-content: unset !important;
      padding: 0 40px !important;
  }
  .m-alert-banner__content {
      width: 100% !important;
      padding-bottom: 4px;
  }
  .m-alert-banner__text {
      padding-right: 0;
  }
}

@media (min-width:1200px) {
  .m-alert-banner__container {
      padding: 0 90px !important;
      max-width: 1200px !important;
  }    
  .m-alert-banner__text {
      padding-right: 0;
  }
  .m-alert-banner__collapse--icon {
      right: 100px
  }
}
