@import "variables";
// Typography
//
// Font, line-height, and color for body text, headings, and more.
$line-height-base: 1 !default;
$base-line-height: 1rem !default;

$font-size-base: 1rem;

// Base Heading font size
$h1-font-size: $font-size-base * 3.75; //60px
$h1-hero-font-size: $font-size-base * 3; //48px
$h2-font-size: $font-size-base * 2.375; //38px
$h3-font-size: $font-size-base * 1.5; //24px
$h4-font-size: $font-size-base * 1.125; //18px
$h5-font-size: $font-size-base * 1; //16px
$h6-font-size: $font-size-base * 0.75; //12px
$font-size-14: $font-size-base * 0.875; // 14px
$font-size-20: $font-size-base * 1.25; //20px
$font-size-54: $font-size-base * 3.375; // 54px

// Base line heights
$h1-line-height: $base-line-height * 5; //80px
$h1-hero-line-height: $base-line-height * 4; //64px
$h2-line-height: $base-line-height * 3; //48px
$h3-line-height: $base-line-height * 2; //32px
$h4-line-height: $base-line-height * 1.5; //24px
$h5-line-height: $base-line-height * 1.25; //20px
$h6-line-height: $base-line-height * 1; //16px

// Base word spacings
$h1-letter-spacing: 1.2px;
$h6-letter-spacing: 0.5px;
$base-letter-spacing: 1px;
$button-letter-spacing: 0.6px;
// Base word spacings End

$headings-margin-bottom: $spacer / 2;

// $base-font-family: 'Georgia,Times,Times New Roman,serif';
// $body-font-family: 'Georgia,Times,Times New Roman,serif';

$base-font-family: '"Brandon Grotesque",Arial,sans-serif';
$body-font-family: '"Brandon Grotesque",Arial,sans-serif';

$headings-font-family: '"Brandon Grotesque",Arial,sans-serif';

$icon-font-family: 'Abbott-icon';
$text-font-family: 'Georgia,Times,"Times New Roman",serif';

$headings-font-weight: normal;
$headings-color: null;

$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: 400;

$small-font-size: $font-size-base * 0.875;
$font-weight-normal: 400;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
