<sly data-sly-use.infoPanel="com.abbott.aem.platform.common.components.models.InformationSectionPanel"
     data-sly-use.info="com.abbott.aem.corp.division.core.components.models.InformationSectionPanel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.leftContent="informationsectionpanel-leftcontent.html"
     data-sly-use.rightContent="informationsectionpanel-rightcontent.html"
     data-sly-use.infoTitle="informationsectionpanel-title.html">
   <div data-sly-test.id="${info.svgId}" data-sly-unwrap></div>
   <div data-sly-test.id2="${info.svgId}" data-sly-unwrap></div>
   <div data-sly-test.id3="${info.svgId}" data-sly-unwrap></div>
   <div data-sly-test.id4="${info.svgId}" data-sly-unwrap></div>
   <sly data-sly-test="${(info.imageVariation == 'withoutimage') && (info.extraCurveMobile=='yes')}" >
      <div id ="info-section--extraCurve" class=" ${info.extranotchType == 'rounded' ? 'rounded-option' : 'notch-option'} corp-d-xl-none corp-d-lg-none">
         <div class="info-section--sliderCurve">
            <svg width="100%" height="100%" viewBox="${info.extranotchType == 'rounded' ? '0 0 1440 195' : '0 0 1440 65'}" preserveAspectRatio="none" baseProfile="full" version="1.2">
               <defs>
                  <mask transform="scale(1)" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse" id="${id3}">
                     <sly data-sly-test="${info.extranotchType == 'rounded'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-deep-curve-c-h195.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.extranotchType == 'right'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/notch-right-c-h65.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.extranotchType == 'left'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-notch-left-c-h65.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                  </mask>
               </defs>
               <rect x="0" y="0" width="100%" height="100%" class="${info.extraMobileNotchColor}" mask="url(#${id3})"></rect>
            </svg>
         </div>
      </div>
   </sly>
   <sly data-sly-test="${(info.imageVariation == 'withoutimage') && (info.notchType != 'none')}" >
      <div id="info-section--sliderCurve-without-image" class ="${info.hideCurveDesktop ? 'corp-d-xl-none corp-d-lg-none' : ''} ${info.hideCurveMobile ? 'corp-d-md-none' : ''}">
         <div class="info-section--sliderCurve ${info.notchType == 'rounded' ? 'rounded-option' : 'notch-option'}">
            <svg width="100%" height="100%" viewBox="${info.notchType == 'rounded' ? '0 0 1440 195' : '0 0 640 30'}" preserveAspectRatio="none" baseProfile="full" version="1.2">
               <defs>
                  <mask transform="scale(1)" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse" id="${id}">
                     <sly data-sly-test="${info.notchType == 'rounded'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-deep-curve-c-h195.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.notchType == 'right'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/notch-right-c-h65.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.notchType == 'left'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-notch-left-c-h65.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                  </mask>
               </defs>
               <rect  class="${info.desktopNotchColor} ${info.mobileNotchColor}" x="0" y="0" width="100%" height="100%"  mask="url(#${id})"></rect>
            </svg>
         </div>
      </div>
   </sly>
   <sly data-sly-test="${(info.imageVariation == 'withimage') && (info.extraCurveMobile=='yes')}" >
      <div id="info-section--extraCurve" class=" ${info.extranotchType == 'rounded' ? 'rounded-option' : 'notch-option'} corp-d-xl-none corp-d-lg-none">
         <div class="info-section--sliderCurve">
            <svg width="100%" height="100%" viewBox="${info.extranotchType == 'rounded' ? '0 0 1440 195' : '0 0 1440 65'}" preserveAspectRatio="none" baseProfile="full" version="1.2">
               <defs>
                  <mask transform="scale(1)" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse" id="${id4}">
                     <sly data-sly-test="${info.extranotchType == 'rounded'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-deep-curve-c-h195.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.extranotchType == 'right'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/notch-right-c-h65.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.extranotchType == 'left'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-notch-left-c-h65.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                  </mask>
               </defs>
               <rect x="0" y="0" width="100%" height="100%" class="${info.extraMobileNotchColor}" mask="url(#${id4})"></rect>
            </svg>
         </div>
      </div>
   </sly>
   <sly data-sly-test="${(info.imageVariation == 'withimage') && (info.notchType != 'none')}">
      <div id="info-section--sliderCurve-with-image" class = "${info.notchType == 'rounded' ? 'rounded-option' : 'notch-option'} corp-d-md-none">
         <div class="info-section--sliderCurve">
            <svg width="100%" height="100%" viewBox="0 0 1440 799" preserveAspectRatio="none" baseProfile="full" version="1.2">
               <defs>
                  <mask transform="scale(1)" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse" id="${id2}">
                     <sly data-sly-test="${info.notchType == 'rounded'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-deep-curve-i-h864.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.notchType == 'right'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-notch-right-i-h788.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                     <sly data-sly-test="${info.notchType == 'left'}">
                        <image xlink:href="/content/dam/corp/abbott/global/notch/informationsectionpanel/xlink-notch-left-i-h7889.png" height="100%"
                               width="100%" alt="${info.altText}"></image>
                     </sly>
                  </mask>
               </defs>
               <rect x="0" y="0" width="100%" height="100%" class="${info.mobileNotchColor} corp-d-xl-none corp-d-lg-none ${info.hideCurveMobile ? 'corp-d-md-none' : ''}" mask="url(#${id2})">
               </rect>
               <image class="corp-d-md-none" xlink:href="${info.fileReference}" x="0" y="0" height="100%" width="100%" mask="url(#${id2})" alt="${info.altText}"></image>
            </svg>
         </div>
      </div>
   </sly>
   <div id="${infoPanel.id}" class="${info.imageVariation == 'withimage' ? 'o-info-section--curve-container' : ''}">
      <sly data-sly-test="${(info.imageVariation == 'withimage') && (info.notchType == 'none')}" >
         <div class="a-bg-img">
            <div class="cmp-image">
               <img  class= "cmp-image__image" src="${info.fileReference}" alt="${info.altText}" />
            </div>
         </div>
      </sly>
      <div class="o-info-section__container container">
         <div class="row">
            <sly data-sly-call="${infoTitle.infoPanel @ infoPanel = infoPanel}" />
            <sly data-sly-call="${leftContent.infoPanel @ infoPanel = infoPanel}" />
            <sly data-sly-call="${rightContent.infoPanel @ infoPanel = infoPanel}" />
         </div>
      </div>
   </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty=!infoPanel.altText}"></sly>