<sly data-sly-use.templates="abbott/components/content/templates.html" />
    <sly data-sly-test.productTitle="${properties.title}"/>
	<span class="abbott-header__search" id="product-search-trigger">
		<em class="ai-search"></em>
		<span class="d-none d-md-inline-block">${properties.title}</span>
	</span>
	<section id="search-modal" class="search-modal">
		<div class="search-modal__container">
			<div class="row">
				<div class="col-6 search-modal__container--title">Product Search</div>
				<div class="col-6">
					<span class="ai-close" id="search-modal-close"></span>
				</div>
			</div>
			<div id="search-modal__comp"></div>
		</div>
	</section>
	<sly data-sly-call="${templates.placeholder @ isEmpty= !productTitle}"></sly>
</sly>