@font-face {
  font-family: "brandon_grotesqueregular";
  src: url("../../resources/fonts/brandon/brandongrotesque-regular-webfont.woff") format("woff");
}
// Colors
@color-cerulean: #009cde;
@color-dark-cerulean: #004f71;
@color-black: #000;
@color-white: #fff;
@color-off-white: #d9d9d6;
@color-dark-white: #fafafa;
@color-charcoal: #212529;
@color-light-black: fade(@color-black, 90%);
@color-lighter-black: fade(@color-black, 15%);
@color-dark: #0b3964;
@color-deep-cerulean: #061c30;
@color-clay-black: #222731;
@color-deep-blue: #001489;
@color-blue: #003da5;
@color-grey: #888b8d;
@color-dark-grey: #63666a;
@color-mint: #64ccc9;

//Social-media colors
@color-facebook: #3b5998;
@color-twitter: #1da1f2;
@color-linkedin: #0077b5;
@color-print: #738a8d;
@color-mail: #585858;

@spacer: 1rem;
@spacer-2: @spacer * 0.125; //2px
@spacer-3: @spacer * 0.188; //3px
@spacer-4: @spacer * 0.25; //4px
@spacer-5: @spacer * 0.31; //5px
@spacer-6: @spacer * 0.375; //6px
@spacer-7: @spacer * 0.4375; //7px
@spacer-8: @spacer * 0.5; //8px
@spacer-10: @spacer * 0.625; //10px
@spacer-11: @spacer * 0.688; //11px
@spacer-12: @spacer * 0.75; //12px
@spacer-13: @spacer * 0.813; //13px
@spacer-14: @spacer * 0.875; //14px
@spacer-15: @spacer * 0.95; //15px
@spacer-18: @spacer * 1.125; // 18px
@spacer-19: @spacer * 1.188; //19px
@spacer-20: @spacer * 1.25; //20px
@spacer-21: @spacer * 1.313; //21px
@spacer-22: @spacer * 1.375; //22px
@spacer-23: @spacer * 1.438; // 23px
@spacer-24: @spacer * 1.5; // 24px
@spacer-25: @spacer * 1.5625; //25px
@spacer-26: @spacer * 1.625; //26px
@spacer-27: @spacer * 1.6875; //27px
@spacer-28: @spacer * 1.75; //28px
@spacer-29: @spacer * 1.813; //29px
@spacer-30: @spacer * 1.875; //30px
@spacer-32: @spacer * 2; //32px
@spacer-35: @spacer * 2.188; //35px
@spacer-36: @spacer * 2.25; //36px
@spacer-38: @spacer * 2.375; //38px
@spacer-40: @spacer * 2.5; //40px
@spacer-41: @spacer * 2.563; //41px
@spacer-42: @spacer * 2.625; //42px
@spacer-43: @spacer * 2.6875; //43px
@spacer-44: @spacer * 2.75; //44px
@spacer-45: @spacer * 2.813; //45px
@spacer-46: @spacer * 2.875; //46px
@spacer-48: @spacer * 3; //48px
@spacer-49: @spacer * 3.0625; //49
@spacer-50: @spacer * 3.125; //50px
@spacer-54: @spacer * 3.375; //54px
@spacer-56: @spacer * 3.5; //56px
@spacer-60: @spacer * 3.75; //60px
@spacer-62: @spacer * 3.875; //62px
@spacer-64: @spacer * 4; //64px
@spacer-65: @spacer * 4.063; //65px
@spacer-68: @spacer * 4.25; //68px
@spacer-70: @spacer * 4.375; //70px
@spacer-74: @spacer * 4.625; //74px
@spacer-80: @spacer * 5; //80px
@spacer-85: @spacer * 5.313; //85px
@spacer-95: @spacer * 5.938; //95px
@spacer-100: @spacer * 6.25; //100px
@spacer-180: @spacer * 11.25; //180px

@full-width: 100%;

@font-h1-superscript: @spacer-15; // 15px

@font-base: @spacer;

//fonts
@bold: "brandon_grotesquebold";
@regular: "brandon_grotesqueregular";
@medium: "brandon_grotesquemedium";
@helvetica: "Helvetica";
@abbott-icon: "Abbott-icon";

@xl-width: 1200px;
@xxl-width: 1440px;
