<sly data-sly-use.footerModel="com.abbott.aem.epd.acare.core.models.components.FooterEmail" />
<tr>
    <td align="center" valign="top" style="background-color: ${footerModel.bGColor @ context = 'styleToken'};padding-bottom: 80px;" class="mobile-bg container">
        <table width="600" cellspacing="0" cellpadding="0" border="0" class="container" aria-describedby="table" aria-hidden="true">
            <tr>
                <td align="left" valign="top" class="container" style="background-color: #f3f3f3;">
                    <table width="600" cellspacing="0" cellpadding="0" border="0" class="inner-container" aria-describedby="table" aria-hidden="true">
                        <tr>
                            <td align="center" valign="top" width="100%" class="container">
                                <table cellspacing="0" cellpadding="0" border="0" width="600" class="container" aria-describedby="table" aria-hidden="true">
                                    <tr>
                                        <td align="left" valign="top" class="container">
                                            <table cellspacing="0" cellpadding="0" border="0" width="600" class="container pad-lr-10" aria-describedby="table" aria-hidden="true">
                                                <tr>
                                                    <td align="center" valign="top" style="font-family: Georgia, Arial, sans-serif; font-size: 24px;line-height: 1.17; letter-spacing: 0.1px; text-align: left; color: #004f71; height: 28px;max-height: 28px;padding: 55px 70px 0;" class="pad-lr-10">
                                                        ${footerModel.footerHeading @ context='html'}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" style="font-family: Georgia, Arial, sans-serif; font-size: 18px; line-height: 1.44; letter-spacing: 0.2px; text-align: left; color: #65767c;    padding: 0px 70px 0;" class="pad-lr-10">
                                                        ${footerModel.footerSubheading @ context='html'}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="left" style="padding: 24px 70px 62px;width: 100%;" class="pad-lr-10">
                                                        <table cellpadding="0" cellspacing="0" border="0" dir="ltr" width="100%" aria-describedby="table" aria-hidden="true"> 
                                                            <tr>
                                                                <td valign="top" align="left" width="45%" dir="ltr" class="full-width pad-right-0 height-auto" style="padding-right: 8px;height: 154px;">
                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" aria-describedby="table" aria-hidden="true">
                                                                        <tr>
                                                                            <td valign="top" align="left" style=" background-color: #009cde; width: 164px;height: 154px;padding: 26px 19px 29px 31px;">
                                                                                <table cellpadding="0" cellspacing="0" border="0" aria-describedby="table" aria-hidden="true">
                                                                                    <tr>
                                                                                        <td valign="top" align="center" style="font-family: Georgia, Arial, sans-serif; font-size: 20px; font-weight: bold;line-height: 1.1; letter-spacing: 0.7px; text-align: left; color: #ffffff;padding-bottom: 31px;">
                                                                                            ${footerModel.card1Title @ context='html'}
																							<a data-sly-unwrap="${!footerModel.card1Link}" href="${footerModel.card1Link}" target="_blank">
                                                                                                <img src="${footerModel.arrowImage @ context = 'unsafe'}" alt="${footerModel.arrowAltText || 'white-arrow' }" style="display: inline-block;vertical-align: middle;padding-left: 3px;border:none;">
																							</a>
                                                                                         </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td valign="top" align="center" style="font-family: Georgia, Arial, sans-serif; font-size: 16px; line-height: 1.13; letter-spacing: 0.6px; text-align: left; color: #ffffff;">
                                                                                            ${footerModel.card1Subtitle @ context='html'}
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td valign="top" align="left"> 
                                                                                           <img data-sly-test="${footerModel.card1Image}" src="${footerModel.firstCardImage @ context = 'unsafe'}" alt="${footerModel.card1AltText || 'card1-Image' }" style="border:none;">  
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td valign="top" align="left" width="45%" dir="ltr" class="full-width pad-left-0 pale-blue height-auto" style="padding-left: 8px;height: 154px;">
                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" aria-describedby="table" aria-hidden="true">
                                                                        <tr>
                                                                            <td valign="top" align="left" style="background-color: #78b8e4;width: 164px;height: 154px;padding: 26px 19px 29px 31px;">
                                                                                <table cellpadding="0" cellspacing="0" border="0" aria-describedby="table" aria-hidden="true">
                                                                                    <tr>
                                                                                        <td valign="top" align="center" style="font-family: Georgia, Arial, sans-serif;font-size: 20px; font-weight: bold;line-height: 1.1; letter-spacing: 0.7px; text-align: left; color: #ffffff;    padding-bottom: 19px;">
                                                                                            ${footerModel.card2Title @ context='html'}
																							<a data-sly-unwrap="${!footerModel.card2Link}" href="${footerModel.card2Link}" target="_blank">
                                                                                                <img src="${footerModel.arrowImage @ context = 'unsafe'}" alt="${footerModel.arrowAltTxt || 'white-arrow' }" style="display: inline-block;vertical-align: middle;padding-left: 3px;border:none;">
																							</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="center" style="font-family: Georgia, Arial, sans-serif; font-size: 16px; line-height: 1.13; letter-spacing: 0.6px; text-align: left; color: #ffffff;">
                                                                                            ${footerModel.card2Subtitle @ context='html'}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left">
                                                                                            <img data-sly-test="${footerModel.card2Image}" src="${footerModel.secondCardImage @ context = 'unsafe'}" alt="${footerModel.card2AltText || 'card2-Image' }" style="border:none;">
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>	
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- footer section -->
			<sly data-sly-include="footer-section.html" />
        </table>
    </td>
</tr>