<sly data-sly-use.footerModel="com.abbott.aem.epd.acare.core.models.components.FooterEmail" />
		<tr>
            <td align="center" valign="top" style="background-color: ${footerModel.bGColor @ context = 'styleToken'};padding-bottom: 80px;" class="mobile-bg container">
                <table width="600" cellspacing="0" cellpadding="0" border="0" class="container" aria-describedby="table" aria-hidden="true">
                    <!-- learn more button -->
                    <tr>
                        <td align="left" valign="top" class="container" style="background-color: #f3f3f3;">
                            <table width="600" cellspacing="0" cellpadding="0" border="0" class="inner-container" aria-describedby="table" aria-hidden="true">
                                <tr>
                                    <td align="center" valign="top" style="padding: 55px 70px 62px;" class="option1-btn-wrapper pad-lr-none">
                                        <table cellspacing="0" cellpadding="0" border="0" class="container" aria-describedby="table" aria-hidden="true"> 
                                            <tr>
                                                <td align="center" valign="middle" style="font-family: Georgia, Arial, sans-serif; font-size: 22px; font-weight: bold; line-height: 1.09; letter-spacing: 0.9px; text-align: center; color: #ffffff;background-color: #009cde;min-width: 441px; width: 441px; max-width: 441px; border-radius: 29px; padding: 14px 0" class="global-md-btn">
                                                    <a data-sly-unwrap="${!footerModel.footerCtaLink}" href="${footerModel.footerCtaLink}" target="_blank" style="font-family: Georgia, Arial, sans-serif; font-size: 22px; font-weight: bold; line-height: 1.09; letter-spacing: 0.9px; text-align: center; color: #ffffff;text-decoration: none; display: block; padding:  0;">
                                                        <span>${footerModel.footerCtaText @ context = 'html'}</span>
													</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- footer section -->
					<sly data-sly-include="footer-section.html" />
                </table>
            </td>
        </tr>