
// Colors
@color-raisin-black: #252525;
@color-yellow: #ffd100;
@color-silver: #b4b3b3;
@color-black: #000;
@color-balck-olive:#404040;
@color-vampire-black:#050505;
@color-old-silver: #858585;
@color-red: #e4002b;


@spacer: 1rem;
@spacer-1: @spacer * 0.0625; //1px
@spacer-2: @spacer * 0.125;  //2px
@spacer-3: @spacer * 0.188;  //3px
@spacer-4: @spacer * 0.25;   //4px
@spacer-5: @spacer * 0.31;   //5px
@spacer-6: @spacer * 0.375;  //6px
@spacer-8: @spacer * 0.5;    //8px
@spacer-10: @spacer * 0.625; //10px
@spacer-12: @spacer * 0.75;  //12px
@spacer-12-8: @spacer * 0.8;  //12.8px
@spacer-13: @spacer * 0.8125;//13px
@spacer-14: @spacer * 0.875; //14px
@spacer-15: @spacer * 0.95;  //15px
@spacer-18: @spacer * 1.125; //18px
@spacer-19: @spacer * 1.188; //19px
@spacer-20: @spacer * 1.25;  //20px
@spacer-21: @spacer * 1.313; //21px
@spacer-22: @spacer * 1.375; //22px
@spacer-23: @spacer * 1.438; //23px
@spacer-24: @spacer * 1.5;   //24px
@spacer-25: @spacer * 1.5625;//25px
@spacer-28: @spacer * 1.75;  //25px
@spacer-30: @spacer * 1.875; //30px
@spacer-32: @spacer * 2;     //32px
@spacer-36: @spacer * 2.25;  //36px
@spacer-38: @spacer * 2.375; //38px
@spacer-40: @spacer * 2.5;   //40px
@spacer-48: @spacer * 3;     //48px
@spacer-50: @spacer * 3.125; //50px
@spacer-60: @spacer * 3.75;  //60px
@spacer-64: @spacer * 4;     //64px
@spacer-67: @spacer * 4.188; //67px
@spacer-72: @spacer * 4.5;   //72px
@spacer-80: @spacer * 5;     //80px
@spacer-100: @spacer * 6.25; //100px
@spacer-200: @spacer * 12.5; //200px

@full-width: 100%;
@full-height: 100%;

@font-base: @spacer;          //16px
@line-height-base: @spacer-24;//24px

@helvetica-light: 'helvetica_neue_lt_std45_light', Helvetica, Arial, sans-serif;
@helvetica-roman: 'helvetica_neue_lt_std55_roman', Helvetica, Arial, sans-serif;
@helvetica-bold: 'helvetica_neue_lt_std75_bold', Helvetica, Arial, sans-serif;
@helvetica-condensed: 'HelveticaNeueLTStd57Condensed', Helvetica, Arial, sans-serif;
