
<template data-sly-template.include="${@ categories='Client Library categories',
                                         mode='optional: JS or CSS, case-insensitve',
                                         loading='optional: JS async or defer',
                                         onload='optional: JS to run for async and defer',
                                         crossorigin='optional: accepts anonymous and use-credentials'}"
    data-sly-use.clientlib="${'com.abbott.aem.an.similac.core.commons.ClientLibUseObject' @ categories=categories, mode=mode, loading=loading, onload=onload, crossorigin=crossorigin}">
${clientlib.include @ context='scriptComment'}
</template>