@import '../mixin.less';
@import '../media-queries.less';
@import '../variables.less';

/**
 * BUTTON - COMPONENT
**/
.a-button{
  @self : a-button;

  // capsule shape button css
  &.@{self}--rounded{
    .btn{
      --button-border-radius:80px
    }
  }

  // Button with blue background & yellow text
  &.@{self}--text-secondary{
    .btn {
      color: @color-yellow;
      &:hover{
        color: @color-yellow;
        .abt-icon:before {
          color: @color-yellow;
        }
      }
    }
  }
}