// Alert Notifications
.m-alert {
    --alert-border-radius: 4px;
    --alert-padding: #{$spacers-012} #{$spacers-03};
    --alert-bg: var(--danger-color);
    --alert-content-padding-right: #{$spacers-4};
    --alert-title-color: var(--black-color);
    --alert-title-font-size: #{$h5-font-size};
    --alert-title-line-height: #{$h5-line-height};
    --alert-title-padding-bottom: #{$spacers-1};

    --alert-para-color: var(--gray-darker-color);
    --alert-para-font-size: #{$font-size-14};
    --alert-para-line-height: #{$h5-line-height};
    --alert-success-icon-color: var(--success-color);
    --alert-warning-icon-color: var(--warning-color);
    --alert-danger-icon-color: var(--danger-color);
    --alert-info-icon-color: var(--black-color);

    --alert-close-icon-color: var(--black-color);
    --alert-success-color: var(--success-10-color);
    --alert-danger-color: var(--danger-10-color);
    --alert-warning-color: var(--warning-10-color);
    --alert-information-deemphasized-color: var(--info-10-color);
    --alert-information-default-color: var(--info-default-10-color);
    --alert-close-icon-height: 15px;
    --alert-close-icon-width: 15px;
    --alert-icon-margin-right: #{$spacers-03};
    --alert-link-text-color: var(--black-color);
    --alert-link-icon-color: var(--black-color);

    --alert-success-border-color: 1px solid var(--success-color);
    --alert-warning-border-color: 1px solid var(--warning-color);
    --alert-info-border-color: 1px solid var(--white-color);
    --alert-danger-border-color: 1px solid var(--danger-color);

    --alert-formalert-margin-bottom: #{$spacers-24};
    --alert-formalert-para-margin-bottom: #{$spacers-1};

    --alert-padding-right: #{$spacers-3};
}
