.m-shipping-methods {
    --shipping-methods-margin: #{$spacers-5} 0 #{$spacers-06};

    --shipping-methods-list-item-padding: #{$spacers-012} 0;
    --shipping-methods-list-item-border: 1px solid var(--gray-lighter-color);

    --shipping-methods-price-font-size: #{$h4-font-size};
}
