<style type="text/css">
	.appleLink a {
		color: inherit !important;
		text-decoration: none !important;
	}
</style>

<custom name="opencounter" type="tracking">
	<table role="presentation" style="border: 1px solid #878787;width: 600px; padding: 0; border-collapse: collapse; border-spacing: 0; margin: 0 auto;">
		<tbody>
			<!-- email Header -->
			<tr>
				<td style="vertical-align: top;text-align: center; padding: 0;">
					${properties.headline @ context='unsafe'}
				</td>
			</tr>
			<!-- logos -->
			<tr>
				<td valign="top" align="center">
					<table role="presentation" style=" max-width: 600px; min-width: 600px;width: 600px; padding: 0; border-collapse: collapse; border-spacing: 0; margin: 0 auto;">
						<tbody>
							<tr>
								<td style="padding: 22px 30px;background: #ffffff;vertical-align: top;text-align: left; ">
									<sly data-sly-use.linkHelper="${'com.abbott.aem.an.similac.core.models.LinkHelperModel' @ href=properties.logo1Src}"/>
									<img src="${linkHelper.linkHrefDomain}" alt="SIMILAC STRONGMOMS REWARDS" title="SIMILAC STRONGMOMS REWARDS" style=" display:block; border:0px; ">
								</td>
								<td style="padding: 22px 30px; text-align: right;vertical-align: middle;">
									<sly data-sly-use.linkHelper="${'com.abbott.aem.an.similac.core.models.LinkHelperModel' @ href=properties.logo2Src}"/>
									<img src="${linkHelper.linkHrefDomain}" alt="Abbott" title="Abbott">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			 <!-- Thanks img -->
			<tr>
				<td style="text-align: center; vertical-align: top;padding: 0;">
					<sly data-sly-use.linkHelper="${'com.abbott.aem.an.similac.core.models.LinkHelperModel' @ href=properties.thanksImgSrc}"/>
					<img src="${linkHelper.linkHrefDomain}" alt="Thank-you-img" title="Thank-you-img" style=" display:block; border:0px; ">
				</td>
			</tr>
			<!-- body top -->
			${properties.body @ context='unsafe'}
			<!-- email body middl(redeem) content -->
			<tr>
				<td style="background-color: #cceffc;padding: 28px 17px 40px 11px; text-align: center;vertical-align: top;">
					<table role="presentation" style="padding: 0; border:0;border-spacing: 0;border-collapse: collapse;">
						<tbody>
							<tr>
								<td style="vertical-align: top;text-align: center;">
									<table role="presentation" style="padding: 0; border:0;border-spacing: 0;border-collapse: collapse;">
										<tbody>
											<tr>
												<td style="text-align: center;vertical-align: top;">
													<table role="presentation" style="padding: 0; border:0;border-spacing: 0;border-collapse: collapse;">
														<tbody>
															<tr>
																<td style="padding-top: 15px; vertical-align: top; text-align: center;">
																	<sly data-sly-use.linkHelper="${'com.abbott.aem.an.similac.core.models.LinkHelperModel' @ href=properties.prodImgSrc}"/>
																	<img src="${linkHelper.linkHrefDomain}" alt="similac-product-target-gift-card" title="similac-product-target-gift-card" style=" display:block; border:0px; ">
																</td>
																<td style="padding-left: 9px; text-align: center; vertical-align: top;">
																	<table role="presentation" style="padding: 0; border:0;border-spacing: 0;border-collapse: collapse;">
																		<tbody>
																			${properties.retailerTxt @ context='unsafe'}
																			${properties.couponTxt @ context='unsafe'}
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											${properties.redemptionTxt @ context='unsafe'}
											<tr>
												<td style="vertical-align: top; text-align: center;">
													<table role="presentation" style="padding: 0; border:0;border-spacing: 0;border-collapse: collapse; margin: 0 auto;">
														<tbody>
															<tr>
																<td style="background: #fe9e1f;width: 304px;border-radius: 10px;padding: 12px 0 13px;color: #ffffff; vertical-align: top;text-align: center;">
																	<sly data-sly-use.linkHelper="${'com.abbott.aem.an.similac.core.models.LinkHelperModel' @ href=properties.buttonLinkPath}"/>
																	<a href="${linkHelper.linkHrefDomain}" target="_blank" style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 24px;line-height: 26px;color: #ffffff;text-decoration: none;">${properties.buttonTxt @ context='html'}</a>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											${properties.redemptionSubtext @ context='unsafe'}
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<!-- footer -->
			<tr>
				<td style="background-color: #ffffff; vertical-align: middle;text-align: center;">
					<table role="presentation" style=" max-width: 580px; min-width: 580px; border:0;border-collapse: collapse;border-spacing: 0;margin: 0 auto;">
						<tbody>
							<tr>
								<td style="border-bottom: 1px solid #3194ce; vertical-align: middle;text-align: center;"></td>
							</tr>
							<tr>
								<td style="padding-top: 10px; vertical-align: middle; text-align: center; background-color: #ffffff;">
									<sly data-sly-use.linkHelper="${'com.abbott.aem.an.similac.core.models.LinkHelperModel' @ href=properties.footerLogoSrc}"/>
									<img src="${linkHelper.linkHrefDomain}" alt="SIMILAC STRONGMOMS REWARDS" title="SIMILAC STRONGMOMS REWARDS" style=" display:block; border:0px;margin: 0 auto;">
								</td>
							</tr>
							${properties.footerBody @ context='unsafe'}
							<tr>
								<td style="padding-top: 10px; padding-bottom: 10px; vertical-align: middle;text-align: center;background-color: #ffffff;">
									<a href="${properties.unsubscribeLinkPath}" style="color: #fe9e1f; font-family: Arial, Helvetica, sans-serif;">${properties.unsubscribeLinkText @ context='html'}</a>
								</td>
							</tr>
							<tr>
								<td style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; color: #515151; padding-bottom: 10px; vertical-align: middle;text-align: center;background-color: #ffffff;">
									${properties.contactUsText @ context='html'}
								</td>
							</tr>
							<tr>
								<td style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; color: #fe9e1f;vertical-align: middle;text-align: center;background-color: #ffffff;">
									<a href="${properties.privacyLinkPath}" style="font-family: Arial, Helvetica, sans-serif; color: #fe9e1f; padding: 0 10px;">${properties.privacyLinkText @ context='html'}</a>
									<a href="${properties.termsLinkPath}" style="font-family: Arial, Helvetica, sans-serif; color: #fe9e1f;padding: 0 10px;border-left: 1px solid #515151;border-right: 1px solid #515151;">${properties.termsLinkText @ context='html'}</a>
									<a href="${properties.contactLinkPath}" style="font-family: Arial, Helvetica, sans-serif; color: #fe9e1f; padding: 0 10px;">${properties.contactLinkText @ context='html'}</a>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom: 50px; font-family: Arial, Helvetica, sans-serif; color: #515151; vertical-align: middle;text-align: center;background-color: #ffffff;">
									${properties.copyrightText @ context='html'}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</custom>
<script type="text/javascript">
	function changeParam() {
		var expireDate = document.getElementsByClassName("expireDate");
		var mailTo = document.getElementsByClassName("mailTo");

		var expireDateVal = expireDate[0].innerText;
		var mailToVal = mailTo[0].innerText;

		var urlParams = new URLSearchParams(window.location.search);		

		var expireDateValNew = urlParams.get('offerExpiry');
		var mailToValNew = urlParams.get('email')

		var fname = urlParams.get('fName');
		if (fname !== null){
			document.title = fname+", thanks for going digital!";
		}

		if(expireDateValNew !== null){
			document.getElementsByClassName("expireDate")[0].innerHTML = "Offer expires " + expireDateValNew;
		}
		else{
			document.getElementsByClassName("expireDate")[0].innerHTML = expireDateVal;
		}

		if(mailToValNew !== null){
			document.getElementsByClassName("mailTo")[0].innerHTML = mailToValNew;
		}
		else{
			document.getElementsByClassName("mailTo")[0].innerHTML = mailToVal;
		}
	}

	window.onload = changeParam;
</script>
