<sly data-sly-use.hubtitle="com.abbott.aem.corp.division.core.components.models.SectionTitle"
     data-sly-use.title="com.abbott.aem.platform.common.components.models.PlatformTitle"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
<div class="main-hubsection-container">
    <!-- First variation -->
    <div class="section-title-container section-dropdown-variation">
        <div class="category-name section-dropdown">
            <div class="section-title ${hub.titleFontFamily}">
                <span data-sly-element="${title.type}">${title.text @context = 'html'}</span>
                <span class="icon icon-caret-down"></span>
            </div>
            <ul class="categories dropdown-menu">
                <sly data-sly-list.hub="${hubtitle.storyPanels}">
                    <li>
                        <div class="box ${hub.hubStoryCategoryColor}"></div>
                        <a href="${hub.hubCategoryLink}"
                           class="category">${hub.hubStoryCategoryName}</a>
                    </li>
                </sly>
            </ul>
        </div>
    </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"></sly>