<sly data-sly-use.hubtitle="com.abbott.aem.corp.division.core.components.models.SectionTitle"
	 data-sly-use.title="com.abbott.aem.platform.common.components.models.PlatformTitle"
	 data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
	 data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
	<sly data-sly-test="${hubtitle.titleType}">
		<sly data-sly-test="${hubtitle.titleType == 'hubSectiontitle'}" data-sly-include="hubsectiontitle.html"></sly>
		<sly data-sly-test="${hubtitle.titleType == 'titleWithBackgroundImage'}" data-sly-include="titlewithbgimage.html"></sly>
	</sly>


<sly data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"></sly>