<sly data-sly-use.hub="com.abbott.aem.corp.division.core.components.models.SectionTitle"
	 data-sly-use.title="com.abbott.aem.platform.common.components.models.PlatformTitle"
	 data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
	 data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
<div class="main-hubsection-container">
    <div class="section-title-container section-bg-variation ${hub.titlePosition}">
        <div class="category-name ${hub.titleColor}">
            <div class="section-title ${hub.titleFontFamily}">
                <span data-sly-element="${title.type}">${title.text @context = 'html'}</span>
            </div>
        </div>
    </div>
    <div class="section-new-container">
        <div class="section-content ${hub.textColor} ${hub.textFontFamily}">
            <h2>
                ${hub.awardText}
            </h2>
        </div>
        <div class="media">
            <img class="media-image" src="${hub.image}" alt="${hub.altText}"></img>
        </div>
    </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"></sly>