.a-logo-comp {
  display: inline-block;
}
.a-logo-comp--image {
  max-height: var(--logo-max-height-des);
}
@media (min-width: 768px) {
  .a-logo-comp--image {
    max-height: var(--logo-max-height-des);
  }
}
@media (max-width: 991.98px) {
  .a-logo-comp--image {
    max-height: var(--logo-max-height-tab);
  }
}
@media (max-width: 767.98px) {
  .a-logo-comp--image {
    max-height: var(--logo-max-height-mob);
  }
}
.a-logo-comp--link {
  cursor: pointer;
  text-decoration: none;
}
.a-logo-comp--link:focus {
  outline: var(--logo-focus-outline);
}
