<sly data-sly-use.appStoreLinks="com.abbott.aem.adc.freestylelibrede.models.AppStoreLinksModel"></sly>
 <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='freestylelibrede-appstore.base'}"/>
  <ul class="d-inline-flex list-unstyled appStoreLink">
    <li class="apple-appstore-btn">
      <a href="${appStoreLinks.appStoreLink}" target="_blank" title="${appStoreLinks.appStoreAltText}">
      </a>
    </li>
    <li class="google-play-btn">
      <a href="${appStoreLinks.googlePlayLink}" target="_blank" title="${appStoreLinks.googlePlayAltText}">
      </a>
    </li>
  </ul>