scripts=["
    create service user coveo-system-user

    create path /var/extensionlessMapping(sling:Folder)
    create path /var/extensionlessMapping/urlmappings(nt:unstructured)

    set ACL on /var/extensionlessMapping
        allow jcr:read for coveo-system-user
    end

    set properties on /var/extensionlessMapping/urlmappings
        set extentionlessDomainsWithSlash to \"{\\\"nutritionforstrength.com\\\",\\\"nutritionnews.abbott\\\"}\"
		set extentionlessDomainsWithoutSlash to \"{\\\"molecular.abbott\\\",\\\"hellolingo.com\\\",\\\"support.myfreestyle.com\\\",\\\"molecularcatalog.abbott\\\",\\\"abbottnutrition.com\\\",\\\"ensure.com\\\",\\\"glucerna.com\\\",\\\"juven.com\\\",\\\"nepro.com\\\",\\\"pedialyte.ca\\\",\\\"pedialyte.com\\\"}\"
		
    end
"]
