// Colors
@color-blue:          #001489;
@color-black:         #000000;
@color-white:         #ffffff;
@color-gray-dark:     #212529;
@color-gray:          #fafafa;
@color-gray-light:    #fBfBfB;
@color-black-lighter: #888b8d;
@color-yellow:        #ffd100;
@color-red:           #cf4520;
@color-danger:        #E4002b;
@color-dark-gray:     #63666a;
@color-light-gray:    #d9d9d6;
@color-dusty-white:   #d4d4d4;

@primary-color: @color-blue;
@header-separator-color: @color-yellow;
@header-button-cta-color: @color-yellow;
@wizard-options-color: @color-black;
@required-text-color: @color-blue;

// Spacers
@spacer: 1rem;
@spacer-1: @spacer * 0.0625;
@spacer-2: @spacer * 0.125;     //2px
@spacer-3: @spacer * 0.106;     //3px
@spacer-4: @spacer * 0.25;      //4px
@spacer-5: @spacer * 0.31;      //5px
@spacer-6: @spacer * 0.375;     //6px
@spacer-7: @spacer * 0.4375;    //7px
@spacer-8: @spacer * 0.5;       //8px
@spacer-10: @spacer * 0.625;    //10px
@spacer-11: @spacer * 0.688;    //11px
@spacer-12: @spacer * 0.75;     //12px
@spacer-14: @spacer * 0.875;    //14px
@spacer-15: @spacer * 0.95;     //15px
@spacer-17: @spacer * 1.05;     //17px
@spacer-18: @spacer * 1.125;    //18px
@spacer-20: @spacer * 1.25;     //20px
@spacer-24: @spacer * 1.5;      //24px
@spacer-25: @spacer * 1.5625;   //25px
@spacer-27: @spacer * 1.6875;   //27px
@spacer-28: @spacer * 1.75;     //25px
@spacer-30: @spacer * 1.875;    //30px
@spacer-32: @spacer * 2;        //32px
@spacer-35: @spacer * 2.1875;   //35px
@spacer-38: @spacer * 2.375;    //38px
@spacer-40: @spacer * 2.5;      //40px
@spacer-45: @spacer * 2.813;    //45px
@spacer-48: @spacer * 3;        //48px
@spacer-50: @spacer * 3.125;    //50px
@spacer-56: @spacer * 3.5;      //56px
@spacer-60: @spacer * 3.75;     //60px
@spacer-64: @spacer * 4;        //64px
@spacer-68: @spacer * 4.25;     //68px
@spacer-72: @spacer * 4.5;      //72px
@spacer-80: @spacer * 5;        //80px
@spacer-100: @spacer * 6.25;    //100px

//container media width
@sm-width: 540px;
@md-width: 720px;
@lg-width: 960px;
@xl-width: 1140px;

@full-width:100%;
@full-height:100%;

// Typography
@font-size-base: 1rem;
@base-line-height: 1rem;

@font-size-12: @font-size-base * 0.75; //12px
@font-size-14: @font-size-base * 0.875; //14px