.m-cards-tab__nav {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.m-cards-tab__nav-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid var(--cards-tab-border-color);
  -webkit-box-shadow: 0 0 4px 0 #d4d4d4;
  box-shadow: 0 0 4px 0 #d4d4d4;
  border-radius: 8px;
  background: #fff;
  margin: 0 0.9375rem;
  padding: 1rem;
  width: 150px !important;
  max-width: 150px;
  min-height: 150px;
}
@media only screen and (max-width: 374px) {
  .m-cards-tab__nav-item {
    width: 125px !important;
  }
}
.m-cards-tab__nav-text {
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  color: var(--cards-tab-text-color);
  text-align: center;
}
.m-cards-tab__nav-item:hover,
.m-cards-tab__nav-item:active {
  text-decoration: none;
}
.m-cards-tab__nav-item:hover .m-cards-tab__nav-text,
.m-cards-tab__nav-item:active .m-cards-tab__nav-text {
  font-weight: bold;
  color: #000;
}
.m-cards-tab__nav .active.m-cards-tab__nav-item {
  border-color: var(--cards-tab-border-color-active);
}
.m-cards-tab__nav .active .m-cards-tab__nav-text {
  font-weight: bold;
  color: var(--cards-tab-text-color-active);
}
.m-cards-tab__nav .active .m-cards-tab__icon {
  color: var(--cards-tab-icon-color-active);
}
.m-cards-tab__nav .active .m-cards-tab__icon-active {
  display: block;
}
.m-cards-tab__nav .active .m-cards-tab__icon-inactive {
  display: none;
}
.m-cards-tab__nav .active .m-cards-tab__image img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
.m-cards-tab__icon {
  display: none;
  color: var(--cards-tab-icon-color);
  margin: 0.5rem auto 1rem;
}
.m-cards-tab__icon .abt-icon {
  font-size: var(--cards-tab-icon-size-sm);
}
.m-cards-tab__icon-inactive {
  display: block;
}
.m-cards-tab__image img {
  margin: 0.5rem auto 1rem;
  height: 60px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.7;
}
.m-cards-tab [data-js-component="cards-tab"] .slick-list {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}
.m-cards-tab [data-js-component="cards-tab"] .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  height: 20px;
  width: 20px;
  padding: 0;
}
@media (max-width: 1199.98px) {
  .m-cards-tab [data-js-component="cards-tab"] .slick-arrow {
    display: none !important;
  }
}
.m-cards-tab [data-js-component="cards-tab"] .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.m-cards-tab [data-js-component="cards-tab"] .slick-prev {
  left: -25px;
}
.m-cards-tab [data-js-component="cards-tab"] .slick-next {
  right: -25px;
}
.m-cards-tab [data-js-component="cards-tab"] .slick-dots {
  font-size: 0;
  line-height: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .m-cards-tab--large .m-cards-tab__nav-item {
    width: 256px !important;
    max-width: 256px;
    min-height: 256px;
  }
}
@media (min-width: 992px) {
  .m-cards-tab--large .m-cards-tab__nav-text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .m-cards-tab--large .m-cards-tab__icon,
  .m-cards-tab--large .m-cards-tab__image img {
    height: var(--cards-tab-icon-size-xl);
    margin: 1.5rem auto;
  }
  .m-cards-tab--large .m-cards-tab__icon .abt-icon,
  .m-cards-tab--large .m-cards-tab__image img .abt-icon {
    font-size: var(--cards-tab-icon-size-xl);
  }
}
@media (min-width: 1200px) {
  .m-cards-tab--small .m-cards-tab__nav-item {
    width: 160px !important;
    max-width: 160px;
    min-height: 210px;
  }
}
@media (min-width: 992px) {
  .m-cards-tab--small .m-cards-tab__nav-text {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  .m-cards-tab--small .m-cards-tab__icon,
  .m-cards-tab--small .m-cards-tab__image img {
    height: var(--cards-tab-icon-size-md);
    margin: 0.5rem auto 1.5rem;
  }
  .m-cards-tab--small .m-cards-tab__icon .abt-icon,
  .m-cards-tab--small .m-cards-tab__image img .abt-icon {
    font-size: var(--cards-tab-icon-size-md);
  }
}
.m-cards-tab--full-width {
  max-width: 100%;
}
.m-cards-tab--full-width .slick-slider {
  padding-bottom: 1.25rem;
}
@media (min-width: 1200px) {
  .m-cards-tab--full-width .slick-slider {
    margin: 0 1.25rem;
  }
}
.m-cards-tab--full-width .slick-prev {
  left: -20px;
}
.m-cards-tab--full-width .slick-next {
  right: -20px;
}
