.a-indicator__dot,
.o-media-pagination .slick-dots li button,
.a-indicator__dot-light,
.o-media-pagination--dark.o-media-pagination .slick-dots li button {
  width: var(--indicator-width);
  height: var(--indicator-height);
  border-radius: var(--indicator-border-radius);
  border: var(--indicator-border-width) solid var(--indicator-border-color);
  background-color: var(--indicator-dot);
  display: inline-block;
  margin: var(--indicator-dot-margin);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
}
.a-indicator__dot:hover,
.o-media-pagination .slick-dots li button:hover,
.a-indicator__dot-light:hover {
  background-color: var(--indicator-dot-hover-color);
}
.a-indicator--dark {
  background-color: var(--indicator-container-dark-bg);
}
.a-indicator__dot--active,
.o-media-pagination .slick-dots li.slick-active button {
  background-color: var(--indicator-dot-active);
}
.a-indicator__dot--active:hover,
.o-media-pagination .slick-dots li.slick-active button:hover {
  background-color: var(--indicator-dot-active);
}
.a-indicator__dot-light,
.o-media-pagination--dark.o-media-pagination .slick-dots li button {
  border-color: var(--indicator-light-dot);
}
.a-indicator__dot-light--active,
.o-media-pagination--dark.o-media-pagination
  .slick-dots
  li.slick-active
  button {
  background-color: var(--indicator-light-dot-active);
}
.a-indicator__dot-light--active:hover,
.o-media-pagination--dark.o-media-pagination
  .slick-dots
  li.slick-active
  button:hover {
  background-color: var(--indicator-light-dot-active);
}
.o-media-pagination {
  height: auto;
}
.o-media-pagination .slick-slide {
  height: 680px;
}
.o-media-pagination .image {
  position: relative;
  width: 100%;
  height: 680px;
}
.o-media-pagination .cmp-image__image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}
.o-media-pagination--dark.o-media-pagination .slick-arrow {
  color: var(--hero-carousel-dark-arrow-color);
  background-color: var(--hero-carousel-dark-arrow-bg-color);
}
@media (max-width: 991.98px) {
  .o-media-pagination {
    height: 190px;
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
  }
  .o-media-pagination .slick-slide,
  .o-media-pagination .image {
    height: 190px;
  }
  .o-media-pagination .slick-slide .a-video__player {
    height: 190px;
  }
  .o-media-pagination .slick-arrow {
    display: none !important;
  }
  .o-media-pagination .slick-dots {
    top: 166px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .o-media-pagination {
    height: 333px;
  }
  .o-media-pagination .slick-dots {
    top: 293px;
  }
  .o-media-pagination .slick-slide .a-video__player {
    height: 333px;
  }
  .o-media-pagination .slick-slide,
  .o-media-pagination .image {
    height: 333px;
  }
}
@media (min-width: 992px) {
  .o-media-pagination .slick-dots {
    top: 616px;
  }
}
.o-media-pagination.slick-slider {
  margin-bottom: 0;
}
.o-media-pagination .video {
  padding: 0 !important;
}
.o-media-pagination .a-video__caption {
  display: none;
}
.o-media-pagination .a-video__player {
  padding-bottom: 0;
  height: 680px;
}
.o-media-pagination[data-no-indicators="true"] .slick-dots {
  display: none !important;
}
.o-media-pagination .slick-arrow {
  width: var(--hero-carousel-arrow-width);
  height: var(--hero-carousel-arrow-height);
  border-radius: var(--hero-carousel-arrow-border-radius);
  background-color: var(--hero-carousel-arrow-bg-color);
  color: var(--hero-carousel-arrow-color);
  z-index: 99;
  opacity: 0.3;
}
.o-media-pagination .slick-arrow:hover {
  opacity: 1;
}
.o-media-pagination .slick-prev {
  left: 30px;
}
.o-media-pagination .slick-next {
  right: 30px;
}
.o-media-pagination .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: auto;
  width: 100%;
  left: 0;
  padding: 0;
}
.o-media-pagination .slick-dots li {
  list-style-type: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.o-media-pagination .slick-dots li button {
  padding: 0;
}
.o-media-pagination .slick-dots li button:before {
  content: none;
}
[dir="rtl"] .o-media-pagination .slick-prev {
  right: 30px !important;
  left: auto;
}
[dir="rtl"] .o-media-pagination .slick-next {
  left: 30px !important;
  right: auto;
}
@media (max-width: 991.98px) {
  [dir="rtl"] .o-media-pagination {
    width: 100vw;
    margin-right: calc(-1 * (100vw - 100%) / 2);
    margin-left: 0;
  }
}
