@import "../global/media-queries.less";
@import "../global/variables.less";

.o-hero-carousel{
  height: 395px;
  --indicator-width: 18px;
  --indicator-height: 18px;
  --indicator-border-width: 1px;
  --indicator-border-color: @color-pastel-grey;
  --indicator-dot: @color-white;
  --indicator-border-radius: 50%;
  --indicator-dot-active: @color-white;
  --indicator-light-dot: @color-white;
  --indicator-light-dot-active: @color-palesky-grey;
  --indicator-dark-dot-bg-color: @color-white;
  --indicator-container-dark-bg: @color-black;
  --indicator-dot-hover-color: @color-white;
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 280px;
  }
  .slick-slider{
      @media (min-width: 768px) and (max-width: 991.98px) {
      height: 256px;
      }
    }
    .abt-icon-left-arrow, .abt-icon-right-arrow{
    display: none !important ;
  }
  .slick-dots{
    width: 93% !important;
    bottom: 40px !important;
    li {
      margin-right: 8px !important;
    }
    @media @lg-down
    {
      width: auto !important;
     left: 49% !important;
    bottom: 3% !important;
    top: auto !important;
    }
    @media @md-down {
      display: none !important;
    }
  }
}
