@import "../global/media-queries.less";
@import "../global/variables.less";

.productsection {
  margin-bottom: 0 !important;
  background-color: @color-pattens-blue;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#e9fafd),to(#d0e9f6));
  background-image: -webkit-linear-gradient(top,#e9fafd,#d0e9f6);
  background-image: linear-gradient(to bottom,#e9fafd,#d0e9f6);
  @media @lg-down {
    margin-top: 0 !important;
  }
  .o-product-section__container {
    width: 960px;
    .o-product-section__content {
      padding-left: 0;
      padding-right: 0;
      max-width: 55%;
      flex: 0 0 55%;
      .o-product-section__title {
        padding-bottom: 0;
        .h2 {
          h2 {
            font-size: 27px;
            margin: 0 0 10px;
            color: @color-deep-sea-blue;
            font-family: @brandon-bold;
            line-height: 50px;
          }
          h4 {
            color: @color-davy-grey !important;
            font-family: @brandon-bold;
            font-weight: normal;
            margin-bottom: 0px;
            font-size: 20px;
          }
        }
      }
      .o-product-section__para {
        p {
          color: @color-charcoal !important;
          font-family: @georgias !important;
          font-size: 16px !important;
          margin: 15px 0 10px;
          line-height: 20px;
        }
      }
      .o-product-section__button-wrapper {
        padding: 0;
        .product-section-button1 {
          .btn {
            position: relative;
            color: @color-deep-sea-blue;
            font-family: @brandon-bold;
            font-size: 1rem;
            padding-left: 0 !important;
            &:hover {
              color: @color-cerulean;
              text-decoration: underline;
            }
          }
          .abt-icon-right-arrow {
            position: absolute;
            right: -4px;
            top: 11px;
            font-size: 0.85rem;
            font-weight: bold;
          }
        }
      }
    }
    .o-product-section__image-wrapper {
      max-width: 45%;
      flex: 0 0 45%;
      text-align: left;
    }
  }
}

@media @md-down {
  .productsection {
    margin: 0 9px;
    .o-product-section__container {
      .o-product-section__row {
        flex-direction: column-reverse;
        .o-product-section__content {
          max-width: 100%;
          flex-basis: 100%;
          .o-product-section__title {
            padding-left: 15px;
            padding-right: 10px;
          }
          .o-product-section__para {
            padding-left: 15px;
            padding-right: 15px;
          }
          .o-product-section__button-wrapper {
            padding-left: 15px;
          }
        }
        .o-product-section__image-wrapper {
          max-width: 95%;
          flex-basis: 100%;
          .o-product-section__image-column {
            margin-left: 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .o-product-section{
    padding-left: 15px;
    padding-right: 15px;
  }
  .o-product-section__container {
    margin-left: 15px;
    margin-right: 15px;
    .o-product-section__content {
      flex-basis: 50%;
      max-width: 50%;
      padding-top: 0;
      .o-product-section__title {
        .h2 {
          h2 {
            line-height: 30px;
            margin-bottom: 20px;
            font-size: 23px;
          }
        }
      }
      .o-product-section__para {
        margin-right: 80px;
      }
      .o-product-section__button-wrapper {
        padding-left: 15px;
      }
    }
    .o-product-section__image-wrapper {
      flex-basis: 50%;
      max-width: 50%;
      .o-product-section__image-column {
        margin-top: 60px;
        margin-left: -80px;
      }
    }
    .o-product-section__custom-list {
      display: none;
    }
  }
}
