@import "../global/media-queries.less";
@import "../global/variables.less";

#pageContent {
	#columncontainer {
		>.columncontrol {
			>.container {
				>.row {
					>.columncontrol__column {
						&:nth-child(1) {
							.navigation {
								margin-top: 0 !important;
								.m-mega-menu__item {
									.nav-link {
										color: @color-light-charcoal;
										font-size: 0.99rem;
										text-decoration: none;
										line-height: 1.375rem;
										border-bottom: 1px dotted @color-grey-goose;
										padding-left: 0;
										padding-right: 0;
										&:hover {
											color: @color-deep-sea-blue;
											text-decoration: underline;
										}
									}
									.nav-link.active{
										color: @color-deep-sea-blue;
									}
									&.d-none
									{
										@media @lg-down
									{
										display: block !important;
									}
									}
									
								}
							}
                            .container {
                                padding: 0;
                                + .navigation {
                                margin-top: 0; 
                                margin-bottom: 0;                
                                .nav-link {
                                    padding-left: 10px;
                                }
                                }
                            }

							.m-mega-menu__mobile-item {

								.m-mega-menu__mobile-header {
									color: #666;
									font-size: .95rem;
									text-decoration: none;
									line-height: 1.375rem;
									border-bottom: 1px dotted #cecece;
									padding-left: 0;

									&::after {
										content: '';
									}
								}
								@media @lg-down
								{
									display: none !important;
								}
							}
						}
					}
				}
			}
		}
	}
}