<svg xmlns="http://www.w3.org/2000/svg"  width="8px" height="14px" viewBox="0 0 8 14" version="1.1">
    <g id="Design-System" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Icons" transform="translate(-118.000000, -314.000000)" fill-rule="nonzero" stroke="#001489" stroke-width="2">
            <g id="Icon/Arrow-Forth-blue" transform="translate(108.000000, 308.000000)">
                <polyline id="Path-2" transform="translate(11.000000, 13.000000) rotate(-315.000000) translate(-11.000000, -13.000000) " points="7 9 15 9 15 17"/>
            </g>
        </g>
    </g>
</svg>