.m-alert{
    display: flex;

    &--success{
        border: var(--alert-success-border-color);
    }

    &--danger{
        border: var(--alert-danger-border-color);
    }

    &--warning{
        border: var(--alert-warning-border-color);
    }

    &--info{
        border: var(--alert-info-border-color);
    }

    &__link{
        display: flex;
        gap: 5px;

        &Text{
            a{
                cursor: pointer;
                text-decoration: none;
                font-weight: bold;
                color: var(--alert-link-text-color);
            }
        }
    }

    &__arrow-icon{
        a{
            text-decoration: none;
            cursor: pointer;
            color: var(--alert-link-icon-color);
            font-weight: bold;
        }
    }
}
