.a-checkbox {
  input:active ~ &__custom {
    background: var(--checkbox-focus-bg);
  }

  &&--disabled,
  &&--checked-disabled {
    input ~ .a-checkbox__custom {
      background-color: var(--checkbox-disabled-bg-color);

      border-color: transparent;
    }
  }

  &--error {
    input ~ .a-checkbox__custom::after {
      border-color: var(--checkbox-error-color);
    }
  }

  input:focus ~ &__custom {
    outline-color: var(--checkbox-focus-outline-color);
    outline-style: var(--checkbox-focus-outline-style);
    outline-width: var(--checkbox-focus-outline-width);
    outline-offset: var(--checkbox-focus-outline-offset);
  }
}
