.m-custom-list {
  &--light p {
    color: var(--custom-list-light);
  }

  &--dark p {
    color: var(--custom-list-dark);
  }

  &--primary p {
    color: var(--custom-list-primary);
  }

  &--secondary p {
    color: var(--custom-list-secondary);
  }

  &-title--light h3,
  &-title--light .h3 {
    color: var(--custom-list-title-light);
  }

  &-title--dark h3,
  &-title--dark .h3 {
    color: var(--custom-list-title-dark);
  }

  &-title--primary h3,
  &-title--primary .h3 {
    color: var(--custom-list-title-primary);
  }

  &-title--secondary h3,
  &-title--secondary .h3 {
    color: var(--custom-list-title-secondary);
  }
}
