.footer {

  #teconsent a {
    color: var(--footer-link-text-color);
  }

  .o-footer {
    background: var(--footer-bg-gradient);
    margin-top: 50px;

    .m-link-stack--title,
    .a-link__text {
      color: var(--footer-link-text-color);
    }

    &__top {
      padding-bottom: 40px;
    }

    &__disclaimer-section {
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.responsivegrid .aem-Grid > .footer.aem-GridColumn {
  margin-bottom: 0;
}
