.o-product-section {
  // Remove media side spacing
  &--remove-image-side-space {
    &.o-product-section--text-left {
      .o-product-section__image-wrapper,
      .cmp-image__title {
        text-align: right;
      }
    }

    &.o-product-section--text-right {
      .o-product-section__image-wrapper,
      .cmp-image__title {
        text-align: left;
      }
    }
  }

  &--layout-image-bottom {
    @media @lg-down {
      .o-product-section {
        &__content {
          order: 0;

          padding: 0 var(--product-section-content-padding-mobile)
            var(--product-section-content-padding-top);
        }

        &__image-wrapper {
          padding: 0;
        }
      }

      .m-custom-list {
        &__para,
        &__heading {
          padding-left: 0;
        }
      }
    }
  }
}
