.a-wizard {
  &__steps {
    .a-wizard__step--complete {
      .a-wizard__steps--icon {
        background-color: var(--wizard-step-active-color);
        border-color: var(--wizard-step-active-color);
      }
    }

    .a-wizard__step--incomplete {
      &.a-wizard-step--active .a-wizard__steps--icon {
        border-color: var(--wizard-step-active-color);
        border-width: 2px;

        &::before {
          color: var(--wizard-step-active-color);
        }
      }

      .a-wizard__steps--icon {
        font-weight: bold;
        border-color: var(--wizard-steps-inactive-color);

        &::before {
          color: var(--wizard-step-icon-color);
        }
      }
    }

    .a-wizard__step--complete .a-wizard__icon {
      color: var(--wizard-step-complete-icon-color);
    }

    .a-wizard__label {
      color: var(--wizard-step-text-color);
    }

    .a-wizard__step--complete,
    .a-wizard__step--incomplete.a-wizard-step--active {
      .a-wizard__label {
        color: var(--wizard-step-text-color);
      }
    }

    li.wizard-step {
      &.a-wizard-step--active:after {
        background-color: var(--wizard-step-sep-complete-color);
      }

      &:after {
        border-left: 20px solid var(--wizard-step-sep-padding-color);
        border-right: 20px solid var(--wizard-step-sep-padding-color);
        height: 1px;
      }

      &.a-wizard__step--complete + .wizard-step::after {
        height: 3px;
      }
    }
  }
}

.o-wizard {
  &__btn {
    &--disabled {
      position: relative;

      &:after {
        content: "";
        display: block;

        width: 100%;
        height: 100%;

        position: absolute;
      }

      .a-button {
        .btn {
          background-color: var(--button-disabled-bg-color);
          color: var(--button-disabled-color);

          opacity: 0.65;
        }
      }
    }
  }
}
