<template data-sly-template.categoryItem="${@ searchResultItem}">
  <div
    class="a-card-result a-card-result__cardrow col-md-12 col-lg-12 col-sm-12 result-items"
  >
    <div class="extradiv"></div>
    <div class="search-filter-tag-article executive-view">
      <a
        data-href="${searchResultItem.searchButtonLink}"
        data-default-search-btn-link="${searchResultItem.defaultSearchButtonLink}"
        aria-label="${searchResultItem.titleText}"
        class="a-card-result__image-link article-link">
        <div class="profile-image">
          <img
            src="${searchResultItem.imagePath @ context='html'}"
            class="product-card_image"
            alt="${searchResultItem.titleText}"
            title="${searchResultItem.titleText}"
          />
        </div>
        <div class="profile-details">
          <div class="profile-title">${searchResultItem.titleText}</div>
            <hr class="greyHr">
          <div class="profile-desc">${searchResultItem.descriptionText}</div>
        </div>
      </a>
    </div>
	</div>
</template>
