<template data-sly-template.categoryItem="${@ searchResultItem}">
  <div
    class="a-card-result a-card-result__cardrow col-md-4 col-lg-4 col-sm-12 result-items"
  >
    <div class="extradiv"></div>
    <div class="search-filter-tag-article">
      <a
        data-href="${searchResultItem.searchButtonLink}"
        data-default-search-btn-link="${searchResultItem.defaultSearchButtonLink}"
        aria-label="${searchResultItem.titleText}"
        class="a-card-result__image-link article-link"
      >
        <div class="article-image">
          <img
            src="${searchResultItem.imagePath @ context='html'}"
            class="product-card_image"
            alt="${searchResultItem.titleText}"
            title="${searchResultItem.titleText}"
          />
          <span class="read-more">Read More</span>
          <div class="story-overlay"></div>
        </div>

        <div class="article-details">
          <div class="article-category ${searchResultItem.headingColor}">
            ${searchResultItem.categoryTitle}
          </div>
          <div class="article-date" data-json="${searchResultItem.articleDate}">
            ${searchResultItem.articleDate}
          </div>
          <div class="article-title">${searchResultItem.titleText}</div>
          <div class="article-desc">${searchResultItem.descriptionText}</div>
        </div>
      </a>
    </div>
  </div>
</template>
