@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-black-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-bold-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-bolditalic-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-medium-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-mediumitalic-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-regularitalic-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-regularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-light-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-lightitalic-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-thin-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../resources/fonts/brandon/brandongrotesque-thinitalic-webfont.woff2') format('woff2'),
         url('../resources/fonts/brandon/brandongrotesque-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
/*********************
    Georgia Font
***********************/
@font-face {
    font-family: 'Georgia';
    src: url('../resources/fonts/georgia/GeorgiaBold/normal_normal.woff2') format('woff2'),
        url('../resources/fonts/georgia/GeorgiaBold/normal_normal.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('../resources/fonts/georgia/GeorgiaBoldItalic/italic_normal.woff2') format('woff2'),
        url('../resources/fonts/georgia/GeorgiaBoldItalic/italic_normal.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url('../resources/fonts/georgia/GeorgiaRegular/normal_normal.woff2') format('woff2'),
        url('../resources/fonts/georgia/GeorgiaRegular/normal_normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('../resources/fonts/georgia/GeorgiaItalic/italic_normal.woff2') format('woff2'),
        url('../resources/fonts/georgia/GeorgiaItalic/italic_normal.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
p {
	font-family: var(--paragraph-font-family);
}
body {
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	letter-spacing: var(--body-letter-spacing);
	font-weight: var(--body-font-weight);
	color: var(--body-font-color);
	-webkit-font-smoothing: antialiased;
}
h1, .h1 {
	font-size: 1.6875rem;
	line-height: 2.25rem;
}
h2, .h2 {
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  line-height: var(--heading-2-line-height);
  letter-spacing: var(--heading-2-letter-spacing);
  font-weight: var(--heading-2-font-weight);
  color: var(--heading-2-font-color);
}
h3, .h3 {
	font-family: var(--heading-3-font-family);
	font-size: var(--heading-3-font-size);
	line-height: var(--heading-3-line-height);
	letter-spacing: var(--heading-3-letter-spacing);
	font-weight: var(--heading-3-font-weight);
	color: var(--heading-3-font-color);
}
h4, .h4 {
	font-family: var(--heading-4-font-family);
	font-size: var(--heading-4-font-size);
	line-height: var(--heading-4-line-height);
	letter-spacing: var(--heading-4-letter-spacing);
	font-weight: var(--heading-4-font-weight);
	color: var(--heading-4-font-color);
}
h5, .h5 {
	font-family: var(--heading-5-font-family);
	font-size: var(--heading-5-font-size);
	line-height: var(--heading-5-line-height);
	letter-spacing: var(--heading-5-letter-spacing);
	font-weight: var(--heading-5-font-weight);
	color: var(--heading-5-font-color);
}
h6, .h6 {
	font-family: var(--heading-6-font-family);
	font-size: var(--heading-6-font-size);
	line-height: var(--heading-6-line-height);
	letter-spacing: var(--heading-6-letter-spacing);
	font-weight: var(--heading-6-font-weight);
	color: var(--heading-6-font-color);
	text-transform: uppercase;
}
@media (min-width: 576px) {
	h1, .h1 {
		font-size: 2.67188rem;
		line-height: 3.375rem;
	}
}
@media (min-width: 992px) {
	h1, .h1 {
		font-family: var(--heading-1-font-family);
		font-size: var(--heading-1-font-size);
		line-height: var(--heading-1-line-height);
		letter-spacing: var(--heading-1-letter-spacing);
		font-weight: var(--heading-1-font-weight);
		color: var(--heading-1-font-color);
	}
}
@media (max-width: 767.98px) {
	h2, .h2 {
		font-size: 1.6875rem;
		line-height: 2.25rem;
	}
}

a, a:hover, a:focus {
	color: #009CDE;
}
.o-header__secondary-top-nav {
	background-color: #29303F;
}
.o-header__logo-left img:last-child {
	opacity: 1;
	bottom: -18px;
}
.o-header .sticky .o-header__logo-section img:last-child {
	bottom: 0;
}
.o-header .sticky .o-header__logo-right {
	display: flex;
    opacity: 1;
}
.o-hero-carousel .slick-prev {
	left: 2px;
}
.o-hero-carousel .slick-next {
    right: auto;
    left: 57px;
}
.o-hero-carousel .slick-arrow {
	top: auto;
	bottom: -50px;
}
.o-hero-carousel .slick-dots li:not(:last-child) {
	margin-right: 5px;
}
.a-title--half h4 {
	width: 40%;
}
.a-title--half h4::before, .a-title--half h4::after {
	width: 72%;
}
.cmp-text a {
	text-decoration: underline;
}
.a-tabs__nav-link:hover {
	background-color: transparent;
	font-weight: bold;
}
.m-link-stack h6 {
	color: #AEAEC2;
}
.o-footer__link-wrapper .abt-icon-down-arrow {
	color: #888B8D;
}
.o-footer .horizontal-divider {
	border: 0.5px solid #D9D9D6;
	margin: 0 auto;
}
.o-footer__disclaimer-section {
	padding: 0;
}
.o-footer__disclaimer-section .a-link {
	margin-bottom: 0;
}
.o-footer__bottom .row .col-lg-6 {
	-webkit-box-flex:0;
	-ms-flex:0 0 100%;
	flex:0 0 100%;
	max-width:100%;
}
.o-footer__bottom .row .col-lg-6.order-lg-12 {
	-webkit-box-ordinal-group:1;
	-ms-flex-order:0;
	order:0;
}
.o-footer__copyright {
	margin: 1rem 0 0;
	color: #fff;
}
@media (min-width: 992px) {
	.o-hero-carousel .slick-dots {
		display: none !important;
	}
	.o-footer .horizontal-divider {
		max-width: 920px;
	}
	.o-footer__bottom .row .col-lg-6 {
		-webkit-box-flex:0;
		-ms-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}
@media (min-width: 1200px) {
	.o-footer .horizontal-divider {
		max-width: 1110px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.cmp-carousel .columncontrol__column.col-md-6 {
		-webkit-box-flex:0;
		-ms-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%;
	}
}
@media (max-width: 991.98px) {
	.o-hero-carousel--tall.o-hero-carousel .slick-dots {
		top: auto;
		bottom: 0;
	}
	.o-header__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.o-header__secondary-top-nav.d-none {
		display: block !important;
	}
	.o-header__secondary-top-nav, .o-header__sticky-section {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.cmp-carousel .columncontrol__column:nth-child(1), .o-header__secondary-top-nav {
		-webkit-box-ordinal-group:2;
		-ms-flex-order:1;
		order:1;
	}
	.cmp-carousel .columncontrol__column:nth-child(1) {
		margin-top: 40px;
	}
	.cmp-carousel .columncontrol__column:nth-child(2), .o-header__sticky-section {
		-webkit-box-ordinal-group:1;
		-ms-flex-order:0;
		order:0;
	}
	.o-hero-carousel .slick-arrow {
		display: none !important;
	}
	.o-hero-carousel .slick-dots {
		display: flex !important;
	}
	.a-tabs__nav-link {
		padding: 0.75rem 4.5rem;
	}
	.o-footer__disclaimer-section .a-link, .o-footer__copyright {
		margin-top: 0.75rem;
	}
}
@media (max-width: 767px) {
	.cmp-carousel .columncontrol__column:nth-child(1) {
		margin-top: 24px;
	}
	.a-title--half h4 {
		width: 70%;
	}
	.a-title--half h4::before, .a-title--half h4::after {
		width: 22%;
	}
	.a-tabs__nav-link {
		padding: 0.75rem 1.1rem;
	}
	.a-tabs__nav .a-tabs__nav-link:nth-child(3) {
		padding: 0.75rem 4rem;
	}
}
.o-header {
	--header-sticky-logo-border-bottom: 1px solid #e5e5e5 !important;
	--header-border-bottom: 1px solid #e5e5e5;
    --header-logo-section-border-bottom: #e5e5e5;
}
:root {
	--black-color: #000000;
	--white-color: #fff;
	--secondary-color: #64ccc9;
	--gray-darker-color: #63666a;
	--gray-darkest-color: #222731;
	--paragraph-font-family: Georgia, Times, "Times New Roman", serif;
	--body-font-size: 1.125rem;
	--body-font-family: "Brandon Grotesque", Arial, sans-serif;
	--body-letter-spacing: 0;
	--body-line-height: 1.6875rem;
	--body-font-weight: 400;
	--body-font-color: var(--black-color);
	--heading-1-font-size: 4.21875rem;
	--heading-1-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-1-letter-spacing: 1.2px;
	--heading-1-line-height: 5.625rem;
	--heading-1-font-weight: 700;
	--heading-1-font-color: var(--black-color);
	--heading-1-hero-font-size: 3.375rem;
	--heading-1-hero-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-1-hero-letter-spacing: normal;
	--heading-1-hero-line-height: 4.5rem;
	--heading-1-hero-font-weight: 700;
	--heading-1-hero-font-color: var(--black-color);
	--heading-2-font-size: 2.67188rem;
	--heading-2-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-2-letter-spacing: normal;
	--heading-2-line-height: 3.375rem;
	--heading-2-font-weight: 700;
	--heading-2-font-color: var(--black-color);
	--heading-2-hero-font-size: 2.67188rem;
	--heading-2-hero-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-2-hero-letter-spacing: normal;
	--heading-2-hero-line-height: 3.375rem;
	--heading-2-hero-font-weight: 700;
	--heading-2-hero-font-color: var(--black-color);
	--heading-3-font-size: 1.6875rem;
	--heading-3-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-3-letter-spacing: normal;
	--heading-3-line-height: 2.25rem;
	--heading-3-font-weight: 700;
	--heading-3-font-color: var(--black-color);
	--heading-4-font-size: 1.26562rem;
	--heading-4-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-4-letter-spacing: normal;
	--heading-4-line-height: 1.6875rem;
	--heading-4-font-weight: 700;
	--heading-4-font-color: var(--black-color);
	--heading-5-font-size: 1.125rem;
	--heading-5-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-5-letter-spacing: normal;
	--heading-5-line-height: 1.40625rem;
	--heading-5-font-weight: 700;
	--heading-5-font-color: var(--black-color);
	--heading-6-font-size: 0.84375rem;
	--heading-6-font-family: "Brandon Grotesque", Arial, sans-serif;
	--heading-6-letter-spacing: normal;
	--heading-6-line-height: 1.125rem;
	--heading-6-font-weight: 700;
	--heading-6-font-color: var(--black-color);
	--link-font-family: "Brandon Grotesque", Arial, sans-serif;
	--link-font-weight: 400;
	--link-font-size: 14px;
	--link-letter-spacing: normal;
	--link-line-height: 1.4;
	--link-font-color: var(--black-color);
}
.o-footer {
	--footer-padding: 2.8125rem 2.5rem;
	--footer-color: var(--white-color);
	--footer-bg-color: var(--gray-darkest-color);
	--footer-bg-gradient: var(--gray-darkest-color);
	--footer-top-section-padding-bottom: 12px;
	--footer-link-wrapper-padding-bottom: 1.25rem;
	--footer-link-wrapper-margin-bottom: 1rem;
	--footer-bootom-section-padding: 1.5625rem 0 0;
	--footer-link-text-font-family: "Brandon Grotesque", Arial, sans-serif;
	--footer-link-text-font-size: 0.84375rem;
	--footer-link-text-line-height: 1.125rem;
	--footer-link-text-color: var(--white-color);
	--footer-icon-color: var(--secondary-color);
	--footer-copyright-font-size: 0.84375rem;
	--footer-copyright-line-height: 1.125rem;
	--footer-copyright-color: var(--gray-darker-color);
	--footer-copyright-font-family: "Brandon Grotesque", Arial, sans-serif;
	--footer-spacing-xs: 0.31rem;
	--footer-spacing-s: 0.5rem;
	--footer-spacing-m: 1rem;
	--footer-spacing-m1: 0.9375rem;
	--footer-spacing-l: 1.5625rem;
	--footer-spacing-xl: 2rem;
	--footer-spacing-xxl: 2.1875rem;
	background-color: #000000;
}