.a-breadcrumb--link {
    color: var(--primary-theme-color);
    font-weight: normal;
}
.a-breadcrumb--active {
    color: var(--ash-color3);
}
.a-breadcrumb__item + .a-breadcrumb__item::before {
    content: ">";
}
@media (min-width: 992px) {
    .a-breadcrumb {
        margin-left: 0;
    }
}