#error-page-cont-wrap {
    margin-bottom: 7vh;
}
#error-page-cont-wrap .m-error-page .cmp-image {
    text-align: center;
}
#error-page-cont-wrap .m-error-page .cmp-image .m-error-page__bg-img {
    width: auto;
    min-height: auto;
}
#error-page-cont-wrap .m-error-page .m-error-page__content {
    text-align: center;
    position: relative;
    top: 10px;
}
#error-page-cont-wrap .m-error-page .m-error-page__content .error-title .cmp-title__text {
    color: var(--primary-theme-color);
    line-height: 3rem;
}
#error-page-cont-wrap .m-error-page .m-error-page__content #error-page-message-cont {
    flex: 1 0 0;
    max-width: 100%;
}
#error-page-cont-wrap .m-error-page .m-error-page__content #error-page-message-cont p {
    margin-bottom: 0;
    font-weight: bold;
    color: #5bc2e7;
}
@media (min-width: 992px) {
    #error-page-cont-wrap .m-error-page .m-error-page__content {
        top: 10px;
    }
}
@media (min-width: 576px) {
    #error-page-cont-wrap .m-error-page .m-error-page__content {
        top: 10px;
    }
}