#forget-password-form-wrap .container,
#reset-password-form-wrap .container,
#unsub-newsletter-cont-wrap .container,
#changePasswordForm .container {
    padding: 0;
}
#forget-password-response-wrap #forget-password-response-text {
    margin-bottom: 1.4rem;
}
#forget-password-form-wrap .o-form-container__buttons .a-button:first-child,
#reset-password-form-wrap .o-form-container__buttons .a-button:first-child,
#unsub-newsletter-cont-wrap .o-form-container__buttons .a-button:first-child {
    margin-left: 0;
}
#unsub-newsletter-cont-wrap {
    min-height: 37vh;
}
#change-password-login-access-info {
    min-height: 25vh;
}
#unsub-newsletter-pref-loggedin-wrap .a-checkbox,
#unsub-newsletter-logout-form .a-checkbox {
    margin-top: 0.7rem;
}
#change-password-update-alert.alert,
#profile-update-alert.alert {
    margin-bottom: 0;
}
#change-password-update-alert.alert p,
#profile-update-alert.alert p {
    margin-bottom: 0;
}
#unsub-newsletter-email-form-wrap p,
#forgot-password-container p,
#reset-password-container p {
    font-size: calc(var(--default-font-size) - .125rem);
}
#unsub-newsletter-email-form-wrap .formcontainer-halfwidth .o-form-container__element,
#forgot-password-container .formcontainer-halfwidth .o-form-container__element,
#reset-password-container .formcontainer-halfwidth .o-form-container__element  {
    flex: 0 0 345px;
    max-width: 345px;
}
#unsub-newsletter-email-form-wrap .cmp-text {
    line-height: 1rem;
}
#unsub-newsletter-email-form-wrap .experiencefragment #unsub-newsletter-email-form-api-error,
#unsub-newsletter-logout-form-wrap .experiencefragment #unsub-newsletter-pref-logout-api-error,
#unsub-newsletter-loggedin-form-wrap .experiencefragment #edit-profile-api-error {
    padding-top: var(--container-padding-top);
}
#edit-profile-api-error-xf .xf-content-height,
#edit-get-profile-api-error-xf .xf-content-height,
#unsub-newsletter-email-form-wrap .experiencefragment .xf-content-height,
#unsub-newsletter-logout-form-wrap .experiencefragment .xf-content-height {
    min-height: auto;
}
#events-confirm-email-redirection-wrap {
    min-height: 32vh;
}
/* Hiding Platform default error message to show custom message */
#forget-password-form-wrap .o-form-container__success-msg,
#forget-password-form-wrap .o-form-container__error-msg,
#reset-password-form-wrap .o-form-container__success-msg,
#reset-password-form-wrap .o-form-container__error-msg,
#changePasswordForm .o-form-container__success-msg,
#changePasswordForm .o-form-container__error-msg,
#unsub-newsletter-pref-loggedin-wrap .o-form-container__success-msg,
#unsub-newsletter-pref-loggedin-wrap .o-form-container__error-msg,
#unsub-newsletter-email-form .o-form-container__success-msg,
#unsub-newsletter-email-form .o-form-container__error-msg,
#unsub-newsletter-logout-form .o-form-container__success-msg,
#unsub-newsletter-logout-form .o-form-container__error-msg {
    display: none;
}
@media (max-width: 767.98px) {
    #unsub-newsletter-email-form-wrap .formcontainer-halfwidth .o-form-container__element,
    #forgot-password-container .formcontainer-halfwidth .o-form-container__element,
    #reset-password-container .formcontainer-halfwidth .o-form-container__element {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #unsub-newsletter-cont-wrap .o-form-container__buttons .a-button,
    #forget-password-form-wrap .o-form-container__buttons .a-button,
    #reset-password-form-wrap .o-form-container__buttons .a-button {
    	margin-left: 0;
    	margin-bottom:var(--button-form-margin-bottom);
	}
}
/* Hiding i18key error message containers */
#verify-registration-api-error,
#verify-registration-api-error .text .cmp-text,
#forgot-password-api-error,
#forgot-password-api-error .text .cmp-text,
#reset-password-api-error,
#reset-password-api-error .text .cmp-text,
#change-password-api-error,
#change-password-api-error .text .cmp-text,
#login-api-error,
#login-api-error .text .cmp-text,
#user-register-api-error,
#user-register-api-error .text .cmp-text,
#edit-profile-api-error,
#edit-profile-api-error .text .cmp-text,
#my-profile-api-error,
#my-profile-api-error .text .cmp-text,
#unsub-newsletter-email-form-api-error,
#unsub-newsletter-email-form-api-error .text .cmp-text,
#unsub-newsletter-pref-logout-api-error,
#unsub-newsletter-pref-logout-api-error .text .cmp-text {
    display: none;
}
#verify-registration-api-error .text .cmp-text.alert p,
#forgot-password-api-error .text .cmp-text.alert p,
#reset-password-api-error .text .cmp-text.alert p,
#change-password-api-error .text .cmp-text.alert p,
#login-api-error .text .cmp-text.alert p,
#user-register-api-error .text .cmp-text.alert p,
#edit-profile-api-error .text .cmp-text.alert p,
#my-profile-api-error .text .cmp-text.alert p,
#unsub-newsletter-email-form-api-error .text .cmp-text.alert p,
#unsub-newsletter-pref-logout-api-error .text .cmp-text.alert p {
    margin-bottom: 0;
}