/* tiles-with-background-image.css */

.o-tiles.div#homePage-news-section{

	padding:var(--homepage-tiles-bgimage-padding);
}

div#homePage-news-section-title h3 {
    width: 38%;
}
.a-title--half #homePage-news-section-title h3::before,.a-title--half #homePage-news-section-title h3::after{
    width: 20%;
}