/* tiles.css */


div#homePage-news-section .a-tile.a-tile--medium {
    margin: 0;
}
div#homePage-news-section .a-tile.a-tile--medium div{
   padding:15px
}
.a-tile--medium a[id*='homePage-tile'] {

        background: #007DB1;
    	border-radius: 0;
    	padding:5px;


}
@media only screen and (min-width: 1025px) {
    .a-tile--medium a[id*='homePage-tile'] {
        width: 320px;
        background: #007DB1;
        color: #ffffff;
        height:200px;
    }
}

.a-tile--medium a[id*='homePage-tile']:hover {
    background-color: #007DB1;
}

.a-tile--medium a[id*='homePage-tile']:after {
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.a-tile--medium a[id*='homePage-tile'] .a-tile__title,
 .a-tile--medium a[id*='homePage-tile'] .a-tile-text ,
 .a-tile--medium a[id*='homePage-tile'] .a-tile__para{
    color:#ffffff;
    margin-top:0;

}

/* commenting the view all link */

/* .link.button.a-link.a-link--icon { 
     position: relative; 
	 top: -122px; 
     left: 44%;
 } */

a#all-stories {
    color: #000000;
    font-weight:bold;
    text-decoration:underline;
    font-size:14px
}
.a-tile--medium a[id*='homePage-tile'] .a-tile__para {
    text-overflow: ellipsis;
   	overflow:hidden;  
  	display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;    
    padding-top:0 !important;
    height:75px !important;
}