<sly data-sly-use.prodCategory="com.abbott.aem.ardx.division.core.components.models.ProductCategory"
   data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
   id="${component.id}" >
   <section id="section_${component.id}">
      
      <div class="${wcmmode.edit ? 'product_category_configurations_edit' : 'product_category_configurations'}">
         <h5>Product Category Component Configurations</h5>
         <p id="showMoreDesktop" class="d-none">${prodCategory.showMoreDesktop}</p>
         <p id="showMoreTablet" class="d-none">${prodCategory.showMoreTablet}</p>
         <p id="showMoreMobile" class="d-none">${prodCategory.showMoreMobile}</p>
         <p id="showMoreDesktopSub" class="d-none">${prodCategory.showMoreDesktopSubCategory}</p>
         <p id="showMoreTabletSub" class="d-none">${prodCategory.showMoreTabletSubCategory}</p>
         <p id="showMoreMobileSub" class="d-none">${prodCategory.showMoreMobileSubCategory}</p>
         <p id="eslEndPoint" class="d-none">${prodCategory.eslEndPoint}</p>
      </div>

   </section>
</sly>
