#anhi-container-info .o-cta-section .o-cta-section__content .o-cta-section__title h3 {
        font-family: var(--font-brandontext-regular);
        font-weight: normal;
}


/*Hero banner button alignment for ANHI pages*/
@media (min-width: 991.98px) {
        #section_anhi-hero-banner .m-hero__content {
                padding-top: 20px;
        }

        #section_anhi-hero-banner .m-hero__content .m-hero__extras {
                margin-top: 0px;
        }

        #section_anhi-hero-banner .m-hero__content .m-hero__extras a span {
                font-family: var(--font-brandontext-regular);
                font-weight: normal;
                font-size: 0.875rem;
                letter-spacing: 1.25px;
                line-height: 18px;
        }

}