.a-cardresult-link {
    position: absolute;
    bottom: 0;
}

.o-search-res__results article.a-cardresult {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100%;
    margin: 0;
    align-items: stretch;
    padding: 0 15px 55px;
}

.o-search-res__results article.a-cardresult>* {
    width: 100%;
}

.product-img {
    position: relative;
}

.productComapreTry {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.ctaWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.product-wrapper .product-img img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

p.closeicon {
    position: absolute;
    right: 40px;
    top: auto;
    bottom: auto;
    margin: auto;
    height: 20px;
    z-index: 999999999999;
}

.compareCTAWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.compareCTAWrapper .compareCTA {
    background-color: #009cde;
    color: #fff;
    min-width: 153px;
    line-height: 40px;
    border-radius: 4px;
    border: none;
    margin: 0 0 23px 0;
    font-family: var(--font-brandontext-regular);
}

.checkBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.checkBox p {
    margin: 0;
}

.compare-tray {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 946px;
    z-index: 99;
    border: 1px solid #404040;
    background-color: #fff;
}

.compare-tray .card-header {
    border: none;
    padding: 0;
}

.compare-tray .card-header a.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    font-size: 1.125rem;
    line-height: 18px;
    color: #212121;
    padding: 26px 10px 18px;
}

.compare-tray .card-header a.title p {
    margin: 0;
    font-family: var(--font-brandontext-regular);
}

.compare-tray .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 612px;
    margin: 0 auto;
    padding: 0 0 17px 0;
}

.compare-tray .card-body .product-img {
    position: relative;
    margin: 0 16px 0 0;
}

.compare-tray .card-body .product-img img.delProduct {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.removeAll {
    text-decoration: underline;
    border: 0;
    background-color: transparent;
    font-family: var(--font-text-georgia);
    font-weight: bold;
}

.removeicon {
    position: absolute;
    top: -10px;
    right: -5px;
    color: #fff;
    cursor: pointer;
    background-color: #222731;
    padding: 2px;
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.customAccordionHeader a.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.compareCTAWrapper .compareCTA:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.customAccordionHeader p.titleP {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 19px 10px;
    margin: 0;
    font-family: var(--font-brandontext-regular);
    color: #212121;
    font-size: 1.125rem;
    line-height: 18px;
}

.customAccordionHeader p.titleP+p {
    padding: 32px 0 0 10px;
    margin: 0;
    transform: rotate(-180deg);
}

.customAccordionHeader.open p.titleP+p {
    transform: rotate(0) translate(0px, 10px);
    padding: 0px 10px 0px 0;
}

.customAccordionHeader.open p.titleP {
    display: none;
    padding: 0;
}

.customAccordionHeader.open a.title {
    justify-content: flex-end;
}

.customAccordionHeader em.abt-icon.abt-icon-down-arrow {
    color: #63666a;
    font-weight: 100;
}

.compare-popup-alert {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #0009;
    z-index: 100;
}

.compare-popup-alert .popup-alert {
    position: fixed;
    top: 50%;
    background: #fff;
    left: 50%;
    margin-top: -100px;
    margin-left: -238px;
}

.compare-popup-alert .logo {
    text-align: center;
    margin-bottom: 20px !important;
}

.compare-popup-alert .aem-Grid.aem-Grid--12 {
    padding: 35px;
}

.compare-popup-alert h5 {
    color: #212121;
    font-family: var(--font-brandontext-bold);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
}

.compare-popup-alert p {
    color: #212121;
    font-family: var(--font-text-georgia);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}

.compare-popup-alert .button a {
    background-color: #009cde;
    color: #fff;
    line-height: 40px;
    border-radius: 4px;
    border: 0;
    font-family: var(--font-brandontext-regular);
    padding: 0 10px;
}

.compare-popup-alert .a-logo-comp--image {
    width: 120px;
}

.removealert {
    float: right;
    padding: 5%;
    color: #63666a;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .compare-tray {
        max-width: 705px;
    }

    .customAccordionHeader p.titleP {
        padding: 17px 0 16px 10px;
    }

    .customAccordionHeader p.titleP+p {
        padding: 20px 0 0 10px;
    }
}

@media screen and (max-width: 767px) {
    .customAccordionHeader p.titleP {
        padding: 9px 0 10px 10px;
    }

    .customAccordionHeader p.titleP+p {
        padding: 30px 0 0 10px;
    }

    .compare-tray {
        max-width: calc(100% - 40px);
    }

    .compare-tray .card-body {
        flex-direction: column;
        padding: 0 18px;
        padding-top: 25px;
    }

    .product-wrapper {
        margin: 0 0 17px 0;
        align-items: center;
        justify-content: center;
    }

    .product-wrapper .product-img img {
        width: 60px;
        height: 60px;
    }

    .compareCTAWrapper .compareCTA {
        width: 100%;
        margin: 0 0 16px 0;
    }

    .removeAll {
        margin: 0 0 25px;
        text-transform: uppercase;
    }
}

@media (max-width: 767.98px) {
    .a-button {
        justify-content: end !important;
    }
}

@media screen and (max-width: 480px) {
    .compare-popup-alert .popup-alert {
        margin: 20px;
        margin-left: -170px;
        margin-top: -140px;
    }
}