/* footer grid in 3 columns for desktop*/
@media (min-width: 991.98px) {
    .o-footer .three-column {
        columns: 3 auto;
        column-gap: 2rem;
    }
    .o-footer .o-footer__top{
        padding-bottom: 55px!important;
    }
}