/* for insurncae coverage heading to be regular*/
#an-nutritioncare-insurance-support h2{
  font-family: var(--font-brandontext-regular) !important;
  font-weight: normal;
}

#an-nutritioncare-navigation-doctorvisit p,
#an-nutritioncare-insurance-support p {
  color: #212121;
  font-family: var(--font-text-georgia);
  font-size: 1.125rem  !important;
  letter-spacing: 0;
  line-height: 24px;
}

#an-nutritioncare-info p {
  color: #212121;
  font-family: var(--font-brandontext-regular);
  font-size: 0.75rem  !important;
  letter-spacing: 0;
  line-height: 16px;
}
/* mobile responsive css start*/
@media (max-width: 767.98px) {
  #an-nutritioncare-navigation-doctorvisit h2,
  #an-nutritioncare-insurance-support h2 {
    font-family: var(--font-brandontext-regular);
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: left;
  }

  #an-nutritioncare-navigation-doctorvisit p,
  #an-nutritioncare-insurance-support p {
    text-align: left;
    font-size: 0.875rem;
    line-height: 20px;
  }

  #an-nutritioncare-info, #an-nutritioncare-navigation-doctorvisit {
    margin: 0;
  }
}

.brightcove-video-link{
  display:inline-block;
}
.brightcove-video-link .brightcove-video-link__Popup{
  display:block;
  width:100%;
  height:100%;
}

/* Nutrition Care  End*/

