.a-pagination{
	border-top: 0.625rem solid #D9D9D6;
    padding-bottom: 2rem;
}

nav ul.a-pagination__pages{
	display: flex;
    justify-content: center;
    margin-top: 0.625rem;
    border: 0;
}

li.a-pagination--previous .a-pagination__link:hover,
li.a-pagination--next .a-pagination__link:hover,
li .a-pagination__link:hover{
	background-color: #D9D9D6;
}

li .a-pagination--active:after{
	height: 1px;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
}
li .a-pagination__link:active, .a-pagination__link:focus{
	background-color: #D9D9D6;
    border-left: 0;
    border-right: 0;
}

li a.a-pagination__link {
    font-size: 1rem;
	border-bottom: 0;
    font-family: var(--font-brandontext-regular);
}
.a-pagination__link.no-click{
    cursor: default;   
    opacity: 0.5;
}