@media screen and (min-width: 992px) {
    #privacy-policy-container {
        margin-left: 9%;
    }
}

#privacy-request-cta .o-cta-section .o-cta-section__content .o-cta-section__title {
    width: 110%;
}

#privacy-request-frame {
    margin-top: -65px;
}

#privacy-faq-cta .ctasection {
    margin-bottom: -65px;
}

#privacy-policy-content .cmp-text h2 {
    padding-bottom: 20px;
    padding-top: 80px;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.5rem;
}

#privacy-policy-content .cmp-text>h2:first-child {
    padding-top: 0;
}

#ccpa-accordian {
	margin-top: 2.5rem;
}


@media screen and (min-width: 992px) {
    #privacy-request-frame {
        margin-left: -50px;
    }
}

@media screen and (max-width: 991.98px) {

    #privacy-policy-content .link,
    #privacy-policy-content .a-link,
    #privacy-policy-content .a-link__text {
        width: 100%;
    }

    #privacy-policy-content .a-link__inner-text {
        position: absolute;
        left: 30px;
    }
}

@media screen and (max-width: 767.98px) {

    #privacy-faq-cta .o-cta-section .o-cta-section__content .o-cta-section__title h3,
    #privacy-request-cta .o-cta-section .o-cta-section__content .o-cta-section__title h3,
    #privacy-policy-cta .o-cta-section .o-cta-section__content .o-cta-section__title h3 {
        font-size: 1.5rem;
        line-height: 24px;
        font-weight: normal;
        font-family: var(--font-brandontext-regular);
    }

    #privacy-faq-cta .o-cta-section .o-cta-section__content .o-cta-section__sub-title h4,
    #privacy-request-cta .o-cta-section .o-cta-section__content .o-cta-section__sub-title h4,
    #privacy-policy-cta .o-cta-section .o-cta-section__content .o-cta-section__sub-title h4 {
        font-size: 1.125rem;
        line-height: 18px;
        font-weight: normal;
        font-family: var(--font-brandontext-regular);
    }

    /*commented for now to get confirmation on button size*/
    /* #privacy-faq-cta .o-cta-section .o-cta-section__button-wrap .a-button .btn span,
    #privacy-request-cta .o-cta-section .o-cta-section__button-wrap .a-button .btn span,
    #privacy-policy-cta .o-cta-section .o-cta-section__button-wrap .a-button .btn span {
        font-size: 20px;
        letter-spacing: 1.25px;
        line-height: 18px;
    } */

    #privacy-request-iframe {
        height: 2300px !important;
    }

    #privacy-policy-content .cmp-text h2 {
        font-size: 1.125rem;
        letter-spacing: 0;
        line-height: 18px;

    }

    #privacy-request-frame {
        margin-top: 0px;
    }

    #privacy-policy-content {
        padding: 0;
    }
}

.accordion .cmp-text p strong{
    font-size: inherit !important;
}