#text-discription h4,
#text_all-be-foods h4,
#text_non-gmo-products h4,
#text_some-agricultural h4,
#text_why-do-i-see h4 {
        color: #212121;
        font-family: var(--font-brandontext-regular);
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 24px;
        margin-top: 40px;
}

#test-bioengineered h2 {
        font-weight: bold;
}

.cmp-container .cmp-text p strong,
.cmp-container .cmp-text p em {
        color: #000000;
        font-family: var(--font-text-georgia);
        font-size: 0.875rem;
        letter-spacing: 0;
        line-height: 20px;
}

@media screen and (max-width: 991.98px) {

        #an-qr-additional-info-btn .a-button {
                width: 235px;
                margin: auto;
        }

        #bio-engineering-learn-more-btn {
                width: auto;
        }
}

#an-qr-additional-info-btn .a-button {
        width: 235px;
        margin: 0 auto;
}

#text_all-be-foods,
#text_some-agricultural {
        background-color: #B6ECFF;
        padding: 9px 12px 11px 14px;
}

@media (max-width: 767.98px) {
        #container_image-button .a-button {
            justify-content: center !important;
        }
}
