
/*Tube feeding section buttons*/
#tb-feeding-heading-container .a-button .btn span {
    color: #FFFFFF;
    font-family: var(--font-brandontext-regular);
    font-size: 0.875rem;
    letter-spacing: 1px;
    line-height: 18px;
}

#tb-resources-heading {
    padding-top: 3rem;
    text-align: center;
}

/* Tube basic community section*/
#tb-community-support-section #tb-community-support-para p{
    font-family: var(--font-text-georgia);
    font-size: 1.125rem !important;
    letter-spacing: 0;
    line-height: 24px !important;
}

/* tube basic accordian section*/
#tb-accordian .m-accordion__content .m-accordion__content-items .m-accordion__body .a-container__content .text {
    margin-bottom: 0px;
}

#tb-accordian .m-accordion__content .m-accordion__content-items .m-accordion__body .a-container__content .link {
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

#tb-accordian .m-accordion__content .m-accordion__content-items .m-accordion__body .a-container__content .link .a-link a {
    padding-bottom: 8px;
}

#tb-accordian .m-accordion__content .m-accordion__content-items .m-accordion__body .a-container__content .link .a-link a span {
    font-weight: bold;
}

/* Tube basic disclaimer section*/
#tb-disclaimer-msg p {
    font-family: var(--font-brandontext-regular);
    font-size: 0.75rem !important;
    letter-spacing: 0;
    line-height: 16px !important;
    margin: 10px 0 0 0;
}