<template data-sly-template.bannerImage="${@ image}">
    <div class="abbott-banner-image">
		<a target="_blank" href="${image.imageLink}">
			<picture>
				<source media="(min-width: 855px)" srcset="${image.fileReferenceImage}">
				<source media="(min-width: 750px)" srcset="${image.fileReferenceImage}">
				<source media="(max-width: 375px)" srcset="${image.fileReferenceImage}"> 
				<img src="${image.fileReferenceImage}" alt="${image.imgAltText}"> 
			</picture>
		</a>
    </div>
</template>

