//@todo - Avoid writing CSS on global level classes until there is a context class put in place
html,body{
    max-width: 100%;
    overflow-x: hidden;
}

.layoutcontainer {
    .a-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    .a-container__layout-section {
        align-items: center;
    }
}

.container-fluid.column-layout-container {
    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.container{
    max-width: 940px;
}

.header-wrapper-edit{
    .header_main, .container{
        max-width: 100%;
    }
}

a.disabled {
    pointer-events: none;
    cursor: auto;
    opacity: 0.65;
}

a:focus-visible,
button:focus-visible,
fieldset:focus-visible {
    outline: -webkit-focus-ring-color auto 1px !important;
}

@media (min-width: @screen-md) and (max-width: @screen-lg){
    .container {
        max-width: 616px !important;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .container{
        max-width: 616px !important;
    }
}