<sly data-sly-use.templates="abbott/components/content/templates.html"/>
<sly data-sly-test.addTitle = "${properties.anonymousLabel}" />
    <div class="title-bar subscribe-show d-none">
        ${properties.loggedinLabel @context='html'}
    </div>
    <div class="title-bar trial-show d-none">
        ${properties.anonymousLabel @context='html'}
    </div>
    <div class="placeholder__title-bar">
        <div class="loader"></div>
    </div>
<sly data-sly-call="${templates.placeholder @ isEmpty= !addTitle}"></sly> 