.customize-time-picker{
    .time-picker {
		display: inline-block;
		border-radius: 6px;
        border: 1px solid #ccc;
        padding: 6px 4px;
        position: absolute;
        top: 50px;
        z-index: 10;
        background-color: #FFF;
        width: 100%;
        font-size: 16px;
        @media screen and (max-width:767.98px){
            width: 45%;
        }
        select.time-picker__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            text-align: center;
            border: none;
            border-radius: 6px;
            padding: 5px;
            cursor: pointer;
            option:hover{
                background-color: #008924;
            }
        }
    }
}