<!-- Variation Two Similac Store file-->
<template data-sly-template.template="${@ relativeResourcePath}">
   <sly data-sly-use.templates="abbott/components/content/templates.html"/>
   <sly data-sly-use.footerModel="com.abbott.aem.an.abbottstore.models.FooterModel"/>
   <footer class="footer footer__section similac-footer">
      <div class="container">
         <div class="${footerModel.variation} row">
            <div class="col-md-8">
               <sly data-sly-call="${templates.includeResource @ relativeResourcePath=relativeResourcePath, nodeName='list1', slingResourceType='abbott/components/content/list'}"/>
            </div>
            <div class="col-md-4">
               <div class="similac-footer__logo">
                  <sly data-sly-call="${templates.includeResource @ relativeResourcePath=relativeResourcePath, nodeName='logo', slingResourceType='abbott/components/content/logo'}"/>
               </div>
            </div>
         </div>
      </div>
   </footer>
</template>