.m-layout-container {
  padding-top: var(--layout-container-padding-top);
  padding-bottom: var(--layout-container-padding-bottom);
}
.m-layout-container .a-container {
  margin: 0;
  padding: 0;
}
.m-layout-container--subtitle {
  font-size: var(--layout-container-subtitle-font-size);
  line-height: var(--layout-container-subtitle-line-height);
  color: var(--layout-container-subtitle-color);
  text-transform: none;
  font-weight: normal;
}
