@import "../global/media-queries.less";
@import "../global/variables.less";


.o-hero-carousel {
  .abt-icon-left-arrow,
  .abt-icon-right-arrow {
    display: none !important ;
  }

  .slick-dots {
    width: 93% !important;
    bottom: 45px !important;
    @media (min-width: 768px) and (max-width: 991.98px) {
      bottom: 0;
    }

    li {
      margin-right: 8px !important;
    }
	@media @lg-down
    {
      width: auto !important;
      left: 49% !important;
      bottom: -29% !important;
      top: auto !important;     
    }
    @media @md-down {
      display: none !important;
    }
  }
  --indicator-width: 16px;
  --indicator-height: 16px;
  --indicator-border-width: 1px;
  --indicator-border-color: #ccc;
  --indicator-dot: #fff;
  --indicator-border-radius: 50%;
  --indicator-dot-active: #717477;
  --indicator-light-dot: #fff;
  --indicator-light-dot-active: #717477;
  --indicator-dark-dot-bg-color: #fff;
  --indicator-container-dark-bg: #000;
  --indicator-dot-hover-color: #fff;

  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 364px;
  }

  .slick-slider {
    @media (min-width: 768px) and (max-width: 991.98px) {
      height: 256px;
    }
    .slick-track, .slick-list{
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition-delay: 10ms
    }
  }
}

