@import './globals/mixins.less';
@import './globals/media-queries.less';
@import './globals/variables.less';

//Page Style
@valid-arrow: #52BE08;
.container{
    #acsBtnContainer,
    #acsCodeForm,
    #acsCodeRedeemedPopup,
    #accessManualCodeWaitMsg,
    #accessDynamicCodeWaitMsg{
        display: none;
    }
    #acsDynamicCheckForm,
    #acsManualCheckForm {
        display: none;

        .abt-icon-tick {
            display: none;
            color: @valid-arrow;
        }

        .button {
            margin-top: 20px;
        }

    }
}

#fsl3AccCodeHeroBanner {
    margin-top: -60px;
    margin-right: -15px;
    margin-left: -15px;
    @media @md-up {
        margin-right: -35px;
        margin-left: -35px;
    }
    @media @lg-up {
        margin: 0;
    }
    
}

//Mobile Style
#acsFeatureContainer .a-container__column {
    @media @md-down {
        margin-top: -20px;    
    }
}

//authoring style
.cq-Editable-dom {
    #acsDynamicCheckForm, 
    #acsManualCheckForm, 
    #acsBtnContainer,
    #acsCodeForm,
    #acsCodeRedeemedPopup,
    #accessManualCodeWaitMsg,
    #accessDynamicCodeWaitMsg{
        display: block;
    }
}