<template data-sly-template.headerLogo="${@ header}">
    <div class="o-header__logo-section an-header-logo">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-8 col-sm-8 col-lg-8">
                    <div class="o-header__logo-left align-items-center">
                        <div class="o-header__logo-left--item1">
                            <div data-sly-unwrap="${!wcmmode.edit}" class="${wcmmode.edit ? 'logo-comp-edit' : ''}">
                                <sly
                                    data-sly-resource="${'hdr-logo-left-1' @resourceType=header.logoProxyPath,decoration=true}" />
                            </div>
                        </div>
                        <div class="o-header__logo-left--item2">
                            <div data-sly-unwrap="${!wcmmode.edit}" class="${wcmmode.edit ? 'logo-comp-edit' : ''}">
                                <sly
                                    data-sly-resource="${'hdr-logo-left-2' @resourceType=header.logoProxyPath,decoration=true}" />
                            </div>
                        </div>
                        <div class="o-header__logo-left--item3 d-none d-lg-block">
                            <sly
                                data-sly-resource="${'hrd-left-logo-link' @resourceType=header.linkProxyPath,decoration=true}" />
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-3 col-lg-3">
                    <div class="o-header__logo-right  ${wcmmode.edit ? 'logo-comp-edit' : ''} d-none d-lg-block">
                        <sly
                            data-sly-resource="${'hdr-logo-right' @resourceType=header.logoProxyPath,decoration=true}" />
                    </div>
                    <div class="m-menu__mobile d-lg-none">
                        <span class="menu-toggle abt-icon abt-icon-hambuerger-menu"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>