
    //recetas setion
    .recetas-section {
        .columncontrol {
            @media @md-down {
                margin-bottom: 0 !important;
            }
            .container {
                padding: 0;
                .columncontrol__column {
                    >.title {
                        margin-top: 0 !important;
                    }              
                    .text {
                        &:last-child {
                            @media @lg-down {
                                margin-bottom: 0 !important;
                            }
                        }
                    }                
                }          
            }
        }
        .title, .text{
                margin-bottom: 15px !important;
                margin-top: 15px !important;
        }  
        .title{
            @media @md-down{
                margin-top: 0 !important;
            }
        }
    }

    //mobile column reverse
    .column-reverse{
        .columncontrol__column{
            &:first-child{
                @media @md-down{
                    order: 2;
                }
            }
            &:last-child{
                @media @md-down{
                    order: 1;
                }
            }
        }
    }

    .link{
        .a-link__text {
            color: #2e5481;
            text-decoration: underline;
            font-weight: 100;
            
        }
    }

    // viviendo pages
    .viviendo-section {
        .columncontrol__column{
            .title{
                margin-bottom: 34px !important;
                .cmp-title__text{              
                    .cmp-title__link{
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 100;
                        @media @md-down{
                            font-size: 21px;
                            line-height: 28px;
                        }
                    }
                }
            }
            .title.a-title--base{
                margin-bottom: 15px !important;
            }
            .image{
                .cmp-image{
                    @media @lg-up{
                        margin-bottom: 60px;
                    }
                }       
            }
            .text{
                .cmp-text{
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        color: #5e5e5e;
                    }
                }
            }
            ul, ol{
                li{
                    font-size: 16px;
                    line-height: 20px;
                    color: #5e5e5e;
                    word-break: break-word 
                }
            }
            .m-table-component{
                table{
                    border: 1px solid #333;
                    tr{
                        padding: 5px;
                        td{
                            p{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            @media @lg-only{
                flex: 0 0 100%;
                max-width: 100%;            
            }
            &:last-child{
                @media @lg-only{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;               
                    .image{
                        width: 312px;
                        height: 214px;
                        margin-top: 0 !important;   
                    }
                }
            }
        }
        .image{
            .cmp-image{
                margin-bottom: 25px;
            }       
        }
        .detailpagetable{
            .columncontrol__column{
                .m-table-component{
                    table{
                        border: 1px solid #333;
                        tbody{
                            tr{
                                td{
                                    p{
                                        font-size: 16px;
                                        font-family: @font-avenir-next-rounded-regular;
                                    }
                                    &:first-of-type{
                                        border-right: 1px solid #333;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // product sections
    .product__section{
        .columncontrol{
            margin-bottom: 0 !important;
            @media @md-down{
                margin-top: 0 !important;
            }
            .columncontrol__column{
                >.text{
                    margin-top: 0 !important;
                }
                .text.o-color-blue{
                    p{
                        font-family: @font-avenir-next-bold;
                        font-size: 12.25px;
                        color: #203972;
                        font-weight: bold;
                    }
                } 
                .a-container{
                    padding: 0;
                }
                .image{
                    .pc-img1{
                        img{
                            position: relative;
                            max-width: 350px;
                            margin: 0 auto 30px;
                            left: 21%;
                            @media @lg-only{
                                max-width: 80%;
                            }
                            @media @md-down{
                                max-width: 100%;
                                left: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .pc-img2{
                        img{
                            @media @md-up{
                                width: 52%;
                                position: absolute;
                                bottom: 0;
                                left: 10%;
                            }
                            @media @md-down{
                                margin-bottom: 15px;
                            }
                        }
                    }
                }          
            }
        }
    }

    .product-img-center{
        position: relative;
        .columncontrol__column{
            &:first-child{
                .image{
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                    img{
                        width: 100px;
                    }
                }
            }  
            .image{
                padding-bottom: 20px;
                img{
                    width: auto;
                }
            } 
            @media only screen and (max-width: 767.98px){
                flex: 0 0 50%;
                max-width: 50%;
                &:first-child{
                    order: unset;
                    flex: 0 0 25%;
                    max-width: 25%;
                }
                &:last-child{
                    order: unset;
                }
            }   
        }
    }
    .pc-content-wrap{
        h1{
            font-size: 28px;
            color: #002D72;
            line-height: 38px;
            margin-bottom: 11px;
        }
        h2{
            font-size: 21.35px;
            line-height: 30px;
            margin-bottom: 11px;
        }
        .productCategorySummary{
            padding-top: 15px;
            p{
                font-size: 14px;
                line-height: 22.4px;
                color: #7d7d7d;
                margin-bottom: 11px;
            }
            ul{
                margin-bottom: 11px;
                li{
                    color: #002D72;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .foot-note{
                padding-top: 20px;
            }
        }
    }
    .container:has(.product-flavour-section){
        margin: 0 !important;
        @media @md-up{
            display: flex;
            justify-content: flex-end;
        }
    }
    .product-flavour-section{
        @media @md-up{
            width: 50%;
        }
    }
    .pc-three-layout{
        .columncontrol__column{
            &:first-child{
                @media @lg-down{
                    display: none;
                }
            }
        }
    }
    .pc-two-layout{
        .columncontrol__column{
            &:first-child, :nth-child(2){
                @media @lg-down{
                    display: none;
                }
            }
        }
    }
    .pc-middle-layout{
        .columncontrol__column{
            &:first-child, :last-child{
                @media @lg-down{
                    display: none;
                }
            }
        }
    }
    .pc-flavour-section, .product-flavour-section{
        p{
            font-family: @font-avenir-next-bold;
            font-size: 12.25px;
            color: #203972;
            margin-bottom: 0;
        }
        .columncontrol__column{
            .image{
                img{
                    width: 100px;
                    height: 100px;
                }
                .cmp-image__title{
                    font-family: @font-avenir-next-bold;
                    font-size: 12.25px;
                    color: #203972;
                    margin-bottom: 0;
                }
            }
            @media @md-down{
                flex: 0 0 50%;
                max-width: 50%;
                &:first-child{
                    order: unset;
                }
                &:last-child{
                    order: unset;
                }
            }
            p{
                @media @md-down{
                    padding-right: 30px;
                }
            }
        }
    }
    .pc-nutritional-information{
        .row{
            justify-content: space-between;
        }
        .columncontrol__column{
            @media @lg-up{
                flex: 0 0 48%;
                max-width: 48%;
            }
            @media @lg-only{
                flex: 0 0 47%;
                max-width: 47%;
            }
            .title{
                margin: 0 !important;
                h3{
                    border-bottom: 11px solid #0A2E5F;
                    padding-bottom: 13px;
                    color: #0A2E5F;
                    font-weight: bold;
                    margin-bottom: 7px;
                }
            }
            .m-table-component{
                margin: 0 !important;
                .table-responsive{
                    table{
                        margin-bottom: 0;
                        tbody{
                            tr{
                                border-bottom: 1px solid #858585;
                                th, td{
                                    padding: 2px;
                                    p{
                                        line-height: 30px;
                                        font-family: @font-avenir-next-regular;
                                        font-size: 12.25px;
                                        color: #858585;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .detail-table{
        table{
            border: 1px solid #333;
            @media @md-down{
                width: 100%;
            }
            tr{
                padding: 5px;
                td{
                    padding: 10px;
                    &:first-of-type{
                        border-right: 1px solid #333;
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // sitemap
    .sitemap{
        .cmp-navigation{
            .cmp-navigation__group{
                @media @md-down{
                    padding-left: 0;
                }
                .cmp-navigation__item{
                    padding-bottom: 22px;
                    list-style: none;
                    .cmp-navigation__item-link{
                        font-family: @font-avenir-next-bold; 
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .cmp-navigation__group{
                        padding-left: 0;
                        .cmp-navigation__item{
                            padding-bottom: 0;
                            .cmp-navigation__item-link{
                                font-family: @font-avenir-next-rounded-regular;
                            }
                        }
                    }
                }
            }
        }
    }
    .contactus-section{
        .title{
            h2{
                font-size: 32px;
                line-height: 38px;
                @media @md-down {
                    font-size:21px;
                    line-height: 21px
                }
            }
        }
        .text{
            ul{
                @media @md-down{
                    padding-left: 20px; 
                }
                li{
                    list-style: disc;
                    color: #5e5e5e;
                    font-size: 16px;                
                }
            }
            p, ol li{
                color: #5e5e5e;
                font-size: 16px;
            }
            ol{
                @media @md-down{
                    padding-left: 20px;   
                }
            }
        }
    }
    .container:has(#section-proteincalculator) + .title{
        margin-bottom: 0 !important;
    }
    .accordion{
        margin: 0 !important;
        padding-top: 25px !important;
        .m-accordion{
            margin-left: 0;
            .m-accordion__options{
                margin-bottom: 0;
                .m-accordion__content{
                    .m-accordion__content-items{
                        &:first-child{
                            border-top: none ;
                        }
                        &:last-child{
                            border-bottom: 1px solid #888b8d;
                        }
                        .m-accordion__header{
                            h3{
                                color: #333;
                            }
                        }
                    }
                
                }
            }       
        }
    }

    // table with border
    .m-table-component{
        .m-table-component__table.with-border{
            tbody{
                tr{
                    td{
                        --table-light-gray: #000;
                    }
                }
            }
        }
    }

    .foot-note{
        font-size: 11.62px;
        color: #7d7d7d;
    }