<sly data-sly-use.footer="com.abbott.aem.adc.freestylelibrede.models.FooterModel">
  <footer class="w-100 bg-white adc-footer">
    <div class="container">
      <div class="row align-items-center">
        <!-- country selector -->
        <div class="col-lg-3 col-md-6 col-xs-12"
          data-sly-resource="${'country-experience-fragment' @ resourceType='cq/experience-fragments/editor/components/experiencefragment'}">
        </div>
        <!-- /country selector -->
        <div class="col-xl-9 col-md-6 col-xs-12">
          <div class="adc-footer__social d-flex align-items-md-center justify-content-md-end">
            <p class="m-0 pr-1 d-none d-md-block">${footer.followus}</p>
            <div class="d-flex m-0">
              <sly
                data-sly-resource="${'logoMobileFooter' @ resourceType='adc/freestylelibrede/components/content/childeditor'}">
              </sly>
            </div>
          </div>
          <div class="d-md-none float-right"
            data-sly-resource="${'logo' @ resourceType='adc/freestylelibrede/components/content/logo'}">
          </div>
        </div>
      </div>
      <!-- links start(list component) -->
      <div class="row pt-4">
        <sly data-sly-resource="${'parFooterLink' @ resourceType='adc/freestylelibrede/components/content/childeditor'}">
        </sly>
      </div>
      <!-- links end -->
      <div class="adc-footer__sublink adc-list d-flex justify-content-center mt-4">
	 	 <sly data-sly-resource="${'parLinkList' @ resourceType='adc/freestylelibrede/components/content/link-list'}"></sly>
      </div>
    </div>
  </footer>
  <div class="container-fluid  adc-sub-footer">
    <div class="container">

      <!-- Grid row -->
	   <div class="row">
        <div class="col-12 col-md-4 mt-2">
          <div class="adc-sub-footer__security-icon row justify-content-center justify-content-md-start">
            <sly data-sly-resource="${'parSecurity' @ resourceType='adc/freestylelibrede/components/content/childeditor'}">
            </sly>
          </div>
        </div>
        <div class="col-12 col-md-5 mt-2 mt-md-4">
          <div class="adc-sub-footer__payment-type row justify-content-center justify-content-md-start">
            <sly data-sly-resource="${'parPaymentIcon' @ resourceType='adc/freestylelibrede/components/content/childeditor'}">
            </sly>
          </div>
        </div>
        <div class="col-12 col-md-3 mt-md-3 adc-sub-footer__footer-logo d-sm-none d-md-block text-right" 
          data-sly-resource="${'logo' @ resourceType='adc/freestylelibrede/components/content/logo'}">
        </div>
      </div>     
      <!-- Grid row -->
  </div>
</div>
</sly>