/**********************************
******* CORP RTL THEME ************
**********************************/

/* Header component top section linkstack text padding */
@media only screen and (min-width:991.98px) {

    .o-header .m-link-stack .m-link-stack--content .a-link,
    .o-header .o-header__secondary-top-nav .o-header__utility-nav .m-link-stack__container .m-link-stack__list-item {
        padding: 3px 20px 3px 3px;
    }

    .o-header .m-link-stack .a-link .a-link__text {
        padding-right: 0;
    }

    .header.header-linkstack-hover--links .o-header__user-activity .o-header__utility-nav .m-link-stack--dropdown:hover .m-link-stack__dropdown-wrapper::before {
        right: 5% !important;
    }
}

html #siteLeavingPopupFragmentPathModal.modal .modal-body .container {
    padding-left: 30px;
    padding-right: 0;
}

@media only screen and (max-width: 991.98px) {
    html #siteLeavingPopupFragmentPathModal.modal .modal-header .abt-icon-cancel::before {
        right: 0;
    }
}

html #siteLeavingPopupFragmentPathModal.modal .row {
    justify-content: right;
}

@media only screen and (max-width: 767.98px) {
    html #siteLeavingPopupFragmentPathModal.modal .row .columncontrol__column.col-12 {
        min-width: calc(50% - 8px);
        max-width: calc(50% - 8px);
    }
}

html #siteLeavingPopupFragmentPathModal.modal .row .columncontrol__column {
    margin: 0 0 0 8px;
}

div#truste-consent-track {
    direction: ltr;
}