@media (max-width: 767.98px) {
  .a-tabs {
    padding: 0;
  }
}
.a-tabs__nav {
  border: none;
  margin: 0;
  padding-bottom: var(--tabs-nav-padding);
}
.a-tabs__nav-link {
  padding: var(--tabs-nav-link-padding);
  color: var(--color-medium-gray);
  font-size: var(--tabs-nav-font-size);
  letter-spacing: var(--tabs-nav-link-letter-spacing);
  line-height: var(--tabs-nav-line-height);
  text-align: center;
  border-bottom: 1px solid;
  border-color: var(--tabs-nav-link-border-bottom-color);
  width: auto;
}
.a-tabs__nav-link:hover {
  background-color: var(--tabs-nav-link-hover-bg);
  color: var(--tabs-nav-link-border-bottom-color-active);
  text-decoration: none;
}
.a-tabs__nav-link:hover .a-tabs__icon {
  color: var(--tabs-icon-active-color);
}
.a-tabs__nav-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 767.98px) {
  .a-tabs__nav-text {
    display: block;
  }
}
.a-tabs__nav .active {
  border: none;
  border-radius: 0;
  color: var(--tabs-nav-link-border-bottom-color-active);
  font-weight: bold;
  border-bottom: 3px solid var(--tabs-nav-link-color-active);
}
.a-tabs__nav .active .a-tabs__icon {
  color: var(--tabs-icon-active-color);
}
.a-tabs__nav .active .a-tabs__icon-active {
  display: block;
}
.a-tabs__nav .active .a-tabs__icon-inactive {
  display: none;
}
.a-tabs__icon {
  font-size: var(--tabs-icon-size);
  margin: 0 var(--tabs-icon-margin);
  display: none;
  color: var(--tabs-icon-color);
}
.a-tabs__icon-inactive {
  display: block;
}
@media (max-width: 767.98px) {
  .a-tabs__icon {
    margin-bottom: var(--tabs-icon-margin);
  }
}
.a-tabs__tab-pane,
.a-tabs .cmp-tabs__tabpanel--active {
  outline: none;
}
.a-tabs--equal-width .a-tabs__nav-link {
  width: auto;
}
.a-tabs--fixed-width .a-tabs__nav-link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.a-tabs--two-in-row .a-tabs__nav-link {
  overflow-wrap: break-word;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: auto;
}
.a-tabs--three-in-row .a-tabs__nav-link {
  overflow-wrap: break-word;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.a-tabs--five-in-row .a-tabs__nav-link {
  overflow-wrap: break-word;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.a-tabs--five-in-row .a-tabs__nav-link:hover {
  font-weight: bold;
}
.a-tabs--five-in-row .a-tabs__nav-text {
  text-transform: uppercase;
  word-break: break-word;
}
@media (max-width: 991.98px) {
  .a-tabs--five-in-row .a-tabs__nav-link {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.a-tabs--warning .active .a-tabs__icon,
.a-tabs--warning .active:hover .a-tabs__icon,
.a-tabs--warning .a-tabs__icon {
  color: var(--tabs-icon-warning);
}
.a-tabs--errorMessage {
  color: var(--tabs-icon-danger);
  font-size: var(--tabs-vertical-error-font-size);
  position: relative;
  top: -14px;
  font-weight: normal;
}
.a-tabs--success .active .a-tabs__icon,
.a-tabs--success .active:hover .a-tabs__icon,
.a-tabs--success .a-tabs__icon {
  color: var(--tabs-icon-success);
}
.a-tabs--danger .active .a-tabs__icon,
.a-tabs--danger .active:hover .a-tabs__icon,
.a-tabs--danger .a-tabs__icon {
  color: var(--tabs-icon-danger);
}
.a-tabs--hide .active .a-tabs__icon,
.a-tabs--hide .a-tabs__icon {
  display: none;
}
.a-tabs-vertical__title {
  padding: var(--tabs-vertical-spacing-xl) 0;
  word-break: break-word;
}
.a-tabs-vertical .a-tabs__nav-link {
  display: block;
  font-size: var(--tabs-vertical-nav-font-size);
  line-height: var(--tabs-vertical-nav-list-line-height);
  color: var(--tabs-vertical-nav-list-color);
  text-align: left;
  border-bottom: 0;
  padding: var(--tabs-vertical-spacing-m) 0;
  letter-spacing: 0;
}
.a-tabs-vertical .a-tabs__nav-link:hover {
  background-color: transparent;
  text-decoration: underline;
  color: var(--tabs-vertical-nav-color-active);
  font-weight: bold;
}
.a-tabs-vertical .a-tabs__nav .active {
  color: var(--tabs-vertical-nav-color-active);
  font-weight: bold;
}
.a-tabs-vertical__nav-mobile_list-item-link {
  display: block;
  padding: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  color: var(--tabs-vertical-nav-list-color);
}
.a-tabs-vertical__nav-mobile_list-item-link.active {
  font-weight: bold;
  color: var(--tabs-vertical-nav-color-active);
}
html[dir="rtl"] .a-tabs__content {
  text-align: right;
}
html[dir="rtl"] .a-tabs__tab-pane {
  text-align: right;
}
