@import './global/variables.less';

.generic-modal {
  .modal-dialog {
    max-width: 572px;

    .modal-content {
      background: @color-charls-green;
    }

    .generic-modal__content-body {
      padding: @spacer-30 @spacer-20 0;

      .layoutcontainer {
        padding: 0;

        h5.cmp-title__text, p {
          color: @color-white;
          font-family: @georgia;
          font-size: @spacer-14;
          line-height: @spacer-20;
          text-align: center;
          margin: @spacer-12 0 @spacer-35;
        }
      }
    }

    .generic-modal__content-footer {
      justify-content: flex-start;

      .button {
        margin-left: @spacer-10;

        .btn {
          color: @color-white;
          background-color: @color-light-blue;
          border-radius: unset;
          font-family: @brandon-medium;
          font-size: @spacer-18;
          text-transform: none;
        }
      }
    }
  }
}
