@import './global/media-queries.less';
@import './global/variables.less';

.o-tiles {
  --o-tiles-height: auto;
  --tiles-bg-dark: @color-blue;
  --tiles-color-dark: @color-charcoal;
  --tiles-color-dark-hover: @color-blue;
  --tiles-bg-dark-hover: @color-charcoal;
  --tiles-border-color-dark: @color-charcoal;
  --tiles-border-color-dark-hover: @color-charcoal;

  .a-tile--dark {
    --tiles-bg: @color-charcoal;
  }
}

.a-title {
  --title-dark-bg: @color-charcoal;

  &--half {
    --title-padding: @spacer-3;
  }
}

.o-header {
  --header-search-color: @color-dark-gray;

  &__secondary-top-nav {
    --header-top-bar-bg: @color-dark-gray;

    .container {
      --header-top-bar-height: 24px;
    }
  }

  &__mega-menu {
    .navbar {
      --mega-menu-navbar-padding: 0;
      --mega-menu-mobile-active-bg-color: @color-gray;
    }
  }

  &__utility-nav {
    .m-link-stack {
      --link-stack-link-color: @color-white;
    }
  }

  &--full-width &__search .abt-icon {
    --header-link-stack-color: @color-charcoal;
  }

  &__mob-search {
    --header-icons-padding-right: 0;
  }

  &__sticky-section {
    --header-sticky-section: @color-charcoal;
  }

  /*Styling of side bar menu*/
  @media @lg-down {
    .m-mega-menu__mobile .navbar {
      --mega-menu-mobile-active-bg-color: @color-white;      
    }

    .m-mega-menu__mobile-item-wrapper {
      .m-mega-menu__mobile-header:after {
        --mega-menu-icon-color: @color-dark-gray;
      }
    }
  }

  &__logo-section {
    --header-logo-padding: @spacer 0;
  }
  
  /*To make signup button visible for all screens*/
  .m-signup .a-link {
    --link-icon-size: 0;
    --header-icons-padding-right: 0;

    .a-link__text {
      --link-padding-left: 0;

      .abt-icon {
        --header-link-stack-color: @color-charcoal;
      }
    }
  }
}

.a-tabs {
  &__nav-link {
    --tabs-nav-link-border-bottom-color-active: @color-light-blue;

    &:hover {
      --tabs-nav-link-hover-bg: @color-charcoal;
    }
  }
}

.a-link {
  --link-color: @link-color;
}

.m-hero {
  &__content {
    --hero-content-default-space: 7%;
  }

  &--content-center&--text-align-center &__content {
    --hero-content-default-space: 10%;
  }

  &--content-end&--text-align-start &__content {
    --hero-content-default-width: 85%;
    --hero-content-default-space: 0;
  }

  &--content-end&--text-align-end &__content {
    --hero-content-default-width: @full-width;
  }

  &--content-end&--text-align-center &__content {
    --hero-content-default-space: 0;
  }
  &--content-start &__content {
    --hero-desktop-medium-content-top-space: @spacer-30;
  }

  &--content-center &__content {
    --hero-desktop-medium-content-top-space: @spacer-120;
  }
}

