node_modules
clientlib-site
coverage
export-css
core-themes
theme-zip-files
dist
report*.json
.DS_Store
**/server/converted-scss
**/server/imported-css
.vscode
_typography.json
_spacings.json
_color-system.json
_shadows.json
