@nutrient-data-georgia-family: "Georgia", Arial, Helvetica, sans-serif;
@nutrient-data-brandon-bold-family: "BrandonGrotesqueWeb-Bold", Arial, Helvetica,
  sans-serif;
@nutrient-data-brandon-regular-family: "BrandonGrotesqueWeb-Regular", Arial,
  Helvetica, sans-serif;
@nutrient-data-italic: italic;
@black-shade: #333;
@light-green: #58ae8b;
@table-header-border: 2px solid @black-shade;
@table-row-border: 1px solid @black-shade;

/* NUTRIENT DATA DESKTOP/COMMON STYLING STARTS */
/* Text only view starts */
.a-tabs__content.tab-content {
  .cmp-tabs__tabpanel.active {
    .a-container--nutrient-data {
      margin: 0px !important;
      padding: 0px !important;
      max-width: 100%;

      .a-container__row {
        .a-container__content {
          .cmp-container {
            color: @black-shade;
            .text:first-child .cmp-text p {
              text-align: center;
              font-family: @nutrient-data-georgia-family;
              font-style: @nutrient-data-italic;
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 0px;
            }
            .text:last-child .cmp-text p {
              text-align: center;
              font-family: @nutrient-data-georgia-family;
              font-style: @nutrient-data-italic;
              font-size: 14px;
              font-weight: normal;
            }
            .columncontrol.a-columncontrol--base {
              background-color: #fff;
              .container {
                max-width: 100%;
                margin: 0;

                .row {
                  .columncontrol__column {
                    max-width: 100%;

                    .text {
                      .cmp-text {
                        > p {
                          display: none;
                        }
                        table {
                          width: 100%;
                          border: 0px;

                          tbody {
                            tr {
                              border: 0px;
                              td {
                                padding: 1em 0 0.8em 0;
                                border-bottom: 1px solid #333;
                                border-left: 0px;
                                border-right: 0px;
                              }
                              td:nth-child(2) {
                                color: @light-green;
                                font-family: @nutrient-data-brandon-bold-family;
                                text-align: right;
                              }
                            }
                            tr:first-child {
                              border-bottom: @table-header-border;

                              th:first-child {
                                font-weight: normal;
                                text-transform: uppercase;
                                color: #333;
                                font-family: @nutrient-data-brandon-bold-family;
                              }
                              th:nth-child(2) {
                                text-align: right;
                                color: @light-green;
                                border: 0px;
                                font-family: @nutrient-data-brandon-bold-family;
                                font-weight: normal;
                              }
                              th {
                                padding: 1em 0;
                                border-left: 0px;
                                border-right: 0px;
                                border-top: 0px;
                              }
                            }
                            tr:not(:first-child) {
                              font-family: @nutrient-data-brandon-regular-family;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .text:last-child {
              padding-top: 28px;
            }
          }
        }
      }
    }
    .text:first-child #text-only-view {
      h4 {
        text-align: center;
        font-family: @nutrient-data-georgia-family;
        font-style: @nutrient-data-italic;
        font-size: 18px;
        font-weight: 700;
        color: @black-shade;
      }
      p {
        padding: 30px;
        font-family: @nutrient-data-brandon-regular-family;
        color: @black-shade;
      }
    }
    .text:first-child #single-table-view {
      color: @black-shade;
      > p:first-child {
        text-align: center;
        font-family: @nutrient-data-georgia-family;
        font-style: @nutrient-data-italic;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p:last-child {
        text-align: center;
        font-family: @nutrient-data-georgia-family;
        font-style: @nutrient-data-italic;
        font-size: 14px;
        font-weight: normal;
        padding-top: 28px;
      }
      table {
        width: 50%;
        margin: 0 auto;
        border: 0px;

        tbody {
          tr {
            border: 0px;
            td {
              padding: 1em 0 0.8em 0;
              border-bottom: 1px solid #333;
              border-left: 0px;
              border-right: 0px;
              border-top: 0;
            }
            td:nth-child(2) {
              color: @light-green;
              font-family: @nutrient-data-brandon-bold-family;
              text-align: right;
            }
          }
          tr:first-child {
            border-bottom: @table-header-border;

            th:first-child {
              font-weight: normal;
              text-transform: uppercase;
              color: #333;
              font-family: @nutrient-data-brandon-bold-family;
            }
            th:nth-child(2) {
              text-align: right;
              color: @light-green;
              border: 0px;
              font-family: @nutrient-data-brandon-bold-family;
              font-weight: normal;
            }
            th {
              padding: 1em 0;
              border-left: 0px;
              border-right: 0px;
              border-top: 0px;
            }
          }
          tr:not(:first-child) {
            font-family: @nutrient-data-brandon-regular-family;
          }
        }
      }
    }
  }
}
/* Text only view ends */


/* Tabs Footer Notes starts */
#a-tabs-footer-notes {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -140px;
    p {
        font-family: @nutrient-data-georgia-family;
        font-style: @nutrient-data-italic;
        font-size: 14px;
        font-weight: normal;
        color: #333;
    }
}
/* Tabs Footer Notes ends */

/* NUTRIENT DATA DESKTOP/COMMON STYLING ENDS */

/* NUTRIENT DATA MOBILE STYLING STARTS */

@media screen and (max-width: 767px) {
  /* Text only view starts */
  .a-tabs__content.tab-content {
    .cmp-tabs__tabpanel.active {
      .a-container--nutrient-data {
        .a-container__row {
          .a-container__content {
            .cmp-container {
              > .text:first-child {
                display: none;
              }
              .columncontrol.a-columncontrol--base {
                .container {
                  .row {
                    .col-12 {
                      padding: 0;
                      margin-bottom: 0px;
                      .text {
                        padding-top: 0px;
                      }
                    }
                    .col-12:not(:first-child) {
                      .text .cmp-text table tbody tr:first-child {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .text:first-child {
        #single-table-view {
          color: @black-shade;
          > p:first-child {
            display: none;
          }
          table {
            width: 100%;
          }
        }
      }
      .text:first-child #text-only-view {
        h4 {
          display: none;
        }
        p {
          padding: 15px;
        }
      }
    }
  }
  /* Text only view ends */
}

@media screen and (max-width: 1023px) {
  /* Text only view starts */
  .a-tabs__content.tab-content {
    .cmp-tabs__tabpanel.active {
      .text:first-child {
        #single-table-view {
          table {
            width: 100%;
          }
        }
      }
      .text:first-child #text-only-view {
        p {
          padding: 15px;
        }
      }
    }
  }
  /* Text only view ends */

  /* Tabs Footer Notes starts */
    #a-tabs-footer-notes { 
        margin: -140px 20px 0 20px;
    }
  /* Tabs Footer Notes ends */
}

@media screen and (min-width: 768px) {
  .a-tabs__content.tab-content {
    .cmp-tabs__tabpanel.active {
      .a-container--nutrient-data {
        #section-a-container--nutrient-data-table {
          .a-container__row {
            .a-container__content {
              .cmp-container {
                .columncontrol.a-columncontrol--base {
                  .container {
                    .row {
                      flex-direction: row;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* NUTRIENT DATA MOBILE STYLING ENDS */
