/* --- Bluebanner 4571 --*/
.text.a-title--blueline-border-desc.a-title--blueline-border-margin-left {
    margin-left: 56px;
}

.text.a-title--blueline-border {
    margin-left: 97px;
}

@media (max-width: 1023px) {
    .text.a-title--blueline-border-desc.a-title--blueline-border-margin-left {
        margin-left: 0px;
    }

    .text.a-title--blueline-border {
        margin-left: 0px;
    }

    .text.a-title--blueline-border ul li {
        font-size: 18px;
        line-height: 27px;
    }

    .text.a-title--blueline-border-desc ul:before,
    .text.a-title--blueline-border ul:before {
        margin-left: 10px;
    }
}



/* --- Bluebanner 4571 ends here--*/



/* -- JIRA 4586 -- CAREGIVER --ENDS HERE-- */
.a-container--care-givers .m-custom--text-list .m-custom-list--icon h3,
h3 {
    font-weight: unset;
    font-weight: 600px !important;
}

.a-container--care-givers,
.a-container--care-givers .a-container__row .a-container__content .cmp-container,
.a-container--care-givers .a-container__row .a-container__content .cmp-container .container,
.a-container--care-givers .a-container__row .a-container__content .cmp-container .container .columncontrol__column:first-child {
    padding-right: 0px;
    padding-left: 0px;



}

.a-container--care-givers .a-container__row .a-container__content .cmp-container {
    max-width: 100%
}

.a-container--care-givers .a-container.container-full-width .cmp-container {
    max-width: 100% !important;
}

.a-container--care-givers .a-container.container-full-width.a-container-remove-lr-spacing .cmp-container {
    padding-left: 5px;
    padding-right: 5px;
}





/* -- JIRA 4586 -- CAREGIVER --ENDS HERE-- */