/**********************************
Column-controller Component
**********************************/
.columncontrol {

    // style system to have space 15px around the column controller
    &.column-space-around--15 {
        padding-left: 15px;
        padding-right: 15px;
    }

    // style system to have no space around the column controller - mobile
    &.columncontrol-mob-remove-space-around {
        @media @md-down {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    // Style system to have 15px of spacing between columns
    &.column-spacing--15 {
        .row .columncontrol__column {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }

    // Style system to have 12px of spacing between columns
    &.column-spacing--12 {
        .row .columncontrol__column {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    // Style system to have 7px of spacing between columns
    &.column-spacing--7 {
        .row .columncontrol__column {
            padding-left: 3.5px;
            padding-right: 3.5px;
        }
    }

    // Style system no spacing between columns
    &.column-spacing--0 {
        .row .columncontrol__column {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Style system to have 7px of spacing between columns - mobile
    &.column-mob-spacing--7 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 7px !important;
            }
        }
    }

    // Style system to have 12px of spacing between columns - mobile
    &.column-mob-spacing--12 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 12px !important;
            }
        }
    }

    // Style system to have 15px of spacing between columns - mobile
    &.column-mob-spacing--15 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 15px !important;
            }
        }
    }

    // Style system to have no spacing between columns - mobile
    &.column-mob-spacing--0 {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 0 !important;
            }
        }
    }

    // Style system to remove spacing for columns - tablet
    &.column-tablet-spacing--0 {
        .row .columncontrol__column {
            @media @lg-only {
                margin-bottom: 0 !important;
            }
        }
    }

    //style system to remove bottom space - mobile
    &.column-mob-remove--bottom-spacing {
        .row .columncontrol__column {
            @media @md-down {
                margin-bottom: 0 !important;
            }
        }
    }

    //style system to remove top space - mobile
    &.column-mob-remove--top-spacing {
        .row .columncontrol__column {
            @media @md-down {
                margin-top: 0 !important;
            }
        }
    }

    //style system to remove column controll container spacing - mobile 
    &.column-container-mob--remove-spacing {
        @media @md-down {
            .container {
                padding: 0;
            }
        }
    }

    //style system to give 10px left and right padding for tab and desktop
    &.column-container-md-up-spacing-10px {
        @media @md-up {
            .container {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    // Style system to have two column layout - mobile viewports
    &.column-mob-col-6 {
        .columncontrol__column.col-12 {
            @media @md-down {
                flex: 0 0 50%;
            }
        }
    }

    // Style system to have three column layout - mobile viewports
    &.column-mob-col-4 {
        .columncontrol__column.col-12 {
            @media @md-down {
                flex: 0 0 33.333%;
            }
        }
    }

    //style for flavours card variation
    &.column-flavours-card-variation {

        background-color: @abbott-ice-blue;
        margin-left: 80px;
        margin-right: 80px;

        @media @lg-only {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        @media @md-down {
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
    }

    //style system to have more spacing in between columns
    &.column-spacing--50 {

        @media @lg-only {
            .container {
                padding: 0;
            }
        }

        .row .columncontrol__column {
            padding-left: 55px;
            padding-right: 50px;

            @media @lg-only {

                &:first-child {
                    padding-left: 8px;
                    padding-right: 40px;
                }

                &:last-child {
                    padding-left: 0;
                    padding-right: 10px;
                }
            }

            @media @md-down {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

    &.column-spacing--20 {
        @media @lg-only {
            margin-left: -20px;
            margin-right: -20px;
            padding-right: 0;
            padding-left: 0;

            &>.container {
                padding: 0;
            }
        }

        &>.container>.row .columncontrol__column {

            padding-left: 30px;
            padding-right: 30px;

            @media @lg-only {
                padding-left: 0;
                padding-right: 0;
            }

            @media @md-down {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    // Column control PIM products spacings option
    &.column-var--products {

        @media @lg-only {
            margin-left: -20px;
            margin-right: -20px;
            padding-right: 0;
            padding-left: 0;

            &>.container {
                padding: 0;
            }
        }

        &>.container>.row .columncontrol__column {

            &:first-child {
                padding-left: 30px;
                padding-right: 60px;
            }

            &:last-child {
                padding-left: 60px;
                padding-right: 30px;
            }

            @media @lg-only {

                &:first-child {
                    padding-left: 0;
                    padding-right: 38px;
                }

                &:last-child {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            @media @md-down {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    &.columncontrol--mob-reverse {
        >.container>.row {
            @media @md-down {
                flex-direction: column-reverse;
            }
        }
    }

    //image and text variation
    &.columncontrol-img-text {
        .text {
            padding-left: 10px;
            padding-right: 10px;

            .cmp-text {
                max-width: 200px;
                text-align: center;
            }
        }

        @media @md-down {
            .image {
                text-align: center;
            }

            .text .cmp-text {
                margin: auto;
            }
        }
    }
}