.remove-text-margin{
	margin: 0 !important;
}
#section-contact-us-title-container #contact-us-title-text{
	padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 14%;

}

#contact-us-title-container #contact-us-title-text h2{
	font-size :60px;
	font-weight: 900;
	line-height :63.2px;
    color: #FFFFFF;
    font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
}

#contact-us-info{
    width: 45%;
    margin-left: 14%;
    padding-top: 40px;
}
#contact-us-info p{
	margin: 0;
    padding-bottom: 20px;
}
#contact-us-form .container{
	width: 45%;
    margin-left: 14%;
    padding: 0;
}
#contact-us-form .form-container .form-label{
	font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
    color: #000000;
    margin-bottom: 7px;
}
#contact-us-form .form-container .a-input-field--required, #contact-us-form .a-dropdown__title--required{
	color: #f00;
}
#contact-us-form .form-container .a-input-field--text-require{
	color: #f00;
    font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
    margin-top: 4px;
    clear: both;
    font-size: 16px;
    line-height: 24px;
}

#contact-us-form .a-input-control:focus{
    outline: 3px solid #639af9;
    outline-offset: 5px;
   	visibility: visible;
    opacity: 1;
    outline-style: inset;
 }
#contact-us-form .abt-icon-exclamation{
	display: none;
}
#contact-us-form .a-input-control, #contact-us-form .a-dropdown__field{
	border-radius: 0;
	border: 1px solid #888b8d;
}
#contact-us-form #contact-us-submit-btn{
    color: #000000;
    background-color: #5bc2e7;
    background-image: linear-gradient(to bottom, #5bc2e7 50%, #000 50%);
    background-size: 100% 200%;
    border: 0;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: bold;
    font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5625rem 1.25rem;
    margin: 0 0.125rem 0.3125rem 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 0;
}

#contact-us-form #contact-us-cancel-btn{
	color: #d9d9d6;
    background-color: #000000;
    background-size: 100% 200%;
    border: 0;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: bold;
    font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5625rem 1.25rem;
    margin: 0 0.125rem 0.3125rem 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 0;
    margin-right: 8px;
}
#contact-us-form .o-form-container__buttons{
	margin-top: 16px;
}
#contact-us-thanks-container #contact-us-thanks-text{
	font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 39.2px;
    width: 45%;
    margin-left: 14%;
}
#contact-us-thanks-container #contact-us-thanks-subtext{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	line-height: 24px;
    margin-left: 14%;
    width: 70%;
}
#contact-us-thanks-container{
	display: none;
}
#form-option-country-options ul li span{
	padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
	font-size: 16px;
}
#form-option-country-options ul li{
	border-bottom: none;
}
#form-option-country-options ul li:hover{
	background-color: #007bffad;
}
#contact-us-form #contact-us-submit-btn:hover{
 	color: #5bc2e7;
    background: #000000;
    background-color: #000000;
}
#contact-us-form .o-form-container__element .disabled{
	pointer-events: none;
    background-color: #c0c0c0;
    cursor: not-allowed;
    color: #ffffff;
}

#contact-us-form #contact-us-cancel-btn:hover{
	color: #222731;
    background-color: #d9d9d6;
}
@media (min-width: 375px) and (max-width: 767px) {
#contact-us-title-container #contact-us-title-text{
	padding-top: 10%;
    padding-left: 4%;
    padding-bottom: 10%;

}

#contact-us-title-container #contact-us-title-text h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 33.2px;
}
#contact-us-info {
    width: 90%;
    margin: auto;
}
#contact-us-form .container {
    width: 90%;
    margin: auto;
    padding: 0;
}
#contact-us-thanks-container #contact-us-thanks-text{
	font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 27.2px;
     width: 90%;
    margin: auto;
}
#contact-us-thanks-container #contact-us-thanks-subtext{
	font-family:Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	line-height: 21px;
    width: 90%;
    margin: auto;
}

}
@media(min-width: 820px) and (max-width: 992px){
#contact-us-title-container #contact-us-title-text{
	padding-top: 6%;
    padding-left: 10%;
    padding-bottom: 6%;

}

#contact-us-title-container #contact-us-title-text h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 33.2px;
}
#contact-us-info {
    width: 45%;
    margin-left: 10%;
    margin-top: 40px;
}
#contact-us-form .container {
    width: 45%;
    margin-left: 10%;
    padding: 0;
}
#contact-us-thanks-container #contact-us-thanks-text{
	font-family: brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 27.2px;
    width: 45%;
    margin-left: 8%;
}
#contact-us-thanks-container #contact-us-thanks-subtext{
	font-family:Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	line-height: 21px;
    margin-left: 8%;
    width: 70%;
}

}