#section-site-leaving-popup .cmp-title h1, #section-site-enter-popup .cmp-title h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-family: brandon_grotesquebold, Calibri, Helvetica, Arial, sans-serif;
}
#section-site-leaving-popup .title, #section-site-enter-popup .title{
    margin-bottom: 0;
    margin-top: 0;
}
#section-site-leaving-popup .cmp-text p, #section-site-enter-popup .cmp-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: #222731;
}
#section-site-leaving-popup .text, #section-site-enter-popup .text{
   margin: 1rem 0;
}
#section-site-leaving-popup .cmp-container .button a, #section-site-enter-popup .cmp-container .button a{
    background-size: 100% 200%;
    border: 0;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: bold;
    font-family:brandon_grotesqueregular, Calibri, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5625rem 1.25rem;
    margin: 0 0.125rem 0.3125rem 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    background-position: 0 0;
}
#section-site-leaving-popup #yes-btn, #section-site-enter-popup #yes-btn{
    color: #000000;
    background-color: #5bc2e7;
    background-image: linear-gradient(to bottom, #5bc2e7 50%, #000000 50%);
}
#section-site-leaving-popup #yes-btn:hover, #section-site-enter-popup #yes-btn:hover{
    color: #5bc2e7;
    background-color: #000000;
    background-position: 0 -100%;
    text-decoration: none;
}
div#site-leaving-popup .button:last-child a, div#site-enter-popup .button:last-child a{
    color: #d9d9d6;
    background-color: #222731;
    background-image: linear-gradient(to bottom, #222731 50%, #d9d9d6 50%);
}
#section-site-leaving-popup .cmp-container .button a:hover, #section-site-enter-popup .cmp-container .button a:hover{
    color: #222731;
    background-color: #d9d9d6;
    background-position: 0 -100%;
    text-decoration: none;
}
#section-site-leaving-popup .button, #section-site-enter-popup .button {
    margin: 20px 0 0 0 !important;
    display: inline-block;
}
.modal-dialog{
    height: 317px;
    overflow: auto;
    padding: 0;
}
.modal-dialog .modal-body {
    padding: 20px 20px 20px !important;
}
.modal-dialog .modal-footer{
    display: none;
}
.modal-dialog .abt-icon-cancel:before {
    content: "\e904";
    color: #222731;
    font-weight: bolder;
    font-size: 14px;
}
.modal-dialog .generic-modal--close{
    top: 6px;
    right: 6px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 479px) {
    #section-site-leaving-popup .cmp-title h1, #section-site-enter-popup .cmp-title h1 {
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0 0 1rem;
   }
}
@media screen and (min-device-width: 480px) and (max-device-width: 1205px) {
    .modal.show .modal-dialog{
        max-width: 650px;
    }
    #section-site-leaving-popup .cmp-title h1, #section-site-enter-popup .cmp-title h1{
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0 0 1rem;
    }
}
@media screen and (min-width: 1205px){
    .modal-dialog {
        min-width: 60% !important;
        overflow: hidden ;
    }
    }

/* video pop-up size */
.modal-open .modal-dialog {
    height: auto;
    max-height: 84vh;
}
.modal-open  .modal-dialog .video {
	padding-bottom: 0;
}

.modal-open .modal-body .container {
    max-width: 100%;
}
.modal-open .modal-dialog .generic-modal--close {
    top: 3%;
    right: 1%;
}