@import 'media-queries.less';
@import 'variables.less';

#pageContent {
	.searchresults {
		.o-search-res[data-search-type="faqsearch"], .o-search-res[data-search-type="faqsearchglobal"], .o-search-res[data-search-type="getfaqsearchglobal"], .o-search-res[data-search-type="getfaqsearch"] {
			.col-12 {
				.m-search-bar {
					.m-search-bar__container {
						.m-search-bar__input {
							.m-search-bar__input-field {
								position: relative;
								z-index: 2;
								width: 100%;
								margin-bottom: 0;
								height: 35px;
								padding: 5px 13px;
								font-size: 1rem;
								background-color: #fff;
								background-image: none;
								border: 1px solid #c3c5c6;
								border-radius: 0;
								color: #63666a;
							}
						}
						justify-content: space-between;
					}
					.search__heading {
						width: 100%;
						font-family: @brandon-bold;
						color: #222731;
						>* {
							font-family: @brandon-bold;
							color: #222731;
						}
					}
					margin-bottom: 0;
				}
			}
			.o-search-res__container {
				.col-md-8 {
					.o-search-res__results {
						.a-result {
							border-top: 1px solid #888b8d;
							border-bottom: 0;
							.a-result__title {
								cursor: pointer;
								position: relative;
								width: 100%;
								padding: 20px 15px;
								padding-left: 0;
								padding-right: 45px;
								margin-bottom: 0;
								margin-top: 0;
							}
							.a-result__title--link {
								text-transform: uppercase;
								font-size: 1.5rem;
								text-align: left;
								text-decoration: none;
								width: 100%;
								color: #004f71;
								font-family: var(--result-font-family);
								display: block;
								&:hover {
									text-decoration: none;
								}
							}
							.a-result__title.active {
								margin-bottom: 15px;
								.a-result__title--link {
									color: #009cde;
								}
								&:after {
									content: "\e911";
									color: #009cde;
								}
							}
							.a-result__description {
								display: none;
								line-height: 1.25em;
								font-size: 1em;
								font-family: @georgias;
								margin: 0 !important;
							}
							p {
								display: none;
								line-height: 1.25em;
								margin-bottom: 28px;
								font-size: 1em;
								font-family: @georgias;
								&:empty {
									margin: 0 !important;
									display: none;
								}
							}
							mark {
								font-weight: bold;
								background-color: #eeb33b;
								padding: 2px 5px;
							}
						}
						div {
							&:last-child {
								.a-result {
									border-bottom: 1px solid #888b8d;
									ul {
										display: none;
									}
									p {
										display: none;
									}
								}
							}
						}
					}
				}
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				.offset-md-2 {
					margin-left: 0;
					max-width: 100% !important;
					flex: 0 0 100%;
				}
			}
			.o-search-res__results {
				margin-top: 70px;
			}
		}
		[data-search-type="faqsearch"], [data-search-type="faqsearchglobal"], [data-search-type="getfaqsearchglobal"], [data-search-type="getfaqsearch"] {
			.searchbar {
				.m-search-bar__close {
					.abt-icon {
						&::before {
							width: 15px;
							height: 15px;
						}
						font-size: 12px;
						line-height: 12px;
					}
					right: 20px;
					top: 48%;
				}
				.btn {
					transition: all .8s;
					-webkit-transform: translateZ(0);
					-moz-transform: translateZ(0);
					-ms-transform: translateZ(0);
					-o-transform: translateZ(0);
					transform: translateZ(0);
					-webkit-box-shadow: 0 0 1px rgba(0,0,0,0);
					-moz-box-shadow: 0 0 1px rgba(0,0,0,0);
					box-shadow: 0 0 1px rgba(0,0,0,0);
					position: relative;
					-webkit-transition-property: color;
					-moz-transition-property: color;
					-ms-transition-property: color;
					-o-transition-property: color;
					transition-property: color;
					-webkit-transition-duration: .3s;
					-moz-transition-duration: .3s;
					-ms-transition-duration: .3s;
					-o-transition-duration: .3s;
					transition-duration: .3s;
					-moz-osx-font-smoothing: grayscale;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					backface-visibility: hidden;
					font-family: @brandon-bold;
					min-height: 33px;
					max-height: unset;
					text-transform: uppercase;
					font-size: 1rem;
					border: 0;
					cursor: pointer;
					line-height: 18px;
					padding: 8px 20px 8px 20px;
					white-space: normal;
					text-align: center;
					outline: 0;
					text-decoration: none;
					display: flex;
					word-wrap: break-word;
					align-items: center;
					justify-content: center;
					border-radius: 0;
				}
			}
			.a-result {
				.a-result__title {
					&:after {
						content: "\e912";
						position: absolute;
						top: 20px;
						right: 12px;
						font-family: @abbott-icon !important;
						font-style: normal;
						font-weight: 800;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: 22px;
						color: #004f71;
					}
				}
			}
			.col-12.pb-5 {
				padding: 0 !important;
			}
			.m-search-bar__input {
				position: relative;
				width: 100%;
				margin-right: 0;
			}
			.search-icon {
				cursor: pointer;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1111;
				height: 35px;
				width: 35px;
				display: flex;
				color: #333;
				&:after {
					content: "\e914";
					height: 35px;
					width: 35px;
					right: 0;
					top: 0;
					bottom: 0;
					font-family: @abbott-icon !important;
					font-style: normal;
					font-weight: 800;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-size: 14px;
					z-index: 111;
					padding: 10px;
					color: #333;
					border-left: 1px solid #c3c5c6;
				}
			}
			.m-search-bar__button {
				margin-right: 20px;
				cursor: pointer;
				.search-button {
					.btn {
						background-color: transparent;
					}
					border: 1px solid #c3c5c6;
					border-left: 0;
				}
				.abt-icon-search {
					display: block;
					color: #333;
				}
				button {
					&:hover {
						.abt-icon-search {
							&:before {
								color: #333;
							}
						}
					}
				}
			}
		}
	}
}
.searchresults {
	[data-search-type="faqsearch"], [data-search-type="faqsearchglobal"], .o-search-res[data-search-type="getfaqsearchglobal"], [data-search-type="getfaqsearch"] {
		.a-result {
			ul {
				display: none;
			}
			ol {
				display: none;
			}
			&.a-result-faq{
				ul {
					font-family: @georgias !important;
				}
			}
		}
	}
}
@media screen and (max-width:767px) {
	#pageContent {
		.searchresults {
			[data-search-type="faqsearch"], [data-search-type="faqsearchglobal"], [data-search-type="getfaqsearchglobal"], [data-search-type="getfaqsearch"] {
				.m-search-bar__button {
					.btn {
						span {
							display: block;
						}
					}
					position: absolute;
					right: 0;
					margin-right: 0;
					.search-button {
						.btn {
							padding: 6px 12px !important;
							border-left: 1px solid #c3c5c6;
						}
						height: auto;
					}
				}
				.m-search-bar__container {
					flex-direction: column;
				}
				.m-search-bar__input {
					width: 100%;
					margin-right: 0;
					margin-bottom: 30px;
				}
				.searchbar {
					.m-search-bar__close {
						right: 55px;
					}
				}
			}
		}
	}
}
