.feature-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.feature-card__content {
  border-top: 1px solid var(--black-color);
  margin-top: 5px;
}
.feature-card__content-title {
  font-family: var(--feature-card-title-font-family);
  font-weight: var(--feature-card-weight-400);
  font-size: var(--feature-card-title-font-size-sm);
  line-height: var(--feature-card-title-line-height-sm);
  margin: 10px 0;
}
.feature-card__content-description p {
  font-family: var(--feature-card-description-font-family);
  font-weight: var(--feature-card-weight-400);
  font-size: var(--feature-card-description-font-size-sm);
  line-height: var(--feature-card-title-line-height-sm);
}
.feature-card__image-wrapper .cmp-image {
  text-align: center;
}
.feature-card__image-wrapper .cmp-image img {
  -webkit-transition: height 500ms ease-out, -webkit-transform 500ms ease-out;
  transition: height 500ms ease-out, -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out, height 500ms ease-out;
  transition: transform 500ms ease-out, height 500ms ease-out,
    -webkit-transform 500ms ease-out;
  height: var(--feature-card-card-image-height);
  -o-object-fit: contain;
  object-fit: contain;
}
@media (min-width: 768px) {
  .feature-card__content-title {
    font-size: var(--feature-card-title-font-size);
    line-height: var(--feature-card-title-line-height);
  }
  .feature-card__content-description p {
    font-size: var(--feature-card-description-font-size);
    line-height: var(--feature-card-description-line-height);
  }
  .feature-card .container {
    padding: 0;
  }
}
