.adc-modal-data-processing-consent {
    text-align: left;
    z-index: 2100 !important;
    width: 90%;
    @media @desktop-break {
        width: 80%;
    }

    @media @wideScreen-break {
        max-width: 920px;
        width: 70%;
    }

    .content {
        padding: 42px 0 30px;
    }

    .actions {
        button {
            margin-bottom: 30px;
        }

        span {
            .font-size-rems(13);
            color: @color-fsl-blue;
            letter-spacing: 0.2px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.adc-modal-data-processing-consent-overlay {
    z-index: 1099 !important;
}