<sly data-sly-use.templates="abbott/components/content/templates.html"/>
<sly data-sly-test.oneCol="${properties.numCols == '1'}"></sly>
<sly data-sly-test.twoCols="${properties.numCols == '2'}"></sly>
<sly data-sly-test.twoCols7525="${properties.numCols == '27525'}"></sly>
<sly data-sly-test.twoCols2575="${properties.numCols == '22575'}"></sly>
<sly data-sly-test.responsiveTwoCols2575="${properties.numCols == 'R22575'}"></sly>
<sly data-sly-test.twoCols2080="${properties.numCols == '22080'}"></sly>
<sly data-sly-test.threeCols="${properties.numCols == '3'}"></sly>
<sly data-sly-test.threeCols252550="${properties.numCols == '3252550'}"></sly>
<sly data-sly-test.threeCols502525="${properties.numCols == '3502525'}"></sly>
<sly data-sly-test.threeCols255025="${properties.numCols == '3255025'}"></sly>
<sly data-sly-test.fourCols="${properties.numCols == '4'}"></sly>
<sly data-sly-test.fiveCols="${properties.numCols == '5'}"></sly>
<sly data-sly-test.sixCols="${properties.numCols == '6'}"></sly>
<sly data-sly-test.sevenCols="${properties.numCols == '7'}"></sly>
<sly data-sly-test.eightCols="${properties.numCols == '8'}"></sly>
<sly data-sly-test.nineCols="${properties.numCols == '9'}"></sly>
<sly data-sly-test.tenCols="${properties.numCols == '10'}"></sly>
<sly data-sly-test.elevenCols="${properties.numCols == '11'}"></sly>
<sly data-sly-test.twelveCols="${properties.numCols == '12'}"></sly>
<div class="${properties.cssStyles} ${wcmmode.edit ? ' edit-mode' : ''}">
    <div class="${properties.isContainer ? 'container' : '' @ context = 'styleString'}" data-sly-unwrap="${!properties.isContainer}">
        <div class="row ${properties.noGutters ? 'no-gutters' : ''} ${properties.verticalAlign ? 'align-items-center' : ''} ${properties.customClass}">
            <sly data-sly-test="${oneCol}">
                <div class="col col-12">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='1colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
            </sly> 
            <sly data-sly-test="${twoCols}">
                <div class="col col-12 col-md-6">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-md-6">
                    <div class="column-control-column column-two">
                        <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${twoCols7525}">
                <div class="col col-12 col-lg-8 col-xl-9">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${twoCols2575}">
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-9">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${responsiveTwoCols2575}">
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col-12 col-md-9 col-lg-9">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${twoCols2080}">
                <div class="col col-12 col-lg-2">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-10">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='2colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${threeCols}">
                <div class="col col-12 col-lg-4">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-4">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-4">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${threeCols252550}">
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}"/>
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}"/>
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-6">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}"/>
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${threeCols502525}">
                <div class="col col-12 col-lg-6">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${threeCols255025}">
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-6">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='3colpar3', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${fourCols}">
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='4colpar1', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='4colpar2', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='4colpar3', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
                <div class="col col-12 col-lg-3">
                    <div class="column-control-column">
                        <sly data-sly-resource="${ @path='4colpar4', resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--//col -->
            </sly>
            <sly data-sly-test="${fiveCols}" data-sly-list.child="${[1,2,3,4,5]}">
                <div class="col col-12 col-lg-five-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['5colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${sixCols}" data-sly-list.child="${[1,2,3,4,5,6]}">
                <div class="col col-12 col-lg-six-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['6colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${sevenCols}" data-sly-list.child="${[1,2,3,4,5,6,7]}">
                <div class="col col-12 col-lg-seven-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['7colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${eightCols}" data-sly-list.child="${[1,2,3,4,5,6,7,8]}">
                <div class="col col-12 col-lg-eight-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['8colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${nineCols}" data-sly-list.child="${[1,2,3,4,5,6,7,8,9]}">
                <div class="col col-12 col-lg-nine-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['9colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${tenCols}" data-sly-list.child="${[1,2,3,4,5,6,7,8,9,10]}">
                <div class="col col-12 col-lg-ten-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['10colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${elevenCols}" data-sly-list.child="${[1,2,3,4,5,6,7,8,9,10,11]}">
                <div class="col col-12 col-lg-eleven-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['11colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
            <sly data-sly-test="${twelveCols}" data-sly-list.child="${[1,2,3,4,5,6,7,8,9,10,11,12]}">
                <div class="col col-12 col-lg-twelve-column">
                    <div class="column-control-column">
                        <sly data-sly-test.parPath="${'{0}{1}' @ format=['12colpar',child]}" />
                        <sly data-sly-resource="${ @path=parPath, resourceType='foundation/components/parsys'}" />
                    </div>
                </div>
                <!--/* col */-->
            </sly>
        </div>
        <!--//row -->
    </div>
</div>

<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.numCols}"></sly>