.m-shipping-methods {
  margin: var(--shipping-methods-margin);
}
.m-shipping-methods__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: var(--shipping-methods-list-item-padding);
  border-bottom: var(--shipping-methods-list-item-border);
}
.m-shipping-methods__list-item:first-child {
  border-top: var(--shipping-methods-list-item-border);
}
.m-shipping-methods__radio-btn,
.m-shipping-methods__radio-btn .a-radio__label {
  margin-bottom: 0;
}
.m-shipping-methods__price {
  font-size: var(--shipping-methods-price-font-size);
  margin-left: auto;
}
.m-shipping-methods__delivery {
  margin: 7px 0 0;
  width: 100%;
  font-style: italic;
}
