@import "../css/global/variables.less";

.home-banner {
    &.m-hero.m-hero--short.aem-GridColumn {
        margin-top:0;
    }
    		padding:0;
            height:0 auto;
            @media (min-width:768px) and (max-width:1180px){
        		height: auto;
    		}
              #section_banner-image-home {
                .container{
                    max-width:100%;
                    padding:0;
                    font-family: @fontBrandonbold;
                    text-align: center;
                    .m-hero__media {
                         @media (min-width:768px) and (max-width:1180px){
                            height:8rem;
                          }
               			 @media(min-width:753px)and (max-width:767px){
                            height:8rem;
                         }
                         @media screen and (max-width:480px) { 
                            height: 9rem;
                         }
                        img{
                           object-position: center left;
                    	   object-fit: inherit; 		
                           @media screen and (max-width:480px) {
                             object-position: center center;
                    	   }
                           @media(min-width:753px)and (max-width:767px){
								object-position: center right;
                           }
                           @media (min-width:768px) and (max-width:1180px){
                        		object-position: center right;
                    	   }
                           @media screen and (min-width:768px) and (max-width:1280px){
                              object-position: center center;
                           }
                        }
                    }
                     .m-hero__content{
                        width:90%;
                        margin:0 auto;
                          h1{
                            color: #222731;
                            margin-right:16%;
                            margin-top:6%;
                            @media screen and (max-width:480px) {
                                margin-top: 8%;
                                margin-right:7%;
                            }
                    		@media(min-width:753px)and (max-width:767px){
                    			margin-top: 0;
                                margin-right:3%;
                            }
                            @media screen and (min-width:768px) and (max-width:1180px){ 
                        		margin-right: 5%;
                            }

                        }
                    }
                }
            }
}
.welcome-banner{
    margin-left:13% !important;
    padding:0 !important;
    height:auto !important;
    @media screen and (max-width:480px){ 
		margin-left:0 !important;
        width: 100% !important;
    }
     @media(min-width:753px)and (max-width:767px){
        max-width:100% !important;
        margin-left:0 !important;
    }
    @media (min-width:768px) and (max-width:1180px){
		margin-left:11% !important;
        margin-top:-8% !important;
    }
    #molecular-middle-container {
                    width:100%;
                    margin:0 auto;
                    @media screen and (max-width:767px){
                        width: 100% !important;
                        padding: 0 20px !important;
                    }
                    h4 {
					    margin-top: 40px;
						margin-bottom: 40px;
            			font-family:@fontBrandonbold;
                        @media screen and (max-width:767px){
                         margin:40px 0 !important;
                		 }
                    }
                    p{
					  margin-top: 40px;
					  margin-bottom: 40px;
            		  @media screen and (max-width:767px){
                            margin:40px 0;
                            width:100%  !important;
                            strong{
                                font-size:1rem;
                            }
                        }
                    }
                }
}