@import "../../clientlib-pointofcare/css/global/media-queries.less";
@import "../../clientlib-pointofcare/css/global/variables.less";

body
{
    overflow-x: hidden;
    font-family: @georgias;
}
.root.responsivegrid
{
    background-color: @color-cloudy-grey;
}
.aem-Grid.aem-Grid--12.aem-Grid--default--12 
{
    max-width: 1457px;
    margin: 0 auto;
    background-color: @color-white;
}
.xf-content-height{
    .responsivegrid{
        background-color: transparent;
        .aem-Grid{
            background-color: transparent;
            .hidden.aem-GridColumn.aem-GridColumn--default--12{
                margin-top: 0;
            }
        }
    }
}
.a-rule {
    --rule-black-color: #a6a8aa;
}

.a-horizontal-rule {
    border-color: var(--rule-black-color);
    margin: 20px 0;

}


@media screen and (min-width: 64.063em),
print and (min-width: 64.063em),
projection and (min-width: 64.063em) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: @brandon-bold;
        text-transform: uppercase;
        font-weight: 300 !important;
                .normal
        {
            text-transform: none;
        }
    }

}

@media @xl-down {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: @brandon-bold;
        text-transform: uppercase;
        font-weight: 300 !important;
        letter-spacing: inherit;
        .normal
        {
            text-transform: none;
        }
    }
 }

@media @md-down {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: @brandon-bold;
        text-transform: uppercase;
        font-weight: 300 !important;
        .normal
        {
            text-transform: none;
        }
    }

    p {
        font-size: 1rem !important;
        line-height: 22px;
        font-family: @georgias;
        .normal
        {
            text-transform: none;
        }

        span {
            font-size: 1rem !important;
            line-height: 22px;
        }
    }

}

 #pageContent {

    .m-table-component {
        .table-responsive {
            table {
                tbody {
                    tr {
                        td {
                            @media @md-down{
                                font-size: 1rem !important;
                            }
                        }
                        th {
                            @media @md-down{
                                font-size: 1rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .cmp-text
    {
        table {
            tr{
                td, th{
                 @media @md-down{
                        padding: 10px;
                        font-size: 1rem !important;
                    }
                    p{
                        @media @md-down{
                            font-size: 1rem !important;
                        }
                    }
                }
            }
        }
    }
    .small {
        font-size: .875rem !important;
        line-height: 18px !important;
    }
    .large {
        font-size: 1.5rem !important;
        line-height: 30px !important;
         @media @md-down{
            font-size: 18px !important;
            line-height: 24px !important;
        }
    }
    .medium{
        font-size: 1.125rem !important;
        line-height: 24px !important;
        @media @md-down{
            font-size: 16px !important;
            line-height: 22px !important;
        }
    }
    .medium-mob {
        @media @md-down{
            font-size: 18px !important;
            line-height: 24px !important;
        }
    }
    .line-height-20{
        line-height: 20px !important;
    }
    .line-height-33{
        line-height: 33px !important;
        @media @md-down{
            line-height: 27px !important;
        }
    }
    .text-break{
        word-wrap: break-word;
    }

    .medium-16{
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .medium-21{
        font-size: 21px !important;
        line-height: 27px;
        @media @md-down{
            font-size: 18px !important;
            line-height: 24px !important;
        }
    }
    .normal{
        font-weight: 300 !important;
    }
    .font-brandonbold{
        font-family: @brandon-bold;
    }
    .font-brandonregular{
        font-family: @brandon-regular;
    }
    .font-brandonblack{
        font-family: @brandon-black;
    }
    .font-georgia{
        font-family: @georgias;
    }
    .no-border {
        border: none !important;
    }
    .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: @brandon-bold;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 0;
        padding-top: 9px !important;
        .lightFont{
            font-family: @brandon-regular;
        }
    }
	.h6{
        strong
        {
            font-weight: bold;
            font-family: @brandon-bold;
            text-transform: uppercase;
            margin-top: 0;
            padding-top: 9px !important;
        }
    }
    .h2, .h1 .small, .h3 .large{
        font-size: 2.25rem !important;
         line-height: 42px !important;
    }
    strong{
        font-weight: 700 !important;
    }
     h1 {
        font-size: 3rem;
        line-height: 54px;
        @media @md-down
        {
            font-size: 1.875rem;
            line-height: 36px;
        }
    }

    h2{
        font-size: 2.25rem;
        line-height: 42px;
        @media @md-down {
            font-size: 1.5rem;
            line-height: 30px;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    h3 {
        font-size: 1.688rem;
        line-height: 33px;

        span {
            color: @color-deep-sea-blue;
        }
        strong{
            font-weight: 700;
        }

        @media @md-down {
            font-size: 21.008px;
            line-height: 27px;
        }
    }
    h4 {
        font-size: 1.313rem;
        line-height: 27px;
        a {
            color: @color-deep-sea-blue;
            &:hover
            {
                color: @color-cerulean;
                text-decoration: none;
            }
        }
        @media @md-down {
            font-size: 1.125rem;
            line-height: 24px;
        }
    }

    h5 {
        font-size: 1.125rem;
        line-height: 24px;

        span {
            color: @color-deep-sea-blue;
        }
        a
        {
            color: @color-deep-sea-blue;
            &:hover{
                text-decoration: none;
                color: @color-cerulean;
            }
        }

        @media @md-down {
            font-size: 1rem;
            line-height: 22px;
        }
    }
    .h5.large {
        font-size: 1.313rem !important;
        line-height: 27px !important;
    }
    h6 {
        font-size: 1rem;
        line-height: 22px;

        span {
            color: @color-deep-sea-blue;
        }
        a
        {
            color: @color-deep-sea-blue;
            &:hover{
                text-decoration: none;
                color: @color-cerulean;
            }
        }

        @media @md-down {
            font-size: 1rem;
            line-height: 22px;
        }
    }
    iframe
    {
        border: 0;
    }


.a-container.a-container--shadow-box{
    padding: 30px 15px 15px 15px;
    border: 1px solid #a6a8aa;
    border-radius: unset;
    background: @color-dawn-pink;  
    word-wrap: break-word;
    @media @md-down{
        width: 100% !important;
        padding: 0;
    }
    .cmp-container{
        @media @md-down{
            padding: 15px;
        }
    }
    .title, .text, .link{
        margin: 0 !important;
    }
    .link{
        padding-bottom: @spacer-10;
        .a-link__text{
            &:hover, &:focus{
                color: @color-cerulean;
            }
            .a-link__inner-text{
                text-transform: unset;
                font-weight: 300;
                word-break: break-word;
                &:hover{
                    color: @color-cerulean;
                }
            }
        }
    }
    .video{
        .wistia_embed{
            .wistia-video__has-image{
                display: block;
            }
        }
    }
    .image{
        .cmp-image__image.cmp-image__image--mobile{
            @media @md-down{
                width: 100%;
            }
            &.a-image__default.a-image__original {
                @media @md-down{
                    width: auto;
                }
            }
        }
    }
    .text{
        p{
            a{
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.image-container{
    padding: 0 !important;
    .a-container__content{
        .cmp-container{
            padding: 0 0 15px 0 !important;
            .title, .text, .link{
                padding: 0 15px;
            }
            .link{
                padding-bottom: @spacer-10;
            }
            .image{
                margin-top: 0 !important;
            }           
        }
    }
}

.video-container{
    padding: @spacer-15 !important;
    .cmp-container{
        @media @md-down{
            padding: 0 !important;
        }
        .title{
            margin-top: @spacer-25 !important;
        }
    }
}

.imgright-container{
    padding: 15px !important;
     @media @md-down{
        padding: 0 !important;
    }
    .a-container__content{
        .cmp-container{
            @media @md-down{
                padding: 15px !important;
            }
            .text{
                padding: 0 !important;
            }
        }
     }
}

.searchresults{
    .o-search-res[data-search-type="faqsearch"], .o-search-res[data-search-type="getfaqsearch"], .o-search-res[data-search-type="faqsearchglobal"], .o-search-res[data-search-type="getfaqsearchglobal"]  {
        @media @md-down{
            padding-left: 0;
            padding-right: 0;
        }
        .o-search-res__container {
            .col-md-8{
                @media @md-down{
                    padding-left: 0;
                    padding-right: 0;
                }
                .o-search-res__results{
                    @media @md-down{
                        margin-top: 24px;
                    }
                    .a-result{
                        &:last-child
                        {
                            border-bottom: 1px solid @color-gray-medium !important;
                        }
                        
                    }
                }
            }
        }
    }
}

.responsivegrid {
    .aem-Grid {
        >.aem-GridColumn:not(.experiencefragment) {
            margin-top: 3.125rem;
            margin-bottom: 3.125rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
        >.columncontrol:not(.experiencefragment) {
            margin-top: 0;
            margin-bottom: 0;
            @media @lg-only{
                padding-left: 0;
                padding-right: 0;
            }
        }

        .a-container.a-container--shadow-box {
            margin-top: 0 !important;
        }

        >.aem-GridColumn.title.a-title:not(.experiencefragment) {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        >.aem-GridColumn.text:not(.experiencefragment) {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .video {
            padding-bottom: 0;
            margin-top: 0 !important;
        }

        >.m-hero:not(.experiencefragment) {
            margin-top: 3.125rem;
            margin-bottom: 3.125rem;
        }

        .columncontrol {
            .row {
                >[class*="col-"]>div:not(.experiencefragment) {
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                >[class*="col-"]>div:not(.experiencefragment):only-child {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                >[class*="col-"]>div:not(.experiencefragment):first-child {
                    margin-top: 0;
                }
                >[class*="col-"]>div:not(.experiencefragment):last-child {
                    margin-bottom: 0;
                }

                .columncontrol__column:last-child {
                    @media @md-down {
                        margin-bottom: 0 !important;
                    }
                }

                .columncontrol__column {
                    .container.responsivegrid {
                        margin-top: 1.5 !important;
                    }
                }
            }
            #promobox_video--bgblue {
                .row {
                    @media @lg-only {
                        margin-right: -20px;
                        margin-left: -20px;
                    }
                    .columncontrol__column {
                        &:last-child {
                            margin-bottom: 0 !important;
                        }
                        &:first-child {
                            @media @lg-only {
                                margin-bottom: 0 !important;
                            }
                        }
                        .video {
                            @media @md-down {
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        .container.a-container {

            .cmp-container>div:not(.experiencefragment) {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
             .cmp-container>div:not(.experiencefragment):last-child {
                    margin-bottom: 0 !important;
                }
                 .cmp-container>div:not(.experiencefragment):only-child {
                    margin-bottom: 0 !important;
                }


            .cmp-container {

                .columncontrol {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
                #promobox_video--bgblue {
                    .columncontrol__column {
                        &:first-child {
                            padding-left: 0;
                        }
                        display: flex;
                    }
                }
            }
        }

        .layoutcontainer {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 3.125rem;
            padding-bottom: 3.125rem;

        }

        >.container.a-container {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 3.125rem;
            padding-bottom: 3.125rem;

            .cmp-container {
                &>div:not(.experiencefragment) {
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;

                }

                .title.a-title.a-title--sectiontitle-dark {
                    margin-top: 3.125rem;
                    margin-bottom: 1.5rem;


                    @media @md-down {
                        margin-top: 20px !important;
                        margin-bottom: 48px !important;
                    }

                }
                .title{
                    @media @md-down{
                        margin-top: 0 !important;
                    }
                }
                >.title:first-child {
                    @media @md-down{
                        margin-top: 1.5rem !important;
                    }
                }

            }

        }

        .accordion {
            padding-top: 0;
            padding-bottom: 0;
        }
        #promobox_video--bgblue {
            background-color: #004f71;
            .columncontrol__column {
                &:last-child {
                    padding: 25px 25px 25px 15px;
                }
            }
            .m-video {
                .a-video__player {
                    .wistia-video__has-image {
                        margin-bottom: -6px;
                    }
                }
            }
            .a-video__player {
                height: 100%;
                width: 100%;
                padding-bottom: 0;
            }
            .text {
                display: flex;
                align-items: center;
                margin-left: -20px;
                @media @lg-down{
                    margin-left: -10px;
                }
                @media @md-down{
                    margin-left: 5px;
                }
                .cmp-text {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
    }


}

.responsivegrid .aem-Grid .container.a-container .cmp-container .video{
margin-top: 0 !important;
    margin-bottom: 0 !important;


}

.m-video 
	{
    .a-video[data-playertype="embed"] 
        {
        .global-video-embedDam
        {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
	}
}
.linkstack {
        .m-link-stack {
            .m-link-stack--header {
                display: none;
            }

            .m-link-stack--content {
                display: block !important;
                padding-top: 0;
                padding-left: 0;

                .a-link {
                    .a-link__text {
                        font-weight: 300;
                        font-size: 1.125rem;
                        line-height: 24px;
                        color: @color-cerulean;
                        font-family: @brandon-bold;

                        &:hover {
                            text-decoration: underline;
                            color: @color-cerulean;
                        }

                        @media @md-down {

                            text-transform: uppercase;
                            font-size: 1rem;
                            line-height: 22px;
                        }

                    }

                }

            }
        }
    }
   
}
.noncapitalised, .nonCapitalised{
    text-transform: none !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.text-none{
    display: none !important;
}
.image--mt-small{
    margin-top: 1rem !important;
}
.image--mt-medium{
    margin-top: 1.5rem !important;
}

.image--mb-small{
    margin-top: 1rem !important;
}
.image--mb-medium{
    margin-top: 1.5rem !important;
}

.image--float-left{
    @media @md-down{
        clear: both;
    }
}

.image--float-right{
    @media @md-down{
        clear: both;
    }
}

#promobox_abbott--bgblue, .promobox_abbott--bgblue {
    background-color: @color-deep-sea-blue;
    .columncontrol__column{
        padding: 0;
        &:first-child
        {
            display: inline-flex;
            @media @lg-down{
                margin-bottom: 0;
            }
            @media @md-down
            {
                display: block;
            }
        }
        
        @media @lg-down{
            display: block;
        }
        p{
            color: @color-white;
            span{
                color: @color-white;
                font-size: 18px;
                @media @md-down{
                    line-height: 22px;
                }
            }
        }
        .cmp-image{
            @media @lg-down{
                height: 100%;
                object-fit: cover;
            }
            .cmp-image__image--tablet{
                @media @lg-down{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        
    }
    .columncontrol__column:last-child{
        padding: 25px;
    }
}
#promobox_abbott--bgblue{
    .columncontrol__column{
        @media @md-down{
            display: block;
        }
        .a-image__default.a-image__original {
            @media @md-down{
              width: 100%;
        	}
        }
    }
}
.a-spacer.aem-GridColumn {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.container-full-width .cmp-container {
    @media @md-down {
        padding: 30px 10px;
    }
}

.devicespecific{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.articletags{
    .abt-icon-default-tag{
        &::before{
            width: 20px !important;
            background-size: 130px !important;
            transform: rotate(270deg);
        }
    }
}

.a-container.a-container--gradient-start{
    @media @md-down{
        padding: 0 !important;
        .a-container__content{
            padding: 15px;
        }
    }
}

.a-container.container-full-width{
    @media @md-down{
        padding-left: 0;
        padding-right: 0;
    }
    .cmp-container{
        @media @md-down{
            background-size: 100% !important;
            padding-left: 0;
            padding-right: 0;
        }
        @media @lg-only
        {
            max-width: 100% !important;
        }
        .text{
            ul{
                @media @md-down{
                    margin-bottom: 0;
                }
            }
        }
        @media @md-down{
            padding-left:10px;
            padding-right:10px;
        }
        margin-top:0;
        margin-bottom:0;
        h1,h2,h3,h4,h5,h6{

			padding-top:9px;
            margin-bottom:10px;
        }
         &>div:not(.experiencefragment) {
                   margin-top: 0 !important;
                   margin-bottom: 0 !important;

        }
        p{
			margin-bottom:28px;
            font-size:16px;
            line-height:20px;
            span{
			font-size:16px;
            line-height:20px;
            }
        }

        .columncontrol {
            .row {
                >[class*="col-"]>div:not(.experiencefragment) {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
                .columncontrol__column {
					margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
                 .columncontrol__column:last-child {
                    @media @lg-down {
                        margin-bottom: 0 !important;
                    }
                }

            }
            .image{
                .cmp-image{

					margin-bottom:20px;
                }
            }   
        }
    }
    .a-container__media__mobile{
        display: none;
    }
    padding: 60px 10px !important;
	 @media @lg-down{
         padding: 45px 10px !important;
    }
    @media @md-down{
         padding: 30px 0 !important;
    }
    &.pb-0{
		padding-bottom:0 !important;
            @media @md-down{
            padding-left:10px;
            padding-right:10px;
            }
        .cmp-container{
			padding-bottom:0 !important;
            @media @md-down{
            padding-left:10px;
            padding-right:10px;
            }
        }
    }
    &.pt-0{
        padding-top:0 !important;
            @media @md-down{
            padding-left:10px;
            padding-right:10px;
            }
        .cmp-container{
		    padding-top:0 !important;
            @media @md-down{
            padding-left:10px;
            padding-right:10px;
            }
        }
    }
}

.devicespecific.mobile-true{
    .container.container-full-width{
        .cmp-container{
            @media @md-down{
                background-image: none !important;
            }
        }
        .a-container__media{
            .a-container__image{
                @media @md-down{
                    display: block;
                }
            }
        }
    }
    .a-container--gradient-start{
        .a-container__row{
            .a-container__media__mobile{
                @media @md-down{
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    z-index: -1;
                    -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                    order: 1;
                }
                img{
                    @media @md-down{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: center center;
                        object-position: center center; 
                    } 
                }
            }
        } 
    } 
}

#section-promobox-blue-bg{
    margin-left: -10px;
    margin-right: -10px;
    .cmp-container{
        padding-top: 10px;
        padding-bottom: 10px;
        .text{
            @media @md-down{
                margin-top: 10px;
            }
        }
    }
}


#event-listing-filter{
    .no-events {
        color: #222731;
        font-family: @georgias;
    }
}

#btn-noncapitalised{
    text-transform: unset !important;
    span, h3{
        text-transform: none;
    }
}

.productsupportbutton{
    @media @lg-up{
        margin-bottom: 1.5rem !important;
    }
}

@media (min-width: 1457px) {
    html {
        background-color: #63666a;
    }
    body {
        width: 1457px;
        margin: 0 auto !important;
    }
}

.a-spacer{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#promobox_abbott--bg{
    @media @lg-only{
        padding: 0 10px;
    }
    .row{
        border: 1px solid #a6a8aa;
        .columncontrol__column{
            padding-left: 0;
            padding-right: 0;
            @media @lg-down{
                margin-bottom: 0 !important;
            }
            .image{
                width: auto;
                height: 100%;
                .cmp-image{
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .container{
                padding: 25px;
                @media @lg-up{
                    height: 100%;
                }
                @media @md-down{
                    padding: 0;
                }
                .cmp-container{
                    @media @lg-only{
                        padding: 0;
                    }
                    @media @md-down{
                        background-size: 0 !important;
                        padding: 15px;
                    }
                    .text{
                        margin-top: 0 !important;
                        h4{
                            @media @lg-down{
                                padding-top: 8px;
                                margin-bottom: 10px;
                            }
                        }
                        p{
                            span{
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
                    }
                }
                .a-container__media{
                    .a-container__image{
                        @media @md-down{
                            display: block;
                        }
                    }
                }
                .a-container__media__mobile{
                    @media @md-down{
                        display: none;
                    }
                }
            }
            .video{
                height: 100%;
                .a-video--thumbnail{
                    height: 100%;
                    .a-video {
                        height: 100%;
                        .a-video__player{
                            height: 100%;
                            div{
                                 height: 100%;
                                div{
                                     height: 100%;
                                    .wistia_embed{
                                        height: 100%;
                                        .wistia_click_to_play{
                                            height: 100% !important;
                                            .wistia-video__has-image{
                                                height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#container-background-cover.cmp-container{

	 @media @md-down{
        background: #19607f center center no-repeat;
		background-size:cover !important;
    }


}
#clear-inline--image, .clear-inline--image{

    clear:both;

}

.o-content-section__title, .o-features-card--small h4 {
    word-wrap: initial;
    word-break: initial;
}
.a-title__box, #pageContent .a-container.a-container--shadow-box {
    .a-title__text, h1, h2, h3, h4, h5, h6 {
        word-wrap: initial;
        word-break: initial;
    }
}
.visible-xl {
    @media @lg-down {
        display: none;
    }
}
.font-weight-4 {
    font-weight: 400 !important;
}
.font-weight-5 {
    font-weight: 500 !important;
}
.image--float-left.image--mt-small.image--mb-small {
    margin: 0 !important;
    padding: 0 !important;
    @media @md-down{
        clear: inherit!important;
    }
}

.columncontrol #promobox_video--bgblue .m-video {
    overflow: hidden;
}

.text .primary-link {
    span {
        font-family: @brandon-bold;
        color: @color-cerulean;
        &:hover {
            text-decoration: underline;
        }
    }
}
.mt-0{
    margin-top: 0 !important;
}

.container {
    .experiencefragment {
        .xf-content-height {
            .root.responsivegrid {
                background-color: transparent !important;
                .container{
                    @media @lg-down{
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}
#tab-abbott-yellow, #tab-abbott-gray, #tab-abbott-blue, #tab-abbott-green, #tab-abbott-primaryblue, #tab-abbott-cyan {
    nav a {
        @media @md-down {
            text-align: left;
            padding: 5px 10px 5px 10px;
        }
    }
} 

#product-searchbar-container{
    .searchbar{
        .search__heading{
            .m-search-bar__button{
                .search-button{
                    @media @md-down{
                        height: 35px; 
                    }
                    .btn{
                        padding: 9px 20px 8px 20px;
                    }
                }
            }
            .m-search-bar__input {
                &-field {
                    &:focus {
                        outline: auto;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
.a-read--more-less {
    font-family: @georgias;
    &:hover {
        color: @color-cerulean;
    }
}

.small {
    font-size: .875rem !important;
    line-height: 18px !important;
}
.large {
    font-size: 1.5rem !important;
    line-height: 30px !important;
     @media @md-down{
        font-size: 18px !important;
        line-height: 24px !important;
    }
}
.medium{
    font-size: 1.125rem !important;
    line-height: 24px !important;
    @media @md-down{
        font-size: 16px !important;
        line-height: 22px !important;
    }
}
.medium-16{
    font-size: 16px !important;
    line-height: 20px !important;
}
.medium-21{
    font-size: 21px !important;
    line-height: 27px;
    @media @md-down{
        font-size: 18px !important;
        line-height: 24px !important;
    }
}
.link-color {
    color: @color-deep-sea-blue;
    &:hover {
        color: @color-cerulean;
        text-decoration: none;
    }
}
#upcoming-events {
    .a-card-result__cardrow {
        .inner-div {
            .conf-button {
                .a-result__link{
                    &:focus {
                        display: block;
                        background-color: @color-dark-gray;
                        color: @color-cerulean !important;
                    }
                }
            }
        }
    }
}

#article-detail-section { 
    #column-container-bg-left {
        padding: 0 !important;
        .columncontrol {
            .row {
                margin-left: 0;
                margin-right: 0;
                .columncontrol__column {
                    padding: 0;
                    @media @lg-down {
                        margin: 0 !important;
                    }
                    > .container {
                        height: 100%;
                        .a-container__media .a-container__image, .a-container__media .a-container__image img {
                            background-position: center left;
                            object-position: center left;
                        }
                        .cmp-container {
                            @media @md-down {
                                padding: 30px 10px 15px;
                            }
                            .cmp-text {
                                p {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ghost.cq-Editable-dom{
    display: block !important;
}
.ghost{
    display: none;
}
.ghost + div{
    margin-top: 0 !important;
}

.text_non_capital {
    text-transform: none !important;
}
.text_size_small {
    font-size: .875rem !important;
    line-height: 18px !important;
    font-weight: 400;
}
.text_size_medium {
    font-size: 1.125rem !important;
    line-height: 24px !important;
    font-weight: 400;
}
.text_size_large {
    font-size: 1.5rem !important;
    line-height: 30px !important;
    font-weight: 400;
}
.text_icon_pdf {
	position: relative;
	display: block;
	padding-left: 2.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 24px;
	&:before {
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background: url("../../../../division/clientlibs/clientlib-site/resources/images/pdf-icon.svg");
		content: "";
		width: 26px;
		height: 25px;
		background-position: center;
		margin: auto;
		background-size: 80%;
		background-repeat: no-repeat;
	}
}
.text_icon_tick {
	position: relative;
	display: block;
	padding-left: 2.25rem;
	font-size: 1rem;
	line-height: 24px;
	font-weight: 400;
	&:before {
		content: "\e905";
		left: 0;
		font-size: 1.375rem;
		position: absolute;
		color: @color-gray-medium;
		font-family: 'Abbott-icon',sans-serif;
		width: 26px;
		height: 25px;
	}
}
.text_link_primary {
	color: @color-cerulean !important;
	a {
		color: @color-cerulean !important;
	}
}
a {
	&:hover {
		.text_link_primary {
			text-decoration: none !important;
			display: inline-block;
		}
	}
    .text_link_primaryarrow {
		color: @color-cerulean !important;
		position: relative;
		padding-right: 2.25rem;
		display: inline-flex;
		font-weight: 300;
		&:before {
			content: "\e926";
			right: 0;
			font-size: 1.375rem;
			position: absolute;
			color: @color-cerulean !important;
			font-family: 'Abbott-icon',sans-serif !important;
			width: 26px;
			height: 25px;
			font-weight: 800;
		}
	}
}
.text_link_primaryarrow {
	color: @color-cerulean !important;
	font-weight: 300;
	a {
		color: @color-cerulean !important;
		position: relative;
		padding-right: 2.25rem;
		display: inline-flex;
		&:before {
			content: "\e926";
			right: 0;
			font-size: 1.375rem;
			position: absolute;
			color: @color-cerulean;
			font-family: 'Abbott-icon',sans-serif !important;
			width: 26px;
			height: 25px;
			font-weight: 800;
		}
	}
}
.text_icon_arrow {
	position: relative;
	padding-left: 2rem;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 24px;
	&:before {
		content: "\e926";
		left: 0;
		font-size: 1.375rem;
		position: absolute;
		color: @color-cerulean !important;
		font-family: 'Abbott-icon',sans-serif !important;
		width: 26px;
		height: 25px;
		font-weight: 800;
	}
}
#product-blankimage{
    display: none;
}
#email-focus{ 
    display: none;
    p{
        margin-top: -20px;
    }
}
.text_table_no_border{
	.cmp-text {
		table {
			border: 0 solid transparent;
			tr {
				td {
					border-bottom: 1px solid @color-dark-gray;
				}
			}
		}
		.res-table {
			table {
				border: 0 solid transparent;
				tr {
					td {
						border: none;
						border-bottom: 1px solid @color-dark-gray;
					}
					&:nth-child(even) {
						td {
							background-color: #f6f6f5;
						}
					}
				}
			}
		}
	}
}
.m-table-component__table.table-border--bottom {
	tr {
		&:first-child {
			font-weight: 700;
		}
		&:nth-child(even) {
			td {
				background-color: #f6f6f5;
			}
		}
	}
}
.devicespecific.cq-Editable-dom {
	.m-hero--auto-height {
		height: 100% !important;
		.m-hero__media {
			min-height: 100% !important;
		}
	}
}
.conditional .experiencefragment .xf-content-height .a-container .a-container__row .cmp-container .text .cmp-text p {
    color: inherit;
    font-size: 1rem;
    line-height: 20px;
    font-family: @georgias;
}
@media @lg-up {
    .cmp-container .experiencefragment .xf-content-height .a-container .a-container__row .cmp-container .columncontrol .container .columncontrol__column .text p {
         letter-spacing: inherit;
         font-size: 1rem;
         line-height: 20px;
         color: inherit;
         text-transform: inherit;
         font-family: @georgias;
     }
 }
 