/* Varibale */
@horizontalrule-margin-large: 48px;
@horizontalrule-margin-medium: 32px;
@horizontalrule-margin-small: 16px;
@horizontalrule-margin-none: 0;

.a-rule {
  --horizontalrule-abbott-bg-default: #d9d9d6;
  --horizontalrule-abbott-white: #ffffff;
  --horizontalrule-abbott-black: #000000;
  --horizontalrule-abbott-primary-blue: #009cde;
  --horizontalrule-abbott-dark-blue: #002a3a;
  --horizontalrule-abbott-medium-blue: #004f71;
  --horizontalrule-abbott-light-blue: #5bc2e7;
  --horizontalrule-abbott-mint: #64ccc9;
  --horizontalrule-abbott-purple: #470a68;
  --horizontalrule-abbott-red: #e4002b;
  --horizontalrule-abbott-orange: #ff6900;
  --horizontalrule-abbott-magenta: #aa0061;
  --horizontalrule-abbott-gold: #eeb33b;
  --horizontalrule-abbott-yellow: #ffd100;
  --horizontalrule-abbott-medium-green: #00b140;
  --horizontalrule-abbott-light-green: #7ccc6c;
  --horizontalrule-abbott-charcoal: #222731;
  --horizontalrule-abbott-dark-gray: #63666a;
  --horizontalrule-abbott-medium-gray: #888b8d;
  --horizontalrule-abbott-light-gray: #d9d9d6;
}

.darkBlue{
  --horizontalrule-border-color: var(--horizontalrule-abbott-dark-blue);
}
.lightblue{
  --horizontalrule-border-color: var(--horizontalrule-abbott-light-blue);
}
.mediumBlue{
  --horizontalrule-border-color: var(--horizontalrule-abbott-medium-blue);
}
.primaryBlue{
  --horizontalrule-border-color: var(--horizontalrule-abbott-primary-blue);
}
.charcoal{
  --horizontalrule-border-color: var(--horizontalrule-abbott-charcoal);
}
.gold{
  --horizontalrule-border-color: var(--horizontalrule-abbott-gold);
}
.lightGreen{
  --horizontalrule-border-color: var(--horizontalrule-abbott-light-green);
}
.mediumGreen{
  --horizontalrule-border-color: var(--horizontalrule-abbott-medium-green);
}
.darkGray{
  --horizontalrule-border-color: var(--horizontalrule-abbott-dark-gray);
}
.mediumGray{
  --horizontalrule-border-color: var(--horizontalrule-abbott-medium-gray);
}
.lightGray{
  --horizontalrule-border-color: var(--horizontalrule-abbott-light-gray);
}
.magenta{
  --horizontalrule-border-color: var(--horizontalrule-abbott-magenta);
}
.abbott-mint{
  --horizontalrule-border-color: var(--horizontalrule-abbott-mint);
}
.orange{
  --horizontalrule-border-color: var(--horizontalrule-abbott-orange);
}
.purple{
  --horizontalrule-border-color: var(--horizontalrule-abbott-purple);
}
.red{
  --horizontalrule-border-color: var(--horizontalrule-abbott-red);
}
.yellow{
  --horizontalrule-border-color: var(--horizontalrule-abbott-yellow);
}
.black{
  --horizontalrule-border-color: var(--horizontalrule-abbott-black);
}
.white{
  --horizontalrule-border-color: var(--horizontalrule-abbott-white);
}