

.cmp-search-result-overlay {
    .modal{
      padding-right: 0px !important;  
    }
    .full-height-mb-screen{
        @media @mobile-break {
            height: 100%;
        }
        max-height: 100%;
      	border-radius: 0;
    	border: 0;
    }
    .full-height-full-screen {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
        max-height:100%;
    }
     .modal-header{
        padding-bottom: 64px;
        z-index: 1 !important;
        .close{
            margin-left: 2rem;
        }
       
        .modal-title{
            color: #001489;
            font-size:  14px;
            line-height: 14px;
            font-weight: 600;
            
        }
        .closebtn-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            gap: 8px;
            position: absolute;
            width: 143px;
            height: 40px;
            left: 12px;
            top: 12px;
            margin-left: 9rem;
            margin-top: 0.5rem;
            &-logo{
                background: url(/content/dam/adc/freestylelibrede/de/de/fsl/icon-close.svg) no-repeat;
                border: none;
                padding: 10px 9px;
               
            }
        }
        .closebtn-box:hover{
            background-color: #E5E5E5;
            border-radius: 4px !important;
        }
        .closebtn-box-font {
            font-family: @source-sans-pro, @default-font-family;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            color: #001489;
            -webkit-transition: background-color 0.3s ease-out;
            -moz-transition: background-color 0.3s ease-out;
            transition: background-color 0.3s ease-out;
        }
     }
    .adc-search-container{
        width: 100% !important;
        .adc-search-field__input-wrapper{
            width: 100%;
        }
        .adc-search-field__input{
            padding: 25px; 
            border: 1px solid grey; 
            border-radius: 4px; 
            background-color: lightgray;
        }
        .adc-search-dropdown{
            position: relative;
            margin-left: 2.75rem;
            width: 100%;
            display: none;
        }
        .loader-alignment{
            margin-top: 10rem !important;
        }
        .adc-search-field{
            .search-icon-blue{
                width: 52px;
                height: 52px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 16px;
                gap: 8px;
                position: absolute;
                background-color: #E5E5E5;
                &-logo{
                    background: url(/content/dam/adc/freestylelibrede/de/de/search_icon_blue.svg) no-repeat !important;
                    border: none;
                    padding: 10px 10px !important;
                }
            }
            .adc-search-field__input-wrapper{
                .adc-search-field__input{
                    padding: 26px;
                    border-radius: 4px;
                    border: 1px solid #E5E5E5;
                    background-color: #F9F9F9;
                    margin: 0px;
                }
                .adc-search-field__icon {
                    padding-top: 6px;
                    padding-right: 3px;
                    padding-bottom: 3px;
                    padding-left: 6px;
                    margin-left: 0px;
                    margin-right: -20px;
                    border-radius: 4px;
                    width: 53px !important;
                    height: 53px !important;
                    background-color: #E5E5E5;
                    .adc-icon--search-grey{
                        width: 36px !important;
                    }
                }
            }
        }
       
    }
   
    .adc-search-result{
        padding-right: 0px !important;
        padding-left: 0px !important;
        p {
            margin-bottom: 0.5rem !important;
        }
        .adc-search-result__title{
            letter-spacing: 0px !important;
        }
        .search-result-text-styling{
            text-decoration: none !important;
        }
        .loader-alignment{
            margin-top: 7rem !important;
            margin-bottom: 2rem !important;
        }
       .adc-search-result__content:hover{
                background-color: #E5E5E5 !important;
              }

        .adc-search-result__content{
            padding-left: 10px;
        .adc-search-result__short-desc{
            font-family: @source-sans-pro, @default-font-family;
            color: #000000;
            font-size:  14px;
            line-height: 21px;
            font-weight: 400;
        }
        .adc-title--black{
            font-family: @source-sans-pro, @default-font-family;
            color: #001489 !important;
            font-size: 16px !important;
            font-weight: 600 !important;
        }
    }
        
    }
    .div-hover{
        padding-right: 0px !important;
         -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
        .adc-search-result a{
            text-decoration: none !important;
        }
        .adc-title{
            font-family: @source-sans-pro, @default-font-family;
            color: #001489 !important;
            font-size: 16px !important;
            font-weight: 600 !important;
        }
        .adc-search-result__short-desc{
            font-family: @source-sans-pro, @default-font-family;
            color: #000000;
            font-size:  14px;
            line-height: 21px;
            font-weight: 400;
        }

    }

    .div-hover:hover {
        background-color: #E5E5E5 !important;
        border-radius: 4px  !important;
        transition: 0.3s !important;
       
    }

    .list-div {
        transition-duration: 0.3s !important;
        cursor: pointer !important;
        padding-left: 10px;
    }
}


@media @mobile-break{
    .cmp-search-result-overlay {
        .modal{
            padding: 0px !important;
        }
        .modal-header{
            .closebtn-box{
                margin-left: 0rem;
                margin-top: 0.5rem;
            }
        }
        .modal-body{
                padding: 10px;
            .container{
                margin-left: 0px;
                margin-right: 0px;
                .adc-search-container{
                    display: block !important;
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                    .adc-search-field__icon{
                        margin-bottom: -12px !important;
                        margin-right: -24px !important;
                    }
                }
            }
            .adc-search-result{
                padding-left: 8px !important;
                padding-right: 8px !important;
                .adc-search-result__title {
                    font-family: @source-sans-pro, @default-font-family;
                    font-weight: 900;
                    letter-spacing: 0px !important;
                    margin-left: 8px;
                    padding-left: 0px !important;
                }
                .v2-rendition-mobile-button{
                    font-family: @source-sans-pro, @default-font-family;
                    font-size: 12px !important;
                    padding: 0px !important;
                }
            }
            .row .justify-content-center .model-search-styling{
                margin-left: 0px !important;
                margin-right: 0px !important;
                padding-right: 5px !important;
                padding-left: 5px !important;
            }
        }
        .list-div {
            transition-duration: 0.3s !important;
            cursor: pointer !important;
            padding-left: 0px;
        }
    }
}

@media @tab-only{
    .cmp-search-result-overlay{
        .modal-header {
            .closebtn-box {
                margin-left: 2rem !important;
            }
        }
        .modal-body{
           
        .container{
            margin-left: 0px !important;
            margin-right: 0px !important;
        .adc-search-container{
            display: block !important;
        }
    }
}
    }
}
