
.adc-search-filter {
	&__title {
		font-weight: @weight-medium-bold;
		margin-bottom: (@v_space) !important;
	}
	.custom-checkbox {
		min-height: 2.25px !important;
		.custom-control-label {
			margin-bottom: (@v_space);
			vertical-align: sub;
			padding: 5px 0 0 10px;
			outline: none;
			line-height: 24px;
			overflow-wrap: anywhere;
			&:before {
				background-color: transparent;
				.icon(Checkbox_inactive);
				background-position: 0% 50%;
				width: 25px;
				height: 25px;
				box-shadow: none;
				border-width: 0;
			}
		}
		.custom-control-input:checked {
			& ~ .custom-control-label {
				&:before {
					.icon(Checkbox_activ);
					background-color: transparent;
					box-shadow: none;
					color: @color-fsl-blue;
				}
				&:after {
					background: none;
					box-shadow: none;
				}
			}
		}
	}
}

.margin-fix {
	@media @adc-mobile-break {
		padding-right: 0px;
    	padding-left: 0px;
	}
}
