<sly data-sly-use.page="${'com.abbott.aem.ardx.division.core.components.models.ArdxPage'}">
     <div id="google-data-layer" class="d-none">
        <div class="page-title" data-value="${page.pageTitle}"></div>
		<div class="product-name" data-value="${page.productName}"></div>
        <div class="brands" data-value="${page.brandTags}"></div>
        <div class="area-of-interest" data-value="${page.areaOfInterestTags}"></div>
        <div class="gbu-tags" data-value="${page.gbuTags}"></div>
        <div class="all-tags" data-value="${page.allTags}"></div>
        <div class="apoc-tags" data-value="${page.apocTags ? 'apoc' : '' }"></div>
     </div>
</sly>