<sly data-sly-use.page="${'com.abbott.aem.ardx.division.core.components.models.ArdxPage'}">
    <sly data-sly-test="${wcmmode.edit}">
        <sly data-sly-use.clientlibs="${'com.adobe.cq.wcm.core.components.models.ClientLibraries' 
            @ categories='abbott.ardx.components.genericpage'}"> ${clientlibs.jsAndCssIncludes @ context="unsafe"}
        </sly>
        <div class="generic-page-approvalId">
            Approval ID (Veeva, Ensur, Pepper):<br/>${page.approvalID}
        </div>
    </sly>
	 <meta name="meta-page-tags" content="${page.allTags}">
	 <meta name="meta-page-brand-tags" content="${page.brandTags}">
	 <meta name="meta-page-tags-id" content="${page.allTagsId}">
	 <meta name="meta-page-brand-tags-id" content="${page.brandTagsId}">
</sly>