@import "../../clientlib-transfusion/css/global/variables.less";

/*common*/
.margin-0{
    margin: 0;
    max-width: 100%;
    background-color: @blue-bg-color;
    @media (min-width: 300px) and (max-width: 1205px) {
        padding: 0;
    }
}

#pageContent{
    .sitemap-breadcrumb{
        background-color: @blue-bg-color;
        padding-top: 30px;
        @media (min-width: 300px) and (max-width: 1205px) {
        position: relative;
        top: 1px;
        }
        .container{
            width:70%;
            margin: 0 auto;
            padding: 40px 0;
            position: relative;
            top: -1px;
            span{
                font-size: 12px !important;
                color: @black-color;
                text-transform: capitalize;
                font-weight: normal;
            }
        }
    }
    .country-wrapper{
        .container{
            #section-globe_text_container{
                width:75%;
                margin: 0 auto;
                .cmp-title__text{
                    font-size: 60px;
                    color: @white-color;
                    font-family: @fontBrandonBlack;
                    text-transform: uppercase;
                    @media (min-width: 300px) and (max-width: 1205px) {
                        font-size: 30px;
                    }
                }
                @media (min-width: 300px) and (max-width: 1205px) {
                    margin-bottom: 0;
                    padding:30px 0 30px 0;
                    width: 91%;
                }            
                .a-container__content{
                    @media (min-width: 1280px) {
                        padding: 80px 0 80px 10px;
                    }                
                }
            }
        } 

        .fixed-width{
            @media (min-width:1206px){
            width:30%;
            margin-left: 10%;
            }
            #globe_language{
                padding: 100px 0;
                .columncontrol__column{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;
                    }
                }
                .text{
                    margin: 30px 0 0px 0;
                    .cmp-text a{
                        font-family: @fontBrandonbold;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: @link_color;
                        text-decoration: none;
                        cursor: pointer;  
                        line-height: 24px;
                        font-size: 20px;
                        }
                }                
                .a-link__inner-text{
                    font-family: @fontGeorgia;
                    text-transform: capitalize;
                    color: @link_color;
                    text-decoration: none;
                    font-weight: normal;
                    cursor: pointer;  
                    line-height: 24px;
                    font-size: 16px;
                    
                }
            }

        }
    }

}

