@import "../../clientlib-transfusion/css/global/variables.less";
@import "../../clientlib-themes/css/add-transfusion-theme.less";


#listening-to-needs.bodyContent{
    padding: 115px 0px 65px 0px !important;

    @media only screen and (max-width: 768px) {
        padding: 115px 0px 0px 0px !important;
    }

    @media only screen and (max-width: 753px) {
        padding: 20px 0px 0px 0px !important;
    }
}

.listening-container{
    @media only screen and (max-width: 753px) {
        .a-container__media__mobile{
            display: none;
        }

        .cmp-container{
            max-width: 100% !important;
            padding: 20px;
        }
    }
}

#listening-to-needs{

    .col-12{

        @media only screen and (max-width: 753px) {
            padding: 0px;

            .container{
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 768px) {
            &:first-child{
                padding-right: 20px;
            }
        }

        

        &:nth-child(2){
            border-left: none;
            
            .button{
                display: inline-flex;
                @media only screen and (max-width: 480px) {
                    height: auto;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        right: 15px;
                        z-index: 9;
                        top: 40%;
                        border: solid black;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }
                }

                .btn{
                    font-family: @fontBrandonbold;
                    padding: 12px 20px;
                    @media only screen and (max-width: 480px) {
                        text-align: left;
                        padding: 9px 20px;
                    }
                }

            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 208px;
                background-color: #757575;
                left: 0px;

                @media only screen and (max-width: 768px) {
                    height: 270px;
                }

                @media only screen and (max-width: 753px) {
                    display: none;
                }
            }
            p{
                color: @black-color;
            }
            
            .text{
                &:first-child{
                    margin-bottom: 16px;
                }

                &:last-child{
                    @media only screen and (max-width: 753px) {
                        margin-top: 10px;
                    }

                    p{
                        margin-top: 60px;
                        font-size: 12px;
                        font-family: @fontBrandonbold;
                        text-transform: none;
    
                        @media only screen and (max-width: 1025px) {
                            margin-bottom: @margin;
                            margin-top: 40px;
                        }
    
                        @media only screen and (max-width: 753px) {
                            margin: @margin;
                        }
                    }
                }
            }

        }



        .cmp-container{
            padding: 0px;
        }
    }

    @media only screen and (max-width: 768px) {
        .a-container__media__mobile{
            display: none;
        }
    }
}



.m-hero--medium.flexbilityContainer{

    height: 458px;

    @media only screen and (max-width: 915px) {
        height: auto;
    }
}



#section_flexbility-banner{

    .container{
        width: 75%;
        margin: 0px auto;

        @media only screen and (max-width: 754px) {
            width: 100%;
            max-width: 100% !important;
        }     
    }

    .m-hero__content{

        padding-top: 40px;
        margin-left: 0px;
        width: 65%;

        @media only screen and (max-width: 1025px) {
            width: 75%;
        }

        @media only screen and (max-width: 915px) {
            position: absolute;
            padding-top: 30px;
            width: 50%;
            left: 12%;
        }

        @media only screen and (max-width: 844px) {
            left: 10%;
        }

        @media only screen and (max-width: 753px) {
            position: relative;
            left: 0px;
            width: 100%;
            background-color: @black-color;
            padding: 20px;
            padding-bottom: 100px;
        }

    }

    .h1-hero{
        color: @white-color;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 63.2px;
        font-weight: 900;
        font-family: @fontBrandonBlack;

        @media only screen and (max-width: 915px) {
            font-size: 30px;
            line-height: 33.2px;
        }

    }

    .m-hero__body{
        @media only screen and (max-width: 1075px) {
            padding-right: 71px;
        }

        @media only screen and (max-width: 915px) {
            padding-right: 40px;
        }

        @media only screen and (max-width: 753px) {
            padding-right: 0px;
        }

        p{
            color: @white-color;
            &:first-child{
                text-transform: uppercase;
                font-size: 16px;
                line-height: 19.2px;
                font-family: @fontBrandonbold;
                margin-bottom: 8px;
    
                @media only screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }
            &:nth-child(2){
                font-size: 14px !important;
                line-height: 24px;
            }
        }
    }

    .m-hero__extras{
        margin-top: 16px;
    }
}


#purpose-built-header h2 {
    font-size: 36px;
    line-height: 39.2px;
    text-transform: uppercase;
    width: 92%;
    margin: 0px auto;
    padding: 65px 0px 56px 0px;

    @media only screen and (max-width: 1280px) {
        width: 85%;
    }

    @media only screen and (max-width: 915px) {
        padding-top: 0px;
    }

    @media only screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 30px;
        width: 83%;
        padding: 20px 0px 56px 0px;
        margin: 0px 0px 0px 55px;
    } 

    @media only screen and (max-width: 753px) {
        width: 100%;
        margin: 0px;
    }

    @media only screen and (max-width: 480px) {
        padding-left: 20px;
    }
}

#harmonized-safet-infotext{
    width: 91%;
    margin: 0px auto;

    @media only screen and (max-width: 1280px) {
        width: 85%;
    }

    @media only screen and (max-width: 1025px) {
        width: 83%;
    }

    @media only screen and (max-width: 844px) {
        margin: 0px auto 0px 70px;
    }

    @media only screen and (max-width: 768px) {
        width: 83%;
        margin: 0px auto;
    }

    @media only screen and (max-width: 753px) {
        width: 100%;
    }

    @media only screen and (max-width: 480px) {
        padding: 0px 20px;
    }

    p{
        @media only screen and (max-width: 768px) {
            font-size: 14px;
        }

        &:first-child{
            font-size: 16px;
            line-height: 24px;

            @media only screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}

.discover-greater-harmonized{

    width: 75%;
    margin: 0px auto !important;
    padding: 100px 0px 64px 0px !important;

    @media only screen and (max-width: 1025px) {
        width: 75%;
    }

    @media only screen and (max-width: 915px) {
        width: 80%;
        margin: 0px auto !important;
    }

    @media only screen and (max-width: 753px) {
        width: 100%;
        max-width: 100% !important;
        padding: 100px 20px 64px 20px !important;
    }

    .cmp-title__text{
        font-size: 60px;
        line-height: 63.2px;
        width: 70%;
        font-family: @fontBrandonBlack;

        @media only screen and (max-width: 753px) {
            width: 100%;
        }

        @media only screen and (max-width: 480px) {
            font-size: 50px;
            line-height: 53.2px;
        }
    }

    .explore-btn-blue{
        display: inline-block;
        padding: 0px 0px 125px 0px;
    }

    .back-to-top{
        margin: @margin !important;

        @media only screen and (max-width: 1025px) {
            margin: @margin !important;
        }

    }
}

.harmonized-back-btn {

    width: 75%;
    margin: 45px auto 90px auto !important;

    @media only screen and (max-width: 915px) {
        padding-left: 10px;
    }

    @media only screen and (max-width: 844px) {
        width: 83%;
    }

    @media only screen and (max-width: 768px) {
        padding-left: 10px;
    }

    @media only screen and (max-width: 753px) {
        width: 100%;
        padding-left: 20px;
    }

    .back-to-top{
        margin-left: @margin !important;
    }
}

.flexible-back-to-top{

    width: 92%;
    margin: 0px auto !important;
    padding-bottom: 56px;

    @media only screen and (max-width: 1280px) {
        width: 85%;
    }

    @media only screen and (max-width: 1025px) {
        width: 83%;
    }

    @media only screen and (max-width: 915px) {
        width: 100%;
    }

    .back-to-top{

        margin-left: 0px !important;

        @media only screen and (max-width: 915px) {
            margin-left: @margin !important;
        }

        @media only screen and (max-width: 844px) {
            margin-left: 10px !important;
        }

        @media only screen and (max-width: 768px) {
            margin-left: 35px !important;
        }
    
        @media only screen and (max-width: 753px) {
            margin-left: @margin !important;
        }

        @media only screen and (max-width: 480px) {
            margin-left: 20px !important;
        }
    }

}