@import './global/variables.less';

#pageContent {
    #section-abbott-prism-next-container {
        #abbott-prism-next-container {
            #abbott-prism-next-title {
                h2 {
                    text-transform: none;
                }
            }

        }

    }

    #section-process-automation-container {
        @media (min-width: 480px) and (max-width: 767px) {
            margin-left: -40px;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-left: 0px;
        }

        #process-automation-container {
            #process-automation-column-ctrl {
                width: 75%;

                @media (min-width: 300px) and (max-width: 479px) {
                    width: 100%;
                }

                @media (min-width: 480px) and (max-width: 767px) {
                    max-width: 100%;
                    margin: auto;
                    width: 83%;
                }


                .image {
                    img {
                        max-width: 450px;
                        border: 2px solid #000;
                        margin-top: 40px;

                        @media (min-width: 300px) and (max-width: 479px) {
                            height: 216px;
                            width: 216px;
                        }

                        @media (min-width: 480px) and (max-width: 1024px) {
                            height: 211.391px;
                            width: 211.391px;
                        }

                    }
                }


                .title {
                    margin: 0px;
                    margin-top: 20px;

                    #process-automation-column-ctrl-title,
                    #process-automation-column-ctrl-title-1 {
                        float: right;
                        width: 85%;

                        @media (min-width: 300px) and (max-width: 479px) {
                            width: 100%;
                        }

                        h1 {
                            font-family: @fontBrandonbold;
                            font-size: 36px;
                            font-weight: 700;
                            line-height: 39.2px;
                            text-transform: uppercase;

                            @media (min-width: 300px) and (max-width: 479px) {
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 27.2px;
                                width: 90%;
                                margin: auto;
                            }

                            @media (min-width: 480px) and (max-width: 1024px) {
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 27.2px;

                            }

                        }
                    }

                    #process-automation-column-ctrl-title-1 {
                        padding-top: 9%;
                    }
                }

                .text {
                    margin: 0px;
                    width: 85%;
                    float: right;

                    @media (min-width: 300px) and (max-width: 479px) {
                        width: 100%;
                    }


                    @media (min-width: 480px) and (max-width: 767px) {
                        width: 100%;
                        max-width: 100%;
                    }

                    #process-automation-column-ctrl-desc {
                        @media (min-width: 480px) and (max-width: 767px) {
                            width: 100%;
                            max-width: 100%;
                        }

                        @media (min-width: 768px) and (max-width: 1024px) {
                            width: 100%;
                        }

                        p {
                            font-family: @fontGeorgia;
                            font-size: 16px;
                            line-height: 24px;

                            @media (min-width: 300px) and (max-width: 479px) {
                                font-size: 14px;
                                line-height: 21.6px;
                                width: 90%;
                                margin: auto;
                                padding-top: 20px;
                            }

                            @media (min-width: 480px) and (max-width: 1024px) {
                                font-size: 16px;
                                line-height: 21.6px;

                            }
                        }




                    }
                }

            }

        }

    }

    #section-test-menu-container {
        margin-top: 8%;

        @media (min-width: 300px) and (max-width: 479px) {
            padding-left: 0;
            margin: auto;
            width: 90%;
            margin-top: 13%;
        }

        @media (min-width: 480px) and (max-width: 767px) {
            margin-top: 3%;
            padding-left: 0%;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            padding-left: 6.3%;
            margin-top: 3%;
        }

        #test-menu-container {
            #test-menu-column-ctrl {
                width: 75%;

                @media (min-width: 300px) and (max-width: 479px) {
                    width: 100%;
                }

                @media (min-width: 480px) and (max-width: 767px) {
                    width: 93%;
                    max-width: 100%;
                }

                @media (min-width: 768px) and (max-width: 1024px) {
                    width: 92%;
                }

                #test-menu-login-text {
                    p {
                        font-family: @fontBrandonbold;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        text-transform: uppercase;

                        a {
                            &:hover {
                                color: @link_color;
                            }
                        }

                        @media (min-width: 300px) and (max-width: 479px) {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 21.6px;

                        }

                        @media (min-width: 480px) and (max-width:767px) {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 21.6px;

                        }

                        @media (min-width: 768px) and (max-width:1024px) {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 21.6px;
                            width: 118%;
                        }

                    }

                }

                #test-menu-column-ctrl-title {
                    margin-left: 40px;

                    @media (min-width: 300px) and (max-width: 479px) {
                        margin-left: 0px;
                    }

                    @media (min-width: 480x) and (max-width: 1023px) {
                        margin-left: 60px;
                    }

                    h2 {
                        font-family: @fontBrandonbold;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 27.2px;
                        text-transform: uppercase;

                        @media (min-width: 300px) and (max-width: 479px) {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19.2px;
                        }

                        @media (min-width: 480px) and (max-width: 1024px) {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19.2px;
                        }
                    }

                }

                article {
                    max-width: 100%;
                    width: 100%;

                    @media (min-width: 480px) and (max-width:767px) {
                        width: 100%;
                        margin: 0;
                    }

                    &::before {
                        border: none;
                        border-radius: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;

                    }

                    .m-card__body {
                        text-align: left;

                        @media (min-width: 300px) and (max-width: 479px) {
                            margin-left: 0;
                        }

                        @media (min-width: 480px) and (max-width: 1024px) {
                            margin-left: 0;
                        }

                        h2 {
                            font-family: @fontBrandonbold;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 27.2px;
                            color: @blue-bg-color;

                            @media (min-width: 300px) and (max-width: 479px) {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 21.6px;
                            }

                            @media (min-width: 480px) and (max-width: 1024px) {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 21.6px;
                            }
                        }

                        .m-card__description {
                            p {
                                font-size: 14px;
                                line-height: 19.2px;


                            }
                        }
                    }

                    #test-menu-card {
                        text-align: center;
                        width: 78%;
                        margin: auto;

                        @media (min-width: 300px) and (max-width: 479px) {
                            width: 100%;
                        }

                        @media (min-width: 480px) and (max-width: 767px) {
                            width: 100%;
                        }

                        @media (min-width: 768px) and (max-width: 1023px) {
                            width: 100%;
                            margin: auto;
                            text-align: initial;
                        }

                        .m-card__image {
                            margin-left: -20%;

                            @media (min-width: 480px) and (max-width: 767px) {
                                margin-left: -13%;
                                text-align: center;
                            }

                            @media (min-width: 768px) and (max-width: 1024px) {
                                margin-left: 60px;
                            }

                            img {
                                height: 131px;
                                width: 160px;

                                @media (min-width: 480px) and (max-width: 1024px) {
                                    height: 99px;
                                    width: 185px;
                                }
                            }
                        }

                    }
                }

                #test-menu-login-tab {

                    .cmp-tabs__tablist {
                        border-bottom: 1px solid;
                        border-color: @nav-bg-color;
                        margin-bottom: 5%;

                        @media (min-width: 480px) and (max-width: 767px) {

                            border: none;
                        }

                    }

                    a {
                        margin-bottom: 10px;
                        margin-right: 6px;
                        color: @title-bg-color;
                        background: @light-border-color;
                        border: none;
                        font-family: @fontBrandonbold;
                        font-size: 18px;
                        font-weight: 700;

                        @media (min-width: 300px) and (max-width: 479px) {
                            font-size: 14px;
                            padding: 4px;
                            text-align: left;
                        }

                        @media (min-width: 480px) and (max-width: 767px) {
                            font-size: 14px;
                            padding: 4px;
                            text-align: left;
                        }

                        @media (min-width: 768px) and (max-width: 1024px) {
                            font-size: 14px;
                        }
                    }

                    nav {
                        padding: 0;
                        margin: 0;
                        display: block;
                        padding-bottom: 4%;

                        @media (min-width: 300px) and (max-width: 479px) {
                            width: 100%;
                            max-width: 100%;
                            display: flex;

                            a {
                                width: 100%;
                                max-width: 100%;
                            }
                        }

                        @media (min-width: 480px) and (max-width: 767px) {
                            width: 100%;
                            max-width: 100%;
                            display: flex;

                            a {
                                width: 100%;
                                max-width: 100%;
                            }

                        }
                    }

                    .a-tabs__nav {
                        .active {
                            color: @light-border-color;
                            background: @title-bg-color;
                        }

                        a {
                            &:hover {
                                color: #d9d9d6;
                                background: #004f71;
                            }

                        }




                    }
                    #text-width-adjust{
                        margin-bottom: 10%;
                    }
                    .d-w-100 {
                        width: 100%;
                    }

                    #prism-next-table-clm-ctrl {
                        padding-bottom: 60px;
                    }

                    /*----table---*/

                }

                .remove-btm-padding {
                    padding-bottom: 0px !important;
                }

                .remove-tp-padding {
                    padding-top: 0px !important;
                    padding-bottom: 75px;
                }

                .accordion {
                    &:nth-child(0) {
                        padding-bottom: 0px !important;
                    }

                    &:nth-child(1) {
                        padding-top: 0px !important;
                    }

                    #accordion-prism-next-1,
                    #accordion-prism-next-2 {
                        background-color: #ffffff;

                        .m-accordion__options {
                            padding-top: 15px;

                            .m-accordion__collapse-title,
                            .m-accordion__expand-title {
                                font-family: @fontBrandonbold;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 19.2px;
                                text-align: initial;
                                margin-left: 8px;


                            }

                        }

                        .m-accordion__content {
                            border: none;

                            .m-accordion__content-items {
                                border: none;

                                .m-accordion__header {
                                    .m-accordion__title-wrapper {
                                        @media (min-width: 300px) and (max-width: 479px) {
                                            padding: 0;
                                            width: 100%;
                                        }

                                        h3 {
                                            font-family: @fontBrandonbold;
                                            font-size: 16px;
                                            font-weight: 700;
                                            line-height: 19.2px;
                                            text-align: initial;

                                        }
                                    }

                                    .abt-icon {
                                        color: #009cde;
                                        font-weight: 900;
                                    }

                                }

                                .m-accordion__body {
                                    background-color: #d4f2ff;
                                    padding: 20px;
                                    margin-top: 10px;

                                    .text {
                                        p {
                                            font-family: @fontGeorgia;
                                            font-size: 16px;
                                            line-height: 24px;
                                        }

                                    }

                                }

                            }

                        }
                    }
                }

            }


        }

    }

}