@import "../../clientlib-transfusion/css/global/variables.less";

 #pageContent{
	#section-search-result-main-container {
        #search-result-main-container{
			max-width: 1457px;
    		padding: 0;

            .responsivegrid {
				padding: 0;
			}
			.searchresults .pb-5{
				display: none;
			}
            .searchresults {
                @media (min-width: 300px) and (max-width: 479px){
					width: 94%;
    				margin: auto;
                }
                .col-md-8{
					margin-left: 8.66667%;
    				max-width: 100%;
    				flex: 100%;

                    @media (min-width: 300px) and (max-width: 479px){
    					margin-left: 0;
                    }
                    @media (min-width: 480px) and (max-width: 1024px){
    					margin-left: .66667%;
                    }
					.a-result--border-bottom{
						border-bottom: none;
					}
					.a-result__title--link{	
 						font-family: @fontBrandonregular;
   						color: @link_color;
   		 				cursor: pointer;
						font-size:24px;
						font-weight:700;
						line-height:32px;
    					text-transform:uppercase;
                        @media (min-width: 300px) and (max-width: 479px){
                            cursor:pointer;
							font-family: @fontBrandonregular;
							font-size:16px;
							font-weight:700;
                        }
                        @media (min-width: 480px) and (max-width: 1024px){
                            cursor:pointer;
							font-family: @fontBrandonregular;
							font-size:16px;
							font-weight:700;
                        }
					}
                    #back-to-top {
    						text-align: end;
    						color: @blue-bg-color;
    						border-top:1px solid #888b8d;
    						padding-top: 16px;
    						border-bottom:1px solid #888b8d;
    						padding-bottom: 16px;
    						margin-bottom: 40px;
               		 		p{
								color: @blue-bg-color;
    							cursor: pointer;
    							margin-top: 16px;
    							font-family: @fontBrandonregular;
							}
					}
                }
                .a-result:hover {
    				background: @grey;
    				cursor: pointer;
				}
				.o-search-res__header{
    				text-align: end;
    				border-top:1px solid #888b8d;
    				padding-top: 12px;
    				display: block;
                    @media (min-width: 300px) and (max-width: 479px){
						text-align: start;
                    }
                    @media (min-width: 480px) and (max-width: 1024px){
						text-align: start;
                    }
                    h1{
						font-family: @fontGeorgia;
						font-size: 16px;
        				font-weight: 100;
					}
                    p{
    					cursor :pointer;
						font-family:@fontGeorgia;
						font-size:16px;
						line-height:24px;
    					font-weight: 100;
					}
				}
            }
			#section-search-result-container {
           	 	#search-result-text{
					padding-top: 6%;
    				padding-bottom: 6%;
    				padding-left: 9%;
               	 	@media (min-width: 300px) and (max-width: 479px){
						padding-top: 11%;
    					padding-bottom: 6%;
    					padding-left: 4%;
                	}
                	@media (min-width: 480px) and (max-width: 1024px){
						padding-left: 0;
                	}
                 	h2{
						font-size :60px;
						font-weight: 900;
						line-height :63.2px;
    					color: @white-color;
    					font-family:  @fontBrandonbold;
                    	@media (min-width: 300px) and (max-width: 479px){
							font-size :30px;
							font-weight: 900;
							line-height :33.2px;
    						color: @white-color;
                    	}
                    	@media (min-width: 480px) and (max-width: 1024px){
                        	font-size :30px;
							font-weight: 900;
							line-height :33.2px;
    						color:@white-color;
    						font-family:@fontBrandonbold;
                    }
				}
            }
        }



        }
}
}
