.a-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--badge-height);
  width: var(--badge-width);
  background-color: var(--badge-bg-color);
  border-radius: var(--badge-border-radius);
  word-break: break-word;
}
.a-badges--alarm {
  background-image: var(--badge-bg-image);
  background-size: var(--badge-bg-size);
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
}
.a-badges--alarm .a-badges--text {
  text-indent: -9999px;
}
.a-badges--text {
  font-size: var(--badge-font-size);
  line-height: var(--badge-line-height);
  font-family: var(--badge-font-family);
  color: var(--badge-font-color);
  letter-spacing: var(--badge-font-letter-spacing) px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.a-badges .abt-icon.abt-icon-alarm {
  font-size: 3.125rem;
  color: var(--badge-alarm-icon-color);
}
[title="badge"] {
  z-index: 30;
}
.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
