@import '../../styles/variables';
.stb-theme-card {
    width: 266px;
    border: 1px solid #BFBFBF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.24);
    padding: 12px;
    border-radius: 6px;
    color: #222731;
    display: flex;
    flex-direction: column;
    min-height: 327px;

    &.edit {
        border: 1px solid #159BD7;

        h2 {
            font-style: italic;
        }

    }

    img {
        width: 240px;
        height: 135px;
    }

    &__title {
       display: flex;
       align-items: center;
       margin-top: 8px;

       h2 {
           font-size: 16px;
           line-height: 1.43;
           margin: 0;
           flex-grow: 1;
           font-weight: bold;
           text-transform: capitalize;
       }
    }

    &__description {
        font-family: $helvetica;
        font-size: 13px;
        line-height: 1.23;
        margin: 8px 0 0 0;
    }

    &__swatch {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #222731;
        margin-left: 4px;

        &[data-tooltip]:hover {
            &:after {
                bottom: 170%;
                transform: translateX(-45%);
            }
            &:before{
                bottom: 16px;
                border-width: 10px 8px 0 8px;
            }
        }
    }

    &__action {
        margin: 24px 0 12px;
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        justify-content: center;
    }

}
