#custom-contentFragment, #custom-contentFragment1, #custom-contentFragment2, #custom-contentFragment3, #custom-contentFragment4 {
	.contentfragment {
		article {
			border-radius: 1.563rem;
			border: 1px solid #d9d9d6;
			min-height: 33.5rem;
			@media(max-width: 767.98px) {
				min-height: auto;
				margin-bottom: 30px;
			}
			.cmp-contentfragment__elements {
				position: relative;
				.cmp-contentfragment__element--logo {
					position: absolute;
					top: 0;
					right: 0;
					padding: 0.75rem;
					border-top-left-radius: 25px;
					border-top-right-radius: 25px;
				}
				.cmp-contentfragment__element--mainImage {
					display: block;
					border-bottom: 1px solid #d9d9d6;
					.cmp-contentfragment__element-value p img {
						border-radius: 1.563rem 1.563rem 0 0;
						width: 100%;
					}
				}
			}
			.cmp-contentfragment__element-value {
				margin-bottom: 0;
				p {
					margin-bottom: 0;
					display: flex;
				}
			}
			.cmp-contentfragment__element--tagname {
				display: inline-block;
				padding: 3px 20px;
				text-transform: uppercase;
				font-weight: 450;
				justify-content: center;
				font-size: .875rem;
				border-radius: 1.563rem;
				background-color: #64ccc9;
				margin: 0.938rem;
				font-family: 'brandon_grotesquebold',Helvetica,Arial,sans-serif;
				color: #fff;
			}
			.cmp-contentfragment__element--heading, .cmp-contentfragment__element--description {
				margin: 0.313rem 0.938rem 0.313rem 0.938rem;
			}
			.cmp-contentfragment__element--heading, .cmp-contentfragment__element--heading p {
				font-size: 1.125rem;
				font-weight: 450;
				line-height: 1.625rem;
				font-family: 'brandon_grotesquebold',Helvetica,Arial,sans-serif;
				color: #002a3a;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.cmp-contentfragment__element--heading {
				padding-bottom: 5px;
				padding-top: 5px;
				p {
					padding: 0;
				}
			}
			.cmp-contentfragment__element--description p {
				font-family: 'calibri',brandon_grotesqueregular,Helvetica,Arial,sans-serif;
				font-size: .875rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25rem;
				letter-spacing: normal;
				color: #002a3a;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
			}
			.cmp-contentfragment__element--publishdate {
				margin: 0.938rem 0.938rem 0.938rem 0.938rem;
			}
			.cmp-contentfragment__element--publishdate .cmp-contentfragment__element-value {
				color: #63666a;
			}
			dt.cmp-contentfragment__element-title, .cmp-contentfragment__element.cmp-contentfragment__element--detaildescription p:nth-child(n+2), .cmp-contentfragment__title, .cmp-contentfragment__description, .cmp-contentfragmentlist .article-anchor.d-none, .cmp-contentfragment__element--contentdetailsreference, .cmp-contentfragment__element--tagsType {
				display: none;
			}
		}
		> a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}