#clickSignUpPopup, #clickSignUpPopupSampleRequest,#site-entering-sample-order-popup-xf,#sample-order-registration-popup-xf {
  display: none;
}

#sign-up-popup-container {
  .a-logo-comp--link.generic-modal__image {
    margin: 0 auto;
    left: 50%;
    position: relative;

    @media screen and (max-width: 992px) {
      left: 23%;
    }
  }

  .generic-modal__image-link {
    left: 20px;
  }

  .button {
    margin: 10px auto;

    a#nothankyou {
      background: #fff;
      color: #009cde;
      border: 1px solid #009cde;

      &:hover {
        background: #fff;
      }
    }

    .btn {
      padding: 20px 56px;
      min-width: 240px;
      width: 100%;
      display: block;
      max-width: 240px;

      &:hover {
        background: #009cde;
      }
    }
  }

  h5 {
    margin: 24px auto 5px auto;
    display: block;
    max-width: 270px;
    font-family: brandon_grotesquebold, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }

  img {
    width: 209px;
    min-height: 54px;
  }
}

div#loadSignUpForm {
  display: none;
}

#pageBlockLink-modal {
  &.modal-page-block {
    position: absolute;
    box-shadow: 0 9px 10.600000381469727px -2px rgb(0 0 38 / 40%);
    border: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0, rgba(255, 255, 255, 0.92) 38%, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 16%);
    max-height: 290px;
  }

  .modal-dialog {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &.registration-modal {
      max-width: 35%;
      max-height: 70%;

      @media screen and (max-width:992px) {
        max-width: 95%;
      }

      .modal-content {
        overflow-y: scroll;
        max-height: 100%;
        position: absolute;
      }

      .generic-modal--close {
        display: block;
      }

      .modal-body {
        padding: 0;

        #read-more-container {
          padding: 40px;
        }
      }
    }
  }

  .modal-content {
    &.base-page-block-modal {
      box-shadow: none;
      border: 0;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .generic-modal--close {
    display: none;
  }
}

#read-more-container {
  padding: 170px 60px 0 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0, rgba(255, 255, 255, 0.92) 38%, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 1) 16%);
@media screen and (max-width:992px){
        padding:170px 30px 0 30px;
    }

  h1 {
    font-family: brandon_grotesqueblack, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #002a3a;
    letter-spacing: 0;
    line-height: 24px;


  }

  h5 {
    font-family: Calibri, sans-serif;
    color: #002a3a;
    letter-spacing: 0;
    font-size: 14px;
    margin-bottom: 22px;
  }

  .button {

    .btn {
        padding: 15px 0;
        cursor: pointer;

        span {
            font-size: 20px;
        }

        &:hover {
            background: #009cde;
        }

      #nothankyou,
      #nothankyou:hover,
      #nothankyou:focus,
      #nothankyou:active {
        background: #fff;
        color: #009cde;
        border: 1px solid #009cde;
      }
    }
  }
}

.read-more-wrapper {
  .cmp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;

    @media screen and (max-width:992px) {
      padding: 30px 0px;
    }
  }
}

div#loadRegistrationForm {
  display: none;
}

#clickSignUpPopup-modal, #clickSignUpPopupSampleRequest-modal {
  .container {
    margin: 0;
    padding: 0;
  }

  .modal-dialog {
    &.sign-up-modal {
      overflow-y: scroll;
      max-height: 60%;
      background: #fff;

      .modal-content {
        max-height: 100%;
        position: absolute;
        box-shadow: none;
        border: 0;
      }
    }
  }

  .a-container__image.generic-modal__image {
    display: none;
  }
}

#pageBlockLink {
  display: none;
}

.pageBlockModalSignUp {
  min-height: 100%;
  top: 0 !important;
}

#go-to-login-page-block {
    background: #fff;
    color: #009cde;
    border: 1px solid #009cde;

    &:hover {
        background: #fff !important;
    }
}

#go-to-login-page-block,
#openRegistrationPopup {
    margin: 0 0 10px 0;
    width: 203px;
    height: 40px;
}

#pageContent{
    position:relative;
}

#site-entering-sample-order-popup-xf-modal {
	#sign-up-popup-container {
		.btn {
			padding: 20px 10px;
			min-width: 230px;
			width: 100%;
			display: block;
			max-width: 230px;
			&:hover {
				background: #009cde;
			}
			span {
				line-height: 1rem;
			}
		}
		h5 {
			margin: 24px auto 30px auto;
			font-size: 24px;
		}
	}
}
#sample-order-registration-popup-xf-modal {
	#sign-up-popup-container {
		h5 {
			margin: 24px auto 30px auto;
			font-size: 24px;
		}
	}
}

