@import './global/variables.less';
@import './global/mixins.less';

#pdpComponent .chipslist, .pdpComponent .chipslist{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
}
#pdpComponent .a-chips, .pdpComponent .a-chips{
 display: flex;
}
#pdpComponent .a-chips--link, .pdpComponent .a-chips--link{
    font-family: @base-font-family-bold;
    font-style: normal;
    font-weight: @font-weight-450;
    font-size: @font-size-14;
    line-height: @font-size-20;
    text-align: center;
    color: @color-dark-grey;
    background-color: @color-transparent;
    border: 1px solid @color-neutral-light-gray;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 5px 9px;
}

#pdpComponent .o-hero-carousel, .pdpComponent .o-hero-carousel{
border: 1px solid @color-neutral-light-gray;
}

#pdpComponent .o-hero-carousel .slick-dots, .pdpComponent .o-hero-carousel .slick-dots{
    top: 17rem;
}

#pdpContent, .pdpContent{
	margin-top: 40px;
}

#pdpContent .cmp-contentfragment__title,
.pdpContent .cmp-contentfragment__title,
#pdpContent .cmp-contentfragment__element-title,
.pdpContent .cmp-contentfragment__element-title,
#pdpContent .cmp-contentfragment__element--sampleAvailable,
.pdpContent .cmp-contentfragment__element--sampleAvailable{
		display: none;
}

#pdpContent .btn, .pdpContent .btn{
    padding: 10px 100px;
    background: @color-hcp-blue;
    border-radius: 100px;
    color: @color-white;
    .tt-upper;
}

#downloadContainer{
	background: #F2F2F2;
	padding: 20px;
	margin-top: 30px;
}


#downloadContainer .cmp-download__title-link:hover{
    color: @color-core-dark-blue;
}

table{
    border: 1px solid @color-neutral-light-gray;
    box-sizing: border-box;
    border-collapse: initial;
    width: 100%;
}

table th{
	background-color: @color-hcp-light-grey;
    color: @color-core-dark-blue;
	font-family: @base-font-family-bold;
	font-style: normal;
	font-weight: @font-weight-450;
	font-size: @font-size-18;
    line-height: @font-size-24;
    align-items: center;
    text-align: center;
}

table tr {
	font-family: @calibri-font-family, @base-font-family;
    font-style: normal;
    font-weight: @font-weight-400;
    font-size: @font-size-18;
    line-height: @font-size-24;
    align-items: center;
    text-align: center;
	color: @color-core-dark-blue;
}

#pdpContent #references p, .pdpContent #references p{
margin-bottom: 0;
}

#downloadContainer .cmp-download__title-link{
	text-decoration: underline;
	font-family: @calibri-font-family, @base-font-family;
    font-style: normal;
    font-weight: @font-weight-400;
    font-size: @font-size-18;
    line-height: @font-size-24;
	color: @color-core-dark-blue;
}



#references{
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 20px;
}

#pdpComponent .chipslist .m-chips-list__body, .pdpComponent .chipslist .m-chips-list__body{
	justify-content: center;
}

#downloadContainer .cmp-download__title-link span{
display: none;
}

table tr td{
	font-family: @calibri-font-family, @base-font-family;
    font-style: normal;
    font-weight: @font-weight-400;
    font-size: @font-size-18;
    line-height: @font-size-24;
    align-items: center;
    text-align: center;
	color: @color-core-dark-blue;
}

table tr td p{
	margin-bottom:0;
}

//tablet changes

@media only screen and (min-width: 768px) and (max-width: 992px){
	#pdpComponent .o-hero-carousel, .pdpComponent .o-hero-carousel {
        width: 100%;
        margin-left: 0;
    }

	#pdpComponent .o-hero-carousel .slick-arrow.slick-next, .pdpComponent .o-hero-carousel .slick-arrow.slick-next {
        right: -25px;
	}

	#pdpComponent .o-hero-carousel .slick-arrow.slick-prev, .pdpComponent .o-hero-carousel .slick-arrow.slick-prev {
    	left: -25px;
	}
    #pdpComponent .o-hero-carousel .slick-dots, .pdpComponent .o-hero-carousel .slick-dots {
    	top: 10rem;
	}

	#pdpComponent .chipslist, .pdpComponent .chipslist{
    	margin-left: -100px;
    	margin-right: -100px;
        padding-left: 0px;
		padding-right: 0px;
    }

    #references{
    		margin: 0;
            margin-bottom: 20px;
        }
}

// mobile ui
@media only screen and (max-width: 768px){
	#pdpComponent .o-hero-carousel .slick-dots, .pdpComponent .o-hero-carousel .slick-dots {
    	top: 17rem;
	}

	#pdpComponent .o-hero-carousel .slick-arrow, .pdpComponent .o-hero-carousel .slick-arrow {
   		display: inline-block !important;
	}
    
	#pdpComponent .o-hero-carousel, .pdpComponent .o-hero-carousel {
    	margin-bottom: 50px;
        margin-left: 2px;
    	width: 100%;
    }

    #downloadContainer .cmp-text h5{
	font-size: @font-size-14;
    line-height: @font-size-20;
	}

	#downloadContainer .cmp-download__title-link{
    font-size: @font-size-14;
    line-height: @font-size-20;
	}

    #pdpComponent .cmp-title, .pdpComponent .cmp-title{
    padding-left: 10px;
    padding-right: 10px;
	}

    #references{
		margin: 0;
        margin-bottom: 20px;
    }
}
