@import './global/variables.less';
@import './global/mixins.less';

#sampleFormContainer .a-dropdown__container .a-dropdown__field {
	border: 1px solid #D9D9D6;
}

#sampleFormContainer .a-dropdown__container .a-dropdown__field .a-dropdown-selected{
font-family: @calibri-font-family, @base-font-family;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #002A3A;

}


#sampleFormContainer .a-dropdown__container .a-dropdown__field:after {
	color: #002A3A;
}

#sampleFormContainer .a-button--primary .btn:hover{
	background-color : #002a3a;
}

#sampleFormContainer .a-button--primary .btn:disabled:hover{
	background-color : #e0e0de;
}

#sampleFormContainer .a-rule{
    margin-top: 10px;
	margin-bottom: 10px;
}

#sampleFormContainer #preferredMethod .a-checkbox--vertical{
	margin-bottom: 0;
}

#sampleFormContainer #preferredMethodText {
    margin-bottom: -10px;
    margin-top: -10px;
}

#sampleFormContainer #preferredMethodText span{
    color: #63666A;
}

#sampleFormContainer .a-dropdown__container .a-dropdown__field .a-dropdown__menu li span{
	color: #002a3a;
    font-family: @calibri-font-family, @base-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#sampleFormContainer .a-dropdown__container .a-dropdown__field .a-dropdown__menu li{
	border-bottom: 1px solid #D9D9D6;
}

#sampleFormContainer .a-dropdown__container .a-dropdown__field .a-dropdown__menu li:hover{
	border-bottom: 1px solid #D9D9D6;
}

#sampleFormContainer .btn{
	margin-bottom: 200px;
}

#sampleSuccess{
    padding-bottom: 300px;
}

#sampleRequest .abt-icon-cancel:before {
    content: "\e904";
    position: absolute;
    right: 30px;
    padding-top: 7px;
    font-size: 15px;
    color: @color-white;
}

#sampleRequest .cq-placeholder:first-child{
	display: none;
}

#sampleRequest .new{
	height: 0rem;
}

#sampleRequest #successErrorMessage {
    padding-left: 10px;
}