@import './global/variables.less';
@import './global/mixins.less';

/*Custom table for Proconnect*/
#custom-table-1,
#custom-table-2 {	
	.m-table-component__table {
		padding: 1.875rem;
		border-radius: 15px;
		border: 1px solid #D9D9D6;
		table-layout: fixed;
		background: #FFF;
		margin-bottom: 0;
	}
	caption {
		color: @color-core-dark-blue;
		font-family: @base-font-family-bold;
		font-size: 1.125rem;
		font-weight: 450;
		line-height: 1.25rem;
		margin-bottom: 1rem;
		padding: 0;
	}
	.table-border--bottom {
		tbody {
			tr {
				td {
					padding: 0.5rem 0;
					&:nth-Child(3) {
						margin-left: 1.875rem;
						display: block;
						width: 100%;
						@media @md-down {
							margin-left: 1rem;
						   }
					}
				}
				&:last-child {
					td {
						border: none;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
