@import "../global/media-queries.less";
@import "../global/variables.less";

.a-link
{
    --link-font-family: @brandon-bold;
    --link-font-size: 18px;
    --link-color: #009cde;
    &__text
    {
         color: @color-cerulean;
        &:hover{
            color: #009cde;
            text-decoration: underline;
        }
    }
    &__inner-text
    {
        text-transform: uppercase;
        font-weight: 300;
    }
    @media @md-down
    {
        font-size: 1rem;
    }
}
.link.dark{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.link.light-color{
    .a-link
{ 
    --link-color:@color-white;
     &__text
    {
         color: @color-white;
        &:hover{
            color: @color-white;
            text-decoration: underline;
        }
        }
    }
}