@import "../global/media-queries.less";
@import "../global/variables.less";

.textimage{
    margin-top: 0 !important;
     margin-bottom: 0 !important;
    .o-textimage-section{
        .container{
            padding: 0;
            .o-textimage-section{
                &__row{
                    &.position-above, &.position-below{
                        img{
                            width: 100%;
                        }
                    }
                    &.position-above, &.position-below, &.position-left, &.position-right{
                        .image--alignment-center, .image--alignment-left, .image--alignment-right{
                            @media @md-down{
                                width: 100%;
                            }
                        }
                    }
                    &.position-left{
                        align-items: baseline;
                        @media @md-down{
                            flex-direction: column;
                            margin-bottom: 30px;
                        }
                    }    
                }
                &__content.position-above{
                    .o-textimage-section__richtext{
                        p{
                            a{
                                &:hover{
                                    color: #009cde;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                &__richtext{
                    
                        margin-bottom: 0;
                    h4{
                        font-size: 1.313rem;
                        line-height: 27px;
                        margin-bottom: 10px;
                    }
                    p {
                        line-height: 1.25em;
                        margin-bottom: 28px;
                        font-size: 1rem;
                        font-family: @georgias;
                        color: @color-charcoal; 
                        @media @md-down{
                            margin-bottom: 0;
                        }
                        span {
                            font-size: 1.125rem;
                            line-height: 24px;
                        }
                        a{
                            color: @color-deep-sea-blue;
                            &:hover{
                                color:@color-cerulean;
                                text-decoration: none;
                            }
                        }
                    }
                    ul
                    {
                        li
                        {
                            font-family: @georgias;
                            font-size: 1rem;
                            font-weight: 300;
                            line-height: 1.25em;
                            padding-bottom: 10px;
                        }
                    }
                }
                &__image-wrapper.position-left.image--alignment-left.full-width{
                    margin: -10px 20px 20px 0;
                    .cmp-image__image--mobile {
                        @media @md-down {
                            width: 100%;
                        }
                    }
                }
            }
            .o-textimage-section__image-wrapper{
                .o-textimage-section__image-column{
                    .m-popup{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.a-container.container-full-width.a-container--gradient-start {
    @media @md-down{
      padding: 0 !important;
    }
    .textimage {
        .o-textimage-section{
            .container{
                .o-textimage-section__richtext{
                    p{
                        @media @md-down{
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }  
}

.textimage.o-textimage-section__aligntop{
    .o-textimage-section{
        .container{
            .o-textimage-section__row.position-left.m-std{
                align-items: flex-start;
                .o-textimage-section__richtext{
                    padding-top: 10px;
                    h5{
                        padding-top: 9px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.textimage.o-textimage-section__alignbottom {
	margin-bottom: 30px !important;
	.o-textimage-section {
		.container {
			.o-textimage-section__row.position-left {
				align-items: flex-end;
				display: flex;
				justify-content: flex-start;
                @media @md-down{
                    flex-direction: row;
                }        
                .o-textimage-section__image-wrapper.position-left.default {
                    margin-right: 20px !important;
                    width: auto;
                    
                }
                .o-textimage-section__richtext {
                    p {
                        line-height: 1.25em;
                        margin-bottom: 0;
                        font-size: 1rem;
                        font-family: @georgias;
                        color: @color-charcoal;
                        a {
                            text-transform: uppercase;
                            color: @color-deep-sea-blue;
                            font-size: 16px;
                            font-family: @brandon-bold;
                            text-decoration: none;
                            &:hover {
                                color: @color-cerulean;
                            }
                        }
                    }
                }
			}
			.o-textimage-section__row.mobile-wrap-text
            {
                @media @md-down
                {
                    flex-wrap: nowrap;
                    align-items: center;
                }
            }
		}
	}
}

.modal{
    .modal-dialog{
      .generic-modal__content{
        .generic-modal__header{
          padding: 0px;
        }
      }
    }
}