.embed {
    .ps-widget {
        max-width: fit-content;
        .ps-container {
            .ps-wtb {
                .ps-header {
                    margin-bottom: 40px;
                    .ps-product-details {
                        .ps-product-selector {
                            padding: 0;
                            .ps-sku-selector-attribute-Product_Title {
                                position: relative;
                                > label {
                                    font-family: @brandonregular;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: @color-shuttle-gray;
                                    font-weight: normal;
                                }
                                .ps-sku-selector {
                                    border: 1px solid @color-charcoal;
                                    border-radius: 4px;
                                    background: @color-white;
                                    font-family: @brandonregular;
                                    font-size: 14px;
                                    color: @color-shuttle-gray;
                                    appearance: none;
                                    width: 525px;
                                    :hover {
                                        border: 1px solid @color-charcoal;
                                        border-radius: 4px;
                                        background: @color-white;
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        color: @color-shuttle-gray;
                                        padding: 14px 16px;
                                    }
                                    option {
                                        border: 1px solid @color-charcoal;
                                        border-radius: 4px;
                                        background: @color-white;
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        color: @color-shuttle-gray;
                                    }
                                    @media @md-down {
                                        width: 343px;
                                    }
                                    @media @lg-down {
                                        width: 343px;
                                    }
                                }
                                &::after {
                                    content: "\e907";
                                    transform: translateY(-50%);
                                    position: absolute;
                                    top: 70%;
                                    right: 8%;
                                    font-family: Abbott-icon,Arial, Helvetica, sans-serif;
                                    font-size: 16px;
                                    color: @border-gray;
                                    @media @md-down {
                                        right: 20%;
                                    }
                                    @media @lg-down {
                                        right: 5%;
                                    }
                                    @media (min-width: 1024px) and (max-width: 1200px) {
                                        right: 7%;
                                    }
                                    @media only screen and (max-width: 400px) {
                                        right: 8%;
                                    }
                                    @media (min-width: 410px) and (max-width: 500px) {
                                        right: 18%;
                                    }
                                    @media only screen and (min-width: 1200px) {
                                        right: 14%;
                                    }
                                }
                            }
                            .ps-sku-selector-attribute-Flavor {
                                margin-top: 24px;
                                position: relative;
                                > label {
                                    font-family: @brandonregular;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: @color-shuttle-gray;
                                    font-weight: normal;
                                }
                                .ps-sku-selector {
                                    border: 1px solid @color-charcoal;
                                    border-radius: 4px;
                                    background: @color-white;
                                    font-family: @brandonregular;
                                    font-size: 14px;
                                    color: @color-shuttle-gray;
                                    appearance: none;
                                    width: 525px;
                                    :hover {
                                        border: 1px solid @color-charcoal;
                                        border-radius: 4px;
                                        background: @color-white;
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        color: @color-shuttle-gray;
                                        padding: 14px 16px;
                                    }
                                    option {
                                        border: 1px solid @color-charcoal;
                                        border-radius: 4px;
                                        background: @color-white;
                                        font-family: @brandonregular;
                                        font-size: 14px;
                                        color: @color-shuttle-gray;
                                    }
                                    @media @md-down {
                                        width: 343px;
                                    }
                                    @media @lg-down {
                                        width: 343px;
                                    }
                                }
                                &::after {
                                    content: "\e907";
                                    transform: translateY(-50%);
                                    position: absolute;
                                    top: 70%;
                                    right: 8%;
                                    font-family: Abbott-icon,Arial, Helvetica, sans-serif;
                                    font-size: 16px;
                                    color: @border-gray;
                                    @media @md-down {
                                        right: 20%;
                                    }
                                    @media @lg-down {
                                        right: 5%;
                                    }
                                    @media (min-width: 1024px) and (max-width: 1200px) {
                                        right: 7%;
                                    }
                                    @media only screen and (max-width: 400px) {
                                        right: 8%;
                                    }
                                    @media (min-width: 410px) and (max-width: 500px) {
                                        right: 18%;
                                    }
                                    @media only screen and (min-width: 1200px) {
                                        right: 14%;
                                    }
                                }
                            }
                        }
                    }
                    .ps-product-image {
                        img {
                            max-width: 400px;
                            height: auto;
                            @media @lg-down {
                                max-width: 250px;
                                height: auto;
                            }
                            @media @md-down {
                                max-width: 250px;
                                height: auto;
                            }
                        }
                    }
                }
                .ps-wtb-content {
                    .ps-local-tab {
                        .ps-local-sellers-container {
                            .ps-local-sellers {
                                .ps-local-seller-select {
                                    .ps-local-store-container {
                                        div:first-child {
                                            .ps-seller {
                                                width: 23%;
                                                .ps-distance-stock {
                                                    strong {
                                                        @media @md-down {
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                            }
                                            .ps-address {
                                                div {
                                                    div {
                                                        font-family: @brandonregular;
                                                        color: @color-shuttle-gray;
                                                    }
                                                    span {
                                                        a {
                                                            font-family: @brandonregular;
                                                            color: @color-shuttle-gray;
                                                        }
                                                    }
                                                }
                                                .ps-hours {
                                                    span {
                                                        big {
                                                            @media @md-down {
                                                                font-family: @brandonregular;
                                                                font-size: 14px;
                                                                color: @ensure-blue;
                                                            }
                                                        }
                                                        span {
                                                            @media @md-down {
                                                                font-family: @brandonregular;
                                                                font-size: 14px;
                                                                color: @ensure-blue;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .ps-distance {
                                                .ps-distance-stock {
                                                    strong {
                                                        font-family: @brandonregular;
                                                        color: @ensure-blue;
                                                        font-weight: normal;
                                                    }
                                                }
                                            }
                                        }
                                        div:last-child {
                                            .ps-link {
                                                .ps-get-directions-holder {
                                                    .ps-get-directions-button {
                                                        span {
                                                            font-family: @brandonregular;
                                                            color: @ensure-blue;
                                                            font-size: 14px;
                                                        }
                                                    }
                                                }
                                            }
                                            .ps-hours {
                                                span {
                                                    big {
                                                        font-family: @brandonregular;
                                                        color: @color-shuttle-gray;
                                                    }
                                                    span {
                                                        font-family: @brandonregular;
                                                        color: @ensure-blue;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .ps-ribbon {
                        .ps-online-heading {
                            font-family: @brandonregular;
                            color: @ensure-blue;
                        }
                        .ps-local-heading {
                            font-family: @brandonregular;
                            color: @ensure-blue;
                        }
                    }
                    .ps-local-tab-label {
                        @media @lg-down {
                            display: none;
                        }
                        .ps-local-heading {
                            @media @md-down {
                                display: block;
                                font-family: @brandonbold;
                                font-size: 24px;
                            }
                        }
                    }
                    .ps-online-tab-label {
                        @media @lg-down {
                            display: none;
                        }
                    }
                    .ps-online-tab-label.selected {
                        @media @md-down {
                            display: block;
                        }
                        .ps-online-heading {
                            @media @md-down {
                                display: block;
                                font-family: @brandonbold;
                                font-size: 24px;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .ps-location {
                        .ps-map-location-textbox {
                            font-family: @brandonregular;
                            font-size: 14px;
                            line-height: 20px;
                            color: @color-shuttle-gray;
                        }
                    }
                    .ps-online-tab {
                        .ps-online-sellers {
                            .ps-online-seller-select {
                                .ps-online-seller-details-wrapper {
                                    div:first-child {
                                        @media @md-down {
                                            padding: 0;
                                            justify-content: flex-start;
                                        }
                                    }
                                    div {
                                        img {
                                            max-width: 100px;
                                            max-height: 30px;
                                        }
                                    }
                                    div:last-child {
                                        @media @md-down {
                                            width: 33%;
                                            padding: 0;
                                        }
                                    }
                                    .ps-online-buy-button {
                                        width: 113px;
                                        height: 32px;
                                        border-radius: 4px;
                                        padding: 8px 24px;
                                        background-color: @ensure-blue;
                                        border-color: @ensure-blue;
                                        color: @color-white;
                                        position: relative;
                                        span {
                                            font-family: @brandonbold;
                                            font-size: 13px;
                                            line-height: 16px;
                                            letter-spacing: 0.813px;
                                            position: absolute;
                                            top: 20%;
                                            left: 20%;
                                        }
                                        small {
                                            @media @md-down {
                                                position: absolute;
                                                top: 6px;
                                                left: 20%;
                                                font-family: @brandonbold;
                                                font-size: 13px;
                                                letter-spacing: 0.813px;
                                            }
                                        }
                                    }
                                    .ps-online-seller-details {
                                        .ps-stock-status {
                                            font-family: @brandonregular;
                                            font-size: 14px;
                                            line-height: 44px;
                                            color: @color-charcoal;
                                        }
                                    }
                                }
                                .ps-last-online-seller-details-wrapper {
                                    div:first-child {
                                        @media @md-down {
                                            padding: 0;
                                            justify-content: flex-start;
                                        }
                                    }
                                    div {
                                        img {
                                            max-width: 100px;
                                            max-height: 30px;
                                        }
                                    }
                                    div:last-child {
                                        @media @md-down {
                                            width: 33%;
                                            padding: 0;
                                        }
                                    }
                                    .ps-online-buy-button {
                                        width: 113px;
                                        height: 32px;
                                        border-radius: 4px;
                                        padding: 8px 24px;
                                        background-color: @ensure-blue;
                                        border-color: @ensure-blue;
                                        color: @color-white;
                                        position: relative;
                                        span {
                                            font-family: @brandonbold;
                                            font-size: 13px;
                                            line-height: 16px;
                                            letter-spacing: 0.813px;
                                            position: absolute;
                                            top: 20%;
                                            left: 20%;
                                        }
                                        small {
                                            @media @md-down {
                                                position: absolute;
                                                top: 6px;
                                                left: 20%;
                                                font-family: @brandonbold;
                                                font-size: 13px;
                                                letter-spacing: 0.813px;
                                            }
                                        }
                                    }
                                    .ps-online-seller-details {
                                        .ps-stock-status {
                                            font-family: @brandonregular;
                                            font-size: 18px;
                                            line-height: 24px;
                                            color: @color-charcoal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .ps-ribbon {
                    .ps-ribbon-header {
                        .ps-online-tab-label {
                            @media @md-down {
                                height: 52px;
                                background-color: @color-aqua;
                            }
                            .ps-online-heading {
                                @media @xl-only {
                                    font-family: @brandonblack;
                                    color: @ensure-blue;
                                    font-size: 22px;
                                    line-height: 24px;
                                    margin-top: 10px;
                                }
                                &:hover {
                                    @media @xl-only {
                                        color: @color-white;
                                    }
                                }
                            }
                            .online-tab-input-label {
                                @media @xl-only {
                                    font-family: @brandonblack;
                                    color: @ensure-blue;
                                    font-size: 22px;
                                    line-height: 24px;
                                }
                                @media @lg-down {
                                    font-family: @brandonblack;
                                    color: @ensure-blue;
                                    font-size: 22px;
                                    line-height: 24px;
                                }
                            }
                        }
                        .ps-online-tab-label.selected {
                            @media @md-down {
                                background: @ensure-blue;
                            }
                            .ps-online-heading {
                                @media @xl-only {
                                    color: @color-white;
                                }
                            }
                            .online-tab-input-label {
                                @media @xl-only {
                                    color: @ensure-blue;
                                }
                                @media @lg-down {
                                    color: @color-white;
                                }
                            }
                        }
                        .ps-local-tab-label {
                            @media @xl-only {
                                margin-left: 0;
                            }
                            @media @lg-down {
                                margin-left: 0;
                            }
                            @media @md-down {
                                height: 52px;
                                background-color: @color-aqua;
                            }
                            .ps-local-heading {
                                @media @xl-only {
                                    font-family: @brandonblack;
                                    color: @ensure-blue;
                                    font-size: 22px;
                                    line-height: 24px;
                                    margin-top: 10px;
                                }
                                &:hover {
                                    @media @xl-only {
                                        color: @color-white;
                                    }
                                }
                            }
                            .local-tab-input-label {
                                @media @xl-only {
                                    font-family: @brandonblack;
                                    color: @ensure-blue;
                                    font-size: 22px;
                                    line-height: 24px;
                                }
                                @media @lg-down {
                                    font-family: @brandonblack;
                                    color: @ensure-blue;
                                    font-size: 22px;
                                    line-height: 24px;
                                }
                            }
                        }
                        .ps-local-tab-label.selected {
                            @media @md-down {
                                background: @ensure-blue;
                            }
                            .ps-local-heading {
                                @media @xl-only {
                                    color: @color-white;
                                }
                            }
                            .local-tab-input-label {
                                @media @lg-down {
                                    color: @color-white;
                                }
                            }
                        }
                    }
                }
                .ps-mobile-center {
                    @media @md-down {
                        border-bottom: 3px solid @ensure-blue;
                    }
                }
                .ps-footer {
                    padding-top: 40px;
                    span {
                        a.ps-accessibility {
                            width: 124px;
                            height: 30px;
                        }
                    }
                    span.ps-copyright {
                        margin-left: 16px;
                        font-family: @brandonregular;
                        color: @color-shuttle-gray;
                        font-size: 12px;
                        line-height: 14px;
                        @media @md-down {
                            width: 100%;
                            margin-left: 0;
                        }
                        a {
                            font-family: @brandonregular;
                            color: @color-shuttle-gray;
                            font-size: 12px;
                            line-height: 18px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}