
.formcontainer {
    .o-wizard__container {
        overflow: inherit;    
        .a-wizard {
            .a-wizard__steps {
                width: 400px;
                margin: 0 auto;
                @media @lg-only {
                    width: 330px;
                }
                @media @md-down {
                    width: 300px;
                }                
                .a-wizard__step--incomplete, .a-wizard-step--active {
                    .a-wizard__steps--icon {
                        @media @md-down {
                            width: 32px;
                            height: 32px;
                        }
                        &::before {
                            .font-size(26px, 30px);
                            font-family: @brandonblack;
                            height: auto;
                            @media @md-down {
                                .font-size(18px, 22px);
                            }
                        }
                    }
                    .a-wizard__label {
                        color: @color-shuttle-gray;
                        .font-size(14px, 20px);
                    }
                } 
                .a-wizard-step--active {
                    .a-wizard__steps--icon {
                        border-color: @info-blue;
                        &::before {
                            color: @ensure-blue;
                            content: counter(wizard-step);
                            counter-increment: wizard-step;
                        }
                    }
                    .a-wizard__label {
                        color: @ensure-blue;
                        .font-size(14px, 20px);
                    }
                }
                .a-wizard-step--inactive {
                    .a-wizard__steps--icon {
                        @media @md-down {
                            width: 32px;
                            height: 32px;
                        }
                        &::before {
                            color: @info-blue;
                            @media @md-down {
                                font-size: 10px;
                                background-color: transparent;
                            }
                        }
                    }
                    .a-wizard__label {
                        color: @ensure-blue;
                        .font-size(14px, 20px);
                    }
                }               
                li::after {
                    width: 70%;
                    left: -35%;
                    @media @md-down {
                        top: 16px;
                    }
                }
                .a-wizard__step--complete {
                    &::after {
                        background-color: @info-blue;
                    }
                }
            }
        }
        .o-form-container__element {
            .a-input-field {
                .a-input-label {
                    font-family: @brandonregular;
                }
                .a-input-grp {
                    input.a-input-control {
                        color: @color-shuttle-gray;
                    }
                }
                .tooltips {
                    .abt-icon {
                        font-size: 16px;
                        color: @color-shuttle-gray;
                    }
                }
                .a-dropdown__field::after {
                    color: @color-shuttle-gray;
                }
                &:has(#street_number) {
                    .form-label__align {
                        position: relative;
                    }
                }
            }
        }
        .o-wizard__btn {
            display: block;
            width: 100%;
            .button-div {
                width: 100%;
                .button .btn {
                    width: 100%;
                    font-size: 20px;
                    font-family: @brandonbold;
                    margin-bottom: 25px;
                    background-color: @ensure-blue;
                    &:disabled {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .o-form-container {
        .fields, .options {
            .form-group {
                .a-input-label {
                    .a-input-field__label {
                        font-family: @brandonregular;
                    }
                }
                &.validation-require, &.validation-regex, &.validation-error {
                    .form-label {
                        color: @color-danger;
                    }
                    .input-group {
                        .a-input-control {
                            border-color: @color-danger;
                        }
                    }
                    .a-dropdown__field {
                        border-color: @color-danger;
                    }
                    .a-input-field--text-require {
                        color: @color-danger;
                    }
                    .a-input-field--text-regex {
                        color: @color-danger;
                    }
                    .a-input-field--text-error {
                        color: @color-danger;
                    }
                }
            }
        }
    }
    .o-form-container__buttons {
        .button .btn {
            font-size: 20px;
            font-family: @brandonbold;
            background-color: @ensure-blue;
            &:disabled {
                opacity: 1;
            }
        }
    }
    .a-input-field.validation-require:not(.form-group) {
        .a-input-field--text-require {
            display: block;
            color: @color-danger;
            .font-size(12px, 16px);
            position: relative;
            top: -12px;
        }
    }
}

.options {
    .checkbox {
        .a-checkbox__text {
            .font-size(18px, 24px);
            color: @ensure-blue;
            font-family: @brandonregular;
        }
        .a-checkbox__custom {
            border: 1px solid @ensure-blue;
            top: 2px;
        }
        input:checked ~ .a-checkbox__custom {
            background-color: @ensure-blue;
            box-shadow: none;
        }
        &.validation-require {
            .checkbox--text-require {
                color: @color-danger;
            }
        }
    }
    .a-dropdown__container {
        .a-dropdown__field {
            span.a-dropdown-selected {
                color: @color-shuttle-gray;
            }
            .a-dropdown__menu {
                li {
                    border-bottom: 0;
                    margin-bottom: 0;
                    span {
                        padding: 14px 16px;
                        .font-size(16px, 24px);
                        color: @color-charcoal;
                    }
                    &.selectedColor {
                        background-color: @ensure-blue;
                        span {
                            color: @color-white;
                            font-family: @brandonbold;
                        }
                    }
                }
            }
        }
        .a-dropdown__title {
            .a-dropdown__title-text {
                font-family: @brandonregular;
            }
        }
    }
}
ul.ui-autocomplete { 
    max-width: 540px; 
    background-color: #ffffff!important; 
    border: 1px solid #000000;  
    list-style: none;
    padding-left: 0;
    z-index: 100;
    @media @xl-only {
        max-width: 450px;
    }
    @media @lg-only {
        max-width: 330px;
    }
    @media @md-down {
        max-width: ~'calc(100% - 30px)';
    }
    li { 
        cursor: pointer; 
        list-style: none;
        padding: 5px 10px;
        margin: 0;
    }
}
.ui-helper-hidden-accessible {
    display: none;
}
#pim-form {
    .btn[type="submit"] {
        display: none;
    }
}