body {    
    .o-products-compare {
        background-color: transparent;
        padding: 0 !important;
        @media @xl-down {
           overflow-x: auto;
        }
        .o-products-compare__container {
            @media @xl-down {
                width: 1100px;
                max-width: none !important;
            }
            @media @lg-down {
                width: 1010px;
            }
            @media @md-down {
                width: 560px;
            }
            .o-products-compare__table-link {
                margin: 0;
                height: 0;
            }
        }
        .o-products-compare__wrapper {
            margin-left: 195px;
            @media @xl-down {
                padding-bottom: 0;
            }
            @media @md-down {
                margin-left: 0;
                overflow-x: auto;
                width: 100%;                
            }
        }
        .o-products-compare__table {
            max-width: 100%;
            margin: 0;
            width: auto;
            @media @xl-up {
                max-width: 840px;
            }
            @media @md-down {
                max-width: 100%;
            }
            thead {
                tr {
                    .productsCompare-badge-top-end {
                        text-align: center;
                        .a-link__text {
                            text-decoration: underline;
                            padding-top: 10px;
                            .font-size(14px, 20px);
                        }
                    }
                }
            }
            tr:first-child {
                th {
                    background-color: transparent;
                    padding: 5px 11px 15px;
                    min-width: 210px;
                    @media @md-down {
                        min-width: 140px;
                        padding: 5px 4px 15px;
                    }
                    .o-products-compare__title {
                        font-family: @brandonblack;
                        .font-size(18px, 22px);
                        text-align: center;
                        color: @ensure-blue;
                        padding-top: 10px;
                    }
                }
            }            
            tr {
                th {
                    border: none;
                    img {
                        max-height: 350px;
                        max-width: 100%;
                    }
                }
                th.o-products-compare__fixed-side {
                    box-shadow: none;
                    text-align: right;
                    padding: 0 24px 0 5px;
                    width: 195px;
                    min-height: 56px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    min-width: 195px;
                    @media @md-down {
                        min-height: 30px;
                        background-color: transparent !important;
                        width: auto;
                        justify-content: start;
                        height: auto !important;
                        padding: 0 4px;
                        z-index: 9;
                    }
                    span {
                        .font-size(24px, 28px);
                        color: @info-blue;
                        font-family: @brandonblack;
                        @media @lg-down {
                            .font-size(18px, 22px);
                        }
                    }
                }
                td {
                    border: 8px solid @color-white !important;
                    padding: 10px;
                    min-width: 195px;
                    max-width: 210px;
                    width: 210px;
                    vertical-align: middle;
                    @media @md-down {
                        border: 4px solid @color-white !important;
                        border-top: 30px solid @color-white !important;
                        border-bottom: 10px solid @color-white !important;
                        max-width: 140px;
                        min-width: 140px;
                        width: 140px;
                    }
                    p {
                        margin: 0;
                        text-align: center;
                        color: @ensure-blue;
                        .font-size(18px, 24px);
                        @media @md-down {
                            .font-size(14px, 20px);
                        }
                    }
                    a.bv_main_container {
                        @media @md-down {
                            flex-wrap: wrap !important;
                            justify-content: center;
                        }
                        .bv_text {
                            font-size: 14px !important;
                            line-height: 20px !important;
                            color: @ensure-blue !important;
                            font-family: @brandonregular !important;
                        }
                    }
                    .link {
                        .a-link__text {
                            text-decoration: underline;
                        }
                    }
                }
            }
            tbody {
                tr {
                    @media @md-down {
                        position: relative;
                    }
                }
                tr:nth-child(even) {
                    td {                        
                        background-color: @ensure-grey;
                    }
                }
                tr:nth-child(odd) {
                    td {
                        background-color: @color-alert-info;
                    }                    
                }
                tr:has(.bv_main_container) {
                    th {                        
                        @media @md-down {
                            visibility: hidden;
                        }
                    }
                    td {
                        background-color: transparent;
                        position: relative;
                    }
                }
                tr:has(.pc-row-divider) {
                    th {
                        @media @md-down {
                            top: 4px;
                        }
                    }
                }
            }
            tfoot {
                td {
                    border: 0 !important;
                    min-height: 0;
                    padding: 0;
                    @media @md-down {
                        border: 0 !important;
                    }
                    .link {
                        display: none;
                    }
                }
            }
        }
    }
    #nutrition-left {
        .o-products-compare {
            .o-products-compare__container {
                @media @xl-down {
                    width: 680px;
                }
                @media @lg-down {
                    width: 680px;
                }
                @media @md-down {
                    width: 500px;
                }
            }
            .o-products-compare__wrapper {
                margin-left: 165px;
                @media @xl-down {
                    padding-bottom: 15px;
                }
                @media @md-down {
                    margin-left: 0;
                }
            }
            .o-products-compare__table {
                thead {
                    tr:first-child {
                        th {
                            padding: 5px 8px 40px;
                            min-width: 165px;
                            position: relative;
                            @media @md-down {
                                padding: 5px 8px 28px;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                height: 1px;
                                width: 100%;
                                bottom: 16px;
                                left: 0;
                                border-top: 1px solid @color-bg-gray;
                                @media @md-down {
                                    bottom: 4px;
                                }
                            }
                        }
                        th:first-child {
                            position: absolute;
                            &:after {
                                content: none;
                            }
                        }
                    } 
                }          
                tr {
                    th {
                        border: none;
                        img {
                            max-height: 350px;
                            max-width: 100%;
                        }
                    }
                    th.o-products-compare__fixed-side {
                        padding: 0 16px;
                        width: 165px;
                        min-width: 165px;
                        @media @md-down {
                            width: auto;
                        }
                        span {
                            .font-size(18px, 22px);
                        }
                    }
                    td {
                        min-width: 160px;
                        max-width: 165px;
                        width: 165px;
                        @media @md-down {
                            max-width: 140px;
                            min-width: 140px;
                            width: 140px;
                        }
                    }
                }
                tfoot {
                    tr {
                        th {
                            min-height: 0;
                        }
                        td {
                            border: 0;
                            min-height: 0;
                            padding: 10px 5px;
                            @media @md-down {
                                border: 0 !important;
                            }
                            .link {
                                display: block;
                            }
                            .btn {
                                padding: 10px 28px;
                            }
                        }
                        &:first-child {
                            td {
                                padding: 0;
                                .link {
                                    display: none;
                                }
                            }
                        }
                    }                    
                }
            }
        }
    }
    .o-products-compare::-webkit-scrollbar {
        width: 4px;
        height: 10px;
    } 
    .o-products-compare::-webkit-scrollbar-track {
        border: 1px solid @border-gray;
        border-radius: 4px;
    } 
    .o-products-compare::-webkit-scrollbar-thumb {
      background-color: @border-gray;
      border-radius: 4px;
    }
}
 #two-column-product {
    .o-products-compare__table {
        @media @xl-up {
            max-width: 420px !important;
        }
    }
}
body .columncontrol #nutrition-left .o-products-compare .o-products-compare__table tfoot {
    tr {
        td.cq-Editable-dom .link {
            display: none;
        }
    }    
} 
body .cq-Editable-dom .columncontrol #nutrition-left .o-products-compare .o-products-compare__table tfoot {
    tr:first-child {
        td .link {
            display: block;
        }
    }
}