    .title.a-titlecolor--darkblue{
        .cmp-title {
            h1, h2, h3, h4, h5, h6 {
                        color: @abbott-tealish-blue;
                }
        }
    }
    .text.o-color--blue-06305E{
        .cmp-text{
            p, ul li, ol li{
                color: @abbott-tealish-blue;
            }
        }
    }
    .recetas-section{
        .columncontrol{
            @media @md-down{
                margin-bottom: 0 !important;
            }
            .container {
                padding: 0;
                .columncontrol__column{
                    >.title{
                        margin-top: 0 !important;
                    }
                
                    .text{
                        &:last-child{
                            @media @lg-down{
                                margin-bottom: 0 !important;
                            }
                        }
                }
                ul{
                        li{
                            padding-bottom: 10px;
                            list-style: none;
                        }
                }
                    
                }          
            }
        }
        .title, .text{
                margin-bottom: 15px !important;
                margin-top: 15px !important;
        }  
        .title{
            @media @md-down{
                margin-top: 0 !important;
            }
        }
    }
    .column-reverse{
        .columncontrol__column{
            &:first-child{
                @media @md-down{
                    order: 2;
                }
            }
            &:last-child{
                @media @md-down{
                    order: 1;
                }
            }
        }
    }
    .avenir-font{
        padding-bottom: 18px;
        h1{
            font-family: @font-avenir-next-bold;
            font-weight: 100;
        }
    }

    .glucerna-learning{
        .columncontrol__column{
            .title{
                margin-bottom: 30px !important;
                .cmp-title__text{              
                    .cmp-title__link{
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 100;
                        @media @md-down{
                            font-size: 21px;
                            line-height: 28px;
                        }
                    }
                }
            }
            .title.a-title--base{
                margin-bottom: 15px !important;
            }        
            .text{
                .cmp-text{
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        color: #5e5e5e;
                    }
                }
            }        
            ul, ol{
                li{
                    font-size: 16px;
                    line-height: 20px;
                    color: #5e5e5e;
                    word-break: break-word 
                }
            }
            .m-table-component{
                table{                
                    tr{
                        padding: 5px;
                        td{
                            p{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            @media @lg-only{
                flex: 0 0 100%;
                max-width: 100%;            
            }
            &:last-child{
                @media @lg-only{
                    display: flex;
                    flex-direction: row;
                    gap: 25px;               
                    .image{
                        width: 312px;
                        height: 100%;
                        margin-top: 0 !important;   
                    }
                }
            }
        }
        .detaillink{
            .row{
                @media @md-up{                
                    justify-content: space-between;
                }
            }
            .columncontrol__column{
                &:first-child{
                    @media @lg-up{
                        flex: 0 0 63%;
                        max-width: 63%;
                    }
                    @media @lg-only{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                .text{
                    .cmp-text{
                        p{
                            font-size: 16px;
                            line-height: 24px;
                            color: @abbott-tealish-blue;
                        }
                    }
                }
                .m-table-component{
                    table{                
                        tr{                       
                            td{
                                border: 1px solid #666;
                                p{                               
                                    color: @abbott-tealish-blue ;
                                    font-family: @font-nexa-w01-book;
                                }
                                ul{
                                    li{
                                        color: @abbott-tealish-blue;
                                        font-size: 14.7px;
                                        line-height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }    
    }
    .detailpagelinks{
        .title{
            margin-bottom: 30px !important;
            .cmp-title {
                .cmp-title__text{
                    font-size: 32px;
                    line-height: 32px;
                    font-weight: 700;
                    @media @md-down{
                        font-size: 21px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
    .onebanner-img{
        img{
            width: 312px;
            @media @md-down{
                width: 100%;
            }
        }
    }

    .container{
        &:has(.sub-product){
            @media @lg-down{
                display: none;
            }
        }
    }

    //product section
    .product__section {
        .pc-content-wrap{
            h1{
                font-size: 48px;
                color: @abbott-tealish-blue;
                line-height: 48px;
                margin-bottom: 11px;
                font-family: @font-nexa-slab-w01-black;
                @media @lg-only{
                    font-size: 30px;
                    line-height: 33px;
                }
                @media @md-down{
                    font-size: 24px;
                    line-height: 30px;
                }
            }       
            .productcategorysummary{
                p{
                    font-family: @font-nexa-w01-bold;
                    font-size: 20px;
                    line-height: 30px;
                    color: #1e376d;
                    @media @md-down{
                        font-size: 17.5px;
                        line-height: 23px;
                    }
                }
                ul{
                    margin-top: 20px;
                    li{
                        margin-left: 20px;
                        font-family: @font-nexa-w01-black;
                        font-size: 18px;
                        line-height: 28px;
                        color: #1e376d;
                        padding-bottom: 13px;
                        @media @lg-only{
                            font-size: 16px;
                            line-height: 19px;
                        }
                        @media @md-down{
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
                .footnote{
                    color: #7d7d7d;
                    font-family: @font-nexa-w01-book;
                    font-size: 10px;
                    line-height: 14px;
                    margin-bottom: 0;
                }
            }
        }
        .pc-flavour-title{
            p{
                font-family: @font-nexa-w01-bold;
                font-size: 12.5px;
                line-height: 20px;
                color: #203972;
                margin-bottom: 0;
            }
        }
        .pc-three-layout{
            .columncontrol__column{
                &:first-child{
                    @media @lg-down{
                        display: none;
                    }
                }
            }
        }
        .pc-two-layout{
            .columncontrol__column{
                &:first-child, :nth-child(2){
                    @media @lg-down{
                        display: none;
                    }
                }
            }
        }
        .pc-middle-layout{
            .columncontrol__column{
                &:first-child, :last-child{
                    @media @lg-down{
                        display: none;
                    }
                }
            }
        }
    }

    .product-flavour-section{
        @media @md-up{
            width: 50%;
        }
    }

    .pc-flavour-section, .product-flavour-section{
        p{
            font-family: @font-avenir-next-bold;
            font-size: 12.25px;
            color: #203972;
            margin-bottom: 0;
        }
        .columncontrol__column{
            .image{
                img{
                    width: 100px;
                    height: 100px;
                }
                .cmp-image__title{
                    font-family: @font-nexa-w01-black;
                    font-size: 10.5px;
                    color: #203972;
                    line-height: 1;                
                    margin-top: 2px;
                    display: inline-block;                
                }
            }
            @media @md-down{
                flex: 0 0 50%;
                max-width: 50%;
                &:first-child{
                    order: unset;
                }
                &:last-child{
                    order: unset;
                }
            }
            p{
                @media @md-down{
                    padding-right: 30px;
                }
            }
        }
    }

    .information-table{
        margin-top: 40px;
        @media @md-down{
            margin-top: 15px;
        }
        .row{
            justify-content: space-between;
        }
        .columncontrol__column{
            .text, .title, .m-table-component{
                margin: 0 !important;
            }
            .title{
                .cmp-title{
                    h2{
                        font-family: @font-nexa-slab-w01-black;
                        color: #122c65;
                        font-size: 26px;
                        line-height: 30px;                    
                    }
                    h3{
                        background-color: #fbdd20;
                        font-family: @font-nexa-slab-w01-black;
                        color: #122c65;
                        font-size: 20px;
                        float: left;
                        width: 100%;
                        padding: 12px 13px;
                    }
                }
            }
            .text{
                .cmp-text{
                    p{
                        font-size: 14px;
                        line-height: 20px;
                        font-family: @font-nexa-w01-bold;
                    }
                }
            }
            .m-table-component{           
                table{
                    margin-bottom: 0;
                    tbody{
                        tr{
                            td{
                                padding: 5px;
                                &:nth-child(even){
                                    width: 35%;
                                }
                                &:nth-child(odd){
                                    width: 65%;
                                }
                                p{
                                    margin-bottom: 0;
                                    color: @abbott-tealish-blue;
                                    font-family: @font-nexa-w01-bold;
                                }
                            }
                            &:nth-child(even){
                                background-color: #d3effd;
                            }
                        }
                    }
                }
            }
            .pc-bluebg{
                p{
                    background-color: #00a3e2;
                    color: @white;
                    font-family: @font-nexa-w01-bold;
                    margin-bottom: 0;
                    padding: 5px;
                }
            }
            .pc-blue-border{
                border-top: 5px solid #00A3E2;
            }
            .ingredient-content{
                border-bottom: 5px solid #00A3E2;
                p{
                    font-family: @font-nexa-w01-bold;
                    font-size: 14px;
                    line-height: 20px;
                    background-color: #d3effd;
                    color: #122c65;
                    padding: 10px 13px 16px 13px;
                    display: inline-block;
                    margin-bottom: 0;
                }
            }
            &:first-child{
                @media @md-up{
                    flex: 0 0 55%;
                    max-width: 55%;
                }
            }
        }
    }

    // nutrition-section
    .nutrition-section{
        .cmp-container{
            .title, .text, .image, .m-table-component, .columncontrol{
                margin: 10px 0 !important;
            }
            .m-table-component{
                table{
                    margin-bottom: 0;
                    tbody{
                        tr{
                            td{
                                padding: 5px !important;
                                border: 1px solid @black;
                                word-break: auto-phrase;
                                p {
                                    margin-bottom: 0;
                                    color: #122C65;
                                    font-size: 15.6px;
                                    line-height: 20px;
                                    font-family: @font-nexa-w01-book;
                                }
                            }
                        }
                    }
                }
            }
            &:last-child{
                .text{
                    margin: 0 !important;
                    p{
                        margin-bottom: 0;
                    }
                }
            }

        }
    }
    #nutrition-plan{
        width: 70%;
        .columncontrol__column{
            .image{
                min-height:64px;
                img{
                    width: 68px;
                }
            }
            .text{
                .cmp-text{
                    p{
                        font-size: 15.4px;
                        line-height: 20px;
                        font-family: @font-nexa-w01-black;
                    }
                }
            }
            &:first-child{
                img{
                    @media @md-up{
                        display: none;
                    }
                }
            }
        }
    }

    .sub-product{
        padding-top: 15px;
        .cmp-container{
            padding: 5px 0;
            .text{
                .cmp-text{
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }   
    }

    .contactus-section{
        .cmp-container{
            .title{
                .cmp-title{
                    h2{
                        font-size: 32px;
                        margin-bottom: 15px;
                        line-height: 32px;
                        @media @md-down{
                            font-size: 21px;
                            line-height: 21px;
                        }

                    }
                }
            }
            .text{
                .cmp-text{
                    ol{
                        @media @md-down{
                            padding-left: 20px;
                        }
                        li{
                            font-size: 14.7px;
                            line-height: 24px;
                        }
                    }
                    p{
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 10px;
                    }
                }
            }

        }
    }

    .nutrition-tips{
        .cmp-container{
            .title{
                h2{
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 100;
                    @media @md-down{
                        font-size: 16px;
                    }
                }
            }
            .text{
                .cmp-text{
                    p{
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .sitemap{
        .cmp-navigation{
            .cmp-navigation__group{
                @media @md-down{
                    padding-left: 0;
                }
                .cmp-navigation__item{
                    padding-bottom: 22px;
                    list-style: none;
                    .cmp-navigation__item-link{
                        font-family: @font-nexa-w01-black;
                        font-size: 12.25px; 
                        color: @abbott-tealish-blue;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .cmp-navigation__group{
                        padding-left: 0;
                        .cmp-navigation__item{
                            padding-bottom: 0;
                            .cmp-navigation__item-link{
                                font-family: @font-nexa-w01-book;
                            }
                        }
                    }
                }
            }
        }
    }
    .inmune-section{
        .cmp-container{
            .title{
                .cmp-title__text{
                    font-family: @font-nexa-w01-black;
                    margin-bottom: 20px;
                }
            }
            .columncontrol{
                .container{
                    padding: 0;
                    .columncontrol__column{
                        .text{
                            .cmp-text{
                                ul{
                                    li{
                                        margin-bottom: 16px;
                                        font-size: 14.7px;
                                        font-family: @font-nexa-w01-book;
                                        @media @lg-up{
                                            min-height: 160px;
                                        }
                                    }
                                }
                            }                        
                        }
                        &:first-child{
                            .text{
                                &:last-child{
                                    padding-left: 30px;

                                }
                            }
                        }
                        &:last-child{
                            .text{
                                @media @md-down{
                                    &:last-child{
                                        padding-left: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // atulado form
    .atulado-bg-section{
        .cmp-container{
            @media @md-down{
                padding: 15px;
            }
            .text{
                padding: 10px 0;
                .cmp-text{
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .atulado-form {
        width: 50%;
        margin-left: 25%;
        @media @lg-only{
            width: 70%;
            margin-left: 15%;
        }
        @media @md-down{
            width: 90%;
            margin-left: 5%;
        }
        .cmp-container{
            .text{
                margin-bottom: 0 !important;
                h2{
                    font-family: @font-nexa-w01-bold; 
                    color: #1cbfe6;               
                }
                p{
                    color: #707173;
                }
            }
            .formcontainer{
                .form-container{
                    .columncontrol__column{
                        @media @md-down{
                            margin-bottom: 0 !important;
                        }
                    }
                    .form-group{
                        .form-control{
                            background-color: #f7f8f9;
                            border-radius: 25px;
                            border: none;
                        }
                    }
                    .options{
                        .a-radio__text{
                            color: #707173;
                        }
                        .checkbox {
                            .a-checkbox__text{
                                color: #707173;
                            }
                        }
                    }
                }
            }
        }
    }
    //hero banner
    .m-hero--short {
        .atulado-banner{
            .m-hero__media {
                @media @lg-only{
                    position: absolute;
                    width: 100%;
                    height: 100% !important;
                    left: 0;
                    top: 0;
                    min-width: 100%;
                    margin: 0;
                }
                @media @md-down{
                    --hero-mobile-short-media-height: 180px;            }
            }
            .m-hero__content{
                display: none;
            }
        }
        &:has(.atulado-banner){
            @media @md-down{
                min-height: 180px;
                padding-bottom: 0;
            }
        }
    }

    .nutrition-plan{
        .columncontrol__column{
            .image{
                text-align: center;
                min-height:64px;
                img{
                    width: 68px;
                }
            }
            .text{
                p{
                    font-size: 15.4px;
                    line-height: 20px;
                    text-align: center;
                    font-family: @font-nexa-w01-black;
                }
                table{
                    tr{
                        td{
                            p{
                                margin-bottom: 0;
                                color: #122c65;
                                font-size: 15.6px;
                                line-height: 20px;
                                font-family: @font-nexa-w01-book;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            &:first-child{
                img{
                    @media @md-down{
                        display: none;
                    }
                }
            }
        }
    }

    // table with border
    .m-table-component{
        .m-table-component__table.with-border{
            tbody{
                tr{
                    td{
                        --table-light-gray: #000;
                    }
                }
            }
        }
    }