.o-featured-pages__item-count--1 .row {
  border-bottom: 1px solid var(--o-featured-pages-color-light-gray);
}
.o-featured-pages__item-count--1 .row .o-featured-pages__card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-img
  .o-featured-pages__card-img-ele {
  width: 55%;
  text-align: center;
  margin: 5px auto;
  float: none;
  max-width: 100%;
}
.o-featured-pages__item-count--1 .row .o-featured-pages__card-body {
  margin-top: 15px;
  margin-bottom: 15px;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading {
  padding-top: 9px;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  h1,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  h2,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  h3,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  h4,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  h5,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  h6,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  span,
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .o-featured-pages__heading
  a {
  color: var(--o-featured-pages-color-primary-color);
  font-size: 18px;
  line-height: 24px;
}
.o-featured-pages__item-count--1 .row .o-featured-pages__card-body p {
  color: var(--o-featured-pages-charcol-color);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 28px;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .new-btn-parent {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .new-btn-parent
  .find-out-more-button {
  max-height: 75px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: var(--o-featured-pages-white-color) !important;
  background: var(--o-featured-pages-primay-blue-color) !important;
  min-width: auto;
  min-height: 35px;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  line-height: 18px;
  padding: 10px 20px 5px 20px;
  white-space: normal;
  text-align: center;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .new-btn-parent
  .find-out-more-button:hover {
  background: var(--o-featured-pages-color-light-gray) !important;
  color: var(--o-featured-pages-primay-blue-color) !important;
}
.o-featured-pages__item-count--1
  .row
  .o-featured-pages__card-body
  .new-btn-parent
  .find-out-more-button:after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  text-decoration: none;
}
.o-featured-pages__item .o-featured-pages__card {
  text-align: center;
  margin-bottom: 15px;
}
.o-featured-pages__item .o-featured-pages__card:hover {
  border: 1px solid var(--o-featured-pages-border-color);
  background: var(--o-featured-pages-grey-color);
}
.o-featured-pages__item .o-featured-pages__card:hover h1,
.o-featured-pages__item .o-featured-pages__card:hover h2,
.o-featured-pages__item .o-featured-pages__card:hover h3,
.o-featured-pages__item .o-featured-pages__card:hover h4,
.o-featured-pages__item .o-featured-pages__card:hover h5,
.o-featured-pages__item .o-featured-pages__card:hover h6,
.o-featured-pages__item .o-featured-pages__card:hover span,
.o-featured-pages__item .o-featured-pages__card:hover a {
  text-decoration: none;
  color: var(--o-featured-pages-primay-blue-color) !important;
}
.o-featured-pages__item .o-featured-pages__card:hover p {
  text-decoration: none;
  color: var(--o-featured-pages-primay-blue-color) !important;
}
.o-featured-pages__item .o-featured-pages__card .o-featured-pages__card-img {
  background-color: var(--o-featured-pages-white-color);
  display: block;
  overflow: hidden;
}
.o-featured-pages__item
  .o-featured-pages__card
  .o-featured-pages__card-img
  img {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  max-height: 200px;
}
.o-featured-pages__item .o-featured-pages__card .o-featured-pages__card-body {
  padding: 15px 15px 0 15px;
  text-align: left;
}
.o-featured-pages__item
  .o-featured-pages__card
  .o-featured-pages__card-body
  .o-featured-pages__heading {
  color: var(--o-featured-pages-color-primary-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
.o-featured-pages__item .o-featured-pages__card .o-featured-pages__card-body p {
  color: var(--o-featured-pages-color-primary-color);
  font-size: 16px;
  line-height: 20px;
}
.o-featured-pages__item-count--2 .o-featured-pages__card {
  border: 1px solid transparent;
}
@media (max-width: 767.98px) {
  .o-featured-pages__item-count--2 .o-featured-pages__card {
    width: 100%;
  }
}
.o-featured-pages__item-count--3 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.o-featured-pages__item-count--3 .o-featured-pages__card {
  border: 1px solid transparent;
}
@media (max-width: 767.98px) {
  .o-featured-pages__item-count--3 .o-featured-pages__card {
    width: 100%;
  }
}
.o-featured-pages__item-count--3
  .o-featured-pages__card
  .o-featured-pages__card-img {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  max-height: 200px;
}
.o-featured-pages__border .o-featured-pages__card {
  border: 1px solid var(--o-featured-pages-border-color);
}
